Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops

Fix test line I accidentally deleted
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

Delete swaps without using user gas
  x/protorev/keeper/posthandler.go
Owners: @p0mvn

Update TestAnteHandle with new hook-based logic
  x/protorev/keeper/posthandler_test.go
Owners: @p0mvn

Update expected liquidity value for CL pool
  x/protorev/keeper/epoch_hook_test.go
  x/protorev/keeper/keeper_test.go
Owners: @p0mvn

Add changelog entry
  CHANGELOG.md
Owners: none

Delete testcase setup boilerplate
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

Delete more
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

Remove unused messages in TestAnteHandle
  x/protorev/keeper/posthandler_test.go
Owners: @p0mvn

more common logic refactored
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

Remove no longer used functions
  x/protorev/keeper/posthandler.go
Owners: @p0mvn

More deletion
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

Check len on all hooks to avoid unintended behavior
  x/protorev/keeper/hooks.go
Owners: @p0mvn

More deletes
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

lint
  x/protorev/keeper/hooks.go
Owners: @p0mvn

delete silly fee accum comparison
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

Delete test thats no longer doing anything with CacheCtx
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

Better encompass repeated code
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

remove extra indents
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

More deletes
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

combine no position swap tests
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

More scaffolding
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

More deletes
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

matts feedback
  CHANGELOG.md
  x/poolmanager/client/cli/flags.go
  x/poolmanager/client/cli/tx.go
  x/poolmanager/msg_server_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

linter
  x/poolmanager/client/cli/tx.go
Owners: @czarcas7ic, @p0mvn, @mattverse

changelog lint
  CHANGELOG.md
Owners: none

single synth lock per lock ID
  proto/osmosis/lockup/query.proto
  x/lockup/client/cli/query.go
  x/lockup/keeper/grpc_query.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/synthetic_lock.go
  x/lockup/keeper/synthetic_lock_test.go
  x/lockup/types/errors.go
  x/lockup/types/query.pb.go
  x/lockup/types/query.pb.gw.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/types/expected_keepers.go
  x/valset-pref/types/expected_interfaces.go
  x/valset-pref/validator_set.go
Owners: @mattverse, @stackman27, @czarcas7ic

add changelog entry
  CHANGELOG.md
Owners: none

deprecate SyntheticLockupsByLockupID
  CHANGELOG.md
  proto/osmosis/lockup/query.proto
  x/lockup/keeper/grpc_query.go
  x/lockup/types/query.pb.go
  x/lockup/types/query.pb.gw.go
Owners: @mattverse, @stackman27, @czarcas7ic

small nits
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/synthetic_lock_test.go
Owners: @mattverse, @stackman27, @czarcas7ic

mention about no twap integration
  x/cosmwasmpool/README.md
Owners: none

WIP
  tests/localosmosis/scripts/submit_upgrade_proposal.sh
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/model/codec.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/types/cl.go
  x/concentrated-liquidity/types/cl_pool_extensionI.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/gov.go
  x/concentrated-liquidity/types/gov_test.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/keys_test.go
Owners: @osmosis-labs/devops, @czarcas7ic, @p0mvn

Remove SwapAmountInRoute duplicate
  x/poolmanager/client/cli/flags.go
  x/poolmanager/client/cli/tx.go
Owners: @czarcas7ic, @p0mvn, @mattverse

Change json tags to match with proto structs
  x/poolmanager/client/cli/flags.go
  x/poolmanager/client/cli/tx.go
Owners: @czarcas7ic, @p0mvn, @mattverse

Remove unnecessary seperator usage
  x/concentrated-liquidity/types/gov.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/keys_test.go
Owners: @czarcas7ic, @p0mvn

Update Readme
  x/concentrated-liquidity/README.md
Owners: @czarcas7ic, @p0mvn

Remove unnecessary fmt
  x/concentrated-liquidity/model/pool_test.go
Owners: @czarcas7ic, @p0mvn

Fix min amount usage in add to position
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/types/tx.pb.go
Owners: @czarcas7ic, @p0mvn

fix docs typo
  routes.json
  x/poolmanager/client/cli/tx.go
Owners: @czarcas7ic, @p0mvn, @mattverse

cleanup
  routes.json
  x/poolmanager/client/cli/tx.go
Owners: @czarcas7ic, @p0mvn, @mattverse

rename fees files to spread factor
  x/concentrated-liquidity/spread_factor.go
  x/concentrated-liquidity/spread_factor_test.go
Owners: @czarcas7ic, @p0mvn
