Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops

Change tests
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/types/tx.pb.go
Owners: @czarcas7ic, @p0mvn

using ibc-apps repo
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v15/constants.go
  app/upgrades/v15/export_test.go
  app/upgrades/v15/upgrades.go
  go.mod
  go.sum
  tests/cl-genesis-positions/go.mod
Owners: none

Remove superfluous swap_test lines (#5263)
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

More test simplification
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/tick_test.go
Owners: @czarcas7ic, @p0mvn

More elim
  x/concentrated-liquidity/swapstrategy/export_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
Owners: @czarcas7ic, @p0mvn

Keep applying same changes
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
Owners: @czarcas7ic, @p0mvn

Delete more duplicated code
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
Owners: @czarcas7ic, @p0mvn

moar deletes
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
Owners: @czarcas7ic, @p0mvn

Combine tick iterator logic
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
Owners: @czarcas7ic, @p0mvn

More constant folding
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
Owners: @czarcas7ic, @p0mvn

de-dup liquidity state logic
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

more deletes
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

remove more extra lines
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

reduce overhead of validate basic tests
  x/concentrated-liquidity/types/msgs_test.go
Owners: @czarcas7ic, @p0mvn

One more delete
  x/concentrated-liquidity/types/msgs_test.go
Owners: @czarcas7ic, @p0mvn

Remove redundant var defns
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

Delete extra complexity for edge case test
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

remove extra cmd
  x/tokenfactory/client/cli/query.go
Owners: @mattverse, @nicolaslara, @p0mvn

Entirely combine the inside/outside range tests
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

Bring the testcases back into fn
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

Remove extra lines from TestPrepareBalancerPoolAsFullRange
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

remove erroneous comment
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

Move all mul logic into same fn in hook logic afterpoolCreated, add panic catching to function
  x/protorev/keeper/hooks.go
Owners: @p0mvn

Separate getCoins logic into separate function
  x/protorev/keeper/hooks.go
Owners: @p0mvn

fix lint
  x/protorev/keeper/hooks.go
Owners: @p0mvn

return sdk.Coins{} instead of nil
  x/protorev/keeper/hooks.go
Owners: @p0mvn

Delete minimum gas zero tests. (Unclear why its even tested here)
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

[Internal Audit] MsgSplitRouteSwapExactAmountIn & MsgSplitRouteSwapExactAmountOut (#5247)
  CHANGELOG.md
  x/poolmanager/client/cli/flags.go
  x/poolmanager/client/cli/tx.go
  x/poolmanager/msg_server_test.go
  x/poolmanager/router.go
  x/poolmanager/types/routes.go
Owners: @czarcas7ic, @p0mvn, @mattverse

Auto add changelog and backport labels to dependabot (#5250)
  .github/dependabot.yml
Owners: @osmosis-labs/devops

Update go version in state-check ci
  .github/workflows/check-state-compatibility.yml
Owners: @osmosis-labs/devops

Update go version in state-check ci (#5275)
  .github/workflows/check-state-compatibility.yml
Owners: @osmosis-labs/devops

feat: multiple fee tokens gov prop (#5261)
  CHANGELOG.md
  proto/osmosis/txfees/v1beta1/gov.proto
  x/txfees/client/cli/query_test.go
  x/txfees/client/cli/tx.go
  x/txfees/keeper/gov.go
  x/txfees/keeper/keeper_test.go
  x/txfees/types/gov.go
  x/txfees/types/gov.pb.go
Owners: @nicolaslara, @p0mvn

benchmark GetTickLiquidityNetInDirection
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

updates
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/swaps_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Owners: @czarcas7ic, @p0mvn, @mattverse, @nicolaslara

updates
  x/concentrated-liquidity/math/tick_test.go
Owners: @czarcas7ic, @p0mvn

fix flaky test
  osmoutils/store_helper_test.go
Owners: none

roll back accidental tx fee renames
  osmoutils/cli_helpers.go
  tests/e2e/README.md
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  x/poolmanager/client/cli/cli_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

chore: bump sdk fork with sqrt perf improvements (#5249)
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  osmoutils/store_helper_test.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/concentrated-liquidity/swaps_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Owners: @czarcas7ic, @p0mvn, @mattverse, @nicolaslara

add getTickLiquidityForFullRange benchmark
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

add back comments
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn
