Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

perf: avoid refetching ticks during swaps; parse from iterator value
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
Owners: @czarcas7ic, @p0mvn

comment updates
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

update manifests for localosmosis scripts
  node_modules/.yarn-integrity
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  yarn.lock
Owners: none

oops: remove yarn stuff
  node_modules/.yarn-integrity
  yarn.lock
Owners: none

Localnet: update localnet CL script deps (#5289)
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
Owners: none

add pool link to bench
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

Add SendDeveloperFee function
  x/protorev/keeper/developer_fees.go
Owners: @p0mvn

added cli example
  x/concentrated-liquidity/client/cli/tx.go
  x/poolmanager/client/cli/tx.go
Owners: @czarcas7ic, @p0mvn, @mattverse

Update pools daily, remove dev fee payment from epoch
  x/protorev/keeper/epoch_hook.go
Owners: @p0mvn

added cli example (#5293)
  x/concentrated-liquidity/client/cli/tx.go
  x/poolmanager/client/cli/tx.go
Owners: @czarcas7ic, @p0mvn, @mattverse

perf: remove repeated pool proto unmarshaling overhead
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

perf: avoid refetching ticks during swaps; parse from iterator value (#5288)
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
Owners: @czarcas7ic, @p0mvn

perf: avoid refetching ticks during swaps; parse from iterator value
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

comment updates
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

perf: remove repeated pool unmarshaling and uptime accum refetching overhead in swaps
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
Owners: @czarcas7ic, @p0mvn

reduce diff
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

updates
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

fixing
  .github/workflows/required_labels.yml
Owners: @osmosis-labs/devops

fixing.v1
  .github/pull_request_template.md
Owners: @osmosis-labs/devops

fixing.v2
  .github/pull_request_template.md
Owners: @osmosis-labs/devops

Test only md
  .github/pull_request_template.md
Owners: @osmosis-labs/devops

add test and godoc for prepareBalancerPoolAsFullRange
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

feat: do not require changelog and state machine labels for markdown only changes
  .github/workflows/changelog-entry-reminder.yml
  .github/workflows/required_labels.yml
Owners: @osmosis-labs/devops

update changelog for PR
  CHANGELOG.md
Owners: none

test claimAndResetFullRangeBalancerPool
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

comment updates
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

nil pool error
  x/concentrated-liquidity/incentives.go
Owners: @czarcas7ic, @p0mvn

updates
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

UpdateGivenPoolUptimeAccumulatorsToNow param mutation test
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

perf: remove repeated fee accumulator unmarshaling in swaps
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Owners: @czarcas7ic, @p0mvn

Replace dev fee payout function in executeTrade
  x/protorev/keeper/rebalance.go
Owners: @p0mvn

perf: liquidity net in direction sdk.Int -> int64
  proto/osmosis/concentrated-liquidity/query.proto
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Owners: @czarcas7ic, @p0mvn

add tests
  x/protorev/keeper/developer_fees_test.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/rebalance_test.go
Owners: @p0mvn

perf: liquidity for full range sdk.Int -> int64
  proto/osmosis/concentrated-liquidity/query.proto
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Owners: @czarcas7ic, @p0mvn

remove err return if dev fee payment fails
  x/protorev/keeper/rebalance.go
Owners: @p0mvn

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

send dev fees to dev account on upgrade
  app/upgrades/v16/upgrades.go
Owners: none

updated async-icq repo to use ibc-apps
  Makefile
  app/keepers/keepers.go
  go.mod
  x/twap/client/grpc/grpc_query.go
Owners: @osmosis-labs/devops, @nicolaslara, @p0mvn

Store receiver if receiver is lock owner
  x/incentives/keeper/distribute.go
  x/incentives/keeper/suite_test.go
  x/lockup/keeper/bench_test.go
  x/lockup/keeper/genesis_test.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/migration.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/synthetic_lock_test.go
  x/lockup/keeper/utils_test.go
  x/lockup/types/lock.go
Owners: @mattverse, @p0mvn, @stackman27, @czarcas7ic

revert to generated code
  x/twap/client/grpc/grpc_query.go
Owners: @nicolaslara, @p0mvn

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops
