Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

Update x/lockup/keeper/lock_test.go
  x/lockup/keeper/lock_test.go
Owners: @mattverse, @stackman27, @czarcas7ic

nit
  x/lockup/keeper/lock_test.go
Owners: @mattverse, @stackman27, @czarcas7ic

remove MsgCreateIncentive (#5234)
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/clmodule/module.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Owners: @czarcas7ic, @p0mvn

update pool id
  tests/e2e/e2e_test.go
Owners: none

feat[CL]: separate fees into different module account (#5230)
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/pool.go
Owners: @czarcas7ic, @p0mvn

Update x/poolmanager/router_test.go
  x/poolmanager/router_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

Update x/poolmanager/router.go
  x/poolmanager/router.go
Owners: @czarcas7ic, @p0mvn, @mattverse

[CL Message Audit] MsgSwapExactAmountOut (#5179)
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/types/errors.go
  x/poolmanager/export_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

add tests for external gauge query
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
Owners: @czarcas7ic, @p0mvn

chore: lint tests and sync for app, osmomath, tests, and wasmbinding (#5206)
  app/upgrades/v15/upgrade_test.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/ibc-hooks/ibc_middleware_test.go
  wasmbinding/query_plugin_test.go
Owners: none

refactor tests to use string map
  x/pool-incentives/keeper/grpc_query_test.go
Owners: @czarcas7ic, @p0mvn

test comment fix
  x/pool-incentives/keeper/grpc_query_test.go
Owners: @czarcas7ic, @p0mvn

change KVStore value from posID to boolean byte
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
Owners: @czarcas7ic, @p0mvn

[x/pool-incentives][tests]: Add tests for external gauge query (#5236)
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
Owners: @czarcas7ic, @p0mvn

replace redundant function
  x/concentrated-liquidity/position.go
Owners: @czarcas7ic, @p0mvn

feat: v16 upgrade handler updates (#5213)
  app/upgrades/v16/concentrated_pool.go
  app/upgrades/v16/concentrated_pool_test.go
  app/upgrades/v16/export_test.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  tests/e2e/helpers_e2e_test.go
  tests/e2e/scripts/daiosmov16.json
Owners: none

fix prefix
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
Owners: @czarcas7ic, @p0mvn

update godoc
  x/concentrated-liquidity/position.go
Owners: @czarcas7ic, @p0mvn

fix test
  x/superfluid/keeper/migrate.go
Owners: @mattverse, @stackman27

updates
  x/concentrated-liquidity/lp.go
Owners: @czarcas7ic, @p0mvn

expand CreateLockNoSend comment
  x/lockup/keeper/lock.go
Owners: @mattverse, @stackman27, @czarcas7ic

rename lockNoSend back to lock
  x/lockup/keeper/export_test.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
Owners: @mattverse, @stackman27, @czarcas7ic

[CL Message Audit]: AddToPositions (#5167)
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Owners: @czarcas7ic, @p0mvn

expand partial unlock comment
  x/superfluid/keeper/migrate.go
Owners: @mattverse, @stackman27

perf: change KVStore value from posID to boolean byte (#5237)
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
Owners: @czarcas7ic, @p0mvn

implement/test necessary helper and implement/test bugfix for bonded share reward splitting
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

changelog for gamm changes
  CHANGELOG.md
Owners: none

clean up tests and comments
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/gamm/keeper/pool_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

add incentive creation & querying section to readme
  x/concentrated-liquidity/README.md
Owners: @czarcas7ic, @p0mvn

updates
  app/apptesting/concentrated_liquidity.go
  scripts/cl/in_given_out.py
  scripts/cl/one_for_zero.py
  scripts/cl/out_given_in.py
  scripts/cl/zero_for_one.py
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/events.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/stableswap/README.md
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/poolmanager/README.md
Owners: @czarcas7ic, @p0mvn, @mattverse

updates
  CHANGELOG.md
Owners: none

add readme section on reward splitting
  x/concentrated-liquidity/README.md
Owners: @czarcas7ic, @p0mvn

add incentive creation & querying section to readme (#5242)
  x/concentrated-liquidity/README.md
Owners: @czarcas7ic, @p0mvn

add readme section on reward splitting (#5244)
  x/concentrated-liquidity/README.md
Owners: @czarcas7ic, @p0mvn

refactor: reinvest dust fees into pool accumulator
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
Owners: @czarcas7ic, @p0mvn

feat: partial superfluid undelegate (#5162)
  tests/cl-go-client/go.mod
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/keeper/unpool.go
  x/superfluid/types/expected_keepers.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @stackman27

remove unused error
  x/superfluid/keeper/migrate_test.go
  x/superfluid/types/errors.go
Owners: @mattverse, @stackman27

lint
  x/lockup/keeper/lock_test.go
Owners: @mattverse, @stackman27, @czarcas7ic

[CL][bugfix] Update reward splitting logic to only use bonded balancer amounts (#5239)
  CHANGELOG.md
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

updates
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
Owners: @czarcas7ic, @p0mvn

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops
