Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

lint tests and sync: app, osmomath, tests, and wasmbinding
  app/upgrades/v15/upgrade_test.go
  osmomath/go.mod
  osmomath/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/ibc-hooks/ibc_middleware_test.go
  wasmbinding/query_plugin_test.go
Owners: none

Fix CL client to be compatible with recent state of Bigbang (#5200)
  go.sum
  tests/cl-genesis-positions/convert.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
Owners: none

update osmoutils gomod
  go.mod
  go.sum
Owners: none

Change to A:no-changelog (#5201)
  .github/workflows/changelog-entry-reminder.yml
Owners: @osmosis-labs/devops

lint tests in x other than the gamm module
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/incentives/client/cli/cli_test.go
  x/protorev/keeper/keeper_test.go
  x/protorev/types/params.pb.go
  x/tokenfactory/keeper/createdenom_test.go
  x/twap/api_test.go
  x/twap/export_test.go
  x/twap/keeper_test.go
  x/twap/migrate_test.go
  x/txfees/client/cli/query.go
  x/valset-pref/keeper_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @nicolaslara, @stackman27

add osmoutils tests
  osmoutils/store_helper_test.go
Owners: none

sync
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
Owners: none

merge main conflicts
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

add protorev
  x/protorev/types/params.pb.go
Owners: @p0mvn

test
  proto/osmosis/poolmanager/v1beta1/query.proto
Owners: none

readme error fixes
  x/concentrated-liquidity/README.md
Owners: @czarcas7ic, @p0mvn

sync
  tests/cl-genesis-positions/go.mod
Owners: none

osmomath
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

fix: merge conflict
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

add osmomath to lp_test
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

sync
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Owners: @mattverse, @nicolaslara

fix: merge conflict (#5210)
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

update test
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
Owners: @czarcas7ic, @p0mvn

fix parse
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/store.go
Owners: @czarcas7ic, @p0mvn

perf: remove repeated reallocations in swap step iterations
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

smallest dec
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

readme error fixes (#5208)
  x/concentrated-liquidity/README.md
Owners: @czarcas7ic, @p0mvn

only update rust code when security updates happen
  .github/dependabot.yml
Owners: @osmosis-labs/devops

sync
  tests/cl-genesis-positions/go.mod
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
Owners: none

fix tests
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

chore: add vs code debug config for every module
  .vscode/launch.json
Owners: none

restore e2e
  .vscode/launch.json
Owners: none

perf: conver tick and exponent at price one to int64 (#5190)
  proto/osmosis/concentrated-liquidity/pool.proto
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/pool.go
Owners: @czarcas7ic, @p0mvn

unused
  x/concentrated-liquidity/math/math.go
Owners: @czarcas7ic, @p0mvn

add test for remove from slice
  osmoutils/store_helper_test.go
Owners: none

update gomod for osmoutils
  go.mod
  go.sum
Owners: none

update in line comment
  x/concentrated-liquidity/position.go
Owners: @czarcas7ic, @p0mvn

change linter settings
  .golangci.yml
  x/gamm/keeper/pool_service_test.go
Owners: @mattverse, @czarcas7ic, @p0mvn

chore: add vs code debug config for every module (#5212)
  .vscode/launch.json
Owners: none

updates
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
Owners: @czarcas7ic, @p0mvn

adams feedback
  go.sum
  proto/osmosis/concentrated-liquidity/genesis.proto
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/types/genesis/genesis.pb.go
Owners: @czarcas7ic, @p0mvn

added changelog
  CHANGELOG.md
Owners: none

merge Dong's changes to x/gamm
  x/gamm/keeper/pool_test.go
Owners: @mattverse, @czarcas7ic, @p0mvn

refactor: prototype reducing iterator overhead in swaps (#5177)
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/types/errors.go
Owners: @czarcas7ic, @p0mvn

Revert "change linter settings"
  .golangci.yml
  x/gamm/keeper/pool_service_test.go
Owners: @mattverse, @czarcas7ic, @p0mvn

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops
