Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

added migration function to upgrades.go
  app/upgrades/v16/upgrades.go
  x/protorev/module.go
Owners: @p0mvn

added v16 mergify
  .github/mergify.yml
Owners: @osmosis-labs/devops

perf: remove repeated pool exists check
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

added v16 mergify (#5277)
  .github/mergify.yml
Owners: @osmosis-labs/devops

address Roman comments
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

bench: GetTickLiquidityNetInDirection & GetTickLiquidityForFullRange (#5276)
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

remove unused
  x/concentrated-liquidity/pool.go
Owners: @czarcas7ic, @p0mvn

remove unused & reset benchmark before loop
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/pool_test.go
Owners: @czarcas7ic, @p0mvn

revert 100k
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

typo
  x/concentrated-liquidity/types/codec.go
Owners: @czarcas7ic, @p0mvn

mint readme to one day
  x/mint/README.md
Owners: @p0mvn

Ignore Changelog Reminder flow for markdown files
  .github/workflows/changelog-entry-reminder.yml
Owners: @osmosis-labs/devops

test
  .github/workflows/changelog-entry-reminder.yml
Owners: @osmosis-labs/devops

test.only md
  .github/pull_request_template.md
  .github/workflows/changelog-entry-reminder.yml
Owners: @osmosis-labs/devops

test.md + others
  .github/labeler.yml
Owners: @osmosis-labs/devops

test.only md.v1
  .github/labeler.yml
Owners: @osmosis-labs/devops

mint readme to one day (#5280)
  x/mint/README.md
Owners: @p0mvn

fix: typo in proposal codec registration (#5279)
  x/concentrated-liquidity/types/codec.go
Owners: @czarcas7ic, @p0mvn

Putting this all in one place, will make a PR with a subset of this
  app/apptesting/assert_helpers.go
  app/apptesting/test_suite.go
  app/test_helpers.go
  x/concentrated-liquidity/bench_test.go
  x/incentives/keeper/bench_test.go
  x/lockup/keeper/keeper_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @stackman27

Add Reward Recepient to lock
  proto/osmosis/lockup/lock.proto
  proto/osmosis/lockup/tx.proto
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/suite_test.go
  x/lockup/keeper/bench_test.go
  x/lockup/keeper/genesis_test.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/migration.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/synthetic_lock_test.go
  x/lockup/keeper/utils_test.go
  x/lockup/types/errors.go
  x/lockup/types/lock.go
  x/lockup/types/lock.pb.go
  x/lockup/types/msgs.go
  x/lockup/types/tx.pb.go
Owners: @mattverse, @p0mvn, @stackman27, @czarcas7ic

Add changelog
  CHANGELOG.md
Owners: none

Use leveldb for benchmarks
  app/apptesting/test_suite.go
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

updates
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

Use leveldb for benchmarks (#5282)
  app/apptesting/test_suite.go
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

bump consensus version to 2
  x/protorev/module.go
Owners: @p0mvn

updates
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

comment out everything upgrade related to isolate problem
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  x/protorev/module.go
Owners: @p0mvn

More test simplification (#5269)
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swapstrategy/export_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/msgs_test.go
Owners: @czarcas7ic, @p0mvn

Improve genesis debug message for twap
  x/twap/types/genesis.go
Owners: @nicolaslara, @p0mvn

Switch to string debug
  x/twap/types/genesis.go
Owners: @nicolaslara, @p0mvn

dummy comment
  x/protorev/keeper/posthandler.go
Owners: @p0mvn

Revert "comment out everything upgrade related to isolate problem"
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  x/protorev/module.go
Owners: @p0mvn

Revert "bump consensus version to 2"
  x/protorev/module.go
Owners: @p0mvn

Revert "added migration function to upgrades.go"
  app/upgrades/v16/upgrades.go
  x/protorev/module.go
Owners: @p0mvn

log instead of err on dev fee payment
  x/protorev/keeper/rebalance.go
Owners: @p0mvn

feedback
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

perf: remove repeated pool exists check (#5278)
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

Revert "comment out everything upgrade related to isolate problem"
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  x/protorev/module.go
Owners: @p0mvn

Revert "bump consensus version to 2"
  x/protorev/module.go
Owners: @p0mvn

updates
  x/concentrated-liquidity/cpu.prof
  x/concentrated-liquidity/cpu2.prof
  x/concentrated-liquidity/cpu3.prof
  x/concentrated-liquidity/cpu4-memdb.prof
  x/concentrated-liquidity/current.bench
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/latest.bench
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Owners: @czarcas7ic, @p0mvn

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops
