Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

merge main, sync start gamm over again
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/gamm/keeper/keeper_test.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/keeper/pool_test.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/pool-models/stableswap/pool_test.go
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Owners: @mattverse, @nicolaslara, @czarcas7ic, @p0mvn

initial push upgrade handler changes
  app/upgrades/v16/concentrated_pool.go
  app/upgrades/v16/concentrated_pool_test.go
  app/upgrades/v16/export_test.go
  app/upgrades/v16/upgrades.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  tests/e2e/scripts/daiosmov16.json
  x/concentrated-liquidity/lp.go
Owners: @czarcas7ic, @p0mvn

properly set staking denom to usomo in test
  app/upgrades/v16/upgrades_test.go
Owners: none

chore: skip wasm tests in wsl and add a vs code task
  .vscode/tasks.json
  Makefile
  app/apptesting/test_suite.go
  app/upgrades/v13/upgrade_test.go
  app/upgrades/v15/upgrade_test.go
  tests/ibc-hooks/ibc_middleware_test.go
  wasmbinding/test/custom_msg_test.go
  wasmbinding/test/custom_query_test.go
  wasmbinding/test/messages_test.go
  wasmbinding/test/queries_test.go
  wasmbinding/test/store_run_test.go
  x/ibc-rate-limit/ibc_middleware_test.go
  x/tokenfactory/keeper/before_send_test.go
Owners: @osmosis-labs/devops, @mattverse, @nicolaslara, @p0mvn

updates
  app/apptesting/test_suite.go
Owners: none

update changelog
  CHANGELOG.md
Owners: none

fix
  CHANGELOG.md
Owners: none

WIP
  x/concentrated-liquidity/model/pool_test.go
Owners: @czarcas7ic, @p0mvn

Review comments
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math.go
Owners: @czarcas7ic, @p0mvn

bookmark
  .golangci.yml
  tests/e2e/e2e_setup_test.go
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position_test.go
  x/gamm/keeper/pool_test.go
  x/gamm/pool-models/stableswap/pool_test.go
  x/incentives/client/cli/cli_test.go
  x/pool-incentives/keeper/keeper_test.go
  x/poolmanager/router_test.go
  x/poolmanager/types/routes_test.go
  x/protorev/keeper/keeper_test.go
  x/tokenfactory/keeper/createdenom_test.go
  x/valset-pref/keeper_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @nicolaslara, @stackman27

resolve very high quality reviews
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
Owners: @czarcas7ic, @p0mvn

model -> model
  .golangci.yml
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/position_test.go
Owners: @czarcas7ic, @p0mvn

update golangci-lint settings per https://golangci-lint.run/usage/integrations
  .vscode/settings.json
Owners: none

linter autofixes
  x/pool-incentives/keeper/keeper_test.go
  x/poolmanager/router_test.go
  x/poolmanager/types/routes_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

call methods the same way
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
Owners: @czarcas7ic, @p0mvn

add changelog
  CHANGELOG.md
Owners: none

make x match main exactly
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/incentives/client/cli/cli_test.go
  x/pool-incentives/keeper/keeper_test.go
  x/poolmanager/router_test.go
  x/poolmanager/types/routes_test.go
  x/protorev/keeper/keeper_test.go
  x/tokenfactory/keeper/createdenom_test.go
  x/twap/api_test.go
  x/twap/export_test.go
  x/twap/keeper_test.go
  x/twap/migrate_test.go
  x/txfees/client/cli/query.go
  x/valset-pref/keeper_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @nicolaslara, @stackman27

sync
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Owners: @mattverse, @nicolaslara

golangci-lint run ./... --fix
  app/upgrades/v15/upgrade_test.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/ibc-hooks/ibc_middleware_test.go
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position_test.go
  x/incentives/client/cli/cli_test.go
  x/pool-incentives/keeper/keeper_test.go
  x/poolmanager/router_test.go
  x/poolmanager/types/routes_test.go
  x/protorev/keeper/keeper_test.go
  x/tokenfactory/keeper/createdenom_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @nicolaslara

clmodel -> model
  wasmbinding/query_plugin_test.go
  x/concentrated-liquidity/lp_test.go
  x/gamm/pool-models/stableswap/pool_test.go
  x/twap/api_test.go
  x/valset-pref/keeper_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @nicolaslara, @stackman27

lint all except for recievers and gamm
  .golangci.yml
  wasmbinding/query_plugin_test.go
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps_test.go
  x/gamm/client/cli/cli_test.go
  x/gamm/client/cli/query_test.go
  x/gamm/keeper/pool_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/stableswap/amm_bench_test.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/integration_test.go
  x/gamm/pool-models/stableswap/pool_test.go
  x/pool-incentives/keeper/keeper_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

add further tests
  app/upgrades/v16/concentrated_pool_test.go
  app/upgrades/v16/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

chore: skip wasm tests in wsl and add a vs code task (#5214)
  .vscode/tasks.json
  Makefile
  app/apptesting/test_suite.go
  app/upgrades/v13/upgrade_test.go
  app/upgrades/v15/upgrade_test.go
  tests/ibc-hooks/ibc_middleware_test.go
  wasmbinding/test/custom_msg_test.go
  wasmbinding/test/custom_query_test.go
  wasmbinding/test/messages_test.go
  wasmbinding/test/queries_test.go
  wasmbinding/test/store_run_test.go
  x/ibc-rate-limit/ibc_middleware_test.go
  x/tokenfactory/keeper/before_send_test.go
Owners: @osmosis-labs/devops, @mattverse, @nicolaslara, @p0mvn

update golangci-lint settings per https://golangci-lint.run/usage/integrations (#5221)
  .vscode/settings.json
Owners: none

comment
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

Update x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

Update x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

perf: remove repeated reallocations in swap step iterations (#5211)
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

fix merge conflict typo
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/rebalance_test.go
Owners: @p0mvn

Update x/poolmanager/msg_server.go
  x/poolmanager/msg_server.go
Owners: @czarcas7ic, @p0mvn, @mattverse

Update x/poolmanager/msg_server.go
  x/poolmanager/msg_server.go
Owners: @czarcas7ic, @p0mvn, @mattverse

bug: add split route to message server in pool manager (#5204)
  proto/osmosis/poolmanager/v1beta1/tx.proto
  x/poolmanager/msg_server.go
  x/poolmanager/router.go
  x/poolmanager/types/events.go
  x/poolmanager/types/tx.pb.go
Owners: @czarcas7ic, @p0mvn, @mattverse

no-op unused hooks
  x/protorev/keeper/hooks.go
Owners: @p0mvn

Remove ResetSwapToBackrun, only use DeleteSwapsToBackrun
  x/protorev/keeper/posthandler.go
  x/protorev/keeper/protorev.go
Owners: @p0mvn

Add swap tests for hooks
  x/protorev/keeper/hooks_test.go
  x/protorev/keeper/keeper_test.go
Owners: @p0mvn

perf: attempt to improve performance by pre-allocating buffer
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/types/keys.go
  x/pool-incentives/keeper/new.md
  x/pool-incentives/keeper/old.md
Owners: @czarcas7ic, @p0mvn

chore: commit at the end of benchmark
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

updates
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/types/keys.go
  x/pool-incentives/keeper/new.md
  x/pool-incentives/keeper/old.md
Owners: @czarcas7ic, @p0mvn

updates
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

updates
  THIS IS OFF CURRENT STATE OF THE BRANCH.md
Owners: none

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops
