Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

remove obsolete commet
  x/concentrated-liquidity/incentives.go
Owners: @czarcas7ic, @p0mvn

expand positions queries
  proto/osmosis/concentrated-liquidity/position.proto
  proto/osmosis/concentrated-liquidity/query.proto
  tests/e2e/configurer/chain/queries.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/model/position.pb.go
Owners: @czarcas7ic, @p0mvn

add position by ID query to CLI
  tests/cl-genesis-positions/go.mod
  x/concentrated-liquidity/client/cli/query.go
Owners: @czarcas7ic, @p0mvn

perf: remove repeated pool unmarshaling and uptime accum refetching overhead in swaps (#5295)
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
Owners: @czarcas7ic, @p0mvn

Revert "feat: do not require changelog and state machine labels for markdown only changes (#5297)"
  .github/workflows/changelog-entry-reminder.yml
  .github/workflows/required_labels.yml
Owners: @osmosis-labs/devops

fix discount rate bound check
  x/concentrated-liquidity/incentives.go
Owners: @czarcas7ic, @p0mvn

update e2e genesis config for protorev module
  tests/e2e/initialization/config.go
Owners: none

fix tick range helper and update tests/comments
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
Owners: @czarcas7ic, @p0mvn

remove duplicate check in full range creation
  x/concentrated-liquidity/position.go
Owners: @czarcas7ic, @p0mvn

add test case for fix
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

message fungify audit
  tests/cl-genesis-positions/go.sum
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
Owners: @czarcas7ic, @p0mvn

fix check at param validation level as well
  x/concentrated-liquidity/types/params.go
Owners: @czarcas7ic, @p0mvn

add tests for param fix
  x/concentrated-liquidity/types/export_test.go
  x/concentrated-liquidity/types/params_test.go
Owners: @czarcas7ic, @p0mvn

remove lower level test in favor of param-level panic
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

fix tick range helper and update tests/comments (#5313)
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
Owners: @czarcas7ic, @p0mvn

remove duplicate check in full range creation (#5315)
  x/concentrated-liquidity/position.go
Owners: @czarcas7ic, @p0mvn

update e2e genesis config for protorev module (#5312)
  tests/e2e/initialization/config.go
Owners: none

update e2e genesis config for protorev module (#5312)
  tests/e2e/initialization/config.go
Owners: none

merge main
  x/concentrated-liquidity/incentives.go
Owners: @czarcas7ic, @p0mvn

update v15 prev version tag in e2e container
  tests/e2e/containers/config.go
Owners: none

remove e2e test that checks protorev dev account not initialized
  tests/e2e/e2e_test.go
Owners: none

return err if protorev dev account payment errors during upgrade
  app/upgrades/v16/upgrades.go
Owners: none

add tight boundary tests
  x/concentrated-liquidity/types/params_test.go
Owners: @czarcas7ic, @p0mvn

add clarifying comments
  x/concentrated-liquidity/incentives.go
Owners: @czarcas7ic, @p0mvn

fail early for wrong token provided
  tests/cl-genesis-positions/go.mod
  x/concentrated-liquidity/lp.go
Owners: @czarcas7ic, @p0mvn

feat[CL]: expand position queries (#5310)
  proto/osmosis/concentrated-liquidity/position.proto
  proto/osmosis/concentrated-liquidity/query.proto
  tests/cl-genesis-positions/go.mod
  tests/e2e/configurer/chain/queries.go
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/model/position.pb.go
Owners: @czarcas7ic, @p0mvn

bump previousVersionInitTag
  tests/e2e/containers/config.go
Owners: none

bump previousVersionOsmoTag
  tests/e2e/containers/config.go
Owners: none

remove e2e test that checks protorev dev account not initialized
  tests/e2e/e2e_test.go
Owners: none

docs: stableswap scaling factors
  x/gamm/pool-models/stableswap/README.md
Owners: @mattverse, @czarcas7ic, @p0mvn

docs: stableswap scaling factor
  x/gamm/pool-models/stableswap/README.md
Owners: @mattverse, @czarcas7ic, @p0mvn

bump previousVersionInitTag, remove no longer used protorev upgrade test (#5318)
  tests/e2e/containers/config.go
  tests/e2e/e2e_test.go
Owners: none

Revert "feat: do not require changelog and state machine labels for markdown only changes (#5297)" (#5311)
  .github/workflows/changelog-entry-reminder.yml
  .github/workflows/required_labels.yml
Owners: @osmosis-labs/devops

[CL][bugfix] Fix discount rate bound check (#5314)
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/types/export_test.go
  x/concentrated-liquidity/types/params.go
  x/concentrated-liquidity/types/params_test.go
Owners: @czarcas7ic, @p0mvn

Add dev fee payment check when testing trade execution
  x/protorev/keeper/rebalance_test.go
Owners: @p0mvn

Huckleberry ibc patch
  go.mod
  go.sum
Owners: none

Protorev: Update timing for pool updating and dev fee payout (#4827)
  CHANGELOG.md
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  x/protorev/keeper/developer_fees.go
  x/protorev/keeper/developer_fees_test.go
  x/protorev/keeper/epoch_hook.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/protorev.md
Owners: @p0mvn

Update CHANGELOG.md after v15.1.2 (#5309)
  CHANGELOG.md
Owners: none

Update x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position.go
Owners: @czarcas7ic, @p0mvn

Huckleberry ibc patch (#5320)
  go.mod
  go.sum
Owners: none

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops
