Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

Update x/twap/export_test.go
  x/twap/export_test.go
Owners: @nicolaslara, @p0mvn

Update x/twap/export_test.go
  x/twap/export_test.go
Owners: @nicolaslara, @p0mvn

add bug fix with expanded tests
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/types/expected_keepers.go
Owners: @mattverse, @stackman27

unit test for CreateLockNoSend
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
Owners: @mattverse, @stackman27, @czarcas7ic

Update x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate.go
Owners: @mattverse, @stackman27

fix merge
  x/superfluid/keeper/migrate.go
Owners: @mattverse, @stackman27

partialSuperfluidUndelegate named return values
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/stake.go
Owners: @mattverse, @stackman27

expand test checks for migrateDelegated
  x/superfluid/keeper/migrate_test.go
Owners: @mattverse, @stackman27

expanded bonded checks
  x/superfluid/keeper/migrate_test.go
Owners: @mattverse, @stackman27

check new lock and exact amount
  x/superfluid/keeper/stake_test.go
Owners: @mattverse, @stackman27

assign vars directly
  x/superfluid/keeper/migrate.go
Owners: @mattverse, @stackman27

update gomod
  go.mod
  go.sum
Owners: none

update merge
  x/superfluid/keeper/unpool.go
Owners: @mattverse, @stackman27

refactor: prototype reducing iterator overhead in swaps
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
Owners: @czarcas7ic, @p0mvn

perf: convert ticks to int64
  x/concentrated-liquidity/export_internal.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/constants.go
Owners: @czarcas7ic, @p0mvn

updates
  tests/cl-genesis-positions/convert.go
  tests/e2e/e2e_test.go
Owners: none

perf: conver tick and exponent at price one to int64
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/pool.go
Owners: @czarcas7ic, @p0mvn

fix test
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
Owners: @czarcas7ic, @p0mvn

updates
  tests/e2e/e2e_test.go
Owners: none

add test case and comment
  x/gamm/keeper/pool_test.go
Owners: @mattverse, @czarcas7ic, @p0mvn

updates
  tests/e2e/e2e_test.go
Owners: none

updates
  tests/e2e/e2e_test.go
Owners: none

Update x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick.go
Owners: @czarcas7ic, @p0mvn

nit
  x/concentrated-liquidity/math/tick_test.go
Owners: @czarcas7ic, @p0mvn

comment
  x/concentrated-liquidity/math/tick.go
Owners: @czarcas7ic, @p0mvn

comment
  x/concentrated-liquidity/math/tick.go
Owners: @czarcas7ic, @p0mvn

>=
  x/concentrated-liquidity/math/tick.go
Owners: @czarcas7ic, @p0mvn

check newly created lock
  x/superfluid/keeper/migrate_test.go
Owners: @mattverse, @stackman27

add extra logic branch for fail case
  x/superfluid/keeper/stake_test.go
Owners: @mattverse, @stackman27

lint
  x/concentrated-liquidity/math/tick.go
Owners: @czarcas7ic, @p0mvn

fix merge conflicts
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/swaps_test.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/types/errors.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @stackman27

regen proto
  x/superfluid/types/tx.pb.go
Owners: @mattverse, @stackman27

updates
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

remerge dup price for multiple ticks fix
  osmomath/decimal.go
  osmomath/int.go
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_internal.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/tx.pb.go
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/msg_server_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @stackman27

merge
  x/superfluid/keeper/stake.go
Owners: @mattverse, @stackman27

fix: make proto-docs; unsupported address proto tag
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
  client/docs/statik/statik.go
  proto/osmosis/protorev/v1beta1/params.proto
  x/protorev/types/params.pb.go
Owners: @p0mvn

initial push
  osmomath/decimal.go
  osmomath/int.go
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_internal.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/tx.pb.go
Owners: @czarcas7ic, @p0mvn

update gomod
  go.mod
  go.sum
Owners: none

revert nolint
  osmomath/decimal.go
Owners: none

update gomod
  go.mod
  go.sum
Owners: none

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops
