Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops

split up partial superfluid undelegate func
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
Owners: @mattverse, @stackman27

sync
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Owners: @mattverse, @nicolaslara

fix: duplicate price for multiple ticks (#5196)
  go.mod
  go.sum
  osmomath/int.go
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_internal.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/tx.pb.go
Owners: @czarcas7ic, @p0mvn

make all tests pass again
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

expand partial undelegate test case
  x/superfluid/keeper/stake_test.go
Owners: @mattverse, @stackman27

updates
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
Owners: @czarcas7ic, @p0mvn

refactor: more discriptive error when no liquidity in swaps
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

clean up
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/types/errors.go
Owners: @czarcas7ic, @p0mvn

godoc updates
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
Owners: @czarcas7ic, @p0mvn

updates
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

updates
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

updates
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

remove cache context from in given out
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

remove swap_test.go from skipped files
  .golangci.yml
Owners: none

clean up
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
Owners: @czarcas7ic, @p0mvn

lint
  x/concentrated-liquidity/math/precompute.go
  x/concentrated-liquidity/math/tick.go
Owners: @czarcas7ic, @p0mvn

standardize the type assertions
  x/concentrated-liquidity/bench_test.go
  x/gamm/keeper/swap_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

perf: convert ticks to int64 (#5189)
  tests/cl-genesis-positions/convert.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/export_internal.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/math/precompute.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/constants.go
Owners: @czarcas7ic, @p0mvn

lint cli_test.go
  .golangci.yml
  x/gamm/client/cli/cli_test.go
Owners: @mattverse, @czarcas7ic, @p0mvn

Update x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

Update x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

refactor: remove cache context from swap in given out (#5198)
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

refactor: more discriptive error when no liquidity in swaps (#5197)
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

fix: merge conflict
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

fix: merge conflict (#5199)
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

fix: make proto-docs; unsupported address proto tag (#5195)
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
  client/docs/statik/statik.go
  proto/osmosis/protorev/v1beta1/params.proto
  x/protorev/types/params.pb.go
Owners: @p0mvn

Fix cl client to follow most recent state
  tests/cl-genesis-positions/convert.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
Owners: none

Change to A:no-changelog
  .github/workflows/changelog-entry-reminder.yml
Owners: @osmosis-labs/devops

added better events
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
Owners: none

Update proto/osmosis/concentrated-liquidity/tx.proto
  proto/osmosis/concentrated-liquidity/tx.proto
Owners: none

Update proto/osmosis/concentrated-liquidity/tx.proto
  proto/osmosis/concentrated-liquidity/tx.proto
Owners: none

Update proto/osmosis/concentrated-liquidity/tx.proto
  proto/osmosis/concentrated-liquidity/tx.proto
Owners: none

Update proto/osmosis/concentrated-liquidity/tx.proto
  proto/osmosis/concentrated-liquidity/tx.proto
Owners: none

Update proto/osmosis/concentrated-liquidity/tx.proto
  proto/osmosis/concentrated-liquidity/tx.proto
Owners: none

allow max length 1 for linked synth locks
  x/superfluid/keeper/migrate.go
Owners: @mattverse, @stackman27

WIP for comments
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Owners: @czarcas7ic, @p0mvn

Run go mod tidy
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
Owners: none

bug: add split route to message server in pool manager
  proto/osmosis/poolmanager/v1beta1/tx.proto
  x/poolmanager/msg_server.go
  x/poolmanager/router.go
  x/poolmanager/types/events.go
  x/poolmanager/types/tx.pb.go
Owners: @czarcas7ic, @p0mvn, @mattverse

improve cl kvstore entries
  osmoutils/store_helper.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/keys.go
Owners: @czarcas7ic, @p0mvn

[CL Message Audit]: MsgWithdrawPosition (#5135)
  osmoutils/accum/accum.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn
