Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops

cleanup and avoid race conditions
  cosmwasm/contracts/crosschain-registry/src/error.rs
  cosmwasm/contracts/crosschain-registry/src/execute.rs
Owners: none

make linter happy
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
Owners: none

clippy
  cosmwasm/contracts/crosschain-registry/src/execute.rs
Owners: none

bytecode
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
Owners: none

Revert "make linter happy"
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
Owners: none

ignore new lint
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
Owners: none

typo
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
Owners: none

Apply suggestions from code review
  x/poolmanager/types/codec.go
Owners: @czarcas7ic, @p0mvn, @mattverse

fix localosmosis
  go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
Owners: none

fix localosmosis (#5183)
  go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
Owners: none

add back proto tag
  proto/osmosis/superfluid/tx.proto
  x/superfluid/types/tx.pb.go
Owners: @mattverse, @stackman27

rename to validateGammLockForSuperfluidStaking
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/unpool.go
  x/superfluid/keeper/unpool_test.go
Owners: @mattverse, @stackman27

remove unused errors
  x/superfluid/types/errors.go
Owners: @mattverse, @stackman27

[CL Message Audit]: MsgUnlockAndMigrateSharesToFullRangeConcentratedPosition [1/2] (#5178)
  proto/osmosis/superfluid/tx.proto
  x/gamm/types/key.go
  x/superfluid/README.md
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/unpool.go
  x/superfluid/keeper/unpool_test.go
  x/superfluid/types/errors.go
  x/superfluid/types/tx.pb.go
Owners: @mattverse, @czarcas7ic, @p0mvn, @stackman27

Update x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate.go
Owners: @mattverse, @stackman27

add check for both bonded and unbonding
  x/superfluid/keeper/migrate.go
Owners: @mattverse, @stackman27

named return values createPosition
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
Owners: @czarcas7ic, @p0mvn

Update x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

change roundTick to roundTickToCanonicalPriceTick
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Owners: @czarcas7ic, @p0mvn

initialize int64 vars
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

Revert "Merge branch 'adam/MsgUnlockAndMigrateSharesToFullRangeConcentratedPosition-audit' into adam/duplicate-price-for-multiple-ticks-patch"
  .github/workflows/check-broken-links.yml
  osmomath/decimal.go
  osmomath/int.go
  osmoutils/accum/prefix.go
  proto/osmosis/superfluid/tx.proto
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/concentrated-liquidity/math/precompute.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/swaps.go
  x/gamm/types/key.go
  x/superfluid/README.md
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/unpool.go
  x/superfluid/keeper/unpool_test.go
  x/superfluid/types/errors.go
  x/superfluid/types/tx.pb.go
Owners: @osmosis-labs/devops, @czarcas7ic, @p0mvn, @mattverse, @stackman27

reduce code duplication lock and lockNoSend
  x/lockup/keeper/lock.go
Owners: @mattverse, @stackman27, @czarcas7ic

lockNoSend as default
  x/lockup/keeper/export_test.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
Owners: @mattverse, @stackman27, @czarcas7ic

Apply suggestions from code review
  x/poolmanager/types/codec.go
Owners: @czarcas7ic, @p0mvn, @mattverse

comment
  proto/osmosis/superfluid/tx.proto
  x/superfluid/types/tx.pb.go
Owners: @mattverse, @stackman27

coins
  x/concentrated-liquidity/client/cli/tx.go
Owners: @czarcas7ic, @p0mvn

remove Q
  x/concentrated-liquidity/position.go
Owners: @czarcas7ic, @p0mvn

remove Q
  x/superfluid/keeper/slash.go
Owners: @mattverse, @stackman27

fix: add split route message to codec and interface registration (#5168)
  x/poolmanager/types/codec.go
Owners: @czarcas7ic, @p0mvn, @mattverse

fix conflict
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

updates
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

normalize
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

revert name
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
Owners: @mattverse, @stackman27

updates
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

maxAmountDepositedFullRange
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

refactor: remove cache context from swap out given in (#5176)
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

[CL][InternalReview] MsgAddToConcentratedLiquiditySuperfluidPosition (#5157)
  app/apptesting/concentrated_liquidity.go
  go.mod
  go.sum
  osmoutils/errors.go
  osmoutils/store_helper.go
  osmoutils/store_helper_test.go
  proto/osmosis/superfluid/tx.proto
  tests/cl-genesis-positions/convert.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/cl.go
  x/concentrated-liquidity/types/cl_test.go
  x/concentrated-liquidity/types/keys.go
  x/gamm/keeper/migrate.go
  x/gamm/types/expected_keepers.go
  x/incentives/types/expected_keepers.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/superfluid/README.md
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/keeper/concentrated_liquidity_test.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/gov/gov.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/slash.go
  x/superfluid/keeper/slash_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/types/errors.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/gov.go
  x/superfluid/types/tx.pb.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @stackman27

CL: benchmark for swaps (#5170)
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/math/math.go
Owners: @czarcas7ic, @p0mvn

implement and test query support for CL gauges
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
Owners: @czarcas7ic, @p0mvn

Update x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn
