Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

save linting progress
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position_test.go
  x/incentives/client/cli/cli_test.go
  x/poolmanager/router_test.go
  x/poolmanager/types/routes_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

separate account for fees
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/pool.go
Owners: @czarcas7ic, @p0mvn

removed comments
  x/gamm/keeper/pool_test.go
Owners: @mattverse, @czarcas7ic, @p0mvn

s. to suite
  osmoutils/store_helper_test.go
  x/gamm/pool-models/stableswap/integration_test.go
  x/gamm/pool-models/stableswap/msgs_test.go
  x/twap/keeper_test.go
  x/twap/migrate_test.go
Owners: @mattverse, @czarcas7ic, @p0mvn, @nicolaslara

fully passing
  osmoutils/store_helper_test.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/ibc-hooks/ibc_middleware_test.go
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/tick_test.go
  x/pool-incentives/keeper/keeper_test.go
  x/protorev/keeper/keeper_test.go
  x/tokenfactory/keeper/createdenom_test.go
  x/twap/export_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @nicolaslara

misc cleanup lets make sure we did not break e2e
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/stableswap/amm_bench_test.go
  x/gamm/pool-models/stableswap/integration_test.go
  x/twap/api_test.go
  x/valset-pref/keeper_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @nicolaslara, @stackman27

Revert "Merge remote-tracking branch 'origin/main' into dong/issue3849"
  x/gamm/keeper/pool_service_test.go
  x/gamm/keeper/pool_test.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/pool-models/stableswap/pool_test.go
Owners: @mattverse, @czarcas7ic, @p0mvn

ErrInsufficientFunds
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

sync
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Owners: @mattverse, @nicolaslara

deprecation notices
  app/upgrades/v15/upgrade_test.go
  wasmbinding/query_plugin_test.go
  x/concentrated-liquidity/swaps_test.go
  x/gamm/client/cli/cli_test.go
  x/gamm/client/cli/query_test.go
  x/gamm/keeper/pool_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

lint cliq bench test
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

cliq tests
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/position_test.go
  x/gamm/keeper/swap_test.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/pool_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

nolint the final two type assertions on chatgpt's advice
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

Add join/exit pool hook tests
  x/protorev/keeper/hooks.go
  x/protorev/keeper/hooks_test.go
Owners: @p0mvn

Add pool creation hook test
  x/protorev/keeper/hooks_test.go
  x/protorev/keeper/keeper_test.go
Owners: @p0mvn

initial work for pre-seap unwind recovery
  cosmwasm/contracts/crosschain-registry/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/error.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/src/state.rs
  cosmwasm/contracts/crosschain-swaps/src/utils.rs
  cosmwasm/packages/registry/src/error.rs
  cosmwasm/packages/registry/src/registry.rs
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/ibc_middleware_test.go
Owners: none

chore: commit at the end of benchmark (#5229)
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

sync
  go.mod
  go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Owners: none

sync
  tests/cl-go-client/go.mod
Owners: none

propperly process reply
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/path_validation_test.go
Owners: none

update test var name
  x/concentrated-liquidity/fees_test.go
Owners: @czarcas7ic, @p0mvn

Update x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

chore: add chosing an exponentAtPriceOne docs (#4919)
  x/concentrated-liquidity/README.md
Owners: @czarcas7ic, @p0mvn

update changelog
  CHANGELOG.md
Owners: none

fix conflicts
  x/pool-incentives/keeper/grpc_query_test.go
Owners: @czarcas7ic, @p0mvn

[CL][Incentives Query][Bug]: Implement support for CL gauges to incentivized pools query (#5187)
  CHANGELOG.md
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
Owners: @czarcas7ic, @p0mvn

remove MsgCreateIncentive
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/clmodule/module.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Owners: @czarcas7ic, @p0mvn

progress
  x/concentrated-liquidity/swaps.go
  x/poolmanager/router.go
Owners: @czarcas7ic, @p0mvn, @mattverse

checked logic
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

more checks
  x/concentrated-liquidity/swaps.go
  x/poolmanager/router.go
Owners: @czarcas7ic, @p0mvn, @mattverse

moved all fmterror to errors
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/types/errors.go
  x/poolmanager/router.go
Owners: @czarcas7ic, @p0mvn, @mattverse

cleanup
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

resolved feedbacks
  x/poolmanager/router.go
  x/poolmanager/router_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

cli tested
  x/concentrated-liquidity/client/cli/tx.go
Owners: @czarcas7ic, @p0mvn

added test
  x/concentrated-liquidity/swaps.go
  x/poolmanager/export_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

resolved feedbacks
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/types/errors.go
Owners: @czarcas7ic, @p0mvn

fixed ci
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/types/errors.go
Owners: @czarcas7ic, @p0mvn

use comm pool for swap
  app/upgrades/v16/concentrated_pool.go
  app/upgrades/v16/concentrated_pool_test.go
  app/upgrades/v16/export_test.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  tests/e2e/helpers_e2e_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

correct pool ID
  tests/e2e/e2e_test.go
Owners: none

roman's review
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/stake_test.go
Owners: @mattverse, @stackman27

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops
