Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops

remove err returning
  app/upgrades/v16/upgrades.go
Owners: none

go mod tidy
  go.sum
Owners: none

check err, log
  app/upgrades/v16/upgrades.go
Owners: none

log instead of pass back up errors
  app/upgrades/v16/upgrades.go
  x/protorev/keeper/rebalance.go
Owners: @p0mvn

Add comments in tests
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

perf: liquidity net in direction sdk.Int -> int64 (#5299)
  proto/osmosis/concentrated-liquidity/query.proto
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Owners: @czarcas7ic, @p0mvn

Delete more test code
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

adjust run time for golangci and autofixes after merging main and accepting "theirs"
  .golangci.yml
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position_test.go
  x/gamm/keeper/pool_test.go
  x/gamm/pool-models/stableswap/util_test.go
  x/poolmanager/msg_server_test.go
Owners: @czarcas7ic, @p0mvn, @mattverse

Bump ibc-go module to 4.3.1
  go.mod
  go.sum
Owners: none

Remove go.work.sum
  go.work.sum
Owners: none

Bump ibc-go module to 4.3.1
  go.mod
  go.sum
Owners: none

Remove go.work.sum
  go.work.sum
Owners: none

Add version in changelog
  CHANGELOG.md
Owners: none

Remove go.work.sum
  go.work.sum
Owners: none

Pin golang version to 1.19 in state-check ci
  .github/workflows/check-state-compatibility.yml
Owners: @osmosis-labs/devops

Remove merge conflict in CHANGELOG.md
  CHANGELOG.md
Owners: none

[v15.1.1] Bump `ibc-go` to 4.3.1 (#5303)
  .github/workflows/check-state-compatibility.yml
  CHANGELOG.md
  go.mod
  go.sum
  go.work.sum
Owners: @osmosis-labs/devops

Use IBC apps repo for AsyncICQ (#5301)
  Makefile
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v15/constants.go
  app/upgrades/v15/export_test.go
  app/upgrades/v15/upgrades.go
  go.mod
  go.sum
  tests/cl-genesis-positions/go.mod
Owners: @osmosis-labs/devops

feat: do not require changelog and state machine labels for markdown only changes (#5297)
  .github/workflows/changelog-entry-reminder.yml
  .github/workflows/required_labels.yml
Owners: @osmosis-labs/devops

Add defense in depth
  x/lockup/types/lock.go
Owners: @mattverse, @stackman27, @czarcas7ic

Fix lint
  x/concentrated-liquidity/lp_test.go
Owners: @czarcas7ic, @p0mvn

Remove commented out code
  app/upgrades/v16/upgrades.go
  x/protorev/module.go
Owners: @p0mvn

clean up comments
  app/upgrades/v16/upgrades.go
  x/protorev/keeper/genesis.go
Owners: @p0mvn

add clarifying comment
  app/upgrades/v16/upgrades.go
Owners: none

Update changelog for v15.1.2
  CHANGELOG.md
Owners: none

add deprecated to underlying messages
  proto/osmosis/lockup/query.proto
  x/lockup/types/query.pb.go
Owners: @mattverse, @stackman27, @czarcas7ic

Update x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives.go
Owners: @czarcas7ic, @p0mvn

Update x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives.go
Owners: @czarcas7ic, @p0mvn

Update changelog with v15.1.1 entry
  CHANGELOG.md
Owners: none

comment
  x/concentrated-liquidity/incentives_test.go
Owners: @czarcas7ic, @p0mvn

remove iterator
  x/lockup/keeper/grpc_query.go
  x/lockup/keeper/synthetic_lock.go
Owners: @mattverse, @stackman27, @czarcas7ic

Feat/v15.x update changelog (#5308)
  CHANGELOG.md
Owners: none

add IsNil check
  x/lockup/keeper/lock.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/synthetic_lock.go
  x/lockup/types/lock.go
Owners: @mattverse, @stackman27, @czarcas7ic

perf: liquidity for full range sdk.Int -> int64 (#5300)
  proto/osmosis/concentrated-liquidity/query.proto
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Owners: @czarcas7ic, @p0mvn

add pool link to bench (#5291)
  x/concentrated-liquidity/bench_test.go
Owners: @czarcas7ic, @p0mvn

Update CHANGELOG.md after v15.1.2
  CHANGELOG.md
Owners: none

fix typpo
  app/upgrades/v16/upgrades.go
Owners: none

add back iterator
  x/lockup/keeper/synthetic_lock.go
Owners: @mattverse, @stackman27, @czarcas7ic

add back old CLI command
  x/lockup/client/cli/query.go
Owners: @mattverse, @stackman27, @czarcas7ic

perf: remove repeated fee accumulator unmarshaling in swaps (#5298)
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Owners: @czarcas7ic, @p0mvn
