Repository osmosis-labs/osmosis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @mattverse, @stackman27, @osmosis-labs/devops

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn
x/incentives/ @mattverse @p0mvn
x/lockup/ @mattverse @stackman27 @czarcas7ic
x/mint/ @p0mvn
x/pool-incentives/ @czarcas7ic @p0mvn
x/poolmanager/ @czarcas7ic @p0mvn @mattverse
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn
x/txfees/ @nicolaslara @p0mvn
x/valset-pref/ @mattverse @stackman27

/.github/ @osmosis-labs/devops
Dockerfile @osmosis-labs/devops
.dockerignore @osmosis-labs/devops
Makefile @osmosis-labs/devops
/tests/localosmosis/ @osmosis-labs/devops
/tests/localrelayer/ @osmosis-labs/devops

updates
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
Owners: @czarcas7ic, @p0mvn

[CL Message Audit]: MsgUnlockAndMigrateSharesToFullRangeConcentratedPosition [2/2] (#5160)
  tests/cl-go-client/go.mod
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/errors.go
  x/superfluid/types/expected_keepers.go
Owners: @czarcas7ic, @p0mvn, @mattverse, @stackman27

perf: iterator improvements for swap in given out and liquidity for full range query
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

Add amino proto annotations (#4629)
  CHANGELOG.md
  proto/amino/amino.proto
  proto/osmosis/gamm/pool-models/balancer/balancerPool.proto
  proto/osmosis/gamm/pool-models/balancer/tx/tx.proto
  proto/osmosis/gamm/pool-models/stableswap/stableswap_pool.proto
  proto/osmosis/gamm/pool-models/stableswap/tx.proto
  proto/osmosis/gamm/v1beta1/gov.proto
  proto/osmosis/gamm/v1beta1/tx.proto
  proto/osmosis/incentives/tx.proto
  proto/osmosis/lockup/tx.proto
  proto/osmosis/pool-incentives/v1beta1/gov.proto
  proto/osmosis/protorev/v1beta1/gov.proto
  proto/osmosis/protorev/v1beta1/tx.proto
  proto/osmosis/superfluid/tx.proto
  proto/osmosis/superfluid/v1beta1/gov.proto
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  proto/osmosis/txfees/v1beta1/gov.proto
  proto/osmosis/valset-pref/v1beta1/tx.proto
  scripts/protocgen.sh
  x/gamm/pool-models/balancer/balancerPool.pb.go
  x/gamm/pool-models/balancer/tx.pb.go
  x/gamm/pool-models/stableswap/stableswap_pool.pb.go
  x/gamm/pool-models/stableswap/tx.pb.go
  x/gamm/types/gov.pb.go
  x/gamm/types/tx.pb.go
  x/incentives/types/tx.pb.go
  x/lockup/types/tx.pb.go
  x/pool-incentives/types/gov.pb.go
  x/protorev/types/gov.pb.go
  x/protorev/types/tx.pb.go
  x/superfluid/types/gov.pb.go
  x/superfluid/types/tx.pb.go
  x/tokenfactory/types/tx.pb.go
  x/txfees/types/gov.pb.go
  x/valset-pref/types/tx.pb.go
Owners: @mattverse, @czarcas7ic, @p0mvn, @stackman27, @nicolaslara

chore: bump sdk fork with sqrt perf improvements
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Owners: @mattverse, @nicolaslara

Update x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/fees_test.go
Owners: @czarcas7ic, @p0mvn

updates
  x/concentrated-liquidity/swaps.go
Owners: @czarcas7ic, @p0mvn

refactor: reinvest dust fees into pool accumulator (#5245)
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
Owners: @czarcas7ic, @p0mvn

perf: iterator improvements for swap in given out and liquidity for full range query (#5248)
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/tick.go
Owners: @czarcas7ic, @p0mvn

add labels
  .github/dependabot.yml
Owners: @osmosis-labs/devops

changelog
  CHANGELOG.md
Owners: none

change URL report title
  .github/workflows/check-broken-links.yml
Owners: @osmosis-labs/devops

change URL report title (#5251)
  .github/workflows/check-broken-links.yml
Owners: @osmosis-labs/devops

add order and claim
  .vscode/launch.json
  go.mod
  loot.go
  osmoutils/sumtree/node.go
  osmoutils/sumtree/tree.go
  osmoutils/sumtree/tree_test.go
Owners: none

rm state compat label from gomod
  .github/dependabot.yml
Owners: @osmosis-labs/devops

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

fixed parent node update error
  osmoutils/sumtree/node.go
  osmoutils/sumtree/tree.go
  osmoutils/sumtree/tree_test.go
Owners: none

create loot proto
  osmoutils/sumtree/tree_test.go
  proto/osmosis/concentrated-liquidity/loot.proto
  x/concentrated-liquidity/loot.go
  x/concentrated-liquidity/types/loot.pb.go
Owners: @czarcas7ic, @p0mvn

[GAMM] Add test for `GetMaximalNoSwapLPAmount` (#5161)
  x/gamm/keeper/export_test.go
  x/gamm/keeper/pool_test.go
Owners: @mattverse, @czarcas7ic, @p0mvn

fix: fixed concentrated liquidity price tick equation variable naming
  x/concentrated-liquidity/README.md
Owners: @czarcas7ic, @p0mvn

updated readme
  CHANGELOG.md
Owners: none

json routed splitrouteswapexactamountin
  x/poolmanager/client/cli/tx.go
Owners: @czarcas7ic, @p0mvn, @mattverse

audited the message
  x/poolmanager/client/cli/tx.go
  x/poolmanager/msg_server_test.go
  x/poolmanager/router.go
  x/poolmanager/types/routes.go
Owners: @czarcas7ic, @p0mvn, @mattverse

added parsing for split-route-swap-exact-amount-out
  x/poolmanager/client/cli/tx.go
Owners: @czarcas7ic, @p0mvn, @mattverse

cleanup and changelog
  CHANGELOG.md
  x/poolmanager/client/cli/tx.go
Owners: @czarcas7ic, @p0mvn, @mattverse

remove changelog entry
  CHANGELOG.md
Owners: none

fix: concentrated liquidity price tick equation variable (#5254)
  x/concentrated-liquidity/README.md
Owners: @czarcas7ic, @p0mvn

added missing ack callback to memo and amount. Better tests
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/ibc_lifecycle.rs
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/ibc_middleware_test.go
Owners: none

x86 bytecode
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
Owners: none

clippy
  cosmwasm/contracts/crosschain-registry/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/packages/registry/src/registry.rs
Owners: none

rename fee collection
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/cl-genesis-positions/edit_localosmosis_genesis.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/clmodule/module.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Owners: @czarcas7ic, @p0mvn

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

multiple fee tokens gov prop
  proto/osmosis/txfees/v1beta1/gov.proto
  x/txfees/client/cli/query_test.go
  x/txfees/client/cli/tx.go
  x/txfees/keeper/gov.go
  x/txfees/keeper/keeper_test.go
  x/txfees/types/gov.go
  x/txfees/types/gov.pb.go
Owners: @nicolaslara, @p0mvn

Add pool creation tests, handle CL pools differently due to 0 liquidity creation
  x/protorev/keeper/hooks.go
  x/protorev/keeper/hooks_test.go
  x/protorev/keeper/keeper_test.go
Owners: @p0mvn

Remove superfluous swap_test lines
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

Update ExtractSwappedPools to no longer need tx
  x/protorev/keeper/posthandler.go
Owners: @p0mvn

more of the same code reduction applied
  x/concentrated-liquidity/swaps_test.go
Owners: @czarcas7ic, @p0mvn

Update TestExtractSwappedPools for new hook-based logic
  x/protorev/keeper/posthandler_test.go
Owners: @p0mvn

update changelog
  CHANGELOG.md
Owners: none

add cli example line
  x/txfees/client/cli/tx.go
Owners: @nicolaslara, @p0mvn
