Repository osmosis-labs/osmosis, changes with the labels that .github/labeler.yml gives for each.
All labels: C:app-wiring, C:simulator, C:wasm, C:x/claim, C:x/concentrated-liquidity, C:x/epochs, C:x/gamm, C:x/incentives, C:x/lockup, C:x/mint, C:x/pool-incentives, C:x/superfluid, C:x/poolmanager, C:x/txfees, C:x/tokenfactory, C:x/twap, T:build, T:CI, C:CLI, C:docs

prevent rand coin value from locking zero coins (#7674)
  x/lockup/keeper/migration_test.go
Labels: C:x/lockup

updated proto contracts and added update params handler
  osmoutils/slice_helper.go
  osmoutils/slice_helper_test.go
  proto/osmosis/bridge/v1beta1/bridge.proto
  proto/osmosis/bridge/v1beta1/events.proto
  proto/osmosis/bridge/v1beta1/query.proto
  proto/osmosis/bridge/v1beta1/tx.proto
  x/bridge/keeper/assets.go
  x/bridge/keeper/genesis.go
  x/bridge/keeper/keeper.go
  x/bridge/keeper/msg_server.go
  x/bridge/keeper/params.go
  x/bridge/keeper/query_server.go
  x/bridge/types/bridge.pb.go
  x/bridge/types/errors.go
  x/bridge/types/events.pb.go
  x/bridge/types/expected_keepers.go
  x/bridge/types/msgs.go
  x/bridge/types/params.go
  x/bridge/types/query.pb.go
  x/bridge/types/tx.pb.go
Labels: none

made x/tokenfactory mint and burn methods public
  x/tokenfactory/keeper/bankactions.go
  x/tokenfactory/keeper/msg_server.go
Labels: C:x/tokenfactory

fixed tests
  x/tokenfactory/keeper/bankactions.go
  x/tokenfactory/keeper/msg_server.go
Labels: C:x/tokenfactory

Create devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

test db
  app/app.go
  go.mod
Labels: C:app-wiring

recover from panic
  app/app.go
Labels: C:app-wiring

kvstore name
  app/app.go
Labels: C:app-wiring

commit kv store instead
  app/app.go
Labels: C:app-wiring

Add back delete swaps to backrun after each tx
  x/protorev/keeper/posthandler.go
Labels: none

Add changelog
  CHANGELOG.md
Labels: none

Remove 1day 7day liquidity bonds
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
Labels: C:app-wiring

Add changelog
  CHANGELOG.md
Labels: none

revert anyof failure
  x/authenticator/authenticator/any_of.go
  x/authenticator/authenticator/composition_test.go
  x/authenticator/testutils/spy_authenticator.go
Labels: none

add more cases
  x/authenticator/authenticator/composition_test.go
  x/authenticator/testutils/spy_authenticator.go
Labels: none

use cache ctx instead of loop reset
  x/authenticator/authenticator/composition_test.go
Labels: none

remove unused err guard
  x/authenticator/authenticator/cosmwasm.go
Labels: none

feat: add selected authenticator check to circuit breaker
  x/authenticator/ante/circuit_breaker.go
  x/authenticator/authenticator/cosmwasm.go
Labels: none

changes based on feedback and test fix
  app/ante.go
  x/authenticator/ante/ante.go
  x/authenticator/ante/limit_fee_payer_test.go
Labels: C:app-wiring

Improving readme (#7673)
  proto/osmosis/authenticator/tx.proto
  x/authenticator/README.md
  x/authenticator/types/tx.pb.go
Labels: C:docs

Speedup CL pool hooks, by only JSON marshalling if there is ahook
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/pool_hooks.go
  x/concentrated-liquidity/pool_hooks_test.go
Labels: C:x/concentrated-liquidity

Add changelog
  CHANGELOG.md
Labels: none

feat(x/protorev): Use Transient store to store swap backruns (#7665)
  .vscode/settings.json
  CHANGELOG.md
  app/keepers/keepers.go
  app/keepers/keys.go
  x/protorev/keeper/keeper.go
  x/protorev/keeper/protorev.go
  x/protorev/types/keys.go
Labels: C:app-wiring

Move some Balancer Dec operations to be mutative
  osmomath/math.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/constants.go
  x/gamm/pool-models/balancer/pool.go
Labels: C:x/gamm

chore: improve comments and reduce code with inlined statement
  x/authenticator/ante/circuit_breaker.go
Labels: none

Make a protorev error a constant
  x/protorev/keeper/routes.go
  x/protorev/types/errors.go
Labels: none

added x/bridge module proto contracts
  proto/osmosis/bridge/v1beta1/bridge.proto
  proto/osmosis/bridge/v1beta1/events.proto
  proto/osmosis/bridge/v1beta1/genesis.proto
  proto/osmosis/bridge/v1beta1/query.proto
  proto/osmosis/bridge/v1beta1/tx.proto
  x/bridge/types/bridge.pb.go
  x/bridge/types/events.pb.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/query.pb.go
  x/bridge/types/query.pb.gw.go
  x/bridge/types/tx.pb.go
Labels: none

Make CL calculations not update accumulators
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: C:x/concentrated-liquidity

Fix lint
  x/concentrated-liquidity/swaps.go
Labels: C:x/concentrated-liquidity

Fix calcInAmtGivenOut case
  x/concentrated-liquidity/swaps.go
Labels: C:x/concentrated-liquidity

Make a protorev error a constant (#7687)
  x/protorev/keeper/routes.go
  x/protorev/types/errors.go
Labels: none

Make a protorev error a constant (#7687)
  x/protorev/keeper/routes.go
  x/protorev/types/errors.go
Labels: none

Make one more CL operation mutative
  x/concentrated-liquidity/swaps.go
Labels: C:x/concentrated-liquidity

Make a protorev error a constant (#7687)
  x/protorev/keeper/routes.go
  x/protorev/types/errors.go
Labels: none

Make more CL operation mutative (#7692)
  x/concentrated-liquidity/swaps.go
Labels: C:x/concentrated-liquidity

Make more CL operation mutative (#7692)
  x/concentrated-liquidity/swaps.go
Labels: C:x/concentrated-liquidity

Make more CL operation mutative (#7692)
  x/concentrated-liquidity/swaps.go
Labels: C:x/concentrated-liquidity

added x/bridge module proto contracts (#7688)
  proto/osmosis/bridge/v1beta1/bridge.proto
  proto/osmosis/bridge/v1beta1/events.proto
  proto/osmosis/bridge/v1beta1/genesis.proto
  proto/osmosis/bridge/v1beta1/query.proto
  proto/osmosis/bridge/v1beta1/tx.proto
  x/bridge/types/bridge.pb.go
  x/bridge/types/events.pb.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/query.pb.go
  x/bridge/types/query.pb.gw.go
  x/bridge/types/tx.pb.go
Labels: none

Enforce that the fee payer is the first signer of the first message (#7657)
  app/ante.go
  x/authenticator/ante/ante.go
  x/authenticator/ante/ante_test.go
  x/authenticator/ante/limit_fee_payer.go
  x/authenticator/ante/limit_fee_payer_test.go
Labels: C:app-wiring

feat: add selected authenticator check to circuit breaker (#7683)
  x/authenticator/ante/circuit_breaker.go
  x/authenticator/authenticator/cosmwasm.go
Labels: none

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeler Github Action.
"C:app-wiring":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of app folder except wasm sub-folder
          - app/*.go
          - app/apptesting/**
          - app/keepers/**
          - app/params/**
          - app/upgrades/**
          # Also match any module.go update
          - x/**/module.go
"C:simulator":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of simulation & tests/simulator folder
          - simulation/**
          - tests/simulator/**
          # Match any module update
          - x/**/simulation/*.go
"C:wasm":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of app/wasm folder
          - app/wasm/**
"C:x/claim":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/claim folder
          - x/claim/**
"C:x/concentrated-liquidity":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/concentrated-liquidity folder
          - x/concentrated-liquidity/**
"C:x/epochs":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/epochs folder
          - x/epochs/**
"C:x/gamm":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/gamm folder
          - x/gamm/**
"C:x/incentives":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/incentives folder
          - x/incentives/**
"C:x/lockup":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/lockup folder
          - x/lockup/**
"C:x/mint":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/mint folder
          - x/mint/**
"C:x/pool-incentives":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/pool-incentives folder
          - x/pool-incentives/**
"C:x/superfluid":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/superfluid folder
          - x/superfluid/**
"C:x/poolmanager":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/poolmanager folder
          - x/poolmanager/**
"C:x/txfees":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/txfees folder
          - x/txfees/**
"C:x/tokenfactory":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/tokenfactory folder
          - x/tokenfactory/**
"C:x/twap":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/twap folder
          - x/twap/**
"T:build":
  - changed-files:
      - any-glob-to-any-file:
          - Makefile
          - Dockerfile
          - scripts/*
"T:CI":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of the CI files
          - .github/**/*.yml
          - .mergify.yml
          - .golangci.yml
"C:CLI":
  - changed-files:
      - any-glob-to-any-file:
          - client/**
          - x/*/client/**
# Add "C:docs" label to documented related files and directories.
"C:docs":
  - changed-files:
      - any-glob-to-any-file:
          - bug.md
          - issue.md
          - proto-docs.md
          - README.md
          - x/**/*.md
          - x/**/*/*.md
          - tests/**/*.md
