Repository osmosis-labs/osmosis, changes with the labels that .github/labeler.yml gives for each.
All labels: C:app-wiring, C:simulator, C:wasm, C:x/claim, C:x/epochs, C:x/gamm, C:x/incentives, C:x/lockup, C:x/mint, C:x/pool-incentives, C:x/superfluid, C:x/txfees, C:x/tokenfactory, C:x/twap, T:build, T:CI, C:CLI, C:docs

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"C:app-wiring":
  # Match all of app folder except wasm sub-folder
  - app/*.go
  - app/apptesting/**/*
  - app/keepers/**/*
  - app/params/**/*
  - app/upgrades/**/*
  # Also match any module.go update
  - x/**/module.go
"C:simulator":
  # Match all of simulation & tests/simulator folder
  - simulation/**/*
  - simulation/**/**/*
  - tests/simulator/**
  # Match any module update
  - x/**/simulation/*.go
"C:wasm":
  - app/wasm/**/*
"C:x/claim":
  - x/claim/**/*
"C:x/epochs":
  - x/epochs/**/*
"C:x/gamm":
  - x/gamm/**/*
"C:x/incentives":
  - x/incentives/**/*
"C:x/lockup":
  - x/lockup/**/*
"C:x/mint":
  - x/mint/**/*
"C:x/pool-incentives":
  - x/pool-incentives/**/*
"C:x/superfluid":
  - x/superfluid/**/*
"C:x/txfees":
  - x/txfees/**/*
"C:x/tokenfactory":
  - x/tokenfactory/**/*
"C:x/twap":
  - x/twap/*
  - x/twap/**/*
"T:build":
  - Makefile
  - Dockerfile
  - scripts/*
"T:CI":
  - .github/**/*.yml
  - .mergify.yml
  - .golangci.yml
"C:CLI":
  - client/**/*
  - x/*/client/**/*
# Add "C:docs" label to documented related files and directories. 
"C:docs":
  - CHANGELOG.md
  - bug.md
  - issue.md
  - proto-docs.md
  - README.md
  - x/**/*.md
  - x/**/*/*.md
  - tests/**/*.md

progress
  x/mint/keeper/hooks_test.go
Labels: C:x/mint

mutation fix changes
  x/twap/store.go
  x/twap/store_test.go
  x/twap/types/genesis_test.go
  x/twap/types/keys.go
  x/twap/types/utils.go
  x/twap/types/utils_test.go
Labels: C:x/twap

remove sender in EstimatePerformSwap
  wasmbinding/message_plugin.go
  wasmbinding/queries.go
Labels: none

refactor(x/superfluid): improve error handling for AddNewSuperfluidAsset (#2473)
  CHANGELOG.md
  app/upgrades/v7/upgrades.go
  x/superfluid/keeper/gov/gov.go
  x/superfluid/keeper/keeper_test.go
  x/superfluid/keeper/superfluid_asset.go
  x/superfluid/keeper/unpool_test.go
Labels: C:app-wiring, C:x/superfluid, C:docs

Apply suggestions from code review
  x/twap/listeners_test.go
Labels: C:x/twap

changes from code review
  x/twap/listeners_test.go
Labels: C:x/twap

code review
  x/twap/listeners_test.go
Labels: C:x/twap

prod version
  .github/workflows/mutest-issue-generate.yml
Labels: T:CI

isolate discrepancies per module account
  x/mint/keeper/hooks_test.go
  x/mint/keeper/keeper.go
  x/mint/types/expected_keepers.go
Labels: C:x/mint

move test getters to export_test
  x/mint/keeper/export_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
Labels: C:x/mint

tokenfactory mutation test changes
  app/apptesting/test_suite.go
  x/tokenfactory/keeper/createdenom.go
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/keeper/genesis.go
  x/tokenfactory/keeper/genesis_test.go
  x/tokenfactory/keeper/keeper_test.go
  x/tokenfactory/types/expected_keepers.go
Labels: C:app-wiring, C:x/tokenfactory

add godocs for truncation keys
  x/mint/keeper/keeper.go
  x/mint/types/keys.go
Labels: C:x/mint

calculateTotalTruncationDelta tests
  x/mint/keeper/export_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
Labels: C:x/mint

remove erroneous change
  app/apptesting/test_suite.go
Labels: C:app-wiring

improve minter godoc
  x/mint/types/minter.go
Labels: C:x/mint

Change comments
  x/twap/api_test.go
Labels: C:x/twap

Add migration tests
  app/upgrades/v12/upgrade_test.go
  x/twap/migrate_test.go
Labels: C:app-wiring, C:x/twap
