Repository osmosis-labs/osmosis, changes with the labels that .github/labeler.yml gives for each.
All labels: C:app-wiring, C:simulator, C:wasm, C:x/claim, C:x/concentrated-liquidity, C:x/epochs, C:x/gamm, C:x/incentives, C:x/lockup, C:x/mint, C:x/pool-incentives, C:x/superfluid, C:x/poolmanager, C:x/txfees, C:x/tokenfactory, C:x/twap, T:build, T:CI, C:CLI, C:docs

feat: Init observer stub
  observer/observer.go
  observer/observer_test.go
Labels: none

chore: reduce more epoch log noise (#7660)
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/cache_ctx.go
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/txfees/keeper/hooks.go
Labels: C:x/epochs, C:x/txfees

chore: reduce more epoch log noise (#7660)
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/cache_ctx.go
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/txfees/keeper/hooks.go
Labels: C:x/epochs, C:x/txfees

chore: reduce more epoch log noise (#7660)
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/cache_ctx.go
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/txfees/keeper/hooks.go
Labels: C:x/epochs, C:x/txfees

feat: unblock white whale pools
  ingest/sqs/pools/ingester/pool_ingester.go
Labels: none

feat: unblock ww pools
  ingest/sqs/pools/ingester/pool_ingester.go
Labels: none

lint
  ingest/sqs/pools/ingester/pool_ingester.go
Labels: none

fix initial merge conflicts
  go.mod
  go.sum
  osmoutils/go.mod
  x/epochs/go.mod
  x/txfees/keeper/hooks.go
Labels: C:x/epochs, C:x/txfees

more merge conflicts
  osmoutils/go.mod
  x/epochs/go.mod
Labels: C:x/epochs

feat: unblock ww pools (#7716)
  ingest/sqs/pools/ingester/pool_ingester.go
Labels: none

feat: unblock ww pools (#7716)
  ingest/sqs/pools/ingester/pool_ingester.go
Labels: none

feat: unblock ww pools (#7716)
  ingest/sqs/pools/ingester/pool_ingester.go
Labels: none

initial merge conflicts
  go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/txfees/keeper/hooks.go
Labels: C:x/epochs, C:x/txfees

move out of for loop
  x/txfees/keeper/hooks.go
Labels: C:x/txfees

Auto: update go.mod after push to mergify/bp/v23.x/pr-7660 that modified dependencies locally
  go.mod
  go.sum
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs

Auto: update go.mod after push to mergify/bp/v23.x-iavl-v1/pr-7660 that modified dependencies locally
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs

start implementing tests
  osmoutils/cosmwasm/helpers_test.go
Labels: none

accidental iavl bump
  osmoutils/go.mod
  osmoutils/go.sum
Labels: none

Auto: update go.mod after push to mergify/bp/v23.x/pr-7660 that modified dependencies locally
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs

tidy
  go.sum
Labels: none

iavl bump undo again
  osmoutils/go.mod
  osmoutils/go.sum
Labels: none

Revert "iavl bump undo again"
  osmoutils/go.mod
  osmoutils/go.sum
Labels: none

Revert "Auto: update go.mod after push to mergify/bp/v23.x/pr-7660 that modified dependencies locally"
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs

Revert "accidental iavl bump"
  osmoutils/go.mod
  osmoutils/go.sum
Labels: none

Revert "Auto: update go.mod after push to mergify/bp/v23.x/pr-7660 that modified dependencies locally"
  go.mod
  go.sum
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs

Revert "tidy"
  go.sum
Labels: none

Revert "Auto: update go.mod after push to mergify/bp/v23.x-iavl-v1/pr-7660 that modified dependencies locally"
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs

Revert "move out of for loop"
  x/txfees/keeper/hooks.go
Labels: C:x/txfees

Revert "initial merge conflicts"
  go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/txfees/keeper/hooks.go
Labels: C:x/epochs, C:x/txfees

revert all changes to go mods
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs

fix hooks
  x/txfees/keeper/hooks.go
Labels: C:x/txfees

update go mods
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs

tidy
  go.sum
Labels: none

Revert "more merge conflicts"
  osmoutils/go.mod
  x/epochs/go.mod
Labels: C:x/epochs

Revert "fix initial merge conflicts"
  go.mod
  go.sum
  osmoutils/go.mod
  x/epochs/go.mod
  x/txfees/keeper/hooks.go
Labels: C:x/epochs, C:x/txfees

go mods
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/txfees/keeper/hooks.go
Labels: C:x/epochs, C:x/txfees

tidy
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs

one more tidy
  go.sum
Labels: none

move log out of loop
  x/txfees/keeper/hooks.go
Labels: C:x/txfees

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeler Github Action.
"C:app-wiring":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of app folder except wasm sub-folder
          - app/*.go
          - app/apptesting/**
          - app/keepers/**
          - app/params/**
          - app/upgrades/**
          # Also match any module.go update
          - x/**/module.go
"C:simulator":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of simulation & tests/simulator folder
          - simulation/**
          - tests/simulator/**
          # Match any module update
          - x/**/simulation/*.go
"C:wasm":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of app/wasm folder
          - app/wasm/**
"C:x/claim":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/claim folder
          - x/claim/**
"C:x/concentrated-liquidity":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/concentrated-liquidity folder
          - x/concentrated-liquidity/**
"C:x/epochs":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/epochs folder
          - x/epochs/**
"C:x/gamm":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/gamm folder
          - x/gamm/**
"C:x/incentives":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/incentives folder
          - x/incentives/**
"C:x/lockup":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/lockup folder
          - x/lockup/**
"C:x/mint":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/mint folder
          - x/mint/**
"C:x/pool-incentives":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/pool-incentives folder
          - x/pool-incentives/**
"C:x/superfluid":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/superfluid folder
          - x/superfluid/**
"C:x/poolmanager":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/poolmanager folder
          - x/poolmanager/**
"C:x/txfees":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/txfees folder
          - x/txfees/**
"C:x/tokenfactory":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/tokenfactory folder
          - x/tokenfactory/**
"C:x/twap":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/twap folder
          - x/twap/**
"T:build":
  - changed-files:
      - any-glob-to-any-file:
          - Makefile
          - Dockerfile
          - scripts/*
"T:CI":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of the CI files
          - .github/**/*.yml
          - .mergify.yml
          - .golangci.yml
"C:CLI":
  - changed-files:
      - any-glob-to-any-file:
          - client/**
          - x/*/client/**
# Add "C:docs" label to documented related files and directories.
"C:docs":
  - changed-files:
      - any-glob-to-any-file:
          - bug.md
          - issue.md
          - proto-docs.md
          - README.md
          - x/**/*.md
          - x/**/*/*.md
          - tests/**/*.md
