Repository osmosis-labs/osmosis, changes with the labels that .github/labeler.yml gives for each.
All labels: C:app-wiring, C:wasm, C:x/claim, C:x/epochs, C:x/gamm, C:x/incentives, C:x/lockup, C:x/mint, C:x/pool-incentives, C:x/superfluid, C:x/txfees, Type:build, Type:CI, C:CLI

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"C:app-wiring":
  # Match all of app folder except wasm sub-folder
  - app/*.go
  - app/apptesting/**/*
  - app/keepers/**/*
  - app/params/**/*
  - app/upgrades/**/*
  # Also match any module.go update
  - x/**/module.go
"C:wasm":
  - app/wasm/**/*
"C:x/claim":
  - x/claim/**/*
"C:x/epochs":
  - x/epochs/**/*
"C:x/gamm":
  - x/gamm/**/*
"C:x/incentives":
  - x/incentives/**/*
"C:x/lockup":
  - x/lockup/**/*
"C:x/mint":
  - x/mint/**/*
"C:x/pool-incentives":
  - x/pool-incentives/**/*
"C:x/superfluid":
  - x/superfluid/**/*
"C:x/txfees":
  - x/txfees/**/*
"Type:build":
  - Makefile
  - Dockerfile
  - scripts/*
"Type:CI":
  - .github/**/*.yml
  - .mergify.yml
  - .golangci.yml
"C:CLI":
  - client/**/*
  - x/*/client/**/*

define commands and queries on chain config struct
  tests/e2e/configurer/base.go
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/configurer/cmd.go
  tests/e2e/configurer/config/constants.go
  tests/e2e/configurer/containers/containers.go
  tests/e2e/configurer/factory.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/e2e_test.go
Labels: none

lint
  tests/e2e/configurer/upgrade.go
Labels: none

format
  tests/e2e/configurer/containers/containers.go
Labels: none

remove unused noRestart function
  tests/e2e/configurer/base.go
Labels: none

remove more redundant structs
  tests/e2e/e2e_setup_test.go
Labels: none

refactor: e2e test containers abstraction
  tests/e2e/containers/config.go
  tests/e2e/containers/containers.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
Labels: none

add godocs
  tests/e2e/containers/containers.go
Labels: none

godocs and typo fix
  tests/e2e/containers/containers.go
  tests/e2e/e2e_setup_test.go
Labels: none

more godocs
  tests/e2e/containers/containers.go
Labels: none

remove require import
  tests/e2e/e2e_util_test.go
Labels: none

unexport pool
  tests/e2e/containers/containers.go
Labels: none

fix godoc typos
  tests/e2e/containers/containers.go
Labels: none

add comment about using eventually in ExecCmd
  tests/e2e/containers/containers.go
Labels: none

remove require import
  tests/e2e/e2e_util_test.go
Labels: none

Add ICAHost to AppModuleBasics
  app/keepers/modules.go
  app/upgrades/v9/upgrades.go
Labels: C:app-wiring

Add changelog entry
  CHANGELOG.md
Labels: none

Add fuzz test
  x/gamm/pool-models/balancer/amm_joinpool_test.go
Labels: C:x/gamm

Apply suggestions from code review
  proto/osmosis/superfluid/query.proto
  x/superfluid/client/cli/query.go
  x/superfluid/keeper/grpc_query_test.go
Labels: C:x/superfluid, C:CLI
