Repository osmosis-labs/osmosis, changes with the labels that .github/labeler.yml gives for each.
All labels: C:app-wiring, C:simulator, C:wasm, C:x/claim, C:x/concentrated-liquidity, C:x/epochs, C:x/gamm, C:x/incentives, C:x/lockup, C:x/mint, C:x/pool-incentives, C:x/superfluid, C:x/poolmanager, C:x/txfees, C:x/tokenfactory, C:x/twap, T:build, T:CI, C:CLI, C:docs

made x/tokenfactory mint and burn methods public
  x/tokenfactory/keeper/bankactions.go
  x/tokenfactory/keeper/msg_server.go
Labels: C:x/tokenfactory

added x/bridge into the app
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  osmoutils/slice_helper.go
  osmoutils/slice_helper_test.go
  x/bridge/client/cli/query.go
  x/bridge/client/cli/tx.go
  x/bridge/keeper/assets.go
  x/bridge/keeper/genesis.go
  x/bridge/keeper/keeper.go
  x/bridge/keeper/msg_server.go
  x/bridge/keeper/params.go
  x/bridge/keeper/query_server.go
  x/bridge/module.go
  x/bridge/types/assets.go
  x/bridge/types/expected_keepers.go
  x/bridge/types/params.go
Labels: C:app-wiring, C:CLI

deleted wiring in app
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  x/bridge/keeper/msg_server.go
  x/bridge/keeper/params.go
  x/bridge/types/msgs.go
  x/bridge/types/params.go
Labels: C:app-wiring

review
  osmoutils/slice_helper.go
  x/bridge/keeper/params.go
Labels: none

added x/bridge module
  osmoutils/slice_helper.go
  osmoutils/slice_helper_test.go
  x/bridge/README.md
  x/bridge/images/MintBurn.png
  x/bridge/images/MintBurn.puml
  x/bridge/keeper/assets.go
  x/bridge/keeper/genesis.go
  x/bridge/keeper/keeper.go
  x/bridge/keeper/msg_server.go
  x/bridge/keeper/params.go
  x/bridge/keeper/query_server.go
  x/bridge/keeper/transfers.go
  x/bridge/module.go
  x/bridge/types/assets.go
  x/bridge/types/codec.go
  x/bridge/types/constants.go
  x/bridge/types/errors.go
  x/bridge/types/expected_keepers.go
  x/bridge/types/genesis.go
  x/bridge/types/keys.go
  x/bridge/types/msgs.go
  x/bridge/types/params.go
Labels: C:app-wiring, C:docs

reverter osmoutils
  osmoutils/slice_helper.go
  osmoutils/slice_helper_test.go
Labels: none

[Smart Account] Revert state of failed authenticator within anyOf (#7678)
  x/authenticator/authenticator/any_of.go
  x/authenticator/authenticator/composition_test.go
  x/authenticator/testutils/spy_authenticator.go
Labels: none

setup spend limit test
  x/authenticator/authenticator/spend_limits_test.go
  x/authenticator/testutils/bytecode/spend_limit_v1.0.0-alpha.1.wasm
Labels: none

inbound and outbound transfers handlers
  proto/osmosis/bridge/v1beta1/events.proto
  proto/osmosis/bridge/v1beta1/tx.proto
  x/bridge/client/cli/tx.go
  x/bridge/keeper/assets.go
  x/bridge/keeper/genesis.go
  x/bridge/keeper/helpers.go
  x/bridge/keeper/keeper.go
  x/bridge/keeper/msg_server.go
  x/bridge/keeper/params.go
  x/bridge/keeper/query_server.go
  x/bridge/keeper/transfers.go
  x/bridge/types/assets.go
  x/bridge/types/codec.go
  x/bridge/types/constants.go
  x/bridge/types/errors.go
  x/bridge/types/events.pb.go
  x/bridge/types/expected_keepers.go
  x/bridge/types/msgs.go
  x/bridge/types/params.go
  x/bridge/types/tx.pb.go
Labels: C:CLI

Generated protofile changes
  proto/osmosis/bridge/v1beta1/tx.proto
Labels: none

update cosmos sdk fork
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs

update sdk fork
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs

updates to changelog
  CHANGELOG.md
Labels: none

update cosmos sdk fork (#7697)
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs

update sdk fork (#7698)
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs

Move some Balancer Dec operations to be mutative (#7686)
  osmomath/math.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/constants.go
  x/gamm/pool-models/balancer/pool.go
Labels: C:x/gamm

Move some Balancer Dec operations to be mutative (#7686)
  osmomath/math.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/constants.go
  x/gamm/pool-models/balancer/pool.go
Labels: C:x/gamm

Move some Balancer Dec operations to be mutative (#7686)
  osmomath/math.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/constants.go
  x/gamm/pool-models/balancer/pool.go
Labels: C:x/gamm

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

chore: updates to changelog (#7696)
  CHANGELOG.md
Labels: none

chore: updates to changelog (#7696)
  CHANGELOG.md
Labels: none

chore: updates to changelog (#7696)
  CHANGELOG.md
Labels: none

fix conflicts
  CHANGELOG.md
Labels: none

fix conflicts
  CHANGELOG.md
Labels: none

add spend limit test
  x/authenticator/ante/ante.go
  x/authenticator/authenticator/base_test.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/signature_authenticator_test.go
  x/authenticator/authenticator/spend_limits_test.go
Labels: none

add more cases
  x/authenticator/authenticator/spend_limits_test.go
Labels: none

implement whitelist fast node config osmosis side
  app/apptesting/test_suite.go
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:app-wiring, C:x/epochs

stop code rabbit spam
  .coderabbit.yaml
Labels: none

and base branch
  .coderabbit.yaml
Labels: none

auto chat to false
  .coderabbit.yaml
Labels: none

properly register slashing upgrade 3 to 4
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs

feat: implement whitelist fast node config osmosis side (#7704)
  app/apptesting/test_suite.go
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:app-wiring, C:x/epochs

feat: implement whitelist fast node config osmosis side (#7704)
  app/apptesting/test_suite.go
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:app-wiring, C:x/epochs

feat: implement whitelist fast node config osmosis side (#7704)
  app/apptesting/test_suite.go
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:app-wiring, C:x/epochs

Update .coderabbit.yaml
  .coderabbit.yaml
Labels: none

fix conflicts
  app/apptesting/test_suite.go
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:app-wiring, C:x/epochs

fix
  app/apptesting/test_suite.go
Labels: C:app-wiring

fix conflicts
  app/apptesting/test_suite.go
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:app-wiring, C:x/epochs

add log
  x/txfees/keeper/hooks.go
Labels: C:x/txfees

Add script deploy a node local
  scripts/test_node_deploy.sh
Labels: T:build

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeler Github Action.
"C:app-wiring":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of app folder except wasm sub-folder
          - app/*.go
          - app/apptesting/**
          - app/keepers/**
          - app/params/**
          - app/upgrades/**
          # Also match any module.go update
          - x/**/module.go
"C:simulator":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of simulation & tests/simulator folder
          - simulation/**
          - tests/simulator/**
          # Match any module update
          - x/**/simulation/*.go
"C:wasm":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of app/wasm folder
          - app/wasm/**
"C:x/claim":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/claim folder
          - x/claim/**
"C:x/concentrated-liquidity":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/concentrated-liquidity folder
          - x/concentrated-liquidity/**
"C:x/epochs":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/epochs folder
          - x/epochs/**
"C:x/gamm":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/gamm folder
          - x/gamm/**
"C:x/incentives":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/incentives folder
          - x/incentives/**
"C:x/lockup":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/lockup folder
          - x/lockup/**
"C:x/mint":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/mint folder
          - x/mint/**
"C:x/pool-incentives":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/pool-incentives folder
          - x/pool-incentives/**
"C:x/superfluid":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/superfluid folder
          - x/superfluid/**
"C:x/poolmanager":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/poolmanager folder
          - x/poolmanager/**
"C:x/txfees":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/txfees folder
          - x/txfees/**
"C:x/tokenfactory":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/tokenfactory folder
          - x/tokenfactory/**
"C:x/twap":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of x/twap folder
          - x/twap/**
"T:build":
  - changed-files:
      - any-glob-to-any-file:
          - Makefile
          - Dockerfile
          - scripts/*
"T:CI":
  - changed-files:
      - any-glob-to-any-file:
          # Match all of the CI files
          - .github/**/*.yml
          - .mergify.yml
          - .golangci.yml
"C:CLI":
  - changed-files:
      - any-glob-to-any-file:
          - client/**
          - x/*/client/**
# Add "C:docs" label to documented related files and directories.
"C:docs":
  - changed-files:
      - any-glob-to-any-file:
          - bug.md
          - issue.md
          - proto-docs.md
          - README.md
          - x/**/*.md
          - x/**/*/*.md
          - tests/**/*.md
