Repository osmosis-labs/osmosis, pull requests merged in 2021-04, with the labels that each got.

#61 Update cosmos-sdk version to v0.42.3
  go.mod
  go.sum
Labels: dependencies

#81 Add hooks for gamm and lockup modules
  app/app.go
  x/gamm/keeper/keeper.go
  x/gamm/keeper/pool_service.go
  x/gamm/types/hooks.go
  x/lockup/keeper/keeper.go
  x/lockup/keeper/lock.go
  x/lockup/spec/06_hooks.md
  x/lockup/types/hooks.go
Labels: x/gamm, x/lockup

#89 Remove staking keeper from mint module
  app/app.go
  x/mint/keeper/keeper.go
  x/mint/types/expected_keepers.go
Labels: code-hygiene, x/mint

#117 Refactor getting pool, in assets, and out assets together
  x/gamm/keeper/math.go
  x/gamm/keeper/multihop.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
Labels: code-hygiene, x/gamm

#120 Add CreatePool from JSON to x/gamm CLI
  x/gamm/client/cli/cli_test.go
  x/gamm/client/cli/flags.go
  x/gamm/client/cli/parse.go
  x/gamm/client/cli/tx.go
  x/gamm/client/testutil/test_helpers.go
Labels: CLI, x/gamm
