Repository osmosis-labs/osmosis, pull requests merged in 2021-05, with the labels that each got.

#129 Remove CreatePool CLI flags
  x/gamm/client/cli/cli_test.go
  x/gamm/client/cli/flags.go
  x/gamm/client/cli/parse.go
  x/gamm/client/cli/tx.go
  x/gamm/client/testutil/test_helpers.go
Labels: CLI, x/gamm

#130 Add LBP support to MsgCreatePool json
  x/gamm/client/cli/cli_test.go
  x/gamm/client/cli/flags.go
  x/gamm/client/cli/tx.go
Labels: CLI, x/gamm

#133 Change bech32 prefix to osmo
  app/params/address.go
  config/config.go
  go.sum
  x/gamm/client/cli/cli_test.go
  x/gamm/client/cli/tx.go
  x/gamm/types/account_test.go
  x/gamm/types/msgs.go
  x/gamm/types/msgs_test.go
  x/lockup/client/cli/cli_test.go
  x/mint/client/cli/cli_test.go
Labels: CLI, api-breaking, code-hygiene

#148 Recreated go.sum and run make proto-all
  go.sum
  proto/osmosis/claim/v1beta1/genesis.proto
  proto/osmosis/claim/v1beta1/params.proto
  proto/osmosis/claim/v1beta1/query.proto
  x/claim/types/genesis.pb.go
Labels: code-hygiene

#162 Rename Gamm CLI query from records to pool-assets
  x/gamm/client/cli/cli_test.go
  x/gamm/client/cli/query.go
Labels: CLI, x/gamm

#165 Switch all proto structs to use strings for addresses
  proto/osmosis/epochs/genesis.proto
  proto/osmosis/epochs/query.proto
  proto/osmosis/gamm/v1beta1/query.proto
  proto/osmosis/incentives/genesis.proto
  proto/osmosis/incentives/params.proto
  proto/osmosis/incentives/query.proto
  proto/osmosis/incentives/tx.proto
  proto/osmosis/lockup/lock.proto
  proto/osmosis/lockup/query.proto
  proto/osmosis/lockup/tx.proto
  x/gamm/types/msgs.go
  x/incentives/client/cli/tx.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/keeper/msg_server.go
  x/incentives/keeper/pot.go
  x/incentives/types/msgs.go
  x/incentives/types/msgs_test.go
  x/incentives/types/query.pb.go
  x/incentives/types/tx.pb.go
  x/lockup/client/cli/query.go
  x/lockup/client/cli/tx.go
  x/lockup/client/rest/query.go
  x/lockup/client/rest/tx.go
  x/lockup/keeper/admin_keeper.go
  x/lockup/keeper/grpc_query.go
  x/lockup/keeper/grpc_query_test.go
  x/lockup/keeper/keeper_test.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/query.go
  x/lockup/keeper/utils.go
  x/lockup/keeper/utils_test.go
  x/lockup/types/lock.go
  x/lockup/types/lock.pb.go
  x/lockup/types/msgs.go
  x/lockup/types/query.pb.go
  x/lockup/types/tx.pb.go
Labels: code-hygiene, gRPC, proto-breaking

#174 Initial liquid amount per address in genesis should be 20%
  cmd/osmosisd/cmd/genesis.go
Labels: genesis, x/claim

#176 Increase gamm initial shares to 100 * 10^18
  x/gamm/client/cli/cli_test.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/types/constants.go
Labels: x/gamm

#169 Make Pools not be Accounts
  app/params/address.go
  proto/osmosis/gamm/v1beta1/pool.proto
  v043_temp/address/hash.go
  v043_temp/address/hash_test.go
  v043_temp/address/store_key.go
  v043_temp/address/store_key_test.go
  v043_temp/conv/doc.go
  v043_temp/conv/string.go
  v043_temp/conv/string_test.go
  x/gamm/client/cli/query.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/multihop.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/share.go
  x/gamm/keeper/swap.go
  x/gamm/types/codec.go
  x/gamm/types/key.go
  x/gamm/types/marshal.go
  x/gamm/types/marshal_test.go
  x/gamm/types/msgs.go
  x/gamm/types/msgs_test.go
  x/gamm/types/pool.go
  x/gamm/types/pool.pb.go
  x/gamm/types/pool_asset.go
  x/gamm/types/pool_test.go
Labels: api-breaking, proto-breaking, state-machine-breaking, x/gamm

#177 Switch Default CalculateSpotPrice to be without SwapFee
  proto/osmosis/gamm/v1beta1/query.proto
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/keeper_test.go
  x/gamm/keeper/multihop_test.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
  x/gamm/types/query.pb.go
Labels: proto-breaking, x/gamm

#178 Ran `make docs`
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
  client/docs/statik/statik.go
Labels: documentation

#105 Pool incentives
  app/app.go
  cmd/osmosisd/cmd/genesis.go
  proto/osmosis/mint/v1beta1/mint.proto
  proto/osmosis/pool-incentives/v1beta1/genesis.proto
  proto/osmosis/pool-incentives/v1beta1/gov.proto
  proto/osmosis/pool-incentives/v1beta1/incentives.proto
  proto/osmosis/pool-incentives/v1beta1/query.proto
  x/gamm/client/cli/cli_test.go
  x/gamm/client/testutil/test_helpers.go
  x/lockup/types/lock.pb.go
  x/lockup/types/query.pb.go
  x/lockup/types/tx.pb.go
  x/mint/abci.go
  x/mint/client/cli/cli_test.go
  x/mint/client/rest/grpc_query_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/simulation/genesis.go
  x/mint/types/expected_keepers.go
  x/mint/types/hooks.go
  x/mint/types/mint.pb.go
  x/mint/types/params.go
  x/pool-incentives/abci.go
  x/pool-incentives/client/cli/tx.go
  x/pool-incentives/client/proposal_handler.go
  x/pool-incentives/client/rest/tx.go
  x/pool-incentives/handler.go
  x/pool-incentives/keeper/distr.go
  x/pool-incentives/keeper/distr_test.go
  x/pool-incentives/keeper/genesis.go
  x/pool-incentives/keeper/gov.go
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
  x/pool-incentives/keeper/hooks.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
  x/pool-incentives/keeper/params.go
  x/pool-incentives/module.go
  x/pool-incentives/spec/01_concepts.md
  x/pool-incentives/spec/02_state.md
  x/pool-incentives/spec/03_gov.md
  x/pool-incentives/spec/README.md
  x/pool-incentives/types/codec.go
  x/pool-incentives/types/errors.go
  x/pool-incentives/types/expected_keepers.go
  x/pool-incentives/types/genesis.go
  x/pool-incentives/types/genesis.pb.go
  x/pool-incentives/types/gov.go
  x/pool-incentives/types/gov.pb.go
  x/pool-incentives/types/incentives.pb.go
  x/pool-incentives/types/key.go
  x/pool-incentives/types/params.go
  x/pool-incentives/types/query.pb.go
  x/pool-incentives/types/query.pb.gw.go
  x/pool-incentives/types/record.go
  x/pool-incentives/types/record_test.go
Labels: feature
