Repository osmosis-labs/osmosis, pull requests merged in 2022-05, with the labels that each got.

#1385 Add initial pool liquidity validation to stableswap msg.ValidateBasic function
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/types/errors.go
Labels: C:x/gamm

#1394 chore: v7.x update CHANGELOG.md
  CHANGELOG.md
Labels: A:automerge

#1398 chore: add codeowners
  .github/CODEOWNERS
Labels: A:automerge

#1396 Delete unused REST endpoints from modules
  x/epochs/client/rest/rest.go
  x/epochs/module.go
  x/gamm/client/rest/api.go
  x/gamm/client/rest/query.go
  x/gamm/client/rest/tx.go
  x/gamm/module.go
  x/incentives/client/rest/rest.go
  x/incentives/module.go
Labels: C:CLI, C:x/gamm, C:x/incentives, C:x/epochs, A:automerge

#1400 chore: Delete unused RegisterCodec functions, and store key param for cli queries
  x/epochs/client/cli/query.go
  x/epochs/module.go
  x/epochs/types/codec.go
  x/incentives/client/cli/query.go
  x/incentives/module.go
  x/lockup/client/cli/query.go
  x/lockup/module.go
  x/pool-incentives/client/cli/query.go
  x/pool-incentives/module.go
  x/superfluid/client/cli/query.go
  x/superfluid/module.go
  x/txfees/client/cli/query.go
  x/txfees/module.go
Labels: C:x/lockup, C:CLI, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/txfees, A:automerge

#1253 Add lockup duration edit method
  proto/osmosis/lockup/tx.proto
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/msg_server_test.go
  x/lockup/types/msgs.go
  x/lockup/types/tx.pb.go
Labels: C:x/lockup

#1383 multi-asset swap / LP equations, and tests
  osmoutils/partialord/partialord_test.go
  tests/e2e/chain_init/main.go
  tests/e2e/e2e_setup_test.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/stableswap/amm.go
Labels: C:x/gamm, A:automerge

#1379 Add structs for Upgrades and Forks structs
  CHANGELOG.md
  app/app.go
  app/forks.go
  app/keepers/keepers.go
  app/upgrades/README.md
  app/upgrades/types.go
  app/upgrades/v3/constants.go
  app/upgrades/v3/forks.go
  app/upgrades/v4/constants.go
  app/upgrades/v4/upgrades.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v6/constants.go
  app/upgrades/v6/forks.go
  app/upgrades/v7/constants.go
  app/upgrades/v7/upgrades.go
  app/upgrades/v8/constants.go
  app/upgrades/v8/upgrades.go
Labels: A:automerge

#1354 Add scaling factors
  proto/osmosis/gamm/pool-models/stableswap/stableswap_pool.proto
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/stableswap_pool.pb.go
Labels: C:x/gamm, A:automerge

#1315 fix: pool params query
  x/gamm/client/cli/query.go
  x/gamm/pool-models/balancer/codec.go
Labels: C:CLI, C:x/gamm

#1405 Add Hook for Extend Lockup Duration
  x/lockup/keeper/lock.go
  x/lockup/types/hooks.go
  x/superfluid/keeper/hooks.go
Labels: C:x/lockup, C:x/superfluid

#1431 chore: readme image
  README.md
  assets/logo.png
Labels: C:docs, A:automerge

#1432 chore: Add discord link to README
  README.md
Labels: A:automerge

#1436 chore: Update readme img
  README.md
  assets/banner.png
  assets/logo.png
Labels: A:automerge

#1440 fix(proto/tokenfactory): fix annotation
  docs/core/proto-docs.md
  proto/osmosis/tokenfactory/v1beta1/query.proto
  x/lockup/types/tx.pb.go
  x/tokenfactory/types/query.pb.go
Labels: T:bug 🐛, C:x/lockup

#1435 x/tokenfactory create denom fee
  app/keepers/keepers.go
  docs/core/proto-docs.md
  proto/osmosis/lockup/tx.proto
  proto/osmosis/tokenfactory/v1beta1/genesis.proto
  proto/osmosis/tokenfactory/v1beta1/params.proto
  proto/osmosis/tokenfactory/v1beta1/query.proto
  x/lockup/types/tx.pb.go
  x/tokenfactory/genesis.go
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/createdenom.go
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/keeper/grpc_query.go
  x/tokenfactory/keeper/keeper.go
  x/tokenfactory/keeper/keeper_test.go
  x/tokenfactory/keeper/params.go
  x/tokenfactory/types/expected_keepers.go
  x/tokenfactory/types/genesis.go
  x/tokenfactory/types/genesis.pb.go
  x/tokenfactory/types/params.go
  x/tokenfactory/types/params.pb.go
  x/tokenfactory/types/query.pb.go
  x/tokenfactory/types/query.pb.gw.go
Labels: C:x/lockup

#1429 solver for multi-asset CFMM
  ante/sendblock_test.go
  osmomath/decimal_test.go
  osmomath/int.go
  osmomath/int_test.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, A:automerge

#1376 x/tokenfactory: cli
  x/tokenfactory/client/cli/query.go
  x/tokenfactory/client/cli/tx.go
  x/tokenfactory/module.go
Labels: C:CLI

#1399 Contributing.md link & PR template simplifications & Added ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue.md
  .github/pull_request_template.md
  README.md
Labels: Type:CI

#1454 chore: auto add pull requests to project board
  .github/workflows/add-issue-to-project.yml
  .github/workflows/add-pr-to-project.yml
Labels: Type:CI

#1463 Add PRs to project
  .github/workflows/add-issue-pr-to-project.yml
  .github/workflows/add-pr-to-project.yml
Labels: Type:CI

#1467 chore: let issue.md appear in templates
  .github/ISSUE_TEMPLATE/issue.md
Labels: A:automerge

#1233 x/lockup: Move messageServer logic for LockTokens into keeper method
  x/incentives/keeper/bench_test.go
  x/incentives/keeper/suite_test.go
  x/lockup/genesis_test.go
  x/lockup/keeper/gas_test.go
  x/lockup/keeper/grpc_query_test.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/msg_server_test.go
  x/lockup/types/msgs.go
  x/superfluid/keeper/stake_test.go
Labels: C:x/lockup, C:x/incentives, C:x/superfluid

#1307 refactor: JoinSwapShareAmountOut
  go.mod
  x/gamm/client/cli/cli_test.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/balancer_pool.go
  x/gamm/types/pool.go
Labels: C:CLI, C:x/gamm

#1477 fix: update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: Type:CI

#1469 Change proto service for Balancer Msg
  proto/osmosis/gamm/pool-models/balancer/balancerPool.proto
  proto/osmosis/gamm/pool-models/balancer/tx.proto
  proto/osmosis/gamm/pool-models/stableswap/stableswap_pool.proto
  proto/osmosis/gamm/pool-models/stableswap/tx.proto
  x/gamm/pool-models/balancer/balancerPool.pb.go
  x/gamm/pool-models/balancer/tx.pb.go
  x/gamm/pool-models/stableswap/stableswap_pool.pb.go
  x/gamm/pool-models/stableswap/tx.pb.go
Labels: C:x/gamm, A:automerge

#1475 Reduce Pool1 Swap Fee via Updgrade Handler
  app/upgrades/v8/prop214.go
  app/upgrades/v8/prop214_test.go
  app/upgrades/v8/upgrades.go
Labels: A:automerge

#1445 Enable wasm mint bindings
  app/keepers/keepers.go
  app/wasm/bindings/msg.go
  app/wasm/bindings/query.go
  app/wasm/message_plugin.go
  app/wasm/query_plugin.go
  app/wasm/test/custom_msg_test.go
  app/wasm/test/custom_query_test.go
  app/wasm/test/messages_test.go
  app/wasm/test/queries_test.go
  app/wasm/testdata/osmo_reflect.wasm
  app/wasm/testdata/version.txt
  app/wasm/wasm.go
  x/tokenfactory/keeper/keeper.go
Labels: A:automerge

#1495 Move upgrades v8 folder to v9
  .mergify.yml
  app/app.go
  app/upgrades/v9/constants.go
  app/upgrades/v9/prop214.go
  app/upgrades/v9/prop214_test.go
  app/upgrades/v9/upgrades.go
Labels: A:automerge, Type:CI

#1523 Disable Stableswap
  x/gamm/keeper/msg_server.go
  x/gamm/module.go
Labels: C:x/gamm, A:automerge

#1191 add governance support for superfluid
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/superfluid

#1526 test: skip upgrade option
  .github/workflows/test.yml
  Makefile
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_util_test.go
Labels: Type:build, Type:CI

#1530 add msg_test.go for stableswap msg
  x/gamm/pool-models/stableswap/msgs_test.go
Labels: C:x/gamm

#1527 chore: upgrade wasmd to v0.27.0.rc3-osmo and ibc-go to v3
  CHANGELOG.md
  Dockerfile
  Makefile
  app/ante.go
  app/app.go
  app/genesis.go
  app/keepers.go
  app/modules.go
  app/upgrades/v5/upgrades.go
  contrib/images/rbuilder/Dockerfile
  go.mod
  go.sum
  simapp/params.json
  simapp/sim_test.go
  tests/e2e/chain_init/chain-init.Dockerfile
Labels: C:x/lockup, C:CLI, C:x/gamm, C:x/mint, C:x/incentives, C:x/claim, C:x/epochs, C:x/pool-incentives, Type:build, Type:CI

#1515 v8 Major release checklist: Updated Changelog.md
  CHANGELOG.md
Labels: A:automerge, Type:CI

#1538 chore: update mergify to backport to v9.x
  .mergify.yml
Labels: Type:CI

#1499 Scaling factor governor
  proto/osmosis/gamm/pool-models/stableswap/stableswap_pool.proto
  proto/osmosis/gamm/pool-models/stableswap/tx.proto
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/pool-models/stableswap/codec.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/stableswap_pool.pb.go
  x/gamm/pool-models/stableswap/tx.pb.go
  x/gamm/types/errors.go
Labels: C:x/gamm

#1546 bug: tx flags for txfees update prop
  x/txfees/client/cli/tx.go
Labels: C:CLI, C:x/txfees, A:automerge, A:backport/v8.x, A:backport/v9.x

#1540 add test for CalcExitPool
  x/gamm/pool-models/internal/cfmm_common/lp.go
  x/gamm/pool-models/internal/cfmm_common/lp_test.go
Labels: C:x/gamm

#1541 Add arm64 support to Docker images
  .github/workflows/docker.yml
  CHANGELOG.md
  Dockerfile
Labels: A:automerge, Type:build, Type:CI

#1551 Make token factory handle empty genesis configurations better
  Dockerfile
  x/tokenfactory/genesis.go
  x/tokenfactory/keeper/createdenom.go
Labels: Type:build

#1492 Docbuild automation
  x/epochs/spec/README.md
  x/gamm/spec/05_queries_transactions.md
  x/gamm/spec/README.md
  x/incentives/spec/README.md
  x/lockup/spec/README.md
  x/mint/spec/README.md
  x/pool-incentives/spec/README.md
  x/tokenfactory/spec/README.md
  x/txfees/spec/README.md
Labels: C:x/lockup, C:x/gamm, C:x/mint, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/txfees

#1555 fix: gov support for superfluid
  app/keepers/keepers.go
  x/superfluid/keeper/keeper.go
Labels: C:x/superfluid, A:automerge, A:backport/v9.x

#1565 refactor: e2e setup to be more extensible for state sync
  tests/e2e/docker/image_config.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
Labels: A:automerge

#1568 Fix sendblock test
  ante/sendblock_test.go
Labels: A:automerge

#1571 Add msg_filter_ante_handler to block IBCTimeoutOnClose
  app/ante.go
  app/upgrades/v9/msg_filter_ante.go
  app/upgrades/v9/msg_filter_ante_test.go
Labels: A:automerge

#1564 Adding ICA Host module
  app/keepers/keepers.go
  app/modules.go
  app/upgrades/v9/constants.go
  app/upgrades/v9/upgrade_test.go
  app/upgrades/v9/upgrades.go
Labels: A:automerge

#1570 chore: upgrade sdk with app version fix for state-sync
  CHANGELOG.md
  app/upgrades/v9/upgrades.go
  go.mod
  go.sum
Labels: A:automerge, A:backport/v9.x

#1573 Make CI only run on pushes to main / release branches. Comment out less useful CLI tests
  .github/workflows/test.yml
  x/gamm/client/cli/cli_test.go
Labels: C:CLI, C:x/gamm, A:automerge, Type:CI

#1581 Move tokenfactory genesis logic into keeper package, de-expose setAuthorityMetadata
  x/tokenfactory/keeper/admins.go
  x/tokenfactory/keeper/createdenom.go
  x/tokenfactory/keeper/genesis.go
  x/tokenfactory/keeper/genesis_test.go
  x/tokenfactory/module.go
Labels: A:automerge

#1583 Add CI cache
  .github/workflows/lint.yml
  .github/workflows/test.yml
  app/app.go
  app/modules.go
Labels: A:automerge, Type:CI

#1566 Docs fixes
  .markdownlint.yml
  x/epochs/spec/01_concepts.md
  x/epochs/spec/02_state.md
  x/epochs/spec/03_events.md
  x/epochs/spec/04_keeper.md
  x/epochs/spec/05_hooks.md
  x/epochs/spec/06_queries.md
  x/epochs/spec/07_future_improvements.md
  x/epochs/spec/README.md
  x/gamm/spec/01_concepts.md
  x/gamm/spec/02_pool_params.md
  x/gamm/spec/03_msgs.md
  x/gamm/spec/04_params.md
  x/gamm/spec/05_queries_transactions.md
  x/gamm/spec/0x_weights.md
  x/gamm/spec/README.md
  x/incentives/spec/01_concepts.md
  x/incentives/spec/02_state.md
  x/incentives/spec/03_messages.md
  x/incentives/spec/04_events.md
  x/incentives/spec/05_hooks.md
  x/incentives/spec/06_queries.md
  x/incentives/spec/07_params.md
  x/incentives/spec/README.md
  x/lockup/spec/01_concepts.md
  x/lockup/spec/02_state.md
  x/lockup/spec/03_messages.md
  x/lockup/spec/04_events.md
  x/lockup/spec/05_keeper.md
  x/lockup/spec/06_hooks.md
  x/lockup/spec/07_queries.md
  x/lockup/spec/08_params.md
  x/lockup/spec/09_endblocker.md
  x/lockup/spec/README.md
  x/mint/spec/01_concepts.md
  x/mint/spec/02_state.md
  x/mint/spec/03_end_epoch.md
  x/mint/spec/04_params.md
  x/mint/spec/05_events.md
  x/mint/spec/README.md
  x/pool-incentives/spec/01_concepts.md
  x/pool-incentives/spec/02_state.md
  x/pool-incentives/spec/03_gov.md
  x/pool-incentives/spec/README.md
Labels: C:x/lockup, C:x/gamm, C:x/mint, C:x/incentives, C:x/epochs, C:x/pool-incentives

#1430 chore: Increase CalcJoinPoolShares Test Coverage
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/balancer_pool.go
  x/gamm/pool-models/balancer/util_test.go
  x/gamm/types/pool.go
Labels: T:tests, C:x/gamm

#1584 Add osmobuilder image to create binaries for amd64 and arm64 for a release
  contrib/images/osmobuilder/Dockerfile
  contrib/images/osmobuilder/Makefile
Labels: A:automerge

#1592 Remove CodeQL from CI
  .github/workflows/codeql-analysis.yml
Labels: A:automerge, Type:CI

#1602 [e2e] Add GitHub cache to docker build
  .github/workflows/test.yml
Labels: Type:CI

#1585 Tokenfactory updates
  app/wasm/bindings/msg.go
  app/wasm/bindings/query.go
  app/wasm/message_plugin.go
  app/wasm/query_plugin.go
  app/wasm/test/custom_msg_test.go
  app/wasm/test/custom_query_test.go
  app/wasm/test/messages_test.go
  app/wasm/test/queries_test.go
  app/wasm/testdata/osmo_reflect.wasm
  app/wasm/testdata/version.txt
  docs/core/proto-docs.md
  go.sum
  proto/osmosis/gamm/pool-models/stableswap/tx.proto
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/tx.pb.go
  x/tokenfactory/README.md
  x/tokenfactory/client/cli/tx.go
  x/tokenfactory/keeper/createdenom.go
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/keeper/genesis.go
  x/tokenfactory/keeper/msg_server.go
  x/tokenfactory/types/denoms.go
  x/tokenfactory/types/denoms_test.go
  x/tokenfactory/types/errors.go
  x/tokenfactory/types/events.go
  x/tokenfactory/types/expected_keepers.go
  x/tokenfactory/types/msgs.go
  x/tokenfactory/types/tx.pb.go
Labels: C:CLI, C:x/gamm

#1610 fix: Only apply v8 fork logic on osmosis-1
  app/upgrades/v8/forks.go
Labels: A:backport/v8.x

#1620 Update changelog with more details for v9
  CHANGELOG.md
Labels: A:automerge

#1625 Small test e2e updates / boilerplate notes
  tests/e2e/chain/config.go
  tests/e2e/chain/validator.go
  tests/e2e/e2e_util_test.go
  x/epochs/types/genesis.go
Labels: C:x/epochs

#1630 Delete v043_temp directory
  CHANGELOG.md
  app/params/config.go
  v043_temp/address/hash.go
  v043_temp/address/hash_test.go
  v043_temp/address/store_key.go
  v043_temp/address/store_key_test.go
  v043_temp/conv/doc.go
  v043_temp/conv/string.go
  v043_temp/conv/string_test.go
  x/gamm/types/pool.go
Labels: C:x/gamm

#1621 Add barebones module README
  .markdownlint.yml
  x/README.md
Labels: A:automerge

#1622 Remove codecov
  .github/workflows/test.yml
  app/keepers/keys.go
Labels: Type:CI
