Repository osmosis-labs/osmosis, pull requests merged in 2022-11, with the labels that each got.

#3169 osmomath(log/CL): ln(x), log_1.0001(x), log_custom(x)
  osmomath/decimal.go
  osmomath/decimal_test.go
Labels: A:backport/v12.x, V:state/compatible/backport

#3100 feat(release): Automated post-upgrade tasks by code generating upgrade handler and auto-increasing e2e version
  .github/workflows/auto-update-upgrade.yml
  scripts/check_release.sh
  scripts/empty_upgrade_handler_gen.sh
Labels: T:CI, T:build, A:backport/v12.x, V:state/compatible/backport

#3189 Concentrated Liquidity: Fix Swap(CalcOutAmtGivenIn)
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/types/constants.go
Labels: C:x/concentrated-liquidity

#3190 Progress on IBC rate limit spec
  .github/workflows/contracts.yml
  .github/workflows/lint.yml
  .markdownlint.yml
  tests/e2e/e2e_test.go
  x/ibc-rate-limit/README.md
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
  x/ibc-rate-limit/testutil/wasm.go
Labels: C:docs, T:CI, V:state/compatible/no_backport

#3206 CL(Swap): Remove dust check
  x/concentrated-liquidity/pool.go
Labels: C:x/concentrated-liquidity

#3207 fix(e2e): various e2e build issues breaking debugging on linux amd64
  .dockerignore
  Makefile
  tests/e2e/containers/config.go
  tests/e2e/e2e_test.go
Labels: T:build, V:state/compatible/no_backport

#3211 chore(CL): merge `main` into `concentrated-liquidity-main`
  .dockerignore
  .github/workflows/auto-update-upgrade.yml
  .github/workflows/contracts.yml
  .github/workflows/lint.yml
  .gitignore
  .markdownlint.yml
  .vscode/launch.json
  .vscode/tasks.json
  Makefile
  app/app.go
  app/apptesting/events.go
  app/keepers/keepers.go
  app/tx_post_handler.go
  chain.schema.json
  go.mod
  go.sum
  osmomath/decimal.go
  osmomath/decimal_test.go
  proto/osmosis/streamswap/v1/event.proto
  proto/osmosis/streamswap/v1/genesis.proto
  proto/osmosis/streamswap/v1/params.proto
  proto/osmosis/streamswap/v1/query.proto
  proto/osmosis/streamswap/v1/state.proto
  proto/osmosis/streamswap/v1/tx.proto
  scripts/check_release.sh
  scripts/empty_upgrade_handler_gen.sh
  tests/e2e/configurer/chain/commands.go
  tests/e2e/containers/config.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/initialization/init_test.go
  x/ibc-rate-limit/README.md
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
  x/ibc-rate-limit/contracts/rate-limiter/Cargo.toml
  x/ibc-rate-limit/contracts/rate-limiter/examples/schema.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/contract_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/error.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/execute.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/helpers.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/integration_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/msg.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/packet.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
  x/ibc-rate-limit/ibc_middleware_test.go
  x/ibc-rate-limit/ibc_module.go
  x/ibc-rate-limit/ics4_wrapper.go
  x/ibc-rate-limit/rate_limit.go
  x/ibc-rate-limit/testdata/rate_limiter.wasm
  x/ibc-rate-limit/testutil/chain.go
  x/ibc-rate-limit/testutil/wasm.go
  x/ibc-rate-limit/types/errors.go
  x/streamswap/README.md
  x/streamswap/types/event.pb.go
  x/streamswap/types/genesis.pb.go
  x/streamswap/types/params.pb.go
  x/streamswap/types/query.pb.go
  x/streamswap/types/query.pb.gw.go
  x/streamswap/types/state.pb.go
  x/streamswap/types/tx.pb.go
Labels: C:docs, T:CI, T:build, C:app-wiring

#2881 [superfluid] TotalDelegationByValidatorForDenom query
  proto/osmosis/superfluid/query.proto
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/types/query.pb.go
Labels: C:x/superfluid, A:backport/v12.x, V:state/compatible/backport

#3214 Add TWAP CLI
  CHANGELOG.md
  x/twap/client/cli/query.go
  x/twap/twapmodule/module.go
Labels: C:CLI, A:automerge, C:app-wiring, C:x/twap, A:backport/v12.x, V:state/compatible/backport

#3212 CL(Swap): Change tests into table-driven tests, Add more tests
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
Labels: C:x/concentrated-liquidity

#3216 TWAP spec and code comments improvements
  x/README.md
  x/twap/README.md
  x/twap/TWAP module - process flow.png
  x/twap/api.go
  x/twap/types/keys.go
Labels: C:docs, C:x/twap, A:backport/v12.x, V:state/compatible/backport

#3205 CL: fix CalcOutAmtGivenIn and other logic
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/math.go
  x/concentrated-liquidity/math_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: C:x/concentrated-liquidity

#2972 feat(gamm): CalcJoinPoolShares and CalcExitPoolCoinsFromShares queries
  CHANGELOG.md
  go.mod
  proto/osmosis/gamm/v1beta1/query.proto
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/types/errors.go
  x/gamm/types/query.pb.go
  x/gamm/types/query.pb.gw.go
Labels: C:x/gamm, A:backport/v12.x, V:state/compatible/backport

#3122 [CL][Swap Router Module] Refactored simulation hack
  app/modules.go
  x/swaprouter/keeper.go
  x/swaprouter/module/module.go
  x/swaprouter/simulation/sim_msgs.go
  x/swaprouter/simulation/sim_setup.go
  x/swaprouter/types/expected_keepers.go
  x/swaprouter/types/routes.go
Labels: T:task ⚙️, C:app-wiring, C:simulator, F: concentrated-liquidity, C:x/swaprouter

#3224 Re-enable stableswap messages
  app/apptesting/test_suite.go
  x/gamm/keeper/msg_server.go
  x/gamm/module.go
  x/gamm/pool-models/stableswap/README.md
  x/gamm/pool-models/stableswap/integration_test.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/msgs_test.go
  x/gamm/pool-models/stableswap/pool.go
Labels: C:docs, C:x/gamm, C:app-wiring, V:state/breaking

#2923 Fix: Last error time now updates during record interpolation
  CHANGELOG.md
  x/twap/api_test.go
  x/twap/logic.go
  x/twap/logic_test.go
Labels: C:x/twap, V:state/breaking

#2984 chore: Fix local testnet scripts and cleanup
  scripts/multinode-local-testnet.sh
  scripts/superfluid-test-startnode.sh
Labels: T:build, V:state/compatible/no_backport

#3248 Properly fix lints
  .github/workflows/contracts.yml
  x/ibc-rate-limit/contracts/rate-limiter/src/lib.rs
Labels: T:CI, V:state/compatible/no_backport

#3225 CL: SwapOutGivenIn logic
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
Labels: C:x/concentrated-liquidity

#2892 [ValSet-Pref] Module Wired up and created MsgSetValidatorSetPreference
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v13/constants.go
  osmoutils/slice_helper.go
  proto/osmosis/valset-pref/v1beta1/query.proto
  proto/osmosis/valset-pref/v1beta1/state.proto
  proto/osmosis/valset-pref/v1beta1/tx.proto
  tests/e2e/scripts/rate_limiter.wasm
  x/valset-pref/README.md
  x/valset-pref/client/query_proto_wrap.go
  x/valset-pref/client/queryproto/query.pb.go
  x/valset-pref/client/queryproto/query.pb.gw.go
  x/valset-pref/keeper.go
  x/valset-pref/keeper_test.go
  x/valset-pref/msg_server.go
  x/valset-pref/msg_server_test.go
  x/valset-pref/types/codec.go
  x/valset-pref/types/expected_interfaces.go
  x/valset-pref/types/keys.go
  x/valset-pref/types/msgs.go
  x/valset-pref/types/msgs_test.go
  x/valset-pref/types/state.pb.go
  x/valset-pref/types/tx.pb.go
  x/valset-pref/validator_set.go
  x/valset-pref/valpref-module/module.go
Labels: C:docs, C:CLI, C:app-wiring, V:state/breaking

#3192 Msgs validate basic
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/msgs_test.go
Labels: C:x/concentrated-liquidity

#3256 Update snapshot service in state compatibility check CI
  .github/workflows/state-compatibility-check.yml
Labels: T:CI, A:backport/v3.x, A:backport/v4.x, A:backport/v6.x, A:backport/v8.x, A:backport/v10.x, A:backport/v11.x, A:backport/v12.x, V:state/compatible/backport

#3219 Calculate channel value across all channels for native tokens
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
  x/ibc-rate-limit/contracts/rate-limiter/src/integration_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state.rs
  x/ibc-rate-limit/ibc_middleware_test.go
  x/ibc-rate-limit/ibc_module.go
  x/ibc-rate-limit/ics4_wrapper.go
  x/ibc-rate-limit/rate_limit.go
Labels: A:automerge, V:state/compatible/no_backport

#3252 Add rounding behavior to our binary search logic, to ensure we always round correctly
  osmomath/decimal.go
  osmoutils/binary_search.go
  osmoutils/binary_search_test.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:x/gamm, A:automerge, V:state/breaking

#3276 move rounding direction into error tolerance
  osmomath/rounding_direction.go
  osmoutils/binary_search.go
  osmoutils/binary_search_test.go
  x/gamm/pool-models/stableswap/amm.go
Labels: C:x/gamm, A:automerge, V:state/compatible/no_backport

#3278 Add p2p.archive.osmosis.zone as a persistent peer
  .github/workflows/state-compatibility-check.yml
Labels: T:CI, A:backport/v3.x, A:backport/v4.x, A:backport/v6.x, A:backport/v8.x, A:backport/v10.x, A:backport/v11.x, A:backport/v12.x, V:state/compatible/backport

#3271 Swaprouter: refactor `InitGenesis` & `ExportGenesis`
  x/swaprouter/keeper_test.go
Labels: C:x/swaprouter

#3223 [x/gamm][stableswap]: Add default scaling factor multiplier, geometric error tolerance, and minimum post-scaled asset amount
  osmoutils/binary_search_test.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/integration_test.go
  x/gamm/pool-models/stableswap/msgs_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
  x/gamm/pool-models/stableswap/util_test.go
  x/gamm/types/constants.go
  x/gamm/types/errors.go
Labels: C:x/gamm, C:stableswap, V:state/breaking

#3286 chore: v12 changelog
  CHANGELOG.md
Labels: C:docs

#3269 feat(CL): pool id routing
  app/upgrades/v13/upgrades.go
  app/upgrades/v13/upgrades_test.go
  proto/osmosis/swaprouter/v1beta1/module_route.proto
  x/gamm/pool-models/stableswap/msgs.go
  x/swaprouter/creator.go
  x/swaprouter/creator_test.go
  x/swaprouter/export_test.go
  x/swaprouter/keeper.go
  x/swaprouter/keeper_test.go
  x/swaprouter/router.go
  x/swaprouter/router_test.go
  x/swaprouter/types/errors.go
  x/swaprouter/types/keys.go
  x/swaprouter/types/module_route.pb.go
  x/swaprouter/types/msg_create_pool.go
Labels: C:x/gamm, C:app-wiring, C:x/swaprouter

#3234 IBC-rate-limiting: modify the contract interface to handle the packet
  app/app.go
  app/keepers/keepers.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
  x/ibc-rate-limit/contracts/rate-limiter/Cargo.toml
  x/ibc-rate-limit/contracts/rate-limiter/src/contract.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/contract_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/integration_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/lib.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/msg.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/packet.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
  x/ibc-rate-limit/ibc_middleware_test.go
  x/ibc-rate-limit/ibc_module.go
  x/ibc-rate-limit/ics4_wrapper.go
  x/ibc-rate-limit/rate_limit.go
Labels: C:app-wiring, V:state/breaking

#3292 Update stableswap spec for error tolerance mathematics
  x/gamm/pool-models/stableswap/README.md
Labels: C:docs, C:x/gamm, V:state/compatible/no_backport

#3231 TWAP code improvements
  osmoutils/export_test.go
  osmoutils/store_helper.go
  osmoutils/store_helper_test.go
  x/twap/listeners_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/migrate_test.go
  x/twap/store.go
  x/twap/twapmodule/module.go
  x/twap/types/utils.go
  x/twap/types/utils_test.go
Labels: A:automerge, C:app-wiring, C:x/twap, A:backport/v12.x, V:state/compatible/backport

#3298 [CI] Align check-state-compatibility workflow on v3
  .github/workflows/check-state-compatibility.yml
Labels: Type:CI

#3301 [CI] Align check-state-compatibility workflow on main
  .github/workflows/check-state-compatibility.yml
Labels: T:CI, V:state/compatible/no_backport

#3302 [CI] Align check-state-compatibility workflow on v12
  .github/workflows/check-state-compatibility.yml
Labels: T:CI

#3303 [CI] Align check-state-compatibility workflow on v11
  .github/workflows/check-state-compatibility.yml
Labels: Type:CI

#3294 Add basic CLI for stableswap
  x/gamm/client/cli/flags.go
  x/gamm/client/cli/parse.go
  x/gamm/client/cli/tx.go
  x/gamm/client/docs/README.md
  x/gamm/client/docs/create-balancer-pool.md
  x/gamm/client/docs/create-stableswap-pool.md
Labels: C:docs, C:CLI, C:x/gamm, V:state/compatible/no_backport

#3304 Properly parsing denoms
  x/ibc-rate-limit/README.md
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
  x/ibc-rate-limit/contracts/rate-limiter/src/packet.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
  x/ibc-rate-limit/ibc_middleware_test.go
  x/ibc-rate-limit/ibc_module.go
Labels: C:docs, V:state/breaking

#3306 Revert for v13 "[ValSet-Pref] Module Wired up and created MsgSetValidatorSetPreference"
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v13/constants.go
  osmoutils/slice_helper.go
  proto/osmosis/validator-preference/v1beta1/query.proto
  proto/osmosis/validator-preference/v1beta1/state.proto
  proto/osmosis/validator-preference/v1beta1/tx.proto
  tests/e2e/scripts/rate_limiter.wasm
  x/valset-pref/README.md
  x/valset-pref/client/query_proto_wrap.go
  x/valset-pref/client/queryproto/query.pb.go
  x/valset-pref/client/queryproto/query.pb.gw.go
  x/valset-pref/keeper.go
  x/valset-pref/keeper_test.go
  x/valset-pref/msg_server.go
  x/valset-pref/msg_server_test.go
  x/valset-pref/types/codec.go
  x/valset-pref/types/expected_interfaces.go
  x/valset-pref/types/keys.go
  x/valset-pref/types/msgs.go
  x/valset-pref/types/msgs_test.go
  x/valset-pref/types/state.pb.go
  x/valset-pref/types/tx.pb.go
  x/valset-pref/validator_set.go
  x/valset-pref/valpref-module/module.go
Labels: C:docs, C:CLI, C:app-wiring

#3235 CL: test expansion
  .github/workflows/contracts.yml
  proto/osmosis/concentrated-liquidity/concentratedPool.proto
  x/concentrated-liquidity/concentratedPool.pb.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math.go
  x/concentrated-liquidity/math_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: T:CI, C:x/concentrated-liquidity

#3312 Add keeper level panic catches
  CHANGELOG.md
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/swap.go
Labels: C:x/gamm, V:state/breaking, A:backport/v13.x

#3313 Upgrade to IBC v3.4.0
  CHANGELOG.md
  go.mod
  go.sum
Labels: V:state/breaking, A:backport/v13.x

#3319 Use current tick instead of recomputing
  x/concentrated-liquidity/pool.go
Labels: C:x/concentrated-liquidity

#3009 gamm: query to get pools with specified parameters
  proto/osmosis/gamm/v1beta1/query.proto
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/types/query.pb.go
  x/gamm/types/query.pb.gw.go
Labels: C:x/gamm, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3325 unfork iavl
  CHANGELOG.md
  go.mod
  go.sum
  store/legacy/v101/tree_test.go
  store/tree_test.go
Labels: C:docs

#3331 Add ledger support for stableswap
  x/gamm/module.go
  x/gamm/pool-models/stableswap/codec.go
  x/gamm/types/msgs_test.go
Labels: C:x/gamm, C:app-wiring, V:state/breaking, A:backport/v13.x

#3332 feat/fix(stableswap): scaling factors CLI, fix bug with not saving pool to state
  x/gamm/client/cli/flags.go
  x/gamm/client/cli/tx.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/pool.go
Labels: C:CLI, C:x/gamm, V:state/compatible/backport, A:backport/v13.x

#3337 fix: limit force unlock perms and add cli
  x/lockup/client/cli/tx.go
  x/lockup/keeper/msg_server.go
Labels: C:x/lockup, C:CLI, V:state/breaking, A:backport/v13.x

#3335 v2 spot price queries
  CHANGELOG.md
  app/apptesting/gamm.go
  proto/osmosis/gamm/v2/query.proto
  proto/osmosis/twap/v2/query.proto
  wasmbinding/query_plugin_test.go
  wasmbinding/stargate_whitelist.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/module.go
  x/gamm/v2types/query.pb.go
  x/gamm/v2types/query.pb.gw.go
  x/twap/client/cli/query.go
  x/twap/client/grpc/grpc_query_v2.go
  x/twap/client/v2query_proto_wrap.go
  x/twap/client/v2queryproto/query.pb.go
  x/twap/client/v2queryproto/query.pb.gw.go
  x/twap/twapmodule/module.go
Labels: C:CLI, C:x/gamm, C:app-wiring, C:x/twap, V:state/breaking, A:backport/v13.x

#3314 Rate limiting - Packet tests
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
  x/ibc-rate-limit/contracts/rate-limiter/src/contract.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/contract_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/msg.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/packet.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
  x/ibc-rate-limit/ibc_module.go
Labels: V:state/compatible/no_backport, A:backport/v13.x

#3341 Add basic WASM hook spec
  x/ibc-hooks/README.md
Labels: C:docs, V:state/compatible/backport, A:backport/v13.x

#3343 Add IBC hooks module account
  app/app.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v13/upgrade_test.go
  x/ibc-hooks/genesis.go
  x/ibc-hooks/sdkmodule.go
Labels: C:app-wiring, V:state/breaking, A:backport/v13.x

#3321 IBC wasm hooks
  app/keepers/keepers.go
  osmoutils/ibc.go
  x/ibc-hooks/README.md
  x/ibc-hooks/bytecode/echo.wasm
  x/ibc-hooks/hooks.go
  x/ibc-hooks/ibc_middleware_test.go
  x/ibc-hooks/ibc_module.go
  x/ibc-hooks/ics4_middleware.go
  x/ibc-hooks/testutils/testing_hooks.go
  x/ibc-hooks/types/errors.go
  x/ibc-hooks/wasm_hook.go
  x/ibc-rate-limit/ibc_middleware_test.go
  x/ibc-rate-limit/ibc_module.go
  x/ibc-rate-limit/testutil/chain.go
  x/ibc-rate-limit/testutil/wasm.go
Labels: C:docs, C:app-wiring, V:state/breaking, A:backport/v13.x

#3336 chore: localosmosis in $HOME/.osmosisd-local folder
  Makefile
  tests/localosmosis/docker-compose.yml
  tests/localosmosis/scripts/setup.sh
  tests/localosmosis/state_export/docker-compose.yml
Labels: T:build, V:state/compatible/backport, A:backport/v13.x

#3347 fix(stableswap): require sorted initial liquidity
  x/gamm/client/cli/tx.go
  x/gamm/client/cli/tx_test.go
  x/gamm/pool-models/stableswap/msgs_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:CLI, C:x/gamm, V:state/breaking, A:backport/v13.x

#3354 Break up osmo router code more
  x/gamm/keeper/msg_server_test.go
  x/gamm/keeper/multihop.go
  x/gamm/types/route.go
Labels: C:x/gamm

#3363 [x/gamm][stableswap]: Clean up rounding for single-asset joins
  osmoutils/binary_search.go
  x/gamm/pool-models/internal/cfmm_common/lp.go
Labels: C:x/gamm, C:stableswap, V:state/breaking, A:backport/v13.x

#3356 Add stableswap to pooltype, and pooltype query to stargate whitelist
  CHANGELOG.md
  app/apptesting/gamm.go
  wasmbinding/stargate_whitelist.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/pool.go
  x/gamm/pool-models/balancer/constants.go
  x/gamm/pool-models/stableswap/codec.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/msgs_test.go
Labels: C:x/gamm, C:app-wiring, V:state/breaking, A:backport/v13.x

#3367 Add cli support for new gamm queries
  x/gamm/client/cli/query.go
Labels: V:state/compatible/backport, A:backport/v13.x

#3242 JoinPoolNoSwap simulation
  proto/osmosis/gamm/v1beta1/query.proto
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/types/query.pb.go
Labels: C:x/gamm, V:state/compatible/backport, A:backport/v13.x

#3374 replace bad bytecode
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
Labels: V:state/compatible/backport, A:backport/v13.x

#3371 [x/gamm][stableswap]: Remove choice of curve section from spec
  x/gamm/pool-models/stableswap/README.md
Labels: C:docs, C:x/gamm, C:stableswap, V:state/compatible/no_backport

#3380 fix: localosmosis home folder in setup.sh
  tests/localosmosis/scripts/setup.sh
Labels: V:state/compatible/backport, A:backport/v13.x

#3352 fix: correct osmo-multihop swapfee reduction
  app/keepers/keepers.go
  osmomath/sigfig_round_test.go
  x/gamm/keeper/keeper.go
  x/gamm/keeper/msg_server_test.go
  x/gamm/keeper/multihop.go
  x/gamm/keeper/multihop_test.go
  x/gamm/types/expected_keepers.go
  x/gamm/types/route.go
  x/pool-incentives/keeper/keeper.go
Labels: C:x/gamm, C:x/pool-incentives, C:app-wiring, V:state/breaking, A:backport/v13.x

#3217 Add CalcJoinPoolShares and CalcExitPoolCoinsFromShares pool queries to Stargate whitelist
  CHANGELOG.md
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking, A:backport/v13.x

#3358 Move around some wasmhook wiring code
  app/keepers/keepers.go
  app/modules.go
  x/ibc-hooks/ibc_middleware_test.go
Labels: A:automerge, C:app-wiring, V:state/compatible/backport, A:backport/v13.x

#3391 Release process: fix `make build-reproducible`
  Makefile
Labels: T:build, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3390 [CI] Update GitHub Action to push docker images
  .github/workflows/push-docker-images.yml
Labels: T:CI, V:state/compatible/no_backport

#3388 Allow to unset rate limiting contract param
  x/ibc-rate-limit/contracts/rate-limiter/src/packet.rs
  x/ibc-rate-limit/ibc_middleware_test.go
  x/ibc-rate-limit/types/params.go
Labels: A:automerge, V:state/breaking, A:backport/v13.x

#3395 Deprecate proto definition on gamm & twap v1beta1
  proto/osmosis/gamm/v1beta1/query.proto
  proto/osmosis/twap/v1beta1/query.proto
  tests/e2e/configurer/chain/queries.go
  wasmbinding/stargate_whitelist.go
  x/gamm/client/cli/query.go
  x/gamm/keeper/grpc_query.go
  x/gamm/types/query.pb.go
  x/twap/client/cli/query.go
  x/twap/client/query_proto_wrap.go
  x/twap/client/queryproto/query.pb.go
Labels: C:CLI, C:x/gamm, C:x/twap, V:state/breaking, A:backport/v13.x

#3400 fix(e2e): make test-e2e-short false failure
  Makefile
  tests/e2e/configurer/chain/queries.go
Labels: T:build, V:state/compatible/backport, A:backport/v13.x

#3379 Make stableswap error in terms of input size
  osmoutils/binary_search.go
  osmoutils/binary_search_test.go
  x/gamm/pool-models/stableswap/README.md
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:docs, C:x/gamm, V:state/breaking, A:backport/v13.x

#3392 [Docker 🐳] Chore: update distroless base docker images
  .github/workflows/push-docker-images.yml
  Dockerfile
  Makefile
Labels: T:CI, A:automerge, T:build, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3357 [x/gamm][stableswap][bug]: Descale spot prices
  app/apptesting/gamm.go
  osmoutils/binary_search.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/pool-models/internal/test_helpers/test_helpers.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: T:bug 🐛, C:x/gamm, C:app-wiring, C:stableswap, V:state/breaking, A:backport/v13.x

#3409 CI: undeprecate set-output
  .github/workflows/mutest-issue-generate.yml
Labels: T:CI, V:state/compatible/no_backport

#3378 test(gamm): CalcJoinPoolNoSwapShares, CalcJoinPoolShares, CalcExitPoolCoinsFromShares state alteration tests
  x/gamm/client/cli/query_test.go
Labels: C:CLI, C:x/gamm, V:state/compatible/backport, A:backport/v13.x

#3408 CI: Fix import path
  scripts/replace_import_paths.sh
Labels: T:build, V:state/compatible/backport, A:backport/v13.x

#3412 Remove old SpotPrice query from stargate query
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking, A:backport/v13.x

#3396 chore: modify multi-hop table driven tests
  x/gamm/keeper/export_test.go
  x/gamm/keeper/multihop_test.go
Labels: C:x/gamm, V:state/compatible/backport, A:backport/v13.x

#3419 Ensure stableswap slippage improves with liquidity
  x/gamm/pool-models/internal/test_helpers/test_helpers.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, V:state/compatible/backport, A:backport/v13.x

#3424 Code duplication approach to fixing EstimateSwap
  proto/osmosis/gamm/v1beta1/query.proto
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/multihop.go
  x/gamm/keeper/multihop_test.go
  x/gamm/types/query.pb.go
Labels: C:x/gamm, V:state/breaking, A:backport/v13.x

#3426 Fix rust CI
  .github/workflows/contracts.yml
  app/upgrades/v13/rate_limiter.wasm
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
Labels: T:CI, C:app-wiring, V:state/compatible/backport, A:backport/v13.x

#3430 added EstimateSwapExactAmountIn to the stargate whitelist
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking, A:backport/v13.x

#3433 fix: slight inc to error tolerance
  tests/e2e/e2e_test.go
Labels: V:state/compatible/backport, A:backport/v13.x

#3440 chore: add param query to ibc rate limit
  app/keepers/modules.go
  go.mod
  proto/osmosis/ibc-rate-limit/v1beta1/params.proto
  proto/osmosis/ibc-rate-limit/v1beta1/query.proto
  x/ibc-rate-limit/client/cli/query.go
  x/ibc-rate-limit/ibc_module.go
  x/ibc-rate-limit/module.go
  x/ibc-rate-limit/types/params.pb.go
  x/ibc-rate-limit/types/query.pb.go
  x/ibc-rate-limit/types/query.pb.gw.go
Labels: V:state/compatible/backport, A:backport/v13.x

#3423 [x/gamm][stableswap]: Add InGivenOut slippage tests
  simulation/simtypes/random/sdkrand.go
  x/gamm/pool-models/internal/test_helpers/test_helpers.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: T:tests, C:x/gamm, C:simulator, C:stableswap, V:state/compatible/backport

#3445 Improve some gamm error messages that came up in QA
  x/gamm/keeper/pool_service.go
Labels: C:x/gamm, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3449 Add randomized test vectors for CalculateAmountOutAndIn_InverseRelationship
  simulation/simtypes/account.go
  simulation/simtypes/random/sdkrand.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/internal/test_helpers/test_helpers.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, C:simulator, V:state/compatible/backport, A:backport/v13.x

#3311 CL: Partially overlapping / gap price range test/logic
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/tick.go
Labels: C:x/concentrated-liquidity

#3250 feat(ci/e2e): create a CI job to test e2e related makefile steps on merge to main
  .github/workflows/test-e2e-makefile.yml
Labels: T:CI, V:state/compatible/backport, A:backport/v13.x

#3459 feat(CL): implement `withdrawPosition`
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_store.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/types/errors.go
Labels: C:x/concentrated-liquidity

#3249 feat(e2e/ci): auto-build and publish to docker hub e2e init images on release
  .github/workflows/push-docker-images.yml
Labels: T:CI, V:state/compatible/backport, A:backport/v13.x

#3453 adding test cases for ValidateScalingFactors
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:x/gamm, V:state/compatible/backport, A:backport/v13.x

#3458 Update our SDK fork
  go.mod
  go.sum
  osmoutils/cache_ctx.go
Labels: V:state/compatible/backport, A:backport/v13.x

#3475 fix: initialize last gauge ID in init gen
  x/incentives/keeper/genesis.go
Labels: C:x/incentives, V:state/compatible/backport, A:backport/v13.x

#3477 chore: fix import paths CI vendoring failure
  scripts/replace_import_paths.sh
Labels: A:automerge, T:build, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3296 CL: Re-design Concentrated Liquidity Module
  app/keepers/keepers.go
  proto/osmosis/concentrated-liquidity/pool.proto
  proto/osmosis/concentrated-liquidity/position.proto
  proto/osmosis/concentrated-liquidity/tickInfo.proto
  x/concentrated-liquidity/concentratedPool.pb.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/internal/math/math.go
  x/concentrated-liquidity/internal/math/math_test.go
  x/concentrated-liquidity/internal/math/tick.go
  x/concentrated-liquidity/internal/math/tick_test.go
  x/concentrated-liquidity/internal/model/pool.go
  x/concentrated-liquidity/internal/model/pool.pb.go
  x/concentrated-liquidity/internal/model/pool_test.go
  x/concentrated-liquidity/internal/model/position.pb.go
  x/concentrated-liquidity/internal/model/tickInfo.pb.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/module.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_store.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/pool.go
Labels: C:app-wiring, C:x/concentrated-liquidity

#3463 Move prefix sumtree into osmoutils
  go.mod
  osmoutils/sumtree/README.md
  osmoutils/sumtree/constants.go
  osmoutils/sumtree/legacy/v101/old_tree.json
  osmoutils/sumtree/legacy/v101/tree.go
  osmoutils/sumtree/legacy/v101/tree_test.go
  osmoutils/sumtree/node.go
  osmoutils/sumtree/tree.go
  osmoutils/sumtree/tree.pb.go
  osmoutils/sumtree/tree_test.go
  proto/osmosis/sumtree/v1beta1/tree.proto
  x/lockup/keeper/lock.go
Labels: C:x/lockup, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3478 Fix swapfee for single asset joins
  x/gamm/pool-models/internal/cfmm_common/lp.go
  x/gamm/pool-models/stableswap/README.md
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:docs, C:x/gamm, V:state/breaking, A:backport/v13.x

#3489 feat(CL): swaprouter code gen (merge to `main` #1)
  proto/osmosis/swaprouter/v1beta1/genesis.proto
  proto/osmosis/swaprouter/v1beta1/module_route.proto
  proto/osmosis/swaprouter/v1beta1/query.proto
  proto/osmosis/swaprouter/v1beta1/query.yml
  proto/osmosis/swaprouter/v1beta1/tx.proto
  x/swaprouter/client/grpc/grpc_query.go
  x/swaprouter/client/query_proto_wrap.go
  x/swaprouter/client/queryproto/query.pb.go
  x/swaprouter/client/queryproto/query.pb.gw.go
  x/swaprouter/types/genesis.pb.go
  x/swaprouter/types/module_route.pb.go
  x/swaprouter/types/tx.pb.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/swaprouter

#3473 experimenting with workspace optimizer
  .github/workflows/contracts.yml
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
Labels: T:CI, V:state/compatible/backport, A:backport/v13.x

#3491 feat(CL): swaprouter types and barebones keeper (merge to `main` 2)
  app/apptesting/test_suite.go
  app/keepers/keepers.go
  app/keepers/modules.go
  app/upgrades/v13/constants.go
  x/gamm/keeper/multihop_test.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
  x/swaprouter/export_test.go
  x/swaprouter/keeper.go
  x/swaprouter/keeper_test.go
  x/swaprouter/module/module.go
  x/swaprouter/types/codec.go
  x/swaprouter/types/constants.go
  x/swaprouter/types/errors.go
  x/swaprouter/types/events.go
  x/swaprouter/types/expected_keepers.go
  x/swaprouter/types/genesis.go
  x/swaprouter/types/keys.go
  x/swaprouter/types/listeners.go
  x/swaprouter/types/msg_create_pool.go
  x/swaprouter/types/msgs.go
  x/swaprouter/types/msgs_test.go
  x/swaprouter/types/params.go
  x/swaprouter/types/routes.go
  x/txfees/keeper/hooks.go
  x/txfees/types/expected_keepers.go
Labels: C:x/gamm, C:x/txfees, C:app-wiring, V:state/compatible/no_backport, C:x/swaprouter

#3492 refactor(CL): remove NumPools query from gamm
  app/upgrades/v13/upgrade_test.go
  app/upgrades/v13/upgrades.go
  proto/osmosis/gamm/v1beta1/genesis.proto
  proto/osmosis/gamm/v1beta1/query.proto
  tests/e2e/configurer/chain/commands.go
  wasmbinding/stargate_whitelist.go
  x/gamm/client/cli/cli_test.go
  x/gamm/client/cli/query.go
  x/gamm/client/cli/query_test.go
  x/gamm/keeper/genesis.go
  x/gamm/keeper/genesis_test.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/pool.go
  x/gamm/simulation/sim_msgs.go
  x/gamm/types/genesis.go
  x/gamm/types/genesis.pb.go
  x/gamm/types/key.go
  x/gamm/types/query.pb.go
  x/gamm/types/query.pb.gw.go
  x/swaprouter/client/cli/query_test.go
Labels: C:CLI, C:x/gamm, C:app-wiring, C:simulator, C:x/swaprouter

#3490 CL: add swaprouter tests
  app/apptesting/gamm.go
  x/swaprouter/creator_test.go
  x/swaprouter/keeper_test.go
  x/swaprouter/router_test.go
Labels: C:app-wiring, C:x/swaprouter

#3232 Use strategy pattern in CL swaps
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/internal/math/math.go
  x/concentrated-liquidity/internal/math/math_test.go
  x/concentrated-liquidity/swaps.go
Labels: C:x/concentrated-liquidity

#3432 chore: v13 upgrade template
  networks/osmosis-1/upgrades/v13/mainnet/guide.md
  networks/osmosis-1/upgrades/v13/testnet/guide.md
  networks/osmosis-1/upgrades/v13/v13_binaries.json
Labels: V:state/compatible/backport, A:backport/v13.x

#3496 feat(CL): core swaprouter logic and tests (merge to main 3)
  app/apptesting/gamm.go
  osmoutils/store_helper.go
  osmoutils/store_helper_test.go
  x/gamm/pool-models/balancer/msgs.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/pool.go
  x/swaprouter/client/cli/cli_test.go
  x/swaprouter/client/cli/common.go
  x/swaprouter/client/cli/flags.go
  x/swaprouter/client/cli/parse.go
  x/swaprouter/client/cli/query.go
  x/swaprouter/client/cli/query_test.go
  x/swaprouter/client/cli/tx.go
  x/swaprouter/client/cli/tx_test.go
  x/swaprouter/client/query_proto_wrap.go
  x/swaprouter/client/testutil/test_helpers.go
  x/swaprouter/creator.go
  x/swaprouter/creator_test.go
  x/swaprouter/export_test.go
  x/swaprouter/keeper.go
  x/swaprouter/keeper_test.go
  x/swaprouter/module/module.go
  x/swaprouter/msg_server.go
  x/swaprouter/msg_server_test.go
  x/swaprouter/router.go
  x/swaprouter/router_test.go
  x/swaprouter/simulation/sim_msgs.go
  x/swaprouter/simulation/sim_setup.go
  x/swaprouter/types/routes.go
Labels: C:CLI, C:x/gamm, C:app-wiring, C:simulator, V:state/compatible/no_backport, C:x/swaprouter

#3515 Revert "feat(CL): core swaprouter logic and tests (merge to main 3)"
  app/apptesting/gamm.go
  osmoutils/store_helper.go
  osmoutils/store_helper_test.go
  x/gamm/pool-models/balancer/msgs.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/pool.go
  x/swaprouter/client/cli/cli_test.go
  x/swaprouter/client/cli/common.go
  x/swaprouter/client/cli/flags.go
  x/swaprouter/client/cli/parse.go
  x/swaprouter/client/cli/query.go
  x/swaprouter/client/cli/query_test.go
  x/swaprouter/client/cli/tx.go
  x/swaprouter/client/cli/tx_test.go
  x/swaprouter/client/query_proto_wrap.go
  x/swaprouter/client/testutil/test_helpers.go
  x/swaprouter/creator.go
  x/swaprouter/creator_test.go
  x/swaprouter/export_test.go
  x/swaprouter/keeper.go
  x/swaprouter/keeper_test.go
  x/swaprouter/module/module.go
  x/swaprouter/msg_server.go
  x/swaprouter/msg_server_test.go
  x/swaprouter/router.go
  x/swaprouter/router_test.go
  x/swaprouter/simulation/sim_msgs.go
  x/swaprouter/simulation/sim_setup.go
  x/swaprouter/types/routes.go
Labels: C:CLI, C:x/gamm, C:app-wiring, C:simulator, V:state/breaking, C:x/swaprouter

#3516 Revert "feat(CL): swaprouter types and barebones keeper (merge to `main` 2) (#3491)"
  app/apptesting/test_suite.go
  app/keepers/keepers.go
  app/keepers/modules.go
  app/upgrades/v13/constants.go
  x/gamm/keeper/multihop_test.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
  x/swaprouter/export_test.go
  x/swaprouter/keeper.go
  x/swaprouter/keeper_test.go
  x/swaprouter/module/module.go
  x/swaprouter/types/codec.go
  x/swaprouter/types/constants.go
  x/swaprouter/types/errors.go
  x/swaprouter/types/events.go
  x/swaprouter/types/expected_keepers.go
  x/swaprouter/types/genesis.go
  x/swaprouter/types/keys.go
  x/swaprouter/types/listeners.go
  x/swaprouter/types/msg_create_pool.go
  x/swaprouter/types/msgs.go
  x/swaprouter/types/msgs_test.go
  x/swaprouter/types/params.go
  x/swaprouter/types/routes.go
  x/txfees/keeper/hooks.go
  x/txfees/types/expected_keepers.go
Labels: C:x/gamm, C:x/txfees, C:app-wiring, V:state/breaking, C:x/swaprouter

#3520 chore: Delete statesync-rocks.bash
  scripts/statesync-rocks.bash
Labels: T:build, V:state/compatible/backport, A:backport/v13.x

#3503 [CI] Add GitHub Action to push development docker images
  .github/workflows/push-dev-docker-images.yml
Labels: T:CI, devops, V:state/compatible/no_backport

#3493 Update to wasmd v0.29.2
  app/upgrades/v13/upgrades.go
  go.mod
  go.sum
  simulation/executor/internal/executortypes/simmanager.go
  wasmbinding/test/store_run_test.go
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
Labels: C:app-wiring, C:simulator, V:state/breaking, A:backport/v13.x

#3527 refactor(CL): move PoolI to swaprouter; swaprouter only depends on PoolI
  app/apptesting/test_suite.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/swaps.go
  x/gamm/keeper/export_test.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/share.go
  x/gamm/keeper/swap.go
  x/gamm/module.go
  x/gamm/pool-models/balancer/codec.go
  x/gamm/pool-models/balancer/msgs.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/internal/cfmm_common/lp.go
  x/gamm/pool-models/internal/cfmm_common/lp_test.go
  x/gamm/pool-models/internal/test_helpers/test_helpers.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/codec.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/util_test.go
  x/gamm/types/codec.go
  x/gamm/types/msgs_test.go
  x/gamm/types/pool.go
  x/superfluid/keeper/twap_price.go
  x/swaprouter/creator.go
  x/swaprouter/simulation/sim_msgs.go
  x/swaprouter/types/codec.go
  x/swaprouter/types/expected_keepers.go
  x/swaprouter/types/msg_create_pool.go
  x/swaprouter/types/pool.go
  x/swaprouter/types/routes.go
  x/txfees/keeper/hooks_test.go
Labels: C:x/gamm, C:x/superfluid, C:x/txfees, C:app-wiring, C:simulator, C:x/concentrated-liquidity, C:x/swaprouter

#3526 feat(CL): add bank sends to positions
  app/keepers/keepers.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/expected_keepers.go
Labels: C:app-wiring, C:x/concentrated-liquidity

#3512 feat(superfluid/gov): configure unpool whitelist via gov prop
  app/keepers/keepers.go
  app/keepers/modules.go
  osmoutils/store_helper.go
  osmoutils/store_helper_test.go
  proto/osmosis/superfluid/v1beta1/gov.proto
  x/superfluid/client/cli/flags.go
  x/superfluid/client/cli/tx.go
  x/superfluid/client/proposal_handler.go
  x/superfluid/client/rest/tx.go
  x/superfluid/keeper/gov/gov.go
  x/superfluid/keeper/gov/gov_test.go
  x/superfluid/keeper/gov/suite_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/unpool.go
  x/superfluid/proposal_handler.go
  x/superfluid/types/codec.go
  x/superfluid/types/gov.go
  x/superfluid/types/gov.pb.go
Labels: C:CLI, C:x/superfluid, C:app-wiring, V:state/breaking, A:backport/v13.x

#3532 test(superfluid): unpool when not whitelisted
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/unpool_test.go
Labels: C:x/superfluid, V:state/compatible/backport, A:backport/v13.x

#3533 feat(superfluid): cli query for unpool whitelist
  proto/osmosis/superfluid/query.proto
  x/superfluid/client/cli/query.go
  x/superfluid/keeper/grpc_query.go
  x/superfluid/types/query.pb.go
  x/superfluid/types/query.pb.gw.go
Labels: C:CLI, C:x/superfluid, V:state/compatible/backport, A:backport/v13.x

#3525 refactor(CL): deprecate gamm messages and queries instead of removing
  proto/osmosis/gamm/v1beta1/query.proto
  proto/osmosis/gamm/v1beta1/tx.proto
  proto/osmosis/swaprouter/v1beta1/query.proto
  proto/osmosis/swaprouter/v1beta1/swap_route.proto
  proto/osmosis/swaprouter/v1beta1/tx.proto
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/msg_server.go
  x/gamm/types/codec.go
  x/gamm/types/msgs.go
  x/gamm/types/msgs_test.go
  x/gamm/types/query.pb.go
  x/gamm/types/query.pb.gw.go
  x/gamm/types/tx.pb.go
  x/swaprouter/client/queryproto/query.pb.go
  x/swaprouter/types/swap_route.pb.go
  x/swaprouter/types/tx.pb.go
Labels: C:CLI, C:x/gamm, C:x/swaprouter

#3452 gamm: TestGetLiquidityIndexMap
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:x/gamm, V:state/compatible/backport, A:backport/v13.x

#3539 refactor(CL): gamm msg and query deprecation (pt2 - route to swaprouter)
  app/keepers/keepers.go
  proto/osmosis/gamm/v1beta1/query.proto
  proto/osmosis/gamm/v1beta1/tx.proto
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/keeper.go
  x/gamm/keeper/msg_server.go
  x/gamm/types/expected_keepers.go
  x/gamm/types/query.pb.go
  x/gamm/types/tx.pb.go
  x/swaprouter/client/query_proto_wrap.go
Labels: C:CLI, C:x/gamm, C:app-wiring, C:x/swaprouter

#3497 CL: add swap logic
  x/concentrated-liquidity/internal/model/pool.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/pool.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/share.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/balancer/util_test.go
  x/gamm/types/pool.go
  x/swaprouter/events/emit.go
  x/swaprouter/events/emit_test.go
  x/swaprouter/router.go
  x/swaprouter/types/routes.go
Labels: C:x/gamm, C:x/concentrated-liquidity, C:x/swaprouter

#3500 Update chain.schema.json
  chain.schema.json
Labels: V:state/compatible/no_backport

#3091 Create Gamm helper method to manipulate into given spot price
  app/apptesting/gamm.go
Labels: A:automerge, C:app-wiring, V:state/compatible/backport, A:backport/v13.x

#3537 refactor(osmoutils): rename GetIfFound to Get, simplify godoc
  osmoutils/store_helper.go
  osmoutils/store_helper_test.go
  x/superfluid/keeper/unpool.go
Labels: C:x/superfluid, V:state/compatible/backport, A:backport/v13.x

#3442 clean up stableswap comments
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool.go
Labels: C:x/gamm, A:automerge, V:state/compatible/backport, A:backport/v13.x

#3420 feat(x/twap): Geometric Mean TWAP POC
  proto/osmosis/twap/v1beta1/twap_record.proto
  x/twap/README.md
  x/twap/api.go
  x/twap/api_test.go
  x/twap/export_test.go
  x/twap/keeper_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/store_test.go
  x/twap/types/genesis.go
  x/twap/types/genesis_test.go
  x/twap/types/twap_record.pb.go
Labels: C:docs, C:x/twap, V:state/breaking

#3546 refactor(CL): pool interfaces
  cmd/osmosisd/cmd/balances_from_state_export.go
  tests/mocks/cfmm_pool.go
  tests/mocks/cl_pool.go
  x/concentrated-liquidity/internal/model/pool.go
  x/concentrated-liquidity/types/pool.go
  x/gamm/keeper/export_test.go
  x/gamm/keeper/genesis.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_test.go
  x/gamm/keeper/swap.go
  x/gamm/pool-models/balancer/codec.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/pool-models/internal/cfmm_common/lp.go
  x/gamm/pool-models/internal/cfmm_common/lp_test.go
  x/gamm/pool-models/internal/test_helpers/test_helpers.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/codec.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/util_test.go
  x/gamm/simulation/sim_msgs.go
  x/gamm/types/codec.go
  x/gamm/types/pool.go
  x/superfluid/types/expected_keepers.go
  x/swaprouter/router.go
  x/swaprouter/simulation/sim_msgs.go
  x/swaprouter/types/pool.go
  x/txfees/keeper/hooks_test.go
Labels: C:x/gamm, C:x/superfluid, C:x/txfees, C:simulator, C:x/concentrated-liquidity, C:x/swaprouter

#3555 feat(CL): swaprouter types (merge 2, no state breaks)
  proto/osmosis/swaprouter/v1beta1/query.proto
  proto/osmosis/swaprouter/v1beta1/swap_route.proto
  proto/osmosis/swaprouter/v1beta1/tx.proto
  x/swaprouter/client/queryproto/query.pb.go
  x/swaprouter/types/constants.go
  x/swaprouter/types/errors.go
  x/swaprouter/types/events.go
  x/swaprouter/types/expected_keepers.go
  x/swaprouter/types/genesis.go
  x/swaprouter/types/keys.go
  x/swaprouter/types/listeners.go
  x/swaprouter/types/msg_create_pool.go
  x/swaprouter/types/msgs.go
  x/swaprouter/types/msgs_test.go
  x/swaprouter/types/params.go
  x/swaprouter/types/pool.go
  x/swaprouter/types/routes.go
  x/swaprouter/types/swap_route.pb.go
  x/swaprouter/types/tx.pb.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/swaprouter

#3557 feat(CL): swaprouter cli, queries, module and keeper stubs (part 3 - no state breaks)
  app/keepers/keepers.go
  x/swaprouter/client/cli/cli_test.go
  x/swaprouter/client/cli/common.go
  x/swaprouter/client/cli/flags.go
  x/swaprouter/client/cli/parse.go
  x/swaprouter/client/cli/query.go
  x/swaprouter/client/cli/query_test.go
  x/swaprouter/client/cli/tx.go
  x/swaprouter/client/cli/tx_test.go
  x/swaprouter/client/query_proto_wrap.go
  x/swaprouter/client/testutil/test_helpers.go
  x/swaprouter/creator.go
  x/swaprouter/events/emit.go
  x/swaprouter/events/emit_test.go
  x/swaprouter/export_test.go
  x/swaprouter/keeper.go
  x/swaprouter/keeper_test.go
  x/swaprouter/module/module.go
  x/swaprouter/msg_server.go
  x/swaprouter/router.go
  x/swaprouter/router_test.go
  x/swaprouter/types/msgs_test.go
Labels: C:CLI, C:app-wiring, V:state/compatible/no_backport, C:x/swaprouter

#3558 tests[CL]: initOrUpdateTick table driven tests (1/x)
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
Labels: C:x/concentrated-liquidity

#3564 fix/test(twap): remove v2 query proto wrap, undeprecate v1, test v1 twap API
  proto/osmosis/twap/v1beta1/query.proto
  proto/osmosis/twap/v2/query.proto
  wasmbinding/queries.go
  wasmbinding/stargate_whitelist.go
  x/twap/client/cli/query.go
  x/twap/client/grpc/grpc_query_v2.go
  x/twap/client/query_proto_wrap.go
  x/twap/client/query_proto_wrap_test.go
  x/twap/client/queryproto/query.pb.go
  x/twap/client/v2query_proto_wrap.go
  x/twap/client/v2queryproto/query.pb.go
  x/twap/client/v2queryproto/query.pb.gw.go
  x/twap/twapmodule/module.go
Labels: C:CLI, C:app-wiring, C:x/twap, V:state/breaking, A:backport/v13.x

#3563 Add Pagination to Pool With Filter Query
  proto/osmosis/gamm/v1beta1/query.proto
  x/gamm/keeper/grpc_query.go
  x/gamm/types/query.pb.go
Labels: C:x/gamm, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3561 Add error test for rate limiter
  x/ibc-rate-limit/contracts/rate-limiter/src/error.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/integration_tests.rs
Labels: V:state/compatible/no_backport

#3330 fix: fix multihop gamm cli
  x/gamm/client/cli/flags.go
  x/gamm/client/cli/tx.go
Labels: C:CLI, C:x/gamm, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3570 refactor(CL): continue integrating strategy pattern into swaps
  app/apptesting/test_suite.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/internal/math/math.go
  x/concentrated-liquidity/internal/math/math_test.go
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
Labels: C:app-wiring, C:x/concentrated-liquidity
