Repository osmosis-labs/osmosis, pull requests merged in 2022-08, with the labels that each got.

#2199 TWAP store.go & store_test.go files
  x/gamm/twap/export_test.go
  x/gamm/twap/keeper_test.go
  x/gamm/twap/store.go
  x/gamm/twap/store_test.go
  x/gamm/twap/types/keys.go
Labels: C:x/gamm

#2243 chore(deps): upgrade sdk with min proposer deposit and update e2e
  CHANGELOG.md
  go.mod
  go.sum
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/config/constants.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/e2e_test.go
Labels: C:docs

#2265 Add codec init to tokenfactory
  x/tokenfactory/types/codec.go
Labels: C:x/tokenfactory

#2160 gamm keeper delete obsolete files
  CHANGELOG.md
  go.mod
  proto/osmosis/gamm/v1beta1/genesis.proto
  x/gamm/keeper/genesis.go
  x/gamm/keeper/genesis_test
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_internal_test.go
  x/gamm/keeper/keeper.go
  x/gamm/keeper/marshal_bench_test.go
  x/gamm/keeper/params.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/simulation/sim_msgs.go
  x/gamm/types/genesis.pb.go
  x/gamm/types/key.go
Labels: C:docs, C:x/gamm, C:simulator, A:backport/v11.x

#2277 fix(linter): markdown lint in epochs and gamm on v11.x
  x/epochs/spec/README.md
  x/gamm/spec/README.md
Labels: C:x/gamm, C:x/epochs

#2275 test(x/gamm): add liquidity event tests (manual backport #2141)
  x/gamm/keeper/internal/events/emit_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/msg_server_test.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/spec/README.md
Labels: C:x/gamm

#2281 fix(ci):import paths ci job token
  .github/workflows/import_paths.yml
Labels: T:CI

#2283 x/incentives: refactor create gauge and add to gauge fees to use txfees denom
  CHANGELOG.md
  app/keepers/keepers.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/keeper.go
  x/incentives/keeper/msg_server_test.go
  x/incentives/simulation/operations.go
  x/incentives/types/expected_keepers.go
Labels: C:docs, C:x/incentives, C:app-wiring, C:simulator

#2268 Fix v10.x state incompatability
  CHANGELOG.md
  x/lockup/keeper/admin_keeper_test.go
  x/lockup/keeper/export_test.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/msg_server.go
Labels: C:x/lockup

#2271 fix: swagger docs & swagger generation #2233
  Makefile
  client/docs/config.json
  client/docs/package.json
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
  client/docs/statik/statik.go
  client/docs/yarn.lock
  scripts/generate-docs.sh
Labels: C:CLI, T:build, A:backport/v11.x

#2284 refactor: minor pass through twap imrovements
  x/gamm/twap/keeper.go
  x/gamm/twap/store.go
Labels: C:x/gamm, A:automerge

#2186 test(x/gamm): remove liquidity events
  CHANGELOG.md
  app/apptesting/events.go
  x/gamm/README.md
  x/gamm/keeper/internal/events/emit_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/msg_server_test.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/keeper/swap_test.go
  x/superfluid/keeper/unpool_test.go
Labels: C:docs, C:x/gamm, C:x/superfluid, C:app-wiring, A:backport/v11.x

#2280 simulator: add makefile cmds and fix determinism test
  .github/workflows/sim.yml
  Makefile
  tests/simulator/sim_test.go
Labels: T:CI, T:build, C:simulator

#2297 Update chain registry for Osmosis upgrade
  chain.schema.json
  go.mod
Labels: A:backport/v11.x

#2264 Try to speedup dockerfile build time
  .github/workflows/test.yml
  Dockerfile
  Makefile
  tests/e2e/README.md
  tests/e2e/configurer/chain/node.go
Labels: C:docs, T:CI, T:build

#2057 Commit timeout
  CHANGELOG.md
  cmd/osmosisd/cmd/init.go
  cmd/osmosisd/cmd/root.go
Labels: C:docs

#2242 set epoch time KeeperTestHelper
  app/apptesting/test_suite.go
  x/epochs/keeper/grpc_query_test.go
Labels: C:x/epochs, C:app-wiring, A:backport/v11.x

#2290 refactor(x/mint): simplify TestDistributeMintedCoin
  x/mint/keeper/export_test.go
  x/mint/keeper/keeper_test.go
Labels: C:x/mint, A:backport/v11.x

#2301 stableswap: Add check for correct input asset denoms to implementation of JoinPool
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool.go
Labels: C:x/gamm

#2316 Msg test
  x/gamm/pool-models/balancer/msgs_test.go
  x/gamm/pool-models/stableswap/msgs_test.go
  x/gamm/types/msgs_test.go
  x/incentives/types/msgs_test.go
Labels: C:x/gamm, C:x/incentives, A:backport/v11.x

#2168 TWAP logic
  app/apptesting/test_suite.go
  app/upgrades/v12/upgrades.go
  osmoutils/dec_helper.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/twap/api.go
  x/gamm/twap/api_test.go
  x/gamm/twap/export_test.go
  x/gamm/twap/keeper_test.go
  x/gamm/twap/listeners.go
  x/gamm/twap/listeners_test.go
  x/gamm/twap/logic.go
  x/gamm/twap/logic_test.go
  x/gamm/twap/module.go
  x/gamm/twap/store.go
  x/gamm/twap/store_test.go
  x/gamm/types/hooks.go
Labels: C:x/gamm, C:app-wiring

#2293 simulator: include gauge fees and cap jailed validators
  simulation/executor/mock_tendermint.go
  x/incentives/simulation/operations.go
Labels: C:x/incentives, C:simulator

#2212 Twap Wasm Bindings
  app/keepers/keepers.go
  wasmbinding/bindings/query.go
  wasmbinding/queries.go
  wasmbinding/query_plugin.go
  wasmbinding/test/custom_query_test.go
  wasmbinding/test/queries_test.go
  wasmbinding/testdata/osmo_reflect.wasm
  wasmbinding/wasm.go
Labels: C:app-wiring

#2269 update documentation for admin role and burning
  x/tokenfactory/README.md
Labels: C:docs, C:x/tokenfactory

#2318 Delete simd-env dockerfile, seeing as simd isn't even in this repo
  contrib/images/Makefile
  contrib/images/simd-env/Dockerfile
  contrib/images/simd-env/run.sh
Labels: A:backport/v11.x

#2322 refactor/test: improve DecApproxEq, fix misuse in mint hooks, create osmoassert package
  app/apptesting/osmoassert/assertions.go
  osmomath/math_test.go
  osmoutils/dec_helper.go
  osmoutils/test_helpers.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/internal/test_helpers/test_helpers.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/twap/api_test.go
  x/gamm/twap/logic_test.go
  x/gamm/twap/types/utils_test.go
  x/mint/keeper/genesis_test.go
  x/mint/keeper/hooks_test.go
  x/mint/keeper/keeper_test.go
Labels: C:x/gamm, C:x/mint, C:app-wiring, A:backport/v11.x

#2206 Authz
  CHANGELOG.md
  app/apptesting/test_suite.go
  x/gamm/types/codec.go
  x/gamm/types/msgs_test.go
  x/incentives/types/codec.go
  x/incentives/types/msgs_test.go
  x/lockup/types/codec.go
  x/lockup/types/msgs_test.go
  x/superfluid/types/codec.go
  x/superfluid/types/msg_test.go
  x/tokenfactory/types/codec.go
  x/tokenfactory/types/msgs_test.go
Labels: C:docs, C:x/lockup, C:x/gamm, C:x/incentives, C:x/superfluid, C:app-wiring, C:x/tokenfactory

#2319 Remove unused cdc arguments
  app/keepers/keepers.go
  x/pool-incentives/keeper/keeper.go
  x/tokenfactory/keeper/createdenom.go
  x/tokenfactory/keeper/keeper.go
  x/tokenfactory/types/expected_keepers.go
Labels: C:x/pool-incentives, C:x/superfluid, C:app-wiring, C:x/tokenfactory, A:backport/v11.x

#2223 feat: Tokenfactory SetMetadata
  CHANGELOG.md
  go.mod
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  x/tokenfactory/README.md
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/msg_server.go
  x/tokenfactory/types/events.go
  x/tokenfactory/types/msgs.go
  x/tokenfactory/types/tx.pb.go
Labels: C:docs, C:x/tokenfactory

#2222 add scaling factors to stableswap pool creation
  CHANGELOG.md
  proto/osmosis/gamm/pool-models/stableswap/tx.proto
  x/gamm/pool-models/internal/cfmm_common/lp_test.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/msgs_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/tx.pb.go
  x/gamm/pool-models/stableswap/util_test.go
  x/gamm/types/errors.go
Labels: C:docs, C:x/gamm

#2272 perf: archive node creation script
  scripts/archivenode.bash
Labels: T:build

#2061 tests: Gotest template for keeper tests
  .vscode/templates/call.tmpl
  .vscode/templates/function.tmpl
  .vscode/templates/header.tmpl
  CONTRIBUTING.md
Labels: T:tests

#1979 chore: Refactor and Add tests for `AddToExistingLock`
  CHANGELOG.md
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/msg_server.go
Labels: C:docs, C:x/lockup

#2314 [README] Contributing.md: Simplify test examples
  CONTRIBUTING.md
Labels: A:backport/v11.x

#2204 [CI] Mutation testing: Automated github action to generate issue
  .github/workflows/mutest-issue-generate.yml
Labels: T:CI

#2231 Chore: add build tags to e2etest
  Makefile
  tests/e2e/README.md
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/initialization/init_test.go
Labels: C:docs, T:build

#2344 minor: fix comments about pool state update in `CalcJoinPoolShares`
  x/gamm/pool-models/balancer/pool.go
Labels: C:x/gamm, A:automerge

#2355 Move twap to its own top level module
  app/keepers/keepers.go
  app/keepers/keys.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v12/constants.go
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  proto/osmosis/twap/v1beta1/twap_record.proto
  wasmbinding/queries.go
  wasmbinding/wasm.go
  x/twap/README.md
  x/twap/api.go
  x/twap/api_test.go
  x/twap/export_test.go
  x/twap/keeper.go
  x/twap/keeper_test.go
  x/twap/listeners.go
  x/twap/listeners_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/module.go
  x/twap/store.go
  x/twap/store_test.go
  x/twap/types/expected_interfaces.go
  x/twap/types/keys.go
  x/twap/types/keys_test.go
  x/twap/types/twap_record.pb.go
  x/twap/types/utils.go
  x/twap/types/utils_test.go
Labels: C:docs, C:app-wiring

#2356 refactor(osmoassert): format additional parameters in DecApproxEq
  app/apptesting/osmoassert/assertions.go
Labels: C:app-wiring, A:backport/v11.x

#2299 Generalize state compatiblity check for multiple osmosisd version
  .github/workflows/state-compatibility-check.yml
Labels: T:CI, A:backport/v10.x, A:backport/v11.x

#2363 Fix build warnings
  Makefile
  proto/osmosis/gamm/pool-models/stableswap/stableswap_pool.proto
  proto/osmosis/gamm/pool-models/stableswap/tx.proto
  sims.mk
  x/gamm/pool-models/stableswap/stableswap_pool.pb.go
  x/gamm/pool-models/stableswap/tx.pb.go
Labels: C:x/gamm, T:build

#2370 x/lockup: remove unused ClearAllAccumulationStores
  x/lockup/keeper/store.go
Labels: C:x/lockup, A:backport/v11.x

#2357 Add first query for twap, try alternate code structure
  Makefile
  app/keepers/modules.go
  app/modules.go
  cmd/querygen/README.md
  cmd/querygen/main.go
  cmd/querygen/templates/grpcTemplate.go
  cmd/querygen/templates/grpc_template.tmpl
  cmd/querygen/templates/query_proto_wrap.tmpl
  cmd/querygen/templates/queryyml.go
  cmd/querygen/templates/queryyml_test.go
  contrib/scripts/check-generated.sh
  proto/osmosis/twap/v1beta1/query.proto
  proto/osmosis/twap/v1beta1/query.yml
  x/twap/README.md
  x/twap/client/grpc/grpc_query.go
  x/twap/client/query_proto_wrap.go
  x/twap/client/queryproto/query.pb.go
  x/twap/client/queryproto/query.pb.gw.go
  x/twap/logic.go
  x/twap/twapmodule/module.go
Labels: C:docs, C:CLI, T:build, C:app-wiring

#2374 fix(ci): go import paths update job
  scripts/replace_import_paths.sh
Labels: T:build, A:backport/v11.x

#2310 Add test cases Validator stats in Superfluid module
  x/superfluid/keeper/distribution_test.go
  x/superfluid/keeper/hooks_test.go
  x/superfluid/keeper/intermediary_account_test.go
  x/superfluid/keeper/slash_test.go
  x/superfluid/keeper/stake_test.go
Labels: C:x/superfluid

#2375 Update tools.go and scripts to point go-mutesting to our fork
  go.mod
  go.sum
  scripts/mutation-test.sh
  tools/tools.go
Labels: T:build

#2244 simulator: gamm sim updates
  tests/simulator/sim_test.go
  x/gamm/module.go
  x/gamm/simulation/sim_msgs.go
Labels: C:x/gamm, C:app-wiring, C:simulator

#2387 Upgrade to IBC v3.2.0
  CHANGELOG.md
  go.mod
  go.sum
Labels: C:docs

#2384 fix(ci): import paths script to work with query gen
  scripts/replace_import_paths.sh
Labels: T:build, A:backport/v11.x

#2385 feat(e2e): container logs printed by default and option to disable
  Makefile
  tests/e2e/README.md
  tests/e2e/configurer/factory.go
  tests/e2e/containers/containers.go
  tests/e2e/e2e_setup_test.go
Labels: C:docs, T:build

#2389 Delete some deadcode
  x/epochs/types/errors.go
  x/incentives/simulation/genesis.go
  x/incentives/simulation/params.go
Labels: C:x/incentives, C:x/epochs, C:simulator

#2383 [CI] Improve state-compatibility check
  .github/workflows/state-compatibility-check.yml
Labels: T:CI, A:backport/v10.x, A:backport/v11.x

#2390 refactor(x/mint): remove unused parameter from AfterDistributeMintedCoin
  CHANGELOG.md
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/types/hooks.go
  x/pool-incentives/keeper/hooks.go
Labels: C:docs, C:x/mint, C:x/pool-incentives, A:backport/v11.x

#2341 e2e: expedited proposal test
  Makefile
  go.mod
  go.sum
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/configurer/config/constants.go
  tests/e2e/configurer/current.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/containers/containers.go
  tests/e2e/e2e_test.go
  tests/e2e/initialization/chain/main.go
  tests/e2e/initialization/config.go
  tests/e2e/initialization/init.go
  tests/e2e/initialization/init_test.go
  x/mint/keeper/keeper_test.go
Labels: C:x/mint, T:build

#2394 refactor: clean up keeper interfaces
  CHANGELOG.md
  app/keepers/keepers.go
  x/gamm/keeper/keeper.go
  x/gamm/keeper/pool_service.go
  x/gamm/types/expected_keepers.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/keeper.go
  x/incentives/types/expected_keepers.go
  x/lockup/keeper/keeper.go
  x/lockup/keeper/lock.go
  x/lockup/types/expected_keepers.go
  x/mint/keeper/keeper.go
  x/mint/types/expected_keepers.go
  x/pool-incentives/types/expected_keepers.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/keeper.go
  x/superfluid/types/expected_keepers.go
  x/tokenfactory/types/expected_keepers.go
  x/txfees/keeper/keeper.go
  x/txfees/types/expected_keepers.go
Labels: C:docs, C:x/lockup, C:x/gamm, C:x/mint, C:x/incentives, C:x/pool-incentives, C:x/superfluid, C:x/txfees, C:app-wiring, C:x/tokenfactory, A:backport/v11.x

#2400 refactor(ci): improve update paths job with per-branch names and check out non-main branch
  .github/workflows/import_paths.yml
Labels: T:CI, A:backport/v11.x

#2404 sim: transfer sdk sim functions
  simulation/executor/init_functions.go
  simulation/executor/legacyconfig.go
  simulation/executor/simulate.go
  simulation/executor/simulate_dev.go
  simulation/executor/types.go
  simulation/simtypes/simctx.go
  tests/simulator/sim_test.go
  tests/simulator/state.go
Labels: C:simulator

#2165 x/gamm: Add PoolI mocks and test for inactive pools
  go.mod
  tests/mocks/mock_pool.go
  x/gamm/keeper/export_test.go
  x/gamm/keeper/swap_test.go
  x/gamm/pool-models/balancer/pool_test.go
Labels: C:x/gamm

#2308 Supply offset changes on sdk fork
  go.mod
  go.sum
  x/mint/keeper/keeper_test.go
Labels: C:x/mint

#2417 refactor(x/mint): unexport keeper methods
  CHANGELOG.md
  app/apptesting/test_suite.go
  x/mint/keeper/export_test.go
  x/mint/keeper/genesis.go
  x/mint/keeper/hooks.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/pool-incentives/keeper/distr_test.go
Labels: C:docs, C:x/mint, C:x/pool-incentives, C:app-wiring, A:backport/v11.x

#2192 Refactor distr_test.go to table-driven
  app/apptesting/test_suite.go
  go.mod
  go.sum
  x/pool-incentives/keeper/distr_test.go
Labels: C:x/pool-incentives, C:app-wiring, A:backport/v11.x

#2428 chore: Remove release workflow
  .github/workflows/release.yml
Labels: T:CI, A:backport/v11.x

#2434 refactor(x/superfluid): improve lock validation errors
  x/superfluid/keeper/stake.go
Labels: C:x/superfluid, A:backport/v11.x

#2427 Fix reproducible linux builds
  Dockerfile
  Makefile
  contrib/images/osmobuilder/Makefile
  tests/e2e/containers/containers.go
Labels: T:build

#2440 feat: add multiple docker images
  .github/workflows/docker.yml
  Dockerfile
Labels: T:CI, T:build

#2294 feat(twap): historic pruning
  x/twap/README.md
  x/twap/export_test.go
  x/twap/keeper_test.go
  x/twap/listeners.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/store.go
  x/twap/store_test.go
  x/twap/types/keys.go
Labels: C:docs

#2439 feat: Removed authz and added unbound to ics host params
  app/upgrades/v12/upgrades.go
Labels: C:app-wiring

#2455 Update labeler.yml
  .github/labeler.yml
Labels: T:CI

#2452 feat(twap/upgrade): register TWAP parameters; update epoch id in upgrade handler
  app/keepers/keepers.go
  app/upgrades/v12/upgrades.go
  x/mint/types/params.go
  x/twap/keeper.go
  x/twap/types/params.go
Labels: C:x/mint, C:app-wiring

#2418 refactor(x/mint): remove SetInitialSupplyOffsetDuringMigration keeper method
  CHANGELOG.md
  app/upgrades/v7/upgrades.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
Labels: C:docs, C:x/mint, C:app-wiring, A:backport/v11.x

#2419 sim: add sqlite to further analyze sim runs
  .gitignore
  go.mod
  go.sum
  simulation/executor/legacyconfig.go
  simulation/executor/simulate.go
  simulation/simtypes/legacy.go
  simulation/simtypes/txbuilder.go
  tests/simulator/sim_test.go
Labels: C:simulator

#2436 feat: mutation test script improvements
  .github/workflows/mutest-issue-generate.yml
  Makefile
  scripts/mutation-test.sh
Labels: T:CI, T:build

#2451 feat(twap): init and export genesis
  x/twap/keeper.go
  x/twap/keeper_test.go
  x/twap/twapmodule/module.go
Labels: C:app-wiring, C:x/twap

#2461 Finalize CI state compatibility to osmosisd version
  .github/workflows/state-compatibility-check.yml
Labels: T:CI, A:backport/v3.x, A:backport/v6.x, A:backport/v8.x, A:backport/v10.x, A:backport/v11.x

#2420 twap: Add Multi-Pool hooks test for `AfterPoolCreated`
  app/apptesting/gamm.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/twap/keeper_test.go
  x/twap/listeners_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/keeper/feetokens_test.go
  x/txfees/keeper/hooks_test.go
Labels: C:x/gamm, C:x/txfees, C:app-wiring, C:x/twap

#2471 x/mint - rounding; change accumulator semantics to persists truncationd delta across epochs instead of expected distributions
  app/apptesting/test_suite.go
  app/keepers/keepers.go
  osmoutils/store_helper.go
  proto/osmosis/mint/v1beta1/mint.proto
  x/mint/keeper/genesis.go
  x/mint/keeper/hooks.go
  x/mint/keeper/hooks_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/simulation/genesis_test.go
  x/mint/types/keys.go
  x/mint/types/mint.pb.go
  x/mint/types/minter.go
  x/mint/types/minter_test.go
  x/superfluid/keeper/keeper.go
  x/superfluid/keeper/stake.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/mint, C:x/superfluid, C:app-wiring, C:simulator

#2472 improve abstractions for the mint rounding solution
  x/mint/keeper/export_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/simulation/genesis_test.go
  x/mint/types/minter.go
  x/mint/types/minter_test.go
Labels: C:x/mint, C:simulator

#2473 refactor(x/superfluid): improve error handling for AddNewSuperfluidAsset
  CHANGELOG.md
  app/upgrades/v7/upgrades.go
  x/superfluid/keeper/gov/gov.go
  x/superfluid/keeper/keeper_test.go
  x/superfluid/keeper/superfluid_asset.go
  x/superfluid/keeper/unpool_test.go
Labels: C:docs, C:x/superfluid, C:app-wiring

#2429 Twap: Integrate and Add migration tests
  app/upgrades/v12/upgrade_test.go
  app/upgrades/v12/upgrades.go
  x/twap/listeners.go
  x/twap/migrate.go
  x/twap/migrate_test.go
Labels: C:app-wiring, C:x/twap

#2479 Revert "Estimate swap (#2378)"
  proto/osmosis/gamm/v1beta1/query.proto
  wasmbinding/bindings/query.go
  wasmbinding/message_plugin.go
  wasmbinding/queries.go
  wasmbinding/test/custom_query_test.go
  wasmbinding/test/queries_test.go
  wasmbinding/testdata/osmo_reflect.wasm
  x/gamm/client/cli/query.go
  x/gamm/keeper/estimate_swap.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/swap.go
  x/gamm/types/query.pb.go
Labels: C:CLI, C:x/gamm

#2483 fix unclosed iterators
  store/node.go
  x/superfluid/keeper/intermediary_account.go
Labels: C:x/superfluid

#2408 IBC Rate limiting contract
  .github/workflows/contracts.yml
  .gitignore
  x/ibc-rate-limit/Cargo.toml
  x/ibc-rate-limit/contracts/rate-limiter/.cargo/config
  x/ibc-rate-limit/contracts/rate-limiter/.gitignore
  x/ibc-rate-limit/contracts/rate-limiter/Cargo.toml
  x/ibc-rate-limit/contracts/rate-limiter/src/contract.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/contract_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/error.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/execute.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/helpers.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/integration_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/lib.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/management.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/msg.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/query.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
Labels: T:CI

#2468 chore: twap mutation fixes part 1
  app/apptesting/gamm.go
  x/twap/README.md
  x/twap/api.go
  x/twap/api_test.go
  x/twap/keeper_test.go
  x/twap/listeners_test.go
  x/twap/logic.go
  x/twap/store.go
  x/twap/store_test.go
  x/twap/types/utils.go
  x/twap/types/utils_test.go
Labels: C:docs, C:app-wiring, C:x/twap

#2167 Pool incentives grpc test
  x/pool-incentives/keeper/grpc_query_test.go
Labels: C:x/pool-incentives

#2469 [CI] Automate mutation test weekly fix
  .github/workflows/mutest-issue-generate.yml
  .gitignore
Labels: T:CI

#2459 feat/test(osmoutils): prefix iteration for osmoutils gather; begin testing store
  app/apptesting/test_suite.go
  osmoutils/export_test.go
  osmoutils/store_helper.go
  osmoutils/store_helper_test.go
  x/twap/store.go
  x/twap/types/keys.go
Labels: C:app-wiring, C:x/twap

#2381 chore(e2e): update debug configuration to handle build tags
  tests/e2e/README.md
Labels: C:docs, A:backport/v11.x

#2493 Deprecate osmobuilder and remove contrib folder [1/2]
  Makefile
Labels: T:build, A:backport/v11.x

#2494 Deprecate osmobuilder and remove contrib folder [2/2]
  .github/workflows/check-generated.yml
  .markdownlintignore
  CONTRIBUTING.md
  contrib/devtools/Makefile
  contrib/devtools/proto-tools-installer.sh
  contrib/githooks/README.md
  contrib/githooks/pre-commit
  contrib/images/Makefile
  contrib/images/osmobuilder/Dockerfile
  contrib/images/osmobuilder/Makefile
  contrib/images/rbuilder/Dockerfile
  contrib/images/rbuilder/README.md
  contrib/images/rbuilder/buildlib.sh
  contrib/scripts/test_localnet_liveness.sh
  scripts/ci/check-generated.sh
Labels: T:CI, A:backport/v11.x

#2086 modify pool-incentives submit proposal cli
  CHANGELOG.md
  app/keepers/modules.go
  x/pool-incentives/client/cli/tx.go
  x/pool-incentives/client/proposal_handler.go
  x/pool-incentives/module.go
  x/pool-incentives/types/gov.go
Labels: C:docs, C:CLI, C:x/pool-incentives, C:app-wiring

#2477 tokenfactory: address mutation tests part 1
  CHANGELOG.md
  app/apptesting/test_suite.go
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/createdenom.go
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/keeper/genesis_test.go
  x/tokenfactory/keeper/keeper_test.go
  x/tokenfactory/keeper/msg_server_test.go
  x/tokenfactory/types/expected_keepers.go
  x/tokenfactory/types/msgs.go
Labels: C:docs, C:app-wiring, C:x/tokenfactory

#2500 refactor(x/mint): truncations pt 2 - provisions split in params and minter
  x/mint/types/minter.go
  x/mint/types/minter_test.go
  x/mint/types/params.go
  x/mint/types/params_test.go
Labels: C:x/mint

#2505 docs: update e2e debugging details in CONTRIBUTING.md
  CONTRIBUTING.md
  tests/e2e/README.md
Labels: C:docs

#2405 x/gamm: Catch overflow panics on `CalculateSpotPrice`
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/types/errors.go
Labels: C:x/gamm

#2334 feat: streamswap proto
  go.mod
  proto/osmosis/streamswap/v1/event.proto
  proto/osmosis/streamswap/v1/genesis.proto
  proto/osmosis/streamswap/v1/params.proto
  proto/osmosis/streamswap/v1/query.proto
  proto/osmosis/streamswap/v1/state.proto
  proto/osmosis/streamswap/v1/tx.proto
  x/streamswap/types/event.pb.go
  x/streamswap/types/genesis.pb.go
  x/streamswap/types/params.pb.go
  x/streamswap/types/query.pb.go
  x/streamswap/types/query.pb.gw.go
  x/streamswap/types/state.pb.go
  x/streamswap/types/tx.pb.go
Labels: A:automerge

#2515 Puneet/epochevents
  CHANGELOG.md
  x/epochs/types/hooks.go
  x/epochs/types/hooks_test.go
Labels: C:docs, C:x/epochs, A:backport/v10.x, A:backport/v11.x

#2504 tokenfactory: address mutation tests part 2
  go.sum
  scripts/mutation-test.sh
  x/tokenfactory/types/denoms.go
  x/tokenfactory/types/denoms_test.go
  x/tokenfactory/types/msgs_test.go
Labels: T:build, C:x/tokenfactory

#2364 Add multi record test for `GetArithmeticTwap`, Add tests for `GetArithmeticTwapToNow`
  x/twap/api_test.go
  x/twap/keeper_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/types/utils.go
Labels: C:x/twap

#2523 simulator: transition matrix fix
  simulation/executor/params.go
Labels: C:simulator

#2527 Fix: epoch module imports mint rest
  x/epochs/module.go
Labels: C:x/epochs, C:app-wiring

#2525 Minor CI tool fixes
  .gitignore
  scripts/mutation-test.sh
Labels: T:build

#2443 Twap: Add Hooks Test, Add Unfinished Hooks, Add Params
  app/apptesting/gamm.go
  app/keepers/keepers.go
  x/twap/api_test.go
  x/twap/keeper_test.go
  x/twap/listeners.go
  x/twap/listeners_test.go
  x/twap/logic_test.go
  x/twap/migrate_test.go
  x/twap/types/params.go
Labels: C:app-wiring, C:x/twap

#2530 simulator: app hash MVP (part 1/2)
  simulation/executor/mock_tendermint.go
  simulation/executor/simulate.go
  simulation/executor/simulate_dev.go
Labels: C:simulator

#2519 Unify cache_ctx wraps
  osmoutils/cache_ctx.go
  x/epochs/types/hooks.go
Labels: C:x/epochs

#2539 Add IBC MsgTransfer for ICA Module
  app/upgrades/v12/upgrades.go
Labels: C:app-wiring

#2542 Add conditional error to osmoassert
  app/apptesting/osmoassert/assertions.go
Labels: C:app-wiring

#2545 chore: remove maxAgeNumBlocks from upgrade
  app/upgrades/v12/upgrades.go
Labels: C:app-wiring

#2529 Remove localosmosis Dockerfile
  Makefile
  tests/localosmosis/Dockerfile
  tests/localosmosis/docker-compose.yml
  tests/localosmosis/scripts/add_keys.sh
  tests/localosmosis/scripts/setup.sh
  tests/localosmosis/setup.sh
Labels: T:build, A:backport/v11.x

#2526 error returning epoch hooks
  CHANGELOG.md
  x/epochs/keeper/hooks.go
  x/epochs/types/hooks.go
  x/epochs/types/hooks_test.go
  x/incentives/keeper/hooks.go
  x/mint/keeper/hooks.go
  x/mint/keeper/hooks_test.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/hooks.go
  x/twap/listeners.go
  x/txfees/keeper/hooks.go
Labels: C:docs, C:x/mint, C:x/incentives, C:x/epochs, C:x/superfluid, C:x/txfees, C:x/twap

#2549 Twap: after exit pool hook
  app/apptesting/gamm.go
  x/twap/listeners.go
  x/twap/listeners_test.go
Labels: C:app-wiring, C:x/twap

#2551 x/twap: track pool state changes after exit pool hooks
  x/twap/listeners.go
  x/twap/listeners_test.go
Labels: C:x/twap

#2458 chore: TWAP update time precision/unit
  wasmbinding/test/custom_query_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/types/utils.go
Labels: C:x/twap

#2555 Inline stakinghelper
  app/apptesting/test_suite.go
Labels: C:app-wiring

#2531 simulator: data hash implementation (part 2/2)
  simulation/executor/simulate.go
  simulation/executor/simulate_dev.go
  simulation/simtypes/action.go
  simulation/simtypes/txbuilder.go
Labels: C:simulator
