Repository osmosis-labs/osmosis, pull requests merged in 2022-07, with the labels that each got.

#1900 chore: x/lockup documentation, minor module cleanup
  x/lockup/client/cli/query.go
  x/lockup/client/cli/tx.go
  x/lockup/keeper/grpc_query.go
  x/lockup/keeper/invariants.go
  x/lockup/keeper/iterator.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_refs.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/synthetic_lock.go
Labels: C:x/lockup, C:CLI

#1930 x/gamm: Add check to ensure JoinPoolNoSwap cannot be called with arbitrary denoms
  CHANGELOG.md
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
Labels: T:bug 🐛, C:docs, C:x/gamm

#1934 Add deadcode linter
  .golangci.yml
  osmomath/math.go
  tests/e2e/containers/config.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/stableswap/amm.go
  x/lockup/keeper/export_test.go
  x/lockup/keeper/utils.go
  x/mint/simulation/genesis.go
  x/tokenfactory/keeper/keeper.go
  x/tokenfactory/types/codec.go
Labels: C:x/lockup, C:x/gamm, T:CI, C:x/mint, C:x/tokenfactory

#1456 Generalize gamm Inverse relationship test , add Inverse relationship test for stableswap
  app/apptesting/test_suite.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/internal/cfmm_common/lp_test.go
  x/gamm/pool-models/internal/test_helpers/test_helpers.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/stableswap_pool.go
  x/gamm/pool-models/stableswap/util_test.go
Labels: C:x/gamm, C:app-wiring

#1941 x/gamm: Delete the height < v10forkheight { use broken code } check
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/internal/cfmm_common/lp.go
Labels: C:x/gamm

#1937 x/lock: Fix `ExtendLockup` API
  CHANGELOG.md
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/msg_server.go
Labels: C:docs, C:x/lockup

#1872 chore: x/mint genesis - audit, clean up and tests
  app/upgrades/v7/upgrades.go
  x/mint/keeper/export_test.go
  x/mint/keeper/genesis.go
  x/mint/keeper/genesis_test.go
  x/mint/keeper/hooks_test.go
  x/mint/keeper/integration_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/module.go
  x/mint/module_test.go
Labels: C:x/mint, C:app-wiring

#1938 Re-use code in superfluid TotalDelegationByDelegator
  .golangci.yml
  x/superfluid/keeper/grpc_query.go
Labels: T:CI, C:x/superfluid

#1948 gofumpt matienance
  tests/e2e/e2e_setup_test.go
  x/epochs/keeper/epoch_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/mint/keeper/hooks_test.go
  x/mint/keeper/keeper_test.go
  x/mint/simulation/genesis.go
  x/mint/types/minter_test.go
  x/pool-incentives/keeper/hooks.go
  x/superfluid/client/cli/query.go
  x/superfluid/keeper/grpc_query.go
  x/tokenfactory/types/codec.go
Labels: C:CLI, C:x/gamm, C:x/mint, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/tokenfactory

#1939 lint: enable unused in golangci-lint
  .golangci.yml
  osmomath/math.go
  store/node.go
  tests/e2e/containers/config.go
  tests/e2e/initialization/chain.go
  tests/e2e/initialization/validator.go
  x/gamm/keeper/keeper.go
  x/gamm/module.go
  x/gamm/pool-models/stableswap/amm.go
  x/incentives/keeper/gauge.go
  x/lockup/keeper/store.go
  x/tokenfactory/keeper/bankactions.go
Labels: C:x/lockup, C:x/gamm, T:CI, C:x/incentives, C:app-wiring, C:x/tokenfactory

#1892 Making CI for testing generated proto correctness
  .github/workflows/check-generated.yml
  chain.schema.json
  contrib/scripts/check-generated.sh
Labels: T:CI

#1953 lint: remove unused v10 fork height
  x/gamm/pool-models/balancer/pool.go
Labels: C:x/gamm

#1951 chore: Rename `ResetAllLocks`
  x/lockup/keeper/bench_test.go
  x/lockup/keeper/genesis.go
  x/lockup/keeper/genesis_test.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/synthetic_lock_test.go
Labels: C:x/lockup

#1957 lint: enable gosimple
  .golangci.yml
  tests/e2e/containers/containers.go
Labels: T:CI

#1936 Refactor `lock` method
  x/lockup/keeper/admin_keeper_test.go
  x/lockup/keeper/export_test.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
Labels: C:x/lockup

#1970 x/gamm: Rename CalcExitPoolShares to CalcExitPoolCoinsFromShares
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/types/pool.go
Labels: C:x/gamm

#1967 Clean up pool asset
  x/gamm/pool-models/balancer/msgs.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/pool_asset.go
  x/gamm/pool-models/balancer/pool_params.go
Labels: C:x/gamm

#1931 x/gamm: Add check for correct input asset denoms to CalcJoinPoolShares
  CHANGELOG.md
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/pool.go
  x/superfluid/keeper/grpc_query.go
Labels: T:bug 🐛, C:docs, C:x/gamm, C:x/superfluid, A:automerge

#1960 lint: enable stylecheck
  .golangci.yml
  app/apptesting/gamm.go
  app/apptesting/test_suite.go
  store/node.go
  x/gamm/pool-models/balancer/marshal.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/pool_asset.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool.go
  x/incentives/client/cli/tx.go
  x/pool-incentives/types/expected_keepers.go
  x/tokenfactory/keeper/createdenom.go
  x/txfees/keeper/feedecorator.go
  x/txfees/types/options.go
Labels: C:CLI, C:x/gamm, T:CI, C:x/incentives, C:x/pool-incentives, C:x/txfees, A:automerge, C:app-wiring, C:x/tokenfactory

#1963 e2e: refactor initialization with single node logic
  Makefile
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/initialization/chain.go
  tests/e2e/initialization/chain/main.go
  tests/e2e/initialization/config.go
  tests/e2e/initialization/export.go
  tests/e2e/initialization/init.go
  tests/e2e/initialization/init_test.go
  tests/e2e/initialization/main.go
  tests/e2e/initialization/node.go
  tests/e2e/initialization/node/main.go
Labels: T:build, A:backport/v10.x

#1974 lint: fix issue from parallel e2e pull request
  tests/e2e/initialization/node.go
Labels: A:automerge

#1962 chore: x/tokenfactory audit
  proto/osmosis/tokenfactory/v1beta1/genesis.proto
  proto/osmosis/tokenfactory/v1beta1/params.proto
  proto/osmosis/tokenfactory/v1beta1/query.proto
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  x/tokenfactory/README.md
  x/tokenfactory/module.go
  x/tokenfactory/types/genesis.pb.go
  x/tokenfactory/types/params.pb.go
  x/tokenfactory/types/query.pb.go
  x/tokenfactory/types/tx.pb.go
Labels: C:docs, C:app-wiring, C:x/tokenfactory

#1968 chore: refactor unlock test
  x/lockup/keeper/lock_test.go
Labels: C:x/lockup

#1978 x/gamm: consolidate stableswap pool and params files
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_params.go
  x/gamm/pool-models/stableswap/stableswap_pool.go
Labels: C:x/gamm

#1981 Remove the EndBlock ordering constraints, that didn't matter before
  app/modules.go
  x/superfluid/abci.go
  x/superfluid/module.go
Labels: C:x/superfluid, C:app-wiring

#1982 Add TWAP stub package
  x/gamm/twap/README.md
  x/gamm/twap/abci.go
  x/gamm/twap/hook_listener.go
  x/gamm/twap/keeper.go
  x/gamm/twap/module.go
  x/gamm/twap/store.go
  x/gamm/twap/types/keys.go
Labels: C:docs, C:x/gamm, C:app-wiring

#1984 x/incentives: protobuf updates
  proto/osmosis/incentives/gauge.proto
  proto/osmosis/incentives/genesis.proto
  proto/osmosis/incentives/params.proto
  proto/osmosis/incentives/query.proto
  proto/osmosis/incentives/tx.proto
  x/incentives/types/gauge.pb.go
  x/incentives/types/genesis.pb.go
  x/incentives/types/params.pb.go
  x/incentives/types/query.pb.go
  x/incentives/types/tx.pb.go
Labels: C:x/incentives

#1987 x/gamm : Fix public/private on GetNextPoolNumber API
  CHANGELOG.md
  x/gamm/keeper/genesis.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
Labels: C:docs, C:x/gamm

#1886 Feature/add details to join exit pool reponse
  CHANGELOG.md
  go.mod
  go.sum
  proto/osmosis/gamm/v1beta1/tx.proto
  x/gamm/keeper/gas_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/types/tx.pb.go
  x/superfluid/keeper/unpool_test.go
Labels: C:docs, C:x/gamm, C:x/superfluid

#1992 chore: add stalebot to CI
  .github/workflows/stalebot.yml
Labels: T:CI, A:automerge

#1996 chore: remove legacy msg handlers
  x/epochs/handler.go
  x/epochs/module.go
  x/gamm/handler.go
  x/gamm/module.go
  x/incentives/handler.go
  x/incentives/module.go
  x/lockup/handler.go
  x/lockup/module.go
  x/superfluid/handler.go
  x/superfluid/module.go
Labels: C:x/lockup, C:x/gamm, C:x/incentives, C:x/epochs, C:x/superfluid, C:app-wiring

#1952 Refactor keeper tests in x/mint
  x/mint/keeper/keeper_test.go
Labels: C:x/mint

#1994 remove bech32 ibc
  CHANGELOG.md
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v5/upgrades.go
  go.mod
  go.sum
  osmoutils/partialord/partialord_test.go
Labels: C:docs, C:app-wiring

#1956 lint: enable staticcheck
  .golangci.yml
  cmd/osmosisd/cmd/balances_from_state_export.go
  cmd/osmosisd/cmd/forceprune.go
  cmd/osmosisd/cmd/genesis.go
  cmd/osmosisd/cmd/testnet.go
  x/incentives/types/genesis.go
  x/lockup/types/genesis.go
Labels: C:x/lockup, T:CI, C:x/incentives

#1999 refactor(e2e): modular test runner
  tests/e2e/README.md
  tests/e2e/configurer/base.go
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/configurer/chain/validator.go
  tests/e2e/configurer/config/constants.go
  tests/e2e/configurer/current.go
  tests/e2e/configurer/factory.go
  tests/e2e/configurer/setup.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/initialization/README.md
  tests/e2e/initialization/init_test.go
Labels: C:docs

#2001 x/mint: make all fixtures in keeper package use KeeperTestSuite
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/hooks_test.go
  x/mint/keeper/keeper_test.go
Labels: C:x/mint

#1985 x/incentives: cli updates
  x/incentives/client/cli/cli_test.go
  x/incentives/client/cli/flags.go
  x/incentives/client/cli/query.go
  x/incentives/client/cli/tx.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/grpc_query.go
Labels: C:CLI, C:x/incentives

#1986 x/incentives: test improvements
  x/incentives/README.md
  x/incentives/keeper/bench_test.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/genesis_test.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/keeper/keeper_test.go
  x/incentives/keeper/store_test.go
  x/incentives/keeper/suite_test.go
  x/incentives/keeper/utils_test.go
Labels: C:docs, C:x/incentives

#2011 Fix Initgenesis bug in tokenfactory, when the denom creation fee para…
  .gitignore
  CHANGELOG.md
  x/tokenfactory/keeper/createdenom.go
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/keeper/genesis.go
  x/tokenfactory/keeper/genesis_test.go
  x/tokenfactory/types/errors.go
Labels: C:docs, A:backport/v10.x, C:x/tokenfactory

#2014 improve getToDistributedCoinsFromGauges
  x/incentives/keeper/distribute.go
  x/incentives/keeper/gauge.go
Labels: C:x/incentives

#2010 x/superfluid: no delegation distribution info
  x/superfluid/keeper/epoch.go
Labels: C:x/superfluid

#2012 Add suite.Run(...) to all table driven tests
  tests/e2e/initialization/init_test.go
  x/gamm/keeper/multihop_test.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/twap/module.go
  x/gamm/twap/types/keys.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/keeper/feetokens_test.go
Labels: T:tests, C:x/gamm, C:x/txfees, C:app-wiring

#1949 x/gamm: refactor all pool_service.go tests to be properly table-driven
  x/gamm/keeper/pool_service_test.go
Labels: T:tests, C:x/gamm

#2017 Backport/add release workflow to v10.x
  .github/workflows/release.yml
  contrib/images/osmobuilder/Makefile
Labels: Type:CI

#1997 x/incentives: remaining audit updates
  x/incentives/keeper/distribute.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/genesis.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/hooks.go
  x/incentives/keeper/iterator.go
  x/incentives/keeper/keeper.go
  x/incentives/keeper/msg_server.go
  x/incentives/keeper/params.go
  x/incentives/keeper/store.go
  x/incentives/keeper/utils.go
  x/incentives/module.go
  x/incentives/simulation/genesis.go
  x/incentives/simulation/operations.go
  x/incentives/simulation/params.go
  x/incentives/types/codec.go
  x/incentives/types/events.go
  x/incentives/types/expected_keepers.go
  x/incentives/types/gauge.go
  x/incentives/types/genesis.go
  x/incentives/types/hooks.go
  x/incentives/types/msgs.go
  x/incentives/types/msgs_test.go
  x/incentives/types/params.go
Labels: C:x/incentives, C:app-wiring

#1991 chore: Add documentations for superfluid module
  proto/osmosis/superfluid/genesis.proto
  proto/osmosis/superfluid/params.proto
  proto/osmosis/superfluid/query.proto
  proto/osmosis/superfluid/superfluid.proto
  proto/osmosis/superfluid/tx.proto
  x/superfluid/keeper/hooks_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/stake.go
  x/superfluid/types/genesis.pb.go
  x/superfluid/types/params.pb.go
  x/superfluid/types/query.pb.go
  x/superfluid/types/superfluid.pb.go
Labels: C:x/superfluid

#1932 x/incentives: Simplify gauge tests in module
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/suite_test.go
Labels: C:x/incentives

#2050 Add basic test for IsActive
  x/gamm/pool-models/balancer/pool_test.go
Labels: T:tests, C:x/gamm

#2048 chore: fix superfluid documentation typos
  proto/osmosis/superfluid/genesis.proto
  proto/osmosis/superfluid/params.proto
  x/superfluid/types/genesis.pb.go
  x/superfluid/types/params.pb.go
Labels: C:x/superfluid

#1871 WIP: Simulator reworkings
  .golangci.yml
  app/app.go
  app/modules.go
  osmoutils/coin_helper.go
  osmoutils/test_helpers.go
  simapp/sim_test.go
  simapp/state.go
  simulation/ADR.md
  simulation/executor/doc.go
  simulation/executor/event_stats.go
  simulation/executor/expected_keepers.go
  simulation/executor/log.go
  simulation/executor/mock_tendermint.go
  simulation/executor/operation.go
  simulation/executor/params.go
  simulation/executor/params_test.go
  simulation/executor/simulate.go
  simulation/executor/simulate_dev.go
  simulation/executor/util.go
  simulation/types/account.go
  simulation/types/action.go
  simulation/types/app.go
  simulation/types/genesis_config.go
  simulation/types/init_functions.go
  simulation/types/legacy.go
  simulation/types/manager.go
  simulation/types/random/sdkrand.go
  simulation/types/randutil.go
  simulation/types/simctx.go
  simulation/types/transitionmatrix/transition_matrix.go
  simulation/types/txbuilder.go
  simulation/types/weight.go
  x/gamm/keeper/pool.go
  x/gamm/module.go
  x/gamm/simulation/sim_msgs.go
  x/incentives/simulation/operations.go
  x/lockup/module.go
  x/lockup/simulation/operations.go
  x/simulation/mod.go
  x/superfluid/simulation/operations.go
Labels: C:x/lockup, C:x/gamm, T:CI, C:x/incentives, C:x/superfluid, C:app-wiring

#2052 Move simulator test to tests package, temporarily disable from CI until determinism is fixed
  .github/workflows/sim.yml
  Makefile
  osmoutils/slice_helper.go
  simapp/params.json
  simulation/executor/simulate.go
  simulation/types/action.go
  simulation/types/txbuilder.go
  tests/simulator/genesis.go
  tests/simulator/params.json
  tests/simulator/sim_test.go
  tests/simulator/state.go
  x/lockup/keeper/lock.go
  x/lockup/simulation/operations.go
Labels: C:x/lockup, T:CI, T:build

#1969 x/gamm: refactor balancer pool_test.go tests to be properly table-driven
  x/gamm/pool-models/balancer/pool_test.go
Labels: C:x/gamm

#1983 refactor(x/gamm): swap events
  x/gamm/keeper/internal/events/emit.go
  x/gamm/keeper/internal/events/emit_test.go
  x/gamm/keeper/keeper.go
  x/gamm/keeper/msg_server_test.go
  x/gamm/keeper/multihop.go
  x/gamm/keeper/share.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
  x/gamm/spec/README.md
  x/gamm/types/events.go
Labels: C:docs, C:x/gamm

#2065 refactor(x/mint): introduce distributeDeveloperRewards methods; unit tests (1/2)
  x/mint/keeper/export_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
Labels: C:x/mint, A:backport/v10.x

#1853 feat: mutation testing setup
  Makefile
  go.mod
  go.sum
  scripts/mutation-test.sh
  tools/tools.go
Labels: T:build

#2056 routine fumptage
  simulation/executor/event_stats.go
  simulation/executor/log.go
  simulation/executor/mock_tendermint.go
  simulation/executor/operation.go
  simulation/executor/params_test.go
  simulation/executor/simulate.go
  simulation/types/action.go
  simulation/types/random/sdkrand.go
  tests/e2e/configurer/upgrade.go
  x/gamm/keeper/internal/events/emit_test.go
  x/gamm/keeper/pool_service_test.go
  x/incentives/client/cli/cli_test.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/gauge_test.go
  x/mint/keeper/keeper_test.go
  x/txfees/keeper/hooks_test.go
Labels: C:CLI, C:x/gamm, C:x/mint, C:x/incentives, C:x/txfees

#2078 Add simulation to labeler
  .github/labeler.yml
Labels: T:CI

#2027 chore: cleanup superfluid testing
  x/superfluid/keeper/distribution_test.go
  x/superfluid/keeper/edge_case_test.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/keeper/hooks_test.go
  x/superfluid/keeper/intermediary_account_test.go
  x/superfluid/keeper/keeper_test.go
  x/superfluid/keeper/slash_test.go
  x/superfluid/keeper/stake_test.go
Labels: C:x/superfluid

#2081 Move random genesis to an extension interface
  simulation/types/manager.go
  x/gamm/module.go
  x/lockup/module.go
Labels: C:x/lockup, C:x/gamm, C:app-wiring, C:simulator

#2082 Simulation executor cleanup
  simulation/executor/expected_keepers.go
  simulation/executor/mock_tendermint.go
  simulation/executor/operation.go
  simulation/executor/params.go
  simulation/executor/params_test.go
  simulation/executor/simulate.go
  simulation/executor/simulate_dev.go
  simulation/executor/util.go
  simulation/types/action.go
  simulation/types/manager.go
  tests/simulator/sim_test.go
Labels: C:simulator

#2090 Rand isolation
  simulation/executor/simulate.go
  simulation/executor/simulate_dev.go
  simulation/types/account.go
  simulation/types/action.go
  simulation/types/randmanager_test.go
  simulation/types/simctx.go
  simulation/types/txbuilder.go
Labels: C:simulator

#2094 ci: manual job to replace import paths
  .github/workflows/import_paths.yml
  scripts/replace_import_paths.sh
Labels: T:CI, T:build

#2016 x/gamm: Add fixed gas cost for swaps
  CHANGELOG.md
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/types/constants.go
Labels: C:docs, C:x/gamm

#2013 x/gamm: Make all internal set functions private
  CHANGELOG.md
  app/apptesting/test_suite.go
  app/upgrades/v4/upgrade_test.go
  app/upgrades/v4/upgrades.go
  app/upgrades/v9/prop214.go
  app/upgrades/v9/prop214_test.go
  x/gamm/keeper/export_test.go
  x/gamm/keeper/genesis.go
  x/gamm/keeper/params.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/share.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/total_liquidity.go
Labels: C:docs, C:x/gamm, A:automerge, C:app-wiring, A:backport/v10.x

#2104 ci: improve import path action
  .github/workflows/import_paths.yml
  scripts/replace_import_paths.sh
Labels: T:CI, T:build

#2112 mutation script: minor changes
  .gitignore
  Makefile
  scripts/mutation-test.sh
Labels: T:build

#2071 chore(app/upgrades): set app version correctly for v11
  app/upgrades/v11/upgrades.go
Labels: C:app-wiring

#2091 simulator: add gamm and tokenfactory messages
  osmoutils/coin_helper.go
  osmoutils/iter_helper.go
  simulation/types/account.go
  simulation/types/action.go
  simulation/types/manager.go
  simulation/types/randutil.go
  simulation/types/txbuilder.go
  tests/simulator/sim_test.go
  x/gamm/module.go
  x/gamm/simulation/sim_msgs.go
  x/tokenfactory/module.go
  x/tokenfactory/simulation/sim_msgs.go
Labels: C:x/gamm, C:app-wiring, C:x/tokenfactory, C:simulator

#2067 refactor(x/mint, x/gamm errors): move errors in mint and gamm keeper to errors.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/export_test.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/types/errors.go
  x/mint/keeper/export_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/types/errors.go
Labels: C:x/gamm, C:x/mint, A:backport/v10.x

#2126 simulator: API changes
  app/app.go
  app/modules.go
  simulation/executor/mock_tendermint.go
  simulation/executor/operation.go
  simulation/executor/params.go
  simulation/executor/simulate.go
  simulation/executor/simulate_dev.go
  simulation/executor/util.go
  simulation/simtypes/account.go
  simulation/simtypes/action.go
  simulation/simtypes/app.go
  simulation/simtypes/genesis_config.go
  simulation/simtypes/init_functions.go
  simulation/simtypes/legacy.go
  simulation/simtypes/manager.go
  simulation/simtypes/randmanager_test.go
  simulation/simtypes/random/sdkrand.go
  simulation/simtypes/randutil.go
  simulation/simtypes/simctx.go
  simulation/simtypes/transitionmatrix/transition_matrix.go
  simulation/simtypes/txbuilder.go
  simulation/simtypes/weight.go
  tests/simulator/sim_test.go
  tests/simulator/state.go
  x/gamm/module.go
  x/gamm/simulation/sim_msgs.go
  x/incentives/simulation/operations.go
  x/lockup/module.go
  x/lockup/simulation/operations.go
  x/superfluid/simulation/operations.go
  x/tokenfactory/module.go
  x/tokenfactory/simulation/sim_msgs.go
Labels: C:x/lockup, C:x/gamm, C:x/incentives, C:x/superfluid, C:app-wiring, C:x/tokenfactory, C:simulator

#2132 Remove cdc arg from SimulateFromSeed, suppress committed KVStore logs
  simulation/executor/simulate.go
  simulation/simtypes/simlogger/logger.go
  tests/simulator/sim_test.go
Labels: C:simulator

#2136 fix: remove suite receiver from IsActive test
  x/gamm/pool-models/balancer/pool_test.go
Labels: T:tests, C:x/gamm

#2137 Speedup mint keeper tests (20x locally)
  x/mint/keeper/genesis_test.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/hooks_test.go
  x/mint/keeper/keeper_test.go
Labels: C:x/mint, A:backport/v10.x

#2073 refactor(x/mint): introduce distributeDeveloperRewards methods; unit tests (2/2)
  x/mint/keeper/export_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
Labels: C:x/mint, A:backport/v10.x

#2125 e2e: enable state-sync tests (final MVP)
  tests/e2e/README.md
  tests/e2e/configurer/base.go
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/node.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/configurer/factory.go
  tests/e2e/containers/config.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/initialization/init.go
  tests/e2e/initialization/init_test.go
  tests/e2e/initialization/node.go
  tests/e2e/initialization/node/main.go
Labels: C:docs

#2143 Benchmark apptesting setup time
  app/apptesting/bench_test.go
Labels: C:app-wiring, A:backport/v10.x

#2157 chore(changelog): add api breaking changelog entry from #1857
  CHANGELOG.md
Labels: C:docs, A:automerge

#2161 chore(x/mint): use Require() for assertions in tests
  x/mint/keeper/genesis_test.go
  x/mint/keeper/hooks_test.go
  x/mint/keeper/keeper_test.go
Labels: C:x/mint, A:backport/v10.x

#2156 simulator: frequency management
  simulation/executor/operation.go
  simulation/executor/simulate.go
  simulation/simtypes/action.go
  simulation/simtypes/frequency.go
  simulation/simtypes/weight.go
  x/gamm/module.go
Labels: C:x/gamm, C:app-wiring, C:simulator

#2162 refactor(mint): remove unused context parameter from getProportions
  x/mint/keeper/hooks_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
Labels: C:x/mint, A:automerge, A:backport/v10.x

#2172 simulator: prevent locking zero tokens
  simulation/simtypes/account.go
  simulation/simtypes/action.go
  x/tokenfactory/simulation/sim_msgs.go
Labels: C:x/tokenfactory, C:simulator

#2141 test(x/gamm): add liquidity event tests
  x/gamm/keeper/internal/events/emit_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/msg_server_test.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/spec/README.md
Labels: C:docs, C:x/gamm, A:backport/v10.x

#2175 TWAP proto, types package, and osmoutils
  osmoutils/iter_helper.go
  osmoutils/slice_helper.go
  osmoutils/store_helper.go
  osmoutils/time_helper.go
  proto/osmosis/gamm/twap/v1beta1/twap_record.proto
  x/gamm/twap/types/expected_interfaces.go
  x/gamm/twap/types/keys.go
  x/gamm/twap/types/keys_test.go
  x/gamm/twap/types/twap_record.pb.go
  x/gamm/twap/types/utils.go
  x/gamm/twap/types/utils_test.go
Labels: C:x/gamm

#2180 fix: check coins are positive in lockup ValidateBasic
  x/lockup/types/msgs.go
  x/lockup/types/msgs_test.go
Labels: C:x/lockup

#2189 Change depandabot timer from daily to weekly
  .github/dependabot.yml
Labels: T:CI

#2193 Twap: Add twapkeeper wiring
  CHANGELOG.md
  app/apptesting/gamm.go
  app/apptesting/test_suite.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v11/constants.go
  x/gamm/keeper/pool.go
  x/gamm/twap/abci.go
  x/gamm/twap/hook_listener.go
  x/gamm/twap/keeper.go
  x/gamm/twap/module.go
  x/gamm/twap/store.go
Labels: C:docs, C:x/gamm, C:app-wiring

#2182 simulator: return accs with SpendableCoins
  simulation/simtypes/account.go
  x/gamm/simulation/sim_msgs.go
  x/tokenfactory/module.go
  x/tokenfactory/simulation/sim_msgs.go
Labels: C:x/gamm, C:app-wiring, C:x/tokenfactory, C:simulator

#2196 simulator: create an ActionWithMetadata struct
  simulation/executor/simulate.go
  simulation/simtypes/action.go
  simulation/simtypes/manager.go
Labels: C:simulator

#2214 feat: speedup epoch distribution, superfluid component
  CHANGELOG.md
  x/incentives/keeper/distribute.go
Labels: C:docs, C:x/incentives, A:backport/v10.x

#2202 feat(txfees/incentives): minimum base fee for a message
  CHANGELOG.md
  go.mod
  x/incentives/types/msgs.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/keeper/mocks/fee_tx_mock.go
  x/txfees/types/msg_fee_extension.go
Labels: C:docs, C:x/incentives, C:x/txfees

#2226 Revert "feat(txfees/incentives): minimum base fee for a message (#2202)"
  CHANGELOG.md
  go.mod
  x/incentives/types/msgs.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/keeper/mocks/fee_tx_mock.go
  x/txfees/types/msg_fee_extension.go
Labels: C:docs, C:x/incentives, C:x/txfees

#2228 test create gauge fees
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/msg_server_test.go
Labels: C:x/incentives

#2230 finished tests
  x/incentives/keeper/msg_server_test.go
Labels: C:x/incentives

#2234 move gauge fees to types
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/msg_server.go
  x/incentives/keeper/msg_server_test.go
  x/incentives/simulation/operations.go
  x/incentives/types/gauge.go
Labels: C:x/incentives, C:simulator

#2227 feat(incentives)!: create gauge and add to gauge fee charge
  CHANGELOG.md
  app/keepers/keepers.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/keeper.go
  x/incentives/keeper/msg_server.go
  x/incentives/keeper/msg_server_test.go
  x/incentives/simulation/operations.go
  x/incentives/types/expected_keepers.go
  x/incentives/types/gauge.go
Labels: C:docs, C:x/incentives, C:app-wiring, C:simulator

#2237 feat(incentives): create gauge and add to gauge fee charge (backport #2227)
  app/keepers/keepers.go
  go.mod
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/keeper.go
  x/incentives/keeper/msg_server.go
  x/incentives/keeper/msg_server_test.go
  x/incentives/simulation/operations.go
  x/incentives/types/expected_keepers.go
  x/incentives/types/gauge.go
Labels: C:x/incentives

#2171 docs: all module README.mds relocated into module root
  x/epochs/README.md
  x/epochs/spec/README.md
  x/gamm/README.md
  x/incentives/README.md
  x/lockup/README.md
  x/lockup/spec/README.md
  x/pool-incentives/README.md
  x/superfluid/README.md
  x/superfluid/superfluiddiagram.png
  x/txfees/README.md
  x/txfees/spec/README.md
Labels: C:docs, C:x/lockup, C:x/gamm, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/txfees

#2221 Remove unused cdc
  app/modules.go
  x/epochs/keeper/keeper.go
  x/epochs/module.go
  x/incentives/module.go
  x/lockup/keeper/genesis_test.go
  x/lockup/keeper/keeper.go
  x/lockup/module.go
  x/pool-incentives/keeper/geneis_test.go
  x/pool-incentives/module.go
  x/superfluid/keeper/genesis_test.go
  x/superfluid/module.go
  x/tokenfactory/keeper/keeper.go
  x/tokenfactory/module.go
  x/txfees/keeper/keeper.go
  x/txfees/module.go
Labels: C:x/lockup, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/txfees, C:app-wiring, C:x/tokenfactory

#2246 breaking docs fixes
  x/gamm/README.md
Labels: C:docs, C:x/gamm, A:automerge

#2240 [Test] gamm: Make test case for GetPoolDenoms
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service_test.go
Labels: C:x/gamm, A:automerge

#2253 chore: v11 changelog entry for gauge fees
  CHANGELOG.md
Labels: A:automerge

#2205 Loockup msg server test
  app/apptesting/test_suite.go
  x/lockup/client/cli/cli_test.go
  x/lockup/types/msgs.go
  x/lockup/types/msgs_test.go
Labels: C:x/lockup, C:CLI, C:app-wiring

#2216 chore(upgrade): move v11 upgrade handler to v12, no-op for v11
  .github/mergify.yml
  Makefile
  app/app.go
  app/upgrades/v11/constants.go
  app/upgrades/v11/upgrades.go
  app/upgrades/v12/constants.go
  app/upgrades/v12/upgrades.go
Labels: T:CI, A:automerge, T:build, C:app-wiring

#2203 Add TWAP spec
  .markdownlint.yml
  x/gamm/twap/README.md
Labels: C:docs, C:x/gamm

#2239 simulator: tokenfactory sim updates
  x/tokenfactory/module.go
  x/tokenfactory/simulation/sim_msgs.go
Labels: C:app-wiring, C:x/tokenfactory, C:simulator
