Repository osmosis-labs/osmosis, pull requests merged in 2022-10, with the labels that each got.

#2914 Stop returning error logs + stack trace when out of gas in ApplyFuncIfNoErr
  CHANGELOG.md
  osmoutils/cache_ctx.go
Labels: C:docs, A:backport/v8.x, A:backport/v11.x, A:backport/v12.x, V:state/compatible/backport

#2913 Add chain registry update
  chain.schema.json
Labels: V:state/compatible/backport

#2912 Stableswap: swap, scale rounding & swapfee alignment w/ spec
  x/gamm/pool-models/stableswap/README.md
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:docs, C:x/gamm, V:state/breaking

#2921 [x/gamm][stableswap]: Fix and expand gamm inverse relationship tests & fix bug in `CalcInAmtGivenOut`
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/internal/test_helpers/test_helpers.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/util_test.go
Labels: C:x/gamm, C:stableswap, V:state/breaking

#2905 [x/gamm][stableswap]: Add swap fee support for single asset joins
  x/gamm/pool-models/internal/cfmm_common/lp.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:x/gamm, A:automerge, C:stableswap, V:state/breaking

#2924 Remove changelog from docs label
  .github/labeler.yml
Labels: T:CI, V:state/compatible/backport

#2925 feat: user defined modules to export
  app/export.go
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  osmoutils/cache_ctx.go
Labels: C:app-wiring, A:backport/v12.x, V:state/compatible/backport

#2928 feat: cli command to create csv for merkledrop
  cmd/osmosisd/cmd/balances_from_state_export.go
  cmd/osmosisd/cmd/root.go
Labels: A:backport/v12.x, V:state/compatible/backport

#2929 Update BlockNgine seed -> AutoStake seed
  cmd/osmosisd/cmd/init.go
Labels: A:automerge, A:backport/v12.x, V:state/compatible/backport

#2927 Remove 'V' term from stableswap multi-asset eq's
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_bench_test.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, V:state/breaking

#2931 fix: skip unmarshaling of blank modules
  cmd/osmosisd/cmd/balances_from_state_export.go
Labels: A:backport/v12.x, V:state/compatible/backport

#2938 update mergify config
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport

#2937 refactor: end block ordering - staking after gov and module sorting
  CHANGELOG.md
  app/modules.go
  app/modules_test.go
  osmoutils/partialord/partialord.go
  osmoutils/partialord/partialord_test.go
Labels: C:app-wiring, V:state/breaking, A:backport/v13.x

#2946 chore: update chain.schema.json
  chain.schema.json
Labels: A:automerge, V:state/compatible/no_backport

#2749 chore: remove cdc from keepers; switch store get/set to osmoutils (post v12)
  .github/workflows/test.yml
  app/keepers/keepers.go
  x/epochs/keeper/keeper.go
  x/incentives/keeper/keeper.go
  x/lockup/keeper/keeper.go
  x/mint/keeper/keeper.go
  x/pool-incentives/keeper/distr.go
  x/pool-incentives/keeper/keeper.go
  x/superfluid/keeper/keeper.go
  x/superfluid/keeper/unpool.go
  x/txfees/keeper/keeper.go
Labels: C:x/lockup, T:CI, C:x/mint, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/txfees, C:app-wiring, V:state/breaking

#2945 Using second helper function for ExportGenesis
  app/export.go
  go.mod
  go.sum
Labels: C:app-wiring, V:state/compatible/backport

#2964 [CI] Use fixed addrbook in state compatibility check
  .github/workflows/state-compatibility-check.yml
Labels: T:CI, A:backport/v12.x, V:state/compatible/backport

#2733 Create Force Unlock Messages
  app/apptesting/superfluid.go
  app/keepers/keepers.go
  app/upgrades/v13/upgrades.go
  proto/osmosis/lockup/params.proto
  proto/osmosis/lockup/tx.proto
  x/lockup/keeper/keeper.go
  x/lockup/keeper/keeper_test.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/msg_server_test.go
  x/lockup/types/msgs.go
  x/lockup/types/params.go
  x/lockup/types/params.pb.go
  x/lockup/types/tx.pb.go
  x/superfluid/keeper/intermediary_account.go
  x/superfluid/keeper/twap_price.go
Labels: C:x/lockup, C:x/superfluid, C:app-wiring, V:state/breaking

#2958 minor changes in gamm apptesting func
  app/apptesting/gamm.go
Labels: C:app-wiring, V:state/compatible/backport

#2967 chore: v13 e2e and upgrade boilerplate
  Makefile
  app/app.go
  app/upgrades/v13/constants.go
  app/upgrades/v13/upgrades.go
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/node.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/containers/config.go
  tests/e2e/containers/containers.go
  tests/e2e/e2e_test.go
Labels: T:build, C:app-wiring, A:backport/v12.x, V:state/compatible/backport

#2996 refactor: begin unlock event with uses split lock on partial unlock
  x/lockup/keeper/lock.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/msg_server_test.go
Labels: C:x/lockup, V:state/compatible/backport, A:backport/v13.x

#3002 fixed signature and calls
  app/export.go
  cmd/osmosisd/cmd/root.go
Labels: C:app-wiring

#3037 refactor: remove PokePool from the PoolI interface, define on extension instead (backport #3035)
  CHANGELOG.md
  tests/mocks/mock_pool.go
  x/gamm/keeper/invariants.go
  x/gamm/keeper/keeper_test.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_test.go
  x/gamm/module.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/types/pool.go
Labels: C:x/gamm, C:app-wiring

#3038 refactor(CL): TraditionalAmmInterface gamm refactor
  cmd/osmosisd/cmd/balances_from_state_export.go
  x/gamm/keeper/genesis.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/swap.go
  x/gamm/pool-models/balancer/codec.go
  x/gamm/pool-models/balancer/msgs.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/pool-models/balancer/util_test.go
  x/gamm/pool-models/internal/cfmm_common/lp.go
  x/gamm/pool-models/internal/cfmm_common/lp_test.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/codec.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/simulation/sim_msgs.go
  x/gamm/types/codec.go
  x/gamm/types/msg_create_pool.go
  x/gamm/types/pool.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/gamm, C:x/superfluid, C:simulator

#3040 Add PoolI Barebone to concententrated liquidity Moudle
  go.mod
  go.sum
  proto/osmosis/gamm/pool-models/concentrated-liquidity/concentratedPool.proto
  x/gamm/pool-models/concentrated-liquidity/concentratedPool.pb.go
  x/gamm/pool-models/concentrated-liquidity/pool.go
Labels: C:x/gamm

#2980 Add servers to openapi.yaml swagger file
  scripts/generate-docs.sh
Labels: T:build, A:backport/v12.x, V:state/compatible/backport

#3060 feat(CL): swap router module
  proto/osmosis/swaprouter/v1beta1/genesis.proto
  proto/osmosis/swaprouter/v1beta1/query.proto
  proto/osmosis/swaprouter/v1beta1/query.yml
  x/swaprouter/client/grpc/grpc_query.go
  x/swaprouter/client/query_proto_wrap.go
  x/swaprouter/client/queryproto/query.pb.go
  x/swaprouter/client/queryproto/query.pb.gw.go
  x/swaprouter/keeper.go
  x/swaprouter/module/module.go
  x/swaprouter/types/genesis.pb.go
  x/swaprouter/types/params.go
Labels: C:CLI, C:app-wiring

#3070 feat(CL): swap router messages and wiring
  app/keepers/keepers.go
  proto/osmosis/swaprouter/v1beta1/tx.proto
  x/swaprouter/keeper.go
  x/swaprouter/msg_server.go
  x/swaprouter/router.go
  x/swaprouter/types/events.go
  x/swaprouter/types/keys.go
  x/swaprouter/types/routes.go
  x/swaprouter/types/tx.pb.go
Labels: C:app-wiring

#3077 Chain.schema.json: Added ibc data, fix genesis name, formatting
  chain.schema.json
Labels: A:automerge, A:backport/v12.x, V:state/compatible/backport

#3076 Add basic module wiring in app.go
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  go.mod
  proto/osmosis/concentrated-liquidity/genesis.proto
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/module.go
  x/concentrated-liquidity/types/genesis.go
  x/concentrated-liquidity/types/genesis.pb.go
  x/concentrated-liquidity/types/keys.go
Labels: C:app-wiring

#3082 chore: concentrated liquidity label
  .github/labeler.yml
Labels: T:CI, V:state/compatible/no_backport

#3006 [x/gamm][stableswap]: Expand inverse relation tests to multi assets and add scaling factors
  x/gamm/pool-models/stableswap/README.md
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:docs, C:x/gamm, C:stableswap, V:state/breaking

#3084 [x/gamm][stableswap]: Deprecate two-asset binary search solver in favor of multi-asset one
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_bench_test.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, C:stableswap, V:state/breaking

#3068 [stableswap]: Implement simplified direct multi-asset CFMM solver
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, A:automerge, C:stableswap, V:state/breaking

#3035 refactor: remove PokePool from the PoolI interface, define on extension instead
  CHANGELOG.md
  tests/mocks/mock_pool.go
  x/gamm/keeper/invariants.go
  x/gamm/keeper/keeper_test.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_test.go
  x/gamm/module.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/types/pool.go
Labels: C:x/gamm, C:app-wiring, V:state/breaking

#3095 ci(CL): run tests on CL branch and add backport config
  .github/mergify.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/backport

#3096 Add store key for swap router
  app/keepers/keepers.go
Labels: C:app-wiring

#3079 feat(CL): Support Next Tick
  osmomath/math.go
  proto/osmosis/concentrated-liquidity/concentratedPool.proto
  x/concentrated-liquidity/concentratedPool.pb.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/keys.go
Labels: C:x/concentrated-liquidity, F: concentrated-liquidity

#2783 After create pool test
  x/twap/export_test.go
  x/twap/logic_test.go
Labels: C:x/twap, V:state/compatible/backport

#2957 fix GetModuleToDistributeCoins
  x/incentives/keeper/distribute.go
Labels: C:x/incentives, A:backport/v12.x, V:state/compatible/backport

#3103 [x/gamm]Update comment in gamm module (super small change)
  x/gamm/keeper/swap.go
Labels: C:x/gamm, A:backport/v12.x, V:state/compatible/backport

#3115 chore: update concentrated liquidity backport label
  .github/mergify.yml
Labels: T:CI, A:backport/v12.x, V:state/compatible/backport

#2788 feat(osmomath): log2 approximation
  CHANGELOG.md
  osmomath/decimal.go
  osmomath/decimal_test.go
  osmomath/log2_bench_test.go
  osmomath/rounding_direction_test.go
Labels: A:backport/v12.x, V:state/compatible/backport, A:backport/label=A:backport/cl

#3055 [stableswap]: Cap number of assets and post-scaled asset amounts to ensure pools never overflow
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/msgs_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
  x/gamm/types/constants.go
  x/gamm/types/errors.go
Labels: C:x/gamm, C:stableswap, V:state/breaking

#3121 (chore) Remove unused versions in mergify backports
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport

#3124 CI: Delete failing step
  .github/workflows/test.yml
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, T:CI, V:state/compatible/no_backport

#3102 [x/gamm][stableswap]: Add inverse join/exit tests, fix single asset join bug, and remove uneven ratio joins
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:x/gamm, C:stableswap, V:state/breaking

#2942 Stableswap implement JoinPoolNoSwap
  x/gamm/keeper/pool_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:x/gamm, V:state/breaking

#3101 concentrated liquidity: further swap/lp work
  .github/workflows/test.yml
  proto/osmosis/concentrated-liquidity/concentratedPool.proto
  x/concentrated-liquidity/concentratedPool.pb.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/types/cl.go
Labels: T:CI

#3128 refactor(CL): move multihop to swap router, wire to concentrated liquidity module
  app/apptesting/test_suite.go
  app/keepers/keepers.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/swaps.go
  x/gamm/keeper/multihop.go
  x/gamm/keeper/multihop_test.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
  x/swaprouter/keeper_test.go
  x/swaprouter/router.go
  x/swaprouter/router_test.go
  x/swaprouter/types/routes.go
  x/txfees/keeper/hooks.go
  x/txfees/keeper/keeper.go
  x/txfees/types/expected_keepers.go
Labels: C:x/gamm, C:x/txfees, C:app-wiring

#3001 Make testing suite to ensure queries never alter state
  app/apptesting/test_suite.go
  app/export.go
  x/epochs/client/cli/query_test.go
  x/gamm/client/cli/query_test.go
  x/incentives/client/cli/query_test.go
  x/lockup/client/cli/query_test.go
  x/mint/client/cli/query_test.go
  x/pool-incentives/client/cli/query_test.go
  x/superfluid/client/cli/query_test.go
  x/tokenfactory/client/cli/query_test.go
  x/txfees/client/cli/query_test.go
Labels: C:x/lockup, C:CLI, C:x/gamm, C:x/mint, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/txfees, C:app-wiring, C:x/tokenfactory, A:backport/v12.x, V:state/compatible/backport

#3148 fix: should run CI go test
  .github/workflows/test.yml
Labels: T:CI

#3150 chore: remove cosmwasm lint from CI
  .github/workflows/contracts.yml
Labels: T:CI

#3137 feat: concentrated liquidity swap milestone 3
  x/concentrated-liquidity/math.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/types/cl.go
Labels: F: concentrated-liquidity

#3152 deprecate `SwapExactAmountInDefaultSwapFee` in gamm
  app/apptesting/test_suite.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
Labels: F: concentrated-liquidity

#3146 Remove streamswap
  proto/osmosis/streamswap/v1/event.proto
  proto/osmosis/streamswap/v1/genesis.proto
  proto/osmosis/streamswap/v1/params.proto
  proto/osmosis/streamswap/v1/query.proto
  proto/osmosis/streamswap/v1/state.proto
  proto/osmosis/streamswap/v1/tx.proto
  x/streamswap/README.md
  x/streamswap/types/event.pb.go
  x/streamswap/types/genesis.pb.go
  x/streamswap/types/params.pb.go
  x/streamswap/types/query.pb.go
  x/streamswap/types/query.pb.gw.go
  x/streamswap/types/state.pb.go
  x/streamswap/types/tx.pb.go
Labels: C:docs, V:state/compatible/no_backport

#3151 feat: get liquidity from input amounts
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math.go
  x/concentrated-liquidity/math_test.go
  x/concentrated-liquidity/pool.go
Labels: C:x/concentrated-liquidity

#3158 Support cross tick create position
  x/concentrated-liquidity/lp.go
Labels: C:x/concentrated-liquidity

#3163 Change `lte` to `zeroToOne`
  x/concentrated-liquidity/math.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/gamm/pool-models/stableswap/README.md
Labels: C:docs, C:x/gamm, C:x/concentrated-liquidity, F: concentrated-liquidity

#3161 chore: liq0/liq1 table driven test framework
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/math_test.go
Labels: C:x/concentrated-liquidity

#3171 chore: enable bool check for ticks and add setup
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
Labels: C:x/concentrated-liquidity

#3167 chore: calc swap step table driven tests
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/math_test.go
Labels: C:x/concentrated-liquidity

#3162 chore: calcdelta0/calcdelta1 table drive test framework
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/math_test.go
Labels: C:x/concentrated-liquidity

#3164 chore: table driven test for next sqrt price0/1
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/math.go
  x/concentrated-liquidity/math_test.go
Labels: C:x/concentrated-liquidity

#3165 chore: table driven test for price/tick tick/price
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: C:x/concentrated-liquidity

#3173 chore: add wolfram calculation to tests
  x/concentrated-liquidity/math.go
  x/concentrated-liquidity/math_test.go
Labels: C:x/concentrated-liquidity

#3177 Implement Swap logic for concentrated liquidity
  proto/osmosis/concentrated-liquidity/concentratedPool.proto
  x/concentrated-liquidity/concentratedPool.pb.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/swaprouter/router.go
Labels: C:x/concentrated-liquidity, C:x/swaprouter

#2950 IBC rate limiting: Updated the contract to cosmwasm 1.1 and Uint256 for amounts
  x/ibc-rate-limit/contracts/rate-limiter/Cargo.toml
  x/ibc-rate-limit/contracts/rate-limiter/examples/schema.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/contract_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/execute.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/helpers.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/integration_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/msg.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
  x/ibc-rate-limit/testdata/rate_limiter.wasm
Labels: V:state/compatible/no_backport

#3179 chore(e2e): use environment variable instead of build tags to control e2e
  Makefile
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/initialization/init_test.go
Labels: T:build, A:backport/v12.x, V:state/compatible/backport

#3183 Rate limit - Cleaner tests
  .github/workflows/contracts.yml
  .gitignore
  app/apptesting/events.go
  app/keepers/keepers.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
  x/ibc-rate-limit/contracts/rate-limiter/src/contract_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/error.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/integration_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/packet.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state.rs
  x/ibc-rate-limit/ibc_middleware_test.go
  x/ibc-rate-limit/ibc_module.go
  x/ibc-rate-limit/ics4_wrapper.go
  x/ibc-rate-limit/rate_limit.go
  x/ibc-rate-limit/testdata/rate_limiter.wasm
  x/ibc-rate-limit/testutil/chain.go
  x/ibc-rate-limit/testutil/wasm.go
  x/ibc-rate-limit/types/errors.go
Labels: T:CI, C:app-wiring, V:state/breaking

#3168 update version numbers
  chain.schema.json
Labels: A:automerge, V:state/compatible/no_backport

#3176 Merge v12.2.0 changes into v12.x
  CHANGELOG.md
  app/export.go
  app/modules.go
  app/modules_test.go
  go.mod
  go.sum
  osmoutils/cache_ctx.go
  osmoutils/partialord/partialord.go
  osmoutils/partialord/partialord_test.go
Labels: C:docs, C:app-wiring

#3180 chore(e2e): add vscode debug configurations
  .vscode/launch.json
  .vscode/tasks.json
Labels: A:backport/v12.x, V:state/compatible/backport
