Repository osmosis-labs/osmosis, pull requests merged in 2022-06, with the labels that each got.

#1636 Replace osmobuilder build tags to create releases
  contrib/images/osmobuilder/Dockerfile
Labels: A:backport/v9.x

#1634 Wrap tokenfactory error
  x/tokenfactory/keeper/msg_server.go
Labels: A:automerge

#1638 chore: Set MaxAgeNumBlocks in v10 Upgrade Handler
  app/app.go
  app/upgrades/types.go
  app/upgrades/v10/upgrades.go
  app/upgrades/v4/upgrades.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v7/upgrades.go
  app/upgrades/v9/upgrades.go
Labels: A:automerge

#1442 Use tm-db master branch
  CHANGELOG.md
  go.mod
  go.sum
Labels: A:automerge

#1310 fix: minor security findings
  app/export.go
  cmd/osmosisd/cmd/balances_from_state_export.go
  store/tree.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/genesis.go
  x/lockup/keeper/msg_server.go
  x/superfluid/spec/README.md
Labels: C:x/lockup, C:x/incentives, C:x/superfluid

#1644 Add release pipeline to create artifacts for osmosis releases
  .github/workflows/release.yml
  contrib/images/osmobuilder/Makefile
Labels: A:automerge, Type:CI

#1662 Try adding github labeller actions for app-wiring and wasm
  .github/labeler.yml
  app/app.go
  app/wasm/README.md
  x/incentives/module.go
Labels: C:x/incentives, A:automerge, Type:CI

#1658 chore: unify docker proto container name
  Makefile
Labels: devops, T:dev-UX, A:automerge, Type:build

#1670 Add a comment to the labeller
  .github/labeler.yml
Labels: A:automerge, Type:CI

#1665 Delete the app interface
  CHANGELOG.md
  app/app.go
  app/types.go
Labels: C:app-wiring

#1672 Fix proto services for balancer and superfluid module
  proto/osmosis/gamm/pool-models/balancer/balancerPool.proto
  proto/osmosis/gamm/pool-models/balancer/tx/tx.proto
  proto/osmosis/gamm/v1beta1/genesis.proto
  proto/osmosis/superfluid/v1beta1/gov.proto
  x/gamm/pool-models/balancer/balancerPool.pb.go
  x/gamm/pool-models/balancer/tx.pb.go
  x/superfluid/types/gov.pb.go
Labels: C:x/gamm, C:x/superfluid, A:automerge

#1632 Query osmo equivilent is staked via superfluid
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/osmosis/superfluid/query.proto
  proto/osmosis/superfluid/superfluid.proto
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/types/query.pb.go
  x/superfluid/types/superfluid.pb.go
Labels: C:x/superfluid, A:backport/v9.x

#1693 Fix make format
  Makefile
  ante/sendblock_test.go
  app/upgrades/v9/upgrade_test.go
  app/wasm/test/messages_test.go
  go.mod
  go.sum
  osmoutils/binary_search.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tools/tools.go
  x/gamm/pool-models/internal/cfmm_common/lp_test.go
  x/gamm/pool-models/stableswap/amm.go
Labels: C:x/gamm, A:automerge, Type:build, C:wasm, C:app-wiring

#1656 Proto: camelCase to snake_case
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/osmosis/gamm/pool-models/balancer/balancerPool.proto
  proto/osmosis/gamm/pool-models/balancer/tx/tx.proto
  proto/osmosis/gamm/pool-models/stableswap/stableswap_pool.proto
  proto/osmosis/gamm/pool-models/stableswap/tx.proto
  proto/osmosis/gamm/v1beta1/query.proto
  proto/osmosis/gamm/v1beta1/tx.proto
  proto/osmosis/superfluid/query.proto
  proto/osmosis/superfluid/tx.proto
  proto/osmosis/tokenfactory/v1beta1/authorityMetadata.proto
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  x/gamm/pool-models/balancer/balancerPool.pb.go
  x/gamm/pool-models/balancer/tx.pb.go
  x/gamm/pool-models/stableswap/stableswap_pool.pb.go
  x/gamm/pool-models/stableswap/tx.pb.go
  x/gamm/types/query.pb.go
  x/gamm/types/query.pb.gw.go
  x/gamm/types/tx.pb.go
  x/superfluid/types/query.pb.go
  x/superfluid/types/tx.pb.go
  x/tokenfactory/types/authorityMetadata.pb.go
  x/tokenfactory/types/tx.pb.go
Labels: C:x/gamm, C:x/superfluid

#1699 Fix spotprice sigfig rounding for small spot prices
  CHANGELOG.md
  app/apptesting/gamm.go
  osmomath/sigfig_round.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/types/constants.go
Labels: C:x/gamm, A:backport/v9.x, C:app-wiring

#1700 chore: upgrade sdk with snapshot manager fix
  CHANGELOG.md
  go.mod
  go.sum
  tests/e2e/chain/config.go
Labels: A:automerge, A:backport/v8.x, A:backport/v9.x

#1719 Randomized testing for Join-Exit
  x/gamm/pool-models/balancer/amm_test.go
Labels: C:x/gamm

#1717 Add inverse relationship test on JoinPool and ExitPool
  x/gamm/keeper/pool_service_test.go
Labels: C:x/gamm

#1716 Fix second source of (minor) over-LP shares
  CHANGELOG.md
  x/gamm/pool-models/balancer/amm.go
Labels: C:x/gamm

#1731 chore: add ability to tolerate 10^-6% inconsistencies in share calculation test
  osmoutils/binary_search.go
  x/gamm/pool-models/balancer/amm_test.go
Labels: C:x/gamm, A:backport/v10.x

#1735 test: calcJoinSingleAssetTokensIn; validated by Wolfram
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/export_test.go
Labels: C:x/gamm, A:backport/v10.x

#1738 test: extract getPoolAssetsByDenom function from CalcJoinPoolShares and unit test
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/export_test.go
Labels: C:x/gamm, A:backport/v10.x

#1741 Add v10 forking logic
  app/app.go
  app/upgrades/v10/constants.go
  app/upgrades/v10/fork.go
  app/upgrades/v10/upgrades.go
  app/upgrades/v10/upgrades_test.go
  go.mod
  go.sum
Labels: C:app-wiring, A:backport/v10.x

#1720 test: CalcJoinPoolShares unit tests with single token by sharing them with calcSingleAssetJoin
  x/gamm/pool-models/balancer/amm_test.go
Labels: C:x/gamm, A:backport/v10.x

#1755 fix: Change PowApprox to return one when exponent is 0
  osmomath/math.go
  osmomath/math_test.go
Labels: A:backport/v10.x

#1713 chore: additional test cases for TestCalcJoinPoolShares (multi-coin swap)
  x/gamm/pool-models/balancer/amm_test.go
Labels: C:x/gamm, A:backport/v10.x

#1761 Improve comments / abstractions
  x/gamm/pool-models/balancer/amm.go
Labels: C:x/gamm

#1721 Extract functions and methods from CalcJoinPoolShares; unit tests
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/export_test.go
Labels: C:x/gamm, A:backport/v10.x

#1757 test: add more calcSingleAssetJoinTestCases with varying ratio of tokenInAmount to existing liquidity
  x/gamm/keeper/pool_service_test.go
  x/gamm/pool-models/balancer/amm_test.go
Labels: C:x/gamm, A:backport/v10.x

#1764 chore: avoid using string comparison for unit testing errors
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/balancer_pool.go
  x/gamm/types/errors.go
Labels: C:x/gamm, A:automerge

#1769 Delete irregular state change logic
  app/upgrades/v10/constants.go
  app/upgrades/v10/fork.go
  app/upgrades/v10/upgrades.go
  app/upgrades/v10/upgrades_test.go
Labels: A:automerge, C:app-wiring, A:backport/v10.x

#1767 Tests: Join pool for non-even ratio
  x/gamm/pool-models/balancer/amm_test.go
Labels: C:x/gamm

#1775 Clean `amm_test.go`
  x/gamm/pool-models/balancer/amm_test.go
Labels: C:x/gamm

#1778 Remove expected liquidity field from test
  x/gamm/pool-models/balancer/amm_test.go
Labels: C:x/gamm, A:backport/v10.x

#1781 Move join pool tests into own file
  x/gamm/pool-models/balancer/amm_joinpool_test.go
  x/gamm/pool-models/balancer/amm_test.go
Labels: C:x/gamm, A:backport/v10.x

#1782 test: add validation that calc methods do not modify state and clean up
  x/gamm/pool-models/balancer/amm_joinpool_test.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/util_test.go
Labels: C:x/gamm, A:backport/v10.x

#1789 cosmos sdk version inc
  go.mod
  go.sum
Labels: A:backport/v10.x

#1792 Make v10 state compatible until fork height
  app/upgrades/v10/constants.go
  app/upgrades/v10/fork.go
  app/upgrades/v10/upgrades.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/amm_joinpool_test.go
  x/gamm/pool-models/balancer/suite_test.go
  x/gamm/pool-models/internal/cfmm_common/lp.go
Labels: C:x/gamm, C:app-wiring

#1791 Reintroduce #1719 random tests
  x/gamm/pool-models/balancer/amm_joinpool_test.go
  x/gamm/pool-models/internal/cfmm_common/lp.go
Labels: C:x/gamm, A:backport/v10.x

#1776 Tests: Edge case tests for CalcJoinPoolShares
  x/gamm/pool-models/balancer/amm_joinpool_test.go
Labels: C:x/gamm, A:backport/v10.x

#1811 Make dependabot ignore non-patch IBC-go versions
  .github/dependabot.yml
Labels: A:automerge, Type:CI

#1698 Fix snapshot manager with wasm
  CHANGELOG.md
  app/app.go
Labels: C:app-wiring, A:backport/v10.x

#1825 Add ICAHost to AppModuleBasics
  CHANGELOG.md
  app/keepers/modules.go
  app/upgrades/v9/upgrades.go
Labels: C:app-wiring

#1824 refactor: e2e test containers abstraction
  tests/e2e/README.md
  tests/e2e/containers/config.go
  tests/e2e/containers/containers.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
Labels: A:automerge

#1842 Add docs label for any PR that edits a readme or spec folder
  .github/labeler.yml
Labels: Type:CI

#1820 Added module dependence graph
  assets/ModuleDepGraph.excalidraw
  x/README.md
Labels: C:docs

#1844 refactor: e2e - allow disabling long running tests with environment variables
  tests/e2e/README.md
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
Labels: C:docs

#1852 Mergify: Make backports automatically assign PR author
  .mergify.yml
Labels: Type:CI, A:backport/v10.x

#1860 chore: update sdk on v9.x; fix proto generation
  CHANGELOG.md
  go.mod
  go.sum
  x/epochs/types/genesis.pb.go
  x/epochs/types/query.pb.go
  x/gamm/pool-models/balancer/balancerPool.pb.go
  x/gamm/pool-models/balancer/tx.pb.go
  x/gamm/pool-models/stableswap/stableswap_pool.pb.go
  x/gamm/pool-models/stableswap/tx.pb.go
  x/gamm/types/genesis.pb.go
  x/gamm/types/query.pb.go
  x/gamm/types/tx.pb.go
  x/incentives/types/gauge.pb.go
  x/incentives/types/genesis.pb.go
  x/incentives/types/params.pb.go
  x/incentives/types/query.pb.go
  x/incentives/types/tx.pb.go
  x/lockup/types/genesis.pb.go
  x/lockup/types/lock.pb.go
  x/lockup/types/query.pb.go
  x/lockup/types/tx.pb.go
  x/mint/types/genesis.pb.go
  x/mint/types/mint.pb.go
  x/mint/types/query.pb.go
  x/pool-incentives/types/genesis.pb.go
  x/pool-incentives/types/gov.pb.go
  x/pool-incentives/types/incentives.pb.go
  x/pool-incentives/types/query.pb.go
  x/superfluid/types/genesis.pb.go
  x/superfluid/types/gov.pb.go
  x/superfluid/types/params.pb.go
  x/superfluid/types/query.pb.go
  x/superfluid/types/superfluid.pb.go
  x/superfluid/types/tx.pb.go
  x/tokenfactory/types/authorityMetadata.pb.go
  x/tokenfactory/types/genesis.pb.go
  x/tokenfactory/types/params.pb.go
  x/tokenfactory/types/query.pb.go
  x/tokenfactory/types/tx.pb.go
  x/txfees/types/feetoken.pb.go
  x/txfees/types/genesis.pb.go
  x/txfees/types/gov.pb.go
  x/txfees/types/query.pb.go
Labels: C:x/lockup, C:x/gamm, C:x/mint, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/txfees

#1809 tests: fork logic for e2e tests
  Makefile
  go.mod
  go.sum
  tests/e2e/README.md
  tests/e2e/chain/config.go
  tests/e2e/chain/main.go
  tests/e2e/chain_init/main.go
  tests/e2e/containers/config.go
  tests/e2e/containers/containers.go
  tests/e2e/e2e_setup_test.go
Labels: C:docs, Type:build

#1866 tests: switch from fork to upgrade logic
  Makefile
  app/app.go
  app/upgrades/v11/constants.go
  app/upgrades/v11/upgrades.go
  tests/e2e/containers/config.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_util_test.go
Labels: Type:build, C:app-wiring

#1870 Move epochs begin block code to keeper
  x/epochs/keeper/abci.go
  x/epochs/keeper/abci_test.go
  x/epochs/module.go
Labels: C:x/epochs, C:app-wiring

#1891 Make Add new issues to project only run on PRs that are not from a fork
  .github/workflows/add-issue-pr-to-project.yml
Labels: T:CI

#1893 Fix epochs modules tests
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/slice_helper.go
  x/epochs/keeper/abci.go
  x/epochs/keeper/abci_test.go
  x/epochs/keeper/epoch.go
  x/epochs/keeper/epoch_test.go
  x/epochs/keeper/genesis.go
  x/superfluid/keeper/keeper.go
  x/superfluid/keeper/keeper_test.go
  x/superfluid/keeper/twap_price_test.go
Labels: C:docs, C:x/epochs, C:x/superfluid

#1898 e2e: chain initialization refactor for extensibility
  Makefile
  tests/e2e/README.md
  tests/e2e/containers/config.go
  tests/e2e/containers/containers.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/initialization/README.md
  tests/e2e/initialization/chain.go
  tests/e2e/initialization/chain/main.go
  tests/e2e/initialization/config.go
  tests/e2e/initialization/export.go
  tests/e2e/initialization/init.Dockerfile
  tests/e2e/initialization/main.go
  tests/e2e/initialization/util.go
  tests/e2e/initialization/validator.go
Labels: C:docs, T:build

#1895 Write test for AddEpochInfo
  x/epochs/keeper/abci_test.go
  x/epochs/keeper/epoch_test.go
Labels: C:x/epochs

#1912 We broke adding issues to Project, this fixes it
  .github/workflows/add-issue-to-project.yml
  .github/workflows/add-pr-to-project.yml
Labels: T:CI

#1858 x/gamm: Internal audit and documentation
  x/gamm/keeper/genesis.go
  x/gamm/keeper/multihop.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/swap.go
  x/gamm/pool-models/balancer/balancer_pool.go
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/keeper/keeper_test.go
Labels: C:x/gamm, C:x/tokenfactory

#1921 refactor: e2e initialization package (partial backport of #1898)
  Makefile
  go.mod
  go.sum
  tests/e2e/README.md
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/initialization/README.md
  tests/e2e/initialization/chain.go
  tests/e2e/initialization/chain/main.go
  tests/e2e/initialization/config.go
  tests/e2e/initialization/export.go
  tests/e2e/initialization/init.Dockerfile
  tests/e2e/initialization/main.go
  tests/e2e/initialization/util.go
  tests/e2e/initialization/validator.go
Labels: Type:build

#1868 refactor: consolidate pool implementation
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/balancer_pool.go
  x/gamm/pool-models/balancer/balancer_pool_test.go
  x/gamm/pool-models/balancer/marshal_test.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/pool_params.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/balancer/suite_test.go
Labels: C:x/gamm
