Repository osmosis-labs/osmosis, pull requests merged in 2022-04, with the labels that each got.

#1184 x/lockup: Get updated lock for events
  CHANGELOG.md
  x/lockup/keeper/msg_server.go
Labels: C:x/lockup

#1173 Re-enable import genesis
  proto/osmosis/gamm/v1beta1/tx.proto
  x/gamm/breaking_changes_notes.md
  x/gamm/genesis.go
  x/gamm/genesis_test.go
  x/gamm/pool-models/balancer/doc.go
Labels: C:x/gamm, A:automerge

#1186 chore: x/gamm docs + cleanup
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/share.go
  x/gamm/keeper/swap.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/spec/01_concepts.md
  x/gamm/spec/02_pool_params.md
  x/gamm/spec/03_msgs.md
  x/gamm/spec/04_params.md
Labels: C:docs, T:code-hygiene, C:x/gamm, A:automerge

#1177 update to go1.18
  .github/workflows/build.yml
  .github/workflows/sim.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Dockerfile
  go.mod
Labels: A:backport/v7.x

#1174 tests: x/gamm pool JoinSwapExactAmountIn consistency tests
  x/gamm/keeper/keeper_test.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
Labels: T:tests, C:x/gamm

#1207 Add godocs for pool interface
  x/gamm/keeper/pool.go
  x/gamm/pool-models/balancer/balancer_pool.go
  x/gamm/pool-models/balancer/balancer_pool_test.go
  x/gamm/types/pool.go
Labels: C:docs, C:x/gamm, A:automerge

#1228 refactor: rename SpotPrice gRPC proto fields
  docs/core/proto-docs.md
  proto/osmosis/gamm/v1beta1/query.proto
  x/gamm/client/cli/query.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/keeper_test.go
  x/gamm/types/query.pb.go
Labels: C:gRPC, C:x/gamm

#1216 e2e with IBC tx and test
  Dockerfile
  Makefile
  e2e.Dockerfile
  tests/e2e/chain.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
Labels: T:tests

#1238 chore: add nil checks and tweaks to gRPC handlers
  x/epochs/keeper/grpc_query.go
  x/gamm/keeper/grpc_query.go
  x/incentives/keeper/grpc_query.go
  x/lockup/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query.go
  x/txfees/keeper/grpc_query.go
Labels: C:gRPC

#1232 refactor: add PokeTokenWeights to Pool interface
  app/apptesting/test_suite.go
  app/upgrades/v5/whitelist_feetokens.go
  app/wasm/queries.go
  x/gamm/genesis.go
  x/gamm/genesis_test.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/invariants.go
  x/gamm/keeper/multihop_test.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/balancer_pool.go
  x/gamm/pool-models/balancer/balancer_pool_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/types/pool.go
  x/pool-incentives/keeper/grpc_query_test.go
  x/pool-incentives/keeper/keeper_test.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/hooks_test.go
  x/superfluid/simulation/proposals.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/gamm

#1240 chore: update lint CI job
  .github/workflows/lint.yml
Labels: A:automerge

#1245 chore: update starport
  .github/workflows/test.yml
  ignite.ci.yml
Labels: T:CI

#1248 chore: add PR labeler to CI
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: T:CI

#1251 chore: update deps
  go.mod
  go.sum
Labels: dependencies

#1252 fix: make tools
  contrib/devtools/Makefile
Labels: A:automerge

#1230 Stableswap CFMM equations
  x/gamm/pool-models/stableswap/README.md
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/cfmm.py
  x/gamm/pool-models/stableswap/pool.go
Labels: C:x/gamm

#1243 Mconcat/stableswap bench
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_bench_test.go
Labels: C:x/gamm

#1195 Adding upcoming gauges query
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/osmosis/gamm/v1beta1/query.proto
  proto/osmosis/incentives/query.proto
  tools-stamp
  x/gamm/types/query.pb.go
  x/incentives/client/cli/cli_test.go
  x/incentives/client/cli/query.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/types/query.pb.go
  x/incentives/types/query.pb.gw.go
Labels: C:CLI, C:gRPC, C:x/gamm, C:x/incentives, A:backport/v7.x

#1255 Fix formatting makefile cmds
  .gitignore
  .golangci.yml
  Makefile
  tools-stamp
Labels: Type:build, Type:CI

#1244 refactor: ExitSwapExternAmountOut
  CHANGELOG.md
  x/gamm/client/cli/cli_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/balancer_pool.go
  x/gamm/types/pool.go
Labels: C:CLI, C:x/gamm

#1283 Superfluid staking PR
  x/superfluid/spec/01_concepts.md
  x/superfluid/spec/02_state.md
  x/superfluid/spec/03_messages.md
  x/superfluid/spec/04_epoch.md
  x/superfluid/spec/05_staking_changes.md
  x/superfluid/spec/06_hooks.md
  x/superfluid/spec/07_proposals.md
  x/superfluid/spec/08_events.md
  x/superfluid/spec/09_queries.md
  x/superfluid/spec/10_params.md
  x/superfluid/spec/11_slashing.md
  x/superfluid/spec/12_minting.md
  x/superfluid/spec/README.md
Labels: C:x/superfluid

#1286 fix: release build scripts
  .build.sh
  CHANGELOG.md
  Makefile
  contrib/images/Makefile
  contrib/images/rbuilder/Dockerfile
  contrib/images/rbuilder/README.md
  contrib/images/rbuilder/buildlib.sh
Labels: Type:build

#1295 Diagram for superfluid staking
  x/superfluid/spec/README.md
  x/superfluid/spec/superfluiddiagram.png
Labels: C:x/superfluid

#1298 Docs Sidebar fix: superfluid staking
  x/superfluid/spec/README.md
Labels: C:x/superfluid

#1300 Fix docs navigation & update diagram's path
  x/superfluid/spec/README.md
Labels: C:x/superfluid

#1254 chore: inverse unit tests for CalcInAmtGivenOut and CalcOutAmtGivenIn with zero swap fee
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/util_test.go
Labels: C:x/gamm

#1297 Test suites refactor
  app/apptesting/gamm.go
  app/apptesting/test_suite.go
  x/claim/keeper/claim_test.go
  x/claim/keeper/keeper_test.go
  x/epochs/keeper/epoch_test.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/keeper/keeper_test.go
  x/gamm/keeper/gas_test.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/keeper_test.go
  x/gamm/keeper/multihop_test.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/keeper/pool_test.go
  x/gamm/keeper/swap_test.go
  x/gamm/pool-models/balancer/suite_test.go
  x/incentives/abci_test.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/keeper/keeper_test.go
  x/incentives/keeper/store_test.go
  x/incentives/keeper/suite_test.go
  x/lockup/keeper/admin_keeper_test.go
  x/lockup/keeper/gas_test.go
  x/lockup/keeper/grpc_query_test.go
  x/lockup/keeper/keeper_test.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/migration_test.go
  x/lockup/keeper/msg_server_test.go
  x/lockup/keeper/store_test.go
  x/lockup/keeper/synthetic_lock_test.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/keeper_test.go
  x/pool-incentives/keeper/distr_test.go
  x/pool-incentives/keeper/grpc_query_test.go
  x/pool-incentives/keeper/keeper_test.go
  x/superfluid/keeper/keeper_test.go
  x/superfluid/keeper/msg_server_test.go
  x/txfees/keeper/keeper_test.go
Labels: C:x/lockup, C:x/gamm, C:x/mint, C:x/incentives, C:x/claim, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/txfees

#1316 Add Sunshine Validation Seed Node to init.go
  cmd/osmosisd/cmd/init.go
Labels: A:automerge

#1314 Adding code scanning (CodeQL)
  .github/workflows/codeql-analysis.yml
Labels: A:automerge, Type:CI

#1308 Epoch hooks, panic recovery
  CHANGELOG.md
  osmoutils/cache_ctx.go
  x/epochs/spec/05_hooks.md
  x/epochs/types/hooks.go
  x/epochs/types/hooks_test.go
Labels: C:x/epochs

#1262 Valnodes forceprune
  cmd/osmosisd/cmd/forceprune.go
  cmd/osmosisd/cmd/root.go
Labels: A:backport/v7.x

#1145 Auto-swap non-osmo tx fees to osmo
  app/ante.go
  app/apptesting/test_suite.go
  app/keepers.go
  app/modules.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/keeper/hooks.go
  x/txfees/keeper/hooks_test.go
  x/txfees/keeper/keeper.go
  x/txfees/keeper/keeper_test.go
  x/txfees/types/expected_keepers.go
  x/txfees/types/keys.go
Labels: C:x/txfees, A:automerge

#1321 Move forceprune logic into functions, make db open/closes all in a single scope
  CHANGELOG.md
  cmd/osmosisd/cmd/forceprune.go
Labels: A:backport/v7.x

#1326 make proto gen scripts compatible with vendor
  scripts/generate-docs.sh
  scripts/generate-proto.sh
  scripts/protocgen.sh
Labels: A:automerge, Type:build

#1331 Delete unused functions from app.go
  app/app.go
Labels: A:automerge

#1330 refactor: implement Dockerized chain initialization in e2e tests
  Makefile
  tests/e2e/README.md
  tests/e2e/chain/chain.go
  tests/e2e/chain/main.go
  tests/e2e/chain_init/chain-init.Dockerfile
  tests/e2e/chain_init/main.go
  tests/e2e/e2e_setup_test.go
Labels: A:automerge, Type:build

#1318 Remove gofumpt from required lints, directly use it in make format
  .golangci.yml
  .vscode/settings.json
  Makefile
  x/epochs/types/hooks_test.go
  x/incentives/keeper/grpc_query_test.go
Labels: C:x/incentives, C:x/epochs, A:backport/v7.x, A:automerge, Type:build, Type:CI

#1287 Add boilerplate logic for stableswap swaps and spot price
  x/gamm/keeper/multihop_test.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/pool.go
Labels: C:x/gamm, A:automerge

#1355 chore: format balancer amm_test.go
  x/gamm/pool-models/balancer/amm_test.go
Labels: C:x/gamm, A:automerge

#1292 Feat: CLI account-locked-duration
  CHANGELOG.md
  proto/osmosis/lockup/query.proto
  x/lockup/client/cli/query.go
  x/lockup/keeper/grpc_query.go
  x/lockup/keeper/iterator.go
  x/lockup/keeper/store.go
  x/lockup/spec/07_queries.md
  x/lockup/types/querier.go
  x/lockup/types/query.pb.go
  x/lockup/types/query.pb.gw.go
Labels: C:x/lockup, C:CLI

#1347 test: single asset low-level inverse calculations (TestCalcSingleAssetInAndOut_InverseRelationship)
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/export_test.go
Labels: C:x/gamm, A:automerge

#1312 Stableswap: Createpool logic
  x/gamm/keeper/msg_server.go
  x/gamm/module.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/stableswap_pool.go
Labels: C:x/gamm

#1366 Closing #1223 - BeginDistribution / FinishDistribution Changes
  docs/core/proto-docs.md
  go.sum
  x/incentives/keeper/bench_test.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/keeper/hooks.go
Labels: C:x/incentives

#1345 Change Pool interface calc methods to using integers
  app/wasm/test/custom_msg_test.go
  app/wasm/test/custom_query_test.go
  osmoutils/dec_helper.go
  x/gamm/breaking_changes_notes.md
  x/gamm/keeper/multihop.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/types/pool.go
  x/txfees/keeper/hooks_test.go
Labels: C:x/gamm, C:x/txfees

#1363 test: switch e2e test setup to create genesis and configs via Dockertest
  .github/workflows/test.yml
  CHANGELOG.md
  tests/e2e/chain/chain.go
  tests/e2e/chain/config.go
  tests/e2e/chain/export.go
  tests/e2e/chain/main.go
  tests/e2e/chain/validator.go
  tests/e2e/chain_init/main.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
Labels: Type:CI

#1365 Partial ordering for endblock
  app/app.go
  app/keepers/modules.go
  app/modules.go
Labels: A:automerge
