Repository osmosis-labs/osmosis, pull requests merged in 2022-02, with the labels that each got.

#784 Superfluid basic simulation, tx/query CLI commands, resolve single node test issues
  app/app.go
  app/keepers.go
  proto/osmosis/superfluid/genesis.proto
  proto/osmosis/superfluid/params.proto
  proto/osmosis/superfluid/query.proto
  proto/osmosis/superfluid/superfluid.proto
  proto/osmosis/superfluid/tx.proto
  startnode.sh
  x/epochs/simulation/genesis.go
  x/gamm/types/query.pb.gw.go
  x/incentives/keeper/distribute.go
  x/lockup/keeper/gas_test.go
  x/lockup/keeper/lock.go
  x/lockup/types/errors.go
  x/lockup/types/lock.go
  x/superfluid/client/cli/flags.go
  x/superfluid/client/cli/query.go
  x/superfluid/client/cli/tx.go
  x/superfluid/client/proposal_handler.go
  x/superfluid/client/rest/tx.go
  x/superfluid/handler.go
  x/superfluid/keeper/distribution.go
  x/superfluid/keeper/distribution_test.go
  x/superfluid/keeper/gov.go
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/hooks.go
  x/superfluid/keeper/hooks_test.go
  x/superfluid/keeper/intermediary_account.go
  x/superfluid/keeper/intermediary_account_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/slash.go
  x/superfluid/keeper/slash_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/keeper/twap_price.go
  x/superfluid/keeper/twap_price_test.go
  x/superfluid/module.go
  x/superfluid/simulation/genesis.go
  x/superfluid/simulation/operations.go
  x/superfluid/simulation/proposals.go
  x/superfluid/spec/02_state.md
  x/superfluid/types/codec.go
  x/superfluid/types/errors.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/genesis.pb.go
  x/superfluid/types/keys.go
  x/superfluid/types/msgs.go
  x/superfluid/types/params.go
  x/superfluid/types/params.pb.go
  x/superfluid/types/query.pb.go
  x/superfluid/types/query.pb.gw.go
  x/superfluid/types/superfluid.go
  x/superfluid/types/superfluid.pb.go
  x/superfluid/types/tx.pb.go
Labels: Superfluid staking

#884 Move app.setupUpgradeHandlers() after module manager and configurator
  app/app.go
Labels: backport/v6.x

#988 Add query for undelegating time
  proto/osmosis/superfluid/query.proto
  x/superfluid/keeper/grpc_query.go
  x/superfluid/types/query.pb.go
Labels: backport/v7.x

#971 [#967] msg server impl usr ptr keepers
  x/gamm/handler.go
  x/gamm/keeper/msg_server.go
  x/gamm/module.go
  x/incentives/handler.go
  x/incentives/keeper/msg_server.go
  x/incentives/module.go
  x/superfluid/handler.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/module.go
Labels: backport/v7.x

#862 [#713] app boilerplate to files
  app/app.go
  app/keepers.go
  app/modules.go
Labels: backport/v7.x

#1005 Add the v7.0.2 to main branch
  CHANGELOG.md
  osmoutils/cache_ctx.go
  x/superfluid/keeper/hooks.go
Labels: backport/v7.x
