Repository osmosis-labs/osmosis, pull requests merged in 2022-12, with the labels that each got.

#3535 feat[CL]: Implement `SwapExactAmountIn`
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/events.go
  x/swaprouter/types/events.go
Labels: C:x/concentrated-liquidity, C:x/swaprouter

#3566 fix/test: misplaced assets in twap tests
  x/twap/api_test.go
Labels: C:x/twap, V:state/compatible/backport, A:backport/v13.x

#3529 [x/TWAP] Expose a geometric TWAP API
  x/twap/api.go
  x/twap/strategy.go
Labels: C:x/twap, V:state/compatible/no_backport

#3592 chore: Delete CODEOWNERS
  .github/CODEOWNERS
Labels: V:state/compatible/backport, A:backport/v13.x

#3567 test[CL]: initOrUpdatePosition table driven tests (3/6)
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/errors.go
Labels: C:x/concentrated-liquidity

#3260 [ValSet-Pref] Add Msgs for Delegate and Undelegate Tokens
  x/valset-pref/README.md
  x/valset-pref/keeper_test.go
  x/valset-pref/msg_server.go
  x/valset-pref/msg_server_test.go
  x/valset-pref/types/expected_interfaces.go
  x/valset-pref/types/msgs.go
  x/valset-pref/validator_set.go
Labels: C:docs, V:state/breaking

#3455 Add table-driven tests for SetScalingFactors function (stableswap)
  x/gamm/keeper/export_test.go
  x/gamm/keeper/pool_test.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:x/gamm, V:state/compatible/backport, A:backport/v13.x

#3596 Add v13 changelog header
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v13.x

#3605 Add v13_binaries.json
  networks/osmosis-1/upgrades/v13/v13_binaries.json
Labels: V:state/compatible/backport, A:backport/v13.x

#3569 test[CL]: createPosition table driven tests (4/6)
  x/concentrated-liquidity/internal/math/tick.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position_test.go
Labels: C:x/concentrated-liquidity

#3498 [ValSet-Pref] Setup tx and query and added `GetCmdValSetPref` and `NewSetValSetCmd`
  app/apptesting/test_suite.go
  osmoutils/cli_helpers.go
  proto/osmosis/valset-pref/v1beta1/query.proto
  proto/osmosis/valset-pref/v1beta1/query.yml
  tests/e2e/scripts/rate_limiter.wasm
  x/valset-pref/client/cli/query.go
  x/valset-pref/client/cli/query_test.go
  x/valset-pref/client/cli/tx.go
  x/valset-pref/client/grpc/grpc_query.go
  x/valset-pref/client/query_proto_wrap.go
  x/valset-pref/client/queryproto/query.pb.go
  x/valset-pref/client/queryproto/query.pb.gw.go
  x/valset-pref/keeper_test.go
  x/valset-pref/valpref-module/module.go
Labels: C:CLI, C:app-wiring, V:state/compatible/no_backport

#3468 refactor(txfees): remove redundant keeper fields and constructor params
  app/keepers/keepers.go
  x/txfees/keeper/keeper.go
Labels: C:x/txfees, C:app-wiring, V:state/compatible/no_backport

#3568 app/apptesting: Reduce memory allocations in `KeeperTestHelper.Setup()`
  app/app.go
  app/encoding.go
  go.mod
  go.sum
Labels: C:app-wiring, V:state/compatible/backport, A:backport/v13.x

#3608 Allow state exporting from any directory
  CHANGELOG.md
  app/export.go
  cmd/osmosisd/cmd/root.go
Labels: C:app-wiring, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3617 explicitly apply dragonberry patch
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:backport/v13.x

#3583 test[CL]: getTickInfo table driven tests (5/6)
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: C:x/concentrated-liquidity

#3595 Add localrelayer test environment
  tests/localrelayer/Makefile
  tests/localrelayer/README.md
  tests/localrelayer/assets/architecture.png
  tests/localrelayer/config/hermes/config.toml
  tests/localrelayer/docker-compose.yml
  tests/localrelayer/scripts/setup_chain.sh
  tests/localrelayer/scripts/setup_hermes.sh
Labels: C:docs, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3584 test[CL]: getPosition table driven tests (6/6)
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
Labels: C:x/concentrated-liquidity

#3629 Update to v13.1.0 cosmovisor binaries
  networks/osmosis-1/upgrades/v13/v13_binaries.json
Labels: V:state/compatible/backport, A:backport/v13.x

#3611 Use reflection + Generics to delete most CLI boilerplate for queries
  CHANGELOG.md
  osmoutils/generic_helper.go
  osmoutils/osmocli/flag_advice.go
  osmoutils/osmocli/index_cmd.go
  osmoutils/osmocli/parsers.go
  osmoutils/osmocli/query_cmd_wrap.go
  osmoutils/osmocli/string_formatter.go
  osmoutils/osmocli/tx_cmd_wrap.go
  x/epochs/client/cli/query.go
  x/epochs/client/cli/query_test.go
  x/epochs/client/cli/tx.go
  x/epochs/module.go
  x/gamm/client/cli/flags.go
  x/gamm/client/cli/query.go
  x/gamm/client/cli/tx.go
  x/ibc-rate-limit/client/cli/query.go
  x/incentives/client/cli/query.go
  x/incentives/client/cli/tx.go
  x/lockup/client/cli/cli_test.go
  x/lockup/client/cli/query.go
  x/lockup/client/cli/tx.go
  x/lockup/client/testutil/test_helpers.go
  x/mint/client/cli/query.go
  x/mint/client/cli/query_test.go
  x/pool-incentives/client/cli/cli_test.go
  x/pool-incentives/client/cli/query.go
  x/superfluid/client/cli/query.go
  x/superfluid/client/cli/tx.go
  x/tokenfactory/client/cli/query.go
  x/tokenfactory/client/cli/tx.go
  x/twap/client/cli/query.go
  x/txfees/client/cli/query.go
  x/txfees/client/cli/tx.go
  x/valset-pref/client/cli/query.go
  x/valset-pref/client/cli/tx.go
Labels: C:x/lockup, C:CLI, C:x/gamm, C:x/mint, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/txfees, C:app-wiring, C:x/tokenfactory, C:x/twap, V:state/compatible/backport, A:backport/v13.x

#3635 fix: don't increment code ID in e2e before running
  tests/e2e/e2e_test.go
Labels: V:state/compatible/backport, A:backport/v13.x

#3609 Add types & boilerplate for the Downtime detector module
  CHANGELOG.md
  proto/osmosis/downtime-detector/v1beta1/genesis.proto
  proto/osmosis/downtime-detector/v1beta1/query.proto
  x/downtime-detector/README.md
  x/downtime-detector/client/queryproto/query.pb.go
  x/downtime-detector/client/queryproto/query.pb.gw.go
  x/downtime-detector/downtimedetector_module/module.go
  x/downtime-detector/keeper.go
  x/downtime-detector/types/constants.go
  x/downtime-detector/types/genesis.go
  x/downtime-detector/types/genesis.pb.go
  x/ibc-rate-limit/testutil/wasm.go
Labels: C:docs, C:CLI, A:automerge, C:app-wiring, V:state/compatible/no_backport

#3634 Ensure go v1.18 used in make build & make install
  CHANGELOG.md
  Makefile
Labels: T:build, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3587 ProtoRev: Proto code and Init scaffolding code
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v13/constants.go
  proto/osmosis/protorev/v1beta1/genesis.proto
  proto/osmosis/protorev/v1beta1/gov.proto
  proto/osmosis/protorev/v1beta1/params.proto
  proto/osmosis/protorev/v1beta1/protorev.proto
  proto/osmosis/protorev/v1beta1/query.proto
  proto/osmosis/protorev/v1beta1/tx.proto
  x/protorev/client/cli/query.go
  x/protorev/genesis.go
  x/protorev/keeper/keeper.go
  x/protorev/keeper/params.go
  x/protorev/module.go
  x/protorev/types/codec.go
  x/protorev/types/expected_keepers.go
  x/protorev/types/genesis.go
  x/protorev/types/genesis.pb.go
  x/protorev/types/genesis_test.go
  x/protorev/types/gov.go
  x/protorev/types/gov.pb.go
  x/protorev/types/gov_test.go
  x/protorev/types/keys.go
  x/protorev/types/msg.go
  x/protorev/types/msg_test.go
  x/protorev/types/params.go
  x/protorev/types/params.pb.go
  x/protorev/types/protorev.pb.go
  x/protorev/types/query.pb.go
  x/protorev/types/query.pb.gw.go
  x/protorev/types/token_pair_arb_routes.go
  x/protorev/types/tx.pb.go
  x/protorev/types/tx.pb.gw.go
  x/protorev/types/utils.go
Labels: C:CLI, C:app-wiring

#3637 Speedup CI tests
  app/test_helpers.go
  x/ibc-hooks/ibc_middleware_test.go
  x/ibc-rate-limit/ibc_middleware_test.go
  x/ibc-rate-limit/testutil/chain.go
  x/incentives/keeper/hooks.go
Labels: C:x/incentives, C:app-wiring, V:state/compatible/backport, A:backport/v13.x

#3656 osmocli: add float parser, add test for `ParseFieldFromArg`
  osmoutils/osmocli/parsers.go
  osmoutils/osmocli/parsers_test.go
Labels: C:CLI, V:state/compatible/backport, A:backport/v13.x

#3659 Mutation testing: update mutation tests to run bi-weekly and update version to include new functionality
  .github/workflows/mutest-issue-generate.yml
  go.mod
  go.sum
Labels: T:CI, V:state/compatible/no_backport

#3666 Update swagger files to v13 release
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
Labels: C:CLI, V:state/compatible/backport, A:backport/v13.x

#3591 Nhan/test twappow twaplog
  x/twap/export_test.go
  x/twap/logic_test.go
Labels: C:x/twap, V:state/compatible/no_backport

#3588 test(osmomath): log tests around max spot price
  osmomath/decimal_test.go
  osmomath/log2_bench_test.go
Labels: V:state/compatible/backport, A:backport/v13.x, F: geometric-twap

#3672 Fix state export
  x/ibc-hooks/sdkmodule.go
Labels: V:state/compatible/backport, A:backport/v13.x

#3657 Gamm code improvements
  osmoutils/conv_helper.go
  x/gamm/client/cli/tx.go
  x/gamm/keeper/pool_service.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/pool_asset.go
  x/gamm/types/constants.go
  x/incentives/keeper/msg_server.go
  x/lockup/keeper/msg_server.go
  x/superfluid/keeper/internal/events/emit.go
Labels: C:x/lockup, C:CLI, C:x/gamm, C:x/incentives, C:x/superfluid, V:state/compatible/backport, A:backport/v13.x

#3678 feat(osmomath): BigDec Clone() and MulMut methods
  CHANGELOG.md
  osmomath/decimal.go
  osmomath/decimal_test.go
Labels: V:state/compatible/backport, A:backport/v13.x

#3676 feat(osmomath): BigDec power function with integer exponent, overflow tests at max spot price
  CHANGELOG.md
  osmomath/decimal.go
  osmomath/decimal_test.go
  osmomath/math.go
Labels: V:state/compatible/backport, A:backport/v13.x

#3646 Protorev Basic Keeper + Epoch Hook
  app/keepers/keepers.go
  x/protorev/genesis.go
  x/protorev/keeper/epoch_hook.go
  x/protorev/keeper/epoch_hook_test.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/protorev_test.go
  x/protorev/types/keys.go
  x/protorev/types/utils.go
Labels: C:app-wiring

#3681 ProtoRev PR 1 + 2 Rebase
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v14/constants.go
  proto/osmosis/protorev/v1beta1/genesis.proto
  proto/osmosis/protorev/v1beta1/gov.proto
  proto/osmosis/protorev/v1beta1/params.proto
  proto/osmosis/protorev/v1beta1/protorev.proto
  proto/osmosis/protorev/v1beta1/query.proto
  proto/osmosis/protorev/v1beta1/tx.proto
  x/protorev/client/cli/query.go
  x/protorev/genesis.go
  x/protorev/keeper/epoch_hook.go
  x/protorev/keeper/epoch_hook_test.go
  x/protorev/keeper/keeper.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/params.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/protorev_test.go
  x/protorev/module.go
  x/protorev/types/codec.go
  x/protorev/types/expected_keepers.go
  x/protorev/types/genesis.go
  x/protorev/types/genesis.pb.go
  x/protorev/types/genesis_test.go
  x/protorev/types/gov.go
  x/protorev/types/gov.pb.go
  x/protorev/types/gov_test.go
  x/protorev/types/keys.go
  x/protorev/types/msg.go
  x/protorev/types/msg_test.go
  x/protorev/types/params.go
  x/protorev/types/params.pb.go
  x/protorev/types/protorev.pb.go
  x/protorev/types/query.pb.go
  x/protorev/types/query.pb.gw.go
  x/protorev/types/token_pair_arb_routes.go
  x/protorev/types/tx.pb.go
  x/protorev/types/tx.pb.gw.go
  x/protorev/types/utils.go
Labels: C:CLI, C:app-wiring, V:state/breaking

#3680 feat(osmomath): mutative `PowerIntegerMut` function on `osmomath.BigDec`
  CHANGELOG.md
  osmomath/decimal.go
  osmomath/decimal_test.go
Labels: V:state/compatible/backport, A:backport/v13.x

#3620 feat(scripts): polynomial and rational approximations
  .gitignore
  CHANGELOG.md
  osmomath/decimal.go
  osmomath/decimal_test.go
  osmomath/math.go
  scripts/approximations/README.md
  scripts/approximations/approximations.py
  scripts/approximations/chebyshev.py
  scripts/approximations/main.py
  scripts/approximations/polynomial.py
  scripts/approximations/rational.py
  scripts/approximations/rational_test.py
  scripts/approximations/requirements.txt
Labels: V:state/compatible/backport, A:backport/v13.x

#3690 update chain.schema.json for v13
  chain.schema.json
Labels: V:state/compatible/backport, A:backport/v13.x

#3647 Osmocli: Fix lines of code overhead + speed of CLI tests
  CHANGELOG.md
  osmoutils/cli_helpers.go
  osmoutils/osmocli/cli_tester.go
  osmoutils/osmocli/query_cmd_wrap.go
  osmoutils/osmocli/tx_cmd_wrap.go
  x/gamm/client/cli/cli_test.go
  x/gamm/client/cli/flags.go
  x/gamm/client/cli/query.go
  x/gamm/client/cli/tx.go
  x/gamm/client/testutil/test_helpers.go
  x/incentives/client/cli/cli_test.go
  x/incentives/client/cli/query.go
  x/lockup/client/cli/cli_test.go
  x/lockup/client/cli/query.go
  x/lockup/client/cli/query_test.go
  x/lockup/client/cli/tx.go
  x/lockup/client/testutil/test_helpers.go
  x/pool-incentives/client/cli/cli_test.go
Labels: C:x/lockup, C:CLI, C:x/gamm, C:x/incentives, C:x/pool-incentives, V:state/compatible/backport, A:backport/v13.x

#3669 Tiny PR to rename slipage variable to Slippage
  x/ibc-hooks/contracts/crosschain-swaps/README.md
  x/ibc-hooks/contracts/crosschain-swaps/schema/crosschain-swaps.json
  x/ibc-hooks/contracts/crosschain-swaps/src/contract.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/execute.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/msg.rs
  x/ibc-hooks/contracts/crosschain-swaps/tests/crosschain_swap_test.rs
  x/ibc-hooks/contracts/swaprouter/schema/execute_msg.json
  x/ibc-hooks/contracts/swaprouter/src/contract.rs
  x/ibc-hooks/contracts/swaprouter/src/execute.rs
  x/ibc-hooks/contracts/swaprouter/src/msg.rs
  x/ibc-hooks/contracts/swaprouter/tests/swap_test.rs
  x/ibc-hooks/ibc_middleware_test.go
Labels: C:docs

#3693 Whitelist EstimateSwapExactAmountOut
  CHANGELOG.md
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking

#3661 x/epochs: osmocli tests migrate
  x/epochs/client/cli/cli_test.go
  x/epochs/client/cli/query.go
Labels: C:CLI, C:x/epochs, V:state/compatible/backport, A:backport/v13.x

#3697 Add more file-awareness for tests
  .github/workflows/build.yml
  .github/workflows/contracts.yml
  .github/workflows/lint.yml
  .github/workflows/sim.yml
  .github/workflows/test.yml
  app/app.go
Labels: T:CI, C:app-wiring, V:state/compatible/backport, A:backport/v13.x

#3683 ProtoRev: Route building
  x/protorev/keeper/routes.go
  x/protorev/keeper/routes_test.go
Labels: V:state/breaking

#3713 Remove 2s timeout_commit
  cmd/osmosisd/cmd/init.go
Labels: V:state/compatible/backport, A:backport/v13.x

#3717 Add workflow
  .github/workflows/push-dev-docker-images.yml
Labels: T:CI

#3711 refactor(osmoutils): use Dec for additive tolerance instead of Int
  CHANGELOG.md
  osmoutils/binary_search.go
  osmoutils/binary_search_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/internal/cfmm_common/lp.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, V:state/compatible/no_backport, F: geometric-twap

#3052 docs: concentrated liquidity spec (WIP)
  x/concentrated-liquidity/architecture.md
Labels: C:docs, C:x/concentrated-liquidity

#3710 refactor/test(osmomath): change package of decimal_test.go to osmomath_test
  osmomath/decimal.go
  osmomath/decimal_test.go
  osmomath/export_test.go
Labels: V:state/compatible/backport, A:backport/v13.x, F: geometric-twap

#3671 feat[CL]: tick spacing
  app/apptesting/concentrated_liquidity.go
  app/keepers/keepers.go
  proto/osmosis/concentrated-liquidity/genesis.proto
  proto/osmosis/concentrated-liquidity/params.proto
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/internal/math/tick.go
  x/concentrated-liquidity/internal/model/pool.go
  x/concentrated-liquidity/internal/model/pool.pb.go
  x/concentrated-liquidity/internal/model/pool_test.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/genesis.go
  x/concentrated-liquidity/types/genesis.pb.go
  x/concentrated-liquidity/types/params.go
  x/concentrated-liquidity/types/params.pb.go
  x/concentrated-liquidity/types/pool.go
  x/gamm/keeper/swap_test.go
Labels: C:x/gamm, C:app-wiring, C:x/concentrated-liquidity

#3654 GAMM module spec improvements
  x/gamm/GAMM_ExitPoolMsgs.png
  x/gamm/GAMM_JoinPoolMsgs.png
  x/gamm/README.md
  x/gamm/keeper/msg_server.go
Labels: C:docs, C:x/gamm, A:automerge, V:state/compatible/backport, A:backport/v13.x

#3688 Add downtime detector module
  app/apptesting/test_suite.go
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v14/constants.go
  go.mod
  go.sum
  proto/osmosis/downtime-detector/v1beta1/downtime_duration.proto
  proto/osmosis/downtime-detector/v1beta1/genesis.proto
  proto/osmosis/downtime-detector/v1beta1/query.proto
  proto/osmosis/downtime-detector/v1beta1/query.yml
  wasmbinding/stargate_whitelist.go
  x/downtime-detector/abci.go
  x/downtime-detector/client/cli/query.go
  x/downtime-detector/client/cli/query_test.go
  x/downtime-detector/client/grpc/grpc_query.go
  x/downtime-detector/client/query_proto_wrap.go
  x/downtime-detector/client/queryproto/query.pb.go
  x/downtime-detector/client/queryproto/query.pb.gw.go
  x/downtime-detector/genesis.go
  x/downtime-detector/genesis_test.go
  x/downtime-detector/keeper.go
  x/downtime-detector/keeper_test.go
  x/downtime-detector/module/module.go
  x/downtime-detector/query.go
  x/downtime-detector/store.go
  x/downtime-detector/types/constants.go
  x/downtime-detector/types/constants_test.go
  x/downtime-detector/types/downtime_duration.pb.go
  x/downtime-detector/types/genesis.go
  x/downtime-detector/types/genesis.pb.go
  x/downtime-detector/types/keys.go
  x/superfluid/client/cli/query_test.go
Labels: C:CLI, C:x/superfluid, C:app-wiring, V:state/breaking

#3700 Fix epochs CLI
  osmoutils/osmocli/query_cmd_wrap.go
  x/epochs/client/cli/query.go
Labels: C:CLI, C:x/epochs, V:state/compatible/backport, A:backport/v13.x

#3712 refactor(osmomath): replace Power with PowerInteger
  CHANGELOG.md
  osmomath/decimal.go
  osmomath/decimal_test.go
  osmoutils/binary_search_test.go
Labels: V:state/compatible/backport, A:backport/v13.x, F: geometric-twap

#3707 feat[CL]: add basic CLI functionality
  app/modules.go
  go.mod
  osmoutils/generic_helper.go
  osmoutils/osmocli/cli_tester.go
  osmoutils/osmocli/flag_advice.go
  osmoutils/osmocli/index_cmd.go
  osmoutils/osmocli/parsers.go
  osmoutils/osmocli/parsers_test.go
  osmoutils/osmocli/query_cmd_wrap.go
  osmoutils/osmocli/string_formatter.go
  osmoutils/osmocli/tx_cmd_wrap.go
  proto/osmosis/concentrated-liquidity/genesis.proto
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  tests/localosmosis/scripts/setup.sh
  x/concentrated-liquidity/client/cli/flags.go
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/model/codec.go
  x/concentrated-liquidity/module.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/genesis.go
  x/concentrated-liquidity/types/genesis.pb.go
  x/concentrated-liquidity/types/query.pb.go
  x/concentrated-liquidity/types/query.pb.gw.go
Labels: C:CLI, C:app-wiring, C:x/concentrated-liquidity

#3734 feat(x/swaprouter): add migrations
  app/upgrades/v14/export_test.go
  app/upgrades/v14/upgrade_test.go
  app/upgrades/v14/upgrades.go
  go.mod
  proto/osmosis/swaprouter/v1beta1/module_route.proto
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/pool.go
  x/gamm/pool-models/stableswap/msgs.go
  x/swaprouter/create_pool.go
  x/swaprouter/keeper.go
  x/swaprouter/keeper_test.go
  x/swaprouter/types/module_route.pb.go
Labels: C:x/gamm, C:app-wiring, C:x/swaprouter

#3702 Swaprouter create pool logic-only migration
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v14/constants.go
  app/upgrades/v14/export_test.go
  app/upgrades/v14/upgrade_test.go
  app/upgrades/v14/upgrades.go
  go.mod
  proto/osmosis/swaprouter/v1beta1/module_route.proto
  tests/e2e/initialization/config.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/keeper.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/types/expected_keepers.go
  x/swaprouter/creator.go
  x/swaprouter/keeper.go
  x/swaprouter/keeper_test.go
  x/swaprouter/msg_server.go
  x/swaprouter/types/expected_keepers.go
  x/swaprouter/types/genesis.go
  x/swaprouter/types/module_route.pb.go
  x/swaprouter/types/routes.go
Labels: C:x/gamm, C:app-wiring, V:state/breaking, C:x/swaprouter

#3730 test(x/twap): geometric twap accum initialized to zero by default
  x/twap/migrate_test.go
Labels: C:x/twap, V:state/compatible/no_backport, F: geometric-twap

#3738 refactor(x/swaprouter): use fee from swaprouter's params
  x/gamm/keeper/keeper.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/module.go
  x/swaprouter/create_pool.go
  x/swaprouter/create_pool_test.go
  x/swaprouter/keeper.go
  x/swaprouter/module/module.go
  x/swaprouter/types/expected_keepers.go
Labels: C:x/gamm, C:app-wiring, V:state/compatible/no_backport, C:x/swaprouter

#3719 Removing the second check as it breaks the yml file
  .github/workflows/contracts.yml
  .gitignore
Labels: T:CI, V:state/compatible/backport, A:backport/v13.x

#3704 x/gamm module minor code improvements
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/pool-models/balancer/msgs.go
Labels: C:x/gamm, V:state/compatible/backport, A:backport/v13.x

#3733 feat[CL]: implement initialize pool
  app/apptesting/concentrated_liquidity.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/swaps_test.go
  x/swaprouter/creator_test.go
  x/swaprouter/router_test.go
Labels: C:app-wiring, C:x/concentrated-liquidity, C:x/swaprouter

#3743 Update guide.md
  networks/osmosis-1/upgrades/v13/mainnet/guide.md
Labels: V:state/compatible/backport, A:backport/v13.x

#3589 Ack callbacks for IBC transfers
  Makefile
  app/keepers/keepers.go
  app/modules.go
  app/upgrades/v13/upgrade_test.go
  app/upgrades/v14/constants.go
  x/ibc-hooks/README.md
  x/ibc-hooks/bytecode/counter.wasm
  x/ibc-hooks/bytecode/crosschain_swaps.wasm
  x/ibc-hooks/bytecode/swaprouter.wasm
  x/ibc-hooks/genesis.go
  x/ibc-hooks/ibc_middleware_test.go
  x/ibc-hooks/keeper/keeper.go
  x/ibc-hooks/sdkmodule.go
  x/ibc-hooks/testutils/Cargo.lock
  x/ibc-hooks/testutils/contracts/counter/src/contract.rs
  x/ibc-hooks/testutils/contracts/counter/src/msg.rs
  x/ibc-hooks/types/keys.go
  x/ibc-hooks/wasm_hook.go
  x/ibc-rate-limit/testutil/wasm.go
Labels: C:docs, T:build, C:app-wiring, V:state/breaking

#3749 Fix merge conflicts in docker ci
  .github/workflows/push-docker-images.yml
Labels: T:CI

#3750 [CI] Fix state compatibility check CI
  .github/workflows/check-state-compatibility.yml
Labels: T:CI, A:backport/v3.x, A:backport/v4.x, A:backport/v6.x, A:backport/v8.x, A:backport/v10.x, A:backport/v11.x, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3599 [ValSet-Pref] Add `RedelegateValidatorSet` message
  proto/osmosis/valset-pref/v1beta1/tx.proto
  x/valset-pref/README.md
  x/valset-pref/msg_server.go
  x/valset-pref/msg_server_test.go
  x/valset-pref/types/expected_interfaces.go
  x/valset-pref/types/keys.go
  x/valset-pref/types/msgs.go
  x/valset-pref/types/tx.pb.go
  x/valset-pref/validator_set.go
Labels: C:docs, V:state/breaking

#3763 Move binary search from osmomath to osmoutils
  CHANGELOG.md
  osmomath/binary_search.go
  osmomath/binary_search_test.go
  osmomath/math.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/balancer/util_test.go
  x/gamm/pool-models/internal/cfmm_common/lp.go
  x/gamm/pool-models/internal/test_helpers/test_helpers.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, V:state/compatible/backport, A:backport/v13.x

#3767 test(x/swaprouter): TestCreatePool (merge)
  x/swaprouter/create_pool_test.go
Labels: V:state/compatible/no_backport, C:x/swaprouter

#3768 Remove osmomath's dependency on osmoassert & gammtypes
  osmomath/decimal_test.go
  osmomath/export_test.go
  osmomath/log2_bench_test.go
  osmomath/math_test.go
  osmomath/rounding_direction_test.go
  osmomath/sigfig_round_test.go
  x/gamm/types/constants.go
Labels: C:x/gamm, V:state/compatible/backport, A:backport/v13.x

#3726 test(x/twap): 3-asset geometric logic tests
  x/twap/keeper_test.go
  x/twap/logic_test.go
Labels: C:x/twap, V:state/compatible/no_backport, F: geometric-twap

#3739 refactor(x/gamm): remove CreatePool and pool id index boilerplate in gamm (merge)
  app/apptesting/gamm.go
  app/apptesting/test_suite.go
  app/keepers/keepers.go
  app/upgrades/v12/upgrades.go
  app/upgrades/v14/upgrades.go
  wasmbinding/query_plugin_test.go
  wasmbinding/test/custom_query_test.go
  x/gamm/keeper/export_test.go
  x/gamm/keeper/gas_test.go
  x/gamm/keeper/genesis_test.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/keeper_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/keeper/swap_test.go
  x/gamm/simulation/sim_msgs.go
  x/gamm/types/expected_keepers.go
  x/pool-incentives/keeper/genesis.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/types/expected_keepers.go
  x/protorev/keeper/keeper_test.go
  x/superfluid/keeper/gov/gov_test.go
  x/superfluid/keeper/keeper_test.go
  x/superfluid/keeper/unpool_test.go
  x/swaprouter/create_pool_test.go
  x/twap/migrate_test.go
Labels: C:x/gamm, C:x/pool-incentives, C:x/superfluid, C:app-wiring, C:simulator, C:x/twap, V:state/breaking, C:x/swaprouter

#3708 feat(osmomath): Exp2 function
  CHANGELOG.md
  osmomath/exp2.go
  osmomath/exp2_test.go
  osmomath/export_test.go
  scripts/approximations/approximations.py
  scripts/approximations/main.py
Labels: V:state/compatible/backport, A:backport/v13.x, F: geometric-twap

#3715 fix(gamm): SpotPrice keeper function
  CHANGELOG.md
  app/apptesting/test_suite.go
  wasmbinding/queries.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
  x/swaprouter/types/pool.go
  x/twap/logic.go
  x/twap/types/expected_interfaces.go
  x/twap/types/twapmock/amminterface.go
  x/txfees/keeper/feetokens.go
  x/txfees/keeper/feetokens_test.go
  x/txfees/types/expected_keepers.go
Labels: C:x/gamm, C:x/txfees, C:app-wiring, C:x/twap, V:state/breaking, C:x/swaprouter

#3486 make the linter config attractive
  .golangci.yml
  app/app.go
  app/apptesting/gamm.go
  app/encoding.go
  app/keepers/keepers.go
  cmd/osmosisd/cmd/balances_from_state_export.go
  cmd/osmosisd/cmd/forceprune.go
  cmd/osmosisd/cmd/genesis.go
  osmoutils/module_account.go
  osmoutils/osmocli/query_cmd_wrap.go
  simulation/simtypes/txbuilder.go
  tests/e2e/initialization/config.go
  x/gamm/keeper/grpc_query.go
  x/ibc-rate-limit/module.go
  x/lockup/client/rest/rest.go
  x/protorev/keeper/epoch_hook.go
  x/protorev/keeper/keeper.go
Labels: C:x/lockup, C:CLI, C:x/gamm, T:CI, C:app-wiring, C:simulator, V:state/compatible/no_backport

#3748 osmocli: migrate to osmocli tests in tokenfactory cli
  x/tokenfactory/client/cli/cli_test.go
  x/tokenfactory/client/cli/query.go
Labels: C:CLI, C:x/tokenfactory, V:state/compatible/backport, A:backport/v13.x

#3772 refactor(app/apptesting): PrepareBalancerPool helpers (simplifying swaprouter merge PR)
  app/apptesting/gamm.go
  x/gamm/pool-models/balancer/pool_suite_test.go
Labels: C:x/gamm, C:app-wiring, V:state/compatible/backport, F: concentrated-liquidity, A:backport/v13.x

#3775 Make osmoutils store + module account tests not import osmosis
  osmoutils/module_account_test.go
  osmoutils/noapptest/cdc.go
  osmoutils/noapptest/ctx.go
  osmoutils/store_helper_test.go
Labels: V:state/compatible/backport, A:backport/v13.x

#3766 refactor(wasmbindings): remove gamm and twap bindings
  CHANGELOG.md
  app/keepers/keepers.go
  wasmbinding/bindings/msg.go
  wasmbinding/bindings/pool.go
  wasmbinding/bindings/query.go
  wasmbinding/bindings/types.go
  wasmbinding/bindings/types_test.go
  wasmbinding/message_plugin.go
  wasmbinding/queries.go
  wasmbinding/query_plugin.go
  wasmbinding/test/custom_msg_test.go
  wasmbinding/test/custom_query_test.go
  wasmbinding/test/messages_test.go
  wasmbinding/test/queries_test.go
  wasmbinding/testdata/download_releases.sh
  wasmbinding/testdata/reflect.wasm
  wasmbinding/testdata/version.txt
  wasmbinding/wasm.go
Labels: C:app-wiring, V:state/breaking

#3709 ProtoRev: Trade Execution + Statistics
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/keeper/routes.go
  x/protorev/keeper/routes_test.go
  x/protorev/keeper/statistics.go
  x/protorev/keeper/statistics_test.go
  x/protorev/types/expected_keepers.go
  x/protorev/types/genesis.go
  x/protorev/types/keys.go
Labels: V:state/breaking

#3794 test(x/swaprouter): TestGetPoolModule
  x/swaprouter/keeper_test.go
  x/swaprouter/router_test.go
Labels: V:state/compatible/no_backport, F: concentrated-liquidity, C:x/swaprouter

#3797 test(x/swaprouter): genesis tests
  x/swaprouter/keeper_test.go
Labels: V:state/compatible/no_backport, F: concentrated-liquidity, C:x/swaprouter

#3803 Moved tests out of ibc hooks
  tests/ibc-hooks/bytecode/counter.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/echo.wasm
  tests/ibc-hooks/bytecode/swaprouter.wasm
  tests/ibc-hooks/ibc_middleware_test.go
  tests/ibc-hooks/testutils/Cargo.lock
  tests/ibc-hooks/testutils/Cargo.toml
  tests/ibc-hooks/testutils/contracts/counter/Cargo.toml
  tests/ibc-hooks/testutils/contracts/counter/README.md
  tests/ibc-hooks/testutils/contracts/counter/src/contract.rs
  tests/ibc-hooks/testutils/contracts/counter/src/error.rs
  tests/ibc-hooks/testutils/contracts/counter/src/helpers.rs
  tests/ibc-hooks/testutils/contracts/counter/src/integration_tests.rs
  tests/ibc-hooks/testutils/contracts/counter/src/lib.rs
  tests/ibc-hooks/testutils/contracts/counter/src/msg.rs
  tests/ibc-hooks/testutils/contracts/counter/src/state.rs
  tests/ibc-hooks/testutils/contracts/echo/Cargo.toml
  tests/ibc-hooks/testutils/contracts/echo/src/lib.rs
  tests/ibc-hooks/testutils/testing_hooks.go
  x/ibc-hooks/ibc_middleware_test.go
Labels: C:docs, V:state/compatible/backport, A:backport/v13.x

#3696 [x/TWAP] Refactor geometric & arithmetic TWAP for reusable API functions
  x/twap/api.go
  x/twap/export_test.go
  x/twap/keeper.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/strategy.go
  x/twap/strategy_test.go
Labels: C:x/twap, V:state/compatible/backport

#3764 refactor(x/gamm, x/swaprouter): multihop and estimate swap move
  app/apptesting/gamm.go
  app/apptesting/test_suite.go
  app/keepers/keepers.go
  x/gamm/keeper/export_test.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/keeper.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/multihop.go
  x/gamm/keeper/multihop_test.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
  x/gamm/types/expected_keepers.go
  x/gamm/types/route.go
  x/protorev/keeper/keeper.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/keeper/statistics.go
  x/protorev/keeper/statistics_test.go
  x/protorev/types/expected_keepers.go
  x/swaprouter/export_test.go
  x/swaprouter/keeper.go
  x/swaprouter/keeper_test.go
  x/swaprouter/router.go
  x/swaprouter/router_test.go
  x/swaprouter/types/routes.go
  x/txfees/keeper/hooks.go
  x/txfees/keeper/keeper.go
  x/txfees/types/expected_keepers.go
Labels: C:x/gamm, C:x/txfees, C:app-wiring, V:state/breaking, C:x/swaprouter

#3731 feat(osmomath): Power with decimal exponent
  CHANGELOG.md
  osmomath/decimal.go
  osmomath/decimal_test.go
Labels: V:state/compatible/no_backport, F: geometric-twap

#3795 chore: add swaprouter change to localosmosis
  tests/localosmosis/scripts/setup.sh
Labels: V:state/breaking

#3809 feat(x/twap): use exp2 in twapPow; add overflow test
  x/twap/export_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/strategy.go
  x/twap/strategy_test.go
Labels: C:x/twap, V:state/compatible/no_backport

#3771 Move osmomath into its own go.mod
  Makefile
  app/apptesting/gamm.go
  go.mod
  go.sum
  go.work
  go.work.sum
  osmomath/decimal_test.go
  osmomath/exp2_test.go
  osmomath/go.mod
  osmomath/go.sum
  x/gamm/keeper/pool_service.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/balancer/util_test.go
  x/gamm/pool-models/internal/cfmm_common/lp.go
  x/gamm/pool-models/internal/test_helpers/test_helpers.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_bench_test.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/strategy.go
  x/twap/strategy_test.go
Labels: C:x/gamm, T:build, C:app-wiring, C:x/twap, V:state/compatible/backport, A:backport/v13.x

#3802 feat(x/twap): geometric twap code gen query boilerplate
  proto/osmosis/twap/v1beta1/query.proto
  proto/osmosis/twap/v1beta1/query.yml
  x/twap/client/grpc/grpc_query.go
  x/twap/client/query_proto_wrap.go
  x/twap/client/query_proto_wrap_test.go
  x/twap/client/queryproto/query.pb.go
  x/twap/client/queryproto/query.pb.gw.go
Labels: C:CLI, C:x/twap, V:state/compatible/no_backport, F: geometric-twap

#3817 Move osmoassert into osmoutils, remove osmoutils twap dependence
  CHANGELOG.md
  osmoutils/module_account_test.go
  osmoutils/osmoassert/assertions.go
  osmoutils/store_helper_test.go
  tests/e2e/e2e_test.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/pool_test.go
  x/mint/keeper/genesis_test.go
  x/mint/keeper/hooks_test.go
  x/mint/keeper/keeper_test.go
  x/twap/keeper_test.go
  x/twap/logic_test.go
  x/twap/strategy_test.go
  x/twap/types/utils_test.go
Labels: C:x/gamm, C:x/mint, C:x/twap, V:state/compatible/backport, A:backport/v13.x

#3820 Make e2e ignore gowork
  .github/workflows/test-e2e-makefile.yml
  .github/workflows/test.yml
  Dockerfile
  go.mod
  go.sum
  go.work.sum
Labels: T:CI, T:build, V:state/compatible/backport, A:backport/v13.x

#3822 Lower noise of e2e tests
  Makefile
  tests/e2e/containers/containers.go
Labels: T:build, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3779 osmomath: `AddMut` and `QuoMut`
  osmomath/decimal.go
  osmomath/decimal_test.go
  osmomath/exp2.go
Labels: V:state/compatible/backport, A:backport/v13.x, F: geometric-twap

#3812 feat(x/twap): modify cli to add geometric option
  x/twap/client/cli/query.go
Labels: C:CLI, C:x/twap, V:state/compatible/no_backport

#3847 Make compile CI tests use prod builds
  .github/workflows/build.yml
Labels: T:CI, V:state/compatible/backport, A:backport/v13.x

#3686 [ValSet-Pref] Add `WithdrawDelegationRewards` message
  app/keepers/keepers.go
  x/valset-pref/keeper.go
  x/valset-pref/keeper_test.go
  x/valset-pref/msg_server.go
  x/valset-pref/msg_server_test.go
  x/valset-pref/types/expected_interfaces.go
  x/valset-pref/validator_set.go
Labels: C:app-wiring, V:state/breaking

#3838 Upgrade IBC to v4.2.0
  CHANGELOG.md
  app/ante.go
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v12/upgrades.go
  app/upgrades/v13/upgrades.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v9/constants.go
  app/upgrades/v9/msg_filter_ante.go
  app/upgrades/v9/msg_filter_ante_test.go
  app/upgrades/v9/upgrades.go
  go.mod
  go.sum
  go.work.sum
  osmoutils/ibc.go
  tests/ibc-hooks/ibc_middleware_test.go
  tests/ibc-hooks/testutils/testing_hooks.go
  wasmbinding/test/custom_query_test.go
  wasmbinding/test/store_run_test.go
  x/ibc-hooks/hooks.go
  x/ibc-hooks/ibc_module.go
  x/ibc-hooks/ics4_middleware.go
  x/ibc-hooks/wasm_hook.go
  x/ibc-rate-limit/ibc_middleware_test.go
  x/ibc-rate-limit/ibc_module.go
  x/ibc-rate-limit/ics4_wrapper.go
  x/ibc-rate-limit/rate_limit.go
  x/ibc-rate-limit/testutil/chain.go
  x/ibc-rate-limit/testutil/wasm.go
Labels: C:app-wiring, V:state/breaking

#3804 [CL]Misc: Add Denom Check upon pool creation
  x/concentrated-liquidity/model/msgs.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/types/expected_keepers.go
Labels: C:x/concentrated-liquidity

#3845 refactor(x/twap): handle spot price error case in the context of geometric twap
  osmomath/sigfig_round_test.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/twap/logic.go
  x/twap/logic_test.go
Labels: C:x/gamm, C:x/twap, V:state/compatible/no_backport, F: geometric-twap

#3844 test(x/twap): add randomized geometric twap test on a balancer pool
  x/twap/api_test.go
Labels: C:x/twap, V:state/compatible/no_backport, F: geometric-twap

#3835 Basic geometric twap e2e test
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  tests/e2e/scripts/geometricPool.json
Labels: V:state/compatible/no_backport, F: geometric-twap

#3852 feat(x/twap): whitelist GeometricTwap and GeometricTwapToNow
  CHANGELOG.md
  wasmbinding/stargate_whitelist.go
  x/twap/README.md
Labels: C:docs, C:x/twap, V:state/breaking, F: geometric-twap

#3854 fix(scripts): proto gen for osmoutils
  osmoutils/sumtree/tree.pb.go
  scripts/protocgen.sh
Labels: T:build, V:state/compatible/no_backport

#3853 Accumulator: `Set` and `Get`
  osmoutils/accum/accum.go
  osmoutils/accum/accum.pb.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/export_test.go
  osmoutils/accum/module.go
  proto/osmosis/accum/v1beta1/accum.proto
Labels: V:state/breaking

#3855 feat(osmoutils): ClaimRewards and NewPosition foundations
  osmoutils/accum/accum.go
  osmoutils/accum/accum.pb.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/errors.go
  osmoutils/accum/export_test.go
  osmoutils/accum/prefix.go
  proto/osmosis/accum/v1beta1/accum.proto
Labels: V:state/compatible/no_backport

#3856 feat(osmoutils): Accumulator `AddToPosition`, `RemoveFromPosition`, and `GetPositionSize`
  osmoutils/accum/accum.go
  osmoutils/accum/accum_helpers.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/export_test.go
  osmoutils/osmocli/parsers_test.go
Labels: V:state/breaking

#3861 Update Makefile
  Makefile
Labels: T:build, A:backport/v10.x, A:backport/v11.x, A:backport/v12.x, V:state/compatible/backport, A:backport/v13.x

#3859 fix(scripts): proto gen osmoutils path
  scripts/protocgen.sh
Labels: T:build, V:state/compatible/no_backport

#3877 chore: CL merge to main build fixes (no state-breaks)
  app/apptesting/concentrated_liquidity.go
  app/keepers/keepers.go
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/internal/math/tick.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/model/codec.go
  x/concentrated-liquidity/model/msgs.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/msgs.go
Labels: C:CLI, C:app-wiring, C:x/concentrated-liquidity

#3862 Add packet timeouts to wasm hooks
  tests/ibc-hooks/bytecode/counter.wasm
  tests/ibc-hooks/ibc_middleware_test.go
  tests/ibc-hooks/testutils/contracts/counter/src/contract.rs
  tests/ibc-hooks/testutils/contracts/counter/src/msg.rs
  x/ibc-hooks/wasm_hook.go
Labels: V:state/compatible/backport

#3858 feat(osmoutils): accumulator position options
  osmoutils/accum/accum.go
  osmoutils/accum/accum.pb.go
  osmoutils/accum/accum_helpers.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/export_test.go
  osmoutils/accum/options.go
  osmoutils/accum/options_test.go
  proto/osmosis/accum/v1beta1/accum.proto
Labels: V:state/compatible/no_backport

#3878 Swaprouter single route api
  x/swaprouter/router.go
  x/swaprouter/router_test.go
  x/txfees/keeper/hooks.go
  x/txfees/types/expected_keepers.go
Labels: C:x/txfees, A:automerge, V:state/breaking, C:x/swaprouter

#3876 fix: cl merge main swaprouter changes (state-breaking)
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v14/constants.go
  x/concentrated-liquidity/msg_server.go
  x/gamm/pool-models/balancer/msgs_test.go
  x/gamm/pool-models/stableswap/msgs_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/swaprouter/create_pool.go
  x/swaprouter/create_pool_test.go
  x/swaprouter/keeper.go
  x/swaprouter/router_test.go
  x/swaprouter/types/constants.go
Labels: C:x/gamm, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, C:x/swaprouter

#3783 test[CL]: CurrentSqrtPrice
  x/concentrated-liquidity/internal/math/math.go
  x/concentrated-liquidity/internal/math/math_test.go
  x/concentrated-liquidity/internal/math/tick.go
  x/concentrated-liquidity/internal/math/tick_test.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#3888 fix: add negative to cli
  osmoutils/osmocli/parsers.go
Labels: V:state/compatible/no_backport

#3895 refactor(osmoutils): UpdateAccumulator does not overwrite; tests
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
Labels: V:state/compatible/no_backport

#3897 refactor(osmoutils): accumulator ClaimRewards returns sdk.Coins
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
Labels: V:state/compatible/no_backport

#3896 refactor(osmoutils): index position by string name instead of address
  osmoutils/accum/accum.go
  osmoutils/accum/accum_helpers.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/errors.go
  osmoutils/accum/export_test.go
Labels: V:state/compatible/no_backport
