Repository osmosis-labs/osmosis, pull requests merged in 2022-09, with the labels that each got.

#2558 Cache genesis setup in App.Setup
  app/apptesting/test_suite.go
  app/test_helpers.go
Labels: C:app-wiring

#2513 [Test] Create suite.SetupGenesisTest() that takes care of module account removal
  app/apptesting/test_suite.go
  x/tokenfactory/keeper/genesis_test.go
Labels: C:app-wiring, C:x/tokenfactory

#2568 fix(e2e): enable pool creation and sf tests run without upgrade
  Makefile
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/config/constants.go
  tests/e2e/e2e_test.go
  tests/e2e/scripts/ibcDenomPool.json
  tests/e2e/scripts/nativeDenomPool.json
Labels: T:build

#2543 feat(twap): pruning keep the newest record under keep threshold
  x/twap/api.go
  x/twap/api_test.go
  x/twap/export_test.go
  x/twap/keeper_test.go
  x/twap/listeners_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/store.go
  x/twap/store_test.go
  x/twap/types/errors.go
Labels: C:x/twap

#2574 removed proposal commands from superfluid tx commands
  x/superfluid/client/cli/tx.go
Labels: C:CLI, C:x/superfluid, A:backport/v11.x

#2578 Added support for ledger nano s+
  go.mod
  go.sum
Labels: A:backport/v11.x

#2581 ux(e2e): Makefile steps to run e2e test suite locally
  CONTRIBUTING.md
  Makefile
  tests/e2e/scripts/run/check_image_sha.sh
  tests/e2e/scripts/run/common.sh
  tests/e2e/scripts/run/remove_stale_resources.sh
Labels: T:build

#2255 x/superfluid: ensure events are emitted and tests added
  x/superfluid/README.md
  x/superfluid/keeper/gov/gov.go
  x/superfluid/keeper/gov/gov_test.go
  x/superfluid/keeper/gov/suite_test.go
  x/superfluid/keeper/hooks.go
  x/superfluid/keeper/hooks_test.go
  x/superfluid/keeper/internal/events/emit.go
  x/superfluid/keeper/internal/events/emit_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
Labels: C:docs, C:x/superfluid

#2508 Move spot price safety checks to keeper layer
  CHANGELOG.md
  app/apptesting/gamm.go
  osmomath/sigfig_round.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/types/constants.go
  x/twap/logic.go
  x/twap/types/utils.go
  x/twap/types/utils_test.go
Labels: C:docs, C:x/gamm, C:app-wiring, C:x/twap

#2587 Remove the encoding config arg to NewOsmosisApp
  CHANGELOG.md
  app/app.go
  app/config.go
  app/encoding.go
  app/test_helpers.go
  cmd/osmosisd/cmd/root.go
  tests/simulator/sim_test.go
Labels: C:docs, C:app-wiring, C:simulator

#2588 Simulation setup improvements
  .gitignore
  app/modules.go
  simulation/executor/init_functions.go
  simulation/executor/legacyconfig.go
  simulation/executor/simulate.go
  simulation/executor/simulate_dev.go
  simulation/executor/types.go
  simulation/internal/pubsub/manager.go
  simulation/simtypes/app.go
  simulation/simtypes/manager.go
  simulation/simtypes/propertycheck.go
  tests/simulator/osmosis_helper.go
  tests/simulator/sim_test.go
  tests/simulator/state.go
  x/gamm/module.go
  x/gamm/simulation/sim_setup.go
Labels: C:x/gamm, C:app-wiring, C:simulator

#2577 Add .go extension to genesis_test file
  x/gamm/keeper/genesis_test.go
Labels: C:x/gamm

#2593 TWAP: Add overflow test
  x/twap/api_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/store_test.go
Labels: C:x/twap

#2576 Deduplicate cosmwasm test
  .github/workflows/contracts.yml
Labels: T:CI

#2474 chore: twap mutation fixes part 2
  x/twap/store_test.go
  x/twap/types/errors.go
  x/twap/types/genesis_test.go
  x/twap/types/keys.go
  x/twap/types/utils_test.go
Labels: C:x/twap

#2599 chore: mergify config for v12
  .github/mergify.yml
Labels: T:CI

#2536 Twap: Logic Test
  x/twap/api_test.go
  x/twap/export_test.go
  x/twap/logic_test.go
Labels: C:x/twap

#2618 Add Twap GetArithmeticToNow query
  go.mod
  proto/osmosis/twap/v1beta1/query.proto
  proto/osmosis/twap/v1beta1/query.yml
  x/twap/client/grpc/grpc_query.go
  x/twap/client/query_proto_wrap.go
  x/twap/client/queryproto/query.pb.go
  x/twap/client/queryproto/query.pb.gw.go
Labels: C:CLI, C:x/twap, A:backport/v12.x

#2353 RE: Enable Whitelist Stargate Query
  CHANGELOG.md
  app/keepers/keepers.go
  wasmbinding/query_plugin.go
  wasmbinding/query_plugin_test.go
  wasmbinding/stargate_whitelist.go
  wasmbinding/wasm.go
Labels: C:docs, C:app-wiring, A:backport/v12.x

#2624 fix(ci): simulator db close
  simulation/executor/stats_db.go
Labels: A:automerge, C:simulator

#2619 Add initial whitelist for Stargate Query
  wasmbinding/query_plugin_test.go
  wasmbinding/stargate_whitelist.go
Labels: A:backport/v12.x

#2133 Refactor: Change Pool API to have separate methods for `JoinPool` and `JoinPoolNoSwap`
  CHANGELOG.md
  tests/mocks/mock_pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/export_test.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/types/pool.go
Labels: C:docs, C:x/gamm, A:backport/v12.x

#2606 test(e2e/twap): create a swap post upgrade and twap pruning
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/node.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/e2e_test.go
  tests/e2e/initialization/config.go
  x/epochs/keeper/grpc_query.go
  x/gamm/client/cli/tx.go
Labels: C:CLI, C:x/gamm, C:x/epochs, A:backport/v12.x

#2640 Remove ibc rate limiting tests from gh workflow
  .github/workflows/contracts.yml
Labels: T:CI

#2643 Add time range safety check to GetArithmeticTwapToNow
  x/twap/api.go
  x/twap/api_test.go
Labels: C:x/twap

#2454 x/gamm: Reduce swap fee for Osmo-routed trades (#2406)
  CHANGELOG.md
  app/apptesting/gamm.go
  x/gamm/README.md
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/msg_server_test.go
  x/gamm/keeper/multihop.go
  x/gamm/keeper/multihop_test.go
  x/gamm/types/constants.go
  x/gamm/types/route.go
Labels: C:docs, C:x/gamm, C:app-wiring

#2506 TWAP module internal audit comments
  x/twap/api.go
  x/twap/logic.go
  x/twap/store.go
  x/twap/twapmodule/module.go
  x/twap/types/keys.go
Labels: C:app-wiring, C:x/twap

#2635 TWAP notes/fixes from code review
  CHANGELOG.md
  x/twap/README.md
  x/twap/client/query_proto_wrap.go
  x/twap/logic.go
  x/twap/store.go
  x/twap/types/keys.go
Labels: C:docs, C:CLI, C:x/twap, A:backport/v12.x

#2642 Fix the multi_asset pool pruning bug
  x/twap/store.go
  x/twap/store_test.go
Labels: C:x/twap, A:backport/v12.x

#2632 Fix: Add proto reset to Stargate Querier
  wasmbinding/query_plugin.go
  wasmbinding/query_plugin_test.go
Labels: A:backport/v12.x

#2651 Delete x/mint rest integration test
  x/mint/client/rest/grpc_query_test.go
  x/mint/keeper/grpc_query_test.go
Labels: C:CLI, C:x/mint

#2645 [TWAP]: Add safety check regarding the number of records in updateRecords
  x/twap/logic.go
Labels: C:x/twap, A:backport/v12.x

#2409 IBC Rate-Limit Middleware
  app/apptesting/events.go
  proto/osmosis/ibc-rate-limit/v1beta1/params.proto
  tests/e2e/initialization/config.go
  tests/e2e/scripts/rate_limiter.wasm
  x/ibc-rate-limit/Beaker.toml
  x/ibc-rate-limit/README.md
  x/ibc-rate-limit/contracts/rate-limiter/src/contract.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/contract_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/msg.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
  x/ibc-rate-limit/ibc_module.go
  x/ibc-rate-limit/ics4_wrapper.go
  x/ibc-rate-limit/rate_limit.go
  x/ibc-rate-limit/testdata/rate_limiter.wasm
  x/ibc-rate-limit/types/errors.go
  x/ibc-rate-limit/types/events.go
  x/ibc-rate-limit/types/keys.go
  x/ibc-rate-limit/types/params.go
  x/ibc-rate-limit/types/params.pb.go
  x/ibc-rate-limit/types/params_test.go
Labels: C:docs, C:app-wiring

#2656 Add type safety to query whitelist
  wasmbinding/export_test.go
  wasmbinding/query_plugin.go
  wasmbinding/query_plugin_test.go
  wasmbinding/stargate_whitelist.go
Labels: A:backport/v12.x

#2665 Fix lexicographic ordering of get all most recent keys for pool
  osmoutils/encoding_helper.go
  osmoutils/encoding_helper_test.go
  x/twap/keeper_test.go
  x/twap/store_test.go
  x/twap/types/keys.go
  x/twap/types/keys_test.go
Labels: C:x/twap, A:backport/v12.x

#2641 TWAP: Simplify historical pool index
  osmoutils/store_helper.go
  osmoutils/store_helper_test.go
  x/twap/api_test.go
  x/twap/export_test.go
  x/twap/store.go
  x/twap/store_test.go
  x/twap/types/keys.go
  x/twap/types/keys_test.go
Labels: C:x/twap, A:backport/v12.x

#2668 refactor(twap): remove wasmbindings
  wasmbinding/bindings/query.go
  wasmbinding/query_plugin.go
  wasmbinding/test/custom_query_test.go
Labels: A:backport/v12.x

#2669 fix(e2e/ci): stop double building docker images
  .github/workflows/test.yml
  Makefile
Labels: T:CI, T:build, A:backport/v12.x

#2630 Create equivalent make commands for markdown linting
  .markdownlint.yml
  Makefile
Labels: T:build

#2631 Fix markdown files using `make markdown`
  app/upgrades/v8/README.md
  cmd/querygen/README.md
  networks/osmosis-1/upgrades/v10/guide.md
  networks/osmosis-1/upgrades/v11/mainnet/guide.md
  networks/osmosis-1/upgrades/v11/testnet/guide.md
  simulation/ADR.md
  tests/localosmosis/README.md
  x/README.md
  x/epochs/README.md
  x/incentives/README.md
  x/mint/README.md
  x/pool-incentives/README.md
  x/twap/README.md
  x/txfees/README.md
Labels: C:docs, C:x/mint, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/txfees, C:app-wiring, C:simulator, C:x/twap

#2663 Start changelog prepartion
  CHANGELOG.md
Labels: C:docs, A:backport/v12.x

#2677 Add tokenfactory and TWAP to query whitelist
  wasmbinding/stargate_whitelist.go
Labels: A:backport/v12.x

#2678 Add TWAP params queries
  proto/osmosis/twap/v1beta1/query.proto
  proto/osmosis/twap/v1beta1/query.yml
  x/twap/client/grpc/grpc_query.go
  x/twap/client/query_proto_wrap.go
  x/twap/client/queryproto/query.pb.go
  x/twap/client/queryproto/query.pb.gw.go
Labels: C:CLI, C:x/twap, A:backport/v12.x

#2691 readme lints
  x/ibc-rate-limit/README.md
Labels: C:docs

#2693 Replace deprecated `ioutil` imports with `os`
  cmd/osmosisd/cmd/airdrop.go.history
  cmd/osmosisd/cmd/balances_from_state_export.go
  cmd/querygen/templates/queryyml.go
  simulation/executor/event_stats.go
  simulation/executor/legacyconfig.go
  simulation/simtypes/manager.go
  store/legacy/v101/tree_test.go
  tests/e2e/containers/containers.go
  tests/e2e/e2e_test.go
  tests/e2e/util/io.go
  tests/simulator/genesis.go
  tests/simulator/state.go
  wasmbinding/test/custom_query_test.go
  wasmbinding/test/store_run_test.go
  x/gamm/client/cli/parse.go
  x/lockup/client/cli/query.go
Labels: C:x/lockup, C:CLI, C:x/gamm, C:simulator

#2670 x/twap: three asset pool tests (part 1 of 2)
  x/twap/api_test.go
  x/twap/keeper_test.go
  x/twap/logic_test.go
Labels: C:x/twap, A:backport/v12.x

#2687 test(twap): `updateRecords` function (two-asset)
  x/gamm/keeper/pool.go
  x/gamm/types/errors.go
  x/twap/export_test.go
  x/twap/keeper_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/types/errors.go
  x/twap/types/twapmock/amminterface.go
Labels: C:x/gamm, C:x/twap, A:backport/v12.x

#2707 TWAP: Test cases for LastSpotPrice Error
  x/twap/api_test.go
Labels: T:tests, C:x/twap

#2616 x/gamm: add direct unit tests for balancer `JoinPool` and `JoinPoolNoSwap`
  x/gamm/pool-models/balancer/pool_suite_test.go
Labels: C:x/gamm, A:backport/v12.x

#2638 test(e2e/twap): twap query before/after swap and after pruning
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/node.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/e2e_test.go
Labels: A:backport/v12.x

#2715 chore: Revert "refactor(x/mint): truncations pt 2 -(v12)
  x/mint/types/minter.go
  x/mint/types/minter_test.go
  x/mint/types/params.go
  x/mint/types/params_test.go
Labels: C:x/mint

#2614 Revert "chore: Update Proto + ~~ORM Support~~ (#1589)"
  go.mod
  proto/buf.gen.pulsar.yaml
  proto/buf.md
  proto/buf.yaml
  scripts/protocgen.sh
  scripts/protocgen2.sh
  x/twap/client/grpc/grpc_query.go
Labels: C:CLI, T:build, C:x/twap, A:backport/v12.x

#2721 Chore: Simplify test code for Stargate Queries
  wasmbinding/query_plugin_test.go
  x/twap/client/grpc/grpc_query.go
Labels: C:CLI, C:x/twap

#2713 chore: Test GetSpotPrices
  x/twap/export_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/types/expected_interfaces.go
Labels: C:x/twap

#2718 e2e: make TWAP test for three asset pools
  tests/e2e/containers/config.go
  tests/e2e/e2e_test.go
  tests/e2e/initialization/config.go
  tests/e2e/scripts/nativeDenomThreeAssetPool.json
Labels: A:backport/v12.x

#2728 fix: localosmosis build patch
  Makefile
  tests/localosmosis/scripts/add_keys.sh
  tests/localosmosis/scripts/setup.sh
Labels: T:build, A:backport/v12.x

#2575 App testing consistency improvements
  app/apptesting/test_suite.go
Labels: C:app-wiring

#2738 Revert pool query being accessible via cosmwasm
  wasmbinding/stargate_whitelist.go
Labels: A:backport/v12.x

#2690 x/twap: three asset pool tests (part 2 of 2)
  x/twap/api.go
  x/twap/keeper_test.go
  x/twap/logic_test.go
  x/twap/store_test.go
Labels: C:x/twap, A:backport/v12.x

#2714 chore: upgrade wasmd to v0.28.0
  CHANGELOG.md
  go.mod
  go.sum
  simulation/executor/simulate_dev.go
  tests/simulator/state.go
  x/gamm/simulation/sim_msgs.go
Labels: C:docs, C:x/gamm, C:simulator, A:backport/v12.x

#2695 [stableswap]: Add checks for invalid cfmm inputs
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm

#2746 fix: MsgBeginUnlocking bug
  x/lockup/types/msgs.go
  x/lockup/types/msgs_test.go
Labels: C:x/lockup, A:backport/v12.x

#2755 chore: routine gofumpt
  cmd/querygen/main.go
  cmd/querygen/templates/queryyml.go
  osmoutils/store_helper.go
  osmoutils/store_helper_test.go
  simulation/executor/mock_tendermint.go
  simulation/executor/simulate.go
  simulation/executor/simulate_dev.go
  simulation/simtypes/action.go
  simulation/simtypes/simlogger/logger.go
  tests/e2e/configurer/chain/queries.go
  wasmbinding/query_plugin_test.go
  wasmbinding/stargate_whitelist.go
  x/epochs/module.go
  x/epochs/types/hooks_test.go
  x/gamm/keeper/multihop_test.go
  x/gamm/keeper/swap_test.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/ibc-rate-limit/types/params_test.go
  x/incentives/keeper/msg_server_test.go
  x/incentives/module.go
  x/lockup/module.go
  x/mint/keeper/export_test.go
  x/mint/keeper/keeper_test.go
  x/pool-incentives/client/proposal_handler.go
  x/pool-incentives/module.go
  x/superfluid/keeper/distribution_test.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/module.go
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/module.go
  x/twap/api.go
  x/twap/keeper_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/store.go
  x/twap/store_test.go
  x/twap/types/export_test.go
  x/twap/types/twapmock/amminterface.go
  x/twap/types/utils_test.go
  x/txfees/module.go
Labels: C:x/lockup, C:CLI, C:x/gamm, C:x/mint, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/txfees, C:app-wiring, C:x/tokenfactory, C:simulator, C:x/twap

#2501 Refactor EstimateSwap (https://github.com/osmosis-labs/osmosis/pull/2378)
  CHANGELOG.md
  wasmbinding/message_plugin.go
  wasmbinding/queries.go
  x/gamm/keeper/estimate_swap.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/swap.go
Labels: C:docs, C:x/gamm

#2759 Revert "Commit timeout (#2057)"
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: C:docs, A:backport/v12.x

#2750 review(x/twap): minor post-review clean up (post v-12)
  x/twap/logic.go
  x/twap/migrate.go
  x/twap/store.go
  x/twap/types/utils.go
Labels: C:x/twap

#2605 doc: streamswap spec
  proto/osmosis/streamswap/v1/tx.proto
  x/streamswap/README.md
  x/streamswap/types/tx.pb.go
Labels: C:docs, A:automerge, C:x/streamswap

#2769 x/poolincentives: genesis import/export patch
  app/keepers/keepers.go
  proto/osmosis/pool-incentives/v1beta1/genesis.proto
  proto/osmosis/pool-incentives/v1beta1/incentives.proto
  x/incentives/keeper/genesis.go
  x/pool-incentives/keeper/genesis.go
  x/pool-incentives/keeper/genesis_test.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/types/expected_keepers.go
  x/pool-incentives/types/genesis.pb.go
  x/pool-incentives/types/incentives.pb.go
Labels: C:x/incentives, C:x/pool-incentives, C:app-wiring, A:backport/v11.x, A:backport/v12.x

#2778 [x/stableswap]: Increase precision of osmomath BigDec to prevent stableswap CFMM precision issues
  osmomath/decimal.go
  osmomath/decimal_test.go
  osmomath/int.go
  osmomath/int_test.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_bench_test.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/gamm/pool-models/stableswap/pool.go
Labels: C:x/gamm

#2725 Make gamm pools override addr already exists
  osmoutils/module_account.go
  osmoutils/module_account_test.go
  osmoutils/store_helper_test.go
  x/gamm/keeper/pool_service.go
Labels: C:x/gamm

#2772 delete ModuleDistributedCoins grpc query
  CHANGELOG.md
  proto/osmosis/incentives/query.proto
  wasmbinding/stargate_whitelist.go
  x/incentives/README.md
  x/incentives/client/cli/cli_test.go
  x/incentives/client/cli/query.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/types/query.pb.go
  x/incentives/types/query.pb.gw.go
Labels: C:docs, C:CLI, C:x/incentives

#2780 [twap] Sort denoms in ascending order
  x/twap/types/utils.go
  x/twap/types/utils_test.go
Labels: C:x/twap

#2777 [stableswap]: Convert all core stableswap arithmetic to use `BigDec`
  osmomath/decimal.go
  osmomath/decimal_test.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool.go
Labels: C:x/gamm

#2787 x/incentives: gauge method patch
  x/incentives/types/gauge.go
Labels: C:x/incentives, A:backport/v11.x, A:backport/v12.x

#2786 testnet: prune script
  tests/localosmosis/mainnet_state/stateprune.py
Labels: A:backport/v11.x, A:backport/v12.x

#2797 x/incentives: make active inclusive of current time
  x/incentives/types/gauge.go
Labels: C:x/incentives, A:backport/v11.x, A:backport/v12.x

#2731 [stableswap] Improve binary search solver precision by 100x and increase two-asset pool capacity to $100M – $1B per asset
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, C:stableswap

#2805 refactor(localosmosis): upload permissions to everybody and extra denoms at genesis
  tests/localosmosis/scripts/setup.sh
Labels: A:backport/v12.x

#2803 fix(cli/gamm): total pool liquidity command missing
  CHANGELOG.md
  x/gamm/client/cli/query.go
Labels: C:docs, C:CLI, C:x/gamm

#2801 bump IBC version
  go.mod
  go.sum
Labels: A:backport/v12.x

#2811 Revert commenting out the pool query
  wasmbinding/stargate_whitelist.go
Labels: A:backport/v12.x

#2808 Revert fixed gas cost for v12
  x/gamm/keeper/swap_test.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/types/constants.go
Labels: C:x/gamm

#2802 Implement `BigDec` binary search in osmoutils
  osmoutils/binary_search.go
  osmoutils/binary_search_test.go
Labels: A:automerge, C:stableswap

#2795 Refactors testnetify and remove last localOsmosis Dockerfile
  Makefile
  tests/localosmosis/README.md
  tests/localosmosis/mainnet_state/Dockerfile-stateExport
  tests/localosmosis/mainnet_state/docker-compose-state-export.yml
  tests/localosmosis/mainnet_state/statesync.sh
  tests/localosmosis/mainnet_state/testnetify.py
  tests/localosmosis/state_export/docker-compose.yml
  tests/localosmosis/state_export/scripts/start.sh
  tests/localosmosis/state_export/scripts/testnetify.py
Labels: C:docs, T:build

#2816 [stableswap]: Switch two-asset CFMM solver to use `BigDec` binary search
  tests/localosmosis/README.md
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
  x/twap/client/grpc/grpc_query.go
Labels: C:docs, C:CLI, C:x/gamm, A:automerge, C:x/twap

#2828 chore: v12 binaries json placeholder
  networks/osmosis-1/upgrades/v12/v12_binaries.json
Labels: A:backport/v12.x

#2836 chore: review changelog for v12
  CHANGELOG.md
Labels: C:docs, A:backport/v12.x

#2835 chore: Remove unused files
  .build.sh
  .codecov.yml
  ignite.ci.yml
Labels: A:backport/v12.x

#2839 minor changelog bump
  CHANGELOG.md
Labels: A:backport/v12.x

#2842 chore: fix builder
  Makefile
Labels: T:build, A:backport/v12.x

#2841 add cosmovisor json
  networks/osmosis-1/upgrades/v12/v12_binaries.json
Labels: A:backport/v12.x

#2813 feat: add gamm state to localosmosis
  Makefile
  tests/localosmosis/docker-compose.yml
  tests/localosmosis/scripts/setup.sh
Labels: T:build

#2834 chore: Remove docs folder
  Makefile
  docs/README.md
  docs/core/proto-docs.md
  docs/protodoc-markdown.tmpl
Labels: T:build, A:backport/v12.x

#2735 multi-asset tests for updateRecords
  x/twap/logic_test.go
Labels: C:x/twap, A:backport/v12.x

#2830 chore: mainnet and testnet v12 upgrade guides
  networks/osmosis-1/upgrades/v12/mainnet/guide.md
  networks/osmosis-1/upgrades/v12/testnet/guide.md
Labels: A:backport/v12.x

#2832 Add Pool Type Query
  CHANGELOG.md
  proto/osmosis/gamm/v1beta1/query.proto
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/pool.go
  x/gamm/types/query.pb.go
  x/gamm/types/query.pb.gw.go
Labels: C:docs, C:x/gamm, A:automerge, A:backport/v12.x

#2847 [stableswap]: Combine `solveCfmm` and `solveCfmmMulti`
  osmomath/decimal.go
  osmomath/decimal_test.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_bench_test.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, A:automerge, C:stableswap

#2867 Stop double running gamm tests
  x/gamm/keeper/msg_server_test.go
Labels: C:x/gamm, A:backport/v12.x

#2697 [stableswap]: simplify CFMM solver
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm

#2866 Add max pool asset check to stableswap pool creation
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/msgs_test.go
Labels: C:x/gamm, A:automerge

#2833 feat: Use `~/.osmosisd` in LocalOsmosis
  Makefile
  tests/localosmosis/README.md
  tests/localosmosis/docker-compose.yml
  tests/localosmosis/mainnet_state/stateprune.py
  tests/localosmosis/state_export/docker-compose.yml
  tests/localosmosis/state_export/scripts/testnetify.py
Labels: C:docs, T:build, A:backport/v11.x, A:backport/v12.x

#2874 [stableswap]: Add checks and tests for scaling factors and extend for multi-asset pools
  x/gamm/keeper/pool_service_test.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:x/gamm, C:stableswap

#2876 Dockerfile improvements
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
  Makefile
Labels: T:CI, T:build

#2863 Change markdownlinter to default rules to false, and we have to add more in
  .markdownlint.yml
Labels: A:backport/v11.x, A:backport/v12.x

#2886 Add scaling factor governor to the create pool message
  proto/osmosis/gamm/pool-models/stableswap/stableswap_pool.proto
  proto/osmosis/gamm/pool-models/stableswap/tx.proto
  x/gamm/pool-models/internal/cfmm_common/lp_test.go
  x/gamm/pool-models/stableswap/msgs.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/stableswap_pool.pb.go
  x/gamm/pool-models/stableswap/tx.pb.go
  x/gamm/pool-models/stableswap/util_test.go
Labels: C:x/gamm, C:stableswap, V:state/breaking

#2887 Fix: typos
  README.md
Labels: C:docs, A:automerge

#2888 fix: localosmosis home bug
  tests/localosmosis/docker-compose.yml
Labels: A:backport/v12.x

#2890 feat: add second two asset pool to LocalOsmosis
  tests/localosmosis/docker-compose.yml
  tests/localosmosis/scripts/nativeDenomPoolA.json
  tests/localosmosis/scripts/nativeDenomPoolB.json
  tests/localosmosis/scripts/nativeDenomThreeAssetPool.json
  tests/localosmosis/scripts/setup.sh
Labels: A:backport/v12.x

#2893 fix joining mainnet link in readme
  README.md
Labels: C:docs

#2745 [ValSet-Pref] Added Proto Definitions and spec
  proto/osmosis/validator-preference/v1beta1/query.proto
  proto/osmosis/validator-preference/v1beta1/state.proto
  proto/osmosis/validator-preference/v1beta1/tx.proto
  tests/localosmosis/README.md
  x/validator-preference/README.md
  x/validator-preference/client/queryproto/query.pb.go
  x/validator-preference/client/queryproto/query.pb.gw.go
  x/validator-preference/types/state.pb.go
  x/validator-preference/types/tx.pb.go
Labels: C:docs, C:CLI, A:automerge

#2885 Add required labels for all PRs
  .github/workflows/required_labels.yml
Labels: T:CI, A:automerge, A:backport/v12.x, V:state/compatible/backport

#2873 Begin stableswap spec
  x/gamm/pool-models/stableswap/README.md
Labels: C:docs, C:x/gamm, A:automerge

#2804 refactor(gamm): improve error handling and messages when parsing pool assets
  CHANGELOG.md
  x/gamm/pool-models/balancer/pool.go
Labels: C:docs, C:x/gamm, A:automerge, A:backport/v12.x, V:state/compatible/backport

#2857 Add a simulator executor types package
  app/app.go
  app/modules.go
  simulation/README.md
  simulation/executor/init_functions.go
  simulation/executor/internal/executortypes/actions.go
  simulation/executor/internal/executortypes/frequency.go
  simulation/executor/internal/executortypes/simmanager.go
  simulation/executor/internal/pubsub/manager.go
  simulation/executor/internal/stats/config.go
  simulation/executor/internal/stats/event_stats.go
  simulation/executor/internal/stats/schema.sql
  simulation/executor/internal/stats/stats_db.go
  simulation/executor/legacyconfig.go
  simulation/executor/params.go
  simulation/executor/simulate.go
  simulation/executor/simulate_dev.go
  simulation/executor/types.go
  simulation/simtypes/README.md
  simulation/simtypes/action.go
  simulation/simtypes/app.go
  simulation/simtypes/frequency.go
  simulation/simtypes/manager.go
  tests/simulator/genesis.go
  tests/simulator/osmosis_helper.go
  tests/simulator/state.go
Labels: C:app-wiring, C:simulator, A:backport/v12.x, V:state/compatible/backport

#2896 stableswap: Add multi-asset support threading, via scaled reserve API change
  osmomath/decimal.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:x/gamm, V:state/compatible/no_backport

#2818 DOCKER_BUILDKIT=1 is not passed when using docker-compose
  Makefile
Labels: T:build, A:backport/v12.x, V:state/compatible/backport

#2908 stableswap: Improve the scaling factor API
  osmomath/rounding_direction.go
  osmomath/rounding_direction_test.go
  x/gamm/pool-models/stableswap/README.md
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:docs, C:x/gamm, V:state/compatible/no_backport

#2904 [x/gamm][stableswap]: Create scaling/descaling functions for token inputs/outputs
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
Labels: C:x/gamm, A:automerge, V:state/compatible/no_backport
