Repository osmosis-labs/osmosis, pull requests merged in 2022-03, with the labels that each got.

#1009 smaller app.go
  app/app.go
  app/blocked.go
  app/keepers.go
Labels: backport/v7.x

#1053 move gorocksdb lib into indirect and annotate go.mod
  go.mod
Labels: backport/v7.x

#1049 add partial unlocking flag for cli
  x/lockup/client/cli/flags.go
  x/lockup/client/cli/tx.go
Labels: backport/v7.x

#1061 upgrade iavl to v0.17.3-osmo-v5 with concurrent map write fix
  CHANGELOG.md
  go.mod
  go.sum
Labels: backport/v7.x

#1063 Add Superfluid Params Query
  proto/osmosis/superfluid/query.proto
  x/superfluid/client/cli/query.go
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/types/query.pb.go
  x/superfluid/types/query.pb.gw.go
Labels: backport/v7.x

#1071 Improve Dockerfile
  CHANGELOG.md
  Dockerfile
Labels: backport/v7.x

#1084 Superfluid Misc: Improve grpc_query
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
Labels: backport/v7.x

#1070 Test improvisation for Superfluid
  app/apptesting/test_suite.go
  proto/osmosis/incentives/gauge.proto
  x/incentives/types/gauge.pb.go
  x/superfluid/keeper/distribution_test.go
  x/superfluid/keeper/hooks_test.go
  x/superfluid/keeper/intermediary_account_test.go
  x/superfluid/keeper/keeper_test.go
Labels: backport/v7.x

#1115 GAMM: Add fields to msg response
  proto/osmosis/gamm/pool-models/balancer/tx.proto
  proto/osmosis/gamm/v1beta1/tx.proto
  x/gamm/keeper/msg_server.go
  x/gamm/pool-models/balancer/tx.pb.go
  x/gamm/types/tx.pb.go
Labels: x/gamm

#1066 New AMM interface
  app/apptesting/test_suite.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/whitelist_feetokens.go
  cmd/osmosisd/cmd/balances_from_state_export.go
  proto/osmosis/gamm/v1beta1/query.proto
  proto/osmosis/gamm/v1beta1/tx.proto
  x/gamm/breaking_changes_notes.md
  x/gamm/client/cli/cli_test.go
  x/gamm/client/cli/tx.go
  x/gamm/genesis.go
  x/gamm/genesis_test.go
  x/gamm/keeper/gas_test.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/invariants.go
  x/gamm/keeper/keeper_test.go
  x/gamm/keeper/legacy.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/multihop.go
  x/gamm/keeper/multihop_test.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/keeper/pool_test.go
  x/gamm/keeper/share.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
  x/gamm/keeper/total_liquidity.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/balancer_pool.go
  x/gamm/pool-models/balancer/balancer_pool_test.go
  x/gamm/simulation/operations.go
  x/gamm/types/pool.go
  x/gamm/types/pool_asset.go
  x/pool-incentives/keeper/grpc_query_test.go
  x/pool-incentives/keeper/keeper_test.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/hooks_test.go
  x/superfluid/keeper/keeper_test.go
  x/superfluid/keeper/twap_price.go
  x/superfluid/simulation/proposals.go
  x/superfluid/types/expected_keepers.go
Labels: state-machine-breaking, x/gamm

#1133 refactor: lint CI target
  Makefile
  go.mod
  go.sum
  tools/tools.go
Labels: automerge

#1125 chore: app package housekeeping
  app/ante.go
  app/app.go
  app/forks.go
  app/modules.go
  app/upgrades/v3/README.md
  app/upgrades/v3/constants.go
  app/upgrades/v3/forks.go
  app/upgrades/v4/constants.go
  app/upgrades/v4/prop12.go
  app/upgrades/v4/upgrades.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/whitelist_feetokens.go
  app/upgrades/v6/README.md
  app/upgrades/v6/constants.go
  app/upgrades/v6/forks.go
  app/upgrades/v7/constants.go
  app/upgrades/v7/upgrades.go
Labels: automerge

#1153 Fix: txfees module
  x/txfees/keeper/feetokens.go
  x/txfees/keeper/feetokens_test.go
Labels: backport/v7.x

#1166 chore: Update .mergify.yml
  .mergify.yml
Labels: A:automerge

#1156 Move around pool setup logic to re-importable infra
  app/apptesting/gamm.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/suite_test.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/keeper/feetokens_test.go
  x/txfees/keeper/keeper_test.go
Labels: A:automerge

#1170 Create statesync-rocks.bash
  scripts/statesync-rocks.bash
Labels: A:automerge

#1169 refactor: move gRPC methods to dedicated type
  x/claim/keeper/grpc_query.go
  x/claim/keeper/query.go
  x/claim/module.go
  x/epochs/keeper/grpc_query.go
  x/epochs/keeper/keeper_test.go
  x/epochs/keeper/query.go
  x/epochs/module.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/keeper_test.go
  x/gamm/module.go
  x/gamm/pool-models/balancer/balancer_pool_test.go
  x/gamm/pool-models/balancer/suite_test.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/keeper/keeper_test.go
  x/incentives/keeper/query.go
  x/incentives/module.go
  x/lockup/keeper/grpc_query.go
  x/lockup/keeper/grpc_query_test.go
  x/lockup/keeper/keeper_test.go
  x/lockup/keeper/query.go
  x/lockup/module.go
  x/mint/keeper/grpc_query.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/querier.go
  x/mint/keeper/querier_test.go
  x/mint/module.go
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/keeper_test.go
  x/pool-incentives/module.go
  x/superfluid/keeper/gov/gov_test.go
  x/superfluid/keeper/gov/suite_test.go
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/keeper/keeper_test.go
  x/superfluid/module.go
  x/txfees/keeper/grpc_query.go
  x/txfees/keeper/keeper_test.go
  x/txfees/module.go
Labels: T:code-hygiene, C:gRPC, A:automerge

#1180 chore: more app linting
  app/keepers.go
Labels: T:code-hygiene, A:automerge

#1120 Superfluid edge case test
  startnode.sh
  x/lockup/keeper/msg_server_test.go
  x/superfluid/keeper/edge_case_test.go
  x/superfluid/keeper/msg_server_test.go
Labels: C:x/lockup, T:tests, C:x/superfluid
