Repository osmosis-labs/osmosis, pull requests merged in 2023-04, with the labels that each got.

#4822 Fix: `TestClaimAllIncentives` is not passing on `main`
  x/concentrated-liquidity/incentives_test.go
Labels: T:tests, V:state/compatible/no_backport

#4825 (CL) fix: concentrated-liquidity/README typos
  x/concentrated-liquidity/README.md
Labels: C:docs, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4798 test[CL]: swap functional test
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4800 feat[CL]: fungify charged position
  go.mod
  go.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_helpers.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/export_test.go
  osmoutils/accum/prefix.go
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4526 [CL Incentives] Implement incentives wiring from governance-triggered emissions
  app/keepers/keepers.go
  x/concentrated-liquidity/clmodule/module.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/types/keys.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/keeper.go
  x/gamm/keeper/migrate.go
  x/gamm/types/expected_keepers.go
  x/incentives/keeper/bench_test.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/keeper.go
  x/incentives/types/expected_keepers.go
  x/pool-incentives/keeper/hooks.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
  x/pool-incentives/types/expected_keepers.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/create_pool.go
  x/poolmanager/router.go
  x/poolmanager/types/listeners.go
Labels: C:CLI, C:x/gamm, C:x/incentives, C:x/pool-incentives, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#4834 Backport regex removal before uploading the new contract
  cosmwasm/Cargo.lock
  cosmwasm/contracts/crosschain-swaps/Cargo.toml
  cosmwasm/contracts/crosschain-swaps/README.md
  cosmwasm/contracts/crosschain-swaps/schema/crosschain-swaps.json
  cosmwasm/contracts/crosschain-swaps/src/checks.rs
  cosmwasm/contracts/crosschain-swaps/src/contract.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/ibc_lifecycle.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/tests/crosschain_swap_test.rs
  cosmwasm/contracts/outpost/src/checks.rs
  cosmwasm/contracts/outpost/src/execute.rs
  cosmwasm/contracts/outpost/src/lib.rs
  cosmwasm/contracts/outpost/src/msg.rs
  go.work.sum
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
  tests/ibc-hooks/ibc_middleware_test.go
Labels: V:state/compatible/no_backport

#4842 feat: query coin underlying instead of value only
  go.sum
  proto/osmosis/concentrated-liquidity/position.proto
  x/concentrated-liquidity/model/position.pb.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4838 refactor: incentives and hooks clean up, fix e2e
  app/keepers/keepers.go
  go.mod
  go.sum
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/types/listeners.go
  x/gamm/keeper/pool_service.go
  x/gamm/types/hooks.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/pool-incentives/keeper/hooks.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
  x/pool-incentives/types/errors.go
  x/poolmanager/create_pool.go
  x/poolmanager/keeper.go
  x/poolmanager/types/listeners.go
  x/twap/listeners.go
  x/valset-pref/simulation/sim_msgs.go
Labels: C:x/gamm, C:x/incentives, C:x/pool-incentives, C:app-wiring, C:simulator, C:x/twap, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#4805 (CL): Improve `GetTickLiquidityForRange` and `GetTickLiquidityNetInDirection` query performance by using iterators
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, F: concentrated-liquidity

#4831 feat(CL): twap integration
  app/apptesting/concentrated_liquidity.go
  app/apptesting/gamm.go
  app/apptesting/pool_manager.go
  app/keepers/keepers.go
  go.mod
  go.sum
  osmoutils/store_helper.go
  osmoutils/store_helper_test.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/clmocks/listeners.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/listeners.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/swap.go
  x/gamm/types/hooks.go
  x/pool-incentives/keeper/hooks.go
  x/poolmanager/keeper_test.go
  x/poolmanager/router_test.go
  x/twap/README.md
  x/twap/listeners.go
  x/twap/listeners_test.go
  x/twap/logic.go
Labels: C:docs, C:x/gamm, C:x/pool-incentives, C:app-wiring, C:x/twap, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#4846 Fix pool incentives genesis to support Concentrated Liquidity Pools
  x/pool-incentives/keeper/genesis.go
  x/pool-incentives/keeper/genesis_test.go
  x/pool-incentives/keeper/keeper.go
Labels: C:x/pool-incentives, V:state/breaking

#4851 feat: liquidity net in direction fix for bounds
  go.sum
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  tests/localosmosis/scripts/nativeDenomPoolA.json
  tests/localosmosis/scripts/nativeDenomPoolB.json
  tests/localosmosis/scripts/nativeDenomThreeAssetPool.json
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/types/query/query.pb.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4119 [e2e][CL]: Collect Fees
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
  tests/e2e/helpers_e2e_test.go
  x/concentrated-liquidity/export_internal.go
Labels: C:e2e, V:state/compatible/no_backport, C:x/concentrated-liquidity, F: concentrated-liquidity

#4859 (CL) `make localnet-cl-create-positions` fix: concurrency issue
  tests/cl-go-client/main.go
Labels: T:bug 🐛, V:state/compatible/no_backport

#4860 chore: remove concurrency from go-client
  tests/cl-go-client/main.go
Labels: V:state/compatible/no_backport

#4861 fix(CL): invalid sqrt price initialization breaking liquidity net in direction query
  tests/cl-go-client/README.md
  tests/cl-go-client/main.go
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/tick.go
Labels: C:docs, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4856 remove redundant line
  x/ibc-hooks/client/cli/query.go
Labels: C:CLI, V:state/compatible/backport, A:backport/v15.x

#4867 v15.x: update e2e genesis for CL canonical pool
  Makefile
  tests/e2e/initialization/config.go
Labels: T:build

#4880 [chore] Update v13 guide.md
  networks/osmosis-1/upgrades/v13/mainnet/guide.md
Labels: V:state/compatible/no_backport

#4818 Add codeowners for auto-assignment
  .github/CODEOWNERS
Labels: V:state/compatible/no_backport

#4881 [CL]: add lockup keeper dependencies (1/5)
  app/keepers/keepers.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/expected_keepers.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity

#4894 [localosmosis] Fix bug in replace function
  tests/localosmosis/state_export/scripts/testnetify.py
Labels: V:state/compatible/no_backport

#4893 [chores] Update alpine docker base image to alpine:3.17
  .dockerignore
  .github/workflows/push-dev-docker-images.yml
  .github/workflows/push-docker-images.yml
  CHANGELOG.md
  Makefile
  tests/localosmosis/README.md
  tests/localosmosis/docker-compose.yml
  tests/localosmosis/state_export/docker-compose.yml
  tests/localrelayer/docker-compose.yml
Labels: C:docs, T:CI, T:build, V:state/compatible/no_backport

#4868 Remove wasmEnabledProposals []wasm.ProposalType from NewOsmosisApp
  CHANGELOG.md
  app/app.go
  app/config.go
  app/modules_test.go
  app/test_helpers.go
  cmd/osmosisd/cmd/root.go
  tests/simulator/osmosis_helper.go
Labels: C:app-wiring, C:simulator, V:state/compatible/no_backport

#4849 Add codebase data into latest version object
  chain.schema.json
Labels: V:state/compatible/no_backport

#4676 Flag for saving environent
  cmd/osmosisd/cmd/init.go
Labels: V:state/compatible/backport

#4895 Revert dockerignore changes
  .dockerignore
Labels: V:state/compatible/no_backport

#4855 feat: canonical pool in upgrade handler; gauge redirection; balancer link
  Makefile
  app/modules.go
  app/upgrades/v16/concentrated_pool.go
  app/upgrades/v16/concentrated_pool_test.go
  app/upgrades/v16/errors.go
  app/upgrades/v16/export_test.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  tests/e2e/configurer/config/constants.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/containers/config.go
  tests/e2e/initialization/config.go
  tests/e2e/scripts/daiosmov16.json
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/types/cl.go
  x/concentrated-liquidity/types/errors.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
  x/pool-incentives/types/errors.go
  x/poolmanager/create_pool.go
  x/poolmanager/create_pool_test.go
  x/poolmanager/router.go
  x/poolmanager/types/errors.go
  x/poolmanager/types/routes.go
Labels: C:x/pool-incentives, T:build, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#4887 test: split TestCreatePoolGauges into a separate test for CreateConcentratedLiquidityPoolGauges and CreateLockablePoolGauges
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
Labels: C:x/pool-incentives, V:state/compatible/no_backport

#4882 [CL]: add underlying lock ID func + helpers (2/5)
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/cl.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/concentrated-liquidity/types/keys.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4892 Update golang references to 1.20
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-state-compatibility.yml
  .github/workflows/gen-upgrade-on-manual-input.yml
  .github/workflows/import_paths.yml
  .github/workflows/lint.yml
  .github/workflows/mutest-issue-generate.yml
  .github/workflows/sim.yml
  .github/workflows/statesync.yml
  .github/workflows/test-e2e-makefile.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Dockerfile
  tests/localosmosis/README.md
  tests/localosmosis/docker-compose.yml
  tests/localosmosis/state_export/docker-compose.yml
  tests/localrelayer/docker-compose.yml
Labels: C:docs, T:CI, T:build, V:state/compatible/no_backport

#4903 refactor: remove cl internal package
  x/concentrated-liquidity/export_internal.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swapstrategy/export_test.go
  x/concentrated-liquidity/swapstrategy/fees.go
  x/concentrated-liquidity/swapstrategy/fees_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4845 [CL][Incentives] Implement helper for counting balancer pool towards full range shares
  app/keepers/keepers.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/concentrated-liquidity/types/keys.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/types/errors.go
Labels: C:x/gamm, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity

#4883 [CL]: locked and unlocking full range positions (3/5)
  proto/osmosis/superfluid/superfluid.proto
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/gov/gov.go
  x/superfluid/keeper/gov/gov_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/keeper/superfluid_asset.go
  x/superfluid/keeper/superfluid_asset_store.go
  x/superfluid/keeper/superfluid_asset_test.go
  x/superfluid/keeper/twap_price.go
  x/superfluid/types/superfluid.pb.go
Labels: C:x/superfluid, V:state/breaking, C:x/concentrated-liquidity

#4904 [fix: LocalOsmosis] Fix Alpine 1.20 error
  tests/localosmosis/docker-compose.yml
  tests/localosmosis/state_export/docker-compose.yml
  tests/localrelayer/docker-compose.yml
Labels: V:state/compatible/no_backport

#4853 [CL][Incentives] Implement helper for clearing full range balancer shares from CL pool
  app/keepers/keepers.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/expected_keepers.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity

#4905 fix: Remove Denom metadata check upon CL Pool creation
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4900 Set Param for CL Keeper in Upgrade handler, modify default swap fee to 0.02
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/params.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4886 feat(x/poolmanager): split routes swap message
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/slice_helper.go
  osmoutils/slice_helper_test.go
  proto/osmosis/poolmanager/v1beta1/swap_route.proto
  proto/osmosis/poolmanager/v1beta1/tx.proto
  x/poolmanager/README.md
  x/poolmanager/export_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
  x/poolmanager/types/errors.go
  x/poolmanager/types/msgs.go
  x/poolmanager/types/msgs_test.go
  x/poolmanager/types/routes.go
  x/poolmanager/types/routes_test.go
  x/poolmanager/types/swap_route.pb.go
  x/poolmanager/types/tx.pb.go
Labels: C:docs, V:state/compatible/no_backport, C:x/poolmanager

#4908 Add CHANGELOG Workflow
  .github/workflows/changelog-entry-reminder.yml
Labels: T:CI, V:state/compatible/backport, no-changelog

#4912 [CL]: Export Position_lock_id mappings to GenesisState
  CHANGELOG.md
  proto/osmosis/concentrated-liquidity/genesis.proto
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/types/genesis/genesis.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4918 chore: add docs for new CL logic
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/img/MigrateSuperfluidDelegated.png
  x/concentrated-liquidity/img/MigrateSuperfluidUndelegating.png
  x/lockup/README.md
  x/superfluid/README.md
Labels: C:docs, C:x/lockup, C:x/superfluid, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4926 fix: patch data struct
  tests/cl-genesis-positions/edit_localosmosis_genesis.go
Labels: V:state/compatible/no_backport, no-changelog

#4924 chore: add tick tests
  x/concentrated-liquidity/math/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4927 test: add tick tests with exponent at price one of 6 and tick spacing of 100 at various price levels
  x/concentrated-liquidity/math/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4928 Fix `MsgSetBeforeSendHook` msg type
  x/tokenfactory/types/msgs.go
Labels: V:state/compatible/no_backport, no-changelog

#4944 fix: genesis bug with 0 lock id
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-genesis-positions/convert.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4884 [CL]: slash and custom cl token lock logic (4/5)
  app/apptesting/concentrated_liquidity.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/keys.go
  x/lockup/keeper/export_test.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/store.go
  x/lockup/types/expected_keepers.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/epoch_test.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/genesis_test.go
  x/superfluid/keeper/gov/gov.go
  x/superfluid/keeper/gov/gov_test.go
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/keeper/hooks_test.go
  x/superfluid/keeper/intermediary_account_test.go
  x/superfluid/keeper/invariants.go
  x/superfluid/keeper/keeper_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/slash.go
  x/superfluid/keeper/slash_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/keeper/superfluid_asset_store.go
  x/superfluid/keeper/superfluid_asset_test.go
  x/superfluid/keeper/twap_price.go
  x/superfluid/keeper/twap_price_test.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/lockup, C:x/superfluid, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, no-changelog

#4829 Protorev query highest liquidity pools
  CHANGELOG.md
  proto/osmosis/protorev/v1beta1/query.proto
  x/protorev/client/cli/query.go
  x/protorev/keeper/grpc_query.go
  x/protorev/keeper/grpc_query_test.go
  x/protorev/protorev.md
  x/protorev/types/query.pb.go
  x/protorev/types/query.pb.gw.go
Labels: C:docs, C:CLI, V:state/compatible/backport, A:backport/v15.x, protorev

#4930 e2e(CL): v15 genesis update for DAI IBC denom
  tests/e2e/initialization/config.go
Labels: no-changelog

#4929 feat: whitelisted concentrated liquidity quote assets (token1)
  app/apptesting/concentrated_liquidity.go
  app/apptesting/gamm.go
  app/apptesting/test_suite.go
  app/upgrades/v16/concentrated_pool.go
  app/upgrades/v16/concentrated_pool_test.go
  app/upgrades/v16/export_test.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  proto/osmosis/concentrated-liquidity/params.proto
  tests/e2e/configurer/upgrade.go
  tests/e2e/containers/config.go
  tests/e2e/initialization/config.go
  tests/e2e/scripts/daiosmov16.json
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/params.go
  x/concentrated-liquidity/types/params.pb.go
  x/gamm/keeper/keeper_test.go
  x/poolmanager/router_test.go
  x/superfluid/keeper/gov/gov_test.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/slash_test.go
  x/twap/keeper_test.go
  x/twap/logic_test.go
Labels: C:docs, C:x/gamm, C:x/superfluid, C:app-wiring, C:x/twap, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager, no-changelog

#4876 Added XCS examples in the docs
  cosmwasm/contracts/crosschain-swaps/README.md
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
Labels: V:state/compatible/no_backport, no-changelog

#4862 [CL][Incentives] Implement reward splitting in uptime accumulator update logic
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, no-changelog

#4956 refactor: use querygen in CL
  proto/osmosis/concentrated-liquidity/query.proto
  proto/osmosis/concentrated-liquidity/query.yml
  tests/e2e/configurer/chain/queries.go
  wasmbinding/stargate_whitelist.go
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/client/grpc/grpc_query.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/client/queryproto/query.pb.gw.go
  x/concentrated-liquidity/clmodule/module.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: C:CLI, C:app-wiring, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4960 docker: add `.md` files to `.dockerignore`
  .dockerignore
Labels: T:dev-UX, V:state/compatible/no_backport, no-changelog

#4878 Protorev: Backrun event emission
  CHANGELOG.md
  x/protorev/keeper/emit.go
  x/protorev/keeper/emit_test.go
  x/protorev/keeper/posthandler.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/keeper/routes.go
  x/protorev/protorev.md
  x/protorev/types/events.go
Labels: C:docs, V:state/compatible/backport, A:backport/v15.x, protorev

#4953 fix: authorized assets script breakage
  tests/cl-genesis-positions/convert.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-genesis-positions/main.go
Labels: V:state/compatible/no_backport, no-changelog

#4954 Cosmwasm Cherry security patch
  CHANGELOG.md
  Dockerfile
  go.mod
  go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: T:build

#4888 [CL]: Add discount rate to balancer pool incentives
  proto/osmosis/concentrated-liquidity/params.proto
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/genesis/genesis.go
  x/concentrated-liquidity/types/params.go
  x/concentrated-liquidity/types/params.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity, no-changelog

#4968 Name v15.1.0 in the changelog
  CHANGELOG.md
Labels: V:state/compatible/no_backport

#4969 backport v15.1.0 changelog
  CHANGELOG.md
Labels: V:state/compatible/no_backport

#4830 [Incentives Module][bugfix] Scale gas costs by denoms in gauge
  CHANGELOG.md
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/types/constants.go
Labels: C:x/incentives, V:state/breaking

#4885 [CL]: migrate balancer to concentrated (5/5)
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/cl.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/keys.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/keeper/msg_server.go
  x/lockup/keeper/lock_test.go
  x/superfluid/keeper/epoch_test.go
  x/superfluid/keeper/gov/gov.go
  x/superfluid/keeper/gov/gov_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/slash.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/keeper/twap_price.go
  x/superfluid/keeper/twap_price_test.go
  x/superfluid/types/events.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/lockup, C:x/gamm, C:x/superfluid, V:state/breaking, C:x/concentrated-liquidity, no-changelog

#4940 refactor: bi-directional store for migration info
  app/upgrades/v16/concentrated_pool.go
  app/upgrades/v16/concentrated_pool_test.go
  app/upgrades/v16/upgrades_test.go
  go.mod
  proto/osmosis/gamm/v1beta1/genesis.proto
  x/concentrated-liquidity/incentives_test.go
  x/gamm/keeper/genesis.go
  x/gamm/keeper/genesis_test.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/types/key.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/gamm, C:x/superfluid, C:app-wiring, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4980 fix: script hotfix
  tests/cl-genesis-positions/convert.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-genesis-positions/local_accounts.go
  tests/cl-genesis-positions/main.go
  tests/localosmosis/scripts/setup.sh
Labels: V:state/compatible/no_backport, no-changelog

#4957 refactor: remove exponentAtPriceOne
  app/apptesting/concentrated_liquidity.go
  app/upgrades/v16/concentrated_pool.go
  app/upgrades/v16/upgrades.go
  proto/osmosis/concentrated-liquidity/pool-model/tx.proto
  tests/cl-genesis-positions/convert.go
  tests/cl-genesis-positions/edit_localosmosis_genesis.go
  tests/cl-genesis-positions/get_data.go
  tests/cl-genesis-positions/main.go
  tests/cl-go-client/main.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
  tests/e2e/helpers_e2e_test.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_internal.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/msgs.go
  x/concentrated-liquidity/model/msgs_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/model/tx.pb.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/errors.go
  x/gamm/keeper/migrate_test.go
  x/gamm/keeper/pool_service_test.go
  x/poolmanager/create_pool_test.go
  x/poolmanager/router_test.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server_test.go
Labels: C:docs, C:CLI, C:x/gamm, C:x/superfluid, C:app-wiring, C:simulator, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager, no-changelog

#4970 [CL][Incentives]: Modify logic for getting lockup durations to be guaranteed to get longest duration
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
Labels: C:x/pool-incentives, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4974 Add lock id to return value of `MsgSuperfluidUndelegateAndUnbondLockResponse`
  CHANGELOG.md
  proto/osmosis/superfluid/tx.proto
  x/superfluid/keeper/msg_server.go
  x/superfluid/types/tx.pb.go
Labels: C:x/superfluid, V:state/breaking

#4972 refactor: position owner check at collection time and reduce boilerplate in fees
  app/apptesting/events.go
  go.mod
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/types/errors.go
Labels: C:app-wiring, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4973 fix: fee bug around LP logic
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4952 feat: CL permissionless pool creation param
  app/apptesting/concentrated_liquidity.go
  app/apptesting/test_suite.go
  app/upgrades/v16/concentrated_pool.go
  app/upgrades/v16/export_test.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  proto/osmosis/concentrated-liquidity/params.proto
  proto/osmosis/gamm/v1beta1/query.proto
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  tests/e2e/scripts/daiosmov16.json
  tests/localosmosis/scripts/setup.sh
  tests/mocks/pool_module.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/params.go
  x/concentrated-liquidity/types/params.pb.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/keeper.go
  x/gamm/types/query.pb.go
  x/gamm/types/query.pb.gw.go
  x/poolmanager/create_pool.go
  x/poolmanager/create_pool_test.go
  x/poolmanager/types/routes.go
Labels: C:docs, C:x/gamm, C:app-wiring, V:state/compatible/no_backport, C:x/concentrated-liquidity, C:x/poolmanager, no-changelog

#4988 bug[CL]: check owner when withdrawing position
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4913 Add min token out for Balancer Pool <> CL Pool Migrations
  proto/osmosis/gamm/pool-models/balancer/tx/tx.proto
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/pool-models/balancer/tx.pb.go
Labels: C:x/gamm, V:state/breaking, F: concentrated-liquidity, no-changelog

#4982 feat: decrease tick spacing after pool creation with gov prop
  app/keepers/keepers.go
  app/keepers/modules.go
  proto/osmosis/concentrated-liquidity/gov.proto
  tests/e2e/configurer/chain/commands.go
  tests/e2e/containers/config.go
  tests/e2e/e2e_test.go
  tests/localosmosis/scripts/setup.sh
  x/concentrated-liquidity/client/cli/flags.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/client/proposal_handler.go
  x/concentrated-liquidity/client/rest/tx.go
  x/concentrated-liquidity/gov.go
  x/concentrated-liquidity/handler.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/gov.go
  x/concentrated-liquidity/types/gov.pb.go
  x/concentrated-liquidity/types/pool.go
  x/gamm/client/cli/tx.go
Labels: C:CLI, C:x/gamm, C:app-wiring, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5003 [CL]: default swap fees
  app/upgrades/v16/concentrated_pool.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/params.go
  x/poolmanager/router_test.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager, no-changelog

#5006 test: add incentive and fee accum check
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/tick.go
  x/superfluid/keeper/slash_test.go
Labels: C:x/superfluid, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5000 refactor(osmomath/cl): avoid using broken power function; panic on broken values
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/decimal.go
  osmomath/decimal_test.go
  x/concentrated-liquidity/math/tick.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#5002 feat: mitigate inverse relationship problems in swaps; more tests; clean up spot price
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4832 [CL Simulator] Fix existing simulator and test simulator flow for CollectFees, CollectIncentives
  app/keepers/keepers.go
  app/modules.go
  go.sum
  proto/osmosis/concentrated-liquidity/tx.proto
  simulation/simtypes/app.go
  simulation/simtypes/simctx.go
  x/concentrated-liquidity/clmodule/module.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
Labels: C:x/pool-incentives, C:app-wiring, C:simulator, V:state/breaking, C:x/concentrated-liquidity, no-changelog

#4951 feat: implement pool liquidity query in pool manager, deprecate the one in gamm
  CHANGELOG.md
  proto/osmosis/gamm/v1beta1/query.proto
  proto/osmosis/poolmanager/v1beta1/query.proto
  proto/osmosis/poolmanager/v1beta1/query.yml
  x/concentrated-liquidity/pool_test.go
  x/gamm/client/cli/query.go
  x/gamm/keeper/grpc_query.go
  x/gamm/types/query.pb.go
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/grpc/grpc_query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
  x/twap/client/cli/query.go
Labels: C:CLI, C:x/gamm, C:x/twap, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#4917 refactor: charge gas for initialized ticks
  tests/e2e/configurer/chain/commands.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/constants.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, no-changelog

#5005 refactor/fix/test: CalcActualAmounts rounds in favor of the pool
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/pool.go
  x/superfluid/keeper/slash_test.go
Labels: C:x/superfluid, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4984 [CL][Incentives] Add authorized uptimes as a module param
  app/upgrades/v16/export_test.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  proto/osmosis/concentrated-liquidity/params.proto
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/localosmosis/scripts/setup.sh
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/params.go
  x/concentrated-liquidity/types/params.pb.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/types/constants.go
Labels: C:x/incentives, C:app-wiring, C:simulator, V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity, no-changelog

#5009 remove global rand seed from the simulator
  x/gamm/simulation/sim_msgs.go
  x/valset-pref/simulation/sim_msgs.go
Labels: C:x/gamm, C:simulator, V:state/compatible/no_backport, no-changelog

#4986 tests: individual table driven test for migration methods
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
Labels: C:x/superfluid, V:state/compatible/no_backport, no-changelog

#5013 bug: Update test-e2e-makefile.yml
  .github/workflows/test-e2e-makefile.yml
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/no_backport, no-changelog

#5007 query: claimable incentives
  proto/osmosis/concentrated-liquidity/query.proto
  proto/osmosis/concentrated-liquidity/query.yml
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/client/grpc/grpc_query.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/client/queryproto/query.pb.gw.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5010 Support Dust amount migrations for superfluid migration for CL
  proto/osmosis/superfluid/tx.proto
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/types/tx.pb.go
Labels: C:x/superfluid, V:state/breaking, F: concentrated-liquidity, no-changelog

#5012 tests[CL]: change withdraw gas from auto in e2e
  tests/e2e/configurer/chain/commands.go
Labels: V:state/compatible/no_backport, no-changelog

#5015 fix: revert self hosted runner
  .github/workflows/test-e2e-makefile.yml
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/no_backport, no-changelog

#5018 [CL Message Audit]: MsgCreateConcentratedPool
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/model/msgs.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/events.go
  x/gamm/README.md
  x/gamm/keeper/msg_server.go
  x/gamm/types/events.go
  x/poolmanager/README.md
  x/poolmanager/create_pool.go
  x/poolmanager/create_pool_test.go
  x/poolmanager/export_test.go
  x/poolmanager/types/errors.go
  x/poolmanager/types/events.go
Labels: C:docs, C:CLI, C:x/gamm, V:state/compatible/no_backport, C:x/concentrated-liquidity, C:x/poolmanager, no-changelog

#5025 fix: localosmosis with state script
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
Labels: V:state/compatible/no_backport, no-changelog
