Repository osmosis-labs/osmosis, pull requests merged in 2023-05, with the labels that each got.

#5027 fix: last position ID bug
  tests/cl-genesis-positions/edit_localosmosis_genesis.go
Labels: V:state/compatible/no_backport, no-changelog

#5028 [Simulator] Change stakingTypes.BankKeeper to simtypes.BankKeeper
  CHANGELOG.md
  x/incentives/module.go
  x/incentives/simulation/operations.go
  x/lockup/module.go
  x/superfluid/module.go
  x/superfluid/simulation/operations.go
Labels: C:x/lockup, C:x/incentives, C:x/superfluid, C:app-wiring, C:simulator, V:state/compatible/backport

#5034 fix(ci): merge conflcit in calc amounts causing test failures
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
Labels: V:state/compatible/no_backport, no-changelog

#5036 fix: typo
  x/epochs/README.md
Labels: C:docs, C:x/epochs, V:state/compatible/no_backport, no-changelog

#5008 Simulator fix
  simulation/simtypes/app.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/incentives/keeper/gauge.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
Labels: C:x/incentives, C:x/pool-incentives, C:simulator, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4946 Refactor: integrate protorev into concentrated liquidity
  app/keepers/keepers.go
  x/protorev/keeper/epoch_hook.go
  x/protorev/keeper/epoch_hook_test.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/routes.go
  x/protorev/types/expected_keepers.go
Labels: C:app-wiring, V:state/compatible/no_backport, no-changelog

#5066 Fixed bad stargate query declaration
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking, no-changelog

#5057 fix(osmoutils/CL): bug in accumulator delete and add tor rewards (fungification)
  go.mod
  go.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/errors.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/position.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5071 [CL][Internal Review] Add Incentives section to CL README
  x/concentrated-liquidity/README.md
Labels: C:docs, V:state/compatible/backport, C:x/concentrated-liquidity, no-changelog

#5074 fix/test: get largest uptime from params when fungifying
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5026 [CL] Implement `AddToPosition` for non-superfluid positions
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: C:CLI, V:state/breaking, C:x/concentrated-liquidity, no-changelog

#4941 Added tests of XCS with CW20s
  tests/ibc-hooks/bytecode/cw20_base.wasm
  tests/ibc-hooks/bytecode/cw20_ics20.wasm
  tests/ibc-hooks/ibc_middleware_test.go
  tests/ibc-hooks/xcs_cw20_test.go
  tests/osmosisibctesting/wasm.go
Labels: V:state/compatible/no_backport, no-changelog

#5024 [CL Message Audit]: MsgCollectFees
  go.mod
  go.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_helpers.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/export_test.go
  proto/osmosis/concentrated-liquidity/genesis.proto
  tests/cl-genesis-positions/edit_localosmosis_genesis.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/genesis/genesis.pb.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5080 docs: fix github workflow badges
  README.md
Labels: C:docs, V:state/compatible/no_backport, no-changelog

#5078 fix(osmoutils/accum): mutate accumulator receiver
  go.mod
  go.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/export_test.go
Labels: V:state/compatible/no_backport, no-changelog

#5077 fix(CL/osmoutils): update fee accumulator in fungify; fix deletion
  go.mod
  go.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5083 test: TestGetLiquidityFromAmounts
  x/concentrated-liquidity/math/math_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5042 feat: add to superfluid CL position
  proto/osmosis/superfluid/tx.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/keeper/concentrated_liquidity_test.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/types/codec.go
  x/superfluid/types/errors.go
  x/superfluid/types/events.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/msgs.go
  x/superfluid/types/tx.pb.go
Labels: C:CLI, C:x/superfluid, V:state/breaking, C:x/concentrated-liquidity, no-changelog

#5090 [CL][Internal Review] Write test for getUptimeTrackerValues
  x/concentrated-liquidity/incentives_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog, cl-internal-review

#5082 [CL Message Audit]: MsgCreateFullRangePositionAndSuperfluidDelegate
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/cl_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/keys.go
  x/gamm/types/key.go
  x/superfluid/README.md
  x/superfluid/client/cli/tx.go
  x/superfluid/types/gov.go
Labels: C:docs, C:CLI, C:x/gamm, C:x/superfluid, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4907 add migrate-shares-to-full-range-concentrated-position cli
  CHANGELOG.md
  x/gamm/client/cli/cli_test.go
  x/gamm/client/cli/flags.go
  x/gamm/client/cli/tx.go
  x/gamm/pool-models/balancer/codec.go
Labels: C:CLI, C:x/gamm, V:state/compatible/no_backport

#5089 test(CL): fungify charged position incentive claiming test
  x/concentrated-liquidity/position_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#2741 Update record sanity check
  CHANGELOG.md
  x/twap/export_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/types/errors.go
Labels: C:x/twap, V:state/breaking, T:ice-box

#5030 [CL Message Audit] MsgCollectIncentive
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/types/errors.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5102 Update chain.schema.json info to v15.1.0
  chain.schema.json
Labels: V:state/compatible/no_backport, no-changelog

#5092 [CL Message Audit]: MsgMigrateSharesToFullRangeConcentratedPosition
  tests/cl-go-client/main.go
  tests/localosmosis/scripts/nativeDenomPoolA.json
  tests/localosmosis/scripts/setup.sh
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/errors.go
  x/gamm/README.md
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/types/key.go
  x/gamm/types/key_test.go
  x/superfluid/keeper/msg_server_test.go
  x/twap/listeners_test.go
Labels: C:docs, C:x/gamm, C:x/superfluid, C:x/twap, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5107 style: eliminate double imports in tests
  app/upgrades/v15/export_test.go
  app/upgrades/v15/upgrade_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/swaps_test.go
  x/gamm/keeper/gas_test.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/keeper_test.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/keeper/pool_test.go
  x/poolmanager/create_pool_test.go
  x/poolmanager/router_test.go
  x/protorev/keeper/keeper_test.go
Labels: C:x/gamm, C:app-wiring, V:state/compatible/backport, C:x/concentrated-liquidity, C:x/poolmanager, A:backport/v15.x, no-changelog

#5105 style: lint stableswap the same as the rest of osmosis
  .golangci.yml
  CHANGELOG.md
  go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, T:CI, V:state/compatible/backport, A:backport/v15.x

#5117 ineffectual assignments
  app/upgrades/v15/upgrade_test.go
  app/upgrades/v16/upgrades_test.go
  app/upgrades/v4/upgrade_test.go
  app/upgrades/v9/upgrade_test.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position_test.go
  x/lockup/keeper/grpc_query_test.go
  x/lockup/keeper/lock_test.go
  x/tokenfactory/keeper/admins_test.go
Labels: C:x/lockup, C:app-wiring, C:x/tokenfactory, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5113 use os.ReadFile instead of ioutil.ReadFile
  x/tokenfactory/keeper/before_send_test.go
Labels: C:x/tokenfactory, V:state/compatible/backport, A:backport/v15.x, no-changelog

#5108 style: remove unused code in tests
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/ibc-hooks/ibc_middleware_test.go
  wasmbinding/test/custom_query_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/store_test.go
  x/gamm/client/cli/cli_test.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/keeper/pool_test.go
  x/gamm/pool-models/balancer/marshal_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/balancer/util_test.go
  x/incentives/client/cli/cli_test.go
  x/incentives/types/msgs_test.go
  x/lockup/types/msgs_test.go
  x/poolmanager/types/routes_test.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/unpool_test.go
  x/superfluid/types/msg_test.go
  x/tokenfactory/types/msgs_test.go
  x/twap/api_test.go
  x/twap/client/query_proto_wrap_test.go
  x/twap/listeners_test.go
  x/twap/logic_test.go
Labels: C:x/lockup, C:CLI, C:x/gamm, C:x/incentives, C:x/superfluid, C:x/tokenfactory, C:x/twap, V:state/compatible/backport, C:x/concentrated-liquidity, C:x/poolmanager, A:backport/v15.x, no-changelog

#5064 stlye: use thelper without linting every test
  .golangci.yml
  CHANGELOG.md
  simulation/executor/log.go
  simulation/executor/simulate.go
  simulation/executor/simulate_dev.go
  simulation/executor/util.go
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/node.go
  tests/e2e/configurer/current.go
  tests/e2e/configurer/factory.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/containers/containers.go
  x/poolmanager/client/testutil/test_helpers.go
  x/txfees/keeper/keeper_test.go
Labels: C:CLI, T:CI, C:x/txfees, C:simulator, V:state/compatible/no_backport, C:x/poolmanager, no-changelog

#5131 [CL Message Audit] MsgCreateIncentive
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
  x/incentives/keeper/distribute.go
  x/incentives/types/expected_keepers.go
Labels: C:x/incentives, C:simulator, V:state/breaking, C:x/concentrated-liquidity, no-changelog

#5129 fix(x/twap): genesis issue blocking edge net set up
  CHANGELOG.md
  x/twap/types/genesis.go
  x/twap/types/genesis_test.go
Labels: C:x/twap, V:state/compatible/backport, A:backport/v15.x

#5093 fix(CL): UpdatePosition overwrites pool state with old last liquidity update, leading to incentives overlclaiming
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/tick.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#4983 implement gas consume on denom creation
  CHANGELOG.md
  app/upgrades/v16/constants.go
  app/upgrades/v16/export_test.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  proto/osmosis/tokenfactory/v1beta1/params.proto
  x/tokenfactory/README.md
  x/tokenfactory/keeper/createdenom.go
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/types/params.go
  x/tokenfactory/types/params.pb.go
Labels: C:docs, C:app-wiring, C:x/tokenfactory, V:state/breaking

#4752 Dong/pagination for all intermediary accounts
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
Labels: C:x/superfluid, V:state/breaking, no-changelog

#5119 fix[CL]: create position with underlying denoms only
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/cl-genesis-positions/convert.go
  tests/cl-go-client/main.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/msgs_test.go
  x/concentrated-liquidity/types/tx.pb.go
  x/poolmanager/router_test.go
Labels: C:simulator, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager, no-changelog

#5139 chore: expose pprof in localosmosis
  Dockerfile
  tests/localosmosis/README.md
  tests/localosmosis/docker-compose.yml
  tests/localosmosis/scripts/setup.sh
  tests/localosmosis/state_export/docker-compose.yml
Labels: C:docs, T:build, V:state/compatible/no_backport, no-changelog

#5081 [CL Message Audit]: MsgCreatePosition
  tests/e2e/configurer/chain/commands.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/gamm/keeper/msg_server_test.go
Labels: C:CLI, C:x/gamm, V:state/breaking, C:x/concentrated-liquidity, no-changelog

#5091 [InternalReview][MsgFungifyChargedPositions]
  osmoutils/accum/accum.go
  proto/osmosis/poolmanager/v1beta1/query.proto
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/msgs_test.go
  x/gamm/keeper/msg_server_test.go
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
Labels: C:docs, C:CLI, C:x/gamm, V:state/compatible/no_backport, C:x/concentrated-liquidity, C:x/poolmanager, no-changelog

#5137 chore: rename FeeGrowthOutside to FeeGrowthOppositeDirectionOfLastTraversal
  proto/osmosis/concentrated-liquidity/tickInfo.proto
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/img/FeeGrowthOutsideCalculations.png
  x/concentrated-liquidity/img/TickUpdates.png
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/model/tickInfo.pb.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: C:docs, V:state/breaking, C:x/concentrated-liquidity, no-changelog

#5143 check github actions with dependabot
  .github/dependabot.yml
Labels: T:CI, V:state/compatible/no_backport, no-changelog

#5142 refactor: rename osmoutils/accum variables and protos for readability and add docs
  go.mod
  go.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum.pb.go
  osmoutils/accum/accum_helpers.go
  osmoutils/accum/accum_helpers_test.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/errors.go
  osmoutils/accum/export_test.go
  proto/osmosis/accum/v1beta1/accum.proto
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/position_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/breaking, C:x/concentrated-liquidity, no-changelog

#5020 Add gas config to the client.toml
  CHANGELOG.md
  cmd/osmosisd/cmd/config.go
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, T:ice-box

#5165 Clarify error message when you try to completely exit a pool
  CHANGELOG.md
  x/gamm/pool-models/internal/cfmm_common/lp.go
Labels: C:x/gamm, V:state/compatible/backport, A:backport/v15.x

#5166 Remove a section of PR template
  .github/pull_request_template.md
Labels: V:state/compatible/no_backport, no-changelog

#5123 [CL Message Audit] MsgSwapExactAmountIn
  app/apptesting/concentrated_liquidity.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
  x/poolmanager/export_test.go
  x/poolmanager/keeper_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
  x/poolmanager/types/errors.go
  x/poolmanager/types/routes_test.go
Labels: C:x/pool-incentives, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager, no-changelog

#5174 Speedup accumulator prefix keys
  osmoutils/accum/prefix.go
  x/concentrated-liquidity/swaps.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5171 Speedup some of the swap logic by doing more pre-computation in tick math
  x/concentrated-liquidity/math/precompute.go
  x/concentrated-liquidity/math/tick.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5164 osmomath: disable thelper for some helper functions
  osmomath/decimal.go
  osmomath/int.go
Labels: V:state/compatible/no_backport, no-changelog

#5173 fix: duplicate price for multiple ticks
  .github/workflows/check-broken-links.yml
  osmomath/decimal.go
  osmomath/int.go
  osmoutils/accum/prefix.go
  proto/osmosis/concentrated-liquidity/tx.proto
  proto/osmosis/superfluid/tx.proto
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/export_internal.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/precompute.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/tx.pb.go
  x/gamm/types/key.go
  x/superfluid/README.md
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/unpool.go
  x/superfluid/keeper/unpool_test.go
  x/superfluid/types/errors.go
  x/superfluid/types/tx.pb.go
Labels: C:docs, C:CLI, C:x/gamm, T:CI, C:x/superfluid, V:state/breaking, C:x/concentrated-liquidity, no-changelog

#5168 fix: add split route message to codec and interface registration
  x/poolmanager/types/codec.go
Labels: V:state/breaking, C:x/poolmanager, no-changelog

#5176 refactor: remove cache context from swap out given in
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, no-changelog

#5157 [CL][InternalReview] MsgAddToConcentratedLiquiditySuperfluidPosition
  app/apptesting/concentrated_liquidity.go
  go.mod
  go.sum
  osmoutils/errors.go
  osmoutils/store_helper.go
  osmoutils/store_helper_test.go
  proto/osmosis/superfluid/tx.proto
  tests/cl-genesis-positions/convert.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/cl.go
  x/concentrated-liquidity/types/cl_test.go
  x/concentrated-liquidity/types/keys.go
  x/gamm/keeper/migrate.go
  x/gamm/types/expected_keepers.go
  x/incentives/types/expected_keepers.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/superfluid/README.md
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/keeper/concentrated_liquidity_test.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/gov/gov.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/slash.go
  x/superfluid/keeper/slash_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/types/errors.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/gov.go
  x/superfluid/types/tx.pb.go
Labels: C:docs, C:x/lockup, C:CLI, C:x/gamm, C:x/incentives, C:x/superfluid, C:app-wiring, V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5170 CL: benchmark for swaps
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/math/math.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5193 Revert "fix: duplicate price for multiple ticks (#5173)"
  osmomath/decimal.go
  osmomath/int.go
  osmoutils/accum/prefix.go
  proto/osmosis/concentrated-liquidity/tx.proto
  proto/osmosis/superfluid/tx.proto
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_internal.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/precompute.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/tx.pb.go
  x/gamm/types/key.go
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/unpool.go
  x/superfluid/keeper/unpool_test.go
  x/superfluid/types/errors.go
  x/superfluid/types/tx.pb.go
Labels: C:docs, C:CLI, C:x/gamm, C:x/superfluid, V:state/breaking, C:x/concentrated-liquidity, no-changelog

#5196 fix: duplicate price for multiple ticks
  go.mod
  go.sum
  osmomath/int.go
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_internal.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: C:docs, V:state/breaking, C:x/concentrated-liquidity, no-changelog

#5189 perf: convert ticks to int64
  tests/cl-genesis-positions/convert.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/export_internal.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/math/precompute.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/constants.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5198 refactor: remove cache context from swap in given out
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, no-changelog

#5197 refactor: more discriptive error when no liquidity in swaps
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5199 fix: merge conflict
  x/concentrated-liquidity/swaps.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, no-changelog

#5195 fix: make proto-docs; unsupported address proto tag
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
  client/docs/statik/statik.go
  proto/osmosis/protorev/v1beta1/params.proto
  x/protorev/types/params.pb.go
Labels: C:CLI, V:state/compatible/no_backport, no-changelog

#5135 [CL Message Audit]: MsgWithdrawPosition
  osmoutils/accum/accum.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/tick.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity, no-changelog

#5200 Fix CL client to be compatible with recent state of Bigbang
  go.sum
  tests/cl-genesis-positions/convert.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
Labels: V:state/compatible/no_backport, no-changelog

#5201 Change changelog reminder check from changelog to A:no-changelog
  .github/workflows/changelog-entry-reminder.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#5210 fix: merge conflict
  x/concentrated-liquidity/lp_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5208 fix[CL]: Readme
  x/concentrated-liquidity/README.md
Labels: C:docs, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5190 perf: conver tick and exponent at price one to int64
  proto/osmosis/concentrated-liquidity/pool.proto
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/pool.go
Labels: C:CLI, A:automerge, V:state/compatible/no_backport, C:x/concentrated-liquidity

#5212 chore: add vs code debug config for every module
  .vscode/launch.json
Labels: V:state/compatible/no_backport, A:no-changelog

#5177 refactor: prototype reducing iterator overhead in swaps
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5214 chore: skip wasm tests in wsl and add a vs code task
  .vscode/tasks.json
  Makefile
  app/apptesting/test_suite.go
  app/upgrades/v13/upgrade_test.go
  app/upgrades/v15/upgrade_test.go
  tests/ibc-hooks/ibc_middleware_test.go
  wasmbinding/test/custom_msg_test.go
  wasmbinding/test/custom_query_test.go
  wasmbinding/test/messages_test.go
  wasmbinding/test/queries_test.go
  wasmbinding/test/store_run_test.go
  x/ibc-rate-limit/ibc_middleware_test.go
  x/tokenfactory/keeper/before_send_test.go
Labels: T:build, C:app-wiring, C:x/tokenfactory, V:state/compatible/no_backport, A:no-changelog

#5221 chore: update golanci-lint settings
  .vscode/settings.json
Labels: V:state/compatible/no_backport, A:no-changelog

#5211 perf: remove repeated reallocations in swap step iterations
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5204 bug: add split route to message server in pool manager
  proto/osmosis/poolmanager/v1beta1/tx.proto
  x/poolmanager/msg_server.go
  x/poolmanager/router.go
  x/poolmanager/types/events.go
  x/poolmanager/types/tx.pb.go
Labels: V:state/compatible/no_backport, C:x/poolmanager, A:no-changelog

#5229 chore: commit at the end of benchmark
  x/concentrated-liquidity/bench_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5187 [CL][Incentives Query][Bug]: Implement support for CL gauges to incentivized pools query
  CHANGELOG.md
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
Labels: T:bug 🐛, C:x/pool-incentives, V:state/breaking

#5234 [CL][Incentives] Remove `MsgCreateIncentive` message
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/clmodule/module.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: C:CLI, C:app-wiring, C:simulator, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5230 feat[CL]: separate fees into different module account
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/pool.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5179 [CL Message Audit] MsgSwapExactAmountOut
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/types/errors.go
  x/poolmanager/export_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity, C:x/poolmanager, A:no-changelog

#5236 [x/pool-incentives][tests]: Add tests for external gauge query
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
Labels: C:x/pool-incentives, V:state/compatible/backport, A:no-changelog

#5213 feat: v16 upgrade handler updates
  app/upgrades/v16/concentrated_pool.go
  app/upgrades/v16/concentrated_pool_test.go
  app/upgrades/v16/export_test.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  tests/e2e/helpers_e2e_test.go
  tests/e2e/scripts/daiosmov16.json
Labels: C:app-wiring, V:state/breaking, A:no-changelog

#5167 [CL Message Audit]: AddToPositions
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity, cl-internal-review, A:no-changelog

#5237 perf: change KVStore value from posID to boolean byte
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
Labels: C:simulator, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5242 [CL][Docs] Expand incentives README to mention gauge logic
  x/concentrated-liquidity/README.md
Labels: C:docs, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog

#5244 [CL][Docs] Add README section on reward splitting
  x/concentrated-liquidity/README.md
Labels: C:docs, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog

#5162 feat: partial superfluid undelegate
  tests/cl-go-client/go.mod
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/keeper/unpool.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/lockup, C:x/superfluid, V:state/breaking, C:x/concentrated-liquidity

#5239 [CL][bugfix] Update reward splitting logic to only use bonded balancer amounts
  CHANGELOG.md
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_test.go
Labels: C:x/gamm, V:state/breaking, C:x/concentrated-liquidity

#5160 [CL Message Audit]: MsgUnlockAndMigrateSharesToFullRangeConcentratedPosition [2/2]
  tests/cl-go-client/go.mod
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/errors.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/lockup, C:x/superfluid, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#4629 Add amino proto annotations
  CHANGELOG.md
  proto/amino/amino.proto
  proto/osmosis/gamm/pool-models/balancer/balancerPool.proto
  proto/osmosis/gamm/pool-models/balancer/tx/tx.proto
  proto/osmosis/gamm/pool-models/stableswap/stableswap_pool.proto
  proto/osmosis/gamm/pool-models/stableswap/tx.proto
  proto/osmosis/gamm/v1beta1/gov.proto
  proto/osmosis/gamm/v1beta1/tx.proto
  proto/osmosis/incentives/tx.proto
  proto/osmosis/lockup/tx.proto
  proto/osmosis/pool-incentives/v1beta1/gov.proto
  proto/osmosis/protorev/v1beta1/gov.proto
  proto/osmosis/protorev/v1beta1/tx.proto
  proto/osmosis/superfluid/tx.proto
  proto/osmosis/superfluid/v1beta1/gov.proto
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  proto/osmosis/txfees/v1beta1/gov.proto
  proto/osmosis/valset-pref/v1beta1/tx.proto
  scripts/protocgen.sh
  x/gamm/pool-models/balancer/balancerPool.pb.go
  x/gamm/pool-models/balancer/tx.pb.go
  x/gamm/pool-models/stableswap/stableswap_pool.pb.go
  x/gamm/pool-models/stableswap/tx.pb.go
  x/gamm/types/gov.pb.go
  x/gamm/types/tx.pb.go
  x/incentives/types/tx.pb.go
  x/lockup/types/tx.pb.go
  x/pool-incentives/types/gov.pb.go
  x/protorev/types/gov.pb.go
  x/protorev/types/tx.pb.go
  x/superfluid/types/gov.pb.go
  x/superfluid/types/tx.pb.go
  x/tokenfactory/types/tx.pb.go
  x/txfees/types/gov.pb.go
  x/valset-pref/types/tx.pb.go
Labels: C:x/lockup, C:x/gamm, C:x/incentives, C:x/pool-incentives, C:x/superfluid, C:x/txfees, T:build, C:x/tokenfactory, V:state/breaking

#5245 refactor: reinvest dust fees into pool accumulator
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5248 perf: iterator improvements for swap in given out and liquidity for full range query
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/tick.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5251 change URL report title
  .github/workflows/check-broken-links.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#5161 [GAMM] Add test for `GetMaximalNoSwapLPAmount`
  x/gamm/keeper/export_test.go
  x/gamm/keeper/pool_test.go
Labels: C:x/gamm, V:state/compatible/no_backport, A:no-changelog

#5254 fix: concentrated liquidity price tick equation variable
  x/concentrated-liquidity/README.md
Labels: C:docs, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5263 Remove superfluous swap_test lines
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5247 [Internal Audit] MsgSplitRouteSwapExactAmountIn & MsgSplitRouteSwapExactAmountOut
  CHANGELOG.md
  x/poolmanager/client/cli/flags.go
  x/poolmanager/client/cli/tx.go
  x/poolmanager/msg_server_test.go
  x/poolmanager/router.go
  x/poolmanager/types/routes.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/poolmanager, A:no-changelog

#5250 Auto add changelog and backport labels to dependabot
  .github/dependabot.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#5261 feat: multiple fee tokens gov prop
  CHANGELOG.md
  proto/osmosis/txfees/v1beta1/gov.proto
  x/txfees/client/cli/query_test.go
  x/txfees/client/cli/tx.go
  x/txfees/keeper/gov.go
  x/txfees/keeper/keeper_test.go
  x/txfees/types/gov.go
  x/txfees/types/gov.pb.go
Labels: C:CLI, C:x/txfees, V:state/breaking

#5249 chore: bump sdk fork with sqrt perf improvements
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  osmoutils/store_helper_test.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/concentrated-liquidity/swaps_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5277 [chore] added v16 mergify config
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#5276 bench: GetTickLiquidityNetInDirection & GetTickLiquidityForFullRange
  x/concentrated-liquidity/bench_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5280 x/mint: fix outdated info in README
  x/mint/README.md
Labels: C:docs, C:x/mint, V:state/compatible/no_backport, A:no-changelog

#5279 fix: typo in proposal codec registration
  x/concentrated-liquidity/types/codec.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5282 Use leveldb for benchmarks
  app/apptesting/test_suite.go
  x/concentrated-liquidity/bench_test.go
Labels: C:app-wiring, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5269 More test simplification
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swapstrategy/export_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/msgs_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5278 perf: remove repeated pool exists check
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/tick.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5289 Localnet: update localnet CL script deps
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
Labels: V:state/compatible/no_backport, localnet, A:no-changelog

#5293 [chore] add cli example in CL/PoolManager module
  x/concentrated-liquidity/client/cli/tx.go
  x/poolmanager/client/cli/tx.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity, C:x/poolmanager, A:no-changelog

#5288 perf: avoid refetching ticks during swaps; parse from iterator value
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5299 perf: liquidity net in direction sdk.Int -> int64
  proto/osmosis/concentrated-liquidity/query.proto
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5301 Use IBC apps repo for AsyncICQ
  Makefile
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v15/constants.go
  app/upgrades/v15/export_test.go
  app/upgrades/v15/upgrades.go
  go.mod
  go.sum
  tests/cl-genesis-positions/go.mod
Labels: T:build, C:app-wiring, V:state/breaking, A:no-changelog, A:backport/v16.x

#5300 perf: liquidity for full range sdk.Int -> int64
  proto/osmosis/concentrated-liquidity/query.proto
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5298 perf: remove repeated fee accumulator unmarshaling in swaps
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5295 perf: remove repeated pool unmarshaling and uptime accum refetching overhead in swaps
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5313 [CL][bugfix] Fix tick range helper and update tests/comments
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
Labels: T:bug 🐛, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5315 [CL][bugfix] Remove duplicate check in full range creation
  x/concentrated-liquidity/position.go
Labels: T:bug 🐛, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5312 update e2e genesis config for protorev module
  tests/e2e/initialization/config.go
Labels: V:state/compatible/backport, A:backport/v15.x, A:no-changelog

#5310 feat[CL]: expand position queries
  proto/osmosis/concentrated-liquidity/position.proto
  proto/osmosis/concentrated-liquidity/query.proto
  tests/cl-genesis-positions/go.mod
  tests/e2e/configurer/chain/queries.go
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/model/position.pb.go
Labels: C:CLI, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5318 bump previousVersionInitTag, remove no longer used protorev upgrade test
  tests/e2e/containers/config.go
  tests/e2e/e2e_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#5311 Revert "feat: do not require changelog and state machine labels for m…
  .github/workflows/changelog-entry-reminder.yml
  .github/workflows/required_labels.yml
Labels: V:state/compatible/no_backport, A:no-changelog

#5314 [CL][bugfix] Fix discount rate bound check
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/types/export_test.go
  x/concentrated-liquidity/types/params.go
  x/concentrated-liquidity/types/params_test.go
Labels: T:bug 🐛, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#4827 Protorev: Update timing for pool updating and dev fee payout
  CHANGELOG.md
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  x/protorev/keeper/developer_fees.go
  x/protorev/keeper/developer_fees_test.go
  x/protorev/keeper/epoch_hook.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/protorev.md
Labels: C:docs, C:app-wiring, V:state/breaking, protorev

#5309 [chore] Update CHANGELOG.md after v15.1.2
  CHANGELOG.md
Labels: V:state/compatible/no_backport, A:no-changelog

#5320 minor: huckleberry ibc patch
  go.mod
  go.sum
Labels: V:state/compatible/no_backport, A:no-changelog

#5265 fix: expect single synthetic lock per native lock ID
  CHANGELOG.md
  proto/osmosis/lockup/query.proto
  x/lockup/client/cli/query.go
  x/lockup/keeper/grpc_query.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/synthetic_lock.go
  x/lockup/keeper/synthetic_lock_test.go
  x/lockup/types/errors.go
  x/lockup/types/lock.go
  x/lockup/types/query.pb.go
  x/lockup/types/query.pb.gw.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/types/expected_keepers.go
  x/valset-pref/types/expected_interfaces.go
  x/valset-pref/validator_set.go
Labels: C:x/lockup, C:CLI, C:x/superfluid, V:state/breaking

#4792 feat/docs(CWPool): contract messages and basic readme
  proto/osmosis/cosmwasmpool/v1beta1/model/instantiate_msg.proto
  proto/osmosis/cosmwasmpool/v1beta1/model/module_query_msg.proto
  proto/osmosis/cosmwasmpool/v1beta1/model/module_sudo_msg.proto
  proto/osmosis/cosmwasmpool/v1beta1/model/pool.proto
  proto/osmosis/cosmwasmpool/v1beta1/model/pool_query_msg.proto
  proto/osmosis/cosmwasmpool/v1beta1/model/transmuter_msgs.proto
  x/cosmwasmpool/README.md
  x/cosmwasmpool/cosmwasm/msg/README.md
  x/cosmwasmpool/cosmwasm/msg/instantiate_msg.pb.go
  x/cosmwasmpool/cosmwasm/msg/module_query_msg.go
  x/cosmwasmpool/cosmwasm/msg/module_query_msg.pb.go
  x/cosmwasmpool/cosmwasm/msg/module_sudo_msg.go
  x/cosmwasmpool/cosmwasm/msg/module_sudo_msg.pb.go
  x/cosmwasmpool/cosmwasm/msg/pool_query_msg.pb.go
  x/cosmwasmpool/cosmwasm/msg/transmuter/README.md
  x/cosmwasmpool/cosmwasm/msg/transmuter/transmuter_msgs.pb.go
  x/cosmwasmpool/model/pool.pb.go
Labels: C:docs, Stale, V:state/compatible/no_backport, A:no-changelog

#5319 docs: stableswap scaling factor
  x/gamm/pool-models/stableswap/README.md
Labels: C:docs, C:x/gamm, V:state/compatible/no_backport, A:no-changelog

#4950 Jl/add in and out coins to cl swap listener
  CHANGELOG.md
  x/concentrated-liquidity/clmocks/listeners.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/types/listeners.go
  x/pool-incentives/keeper/hooks.go
  x/twap/listeners.go
Labels: C:x/pool-incentives, C:x/twap, V:state/compatible/no_backport, C:x/concentrated-liquidity, protorev

#5322 [CL] Delete more test code
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/incentives_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5326 [CL]: Remove double rounding in `CalcAmount1Delta`
  x/concentrated-liquidity/math/math.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5335 [CL]: rename fee related files
  x/concentrated-liquidity/spread_rewards.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swapstrategy/spread_rewards.go
  x/concentrated-liquidity/swapstrategy/spread_rewards_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog

#5341 fix: tick spacing with cl go client script for creating positions
  tests/cl-go-client/main.go
Labels: V:state/compatible/no_backport, A:no-changelog

#5281 feat: Add option to designate Reward Recipient to Lock and Incentives
  CHANGELOG.md
  proto/osmosis/lockup/lock.proto
  proto/osmosis/lockup/tx.proto
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/suite_test.go
  x/lockup/keeper/bench_test.go
  x/lockup/keeper/genesis_test.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/migration.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/msg_server_test.go
  x/lockup/keeper/synthetic_lock_test.go
  x/lockup/keeper/utils_test.go
  x/lockup/types/errors.go
  x/lockup/types/lock.go
  x/lockup/types/lock.pb.go
  x/lockup/types/msgs.go
  x/lockup/types/tx.pb.go
Labels: C:x/lockup, C:x/incentives, V:state/breaking

#5344 Localosmosis: update test scripts version
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
Labels: V:state/compatible/no_backport, A:no-changelog

#5330 feat: cw pool model and helpers
  .github/workflows/contracts.yml
  app/apptesting/cosmwasmpool.go
  app/keepers/keepers.go
  proto/osmosis/cosmwasmpool/v1beta1/model/pool_query_msg.proto
  x/cosmwasmpool/bytecode/transmuter.wasm
  x/cosmwasmpool/cosmwasm/msg/pool_query_msg.pb.go
  x/cosmwasmpool/model/codec.go
  x/cosmwasmpool/model/msgs.go
  x/cosmwasmpool/model/pool.go
  x/cosmwasmpool/model/pool_test.go
  x/cosmwasmpool/model/store_model.go
  x/cosmwasmpool/store.go
  x/cosmwasmpool/types/errors.go
Labels: T:CI, C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#4810 Cosmwasmpool spec
  x/cosmwasmpool/README.md
Labels: C:docs, V:state/compatible/no_backport, A:no-changelog

#5331 [CL]: Clean up and add minor fixes to incentives tests
  app/upgrades/v16/concentrated_pool_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp_test.go
Labels: C:app-wiring, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog

#5337 [CL][Tests]: Clean up `FungifyPositions` tests
  go.mod
  go.sum
  osmoutils/coin_helper.go
  osmoutils/coin_helper_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/position_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog

#5345 gov: pools gov prop supercharge liquidity
  proto/osmosis/concentrated-liquidity/gov.proto
  tests/e2e/configurer/chain/commands.go
  x/concentrated-liquidity/client/cli/flags.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/client/proposal_handler.go
  x/concentrated-liquidity/gov.go
  x/concentrated-liquidity/handler.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/gov.go
  x/concentrated-liquidity/types/gov.pb.go
  x/concentrated-liquidity/types/gov_test.go
Labels: C:CLI, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5353 [CL]: add ATOM to quote whitelist
  app/upgrades/v16/upgrades.go
  x/concentrated-liquidity/types/params.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#4819 Remove duplicate denom-authority-metadata query command
  CHANGELOG.md
  x/tokenfactory/client/cli/query.go
Labels: C:CLI, C:x/tokenfactory, V:state/compatible/backport, A:backport/v15.x

#5340 test: supercharged twap e2e
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/incentives.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5266 Review: Types Package, model package holistic review
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/model/codec.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/types/cl.go
  x/concentrated-liquidity/types/cl_pool_extensionI.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/gov.go
  x/concentrated-liquidity/types/gov_test.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/keys_test.go
Labels: C:docs, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5290 [CL: test] Update Accumulator while collecting incentives
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5361 [CL][bugfix]: Make calc accrued incentives nonmutative
  x/concentrated-liquidity/incentives.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5359 [CL] Test multiple sets of authorized uptimes on all incentives tests
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog

#5364 refactor: new position id in events for add to position
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/types/events.go
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/types/events.go
Labels: C:x/superfluid, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5366 refactor: emit tick spread factor reward and uptime reward events when tick is crossed (APR calc #1)
  go.sum
  proto/osmosis/concentrated-liquidity/tickInfo.proto
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/model/tickInfo.pb.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/events.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5363 fix: twap record upgrade handler
  app/upgrades/v16/upgrades.go
  x/twap/export_test.go
  x/twap/keeper.go
  x/twap/logic.go
  x/twap/store.go
  x/twap/types/genesis.go
Labels: C:app-wiring, C:x/twap, V:state/breaking, A:no-changelog
