Repository osmosis-labs/osmosis, pull requests merged in 2023-11, with the labels that each got.

#6797 ci: fix missing target `check_version` and add eof blank line
  Makefile
  scripts/makefiles/build.mk
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#6798 refactor: change validate routes code inline
  x/poolmanager/router.go
Labels: V:state/compatible/no_backport, C:x/poolmanager, A:no-changelog

#6800 chore: proto build from main
  go.mod
  go.sum
Labels: V:state/compatible/no_backport, A:no-changelog

#6805 feat: return bucket index of the current tick from LiquidityPerTickRange query
  CHANGELOG.md
  proto/osmosis/concentrated-liquidity/query.proto
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/query.go
  x/concentrated-liquidity/query_test.go
Labels: C:CLI, A:automerge, V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v20.x

#6810 fix split route
  x/poolmanager/types/msg_swap.go
  x/txfees/keeper/txfee_filters/arb_tx.go
Labels: C:x/txfees, C:x/poolmanager

#6812 Nicolas/1559 persist
  x/txfees/keeper/mempool-1559/code.go
Labels: C:x/txfees

#6757 fix: Add gas metering to BlockBeforeSend
  CHANGELOG.md
  x/tokenfactory/keeper/before_send.go
  x/tokenfactory/keeper/before_send_test.go
  x/tokenfactory/types/constants.go
  x/tokenfactory/types/errors.go
Labels: C:x/tokenfactory, V:state/breaking

#6767 fix typo in message
  CHANGELOG.md
  cosmwasm/contracts/crosschain-swaps/src/ibc_lifecycle.rs
Labels: V:state/breaking

#6769 fix: improve dust handling in EstimateTradeBasedOnPriceImpact
  CHANGELOG.md
  x/poolmanager/README.md
  x/poolmanager/router.go
  x/poolmanager/router_test.go
Labels: C:docs, V:state/breaking, C:x/poolmanager

#6628 docs: failures of xc swaps documented
  cosmwasm/contracts/crosschain-swaps/README.md
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6813 Fix CI for Pushing E2E Images to Docker
  .dockerignore
Labels: V:state/compatible/no_backport, A:no-changelog

#6735 Fix bad PFM error (#6734)
  CHANGELOG.md
  go.mod
  go.sum
Labels: V:state/breaking, A:backport/v20.x

#6807 feat: add MaximumUnauthenticatedGas param
  app/ante.go
  app/modules.go
  proto/osmosis/authenticator/params.proto
  x/authenticator/ante/ante.go
  x/authenticator/ante/ante_test.go
  x/authenticator/client/cli/query.go
  x/authenticator/client/cli/query_params.go
  x/authenticator/keeper/params.go
  x/authenticator/types/keys.go
  x/authenticator/types/params.go
  x/authenticator/types/params.pb.go
Labels: C:CLI, C:app-wiring

#6818 chore: add comments to eip-1559 code
  x/txfees/keeper/mempool-1559/code.go
  x/txfees/keeper/mempool-1559/code_test.go
  x/txfees/keeper/mempool-1559/state_compatible_update_logic.go
  x/txfees/keeper/mempool-1559/todo.md
Labels: C:docs, C:x/txfees

#6816 remove continuous repetition code
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#6811 Dev/mempool 1559
  cmd/osmosisd/cmd/root.go
  proto/osmosis/txfees/v1beta1/query.proto
  x/txfees/client/cli/query.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/grpc_query.go
  x/txfees/keeper/mempool-1559/.gitignore
  x/txfees/keeper/mempool-1559/code.go
  x/txfees/keeper/mempool-1559/code_test.go
  x/txfees/keeper/mempool-1559/state_compatible_update_logic.go
  x/txfees/module.go
  x/txfees/types/options.go
  x/txfees/types/query.pb.go
  x/txfees/types/query.pb.gw.go
Labels: C:CLI, C:x/txfees, C:app-wiring

#6809 Update chain registry for v20.1.1
  chain.schema.json
Labels: V:state/compatible/no_backport, A:no-changelog

#6814 Add EstimateTradeBasedOnPriceImpact to stargate whitelist
  CHANGELOG.md
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking

#6819 chore: update multinode testnet script (4th node + prometheus)
  scripts/multinode-local-testnet.sh
Labels: A:automerge, V:state/compatible/no_backport, A:no-changelog

#6530 Deprecate unused pool id field in swap estimate
  CHANGELOG.md
  proto/osmosis/poolmanager/v1beta1/query.proto
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/client/queryproto/query.pb.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/poolmanager

#6822 chore: CL apptesting helpers for SQS
  app/apptesting/concentrated_liquidity.go
  app/apptesting/pool_manager.go
  x/concentrated-liquidity/fuzz_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/invariant_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/range_test.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
Labels: A:automerge, C:app-wiring, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v20.x

#6820 chore: script for spamming testnet with positions & creating cl pool
  scripts/cl_create_pool.py
  scripts/cl_position_spam.py
Labels: A:automerge, T:build, V:state/compatible/no_backport, A:no-changelog

#6821 refactor(SQS): convert poolmanager taker fee calc methods to functions
  x/poolmanager/export_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
  x/poolmanager/taker_fee.go
Labels: A:automerge, V:state/compatible/backport, C:x/poolmanager, A:no-changelog, A:backport/v20.x

#6828 Change mergify rules to 2 >= Approvals for Automerge
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#6827 fix: concentrated pool should use types.ConcentratedGasFeeForSwap
  x/concentrated-liquidity/swaps.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#6832 Update state check CI to v20
  .github/workflows/check-state-compatibility.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v20.x

#6834 fix: Updated the docker-compose for localosmosis with state to be inline with Operations updated process.
  .dockerignore
  CHANGELOG.md
  scripts/makefiles/localnet.mk
  tests/localosmosis/state_export/Dockerfile
  tests/localosmosis/state_export/config/app.toml
  tests/localosmosis/state_export/config/client.toml
  tests/localosmosis/state_export/config/config.toml
  tests/localosmosis/state_export/config/node_key.json
  tests/localosmosis/state_export/config/priv_validator_key.json
  tests/localosmosis/state_export/docker-compose.yml
  tests/localosmosis/state_export/scripts/start.sh
  tests/localosmosis/state_export/scripts/testnetify.py
  tests/localosmosis/state_export/start.sh
Labels: V:state/compatible/no_backport

#6836 fix: wasm set whitelist query
  CHANGELOG.md
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking

#6840 Fix/error prompt msg
  CHANGELOG.md
  x/epochs/types/genesis.go
  x/superfluid/types/msgs.go
Labels: C:x/epochs, C:x/superfluid, V:state/breaking

#6730 [feat: CL Hooks]: Implement hooks for concentrated liquidity operations
  app/keepers/keepers.go
  app/upgrades/v21/upgrades.go
  proto/osmosis/concentrated-liquidity/params.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/pool_hooks.go
  x/concentrated-liquidity/pool_hooks_test.go
  x/concentrated-liquidity/testcontracts/compiled-wasm/counter.wasm
  x/concentrated-liquidity/testcontracts/contract-sources/counter/.cargo/config
  x/concentrated-liquidity/testcontracts/contract-sources/counter/Cargo.toml
  x/concentrated-liquidity/testcontracts/contract-sources/counter/contracts/counter/.cargo/config
  x/concentrated-liquidity/testcontracts/contract-sources/counter/contracts/counter/Cargo.toml
  x/concentrated-liquidity/testcontracts/contract-sources/counter/contracts/counter/src/bin/schema.rs
  x/concentrated-liquidity/testcontracts/contract-sources/counter/contracts/counter/src/contract.rs
  x/concentrated-liquidity/testcontracts/contract-sources/counter/contracts/counter/src/error.rs
  x/concentrated-liquidity/testcontracts/contract-sources/counter/contracts/counter/src/lib.rs
  x/concentrated-liquidity/testcontracts/contract-sources/counter/contracts/counter/src/msg.rs
  x/concentrated-liquidity/testcontracts/contract-sources/counter/contracts/counter/src/state.rs
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/params.go
  x/concentrated-liquidity/types/params.pb.go
Labels: C:app-wiring, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#6841 fix: fix the typo of response field "recovery_addr"
  CHANGELOG.md
  cosmwasm/contracts/crosschain-swaps/src/ibc_lifecycle.rs
  cosmwasm/contracts/outpost/src/error.rs
  cosmwasm/packages/registry/src/error.rs
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
Labels: V:state/breaking

#6844 Tune 1559 params
  x/txfees/keeper/mempool-1559/code.go
Labels: C:x/txfees, V:state/compatible/no_backport

#6846 Fix 1559 comments to align with new tuned params
  x/txfees/keeper/mempool-1559/code.go
Labels: C:x/txfees, V:state/compatible/no_backport, A:no-changelog

#6804 feat: track and query protocol rev across all modules
  CHANGELOG.md
  app/apptesting/test_suite.go
  app/apptesting/txfees.go
  app/keepers/keepers.go
  app/test_helpers.go
  app/upgrades/v21/constants.go
  app/upgrades/v21/upgrades.go
  app/upgrades/v21/upgrades_test.go
  go.mod
  go.sum
  osmoutils/coin_helper.go
  osmoutils/coin_helper_test.go
  proto/osmosis/poolmanager/v1beta1/genesis.proto
  proto/osmosis/protorev/v1beta1/genesis.proto
  proto/osmosis/protorev/v1beta1/protorev.proto
  proto/osmosis/protorev/v1beta1/query.proto
  proto/osmosis/txfees/v1beta1/genesis.proto
  x/poolmanager/keeper.go
  x/poolmanager/keeper_test.go
  x/poolmanager/protorev.go
  x/poolmanager/protorev_test.go
  x/poolmanager/taker_fee.go
  x/poolmanager/taker_fee_test.go
  x/poolmanager/types/genesis.go
  x/poolmanager/types/genesis.pb.go
  x/poolmanager/types/keys.go
  x/protorev/client/cli/query.go
  x/protorev/keeper/genesis.go
  x/protorev/keeper/genesis_test.go
  x/protorev/keeper/grpc_query.go
  x/protorev/keeper/grpc_query_test.go
  x/protorev/keeper/keeper.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/protorev_test.go
  x/protorev/keeper/statistics.go
  x/protorev/keeper/statistics_test.go
  x/protorev/types/expected_keepers.go
  x/protorev/types/genesis.go
  x/protorev/types/genesis.pb.go
  x/protorev/types/keys.go
  x/protorev/types/protorev.pb.go
  x/protorev/types/query.pb.go
  x/protorev/types/query.pb.gw.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/keeper/genesis.go
  x/txfees/keeper/genesis_test.go
  x/txfees/keeper/hooks_test.go
  x/txfees/keeper/protorev.go
  x/txfees/keeper/protorev_test.go
  x/txfees/types/expected_keepers.go
  x/txfees/types/genesis.go
  x/txfees/types/genesis.pb.go
  x/txfees/types/keys.go
Labels: C:CLI, C:x/txfees, C:app-wiring, V:state/breaking, C:x/poolmanager

#6857 fix: fixes eip1559state.json reading/writing
  app/app.go
  app/keepers/keepers.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/keeper.go
  x/txfees/keeper/mempool-1559/code.go
Labels: C:x/txfees, C:app-wiring

#6845 [CL Hooks]: Implement CL hook message types and high level hook functions
  go.mod
  go.sum
  osmoutils/coin_helper.go
  x/concentrated-liquidity/pool_hooks.go
  x/concentrated-liquidity/types/pool_hooks.go
  x/tokenfactory/keeper/before_send.go
Labels: C:x/tokenfactory, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#6868 fix failing CI for go mod update instructions
  .github/workflows/e2e-initialization-instructions.yaml
Labels: V:state/compatible/no_backport, A:no-changelog

#6869 fix: fix some typo
  x/valset-pref/simulation/sim_msgs.go
Labels: C:simulator, V:state/compatible/no_backport, A:no-changelog

#6861 feat: protorev no taker fee
  CHANGELOG.md
  app/upgrades/v21/upgrades.go
Labels: C:app-wiring, V:state/breaking

#6877 Fix data race in tests
  x/txfees/keeper/mempool-1559/code.go
Labels: C:x/txfees, V:state/compatible/backport, A:no-changelog, A:backport/v20.x

#6766 CLI: Query pools by coin denom
  CHANGELOG.md
  proto/osmosis/poolmanager/v1beta1/query.proto
  scripts/setup_superfluid.sh
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/grpc/grpc_query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
Labels: C:CLI, T:build, V:state/compatible/no_backport, C:x/poolmanager

#6871 [chores 🧹] Update docs for v20.2.1
  chain.schema.json
  networks/osmosis-1/README.md
  networks/osmosis-1/upgrades/v20/mainnet/guide.md
  scripts/release/create_binaries_json/create_all_binaries_json.sh
Labels: V:state/compatible/no_backport, A:no-changelog

#6880 refactor: tryPersist locks after json marshal success
  x/txfees/keeper/mempool-1559/code.go
Labels: C:x/txfees, A:automerge, V:state/compatible/no_backport, A:no-changelog

#6885 chore: added pipeline for building and pushing sqs-dev and prod images
  .github/workflows/build-push-sqs.yml
Labels: T:CI

#6888 fix: Fix tag trigger, and tag setting logic for SQS pushes, push sqs-latest tag as well for watch tower.
  .github/workflows/build-push-sqs.yml
Labels: T:CI

#6890 feat: enable arb filter for affiliate swap messages
  CHANGELOG.md
  x/txfees/keeper/txfee_filters/arb_tx.go
  x/txfees/keeper/txfee_filters/arb_tx_test.go
  x/txfees/keeper/txfee_filters/export_test.go
Labels: C:x/txfees, A:automerge, V:state/compatible/backport, A:no-changelog, A:backport/v20.x

#6894 feat: enable arb filter for affiliate swap messages (backport #6890)
  CHANGELOG.md
  x/txfees/keeper/txfee_filters/arb_tx.go
  x/txfees/keeper/txfee_filters/arb_tx_test.go
  x/txfees/keeper/txfee_filters/export_test.go
Labels: C:x/txfees

#6897 refactor: enable eip1559 mempool by default in config
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
  x/txfees/types/options.go
Labels: C:x/txfees, V:state/compatible/backport, A:backport/v20.x

#6898 refactor: enable eip1559 mempool by default (backport #6897)
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
  x/txfees/types/options.go
Labels: C:x/txfees

#6900 Update the eip1559 constants
  go.sum
  proto/osmosis/poolmanager/v1beta1/query.yml
  x/poolmanager/client/grpc/grpc_query.go
  x/txfees/keeper/mempool-1559/code.go
Labels: C:CLI, C:x/txfees, V:state/compatible/backport, C:x/poolmanager, A:no-changelog, A:backport/v20.x

#6863 refactor(poolmanager): GetPoolDenoms method on PoolI for SQS
  CHANGELOG.md
  tests/mocks/cfmm_pool.go
  tests/mocks/cl_pool.go
  tests/mocks/pool.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/cosmwasmpool/model/pool.go
  x/cosmwasmpool/model/pool_test.go
  x/cosmwasmpool/model/store_model.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/poolmanager/types/pool.go
Labels: C:x/gamm, A:automerge, V:state/compatible/backport, C:x/concentrated-liquidity, C:x/poolmanager, A:backport/v20.x

#6906 better checks for affiliate swap contract in arb filter
  x/txfees/keeper/txfee_filters/arb_tx.go
  x/txfees/keeper/txfee_filters/arb_tx_test.go
Labels: C:x/txfees, V:state/compatible/backport, A:no-changelog, A:backport/v20.x

#6910 chore: update changelog for v20.2.2 - v20.4.0
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v20.x

#6884 refactor: improve ListPoolsByDenom filter logic
  CHANGELOG.md
  x/poolmanager/router.go
Labels: V:state/compatible/no_backport, C:x/poolmanager

#6859 [feat: CL hooks]: Add CL hooks into core CL logic and test hook-specific behavior
  CHANGELOG.md
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/pool_hooks.go
  x/concentrated-liquidity/pool_hooks_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/testcontracts/compiled-wasm/hooks.wasm
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/pool_hooks.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#6908 Fix state-check CI
  .github/workflows/check-state-compatibility.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#6912 fix: remove duplicate cli cmd entries
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/no_backport, A:no-changelog

#6860 [CL Hooks]: Add hooks source and clean up source code folder
  x/concentrated-liquidity/testcontracts/contract-sources/counter/.cargo/config
  x/concentrated-liquidity/testcontracts/contract-sources/counter/Cargo.toml
  x/concentrated-liquidity/testcontracts/contract-sources/counter/contracts/counter/.cargo/config
  x/concentrated-liquidity/testcontracts/contract-sources/counter/src/bin/schema.rs
  x/concentrated-liquidity/testcontracts/contract-sources/counter/src/contract.rs
  x/concentrated-liquidity/testcontracts/contract-sources/counter/src/error.rs
  x/concentrated-liquidity/testcontracts/contract-sources/counter/src/lib.rs
  x/concentrated-liquidity/testcontracts/contract-sources/counter/src/msg.rs
  x/concentrated-liquidity/testcontracts/contract-sources/counter/src/state.rs
  x/concentrated-liquidity/testcontracts/contract-sources/hooks/Cargo.toml
  x/concentrated-liquidity/testcontracts/contract-sources/hooks/src/contract.rs
  x/concentrated-liquidity/testcontracts/contract-sources/hooks/src/error.rs
  x/concentrated-liquidity/testcontracts/contract-sources/hooks/src/lib.rs
  x/concentrated-liquidity/testcontracts/contract-sources/hooks/src/msg.rs
  x/concentrated-liquidity/testcontracts/contract-sources/hooks/src/state.rs
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#6918 chore: unwire block sdk
  app/ante.go
  app/app.go
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v21/constants.go
  app/upgrades/v21/upgrades.go
  go.mod
  go.sum
Labels: C:app-wiring, V:state/breaking, A:no-changelog

#6914 refactor: ListPoolsByDenom using pool.GetPoolDenoms directly
  CHANGELOG.md
  x/poolmanager/router.go
Labels: V:state/compatible/no_backport, C:x/poolmanager

#6916 fix: add lockup params to genesis state
  proto/osmosis/lockup/genesis.proto
  x/lockup/keeper/genesis.go
  x/lockup/keeper/genesis_test.go
  x/lockup/types/genesis.pb.go
Labels: C:x/lockup, V:state/compatible/backport, A:no-changelog, A:backport/v20.x

#6917 fix: v21 upgrade min dep ratio set
  app/upgrades/v21/upgrades.go
Labels: C:app-wiring, V:state/breaking, A:no-changelog

#6923 fix: no reverse denom store migration bank
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/breaking, A:no-changelog

#6926 update to v16.x
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  tests/cl-genesis-positions/go.mod
  tests/cl-go-client/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs

#6924 chore: fix broken links
  CHANGELOG.md
  README.md
Labels: C:docs

#6913 Fix 'make docs' Command to Reflect Current Proto Structure
  client/docs/config.json
  client/docs/static/swagger/swagger.yaml
  client/docs/statik/statik.go
  proto/buf.gen.swagger.yaml
  scripts/generate-docs.sh
  scripts/makefiles/proto.mk
Labels: C:CLI, T:build, V:state/compatible/no_backport, A:no-changelog

#6921 chore: unnecessary type arguments infertypeargs
  x/concentrated-liquidity/pool_hooks_test.go
Labels: C:x/concentrated-liquidity

#6874 chore: Run Test CI with race detector
  .github/workflows/test.yml
  x/concentrated-liquidity/fuzz_test.go
  x/concentrated-liquidity/keeper_test.go
Labels: T:CI, C:x/concentrated-liquidity

#6922 chore: Revert min spot price changes
  x/concentrated-liquidity/fuzz_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: A:automerge, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#6929 minor: fix test
  x/concentrated-liquidity/lp_test.go
Labels: C:x/concentrated-liquidity

#6936 fix: revert pfm from 7.1.2 to 7.1.1
  go.mod
  go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
Labels: C:x/epochs, V:state/breaking, A:no-changelog

#6934 fix: e2e remove parallel inception
  tests/e2e/e2e_cl_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#6939 fix: taker fee query via grpc gateway
  CHANGELOG.md
  proto/osmosis/poolmanager/v1beta1/query.proto
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
Labels: C:CLI, A:automerge, V:state/compatible/backport, C:x/poolmanager, A:backport/v20.x

#6938 fix(cwpool): add code id in query
  x/cosmwasmpool/client/query_proto_wrap.go
Labels: C:CLI, V:state/breaking, A:no-changelog

#6947 fix(poolmodule): export total volume kvstore
  proto/osmosis/poolmanager/v1beta1/genesis.proto
  x/poolmanager/keeper.go
  x/poolmanager/keeper_test.go
  x/poolmanager/types/genesis.pb.go
Labels: V:state/compatible/no_backport, C:x/poolmanager, A:no-changelog

#6935 Add healthcheck endpoint to sqs
  app/app.go
  go.mod
  go.sum
  ingest/sqs/chain_info/ingester/redis/chain_info_ingester.go
  ingest/sqs/chain_info/repository/redis/redis_chain_info_repository.go
  ingest/sqs/chain_info/usecase/chain_info_usecase.go
  ingest/sqs/domain/mvc/chainInfo.go
  ingest/sqs/ingester.go
  ingest/sqs/sidecar_query_server.go
  ingest/sqs/system/delivery/http/system_http_handler.go
Labels: C:app-wiring

#6949 fix(valset): withdraw rewards
  CHANGELOG.md
  x/valset-pref/validator_set.go
Labels: V:state/breaking

#6948 fix(poolmanager): store taker fee overwrites from kvstore to genesis
  proto/osmosis/poolmanager/v1beta1/genesis.proto
  x/poolmanager/keeper.go
  x/poolmanager/keeper_test.go
  x/poolmanager/taker_fee.go
  x/poolmanager/types/genesis.pb.go
  x/poolmanager/types/keys.go
  x/poolmanager/types/keys_test.go
Labels: V:state/compatible/no_backport, C:x/poolmanager, A:no-changelog

#6786 test(poolmanager): expand ChargeTakerFee tests
  x/poolmanager/taker_fee_test.go
Labels: C:x/poolmanager

#6955 chore: backport v21x label
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#6959 feat: change high gas from 1m to 2m
  CHANGELOG.md
  x/txfees/types/options.go
Labels: C:x/txfees, V:state/breaking, A:backport/v21.x
