Repository osmosis-labs/osmosis, pull requests merged in 2023-09, with the labels that each got.

#6263 XCS: Add transfer ownership message to registry
  cosmwasm/contracts/crosschain-registry/src/contract.rs
  cosmwasm/contracts/crosschain-registry/src/execute.rs
  cosmwasm/contracts/crosschain-registry/src/msg.rs
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
Labels: V:state/compatible/no_backport, A:no-changelog

#6258 refactor(CL): remove CalculatePriceToTickDecV1 function
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
Labels: C:x/concentrated-liquidity

#6256 refactor(CL): convert CalculatePriceToTickDec to operate on BigDec conversions in a state-compatible way
  CHANGELOG.md
  tests/e2e/scripts/param_change_proposal_20230901-162437.655.json
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/math/precompute.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v18.x

#6266 feat: token factory defer explict error handling
  x/tokenfactory/keeper/before_send.go
Labels: C:x/tokenfactory, V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6275 Revert "Revert "change-back-to-self-hosted (#6221)" (#6242)"
  .github/workflows/test.yml
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6277 Fix broken link issue closure step not closing older issues
  .github/workflows/check-broken-links.yml
Labels: T:CI

#6279 Add fix for prop 597 code issue
  CHANGELOG.md
  app/upgrades/v19/constants.go
  app/upgrades/v19/upgrades.go
  app/upgrades/v19/upgrades_test.go
Labels: C:app-wiring, V:state/breaking, A:backport/v19.x

#6283 Revert "Add fix for prop 597 code issue (#6279)"
  CHANGELOG.md
  app/upgrades/v19/constants.go
  app/upgrades/v19/upgrades.go
  app/upgrades/v19/upgrades_test.go
Labels: C:app-wiring, V:state/breaking

#6293 Don't rebuild binaries for test-only changes
  .github/workflows/build.yml
Labels: T:CI

#6289 Parallelize some E2E operations within CL E2E test
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
  tests/e2e/helpers_e2e_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6290 chore: lint tokenfactory
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/types/msgs_test.go
Labels: C:x/tokenfactory, A:no-changelog

#6287 lint app folder
  app/upgrades/v10/upgrades_test.go
  app/upgrades/v12/upgrade_test.go
  app/upgrades/v13/upgrade_test.go
  app/upgrades/v15/upgrade_test.go
  app/upgrades/v16/upgrades_test.go
  app/upgrades/v17/upgrades_test.go
  app/upgrades/v18/upgrades_test.go
  app/upgrades/v19/upgrades_test.go
  app/upgrades/v4/upgrade_test.go
  app/upgrades/v9/prop214_test.go
  app/upgrades/v9/upgrade_test.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog, A:backport/v19.x

#6284 lint superfluid module
  x/superfluid/keeper/concentrated_liquidity_test.go
  x/superfluid/keeper/epoch_test.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/msg_test.go
Labels: C:x/superfluid

#6300 E2E: Cleanup gov props, remove wasted deposit
  .github/workflows/changelog-entry-reminder.yml
  .github/workflows/required_labels.yml
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_cl_test.go
  tests/e2e/e2e_test.go
  tests/e2e/new_test.go
Labels: T:CI

#6302 e2e: fast blocks
  tests/e2e/containers/config.go
  tests/e2e/initialization/node.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v18.x, A:backport/v19.x

#6297 lint twap
  x/twap/api_test.go
  x/twap/export_test.go
  x/twap/keeper_test.go
  x/twap/store_test.go
Labels: C:x/twap

#6306 E2E: Make running parallel funcs easier
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/node.go
  tests/e2e/e2e_cl_test.go
  tests/e2e/e2e_test.go
  tests/e2e/helpers_e2e_test.go
Labels: V:state/compatible/no_backport, A:no-changelog, go

#6298 [AccountAbstraction] Authenticator handler
  app/ante.go
  app/app.go
  app/keepers/keepers.go
  app/modules.go
  go.mod
  proto/osmosis/authenticator/models.proto
  tests/osmosisibctesting/chain.go
  x/authenticator/ante/authenticator.go
  x/authenticator/ante/fees.go
  x/authenticator/ante/pubkey.go
  x/authenticator/integration_test.go
  x/authenticator/keeper/keeper.go
  x/authenticator/keeper/keeper_test.go
  x/authenticator/keeper/msg_server.go
  x/authenticator/keeper/query.go
  x/authenticator/module.go
  x/authenticator/types/account_authenticators.go
  x/authenticator/types/account_authenticators_test.go
  x/authenticator/types/authenticators.go
  x/authenticator/types/models.pb.go
  x/authenticator/types/msgs.go
Labels: C:app-wiring

#6324 Paddy/auth tx and queries
  x/authenticator/client/cli/query.go
  x/authenticator/client/cli/tx.go
  x/authenticator/integration_test.go
  x/authenticator/keeper/keeper.go
  x/authenticator/keeper/msg_server.go
  x/authenticator/keeper/query.go
  x/authenticator/module.go
  x/authenticator/types/account_authenticators.go
  x/authenticator/types/authenticators.go
  x/authenticator/types/msgs.go
Labels: C:CLI, C:app-wiring

#6334 fix: enable taker fee cli
  CHANGELOG.md
  app/keepers/modules.go
  x/poolmanager/client/cli/tx.go
  x/poolmanager/client/proposal_handler.go
  x/poolmanager/client/rest/tx.go
Labels: C:CLI, C:app-wiring, V:state/compatible/backport, C:x/poolmanager, A:backport/v19.x

#6338 [x/lockup] reduce log verbosity on `InitializeAllLocks()`
  x/lockup/keeper/lock.go
Labels: C:x/lockup, V:state/compatible/no_backport, A:no-changelog

#6317 refactor: state-compatible big decimal tick to sqrt price conversions
  CHANGELOG.md
  tests/e2e/e2e_cl_test.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/query.go
  x/concentrated-liquidity/query_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
  x/concentrated-liquidity/types/constants.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v19.x

#6319 refactor: breaking CL tick to sqrt price math min spot price relaxation
  x/concentrated-liquidity/fuzz_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#6323 refactor/test(CL): LP methods with lower min spot price
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#6327 test(CL): swap to new min tick and back
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#6328 test(CL): rewards logic to work on the extended price range
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#6336 osmoutils: error tolerance helpers
  app/upgrades/v16/upgrades_test.go
  app/upgrades/v17/upgrades_test.go
  osmomath/binary_search.go
  osmomath/binary_search_test.go
  osmomath/decimal_test.go
  osmomath/exp2_test.go
  osmoutils/osmoassert/assertions.go
  osmoutils/osmoassert/helpers.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/gamm/keeper/migrate_test.go
  x/gamm/pool-models/balancer/util_test.go
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/poolmanager/router_test.go
  x/superfluid/keeper/concentrated_liquidity_test.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/slash_test.go
  x/twap/strategy_test.go
Labels: C:x/gamm, C:x/epochs, C:x/superfluid, C:app-wiring, C:x/twap, V:state/compatible/no_backport, C:x/concentrated-liquidity, C:x/poolmanager, A:no-changelog

#6352 fix(CL): error blow up in CalcAmount0Delta causes OverChargeSwapOutGivenInError when swapping zero for one
  CHANGELOG.md
  osmoutils/osmoassert/assertions.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#6362 Actually fix historical queries
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-go-client/go.mod
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog

#6364 feat(authenticator): move authenticators to their own package
  app/keepers/keepers.go
  x/authenticator/authenticator/authenticator.go
  x/authenticator/authenticator/manager.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/signature_authenticator_test.go
  x/authenticator/authenticator/util.go
  x/authenticator/integration_test.go
  x/authenticator/keeper/keeper.go
  x/authenticator/keeper/keeper_test.go
  x/authenticator/stateful_authenticator_test.go
  x/authenticator/types/account_authenticators.go
  x/authenticator/types/account_authenticators_test.go
  x/authenticator/types/authenticators.go
Labels: C:app-wiring

#6344 fix: set name, display and symbol of denom metadata in tokenfactory's CreateDenom
  CHANGELOG.md
  x/tokenfactory/keeper/createdenom.go
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/keeper/genesis_test.go
Labels: C:x/tokenfactory, V:state/breaking

#6375 Alessandro/fix e2e docker prune network
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6388 Make cosmwasmpool's create pool cli generic
  CHANGELOG.md
  x/cosmwasmpool/client/cli/tx.go
Labels: C:CLI, V:state/compatible/no_backport

#6381 [Post-Release Automation] Add script to update chain registry on a major release
  chain.schema.json
  scripts/release/update_chain_registry/requirements.txt
  scripts/release/update_chain_registry/run.sh
  scripts/release/update_chain_registry/update_chain_registry.py
  scripts/release/update_chain_registry/utils/__init__.py
  scripts/release/update_chain_registry/utils/go_mod.py
  scripts/release/update_chain_registry/utils/versions.py
Labels: V:state/compatible/no_backport, A:no-changelog

#6395 fix: add wait for e2e go routine
  tests/e2e/helpers_e2e_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#6398 fix: chain.schema.json v19 height
  chain.schema.json
Labels: V:state/compatible/no_backport, A:no-changelog

#6378 [AccountAbstraction] FeePayer handling
  app/ante.go
  tests/osmosisibctesting/chain.go
  x/authenticator/ante/authenticator.go
  x/authenticator/authenticator/interface.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/integration_test.go
  x/authenticator/keeper/keeper.go
  x/authenticator/stateful_authenticator_test.go
  x/authenticator/types/account_authenticators_test.go
Labels: C:app-wiring, V:state/breaking, A:no-changelog

#6372 refactor: break PoolI.SpotPrice API to return BigDec
  CHANGELOG.md
  app/apptesting/gamm.go
  tests/e2e/initialization/config.go
  tests/mocks/cfmm_pool.go
  tests/mocks/cl_pool.go
  tests/mocks/pool.go
  tests/mocks/pool_module.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/swaps_test.go
  x/cosmwasmpool/model/pool.go
  x/cosmwasmpool/model/pool_test.go
  x/cosmwasmpool/model/store_model.go
  x/cosmwasmpool/pool_module.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
  x/poolmanager/types/pool.go
  x/superfluid/keeper/migrate_test.go
Labels: V:state/compatible/backport, A:backport/v19.x

#6383 feat(authenticator): improved test cases for authenticator
  app/ante.go
  x/authenticator/ante/authenticator.go
  x/authenticator/authenticator/interface.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/signature_authenticator_test.go
  x/authenticator/authenticator/util.go
  x/authenticator/integration_test.go
  x/authenticator/post/post.go
  x/authenticator/stateful_authenticator_test.go
  x/authenticator/types/account_authenticators_test.go
Labels: C:app-wiring

#6368 refactor(CL): convert priceLimit API in swaps to BigDec
  CHANGELOG.md
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fuzz_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/range_test.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/types/constants.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v19.x

#6369 refactor/test(CL): Stricter rounding behavior in CL math methods; unit tests at low price level
  CHANGELOG.md
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/python/clmath.py
Labels: V:state/breaking, C:x/concentrated-liquidity

#6282 Fix CreateCanonicalConcentratedLiquidityPoolAndMigrationLink overriding migration records
  CHANGELOG.md
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
Labels: C:x/gamm, V:state/breaking

#6410 fix[e2e]: correct twap in future error
  tests/e2e/e2e_cl_test.go
  tests/e2e/e2e_test.go
  x/twap/logic.go
Labels: C:x/twap, V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6416 feat[CL]: add num initialized ticks query
  CHANGELOG.md
  go.mod
  proto/osmosis/concentrated-liquidity/query.proto
  proto/osmosis/concentrated-liquidity/query.yml
  x/concentrated-liquidity/client/grpc/grpc_query.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/client/queryproto/query.pb.gw.go
  x/concentrated-liquidity/query.go
  x/concentrated-liquidity/query_test.go
  x/concentrated-liquidity/types/errors.go
Labels: C:CLI, V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v19.x

#6309 Add Stargate queries for cosmwasm pool types
  CHANGELOG.md
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking

#6426 bug: send non osmo txfees to community pool instead of stakers
  CHANGELOG.md
  scripts/empty_upgrade_handler_gen.sh
  tests/e2e/README.md
  tests/e2e/containers/config.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
Labels: C:docs, C:x/txfees, T:build, V:state/breaking

#6427 feat(osmoutils): coin math helpers
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/coins/coin_math.go
  osmoutils/coins/coin_math_test.go
Labels: V:state/compatible/backport, A:backport/v19.x

#6440 revert: bug: send non osmo txfees to community pool instead of stakers
  CHANGELOG.md
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
Labels: C:x/txfees, V:state/breaking

#6441 chore: add pool manager params query to cli
  x/poolmanager/client/cli/query.go
Labels: C:CLI, V:state/compatible/backport, C:x/poolmanager, A:no-changelog, A:backport/v19.x

#6439 chore: add module explanation to txfees readme
  x/txfees/README.md
Labels: C:docs, C:x/txfees

#6409 Convert sdk.Int to BigDec
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/decimal.go
  osmomath/decimal_test.go
  x/concentrated-liquidity/math/math.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v19.x

#6438 feat: test multisig transaction
  app/ante.go
  x/authenticator/ante/authenticator.go
  x/authenticator/authenticator/all_of.go
  x/authenticator/authenticator/any_of.go
  x/authenticator/authenticator/interface.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/signature_authenticator_test.go
  x/authenticator/authenticator/spend_limits.go
  x/authenticator/authenticator/util.go
  x/authenticator/testutils/generic_authenticator.go
  x/authenticator/testutils/max_value_authenticator.go
  x/authenticator/testutils/stateful_authenticator.go
Labels: C:app-wiring

#6456 fix: set denom pair taker fee CLI
  x/poolmanager/client/cli/tx.go
Labels: C:CLI, V:state/compatible/backport, C:x/poolmanager, A:no-changelog, A:backport/v19.x

#6460 fix(CI): state compat snapshots version
  .github/workflows/check-state-compatibility.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6463 fix(CI): comment instruction link
  .github/workflows/go-mod-auto-bump.yml
  .github/workflows/go-mod-auto-update-instructions.yaml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6261 osmomath: mutative and efficient BigDec truncations with arbitrary decimals
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/decimal.go
  osmomath/decimal_test.go
  simulation/simtypes/random/sdkrand.go
  x/concentrated-liquidity/math/tick.go
  x/epochs/go.mod
  x/epochs/go.sum
Labels: C:x/epochs, C:simulator, V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v19.x

#6428 osmomath: QuoTruncate with no reallocation
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/decimal.go
  osmomath/decimal_test.go
  x/concentrated-liquidity/math/math.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#6473 chore: v19.1.0 changelog
  CHANGELOG.md
Labels: A:backport/v19.x

#6476 fix(poolincentives): band-aid state export fix for cwpool gauges
  CHANGELOG.md
  x/pool-incentives/keeper/genesis.go
Labels: C:x/pool-incentives, V:state/compatible/backport, A:backport/v19.x

#6481 V19.1.0/post release chores
  chain.schema.json
  networks/osmosis-1/README.md
  networks/osmosis-1/upgrades/v19/mainnet/guide.md
  networks/osmosis-1/upgrades/v19/v19_binaries.json
  scripts/release/create_binaries_json/create_all_binaries_json.sh
  scripts/release/update_chain_registry/update_chain_registry.py
  scripts/release/update_chain_registry/utils/versions.py
Labels: V:state/compatible/no_backport, A:no-changelog

#6420 bypass permissionless concentrated liquidity checks
  CHANGELOG.md
  app/upgrades/v20/upgrades.go
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  proto/osmosis/concentrated-liquidity/params.proto
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/params.go
  x/concentrated-liquidity/types/params.pb.go
  x/cosmwasmpool/keeper.go
  x/epochs/go.mod
  x/gamm/keeper/keeper.go
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/ibc-hooks/keeper/keeper.go
  x/incentives/keeper/params.go
  x/lockup/keeper/keeper.go
  x/mint/keeper/keeper.go
  x/pool-incentives/keeper/params.go
  x/poolmanager/keeper.go
  x/protorev/keeper/params.go
  x/superfluid/keeper/params.go
  x/tokenfactory/keeper/params.go
  x/twap/keeper.go
Labels: C:x/lockup, C:x/gamm, C:x/mint, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:app-wiring, C:x/tokenfactory, C:x/twap, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#6493 Add stargate whitelist for pool manager params
  CHANGELOG.md
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking

#6487 feat: make PoolModuleI CalculateSpotPrice API return BigDec
  CHANGELOG.md
  app/apptesting/gamm.go
  app/apptesting/test_suite.go
  app/upgrades/v16/upgrades_test.go
  app/upgrades/v17/upgrades_test.go
  tests/mocks/pool_module.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/cosmwasmpool/pool_module.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/keeper/swap_test.go
  x/gamm/pool-models/balancer/pool_suite_test.go
  x/gamm/types/constants.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
  x/poolmanager/types/expected_keepers.go
  x/twap/api_test.go
  x/twap/listeners_test.go
  x/twap/logic.go
  x/twap/types/expected_interfaces.go
  x/twap/types/twapmock/amminterface.go
  x/twap/types/utils.go
  x/txfees/keeper/feetokens.go
  x/txfees/keeper/grpc_query.go
  x/txfees/types/expected_keepers.go
Labels: C:CLI, C:x/gamm, C:x/txfees, C:app-wiring, C:x/twap, V:state/compatible/backport, C:x/concentrated-liquidity, C:x/poolmanager, A:backport/v19.x

#6484 docs(cwpool): better document pool models
  proto/osmosis/cosmwasmpool/v1beta1/model/pool.proto
  x/cosmwasmpool/README.md
  x/cosmwasmpool/model/pool.go
  x/cosmwasmpool/model/pool.pb.go
  x/cosmwasmpool/model/store_model.go
Labels: C:docs, V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6478 e2e: add USDC to val account in init image
  tests/e2e/initialization/config.go
Labels: V:state/compatible/no_backport, A:no-changelog

#6431 [VS Incentives]: Update AllocateAcrossGauges to support volume splitting
  go.mod
  go.sum
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/hooks.go
Labels: C:x/incentives, V:state/breaking, A:no-changelog

#6445 [Volume Splitting] refactor: internal addToGaugeRewards helper
  go.mod
  go.sum
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/types/errors.go
Labels: C:x/incentives, V:state/compatible/no_backport, A:no-changelog

#6446 [Volume Splitting]: refactor: rename GroupGauge to Group
  proto/osmosis/incentives/group.proto
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/hooks.go
  x/incentives/keeper/store.go
  x/incentives/keeper/store_test.go
  x/incentives/types/group.pb.go
  x/incentives/types/keys.go
Labels: C:x/incentives, V:state/compatible/no_backport, A:no-changelog

#6502 fix: transient store for auto increment
  app/keepers/keepers.go
  x/authenticator/ante/authenticator.go
  x/authenticator/integration_test.go
  x/authenticator/keeper/keeper.go
  x/authenticator/types/keys.go
Labels: C:app-wiring

#6510 refactor(osmoutils): remove redundant ctx param from DeleteAllKeysFromPrefix
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  osmoutils/store_helper.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/gamm/keeper/migrate.go
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/gamm, C:x/epochs, V:state/compatible/backport, A:backport/v19.x

#6421 Moves `ValidatePermissionlessPoolCreationEnabled` out of poolmanager module
  CHANGELOG.md
  tests/mocks/pool_module.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/cosmwasmpool/pool_module.go
  x/gamm/keeper/keeper.go
  x/poolmanager/create_pool.go
  x/poolmanager/types/expected_keepers.go
Labels: C:x/gamm, V:state/compatible/backport, C:x/concentrated-liquidity, C:x/poolmanager

#6511 refactor(incentives): remove redundant param from CreateGaugeRefKeys
  CHANGELOG.md
  x/incentives/keeper/gauge.go
Labels: C:x/incentives, V:state/compatible/backport, A:backport/v19.x

#6512 [Volume Splitting]: remove references to even splitting policy and rename method to syncVolumeSplitGroup
  proto/osmosis/incentives/group.proto
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/store_test.go
  x/incentives/types/group.pb.go
Labels: C:x/incentives, V:state/breaking, A:no-changelog

#6515 [AccountAbstraction] Making authz aware of authenticators
  app/keepers/authz.go
  app/keepers/keepers.go
  app/modules.go
  x/authenticator/README.md
  x/authenticator/ante/authenticator.go
  x/authenticator/authenticator/all_of.go
  x/authenticator/authenticator/any_of.go
  x/authenticator/authenticator/composition_test.go
  x/authenticator/authenticator/manager.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/spend_limits.go
  x/authenticator/authenticator/spend_limits_test.go
  x/authenticator/iface/iface.go
  x/authenticator/iface/result.go
  x/authenticator/integration_test.go
  x/authenticator/keeper/keeper.go
  x/authenticator/keeper/keeper_test.go
  x/authenticator/post/post.go
  x/authenticator/testutils/generic_authenticator.go
  x/authenticator/testutils/max_value_authenticator.go
  x/authenticator/testutils/stateful_authenticator.go
  x/authenticator/types/account_authenticators.go
  x/authenticator/types/account_authenticators_test.go
  x/authenticator/utils/track.go
Labels: C:docs, C:app-wiring

#6509 [VS Incentives] feat: non-perpetual Group & group Gauge pruning
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/hooks.go
  x/incentives/keeper/store.go
  x/incentives/types/errors.go
  x/incentives/types/gauge.go
  x/incentives/types/gauge_test.go
  x/incentives/types/keys.go
Labels: C:x/incentives, V:state/breaking, A:no-changelog

#6312 dev-ux: fix branch name in gosec workflow
  .github/workflows/gosec.yml
Labels: T:CI, T:dev-UX

#6519 osmomath: ChopPrecision exceeds limit test
  go.mod
  go.sum
  osmomath/decimal_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6534 Register authenticators
  app/keepers/keepers.go
  x/authenticator/authenticator/spend_limits.go
  x/authenticator/authenticator/spend_limits_test.go
  x/authenticator/integration_test.go
Labels: C:app-wiring

#6521 osmomath: rename `Precision(Big)Dec` to `(Big)DecPrecision`
  go.mod
  go.sum
  osmomath/decimal.go
  osmomath/decimal_test.go
  osmomath/sdk_math_alias.go
  osmomath/sqrt_big_test.go
  osmomath/sqrt_test.go
  simulation/simtypes/random/sdkrand.go
  x/concentrated-liquidity/math/precompute.go
  x/concentrated-liquidity/math/tick.go
  x/gamm/keeper/pool_service.go
Labels: C:x/gamm, C:simulator, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v19.x

#6523 [Volume Splitting] feat: implement initGaugeInfo helper
  app/apptesting/test_suite.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/types/expected_keepers.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
  x/pool-incentives/types/errors.go
Labels: C:x/incentives, C:x/pool-incentives, C:app-wiring, V:state/breaking, A:no-changelog

#6468 feat: remove osmo multihop discount
  CHANGELOG.md
  x/poolmanager/README.md
  x/poolmanager/export_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
Labels: C:docs, V:state/breaking, C:x/poolmanager

#6529 [VS Incentives]: feat: group creation fee
  app/upgrades/v20/upgrades.go
  proto/osmosis/incentives/params.proto
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/types/genesis.go
  x/incentives/types/params.go
  x/incentives/types/params.pb.go
Labels: C:x/incentives, C:app-wiring, V:state/breaking, A:no-changelog

#6536 [VS Incentives] refactor/test: move group gauge creation to CreateGauge; address spam concerns
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/types/errors.go
Labels: C:x/incentives, V:state/breaking, A:no-changelog

#6539 [Volume Splitting] feat/test: group creation fee bypassing
  app/upgrades/v20/upgrades.go
  proto/osmosis/incentives/params.proto
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/types/genesis.go
  x/incentives/types/params.go
  x/incentives/types/params.pb.go
Labels: C:x/incentives, C:app-wiring, V:state/breaking, A:no-changelog

#6492 Bump IAVL version from v0.19.4 -> v0.19.7
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/no_backport, A:backport/v19.x

#6535 makefile: add target to run `go mod tidy` in all submodules
  CHANGELOG.md
  Makefile
  osmomath/go.sum
  osmoutils/go.sum
  scripts/tidy_workspace.sh
  tests/cl-genesis-positions/go.sum
  x/ibc-hooks/go.sum
Labels: T:build, V:state/compatible/backport, A:backport/v19.x

#6551 dev-ux: fix go.mod auto update workflow bug
  .github/workflows/go-mod-auto-bump.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6488 feat(poolmanager): v2 SpotPrice query with 36 decimals
  CHANGELOG.md
  cmd/querygen/main.go
  cmd/querygen/templates/grpcTemplate.go
  cmd/querygen/templates/grpc_template.tmpl
  proto/osmosis/poolmanager/v2/query.proto
  proto/osmosis/poolmanager/v2/query.yml
  x/concentrated-liquidity/client/grpc/grpc_query.go
  x/cosmwasmpool/client/grpc/grpc_query.go
  x/downtime-detector/client/grpc/grpc_query.go
  x/ibc-rate-limit/client/grpc/grpc_query.go
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/grpc/grpc_query.go
  x/poolmanager/client/grpcv2/grpc_query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/client/queryprotov2/query.pb.go
  x/poolmanager/client/queryprotov2/query.pb.gw.go
  x/poolmanager/module/module.go
  x/twap/client/grpc/grpc_query.go
  x/valset-pref/client/grpc/grpc_query.go
Labels: C:CLI, C:app-wiring, C:x/twap, V:state/compatible/backport, C:x/concentrated-liquidity, C:x/poolmanager, A:backport/v19.x

#6570 [goreleaser] Remove darwin binaries from goreleaser.yml
  .goreleaser.yaml
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6579 v19.2.0 chores
  chain.schema.json
  networks/osmosis-1/README.md
  networks/osmosis-1/upgrades/v19/mainnet/guide.md
  networks/osmosis-1/upgrades/v19/v19_binaries.json
  scripts/release/create_binaries_json/create_all_binaries_json.sh
Labels: V:state/compatible/no_backport, A:no-changelog

#6565 [VS Incentives]: import/export genesis logic
  proto/osmosis/incentives/genesis.proto
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/genesis.go
  x/incentives/keeper/genesis_test.go
  x/incentives/keeper/store.go
  x/incentives/types/genesis.pb.go
Labels: C:x/incentives, V:state/breaking, A:no-changelog

#6574 [VS Incentives] refactor(poolmanager): trackVolume in swap exact amount in
  x/poolmanager/create_pool_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
Labels: V:state/compatible/no_backport, C:x/poolmanager, A:no-changelog

#6566 refactor/test: edge cases around outdated groups in distribution and no weights
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/types/errors.go
Labels: C:x/incentives, V:state/breaking, A:no-changelog

#6578 [VS Incentives] pool incentives allocation to group gauges test
  x/pool-incentives/keeper/distr_test.go
Labels: C:x/pool-incentives, V:state/compatible/no_backport, A:no-changelog

#6547 [VS Incentives]: gov prop for gauge group creation
  app/app.go
  app/keepers/keepers.go
  app/keepers/modules.go
  go.mod
  go.sum
  osmoutils/osmocli/parsers.go
  proto/osmosis/incentives/gov.proto
  proto/osmosis/incentives/group.proto
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/incentives/client/cli/tx.go
  x/incentives/client/proposal_handler.go
  x/incentives/client/rest/tx.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/gov.go
  x/incentives/keeper/hooks_test.go
  x/incentives/types/codec.go
  x/incentives/types/constants.go
  x/incentives/types/gov.go
  x/incentives/types/gov.pb.go
  x/incentives/types/gov_test.go
  x/incentives/types/group.pb.go
Labels: C:CLI, C:x/incentives, C:x/epochs, C:app-wiring, V:state/breaking, A:no-changelog

#6587 [VS Incentives]: more group distribution tests
  osmoutils/osmoassert/assertions.go
  x/incentives/keeper/hooks_test.go
Labels: C:x/incentives, V:state/compatible/no_backport, A:no-changelog

#6588 [VS Incentives]: create group msg
  go.mod
  go.sum
  osmoutils/osmoassert/assertions.go
  proto/osmosis/incentives/tx.proto
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/incentives/client/cli/tx.go
  x/incentives/keeper/msg_server.go
  x/incentives/keeper/msg_server_test.go
  x/incentives/types/events.go
  x/incentives/types/msgs.go
  x/incentives/types/msgs_test.go
  x/incentives/types/tx.pb.go
Labels: C:CLI, C:x/incentives, C:x/epochs, V:state/breaking, A:no-changelog

#6167 EstimateTradeBasedOnPriceImpact Query
  CHANGELOG.md
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
  client/docs/statik/statik.go
  cmd/osmosisd/cmd/stargate-query.go
  proto/osmosis/poolmanager/v1beta1/query.proto
  proto/osmosis/poolmanager/v1beta1/query.yml
  x/poolmanager/README.md
  x/poolmanager/client/cli/cli_test.go
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/cli/query_test.go
  x/poolmanager/client/grpc/grpc_query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
Labels: C:docs, C:CLI, V:state/breaking, C:x/poolmanager

#6589 [Volume Splitting] refactor: sync weights on group creation
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/genesis_test.go
  x/incentives/keeper/hooks_test.go
  x/pool-incentives/keeper/distr_test.go
Labels: C:x/incentives, C:x/pool-incentives, V:state/breaking, A:no-changelog

#6597 fix: test failure on main stemming from group test
  x/incentives/keeper/msg_server_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#6598 [VS Incentives]: distribution test for changing volume between epochs
  x/incentives/keeper/hooks_test.go
Labels: C:x/incentives, V:state/compatible/no_backport, A:no-changelog

#6584 rename(osmoutils/coins): rename `coins` package to `coinutil`
  go.mod
  go.sum
  osmoutils/coinutil/coin_math.go
  osmoutils/coinutil/coin_math_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/hooks_test.go
  x/pool-incentives/keeper/distr_test.go
Labels: C:x/incentives, C:x/epochs, C:x/pool-incentives, V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6594 [VS Incentives]: queries
  proto/osmosis/incentives/group.proto
  proto/osmosis/incentives/query.proto
  proto/osmosis/poolmanager/v1beta1/query.proto
  proto/osmosis/poolmanager/v1beta1/query.yml
  x/incentives/client/cli/query.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/store.go
  x/incentives/keeper/store_test.go
  x/incentives/types/group.pb.go
  x/incentives/types/query.pb.go
  x/incentives/types/query.pb.gw.go
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/grpc/grpc_query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
Labels: C:CLI, C:x/incentives, V:state/breaking, C:x/poolmanager, A:no-changelog

#6599 [VS Incentives]: remaining after epoch group test vectors
  app/apptesting/concentrated_liquidity.go
  x/concentrated-liquidity/position_test.go
  x/incentives/keeper/hooks_test.go
Labels: C:x/incentives, C:app-wiring, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog
