Repository osmosis-labs/osmosis, pull requests merged in 2023-06, with the labels that each got.

#5378 Internal Review][CL][deletePosition]: test edge cases where one of the indexes does not exist
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5386 Add Help Wanted and Good First Issue labels to link checker report
  .github/workflows/check-broken-links.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#5357 feat: do not require changelog and state machine labels for markdown only changes
  .github/workflows/changelog-entry-reminder.yml
  .github/workflows/required_labels.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#5347 docs(crosschain_swaps): update xcs readme
  cosmwasm/contracts/crosschain-swaps/README.md
Labels: V:state/compatible/no_backport, A:no-changelog

#5388 [CL][bugfix]: Fix SwapInGivenOut to track fees with the correct denom
  x/concentrated-liquidity/swaps.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5392 Fix amino-name for MsgSwapExactAmountIn
  proto/osmosis/gamm/v1beta1/tx.proto
  x/gamm/types/tx.pb.go
Labels: C:x/gamm, V:state/compatible/backport, A:backport/v15.x, A:no-changelog, A:backport/v16.x

#5393 [Superfluid] Delete wrong check in `ValidateBasic` of `MsgUnlockAndMigrateSharesToFullRangeConcentratedPosition`
  CHANGELOG.md
  x/superfluid/types/msgs.go
Labels: C:x/superfluid, V:state/compatible/no_backport, A:no-changelog

#5185 [CL][Internal Review] CLI and query for incentive records per pool
  proto/osmosis/concentrated-liquidity/query.proto
  proto/osmosis/concentrated-liquidity/query.yml
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/client/grpc/grpc_query.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/client/queryproto/query.pb.gw.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5389 Excempt more PR-types from required labels
  .github/workflows/changelog-entry-reminder.yml
  .github/workflows/required_labels.yml
Labels: T:CI

#5398 Update CL scripts
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
Labels: A:automerge, V:state/compatible/no_backport, A:no-changelog

#5401 Fix update import paths workflow
  scripts/replace_import_paths.sh
  x/twap/README.md
  x/twap/TWAP_module-process_flow.png
Labels: C:docs, T:build, C:x/twap, V:state/compatible/no_backport, A:no-changelog

#5381 refactor/test(x/cosmwasmpool): tokenfactory shares and updated transmuter
  simulation/simtypes/txbuilder.go
  wasmbinding/test/custom_msg_test.go
  wasmbinding/test/messages_test.go
  x/cosmwasmpool/bytecode/transmuter.wasm
  x/cosmwasmpool/cosmwasm/msg/transmuter/transmuter_test.go
  x/cosmwasmpool/pool_module_test.go
  x/tokenfactory/client/cli/query_test.go
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/keeper/keeper_test.go
  x/tokenfactory/keeper/msg_server_test.go
  x/tokenfactory/types/params.go
Labels: C:CLI, C:x/tokenfactory, C:simulator, V:state/compatible/no_backport, A:no-changelog

#5370 refactor(x/cosmwasmpool): return contract address as pool address
  proto/osmosis/cosmwasmpool/v1beta1/model/pool.proto
  x/cosmwasmpool/model/pool.go
  x/cosmwasmpool/model/pool.pb.go
  x/cosmwasmpool/types/errors.go
  x/poolmanager/create_pool.go
  x/poolmanager/create_pool_test.go
Labels: V:state/compatible/no_backport, C:x/poolmanager, A:no-changelog

#5406 Revert "[CL][Internal Review][CollectIncentives] fix uptime Accumulator init genesis (#5076)"
  proto/osmosis/concentrated-liquidity/genesis.proto
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/types/genesis/genesis.pb.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5377 chore: add pagination to user positions query
  proto/osmosis/concentrated-liquidity/query.proto
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/tick_test.go
Labels: C:CLI, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5380 feat: add ica authorized messages in upgrade handler
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
Labels: C:app-wiring, V:state/breaking, A:no-changelog

#5374 CreatePosition randomize TokenMinAmount0, TokenMinAmount1
  x/concentrated-liquidity/simulation/sim_msgs.go
Labels: C:simulator, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5411 [CL][Internal Review][CollectIncentives] fix uptime Accumulator init genesis [part2]
  proto/osmosis/concentrated-liquidity/genesis.proto
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/types/genesis/genesis.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5409 [chore] update all gomod sdk version
  app/upgrades/v16/upgrades.go
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#5417 [CL][bugfix]: Fix incentive emission share calculation
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5415 feat: Adding new labels to import_paths.yml workflow
  .github/workflows/import_paths.yml
Labels: T:CI

#5410 [Internal Review][CL][fungifyChargedPosition] add functional test fungifying in-between swaps
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/position_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5346 docs(x/cosmwasmpool): code id whitelist via gov props
  x/cosmwasmpool/README.md
Labels: C:docs, V:state/compatible/no_backport, A:no-changelog

#5400 feat[CL]: redirect distribution record on migrate link
  app/apptesting/concentrated_liquidity.go
  app/keepers/keepers.go
  app/upgrades/v16/concentrated_pool.go
  app/upgrades/v16/concentrated_pool_test.go
  go.mod
  go.sum
  osmoutils/store_helper.go
  tests/cl-genesis-positions/convert.go
  tests/cl-genesis-positions/edit_localosmosis_genesis.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  tests/cl-go-client/main.go
  x/concentrated-liquidity/incentives_test.go
  x/gamm/keeper/export_test.go
  x/gamm/keeper/genesis.go
  x/gamm/keeper/genesis_test.go
  x/gamm/keeper/keeper.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/types/expected_keepers.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server_test.go
Labels: C:x/gamm, C:x/superfluid, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5435 [CL][tests]: Add option to handle rounding in position setup helper
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position_test.go
Labels: C:x/concentrated-liquidity, F: concentrated-liquidity

#5045 Protorev: Use hooks instead of message parsing to trigger backruns
  CHANGELOG.md
  app/keepers/keepers.go
  x/protorev/keeper/epoch_hook_test.go
  x/protorev/keeper/hooks.go
  x/protorev/keeper/hooks_test.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/posthandler.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/protorev.go
  x/protorev/types/expected_keepers.go
  x/protorev/types/keys.go
Labels: C:app-wiring, V:state/breaking, protorev

#5444 feat: run mutation script on specific files
  scripts/mutation-test.sh
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#5376 feat(cosmwasmpool): code id whitelist props
  app/apptesting/cosmwasmpool.go
  app/keepers/keepers.go
  app/modules.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  go.mod
  go.sum
  osmoutils/slice_helper.go
  osmoutils/slice_helper_test.go
  proto/osmosis/cosmwasmpool/v1beta1/genesis.proto
  proto/osmosis/cosmwasmpool/v1beta1/gov.proto
  proto/osmosis/cosmwasmpool/v1beta1/params.proto
  proto/osmosis/cosmwasmpool/v1beta1/query.proto
  x/cosmwasmpool/bytecode/transmuter_migrate.wasm
  x/cosmwasmpool/client/queryproto/query.pb.go
  x/cosmwasmpool/export_test.go
  x/cosmwasmpool/genesis.go
  x/cosmwasmpool/gov.go
  x/cosmwasmpool/gov_test.go
  x/cosmwasmpool/module/module.go
  x/cosmwasmpool/pool_module.go
  x/cosmwasmpool/pool_module_test.go
  x/cosmwasmpool/types/errors.go
  x/cosmwasmpool/types/events.go
  x/cosmwasmpool/types/expected_keepers.go
  x/cosmwasmpool/types/genesis.go
  x/cosmwasmpool/types/genesis.pb.go
  x/cosmwasmpool/types/gov.go
  x/cosmwasmpool/types/gov.pb.go
  x/cosmwasmpool/types/gov_test.go
  x/cosmwasmpool/types/keys.go
  x/cosmwasmpool/types/params.go
  x/cosmwasmpool/types/params.pb.go
  x/cosmwasmpool/whitelist.go
  x/cosmwasmpool/whitelist_test.go
  x/poolmanager/create_pool_test.go
Labels: C:CLI, C:app-wiring, V:state/compatible/no_backport, C:x/poolmanager, A:no-changelog

#5456 feat/docs: CL swap tool
  Makefile
  tests/cl-go-client/README.md
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  tests/cl-go-client/main.go
Labels: C:docs, T:build, V:state/compatible/no_backport, A:no-changelog

#5455 fix: sf unbonding migration patch
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/synthetic_lock_wrapper.go
Labels: C:x/superfluid, V:state/breaking, A:no-changelog

#5463 Fix cosmwaspool proto package definition
  proto/osmosis/cosmwasmpool/v1beta1/gov.proto
  x/cosmwasmpool/types/gov.pb.go
Labels: V:state/breaking, A:no-changelog

#5464 misc: Fix typo in yaml for MsgAddToPosition
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/types/tx.pb.go
Labels: V:state/compatible/no_backport, A:no-changelog

#5467 Write test for owner check in CL, fixes ownership check bug
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/spread_rewards.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5468 [fix] Reduce tokenfactory gas fee
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
  x/tokenfactory/types/params.go
Labels: C:x/tokenfactory, V:state/breaking

#5479 Change token factory wasm keeper from hook to keeper
  app/keepers/keepers.go
  x/tokenfactory/keeper/before_send.go
  x/tokenfactory/keeper/keeper.go
  x/tokenfactory/types/expected_keepers.go
Labels: C:app-wiring, C:x/tokenfactory, V:state/breaking, A:no-changelog

#5482 Misc: (small) add some mutation testing (1/x)
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5465 chore: add pool link queries
  go.mod
  proto/osmosis/concentrated-liquidity/query.proto
  proto/osmosis/concentrated-liquidity/query.yml
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/client/grpc/grpc_query.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/client/queryproto/query.pb.gw.go
  x/concentrated-liquidity/pool.go
  x/gamm/client/cli/query.go
Labels: C:CLI, C:x/gamm, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5469 [CL]: Fix two critical tick iterator-related bugs
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/tick.go
Labels: T:bug 🐛, V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity, A:no-changelog

#5460 Fix Swagger Gen and `make docs` command
  scripts/generate-docs.sh
Labels: C:docs, T:dev-UX, V:state/compatible/no_backport, A:no-changelog

#5486 Attempt fixing cosmwasmpool CI flaky test
  x/cosmwasmpool/bytecode/transmuter.wasm
  x/cosmwasmpool/bytecode/transmuter_migrate.wasm
Labels: V:state/compatible/no_backport, A:no-changelog

#5487 Revert "[CL]: Fix two critical tick iterator-related bugs"
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/tick.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5484 delete joinTime from the response of create position
  app/apptesting/concentrated_liquidity.go
  app/upgrades/v16/upgrades.go
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/cl-genesis-positions/convert.go
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/tx.pb.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/types/events.go
  x/gamm/types/expected_keepers.go
  x/lockup/keeper/lock_test.go
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/keeper/concentrated_liquidity_test.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/types/events.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/lockup, C:x/gamm, C:x/superfluid, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5475 refactor/fix: external vs internal pool id and gauge id links for "NoLock" gauge
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/types/expected_keepers.go
  x/incentives/types/keys.go
  x/pool-incentives/keeper/genesis.go
  x/pool-incentives/keeper/genesis_test.go
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
  x/pool-incentives/types/key.go
Labels: C:x/incentives, C:x/pool-incentives, V:state/breaking, A:no-changelog

#5483 refactor: remove msg fungify
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5488 refactor: emitLiquidityChangeEvent To Use Struct Params
  x/concentrated-liquidity/event.go
  x/concentrated-liquidity/lp.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5478 chore: temp disable cw pool tests
  app/apptesting/cosmwasmpool.go
  x/cosmwasmpool/cosmwasm/msg/transmuter/transmuter_test.go
  x/cosmwasmpool/model/pool_test.go
  x/cosmwasmpool/pool_module_test.go
  x/cosmwasmpool/whitelist_test.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#5458 feat/docs: CL external incentives tool
  Makefile
  tests/cl-go-client/README.md
  tests/cl-go-client/main.go
  tests/localosmosis/scripts/setup.sh
Labels: C:docs, T:build, V:state/compatible/no_backport, A:no-changelog

#5459 feat: NoLock gauge type and external gauge creation wiring to CL
  CHANGELOG.md
  proto/osmosis/incentives/tx.proto
  proto/osmosis/lockup/lock.proto
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  tests/cl-go-client/main.go
  x/concentrated-liquidity/README.md
  x/cosmwasmpool/cosmwasm/msg/transmuter/transmuter_test.go
  x/incentives/README.md
  x/incentives/keeper/bench_test.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/genesis_test.go
  x/incentives/keeper/keeper_test.go
  x/incentives/keeper/msg_server.go
  x/incentives/keeper/suite_test.go
  x/incentives/types/expected_keepers.go
  x/incentives/types/keys.go
  x/incentives/types/msgs.go
  x/incentives/types/msgs_test.go
  x/incentives/types/tx.pb.go
  x/lockup/types/lock.pb.go
  x/pool-incentives/keeper/genesis.go
  x/pool-incentives/keeper/genesis_test.go
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
  x/pool-incentives/types/expected_keepers.go
  x/pool-incentives/types/key.go
  x/superfluid/keeper/intermediary_account.go
  x/superfluid/types/expected_keepers.go
Labels: C:docs, C:x/lockup, C:x/incentives, C:x/pool-incentives, C:x/superfluid, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5457 chore: mutation test (1/x) incentives updates (2/x)
  osmoutils/accum/accum_helpers.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/math/math.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5442 chore: mutation test (1/x) incentives updates (1/x)
  go.mod
  go.sum
  osmoutils/accum/accum_helpers.go
  proto/osmosis/concentrated-liquidity/position.proto
  proto/osmosis/concentrated-liquidity/query.proto
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/model/position.pb.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: C:CLI, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5499 Minor DRY-ing and notes on swap
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5498 Use more precomputation for price to tick
  x/concentrated-liquidity/math/precompute.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/types/constants.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5505 Add tests from mutation test for Concentrated Liquidity
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5501 Combine same swap logic together across both swap types
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/export_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5454 Update swagger for v16
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
  client/docs/statik/statik.go
Labels: C:CLI, V:state/compatible/no_backport, A:no-changelog

#5470 Note accum key factor potential bugs/pit falls
  osmoutils/accum/accum.go
  osmoutils/accum/prefix.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/keys_test.go
  x/concentrated-liquidity/types/keyspace.md
Labels: C:docs, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5503 fix: add pool manager spot price query to stargate whitelist
  CHANGELOG.md
  wasmbinding/query_plugin_test.go
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking

#5491 [CL]: Fix oneForZero tick iterator bug
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/tick.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5513 Jl/add protorev profits to genesis export
  proto/osmosis/protorev/v1beta1/genesis.proto
  x/protorev/keeper/genesis.go
  x/protorev/keeper/genesis_test.go
  x/protorev/types/genesis.go
  x/protorev/types/genesis.pb.go
Labels: V:state/compatible/no_backport, protorev, A:no-changelog

#5448 feat: CLI, queries and final changes for CW Pool
  Makefile
  app/apptesting/cosmwasmpool.go
  app/keepers/modules.go
  osmoutils/cosmwasm/helpers.go
  proto/osmosis/cosmwasmpool/v1beta1/query.proto
  proto/osmosis/cosmwasmpool/v1beta1/query.yml
  tests/e2e/e2e_test.go
  tests/mocks/cfmm_pool.go
  tests/mocks/cl_pool.go
  tests/mocks/pool.go
  x/concentrated-liquidity/model/pool.go
  x/cosmwasmpool/client/cli/query.go
  x/cosmwasmpool/client/cli/tx.go
  x/cosmwasmpool/client/grpc/grpc_query.go
  x/cosmwasmpool/client/proposal_handler.go
  x/cosmwasmpool/client/query_proto_wrap.go
  x/cosmwasmpool/client/queryproto/query.pb.go
  x/cosmwasmpool/client/queryproto/query.pb.gw.go
  x/cosmwasmpool/cosmwasm/msg/transmuter/transmuter_test.go
  x/cosmwasmpool/keeper.go
  x/cosmwasmpool/model/codec.go
  x/cosmwasmpool/model/pool.go
  x/cosmwasmpool/model/pool_test.go
  x/cosmwasmpool/model/store_model.go
  x/cosmwasmpool/module/module.go
  x/cosmwasmpool/msg_server.go
  x/cosmwasmpool/pool_module_test.go
  x/cosmwasmpool/store.go
  x/cosmwasmpool/types/codec.go
  x/cosmwasmpool/types/expected_keepers.go
  x/cosmwasmpool/types/pool.go
  x/cosmwasmpool/whitelist_test.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/stableswap/pool.go
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/router_test.go
  x/poolmanager/types/pool.go
Labels: C:CLI, C:x/gamm, T:build, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager, A:no-changelog

#5267 fix: use min_amount field in AddToPosition Msg correspond to amount being added
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5514 [CL][tests]: Extract global invariant helpers from functional tests
  osmomath/binary_search.go
  x/concentrated-liquidity/invariant_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5496 refactor/fix(CL): add IDs to incentive record keys to avoid overwriting
  proto/osmosis/concentrated-liquidity/genesis.proto
  proto/osmosis/concentrated-liquidity/incentive_record.proto
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/genesis/genesis.go
  x/concentrated-liquidity/types/genesis/genesis.pb.go
  x/concentrated-liquidity/types/incentive_record.pb.go
  x/concentrated-liquidity/types/keys.go
  x/incentives/keeper/distribute_test.go
Labels: C:docs, C:x/incentives, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5530 fix[CL]: forfeit to community pool
  proto/osmosis/concentrated-liquidity/position.proto
  proto/osmosis/concentrated-liquidity/query.proto
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/model/position.pb.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: C:CLI, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5543 Monotonic square root
  osmomath/sqrt.go
  osmomath/sqrt_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#5537 Move more logic into swap state
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5545 fix CL proto structure to be consistent with gamm proto file structures
  proto/osmosis/concentrated-liquidity/pool-model/concentrated/tx.proto
  x/concentrated-liquidity/clmodule/module.go
  x/concentrated-liquidity/model/codec.go
  x/concentrated-liquidity/model/tx.pb.go
  x/concentrated-liquidity/msg_server.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5553 chore/docs: tick, bucket, range definitions and renames
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
Labels: C:docs, V:state/compatible/no_backport, C:x/concentrated-liquidity, F: concentrated-liquidity, A:no-changelog

#5511 [fix] Fix CreateGauge CLI and add gas cost to create gauge
  CHANGELOG.md
  x/incentives/client/cli/tx.go
  x/incentives/keeper/gauge.go
  x/incentives/types/constants.go
  x/incentives/types/msgs.go
  x/incentives/types/msgs_test.go
Labels: C:CLI, C:x/incentives, V:state/compatible/no_backport, A:no-changelog

#5509 Add cache cleanup workflow
  .github/workflows/cleanup-cache.yaml
Labels: V:state/compatible/no_backport, A:no-changelog

#5561 [CL]: Extract invariant and range test changes from bugfix PR
  x/concentrated-liquidity/invariant_test.go
  x/concentrated-liquidity/range_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5548 test: more CL mutations
  .github/workflows/mutest-issue-generate.yml
  proto/osmosis/concentrated-liquidity/tx.proto
  scripts/mutation-test.sh
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/types/gov_test.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: T:CI, T:build, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5453 Optimize Genesis for CL Module
  proto/osmosis/concentrated-liquidity/genesis.proto
  tests/cl-genesis-positions/convert.go
  tests/cl-genesis-positions/edit_localosmosis_genesis.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/genesis/genesis.go
  x/concentrated-liquidity/types/genesis/genesis.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5532 fix: fix `x/tokenfactory` genesis import denoms reset `x/bank` existing denom metadata
  CHANGELOG.md
  x/tokenfactory/keeper/createdenom.go
  x/tokenfactory/keeper/createdenom_test.go
  x/tokenfactory/keeper/genesis_test.go
Labels: C:x/tokenfactory, V:state/breaking

#5552 docs: precision issues around price; short and long term solution
  x/concentrated-liquidity/README.md
Labels: C:docs, A:automerge, C:x/concentrated-liquidity, F: concentrated-liquidity, A:no-changelog

#5569 Make go tests only run if relevant
  .github/workflows/test.yml
Labels: T:CI

#5560 CL: migration functional test
  app/apptesting/test_suite.go
  x/superfluid/keeper/migrate_test.go
Labels: C:x/superfluid, A:automerge, C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#5541 [CL]: Fix tick rounding bug and implement direct conversion from tick <> sqrt price
  app/apptesting/concentrated_liquidity.go
  tests/cl-genesis-positions/convert.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/range_test.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: A:automerge, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5544 Add mutation testing for CL module
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/types/genesis/genesis.go
  x/concentrated-liquidity/types/genesis/genesis_test.go
  x/concentrated-liquidity/types/keys_test.go
  x/concentrated-liquidity/types/msgs_test.go
  x/concentrated-liquidity/types/params_test.go
Labels: A:automerge, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5526 fix(CL): tick iterator bugs and tests
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/types/cl_pool_extensionI.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5546 CL: Reduce number of function params and returns
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/range_test.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5577 chore: fix conflict
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/position_test.go
Labels: V:state/compatible/no_backport, F: concentrated-liquidity, A:no-changelog

#5579 Dev python work for swaps_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/python/README.md
  x/concentrated-liquidity/python/clmath.py
  x/concentrated-liquidity/python/swap_test.py
  x/concentrated-liquidity/swaps_test.go
Labels: C:docs, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5578 fix/test: GetTickLiquidityNetInDirection start tick and tests
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5592 [CL]: Use monotonic sqrt in place of `ApproxRoot` in CL and update swap tests
  go.mod
  go.sum
  osmomath/sqrt.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/python/clmath.py
  x/concentrated-liquidity/python/swap_test.py
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/types/constants.go
  x/poolmanager/router_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager, A:no-changelog

#5591 fix: zero for one tick crossing bug for swap in given out
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5534 fix: fix the account number of `x/tokenfactory` module account
  CHANGELOG.md
  x/tokenfactory/keeper/keeper.go
  x/tokenfactory/keeper/keeper_test.go
  x/tokenfactory/types/expected_keepers.go
Labels: C:x/tokenfactory, V:state/compatible/no_backport

#5565 CL: add randomness to migration test
  go.mod
  go.sum
  osmoutils/compare.go
  osmoutils/compare_test.go
  x/superfluid/keeper/migrate_test.go
Labels: C:x/superfluid, V:state/compatible/no_backport, A:no-changelog

#5593 Add Stargate Whitelist queries for Concentrated Liquidity
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking, A:no-changelog

#5551 [CL]: Increase min tick past canonical tick range
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/python/swap_test.py
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/constants.go
  x/gamm/keeper/migrate_test.go
  x/protorev/keeper/epoch_hook_test.go
  x/superfluid/keeper/concentrated_liquidity_test.go
Labels: C:x/gamm, C:x/superfluid, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5581 fix/test: separate min initialized and min current ticks; swap tests at min and max tick
  tests/cl-go-client/main.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/keys_test.go
  x/concentrated-liquidity/types/params.go
  x/concentrated-liquidity/types/params_test.go
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/keeper/epoch.go
  x/superfluid/types/errors.go
Labels: C:x/superfluid, C:simulator, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5595 docs(CL): tick crossing, full range, min and max ticks
  x/concentrated-liquidity/README.md
Labels: C:docs, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5589 fix: add indirect incentivized pools to incentivized pools query
  CHANGELOG.md
  app/keepers/keepers.go
  proto/osmosis/gamm/v1beta1/genesis.proto
  proto/osmosis/gamm/v1beta1/gov.proto
  proto/osmosis/gamm/v1beta1/shared.proto
  proto/osmosis/pool-incentives/v1beta1/shared.proto
  x/gamm/types/genesis.pb.go
  x/gamm/types/gov.pb.go
  x/gamm/types/shared.pb.go
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/types/expected_keepers.go
  x/pool-incentives/types/shared.pb.go
  x/superfluid/keeper/migrate.go
Labels: C:x/gamm, C:x/pool-incentives, C:x/superfluid, C:app-wiring, V:state/breaking

#5500 [Internal Review][CL][GaugeDistribute] add functional test distributing coins using CL no-lock gauges
  go.mod
  go.sum
  osmoutils/coin_helper.go
  osmoutils/coin_helper_test.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/keeper_test.go
Labels: C:x/incentives, V:state/compatible/no_backport, A:no-changelog

#5371 test: add tests for lock reward receiver for superfluid
  x/superfluid/keeper/distribution_test.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/epoch_test.go
  x/superfluid/keeper/export_test.go
Labels: C:x/superfluid, V:state/compatible/no_backport, A:no-changelog

#5582 fix/test: swap over contiguously initialized ticks with spacing of one
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5596 chore: import cycle resolution with migration records
  app/keepers/keepers.go
  app/upgrades/v16/concentrated_pool.go
  app/upgrades/v16/concentrated_pool_test.go
  proto/osmosis/gamm/v1beta1/shared.proto
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/incentives_test.go
  x/gamm/client/cli/tx.go
  x/gamm/keeper/genesis.go
  x/gamm/keeper/genesis_test.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/types/genesis.go
  x/gamm/types/genesis.pb.go
  x/gamm/types/gov.go
  x/gamm/types/gov.pb.go
  x/gamm/types/gov_test.go
  x/gamm/types/migration/shared.pb.go
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/types/expected_keepers.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/types/expected_keepers.go
Labels: C:CLI, C:x/gamm, C:x/pool-incentives, C:x/superfluid, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5590 test(CL): liquidity from amount bounds after swaps
  x/concentrated-liquidity/swaps_tick_cross_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5604 [ci] Remove unused state-sync github action
  .github/workflows/statesync.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5600 query: user<>clPool positions breakdown for superfluid
  proto/osmosis/superfluid/query.proto
  proto/osmosis/superfluid/superfluid.proto
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/query.pb.go
  x/superfluid/types/query.pb.gw.go
  x/superfluid/types/superfluid.pb.go
Labels: C:x/superfluid, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5610 fix: remove duplicate suite
  x/concentrated-liquidity/swaps_tick_cross_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5611 Introduce ResetTest, use in CL for 2x test speedup
  app/apptesting/test_suite.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/invariant_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
  x/concentrated-liquidity/tick_test.go
  x/gamm/keeper/gas_test.go
  x/gamm/keeper/keeper_test.go
  x/gamm/keeper/msg_server_test.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/msgs_test.go
  x/gamm/pool-models/balancer/pool_suite_test.go
Labels: C:x/gamm, A:automerge, C:app-wiring, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5603 [ci] Improve build Github Action
  .github/workflows/build.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5614 chore: remove tf bank hooks from v16.x
  app/keepers/keepers.go
  proto/osmosis/tokenfactory/v1beta1/query.proto
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  x/tokenfactory/client/cli/query.go
  x/tokenfactory/client/cli/tx.go
  x/tokenfactory/keeper/before_send.go
  x/tokenfactory/keeper/before_send_test.go
  x/tokenfactory/keeper/grpc_query.go
  x/tokenfactory/keeper/msg_server.go
  x/tokenfactory/types/codec.go
  x/tokenfactory/types/msgs.go
  x/tokenfactory/types/query.pb.go
  x/tokenfactory/types/query.pb.gw.go
  x/tokenfactory/types/tx.pb.go
Labels: C:CLI, C:app-wiring, C:x/tokenfactory, V:state/breaking, A:no-changelog

#5602 [ci] Paralleze go tests github actions
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5620 Ci improvements/remove double caching
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test-e2e-makefile.yml
  .github/workflows/test.yml
  .github/workflows/update-go-import-paths.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5559 [CL]: Expand randomized position range tests to include incentive records
  x/concentrated-liquidity/invariant_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/range_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5616 Remove proto deserialization from HasPosition
  go.mod
  go.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
  osmoutils/store_helper.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/spread_rewards.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5627 Add CI to generate and update docs
  .github/workflows/generate-docs.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#5626 chore: Update swagger for v16.x
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
  client/docs/statik/statik.go
Labels: C:CLI, T:CI, C:x/superfluid, C:app-wiring, C:x/tokenfactory, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5480 Backport: Emited IBC errors should also be logged
  osmoutils/ibc.go
Labels: V:state/compatible/no_backport, A:no-changelog

#5621 [ci] Add github action to remove old workflow runs
  .github/workflows/delete-workflow-runs.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#5633 fix: upgrade handler dai amount change
  app/upgrades/v16/concentrated_pool_test.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  tests/e2e/containers/config.go
  tests/e2e/e2e_test.go
  tests/e2e/initialization/config.go
  tests/e2e/scripts/daiosmov16.json
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5594 add flowcharts images to README.md in tokenfactory module
  x/tokenfactory/README.md
  x/tokenfactory/images/Burn.png
  x/tokenfactory/images/ChangeAdmin.png
  x/tokenfactory/images/CreateDenom.png
  x/tokenfactory/images/Mint.png
  x/tokenfactory/images/SetDenomMetadata.png
Labels: C:docs, C:x/tokenfactory, V:state/compatible/no_backport, A:no-changelog

#5609 [CL]: Reproduce infinite loop in swap logic
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5641 misc: final cleanup from audit results
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/spread_rewards.go
Labels: A:automerge, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5650 Reduce clmath test compilation time, fix discrepancy in rounding
  app/apptesting/concentrated_liquidity.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/range_test.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
Labels: C:app-wiring, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5631 Revert "Optimize Genesis for CL Module (#5453)"
  proto/osmosis/concentrated-liquidity/genesis.proto
  tests/cl-genesis-positions/convert.go
  tests/cl-genesis-positions/edit_localosmosis_genesis.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/genesis/genesis.go
  x/concentrated-liquidity/types/genesis/genesis.pb.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5654 Speedup approx script
  scripts/approximations/polynomial.py
Labels: V:state/compatible/no_backport, A:no-changelog

#5659 fix: modify v16 upgrade handler
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/upgrade.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5658 Update test script deps
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5663 CLI fix: `create-gauge` exact args
  x/incentives/client/cli/tx.go
Labels: T:bug 🐛, C:CLI, C:x/incentives, V:state/compatible/backport, A:no-changelog

#5662 Fix testing errors in tick tests
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5617 Driveby apptesting changes I made, while looking at other testing things
  app/apptesting/gamm.go
  app/apptesting/test_suite.go
  osmoutils/accum/accum_test.go
  x/gamm/keeper/migrate_test.go
  x/poolmanager/create_pool_test.go
  x/poolmanager/keeper_test.go
  x/poolmanager/router_test.go
  x/superfluid/keeper/concentrated_liquidity_test.go
Labels: C:x/gamm, C:x/superfluid, C:app-wiring, V:state/compatible/backport, C:x/poolmanager, A:no-changelog, A:backport/v16.x

#5615 [CL: Audit] Superfluid Migration audit / cleanup
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
Labels: C:x/superfluid, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5668 fix: cl sf positions per user per pool query
  x/superfluid/keeper/grpc_query.go
Labels: C:x/superfluid, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5671 chore: upgrade handler ascii
  app/app.go
  app/upgrades/v16/upgrades.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5677 Update go scripts
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
Labels: V:state/compatible/no_backport, A:no-changelog

#5682 fix: pass through non sf locks in query
  x/superfluid/keeper/grpc_query.go
Labels: C:x/superfluid, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5647 refactor/fix: swap step iteration limit
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5687 Add lock reward receiver testing script, add minor fix for cli command
  scripts/test_lock_reward_receiver.sh
  x/lockup/client/cli/query.go
  x/lockup/client/cli/tx.go
Labels: C:x/lockup, C:CLI, T:build, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5691 chore: sf undelegating / delegated cl queries
  proto/osmosis/superfluid/query.proto
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/types/query.pb.go
  x/superfluid/types/query.pb.gw.go
Labels: C:x/superfluid, V:state/compatible/backport, A:no-changelog, A:backport/v16.x
