Repository osmosis-labs/osmosis, pull requests merged in 2023-12, with the labels that each got.

#6964 feat: allow protorev module account to recieve tokens
  CHANGELOG.md
  app/app.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/rebalance_test.go
Labels: C:app-wiring, V:state/breaking, A:backport/v21.x

#6886 fix: Add Err handling for ABCI Query Route for wasm binded query
  CHANGELOG.md
  wasmbinding/query_plugin.go
Labels: V:state/breaking

#6971 feat(SQS): prometheus metrics for latency and rps
  ingest/sqs/middleware/middleware.go
  ingest/sqs/router/delivery/http/router_handler.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#6969 (SQS) Return 501 upon node not being synced
  ingest/sqs/system/delivery/http/system_http_handler.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#6978 feat(SQS): app wiring; configs; makefile; localosmosis
  .vscode/launch.json
  Makefile
  app/app.go
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  ingest/sqs/domain/router.go
  ingest/sqs/pools/common/keepers.go
  ingest/sqs/pools/ingester/redis/pool_ingester.go
  ingest/sqs/pools/ingester/redis/pool_ingester_test.go
  ingest/sqs/sqs_config.go
  ingest/sqs/system/delivery/http/system_http_handler.go
  osmoutils/config_parser.go
  tests/localosmosis/docker-compose.yml
  tests/localosmosis/scripts/setup.sh
  tests/localosmosis/scripts/stableswapPool.json
  tests/localosmosis/scripts/transmuter.wasm
  tests/localosmosis/scripts/uosmoUionBalancerPool.json
  tests/localosmosis/scripts/uosmoUusdcBalancerPool.json
  tests/localosmosis/scripts/uusdcUionBalancerPool.json
  tests/localosmosis/scripts/uwethUusdcStablePool.json
  tests/localosmosis/state_export/docker-compose.yml
Labels: T:build, C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#6977 fixing gramatical correctness Update README.md
  README.md
Labels: C:docs, V:state/compatible/no_backport, A:no-changelog

#6983 fix: revert set output
  .github/workflows/e2e-full.yml
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#7002 refactor(SQS): improve healthcheck
  .vscode/launch.json
  ingest/sqs/chain_info/repository/redis/redis_chain_info_repository.go
  ingest/sqs/chain_info/usecase/chain_info_usecase.go
  ingest/sqs/domain/errors.go
  ingest/sqs/domain/mvc/chainInfo.go
  ingest/sqs/system/delivery/http/system_http_handler.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7007 Revert "chore(deps): bump actions/labeler from 4.3.0 to 5.0.0 (#6997)"
  .github/workflows/labeler.yml
Labels: V:state/compatible/no_backport, A:no-changelog

#7012 fix: added build-push-sqs to v20x
  .github/workflows/build-push-sqs.yml
Labels: T:CI

#7011 fix: use pointers for bank and consensus
  app/app.go
  app/keepers/keepers.go
  app/modules.go
  app/upgrades/v21/upgrades.go
  wasmbinding/test/messages_test.go
  x/gamm/keeper/gas_test.go
Labels: C:x/gamm, C:app-wiring, V:state/breaking, A:no-changelog, A:backport/v21.x

#7014 fix(SQS): healtcheck returning 200 due to time update not present
  ingest/sqs/chain_info/usecase/chain_info_usecase.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7025 fix: add app.toml configs for wasm
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7026 refactor/docs(SQS): endpoints
  ingest/sqs/README.md
  ingest/sqs/pools/delivery/http/pools_handler.go
  ingest/sqs/router/delivery/http/router_handler.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7027 refactor/fix: build push sqs pipeline from branch
  .github/workflows/build-push-sqs.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7035 refactor/chore(SQS): adjust log levels & changelog
  ingest/sqs/CHANGELOG.md
  ingest/sqs/pools/ingester/redis/pool_ingester.go
  ingest/sqs/router/usecase/optimized_routes.go
  ingest/sqs/router/usecase/router.go
  ingest/sqs/router/usecase/router_usecase.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7018 Add token factory test for testing bank keeper wired to token factory keeper
  x/tokenfactory/keeper/before_send_test.go
Labels: C:x/tokenfactory, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#6991 fix: total liquidity poolmanager grpc gateway query
  CHANGELOG.md
  proto/osmosis/poolmanager/v1beta1/query.proto
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
Labels: C:CLI, V:state/breaking, C:x/poolmanager

#6993 feat(math): add mutative api for BigDec.BigInt()
  CHANGELOG.md
  osmomath/decimal.go
  osmomath/decimal_test.go
Labels: V:state/compatible/no_backport

#7044 fix(SQS): charge taker fee
  ingest/sqs/domain/mocks/pool_mock.go
  ingest/sqs/router/usecase/optimized_routes_test.go
  ingest/sqs/router/usecase/route/route.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7043 feat(SQS): queries and state validations scripts
  Makefile
  ingest/sqs/domain/mocks/pools_usecase_mock.go
  ingest/sqs/domain/mvc/pools.go
  ingest/sqs/domain/mvc/router.go
  ingest/sqs/domain/router.go
  ingest/sqs/pools/delivery/http/pools_handler.go
  ingest/sqs/pools/usecase/pools_usecase.go
  ingest/sqs/router/delivery/http/router_handler.go
  ingest/sqs/router/usecase/router_usecase.go
  ingest/sqs/scripts/healthcheck.sh
  ingest/sqs/scripts/quote.sh
  ingest/sqs/scripts/validate_cl_state.sh
  ingest/sqs/system/delivery/http/system_http_handler.go
Labels: T:build, V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7049 fix: typos in some readme
  .gitignore
  cosmwasm/contracts/crosschain-swaps/README.md
  ingest/README.md
  networks/osmosis-1/upgrades/v4/cosmovisor.md
  networks/osmosis-1/upgrades/v5/guide.md
  networks/osmosis-1/upgrades/v7/guide.md
Labels: V:state/compatible/no_backport, A:no-changelog

#7040 chore: wasmd 1000MB cache default
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  tests/cl-genesis-positions/go.mod
  tests/cl-go-client/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7051 chore: fixed typo
  SECURITY.md
Labels: V:state/compatible/no_backport, A:no-changelog

#7065 refactor(SQS): switch to a more performant JSON lib
  go.mod
  ingest/sqs/chain_info/repository/redis/redis_chain_info_repository.go
  ingest/sqs/domain/json/sqs_json.go
  ingest/sqs/domain/router.go
  ingest/sqs/pools/repository/redis/redis_pools_repository.go
  ingest/sqs/router/repository/redis/redis_router_repository.go
  ingest/sqs/router/usecase/routertesting/parsing/mainnet_pools.go
  ingest/sqs/router/usecase/routertesting/parsing/mainnet_pools_test.go
  ingest/sqs/system/delivery/http/system_http_handler.go
  ingest/sqs/tokens/usecase/tokens_usecase.go
Labels: V:state/compatible/no_backport, A:no-changelog

#6990 Make docs CI run weekly
  .github/workflows/generate-docs.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#7057 fix: add build tag to CI job
  .github/workflows/e2e-full.yml
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#7075 Pin alpine version in docker builder image
  Dockerfile
Labels: T:build, V:state/compatible/backport, A:no-changelog, A:backport/v20.x

#7079 chore: fix sqs tag pattern
  .github/workflows/build-push-sqs.yml
Labels: T:CI, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7083 fix: unstake amino name
  proto/osmosis/valsetpref/v1beta1/tx.proto
  x/valset-pref/types/tx.pb.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7062 feat: avoid clearing route cache every block; cache expiry; query for cached routes
  cmd/osmosisd/cmd/root.go
  ingest/sqs/README.md
  ingest/sqs/domain/mvc/router.go
  ingest/sqs/domain/router.go
  ingest/sqs/ingester.go
  ingest/sqs/router/delivery/http/router_handler.go
  ingest/sqs/router/repository/redis/redis_router_repository.go
  ingest/sqs/router/usecase/router_usecase.go
  ingest/sqs/sidecar_query_server.go
  ingest/sqs/sqs_config.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#6847 feat: allow sending denoms with URL encoding
  CHANGELOG.md
  x/tokenfactory/client/cli/query_test.go
  x/tokenfactory/keeper/grpc_query.go
Labels: C:CLI, C:x/tokenfactory, V:state/breaking

#7087 refactor/test: prepare for ranked route caching; clean up mainnet tests
  .vscode/launch.json
  ingest/sqs/router/README.md
  ingest/sqs/router/usecase/export_test.go
  ingest/sqs/router/usecase/optimized_routes.go
  ingest/sqs/router/usecase/optimized_routes_test.go
  ingest/sqs/router/usecase/router_usecase.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7074 Don't load all poolmanager params every swap
  x/poolmanager/taker_fee.go
  x/protorev/keeper/rebalance.go
Labels: V:state/breaking, C:x/poolmanager, A:no-changelog

#7093 Lower Epoch CPU usage
  x/incentives/keeper/distribute.go
  x/lockup/types/lock.go
Labels: C:x/lockup, C:x/incentives, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7099 refactor(SQS): filter out duplicate pool ID routes
  ingest/sqs/router/usecase/export_test.go
  ingest/sqs/router/usecase/optimized_routes_test.go
  ingest/sqs/router/usecase/router_usecase.go
  ingest/sqs/router/usecase/router_usecase_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7100 x/incentives: Lower Epoch allocation overhead
  CHANGELOG.md
  x/incentives/keeper/distribute.go
  x/incentives/keeper/iterator.go
Labels: C:x/incentives, V:state/compatible/backport, A:backport/v20.x, A:backport/v21.x

#6968 chore: v21 upgrade binaries and guide
  networks/osmosis-1/upgrades/v21/mainnet/guide.md
  networks/osmosis-1/upgrades/v21/mainnet/v21_binaries.json
Labels: V:state/compatible/no_backport, A:no-changelog

#7098 perf: remove cache e2e
  .github/workflows/e2e-full.yml
  .github/workflows/test.yml
  Dockerfile
  scripts/makefiles/e2e.mk
Labels: T:CI, T:build, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7106 Speedup log2 code
  CHANGELOG.md
  osmomath/decimal.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7112 chore: fix viper
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:no-changelog

#7108 feat: add price impact to sqs
  Makefile
  ingest/sqs/domain/mocks/pool_mock.go
  ingest/sqs/domain/route_test.go
  ingest/sqs/domain/router.go
  ingest/sqs/pools/usecase/pools_usecase_test.go
  ingest/sqs/router/usecase/pools/routable_balancer_pool.go
  ingest/sqs/router/usecase/pools/routable_concentrated_pool.go
  ingest/sqs/router/usecase/pools/routable_result_pool.go
  ingest/sqs/router/usecase/pools/routable_stableswap_pool.go
  ingest/sqs/router/usecase/pools/routable_transmuter_pool.go
  ingest/sqs/router/usecase/quote.go
  ingest/sqs/router/usecase/quote_test.go
  ingest/sqs/router/usecase/route/route.go
  ingest/sqs/router/usecase/route/route_test.go
  ingest/sqs/scripts/quote.sh
Labels: T:build, V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7088 Chore/CI for typo
  .codespellrc
  .github/workflows/codespell.yml
  .github/workflows/ignore-words.txt
  .vscode/settings.json
  CHANGELOG.md
  ingest/sqs/router/usecase/router_usecase_test.go
  scripts/makefiles/lint.mk
Labels: T:CI, V:state/compatible/no_backport

#7120 fix(x/gamm): remove duplicate `query gamm pool` subcommand
  x/gamm/client/cli/query.go
Labels: C:CLI, C:x/gamm, V:state/compatible/no_backport, A:no-changelog

#7129 Edit CONTRIBUTING.md
  CONTRIBUTING.md
Labels: V:state/compatible/no_backport, A:no-changelog

#7126 refactor: using coins.Denoms() from sdk instead of osmoutils
  ingest/sqs/router/usecase/pools/routable_transmuter_pool.go
  osmoutils/coin_helper.go
  x/cosmwasmpool/model/pool.go
  x/gamm/keeper/pool.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/simulation/sim_msgs.go
  x/twap/listeners_test.go
  x/twap/logic_test.go
Labels: C:x/gamm, C:simulator, C:x/twap, V:state/compatible/no_backport, A:no-changelog

#7117 Make more TWAP internal ops mutative
  x/twap/logic.go
Labels: C:x/twap, V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7130 feat: implement ranked route cache
  go.mod
  go.sum
  ingest/sqs/domain/cache/cache.go
  ingest/sqs/domain/cache/cache_test.go
  ingest/sqs/router/usecase/export_test.go
  ingest/sqs/router/usecase/optimized_routes.go
  ingest/sqs/router/usecase/optimized_routes_test.go
  ingest/sqs/router/usecase/router_usecase.go
  ingest/sqs/router/usecase/router_usecase_test.go
  ingest/sqs/sidecar_query_server.go
  osmomath/math.go
  osmomath/math_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7134 chore: Update Actions labeler and labeler config to v5.0
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#7142 More stableswap mutative operations
  osmomath/binary_search.go
  x/gamm/pool-models/stableswap/amm.go
Labels: C:x/gamm, V:state/compatible/backport, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7150 chore: update changelog
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v21.x

#7152 Update chain.schema.json to v21
  chain.schema.json
Labels: V:state/compatible/no_backport, A:no-changelog

#7149 Stop double emitting events for CacheCtx.Write()
  CHANGELOG.md
  osmoutils/cache_ctx.go
Labels: V:state/compatible/backport, A:backport/v21.x

#7160 refactor: fix localosmosis and config generation in app.toml
  cmd/osmosisd/cmd/change_environment.go
  cmd/osmosisd/cmd/root.go
  scripts/makefiles/localnet.mk
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7162 refactor: remove more event emits
  x/protorev/keeper/posthandler.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7138 feat(SQS): prometheus metrics for cache hits and misses
  ingest/sqs/domain/url.go
  ingest/sqs/middleware/middleware.go
  ingest/sqs/router/usecase/router_usecase.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7170 Update mempool 1559 params
  x/txfees/keeper/mempool-1559/code.go
Labels: C:x/txfees, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7172 Speedup SumLocksByDenom
  CHANGELOG.md
  x/lockup/types/lock.go
Labels: C:x/lockup, V:state/compatible/backport, A:backport/v21.x

#7174 Speedup core loop of epoch
  x/incentives/keeper/distribute.go
Labels: C:x/incentives, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7180 refactor: auto-set timeout-commit to 4s for faster block times
  .vscode/launch.json
  CHANGELOG.md
  cmd/osmosisd/cmd/init.go
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v21.x

#7148 Delete TWAP migration code
  x/twap/migrate.go
  x/twap/migrate_test.go
Labels: C:x/twap, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7178 refactor: small reallocation opt is CL distributions
  x/incentives/keeper/distribute.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7187 fix: main build
  app/upgrades/v12/upgrades.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7186 Remove another epoch memcopy
  x/incentives/keeper/distribute.go
Labels: C:x/incentives, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7141 Remove some unneeded NewCoin checks, which do denom validation
  x/poolmanager/router.go
  x/poolmanager/taker_fee.go
Labels: V:state/compatible/backport, C:x/poolmanager, A:no-changelog, A:backport/v20.x, A:backport/v21.x

#7192 perf: avoid copy of period locks in epoch
  x/incentives/keeper/distribute.go
  x/incentives/keeper/iterator.go
  x/incentives/keeper/iterator_test.go
  x/lockup/types/lock.go
Labels: C:x/lockup, C:x/incentives, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7194 updates (#7192)
  x/incentives/keeper/distribute.go
  x/incentives/keeper/iterator.go
  x/incentives/keeper/iterator_test.go
  x/lockup/types/lock.go
Labels: C:x/lockup, C:x/incentives

#7197 fix test
  x/txfees/keeper/feedecorator_test.go
Labels: C:x/txfees

#7195 fix e2e stemming from CLI config overwrite
  .vscode/launch.json
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/no_backport, A:no-changelog

#7199 Revert "Update github actions"
  .github/workflows/check-state-compatibility.yml
  .github/workflows/e2e-full.yml
  .github/workflows/test.yml
Labels: T:CI

#7182 Reduce sprintf overhead in code showing up during sync profiles
  x/poolmanager/types/keys.go
  x/poolmanager/types/keys_test.go
  x/twap/types/keys.go
Labels: C:x/twap, V:state/compatible/backport, C:x/poolmanager, A:no-changelog, A:backport/v21.x

#7210 refactor: arb filter for new authz exec swap
  .vscode/launch.json
  x/txfees/keeper/txfee_filters/arb_tx.go
  x/txfees/keeper/txfee_filters/arb_tx_test.go
Labels: C:x/txfees

#7203 Add maximum pool ID
  CHANGELOG.md
  x/poolmanager/create_pool.go
  x/poolmanager/types/pool.go
Labels: V:state/breaking, C:x/poolmanager

#7215 chore: catch up main to v21.1.x
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/cache_ctx.go
  osmoutils/go.mod
  tests/cl-genesis-positions/go.mod
  tests/cl-go-client/go.mod
  x/epochs/go.mod
  x/epochs/types/hooks.go
  x/epochs/types/hooks_test.go
  x/ibc-hooks/go.mod
  x/incentives/keeper/distribute.go
  x/incentives/keeper/iterator.go
  x/incentives/keeper/iterator_test.go
  x/superfluid/keeper/epoch.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/keeper/txfee_filters/arb_tx.go
  x/txfees/keeper/txfee_filters/arb_tx_test.go
Labels: C:x/incentives, C:x/epochs, C:x/superfluid, C:x/txfees, V:state/compatible/backport, A:backport/v21.x
