Repository osmosis-labs/osmosis, pull requests merged in 2023-10, with the labels that each got.

#6606 [VS Incentives] fallback to previous weights if no volume
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/hooks_test.go
  x/incentives/types/errors.go
Labels: C:x/incentives, V:state/breaking, A:no-changelog

#6610 [VS Incentives]: upgrade handler redirects pool incentives distribution records to groups
  app/apptesting/incentives.go
  app/upgrades/v20/export_test.go
  app/upgrades/v20/upgrades.go
  app/upgrades/v20/upgrades_test.go
  x/incentives/keeper/group_test.go
  x/incentives/keeper/hooks_test.go
Labels: C:x/incentives, C:app-wiring, V:state/breaking, A:no-changelog

#6613 [VS Incentives]: disable non perpetual group gauge creation
  x/incentives/types/msgs.go
  x/incentives/types/msgs_test.go
Labels: C:x/incentives, V:state/breaking, A:no-changelog

#6601 [VS Incentives]: incentivized pools query
  app/apptesting/test_suite.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/group.go
  x/incentives/keeper/group_test.go
  x/incentives/keeper/hooks_test.go
  x/incentives/types/errors.go
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
  x/pool-incentives/types/expected_keepers.go
Labels: C:x/incentives, C:x/pool-incentives, C:app-wiring, V:state/breaking, A:no-changelog

#6618 [VS Incentives]: prevent duplicate pool IDs in create group
  x/incentives/keeper/group.go
  x/incentives/keeper/group_test.go
  x/incentives/types/errors.go
Labels: C:x/incentives, V:state/breaking, A:no-changelog

#6619 [VS Incentives]: test pool incentive records with groups
  x/pool-incentives/keeper/distr_test.go
Labels: C:x/pool-incentives, V:state/compatible/no_backport, A:no-changelog

#6626 [VS Incentives] fix upgrade handler bug with zero ID community pool gauge
  app/upgrades/v20/upgrades.go
  app/upgrades/v20/upgrades_test.go
  x/pool-incentives/keeper/distr.go
  x/pool-incentives/types/constants.go
Labels: C:x/pool-incentives, C:app-wiring

#6625 [VS Incentives] Add Group distribution logs to support debugging
  app/upgrades/v20/upgrades.go
  app/upgrades/v20/upgrades_test.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/hooks.go
  x/pool-incentives/keeper/distr.go
  x/pool-incentives/types/constants.go
Labels: C:x/incentives, C:x/pool-incentives, C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#6604 [VS Incentives]: changes for getDistrInfo
  app/upgrades/v20/upgrades_test.go
  x/gamm/keeper/export_test.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/grpc_query_test.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/keeper/keeper_test.go
  x/pool-incentives/types/errors.go
  x/poolmanager/types/expected_keepers.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server_test.go
Labels: C:x/gamm, C:x/pool-incentives, C:x/superfluid, C:app-wiring, V:state/breaking, C:x/poolmanager, A:no-changelog

#6634 chore: v20 mergify backport config
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#6586 add auth.moduleaccounts to the stargate whitelist
  CHANGELOG.md
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking

#6631 Update typos/equations in CL Readme.md
  x/concentrated-liquidity/README.md
Labels: C:docs, C:x/concentrated-liquidity

#6630 Finish ValSet Pref Unbonding
  x/valset-pref/README.md
  x/valset-pref/export_test.go
  x/valset-pref/keeper.go
  x/valset-pref/keeper_test.go
  x/valset-pref/msg_server.go
  x/valset-pref/types/errors.go
  x/valset-pref/validator_set.go
  x/valset-pref/validator_set_test.go
Labels: C:docs, V:state/compatible/no_backport, A:no-changelog

#6627 refactor(osmomath): limit pow iterations in osmomath
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/math.go
  osmomath/math_test.go
  osmomath/pow_bench_test.go
  x/gamm/pool-models/balancer/pool_suite_test.go
Labels: C:x/gamm, V:state/breaking

#6555 dev-ux: debug Osmosis node with delve and VS Code
  .vscode/launch.json
  .vscode/tasks.json
  CONTRIBUTING.md
  go.sum
  scripts/debug_builder.sh
  scripts/debugger.sh
  x/ibc-hooks/go.sum
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#6632 feat(poolmanager): taker fee reduction whitelist
  CHANGELOG.md
  app/upgrades/v20/upgrades.go
  go.mod
  go.sum
  osmoutils/params_validation.go
  proto/osmosis/poolmanager/v1beta1/genesis.proto
  x/concentrated-liquidity/types/params.go
  x/incentives/types/params.go
  x/poolmanager/export_test.go
  x/poolmanager/taker_fee.go
  x/poolmanager/taker_fee_test.go
  x/poolmanager/types/genesis.pb.go
  x/poolmanager/types/params.go
Labels: C:x/incentives, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#6644 fix: genesis bug in pool incentives linking NoLock gauges and PoolIDs
  CHANGELOG.md
  proto/osmosis/pool-incentives/v1beta1/genesis.proto
  proto/osmosis/pool-incentives/v1beta1/incentives.proto
  x/pool-incentives/keeper/genesis.go
  x/pool-incentives/keeper/genesis_test.go
  x/pool-incentives/types/genesis.pb.go
  x/pool-incentives/types/incentives.pb.go
Labels: C:x/pool-incentives, V:state/compatible/backport, A:backport/v16.x, A:backport/v17.x, A:backport/v18.x, A:backport/v19.x, A:backport/v20.x

#6641 Update docs for v20
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
  client/docs/statik/statik.go
Labels: C:CLI, V:state/compatible/no_backport, A:no-changelog

#6656 fix: bump golang version to 1.20 for init image
  .github/workflows/push-dev-docker-images.yml
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  tests/e2e/initialization/init.Dockerfile
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: T:CI, C:x/epochs, V:state/compatible/no_backport, A:no-changelog

#6657 fix: remove log line
  x/pool-incentives/keeper/genesis.go
Labels: C:x/pool-incentives, V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6663 Point out need for more CLI docs in CL queries
  x/concentrated-liquidity/client/cli/query.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#6662 Add debug build options to make
  Makefile
Labels: T:build, V:state/compatible/backport, A:no-changelog, A:backport/v20.x

#6623 feat: transfer cl position to new owner
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.sum
  osmoutils/compare.go
  osmoutils/compare_test.go
  osmoutils/go.mod
  osmoutils/ibc.go
  osmoutils/osmocli/cli_tester.go
  osmoutils/osmocli/parsers.go
  osmoutils/osmocli/parsers_test.go
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/cl-genesis-positions/go.mod
  tests/cl-go-client/go.mod
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fuzz_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/spread_rewards.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/msgs_test.go
  x/concentrated-liquidity/types/tx.pb.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:CLI, C:x/epochs, V:state/breaking, C:x/concentrated-liquidity

#6661 Test/max tick test
  osmomath/sqrt.go
  x/concentrated-liquidity/math/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#6674 chore: remove dragonberry replace directive
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/go.mod
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/breaking, A:backport/v20.x

#6666 fix: cosmwasmpool state export
  CHANGELOG.md
  x/cosmwasmpool/genesis.go
  x/cosmwasmpool/genesis_test.go
  x/cosmwasmpool/model/store_model.go
  x/cosmwasmpool/pool_module.go
Labels: V:state/compatible/backport, A:backport/v19.x, A:backport/v20.x

#6665 fix: skip community pool for incentivized pools query
  x/pool-incentives/keeper/grpc_query.go
  x/pool-incentives/keeper/keeper.go
Labels: C:x/pool-incentives, V:state/breaking, A:no-changelog, A:backport/v20.x

#6680 Add Taker Fee Query
  CHANGELOG.md
  go.sum
  proto/osmosis/poolmanager/v1beta1/query.proto
  proto/osmosis/poolmanager/v1beta1/query.yml
  wasmbinding/stargate_whitelist.go
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/grpc/grpc_query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
Labels: C:CLI, V:state/breaking, C:x/poolmanager, A:backport/v20.x

#6692 chore: add currSqrtPrice to LiquidityNetInDirection return value
  CHANGELOG.md
  proto/osmosis/concentrated-liquidity/query.proto
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
Labels: C:CLI, V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v19.x, A:backport/v20.x

#6682 chore: revert commits not desired in v20
  x/concentrated-liquidity/fuzz_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#6651 [VS Incentives]: query group weight distribution since last epoch
  proto/osmosis/incentives/query.proto
  x/incentives/client/cli/query.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/grpc_query.go
  x/incentives/types/query.pb.go
  x/incentives/types/query.pb.gw.go
Labels: C:CLI, C:x/incentives, V:state/compatible/no_backport, A:no-changelog, A:backport/v20.x

#6685 feat: unbond with rebalanced val set weights
  proto/osmosis/valset-pref/v1beta1/tx.proto
  x/valset-pref/client/cli/tx.go
  x/valset-pref/msg_server.go
  x/valset-pref/msg_server_test.go
  x/valset-pref/types/errors.go
  x/valset-pref/types/msgs.go
  x/valset-pref/types/tx.pb.go
  x/valset-pref/validator_set.go
  x/valset-pref/validator_set_test.go
Labels: C:CLI, V:state/breaking, A:no-changelog, A:backport/v20.x

#6679 Misc: Improve localosmosis docs
  Makefile
  tests/localosmosis/README.md
Labels: C:docs, T:build, V:state/compatible/no_backport, A:no-changelog

#5967 Fix: Fix valset pref unbonding bugs
  CHANGELOG.md
  proto/osmosis/valset-pref/v1beta1/tx.proto
  x/valset-pref/README.md
  x/valset-pref/client/cli/tx.go
  x/valset-pref/export_test.go
  x/valset-pref/keeper.go
  x/valset-pref/keeper_test.go
  x/valset-pref/msg_server.go
  x/valset-pref/msg_server_test.go
  x/valset-pref/types/errors.go
  x/valset-pref/types/msgs.go
  x/valset-pref/types/tx.pb.go
  x/valset-pref/validator_set.go
  x/valset-pref/validator_set_test.go
Labels: C:docs, C:CLI, V:state/breaking, A:backport/v20.x

#6699 [Valset]: Fix weight calculations to be based on tokens instead of shares
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/valset-pref/export_test.go
  x/valset-pref/keeper.go
  x/valset-pref/keeper_test.go
  x/valset-pref/types/errors.go
Labels: V:state/breaking, C:x/val-set-pref, A:backport/v20.x

#6568 [AccountAbstraction] Validating AnyOf and AllOf
  x/authenticator/authenticator/all_of.go
  x/authenticator/authenticator/any_of.go
  x/authenticator/integration_test.go
Labels: Stale

#6567 [AccountAbstraction] Simple remediation of custom fee payer skipping authenticatation
  x/authenticator/ante/ante.go
Labels: Stale

#6569 [AccountAbstraction] Validating that there is only one signer per message
  x/authenticator/utils/track.go
Labels: Stale

#6697 chore: v20 testnet guide templates
  networks/osmosis-1/upgrades/v20/mainnet/guide.md
  networks/osmosis-1/upgrades/v20/mainnet/v20_binaries.json
  networks/osmosis-1/upgrades/v20/testnet/guide.md
  networks/osmosis-1/upgrades/v20/testnet/v20_binaries.json
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x

#6714 chore: add cosmovisor binaries json
  networks/osmosis-1/upgrades/v20/mainnet/v20_binaries.json
  networks/osmosis-1/upgrades/v20/testnet/guide.md
  networks/osmosis-1/upgrades/v20/testnet/v20_binaries.json
Labels: V:state/compatible/no_backport, A:no-changelog

#6698 chore: compare branch diffs script
  .vscode/settings.json
  scripts/compare_git.py
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#6704 [dev-ux] Make Makefile more usable
  Makefile
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#6713 fix: replace remaining v19 import paths
  tests/cl-genesis-positions/convert.go
  tests/cl-genesis-positions/edit_localosmosis_genesis.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  tests/cl-go-client/main.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v20.x

#6725 Add cleanup step to release GitHub Action
  .github/workflows/release.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#6724 Replace VERSION with SDK_VERSION in Makefile target
  Makefile
Labels: T:build, V:state/compatible/backport, A:no-changelog, A:backport/v20.x

#6709 list-env CLI command
  CHANGELOG.md
  cmd/osmosisd/cmd/change_environment.go
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/no_backport

#6734 Fix bad PFM error
  go.mod
  go.sum
Labels: V:state/breaking, A:no-changelog

#6733 Add infinite block before send
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/src/contract.rs
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/src/msg.rs
  x/tokenfactory/keeper/testdata/infinite_track_beforesend.wasm
Labels: C:x/tokenfactory, V:state/compatible/no_backport, A:no-changelog

#6738 Fix/v20.1.0 chores
  chain.schema.json
  networks/osmosis-1/README.md
  networks/osmosis-1/upgrades/v20/mainnet/guide.md
  networks/osmosis-1/upgrades/v20/mainnet/v20_binaries.json
  networks/osmosis-1/upgrades/v20/testnet/v20_binaries.json
  scripts/release/create_binaries_json/create_all_binaries_json.sh
Labels: V:state/compatible/no_backport, A:no-changelog

#6710 fix: `{overflow}` bug when querying cosmwasmpool spot price
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/cosmwasm/helpers.go
  x/cosmwasmpool/types/expected_keepers.go
Labels: V:state/breaking

#6765 fix typos
  app/upgrades/v20/upgrades_test.go
  app/upgrades/v8/README.md
  networks/genesis-validators.md
  networks/osmosis-1/upgrades/v10/guide.md
Labels: C:app-wiring

#6758 Add forgotten redelegation codec
  CHANGELOG.md
  x/valset-pref/types/codec.go
Labels: V:state/breaking

#6727 Refactor: Change Makefile with better accessibility
  .github/workflows/lint.yml
  Makefile
  scripts/makefiles/build.mk
  scripts/makefiles/deps.mk
  scripts/makefiles/docker.mk
  scripts/makefiles/e2e.mk
  scripts/makefiles/lint.mk
  scripts/makefiles/localnet.mk
  scripts/makefiles/proto.mk
  scripts/makefiles/release.mk
  scripts/makefiles/tests.mk
  tests/e2e/README.md
  tests/e2e/containers/config.go
  tests/e2e/initialization/README.md
  tests/e2e/initialization/init.Dockerfile
  tests/e2e/scripts/run/check_image_sha.sh
Labels: C:docs, T:CI, T:build, V:state/compatible/no_backport, A:no-changelog

#6788 fix: improve error message for slippage bound when LPing
  CHANGELOG.md
  x/concentrated-liquidity/types/errors.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v19.x, A:backport/v20.x

#6793 Try respect authz
  x/txfees/keeper/txfee_filters/arb_tx.go
Labels: C:x/txfees

#6794 fix: LP error message improvements when zero liquidity
  x/concentrated-liquidity/lp.go
Labels: A:automerge, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v20.x

#6796 chore: add taker fee docs
  x/poolmanager/README.md
Labels: C:docs, V:state/compatible/no_backport, C:x/poolmanager, A:no-changelog
