Repository osmosis-labs/osmosis, pull requests merged in 2023-08, with the labels that each got.

#5938 Chore: Fix valset amino codec
  go.sum
  proto/osmosis/valset-pref/v1beta1/tx.proto
  tests/cl-genesis-positions/go.sum
  x/valset-pref/types/codec.go
  x/valset-pref/types/tx.pb.go
Labels: V:state/breaking, A:no-changelog

#5936 fix: add seed to failing tree test
  osmoutils/sumtree/tree_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#5935 fix: prevent sim from starting with zero validators
  tests/simulator/state.go
Labels: C:simulator, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5942 Fix/goreleaser builds
  .goreleaser.yaml
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5927 Add gas meter to tokenfactory trackBeforeSend
  CHANGELOG.md
  x/tokenfactory/keeper/before_send.go
  x/tokenfactory/keeper/before_send_test.go
  x/tokenfactory/types/constants.go
  x/tokenfactory/types/errors.go
Labels: C:x/tokenfactory, V:state/breaking

#5872 fix/test/docs: negative interval accumulation with incentive rewards
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/coin_helper.go
  osmoutils/coin_helper_test.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/invariant_test.go
  x/concentrated-liquidity/position_test.go
Labels: C:docs, V:state/breaking, C:x/concentrated-liquidity

#5863 fix: cl spotprice query
  CHANGELOG.md
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/swaps_test.go
  x/poolmanager/client/cli/query.go
  x/poolmanager/router_test.go
Labels: C:CLI, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#5890 feat: CreateCLPool & LinkCFMMtoCL pool into one gov-prop
  CHANGELOG.md
  app/keepers/modules.go
  app/upgrades/v16/upgrades_test.go
  proto/osmosis/gamm/v1beta1/gov.proto
  x/concentrated-liquidity/genesis.go
  x/gamm/client/cli/flags.go
  x/gamm/client/cli/tx.go
  x/gamm/client/proposal_handler.go
  x/gamm/client/rest/tx.go
  x/gamm/handler.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/types/codec.go
  x/gamm/types/errors.go
  x/gamm/types/expected_keepers.go
  x/gamm/types/gov.go
  x/gamm/types/gov.pb.go
Labels: C:CLI, C:x/gamm, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity

#5955 [CI] Add concurrency options to test workflow
  .github/workflows/test.yml
Labels: T:CI

#5951 feat: self hosted e2e tests
  .github/workflows/test.yml
  Makefile
  tests/e2e/configurer/base.go
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/node.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/containers/containers.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/helpers_e2e_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
Labels: T:CI, T:build, V:state/compatible/no_backport, A:no-changelog

#5956 [ci] Add concurrency options to GitHub Actions
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-state-compatibility.yml
  .github/workflows/contracts.yml
  .github/workflows/push-dev-docker-images.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#5958 Update LICENSE owner to Osmosis foundation
  LICENSE
Labels: V:state/compatible/no_backport, A:no-changelog

#5900 Remove ExponentAtPriceOne From Gov Prop CreateConcentratedPool
  go.mod
  go.sum
  proto/osmosis/concentrated-liquidity/gov.proto
  tests/e2e/configurer/chain/commands.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/types/gov.go
  x/concentrated-liquidity/types/gov.pb.go
  x/concentrated-liquidity/types/gov_test.go
Labels: C:CLI, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#5919 fix: swaprouter error message
  cosmwasm/contracts/swaprouter/src/helpers.rs
  cosmwasm/contracts/swaprouter/tests/set_route_test.rs
  tests/ibc-hooks/bytecode/swaprouter.wasm
Labels: V:state/breaking, A:no-changelog

#5962 Nicolas/swaprouter lints and bytecode
  tests/ibc-hooks/bytecode/swaprouter.wasm
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
Labels: V:state/compatible/no_backport, A:no-changelog

#5930 fix(ProtoRev): Updating Binary Search Range with CL Pools
  CHANGELOG.md
  app/keepers/keepers.go
  x/protorev/keeper/epoch_hook_test.go
  x/protorev/keeper/hooks_test.go
  x/protorev/keeper/keeper.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/keeper/routes_test.go
  x/protorev/protorev.md
  x/protorev/types/constants.go
  x/protorev/types/expected_keepers.go
Labels: C:docs, C:app-wiring, V:state/breaking, protorev

#5964 fix[e2e]: e2e failure fixes
  CHANGELOG.md
  tests/e2e/configurer/chain/node.go
  tests/e2e/containers/containers.go
Labels: V:state/compatible/no_backport, A:no-changelog

#5937 feat: add SetScalingFactorController gov prop
  CHANGELOG.md
  app/keepers/keepers.go
  app/keepers/modules.go
  proto/osmosis/gamm/v1beta1/gov.proto
  x/gamm/client/cli/flags.go
  x/gamm/client/cli/tx.go
  x/gamm/client/proposal_handler.go
  x/gamm/client/rest/tx.go
  x/gamm/handler.go
  x/gamm/keeper/export_test.go
  x/gamm/keeper/gov.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_test.go
  x/gamm/types/codec.go
  x/gamm/types/gov.go
  x/gamm/types/gov.pb.go
Labels: C:CLI, C:x/gamm, C:app-wiring, V:state/breaking

#5934 [CL][test]: Add range fuzz test covering negative interval accum cases
  x/concentrated-liquidity/position_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5966 feat: Enable ValSet simulator
  x/valset-pref/simulation/sim_msgs.go
  x/valset-pref/valpref-module/module.go
Labels: V:state/breaking, A:no-changelog

#5968 Revert "feat: Enable ValSet simulator "
  x/valset-pref/simulation/sim_msgs.go
  x/valset-pref/valpref-module/module.go
Labels: C:app-wiring, C:simulator, V:state/breaking, A:no-changelog

#5950 fix: spot price for cosmwasm pools
  CHANGELOG.md
  app/apptesting/cosmwasmpool.go
  x/cosmwasmpool/model/pool.go
Labels: C:app-wiring, V:state/breaking

#5971 docs: Osmosis protocol book
  .github/workflows/protocol-docs.yml
  .gitignore
  docs/protocol/book.toml
  docs/protocol/src/SUMMARY.md
  docs/protocol/src/core_dex.md
  docs/protocol/src/dex/concentrated.md
  docs/protocol/src/dex/cosmwams.md
  docs/protocol/src/dex/cosmwasm.md
  docs/protocol/src/dex/stableswap.md
  docs/protocol/src/dex/weighted.md
  docs/protocol/src/ecosystem.md
  docs/protocol/src/governance.md
  docs/protocol/src/osmosis.md
  docs/protocol/src/smartcontracts.md
  docs/protocol/src/staking.md
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5947 feat[CLI]: transform normal denom to base denom and modify value
  cmd/osmosisd/cmd/config.go
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5948 fix(ProtoRev): Parameterizing Pool Type Information
  CHANGELOG.md
  app/upgrades/v17/upgrades.go
  proto/osmosis/protorev/v1beta1/genesis.proto
  proto/osmosis/protorev/v1beta1/protorev.proto
  proto/osmosis/protorev/v1beta1/query.proto
  proto/osmosis/protorev/v1beta1/tx.proto
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  x/protorev/client/cli/query.go
  x/protorev/client/cli/tx.go
  x/protorev/client/cli/utils.go
  x/protorev/keeper/genesis.go
  x/protorev/keeper/genesis_test.go
  x/protorev/keeper/grpc_query.go
  x/protorev/keeper/grpc_query_test.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/msg_server.go
  x/protorev/keeper/msg_server_test.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/protorev_test.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/routes.go
  x/protorev/keeper/routes_test.go
  x/protorev/types/codec.go
  x/protorev/types/constants.go
  x/protorev/types/genesis.go
  x/protorev/types/genesis.pb.go
  x/protorev/types/keys.go
  x/protorev/types/msg.go
  x/protorev/types/msg_test.go
  x/protorev/types/protorev.pb.go
  x/protorev/types/query.pb.go
  x/protorev/types/query.pb.gw.go
  x/protorev/types/tx.pb.go
  x/protorev/types/tx.pb.gw.go
  x/protorev/types/validate.go
Labels: C:CLI, C:app-wiring, V:state/breaking, protorev

#5965 chore[e2e]: parse from result
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/configurer/config/constants.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/containers/config.go
  tests/e2e/e2e_test.go
  tests/e2e/helpers_e2e_test.go
  tests/e2e/initialization/config.go
Labels: V:state/compatible/no_backport, A:no-changelog

#5976 chore[e2e]: faster epoch
  CHANGELOG.md
  tests/e2e/initialization/config.go
Labels: V:state/compatible/no_backport

#5979 Add a file ignore for check generated running
  .github/workflows/check-generated.yml
Labels: T:CI, A:automerge, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#4993 Add PFM validation
  cosmwasm/contracts/crosschain-registry/src/contract.rs
  cosmwasm/contracts/crosschain-registry/src/error.rs
  cosmwasm/contracts/crosschain-registry/src/execute.rs
  cosmwasm/contracts/crosschain-registry/src/ibc_lifecycle.rs
  cosmwasm/contracts/crosschain-registry/src/lib.rs
  cosmwasm/contracts/crosschain-registry/src/msg.rs
  cosmwasm/contracts/crosschain-registry/src/query.rs
  cosmwasm/contracts/crosschain-registry/src/state.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/packages/registry/src/error.rs
  cosmwasm/packages/registry/src/lib.rs
  cosmwasm/packages/registry/src/msg.rs
  cosmwasm/packages/registry/src/registry.rs
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
  tests/ibc-hooks/ibc_middleware_test.go
  tests/ibc-hooks/path_validation_test.go
  tests/ibc-hooks/xcs_cw20_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#5982 Make generated proto files be committed from CI
  .github/workflows/check-generated.yml
  proto/osmosis/superfluid/query.proto
  x/superfluid/types/query.pb.go
Labels: T:CI, C:x/superfluid, V:state/compatible/backport, A:no-changelog

#5983 refactor(CL): replace 6 return values in CreatePosition with a struct
  CHANGELOG.md
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/fuzz_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/range_test.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity

#5989 Use PR path filter for Cosmwasm CI
  .github/workflows/contracts.yml
Labels: T:CI

#5991 fix: sim val number being non deterministic
  tests/simulator/state.go
Labels: C:simulator, V:state/compatible/no_backport, A:no-changelog

#5939 Fix: Flip existing twapRecords base/quote price denoms
  CHANGELOG.md
  app/upgrades/v17/upgrades.go
  app/upgrades/v17/upgrades_test.go
  x/twap/export_test.go
  x/twap/keeper.go
  x/twap/keeper_test.go
  x/twap/store.go
  x/twap/store_test.go
  x/twap/types/keys.go
Labels: C:app-wiring, C:x/twap, V:state/breaking

#6001 feat: improve set-env CLI cmd
  CHANGELOG.md
  cmd/osmosisd/cmd/change_environment.go
  cmd/osmosisd/cmd/root.go
  tests/e2e/e2e_test.go
Labels: V:state/compatible/no_backport

#6004 refactor: reduce number of returns for creating full range position
  CHANGELOG.md
  app/apptesting/concentrated_liquidity.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v17/upgrades.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
  x/concentrated-liquidity/types/cl.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/types/expected_keepers.go
  x/lockup/keeper/lock_test.go
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/keeper/concentrated_liquidity_test.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/lockup, C:x/gamm, C:x/superfluid, C:app-wiring, V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v16.x

#5959 feat: multi-network upgrade handler
  CHANGELOG.md
  app/upgrades/v17/constants.go
  app/upgrades/v17/upgrades.go
  app/upgrades/v17/upgrades_test.go
  tests/cl-genesis-positions/convert.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/e2e_test.go
  x/gamm/keeper/migrate_test.go
  x/pool-incentives/keeper/keeper.go
Labels: C:x/gamm, C:x/pool-incentives, C:app-wiring, V:state/breaking, A:no-changelog

#6011 Twap Fix Spot Price Quote/Base
  app/upgrades/v17/upgrades.go
  app/upgrades/v17/upgrades_test.go
Labels: C:app-wiring, V:state/breaking, A:no-changelog

#6015 fix: specify error in upgrade handler
  app/upgrades/v17/constants.go
Labels: C:app-wiring, V:state/breaking, A:no-changelog

#6014 refactor: reduce the number of returns in superfluid migration
  CHANGELOG.md
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/migration.go
Labels: C:x/gamm, C:x/superfluid, V:state/compatible/backport, A:backport/v16.x

#6012 chore: add CLI autocomplete to makefile
  CHANGELOG.md
  Makefile
Labels: T:build, V:state/compatible/no_backport

#6018 golangci: enable unused parameters linter
  .golangci.yml
  CHANGELOG.md
  app/upgrades/v15/export_test.go
  app/upgrades/v15/upgrade_test.go
  app/upgrades/v15/upgrades.go
  simulation/executor/mock_tendermint.go
  simulation/executor/util.go
  simulation/simtypes/txbuilder.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/initialization/chain.go
  tests/e2e/initialization/init.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/downtime-detector/client/cli/query.go
  x/gamm/simulation/sim_msgs.go
  x/incentives/client/cli/tx.go
  x/poolmanager/create_pool.go
  x/poolmanager/export_test.go
  x/protorev/client/cli/query.go
  x/protorev/keeper/rebalance.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/stake.go
  x/tokenfactory/keeper/createdenom.go
Labels: C:CLI, C:x/gamm, T:CI, C:x/incentives, C:x/superfluid, C:app-wiring, C:x/tokenfactory, C:simulator, V:state/compatible/backport, C:x/concentrated-liquidity, C:x/poolmanager, A:backport/v16.x

#6031 fix: don't force makefile to use bash
  Makefile
  cmd/osmosisd/cmd/root.go
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#5987 XCS: PFM validation (attempt 2)
  cosmwasm/contracts/crosschain-registry/src/contract.rs
  cosmwasm/contracts/crosschain-registry/src/error.rs
  cosmwasm/contracts/crosschain-registry/src/execute.rs
  cosmwasm/contracts/crosschain-registry/src/ibc_lifecycle.rs
  cosmwasm/contracts/crosschain-registry/src/lib.rs
  cosmwasm/contracts/crosschain-registry/src/msg.rs
  cosmwasm/contracts/crosschain-registry/src/query.rs
  cosmwasm/contracts/crosschain-registry/src/state.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/packages/registry/src/error.rs
  cosmwasm/packages/registry/src/lib.rs
  cosmwasm/packages/registry/src/msg.rs
  cosmwasm/packages/registry/src/registry.rs
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
  tests/ibc-hooks/ibc_middleware_test.go
  tests/ibc-hooks/path_validation_test.go
  tests/ibc-hooks/xcs_cw20_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#6049 chore: v17 backport label & changelog
  .github/mergify.yml
  CHANGELOG.md
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#5949 Create Message for Staking Conversion
  CHANGELOG.md
  app/keepers/keepers.go
  proto/osmosis/superfluid/tx.proto
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/keeper.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/codec.go
  x/superfluid/types/errors.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/msg_test.go
  x/superfluid/types/msgs.go
  x/superfluid/types/tx.pb.go
  x/valset-pref/keeper.go
  x/valset-pref/types/errors.go
  x/valset-pref/validator_set.go
Labels: C:CLI, C:x/superfluid, C:app-wiring, V:state/breaking

#6051 fix: make wbtc the quote denom in upgrade handler
  app/apptesting/concentrated_liquidity.go
  app/upgrades/v17/constants.go
  app/upgrades/v17/upgrades.go
  app/upgrades/v17/upgrades_test.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/e2e_test.go
Labels: C:app-wiring, V:state/breaking, A:no-changelog, A:backport/v17.x

#6056 chore: v17 guide and binaries
  networks/osmosis-1/upgrades/v17/mainnet/guide.md
  networks/osmosis-1/upgrades/v17/testnet/guide.md
  networks/osmosis-1/upgrades/v17/testnet/testnet_v17_rc0_binaries.json
  networks/osmosis-1/upgrades/v17/v17_binaries.json
Labels: V:state/compatible/no_backport, A:no-changelog

#5539 XCS: Denom Registry
  cosmwasm/contracts/crosschain-registry/src/contract.rs
  cosmwasm/contracts/crosschain-registry/src/error.rs
  cosmwasm/contracts/crosschain-registry/src/execute.rs
  cosmwasm/contracts/crosschain-registry/src/helpers.rs
  cosmwasm/contracts/crosschain-registry/src/msg.rs
  cosmwasm/contracts/crosschain-registry/src/query.rs
  cosmwasm/contracts/crosschain-registry/src/state.rs
  cosmwasm/packages/registry/src/msg.rs
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  x/ibc-hooks/README.md
Labels: C:docs, V:state/compatible/no_backport, A:no-changelog

#5953 feat(ProtoRev): Supporting Two Pool Routes
  CHANGELOG.md
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/keeper/routes.go
  x/protorev/keeper/routes_test.go
Labels: V:state/breaking, protorev

#6071 refactor: reduce the number of returns in tick conversions and update position
  CHANGELOG.md
  simulation/executor/legacyconfig.go
  x/concentrated-liquidity/bench_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/types/cl.go
  x/superfluid/keeper/slash.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/superfluid, C:simulator, V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v16.x, A:backport/v17.x

#6100 feat(ante): removing sigverify ante in favor of authenticator ante
  app/ante.go
  x/authenticator/ante/authenticator.go
Labels: C:app-wiring

#6101 fix: add no-op upgrade handler
  Makefile
  app/app.go
  app/upgrades/v17b/constants.go
  app/upgrades/v17b/upgrades.go
  tests/e2e/e2e_test.go
Labels: T:build, C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#6103 chore: add v17b cosmovisor binaries
  networks/osmosis-1/upgrades/v17b/testnet/testnet_v17b_binaries.json
Labels: C:CLI, C:x/superfluid, T:build, C:app-wiring, C:simulator, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#6095 Add docs to tokenfactory
  x/tokenfactory/README.md
Labels: C:docs, C:x/tokenfactory, V:state/compatible/backport, A:no-changelog, A:backport/v17.x

#6109 Update sha256 for v17 binaries.json
  networks/osmosis-1/upgrades/v17/v17_binaries.json
Labels: V:state/compatible/no_backport, A:no-changelog

#5906 whitelist lockup query AccountLockedCoins
  CHANGELOG.md
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking

#6115 Remove unused code for superfluid
  x/superfluid/keeper/stake.go
Labels: C:x/superfluid, V:state/compatible/backport, A:no-changelog, A:backport/v17.x

#6070 CL: completely remove unused fungify methods and tests
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v17.x

#6123 Minor speedup to TickToPrice (and related functions)
  x/concentrated-liquidity/math/tick.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x, A:backport/v17.x

#6085 (v18: feat) Volume-Split, setup gauges to split evenly
  CHANGELOG.md
  proto/osmosis/incentives/gauge.proto
  proto/osmosis/lockup/lock.proto
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/hooks.go
  x/incentives/keeper/keeper_test.go
  x/incentives/keeper/store.go
  x/incentives/keeper/store_test.go
  x/incentives/types/gauge.pb.go
  x/incentives/types/keys.go
  x/lockup/types/lock.pb.go
Labels: C:x/lockup, C:x/incentives, V:state/breaking, F: volume-splitting

#6133 [VS Incentives]: Wire up volume tracking to swap logic
  x/poolmanager/router.go
Labels: V:state/breaking, C:x/poolmanager, A:no-changelog, F: volume-splitting

#6144 candidate fix for v18
  CHANGELOG.md
  app/upgrades/v18/constants.go
  app/upgrades/v18/upgrades.go
  app/upgrades/v18/upgrades_test.go
  x/concentrated-liquidity/incentives.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/hooks.go
  x/lockup/keeper/lock.go
  x/superfluid/keeper/stake.go
Labels: C:x/lockup, C:x/incentives, C:x/superfluid, C:app-wiring, C:x/concentrated-liquidity

#6149 chore: v18 cosmovisor
  networks/osmosis-1/upgrades/v18/mainnet/guide.md
  networks/osmosis-1/upgrades/v18/v18_binaries.json
Labels: V:state/compatible/no_backport, A:no-changelog

#6152 [v18.0.0] Add missing cosmovisor binaries and update release docs
  networks/osmosis-1/README.md
  networks/osmosis-1/upgrades/v18/v18_binaries.json
Labels: V:state/compatible/no_backport, A:no-changelog

#6150 add v17 and v18 to chain.schema.json
  chain.schema.json
Labels: V:state/compatible/no_backport, A:no-changelog

#6161 State compatible epoch speedup from v18
  CHANGELOG.md
  x/incentives/keeper/distribute.go
  x/superfluid/keeper/stake.go
Labels: C:x/incentives, C:x/superfluid, V:state/compatible/backport, A:backport/v14.x, A:backport/v15.x, A:backport/v16.x, A:backport/v17.x

#6169 chore: v18 backport label & changelog
  .github/mergify.yml
  CHANGELOG.md
Labels: T:CI, V:state/compatible/no_backport

#6168 Further epoch speedup, by making spam gauges not increase linear-time compute
  x/incentives/keeper/distribute.go
Labels: C:x/incentives, V:state/compatible/backport, A:backport/v14.x, A:backport/v15.x, A:no-changelog, A:backport/v16.x, A:backport/v17.x, A:backport/v18.x

#6162 refactor: allow zero qualifying balancer shares in CL incentives
  CHANGELOG.md
  x/concentrated-liquidity/incentives.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#6176 Make v19.x mergify
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#6177 Improve our get validators script
  .github/workflows/changelog-entry-reminder.yml
  .github/workflows/required_labels.yml
  scripts/get_validators_csv.py
Labels: T:CI, T:build, A:backport/v19.x

#6158 Cherry pick v18 fix to main
  CHANGELOG.md
  app/upgrades/v18/upgrades.go
  app/upgrades/v18/upgrades_test.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/hooks.go
  x/lockup/keeper/lock.go
  x/superfluid/keeper/stake.go
Labels: C:x/lockup, C:x/incentives, C:x/superfluid, C:app-wiring, V:state/breaking

#6175 panic catch superfluid errors
  x/superfluid/keeper/epoch.go
Labels: C:x/superfluid, V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6187 Add v19 upgrade handler
  app/app.go
  app/upgrades/v19/constants.go
  app/upgrades/v19/upgrades.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog, A:backport/v19.x

#6190 v19 superfluid fix
  CHANGELOG.md
  app/upgrades/v19/constants.go
  app/upgrades/v19/upgrades.go
  x/lockup/keeper/lock.go
Labels: C:x/lockup, C:app-wiring, V:state/breaking

#6186 handle a TODO in synth lock
  x/lockup/keeper/synthetic_lock.go
Labels: C:x/lockup, V:state/breaking, A:no-changelog, A:backport/v19.x

#6195 Fix tokenfactory events
  CHANGELOG.md
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  x/tokenfactory/keeper/msg_server.go
  x/tokenfactory/types/tx.pb.go
Labels: C:x/tokenfactory, V:state/breaking, A:backport/v19.x

#6196 Move mockgen, and minor changes from taker fee feature branch
  Makefile
  app/upgrades/v18/upgrades.go
  app/upgrades/v18/upgrades_test.go
  tests/mocks/cfmm_pool.go
  tests/mocks/cl_pool.go
  tests/mocks/pool.go
  tests/mocks/pool_module.go
  x/concentrated-liquidity/model/pool_test.go
Labels: T:build, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#6199 feat: partial merge changes from takerFee (new Protorev API)
  x/poolmanager/types/expected_keepers.go
  x/poolmanager/types/routes.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/types/errors.go
Labels: V:state/breaking, C:x/poolmanager, A:no-changelog, A:backport/v19.x

#6053 feat: monotonic sqrt big dec
  CHANGELOG.md
  osmomath/sqrt.go
  osmomath/sqrt_big_test.go
  osmomath/sqrt_test.go
Labels: V:state/compatible/backport, A:backport/v17.x

#6203 taker fee wiring
  app/keepers/keepers.go
  app/modules.go
  proto/osmosis/poolmanager/v1beta1/gov.proto
  proto/osmosis/poolmanager/v1beta1/tx.proto
  tests/e2e/configurer/chain/commands.go
  x/poolmanager/gov.go
  x/poolmanager/msg_server.go
  x/poolmanager/types/gov.go
  x/poolmanager/types/gov.pb.go
  x/poolmanager/types/msgs.go
  x/poolmanager/types/tx.pb.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/keeper/hooks.go
  x/txfees/keeper/hooks_test.go
  x/txfees/keeper/keeper.go
  x/txfees/types/expected_keepers.go
  x/txfees/types/keys.go
Labels: C:x/txfees, C:app-wiring, V:state/breaking, C:x/poolmanager, A:no-changelog, A:backport/v19.x

#4667 ci: manual job for updating in-repo go mods; ci to warn if files changed
  .github/workflows/go-mod-auto-bump.yml
  .github/workflows/go-mod-auto-update-instructions.yaml
  scripts/update-go-mod.sh
Labels: T:CI, T:build, V:state/compatible/no_backport, A:no-changelog

#6205 Correctly account for the separator
  x/lockup/keeper/lock.go
Labels: C:x/lockup, V:state/breaking, A:no-changelog, A:backport/v19.x

#6207 Add test case for V19 Upgrade Handler
  app/apptesting/superfluid.go
  app/upgrades/v19/upgrades_test.go
  x/superfluid/keeper/synthetic_lock_wrapper.go
Labels: C:x/superfluid, C:app-wiring, V:state/compatible/no_backport, A:no-changelog, A:backport/v19.x

#6160 XCS: Ensure balance is returned on propose_pfm
  cosmwasm/Cargo.lock
  cosmwasm/contracts/crosschain-registry/src/contract.rs
  cosmwasm/contracts/crosschain-registry/src/error.rs
  cosmwasm/contracts/crosschain-registry/src/execute.rs
  cosmwasm/contracts/crosschain-registry/src/ibc_lifecycle.rs
  cosmwasm/contracts/crosschain-registry/src/state.rs
  cosmwasm/contracts/crosschain-swaps/Cargo.toml
  cosmwasm/contracts/crosschain-swaps/src/checks.rs
  cosmwasm/contracts/crosschain-swaps/src/contract.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/src/state.rs
  cosmwasm/contracts/crosschain-swaps/tests/test_env.rs
  cosmwasm/packages/registry/src/registry.rs
  go.work
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/ibc_middleware_test.go
  tests/ibc-hooks/path_validation_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#6157 [VS Incentives]: Implement getter for osmo pool volume
  x/poolmanager/router.go
Labels: V:state/compatible/no_backport, C:x/poolmanager, A:no-changelog

#6034 feat(spike): taker fee
  .github/workflows/test.yml
  CHANGELOG.md
  app/apptesting/concentrated_liquidity.go
  app/modules.go
  app/upgrades/v15/upgrades.go
  app/upgrades/v19/upgrades.go
  proto/osmosis/poolmanager/v1beta1/genesis.proto
  proto/osmosis/poolmanager/v1beta1/tx.proto
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/e2e/e2e_test.go
  tests/e2e/helpers_e2e_test.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/gamm/keeper/msg_server_test.go
  x/gamm/keeper/pool.go
  x/gamm/simulation/sim_msgs.go
  x/gamm/types/expected_keepers.go
  x/poolmanager/README.md
  x/poolmanager/client/cli/tx.go
  x/poolmanager/client/cli/tx_test.go
  x/poolmanager/create_pool.go
  x/poolmanager/create_pool_test.go
  x/poolmanager/export_test.go
  x/poolmanager/gov.go
  x/poolmanager/keeper_test.go
  x/poolmanager/msg_server.go
  x/poolmanager/msg_server_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
  x/poolmanager/taker_fee.go
  x/poolmanager/types/events.go
  x/poolmanager/types/genesis.pb.go
  x/poolmanager/types/gov.go
  x/poolmanager/types/gov_test.go
  x/poolmanager/types/keys.go
  x/poolmanager/types/keys_test.go
  x/poolmanager/types/msgs.go
  x/poolmanager/types/msgs_test.go
  x/poolmanager/types/params.go
  x/poolmanager/types/tx.pb.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/rebalance_test.go
  x/superfluid/keeper/stake_test.go
  x/twap/keeper_test.go
  x/twap/store.go
  x/txfees/README.md
  x/txfees/keeper/export_test.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/keeper/hooks.go
  x/txfees/keeper/hooks_test.go
  x/txfees/keeper/keeper_test.go
  x/txfees/types/expected_keepers.go
  x/txfees/types/keys.go
Labels: C:docs, C:CLI, C:x/gamm, T:CI, C:x/superfluid, C:x/txfees, C:app-wiring, C:simulator, C:x/twap, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager, A:backport/v19.x

#6183 feat(taker fees): Implement taker fee collection and tracking tests
  .github/workflows/test.yml
  app/upgrades/v19/upgrades.go
  x/gamm/keeper/msg_server_test.go
  x/poolmanager/router_test.go
  x/poolmanager/taker_fee.go
  x/poolmanager/types/params.go
  x/protorev/keeper/rebalance_test.go
  x/superfluid/keeper/stake_test.go
  x/txfees/keeper/feedecorator.go
Labels: C:x/gamm, T:CI, C:x/superfluid, C:x/txfees, C:app-wiring, V:state/breaking, C:x/poolmanager, A:no-changelog, A:backport/v19.x

#6216 e2e remove setup go step
  .github/workflows/test.yml
Labels: T:CI, A:backport/v17.x, A:backport/v18.x, A:backport/v19.x

#6224 feat(taker fees): Implement taker fee collection and tracking tests (…
  app/upgrades/v19/upgrades.go
  x/gamm/keeper/msg_server_test.go
  x/poolmanager/router_test.go
  x/poolmanager/taker_fee.go
  x/poolmanager/types/params.go
  x/protorev/keeper/rebalance_test.go
  x/superfluid/keeper/stake_test.go
  x/txfees/keeper/feedecorator.go
Labels: V:state/breaking, A:no-changelog

#6189 unit test GetPoolForDenomPairNoOrder and SwapNonNativeFeeToDenom
  x/protorev/keeper/protorev_test.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/hooks.go
  x/txfees/keeper/hooks_test.go
Labels: C:x/txfees, V:state/compatible/backport, A:no-changelog, A:backport/v19.x

#6223 test: full test for taker fee
  .github/workflows/test.yml
  x/poolmanager/keeper_test.go
  x/poolmanager/router_test.go
  x/poolmanager/taker_fee.go
Labels: T:CI, V:state/compatible/backport, C:x/poolmanager, A:no-changelog, A:backport/v19.x

#6231 Fix panic edge case in superfluid AfterEpochEnd hook by surrounding CL multipler update with ApplyFuncIfNoError
  CHANGELOG.md
  x/incentives/keeper/distribute.go
  x/incentives/types/keys.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/epoch_test.go
Labels: C:x/incentives, C:x/superfluid, V:state/compatible/backport, A:backport/v19.x

#6232 fix: error genesis export for cosmwasm pool for incorrect interface
  x/cosmwasmpool/genesis.go
  x/cosmwasmpool/genesis_test.go
  x/pool-incentives/keeper/genesis.go
Labels: C:x/pool-incentives

#6236 chore: v19 changelog
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v19.x

#6112 chore(lint): fix all linter issues; add return check; re-enable in CI
  .github/workflows/lint.yml
  .golangci.yml
  app/upgrades/v17/upgrades.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/math/precompute.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/gamm/simulation/sim_msgs.go
  x/incentives/keeper/distribute.go
  x/superfluid/keeper/epoch.go
  x/twap/client/cli/query.go
  x/twap/export_test.go
  x/twap/store.go
Labels: C:CLI, C:x/gamm, T:CI, C:x/incentives, C:x/superfluid, C:app-wiring, C:simulator, C:x/twap, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v18.x, A:backport/v19.x

#6242 Revert "change-back-to-self-hosted (#6221)"
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/no_backport

#6206 XCSv2 deployment and updates
  cosmwasm/Cargo.lock
  cosmwasm/Cargo.toml
  cosmwasm/contracts/crosschain-registry/src/helpers.rs
  cosmwasm/contracts/crosschain-swaps/Cargo.lock
  cosmwasm/contracts/crosschain-swaps/Cargo.toml
  cosmwasm/contracts/crosschain-swaps/src/contract.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/tests/crosschain_swap_test.rs
  cosmwasm/contracts/crosschain-swaps/tests/test_env.rs
  cosmwasm/contracts/outpost/Cargo.lock
  cosmwasm/contracts/outpost/Cargo.toml
  cosmwasm/contracts/outpost/src/execute.rs
  cosmwasm/contracts/outpost/src/msg.rs
  cosmwasm/contracts/swaprouter/Cargo.toml
  cosmwasm/contracts/swaprouter/src/contract.rs
  cosmwasm/contracts/swaprouter/src/execute.rs
  cosmwasm/contracts/swaprouter/src/helpers.rs
  cosmwasm/contracts/swaprouter/src/msg.rs
  cosmwasm/contracts/swaprouter/src/state.rs
  cosmwasm/contracts/swaprouter/tests/set_route_test.rs
  cosmwasm/contracts/swaprouter/tests/swap_test.rs
  cosmwasm/contracts/swaprouter/tests/test_env.rs
  cosmwasm/packages/registry/Cargo.toml
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
  tests/ibc-hooks/bytecode/swaprouter.wasm
  tests/ibc-hooks/deploy_xcs.py
  tests/ibc-hooks/ibc_middleware_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#6249 [v19] Add cosmovisor binaries for v19 upgrade proposal
  networks/osmosis-1/README.md
  networks/osmosis-1/upgrades/v19/mainnet/guide.md
  networks/osmosis-1/upgrades/v19/v19_binaries.json
  scripts/release/create_binaries_json/create_all_binaries_json.sh
  scripts/release/create_binaries_json/create_binaries_json.py
  scripts/release/create_binaries_json/requirements.txt
  scripts/release/create_upgrade_guide/UPGRADE_TEMPLATE.md
  scripts/release/create_upgrade_guide/create_upgrade_guide.py
Labels: V:state/compatible/no_backport, A:no-changelog

#6142 [VS Incentives]: Remove liquidity-based reward splitting from CL
  app/upgrades/v18/upgrades_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog
