Repository osmosis-labs/osmosis, pull requests merged in 2023-07, with the labels that each got.

#5699 [🪛 CI improvements] chores on state-compatibility CI
  .github/workflows/check-state-compatibility.yml
Labels: T:CI, A:backport/v4.x, A:backport/v6.x, A:backport/v8.x, A:backport/v10.x, A:backport/v11.x, A:backport/v12.x, V:state/compatible/no_backport, A:backport/v13.x, A:backport/v15.x, A:no-changelog, A:backport/v16.x

#5684 chore: cl unbonding positions query
  proto/osmosis/concentrated-liquidity/position.proto
  proto/osmosis/concentrated-liquidity/query.proto
  proto/osmosis/concentrated-liquidity/query.yml
  proto/osmosis/superfluid/query.proto
  proto/osmosis/superfluid/superfluid.proto
  x/concentrated-liquidity/client/grpc/grpc_query.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/client/queryproto/query.pb.gw.go
  x/concentrated-liquidity/model/position.pb.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/types/query.pb.go
  x/superfluid/types/query.pb.gw.go
  x/superfluid/types/superfluid.pb.go
Labels: C:CLI, C:x/superfluid, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5612 precision increase solution to infinite loop bug
  app/upgrades/v16/upgrades_test.go
  go.mod
  go.sum
  osmomath/decimal.go
  osmomath/decimal_test.go
  proto/osmosis/concentrated-liquidity/pool.proto
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/python/__init__.py
  x/concentrated-liquidity/python/clmath.py
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/cl_pool_extensionI.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/errors.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5693 refactor/security: prevent same execution price exploit within the same ULP
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5695 fix(CL): negative amount out consumed
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5696 fix: cw pool import export genesis
  app/modules.go
  proto/osmosis/cosmwasmpool/v1beta1/genesis.proto
  x/cosmwasmpool/genesis.go
  x/cosmwasmpool/genesis_test.go
  x/cosmwasmpool/module/module.go
  x/cosmwasmpool/pool_module.go
  x/cosmwasmpool/types/genesis.pb.go
  x/superfluid/keeper/migrate.go
Labels: C:x/superfluid, C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5716 chore: update sdk fork dep
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5721 chore: bump sdk with state breaking barberry fix
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5727 fix: accept neg lock ID for migration
  proto/osmosis/superfluid/tx.proto
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/types/msgs.go
  x/superfluid/types/tx.pb.go
Labels: C:x/superfluid, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5729 chore: update in-repo dep tags to be from release branch
  go.mod
  go.sum
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
Labels: V:state/compatible/no_backport, A:no-changelog

#5655 [CL][tests]: Add all remaining intended test vectors from original tracking issue
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/range_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5674 Update `chain.schema.json` to `v15.2.0`
  chain.schema.json
Labels: A:automerge, V:state/compatible/no_backport, A:no-changelog

#5598 feat: e2e parallel
  Makefile
  tests/e2e/configurer/base.go
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/config/constants.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/containers/config.go
  tests/e2e/containers/containers.go
  tests/e2e/e2e_test.go
  tests/e2e/helpers_e2e_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#5694 Update scripts
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
Labels: V:state/compatible/no_backport, A:no-changelog

#5710 [E2E] Add ParseEvent function
  tests/e2e/configurer/chain/commands.go
Labels: A:automerge, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5746 fix: e2e short
  tests/e2e/e2e_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5754 fix: temp cl swap bug solution
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5732 [🪛 CI improvements] Add e2e init instructions action
  .github/workflows/e2e-initialization-instructions.yaml
Labels: V:state/compatible/no_backport, A:no-changelog

#5755 test: parallel fuzz swap test suite
  x/concentrated-liquidity/fuzz_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/math/tick_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5728 Docs/Fix: Update Broken Links
  .lycheeignore
  CONTRIBUTING.md
  networks/genesis-validators.md
  networks/osmosis-1/upgrades/v11/mainnet/guide.md
  networks/osmosis-1/upgrades/v11/testnet/guide.md
  networks/osmosis-1/upgrades/v12/mainnet/guide.md
  networks/osmosis-1/upgrades/v12/testnet/guide.md
  networks/osmosis-1/upgrades/v13/mainnet/guide.md
  networks/osmosis-1/upgrades/v13/testnet/guide.md
  networks/osmosis-1/upgrades/v14/mainnet/guide.md
  networks/osmosis-1/upgrades/v15/mainnet/guide.md
  networks/osmosis-1/upgrades/v15/testnet/guide.md
  networks/osmosis-1/upgrades/v4/cosmovisor.md
  networks/osmosis-1/upgrades/v5/guide.md
  networks/osmosis-1/upgrades/v7/guide.md
  x/concentrated-liquidity/img/FeeGrowthOutsideCalculations.png
  x/concentrated-liquidity/img/SpreadRewardGrowthOutsideCalcuations.png
  x/gamm/README.md
  x/gamm/client/docs/README.md
  x/gamm/client/docs/create-lbp-pool.md
Labels: C:docs, C:CLI, C:x/gamm, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5745 feat: lock existing position and sfs
  proto/osmosis/superfluid/tx.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/position.go
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/codec.go
  x/superfluid/types/events.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/msgs.go
  x/superfluid/types/tx.pb.go
Labels: C:CLI, C:x/superfluid, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5642 Fix generate docs CI
  .github/workflows/generate-docs.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#5763 fix: tx fees cli cmd
  app/keepers/modules.go
  x/txfees/client/cli/tx.go
  x/txfees/client/proposal_handler.go
  x/txfees/client/rest/tx.go
Labels: C:CLI, C:x/txfees, C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5753 [fix] Fix no-lock gauge CLI
  x/incentives/client/cli/tx.go
Labels: C:CLI, C:x/incentives, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5764 test(CL): add swaps in given out to fuzz suite and fix deterministic randomness
  x/concentrated-liquidity/fuzz_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5761 Fix app wiring for packet foward keeper for v15.x
  app/keepers/keepers.go
  app/modules.go
Labels: C:app-wiring

#5769 tests(CL): improve fuzz suite with many random LPs and removing positions
  x/concentrated-liquidity/fuzz_test.go
  x/concentrated-liquidity/keeper_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5773 Add Business Source License from @NickPullman
  x/concentrated-liquidity/LICENSE.md
Labels: C:docs, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5775 Remove Pools and LiquidityNetInDirection queries from wasmbinding list
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking, A:no-changelog, A:backport/v16.x

#5750 Add debug command for conversion to proto marshalled bytes
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
  cmd/osmosisd/cmd/stargate-query.go
Labels: T:dev-UX, V:state/compatible/no_backport, A:backport/v16.x

#5778 fix: CL swap fuzz error
  x/concentrated-liquidity/fuzz_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5779 fix: unbonding query error check
  x/concentrated-liquidity/pool.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5782 reafactor(CL): tick spacing 100 upgrade handler
  app/upgrades/v16/upgrades.go
Labels: C:app-wiring, V:state/breaking, A:no-changelog, A:backport/v16.x

#5784 [Chore] Add amino name for tx msgs
  proto/osmosis/concentrated-liquidity/tx.proto
  proto/osmosis/lockup/tx.proto
  proto/osmosis/poolmanager/v1beta1/tx.proto
  proto/osmosis/protorev/v1beta1/tx.proto
  proto/osmosis/superfluid/tx.proto
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  x/concentrated-liquidity/types/tx.pb.go
  x/lockup/types/codec.go
  x/lockup/types/tx.pb.go
  x/poolmanager/types/tx.pb.go
  x/protorev/keeper/atom
  x/protorev/types/tx.pb.go
  x/superfluid/types/tx.pb.go
  x/tokenfactory/types/tx.pb.go
Labels: C:x/lockup, C:x/superfluid, C:x/tokenfactory, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager, A:no-changelog

#5789 feat: add add-to-position/withdraw position cl script
  Makefile
  go.mod
  go.sum
  osmoutils/slice_helper.go
  osmoutils/slice_helper_test.go
  tests/cl-go-client/main.go
Labels: T:build, V:state/compatible/backport, A:no-changelog

#5791 chore: add v16 binary json
  networks/osmosis-1/upgrades/v16/v16_binaries.json
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5793 chore: v16 upgrade guide
  networks/osmosis-1/upgrades/v16/mainnet/guide.md
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5796 chore: add missing cli queries CL
  go.mod
  go.sum
  osmoutils/osmocli/parsers.go
  x/concentrated-liquidity/client/cli/query.go
Labels: C:CLI, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5799 fix: update pool uptime accum to now in query
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/types/errors.go
Labels: C:CLI, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5751 comments on deprecateds in WhitelistedQuery wasmbinding
  wasmbinding/stargate_whitelist.go
Labels: A:automerge, V:state/compatible/no_backport, A:no-changelog, A:backport/v16.x

#5816 fix cl readme typo
  x/concentrated-liquidity/README.md
Labels: C:docs, A:automerge, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5819 revert: untested cl message (lock existing position and sfs)
  go.sum
  proto/osmosis/superfluid/tx.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/position.go
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/codec.go
  x/superfluid/types/events.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/msgs.go
  x/superfluid/types/tx.pb.go
Labels: V:state/breaking, A:no-changelog, A:backport/v16.x

#5821 Revert "feat: lock existing position and sfs (#5745) (#5760)"
  proto/osmosis/superfluid/tx.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/position.go
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/codec.go
  x/superfluid/types/events.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/msgs.go
  x/superfluid/types/tx.pb.go
Labels: C:CLI, C:x/superfluid, C:x/concentrated-liquidity, A:no-changelog

#5822 Revert "feat: lock existing position and sfs (#5745) (#5760)"
  proto/osmosis/superfluid/tx.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/position.go
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/codec.go
  x/superfluid/types/events.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/msgs.go
  x/superfluid/types/tx.pb.go
Labels: C:CLI, C:x/superfluid, C:x/concentrated-liquidity, A:no-changelog

#5824 chore: cosmovisor hashes and v16.1.0 tag updates
  networks/osmosis-1/upgrades/v16/mainnet/guide.md
  networks/osmosis-1/upgrades/v16/v16_binaries.json
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5828 chore: set correct binary name for v16
  networks/osmosis-1/upgrades/v16/v16_binaries.json
Labels: V:state/compatible/backport, A:no-changelog

#5823 add validator csv creator script
  scripts/get_validators_csv.py
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#5830 Add Make Command to Update SDK Dependency
  Makefile
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#5831 Fix the superfluid query
  CHANGELOG.md
  x/lockup/keeper/synthetic_lock.go
Labels: C:x/lockup, V:state/compatible/backport, A:backport/v16.x

#5599 test(CL): swap in given out contiguously initialized ticks with tick spacing of one
  x/concentrated-liquidity/swaps_tick_cross_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5835 Delete printlns that made it to prod
  CHANGELOG.md
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v16.x

#5833 Make GetSuperfluidLockByLockId more cleary indicate if its found or not
  x/lockup/keeper/grpc_query.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/lockup/keeper/msg_server.go
  x/lockup/keeper/synthetic_lock.go
  x/lockup/keeper/synthetic_lock_test.go
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/stake.go
  x/superfluid/types/expected_keepers.go
  x/valset-pref/types/expected_interfaces.go
  x/valset-pref/validator_set.go
Labels: C:x/lockup, C:x/superfluid, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5798 chore: increase initial amounts for one localosmosis acc
  tests/localosmosis/scripts/setup.sh
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5846 Cleanup osmoutils tests a bit
  osmoutils/accum/accum_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5851 Docs: Fix Broken Links (Jul 15, 2023)
  networks/osmosis-1/upgrades/v16/mainnet/guide.md
  x/superfluid/README.md
Labels: C:docs, C:x/superfluid

#5848 Make accumulator objects more consistently pointers throughout
  go.mod
  go.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_helpers.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/export_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/spread_rewards.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5827 CI: Automatically close broken links issues when new ones are created
  .github/workflows/check-broken-links.yml
  CHANGELOG.md
Labels: T:CI

#5873 test: validate negative interval accumulation does not panic when serialized
  x/concentrated-liquidity/position_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5813 Improve our release process with goreleaser
  .goreleaser.yaml
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5885 Warning on ibc-hooks docs
  x/ibc-hooks/README.md
Labels: C:docs

#5886 Chore: Updated changelog to include v16.1.0 and v16.1.1
  CHANGELOG.md
Labels: V:state/compatible/no_backport

#5887 feat Query: single CFMM <> CL links list
  go.mod
  go.sum
  proto/osmosis/gamm/v1beta1/query.proto
  x/gamm/client/cli/query.go
  x/gamm/keeper/grpc_query.go
  x/gamm/types/query.pb.go
  x/gamm/types/query.pb.gw.go
Labels: C:CLI, C:x/gamm, V:state/breaking, A:no-changelog

#5874 [Chore] Remove SF partial migration from balancer to CL
  CHANGELOG.md
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/errors.go
Labels: C:x/superfluid, V:state/breaking

#5879 fix: export lock ID from resp
  .github/workflows/test-e2e-makefile.yml
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5893 Export createPosition method in CL module
  CHANGELOG.md
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/position.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#5860 Correct sample json exit-fee field value for stableswap pool creation on CLI command description
  x/gamm/client/cli/tx.go
Labels: C:CLI, C:x/gamm, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5856 refactor: add logs for minted rewards pipeline
  x/incentives/keeper/distribute.go
  x/incentives/keeper/hooks.go
  x/mint/keeper/hooks.go
  x/mint/keeper/keeper.go
  x/pool-incentives/keeper/distr.go
Labels: C:x/mint, C:x/incentives, C:x/pool-incentives, A:automerge, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5905 Jl/run make docs
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
  client/docs/statik/statik.go
  go.mod
  go.sum
Labels: C:docs, V:state/compatible/no_backport, A:no-changelog

#5899 Fix pointer to store upgrades inside loop
  app/app.go
Labels: A:automerge, C:app-wiring, V:state/breaking, A:no-changelog

#5902 chore: v16 e2e init image updates
  tests/e2e/initialization/config.go
  tests/e2e/initialization/v17.go
Labels: V:state/compatible/no_backport, A:no-changelog

#5673 Add docs for liquidity depths calculation
  x/concentrated-liquidity/README.md
Labels: C:docs, Stale, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#5849 Remove repeated get in GetTotalShares
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
  tests/e2e/new_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/spread_rewards.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#5901 feat(ProtoRev): Support for CW Pools
  CHANGELOG.md
  app/upgrades/v17/upgrades.go
  proto/osmosis/protorev/v1beta1/protorev.proto
  x/protorev/keeper/atom
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/msg_server_test.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/routes.go
  x/protorev/keeper/routes_test.go
  x/protorev/types/genesis.go
  x/protorev/types/msg_test.go
  x/protorev/types/protorev.pb.go
  x/protorev/types/validate.go
Labels: C:app-wiring, V:state/breaking, protorev

#5910 Update chain-registry to v16.1.1 and add binaries to all previous releases
  chain.schema.json
Labels: V:state/compatible/no_backport, A:no-changelog

#5907 Add script to generate cosmovisor binaries json and list osmosis upgrades
  networks/osmosis-1/README.md
  scripts/release/create_all_binaries_json.sh
  scripts/release/create_binaries_json.py
  scripts/release/requirements.txt
Labels: V:state/compatible/no_backport, A:no-changelog

#5855 feat(x/cosmwasmpool): Sending `token_in_max_amount` to the contract before running contract msg
  CHANGELOG.md
  x/cosmwasmpool/README.md
  x/cosmwasmpool/pool_module.go
  x/cosmwasmpool/pool_module_test.go
  x/cosmwasmpool/types/errors.go
Labels: C:docs, A:automerge, V:state/breaking

#5889 feat: query max amountIn based on max ticks willing to traverse
  CHANGELOG.md
  tests/cl-go-client/go.mod
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: C:CLI, V:state/breaking, C:x/concentrated-liquidity

#5914 chore: prevent kicking all validators during sim run
  simulation/executor/mock_tendermint.go
Labels: C:simulator, V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5915 chore: auto complete cli
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v16.x

#5908 Add goreleaser commands to Makefile and create a Github Action to run goreleaser
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yaml
  Makefile
Labels: T:CI, T:build, V:state/compatible/no_backport, A:no-changelog

#5903 Test contract for tokenfactory
  x/tokenfactory/keeper/testcontracts/.cargo/config
  x/tokenfactory/keeper/testcontracts/.gitignore
  x/tokenfactory/keeper/testcontracts/Beaker.toml
  x/tokenfactory/keeper/testcontracts/Cargo.toml
  x/tokenfactory/keeper/testcontracts/contracts/.gitkeep
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/.cargo/config
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/.editorconfig
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/.github/workflows/Basic.yml
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/.github/workflows/Release.yml
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/.gitignore
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/Cargo.toml
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/LICENSE
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/NOTICE
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/README.md
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/src/bin/schema.rs
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/src/contract.rs
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/src/error.rs
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/src/lib.rs
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/src/msg.rs
  x/tokenfactory/keeper/testdata/infinite_track_beforesend.wasm
Labels: C:docs, C:x/tokenfactory, V:state/compatible/no_backport, A:no-changelog

#5929 Update CODEOWNERS
  .github/CODEOWNERS
Labels: V:state/compatible/no_backport, A:no-changelog

#5869 fix/test/docs: negative interval accumulation with spread rewards
  CHANGELOG.md
  app/apptesting/test_suite.go
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
  tests/cl-genesis-positions/go.sum
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/invariant_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/spread_rewards.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
Labels: C:docs, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity

#5924 CL: Continue removing duplicate swap code
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/swaps.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5923 CL: Initialize tick minor gas optimization & cleanup
  CHANGELOG.md
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fuzz_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/spread_rewards.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/tick.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#5922 Separate out query only CL logic into its own file
  x/concentrated-liquidity/query.go
  x/concentrated-liquidity/query_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v16.x

#5920 feat: input/output human readable denoms in CLI
  cmd/osmosisd/cmd/config.go
  cmd/osmosisd/cmd/init.go
  cmd/osmosisd/cmd/osmo-test-5-assetlist.json
  cmd/osmosisd/cmd/osmosis-1-assetlist.json
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v16.x
