Repository osmosis-labs/osmosis, pull requests merged in 2023-02, with the labels that each got.

#4188 Replace `docker-build-debug-alpine` to `docker-build-debug` in Makefile
  Makefile
Labels: T:build, V:state/compatible/backport, A:backport/v14.x

#4182 [CI] Add GitHub Action to push docker images
  .github/workflows/push-dev-docker-images.yml
Labels: T:CI, V:state/compatible/backport, A:backport/v14.x

#3746 Make apply func if no err, out of gas panic, match std behavior
  CHANGELOG.md
  osmoutils/cache_ctx.go
  osmoutils/cache_ctx_test.go
Labels: Stale, V:state/breaking

#4193 Fix main build
  osmoutils/cache_ctx_test.go
Labels: A:automerge, V:state/compatible/no_backport

#4179 Timeouts always return a success
  go.mod
  go.sum
  go.work.sum
  x/ibc-hooks/wasm_hook.go
Labels: V:state/compatible/backport

#4151 Allow explicit channels on XCS receiver
  cosmwasm/Cargo.lock
  cosmwasm/contracts/crosschain-swaps/Cargo.toml
  cosmwasm/contracts/crosschain-swaps/src/checks.rs
  cosmwasm/contracts/crosschain-swaps/src/contract.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/tests/crosschain_swap_test.rs
  cosmwasm/contracts/outpost/src/msg.rs
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
  tests/ibc-hooks/ibc_middleware_test.go
Labels: V:state/compatible/backport

#4126 CL: check denoms match when creating migrate link
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
Labels: C:x/gamm, V:state/breaking

#4107 Add superfluid unbond partial amount
  CHANGELOG.md
  proto/osmosis/superfluid/tx.proto
  x/superfluid/keeper/internal/events/emit.go
  x/superfluid/keeper/internal/events/emit_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/codec.go
  x/superfluid/types/events.go
  x/superfluid/types/msg_test.go
  x/superfluid/types/msgs.go
  x/superfluid/types/tx.pb.go
Labels: C:x/superfluid, V:state/breaking

#4131 feat/test(CL Fees): Swap fees for in given out
  go.work.sum
  scripts/cl/common.py
  scripts/cl/in_given_out.py
  scripts/cl/main.py
  scripts/cl/one_for_zero.py
  scripts/cl/out_given_in.py
  scripts/cl/zero_for_one.py
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/internal/math/math.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4186 tests[CL]: Add SwapInGivenOut Inverse Test
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4174 Increasing allowed wasm bytecode size
  app/app.go
  tests/e2e/e2e_test.go
  tests/e2e/scripts/large.wasm
  tests/ibc-hooks/ibc_middleware_test.go
Labels: C:app-wiring, V:state/breaking

#4205 fix(poolmanager): register message server
  x/poolmanager/module/module.go
Labels: C:app-wiring, V:state/breaking, C:x/poolmanager

#4056 [CL][e2e]: CreateConcentratedPosition
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/containers/config.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/grpc_query.go
Labels: C:e2e, V:state/compatible/no_backport, C:x/concentrated-liquidity, F: concentrated-liquidity

#4200 update cosmos sdk for ibc hooks
  go.work.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: V:state/compatible/no_backport

#4208 Remove unnecessary bytecode
  .gitignore
  tests/e2e/scripts/large.wasm
  tests/e2e/scripts/rate_limiter.wasm
Labels: V:state/compatible/no_backport

#4210 Fix E2E tests
  tests/e2e/e2e_test.go
  tests/e2e/scripts/bytecode/large.wasm
Labels: V:state/compatible/no_backport

#4204 [accum][CL Incentives]: Track total shares for accumulators
  osmoutils/accum/accum.go
  osmoutils/accum/accum.pb.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/export_test.go
  proto/osmosis/accum/v1beta1/accum.proto
Labels: V:state/breaking, F: concentrated-liquidity

#4138 [CL Incentives] Track relevant uptime accumulators in new positions
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4207 Integrate Async ICQ
  app/keepers/keepers.go
  app/keepers/modules.go
  app/keepers/querier.go
  app/modules.go
  app/upgrades/v15/constants.go
  go.mod
  go.sum
Labels: C:app-wiring, V:state/breaking

#4221 CLI: add frozenUntil to example and use of NewWithdrawPositionCmd
  x/concentrated-liquidity/client/cli/tx.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4220 Async ICQ changelog
  CHANGELOG.md
Labels: V:state/compatible/no_backport

#4216 Dong/updateto1.19
  scripts/multinode-local-testnet.md
  tests/localosmosis/docker-compose.yml
  tests/localosmosis/state_export/docker-compose.yml
  tests/localrelayer/docker-compose.yml
Labels: T:build, V:state/compatible/backport, A:backport/v14.x

#4192 Add frozen-util example
  x/concentrated-liquidity/client/cli/tx.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4150 Check node upgrade before running e2e_test.go
  tests/e2e/README.md
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/upgrade.go
Labels: C:docs, C:e2e, V:state/compatible/backport, A:backport/v14.x

#4232 Add SuperfluidUndelegateAndUnbondLock to CLI
  x/superfluid/client/cli/tx.go
Labels: C:CLI, C:x/superfluid, V:state/compatible/no_backport

#4167 (CL): Add `LiquidityDepthsForRange` Query
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/query.pb.go
  x/concentrated-liquidity/types/query.pb.gw.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4235 CL: change liquidity amount field from sdk.Int to sdk.Dec in `MsgCreatePosition` and `MsgWithdrawPositionRequest`
  go.work.sum
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/types/msgs_test.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, F: concentrated-liquidity

#4237 Bump CI go versions to 1.19
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/lint.yml
  .github/workflows/sim.yml
  .github/workflows/test-e2e-makefile.yml
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/backport

#4238 fix(CL Swaps): remove incorrect price limit constants
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/constants.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4242 Update go.work to 1.19
  go.work
  go.work.sum
Labels: V:state/compatible/backport, A:backport/v14.x

#4247 Move ibctesting testchain to tests
  tests/ibc-hooks/ibc_middleware_test.go
  tests/osmosisibctesting/README.md
  tests/osmosisibctesting/chain.go
  tests/osmosisibctesting/wasm.go
  x/ibc-rate-limit/ibc_middleware_test.go
Labels: C:docs, V:state/compatible/no_backport

#4243 Add stableswapPool.json and update docker-compose
  tests/localosmosis/docker-compose.yml
  tests/localosmosis/scripts/stableswapPool.json
Labels: V:state/compatible/backport, A:backport/v14.x

#4254 chore: re-lower noise in e2e tests
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/no_backport

#4255 chore(mergify): add v15.x backport label; remove cl backport label
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport

#4248 `MultihopEstimateInGivenExactAmountOut` and `MultihopEstimateOutGivenExactAmountIn` panic recovering
  CHANGELOG.md
  app/apptesting/gamm.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
Labels: C:app-wiring, V:state/breaking, C:x/poolmanager, A:backport/v15.x

#3911 Integrate Packet Forward Middleware
  CHANGELOG.md
  app/keepers/keepers.go
  app/keepers/modules.go
  app/upgrades/v15/constants.go
  app/upgrades/v15/upgrades.go
  go.mod
  go.sum
  go.work.sum
  tests/e2e/e2e_test.go
Labels: C:app-wiring, V:state/breaking

#4259 chore: update cosmos-sdk fork for v15
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: V:state/compatible/backport, A:backport/v15.x

#4262 fix(x/twap): geometric twap genesis validation
  x/twap/types/genesis.go
  x/twap/types/genesis_test.go
Labels: C:x/twap, V:state/compatible/backport, A:backport/v14.x, A:backport/v15.x

#4250 Add uosmo, uion denom metadata
  CHANGELOG.md
  app/upgrades/v15/export_test.go
  app/upgrades/v15/upgrade_test.go
  app/upgrades/v15/upgrades.go
Labels: C:app-wiring, V:state/breaking, A:backport/v15.x

#4219 XCS: management messages
  cosmwasm/contracts/crosschain-swaps/src/checks.rs
  cosmwasm/contracts/crosschain-swaps/src/contract.rs
  cosmwasm/contracts/crosschain-swaps/src/error.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/src/state.rs
  cosmwasm/contracts/crosschain-swaps/tests/test_env.rs
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
  tests/ibc-hooks/ibc_middleware_test.go
Labels: V:state/compatible/no_backport

#4249 fix(CL): fix swap and fee problems in compute swap step
  go.mod
  go.sum
  go.work.sum
  osmomath/go.sum
  scripts/cl/common.py
  scripts/cl/in_given_out.py
  scripts/cl/one_for_zero.py
  scripts/cl/out_given_in.py
  scripts/cl/zero_for_one.py
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/internal/swapstrategy/export_test.go
  x/concentrated-liquidity/internal/swapstrategy/fees.go
  x/concentrated-liquidity/internal/swapstrategy/fees_test.go
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4273 [osmoutils][accum] Make `getPosition` in accumulator package public
  osmoutils/accum/accum.go
  osmoutils/accum/accum_helpers.go
  osmoutils/accum/export_test.go
Labels: V:state/compatible/backport

#4285 Fix ambiguity cli in both gamm and poolmanager modules
  x/gamm/client/cli/query.go
  x/poolmanager/client/cli/query.go
Labels: C:CLI, C:x/gamm, V:state/compatible/no_backport, C:x/poolmanager

#4276 Tagged async-icq
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v15/constants.go
  go.mod
  go.sum
  go.work.sum
Labels: V:state/compatible/backport, A:backport/v15.x

#4283 [CL Incentives] Implement `setIncentiveRecords` and `getIncentiveRecords`
  proto/osmosis/concentrated-liquidity/incentive_record.proto
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/incentive_record.pb.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/pool.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity

#4294 Revert "[CL Incentives] Implement `setIncentiveRecords` and `getIncentiveRecords`"
  proto/osmosis/concentrated-liquidity/incentive_record.proto
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/incentive_record.pb.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/pool.go
Labels: C:x/concentrated-liquidity

#4292 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: V:state/compatible/no_backport

#4293 chore[CL]: pre-compute min and max ticks
  x/concentrated-liquidity/internal/math/tick.go
  x/concentrated-liquidity/internal/math/tick_test.go
  x/concentrated-liquidity/types/constants.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4297 Minor version update to pfm
  go.mod
  go.sum
  go.work.sum
Labels: V:state/breaking, A:backport/v15.x

#4300 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: V:state/compatible/no_backport

#4306 Prevent adding to a finished gauge
  CHANGELOG.md
  x/incentives/keeper/gauge.go
  x/incentives/keeper/msg_server_test.go
  x/incentives/simulation/operations.go
  x/incentives/types/gauge.go
Labels: C:x/incentives, C:simulator, V:state/breaking

#4129 feat[CL]: lock migration to frozen concentrated position
  app/keepers/keepers.go
  app/modules.go
  proto/osmosis/gamm/pool-models/balancer/tx/tx.proto
  proto/osmosis/superfluid/tx.proto
  x/concentrated-liquidity/architecture.md
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/position.go
  x/gamm/keeper/genesis_test.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/msg_server_test.go
  x/gamm/keeper/pool.go
  x/gamm/pool-models/balancer/msgs_test.go
  x/gamm/pool-models/balancer/tx.pb.go
  x/gamm/types/errors.go
  x/gamm/types/expected_keepers.go
  x/gamm/types/key.go
  x/superfluid/keeper/genesis_test.go
  x/superfluid/keeper/keeper.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/module.go
  x/superfluid/types/codec.go
  x/superfluid/types/events.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/gov.go
  x/superfluid/types/msgs.go
  x/superfluid/types/tx.pb.go
Labels: C:docs, C:x/gamm, C:x/superfluid, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity

#4319 fix(ci): incorrect e2e images pushed to Docker hub
  .github/workflows/push-dev-docker-images.yml
  .github/workflows/push-docker-images.yml
Labels: V:state/compatible/backport, A:backport/v15.x

#4236 (CL test): `writeCtx` tests for calc methods
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, F: concentrated-liquidity

#4240 (CL Test): Add tests for `validateTickInRangeIsValid`
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, F: concentrated-liquidity

#4333 fix: github actions push dev images workflow syntax
  .github/workflows/push-dev-docker-images.yml
Labels: T:CI, V:state/compatible/backport, A:backport/v15.x

#4331 chore: update changelog on main for v14.0.1
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v15.x

#4301 fix/test(CL Swaps): fix cross tick logic, re-estimate tests; final changes for functional tests
  scripts/cl/README.md
  scripts/cl/__init__.py
  scripts/cl/common/__init__.py
  scripts/cl/common/common.py
  scripts/cl/common/sdk_dec.py
  scripts/cl/in_given_out.py
  scripts/cl/math.py
  scripts/cl/one_for_zero.py
  scripts/cl/out_given_in.py
  scripts/cl/test/__init__.py
  scripts/cl/test/test_common.py
  scripts/cl/zero_for_one.py
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/internal/swapstrategy/fees.go
  x/concentrated-liquidity/internal/swapstrategy/fees_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: C:x/concentrated-liquidity

#4321 [Cl:Math] Remove less precise formula
  x/concentrated-liquidity/internal/math/math.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4317 fix(e2e): fix e2e test for consensus min gas fee #4244
  tests/e2e/README.md
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/config/constants.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/containers/config.go
  tests/e2e/containers/containers.go
  tests/e2e/e2e_test.go
  tests/e2e/scripts/hermes_bootstrap.sh
Labels: C:docs, V:state/compatible/backport, A:backport/v15.x

#4244 Consensus min gas fee of .0025 uosmo
  simulation/simtypes/txbuilder.go
  tests/e2e/README.md
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/config/constants.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/containers/config.go
  tests/e2e/containers/containers.go
  tests/e2e/e2e_test.go
  tests/e2e/initialization/config.go
  tests/e2e/scripts/hermes_bootstrap.sh
  tests/ibc-hooks/ibc_middleware_test.go
  tests/osmosisibctesting/chain.go
  tests/simulator/sim_test.go
  x/ibc-rate-limit/ibc_middleware_test.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/types/constants.go
Labels: C:docs, C:x/txfees, C:simulator, V:state/breaking, A:backport/v15.x

#4181 Protorev smarter logic and more testing
  proto/osmosis/protorev/v1beta1/genesis.proto
  proto/osmosis/protorev/v1beta1/protorev.proto
  tests/e2e/configurer/chain/queries.go
  tests/e2e/containers/config.go
  tests/e2e/e2e_test.go
  tests/e2e/initialization/config.go
  tests/e2e/scripts/protorevPool1.json
  tests/e2e/scripts/protorevPool2.json
  tests/e2e/scripts/protorevPool3.json
  x/protorev/genesis.go
  x/protorev/keeper/developer_fees_test.go
  x/protorev/keeper/epoch_hook_test.go
  x/protorev/keeper/grpc_query_test.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/msg_server.go
  x/protorev/keeper/msg_server_test.go
  x/protorev/keeper/posthandler.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/protorev_test.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/keeper/routes.go
  x/protorev/keeper/routes_test.go
  x/protorev/keeper/statistics_test.go
  x/protorev/types/constants.go
  x/protorev/types/genesis.go
  x/protorev/types/genesis.pb.go
  x/protorev/types/genesis_test.go
  x/protorev/types/msg_test.go
  x/protorev/types/protorev.pb.go
  x/protorev/types/token_pair_arb_routes.go
Labels: V:state/breaking, A:backport/v15.x

#4337 chore(e2e): upgrade e2e Hermes to v1.2.0
  tests/e2e/configurer/base.go
  tests/e2e/configurer/chain/chain.go
  tests/e2e/containers/config.go
  tests/e2e/scripts/hermes_bootstrap.sh
Labels: V:state/compatible/backport, A:backport/v15.x

#4282 tests: functional test for CL fees
  scripts/cl/README.md
  scripts/cl/__init__.py
  scripts/cl/common/__init__.py
  scripts/cl/common/common.py
  scripts/cl/common/sdk_dec.py
  scripts/cl/in_given_out.py
  scripts/cl/math.py
  scripts/cl/one_for_zero.py
  scripts/cl/out_given_in.py
  scripts/cl/test/__init__.py
  scripts/cl/test/test_common.py
  scripts/cl/zero_for_one.py
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/internal/swapstrategy/fees.go
  x/concentrated-liquidity/internal/swapstrategy/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: C:x/concentrated-liquidity

#4265 fix: CL accumulator and tick initialization logic
  go.mod
  go.sum
  go.work.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_helpers.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/export_test.go
  scripts/cl/README.md
  scripts/cl/__init__.py
  scripts/cl/common/__init__.py
  scripts/cl/common/common.py
  scripts/cl/common/sdk_dec.py
  scripts/cl/in_given_out.py
  scripts/cl/math.py
  scripts/cl/one_for_zero.py
  scripts/cl/out_given_in.py
  scripts/cl/test/__init__.py
  scripts/cl/test/test_common.py
  scripts/cl/zero_for_one.py
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/internal/swapstrategy/fees.go
  x/concentrated-liquidity/internal/swapstrategy/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4362 refactor(CL): MsgCollectFeesResponse field from TokenOut to CollectedFees
  go.mod
  go.work.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/types/tx.pb.go
  x/ibc-hooks/go.mod
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4363 docs(CL): begin converting `architecture.md` into module spec
  x/concentrated-liquidity/architecture.md
Labels: C:docs, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4120 [e2e][CL]: Withdraw Position
  .vscode/launch.json
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
Labels: C:e2e, V:state/compatible/no_backport, F: concentrated-liquidity

#4198 test(CL Fees): updateFeeGrowthGlobal
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/swaps_test.go
Labels: Stale, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4231 [CL Incentives] Implement proto and helpers for global accumulator update logic
  go.mod
  go.sum
  go.work.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
  proto/osmosis/concentrated-liquidity/incentive_record.proto
  proto/osmosis/concentrated-liquidity/pool.proto
  proto/osmosis/concentrated-liquidity/tickInfo.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/model/tickInfo.pb.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/types/incentive_record.pb.go
  x/concentrated-liquidity/types/pool.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity

#4295 [CL Incentives] Implement `setIncentiveRecords` and `getIncentiveRecords`
  proto/osmosis/concentrated-liquidity/incentive_record.proto
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/incentive_record.pb.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/pool.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity

#4365 docs(CL): update LP section and rename architecture.md to README.md
  x/concentrated-liquidity/README.md
Labels: C:docs, V:state/compatible/backport, C:x/concentrated-liquidity

#4358 Nicolas/async icq whitelist
  app/upgrades/v15/export_test.go
  app/upgrades/v15/upgrade_test.go
  app/upgrades/v15/upgrades.go
  wasmbinding/stargate_whitelist.go
Labels: C:app-wiring, V:state/compatible/backport, A:backport/v15.x

#4359 fix(x/twap): incorrect time delta due to nanoseconds in time
  CHANGELOG.md
  tests/e2e/e2e_test.go
  x/twap/keeper_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/strategy.go
  x/twap/strategy_test.go
  x/twap/types/utils.go
  x/twap/types/utils_test.go
Labels: C:x/twap, V:state/compatible/backport, A:backport/v15.x

#4375 Nicolas/async icq whitelist
  app/upgrades/v15/upgrade_test.go
  app/upgrades/v15/upgrades.go
  go.work.sum
  wasmbinding/stargate_whitelist.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:backport/v15.x

#4378 chore(deps): update sdk fork with authz grants by grantee query
  go.mod
  go.sum
  go.work.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: V:state/compatible/backport, A:backport/v15.x

#4364 refactor: unexport CL lp methods
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/position.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4388 Set proper wasm bytecode size
  CHANGELOG.md
  app/app.go
Labels: C:app-wiring, V:state/breaking, A:backport/v15.x

#4393 Setup e2e test for Stride pool migration
  proto/osmosis/poolmanager/v1beta1/genesis.proto
  proto/osmosis/poolmanager/v1beta1/module_route.proto
  tests/e2e/e2e_test.go
  tests/e2e/initialization/config.go
  x/poolmanager/create_pool.go
  x/poolmanager/create_pool_test.go
  x/poolmanager/export_test.go
  x/poolmanager/keeper.go
  x/poolmanager/keeper_test.go
  x/poolmanager/router.go
  x/poolmanager/types/genesis.pb.go
  x/poolmanager/types/keys.go
  x/poolmanager/types/module_route.pb.go
Labels: V:state/breaking, A:backport/v14.x, C:x/poolmanager, A:backport/v15.x

#4396 test(e2e): upgrade e2e init image for Stride migration
  tests/e2e/containers/config.go
  tests/e2e/e2e_test.go
Labels: V:state/compatible/backport, A:backport/v15.x

#4382 Tokenfactory: Add Before send hooks
  app/keepers/keepers.go
  proto/osmosis/tokenfactory/v1beta1/query.proto
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  x/tokenfactory/client/cli/query.go
  x/tokenfactory/client/cli/tx.go
  x/tokenfactory/keeper/before_send.go
  x/tokenfactory/keeper/before_send_test.go
  x/tokenfactory/keeper/grpc_query.go
  x/tokenfactory/keeper/keeper_test.go
  x/tokenfactory/keeper/msg_server.go
  x/tokenfactory/keeper/testdata/no100.wasm
  x/tokenfactory/types/beforeSend.go
  x/tokenfactory/types/codec.go
  x/tokenfactory/types/events.go
  x/tokenfactory/types/expected_keepers.go
  x/tokenfactory/types/keys.go
  x/tokenfactory/types/msgs.go
  x/tokenfactory/types/query.pb.go
  x/tokenfactory/types/query.pb.gw.go
  x/tokenfactory/types/tx.pb.go
Labels: C:CLI, C:app-wiring, C:x/tokenfactory, V:state/compatible/backport

#4390 Remove unnecessary param from XCS
  cosmwasm/contracts/crosschain-swaps/README.md
  cosmwasm/contracts/crosschain-swaps/schema/crosschain-swaps.json
  cosmwasm/contracts/crosschain-swaps/src/contract.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/tests/crosschain_swap_test.rs
  cosmwasm/contracts/outpost/src/checks.rs
  cosmwasm/contracts/outpost/src/execute.rs
  cosmwasm/contracts/outpost/src/lib.rs
  cosmwasm/contracts/outpost/src/msg.rs
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
  tests/ibc-hooks/ibc_middleware_test.go
Labels: V:state/compatible/no_backport

#4340 Added rate limits in upgrade
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v15/export_test.go
  app/upgrades/v15/upgrade_test.go
  app/upgrades/v15/upgrades.go
  proto/osmosis/ibc-rate-limit/v1beta1/genesis.proto
  proto/osmosis/ibc-rate-limit/v1beta1/query.proto
  proto/osmosis/ibc-rate-limit/v1beta1/query.yml
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/e2e_test.go
  x/ibc-rate-limit/client/cli/query.go
  x/ibc-rate-limit/client/grpc/grpc_query.go
  x/ibc-rate-limit/client/query_proto_wrap.go
  x/ibc-rate-limit/client/queryproto/query.pb.go
  x/ibc-rate-limit/client/queryproto/query.pb.gw.go
  x/ibc-rate-limit/genesis.go
  x/ibc-rate-limit/genesis_test.go
  x/ibc-rate-limit/ibc_module.go
  x/ibc-rate-limit/ibcratelimitmodule/module.go
  x/ibc-rate-limit/ics4_wrapper.go
  x/ibc-rate-limit/module.go
  x/ibc-rate-limit/types/genesis.go
  x/ibc-rate-limit/types/genesis.pb.go
  x/ibc-rate-limit/types/keys.go
  x/ibc-rate-limit/types/params.go
Labels: C:CLI, C:app-wiring, V:state/breaking, A:backport/v14.x, A:backport/v15.x

#4403 Fix poolmanager query
  x/poolmanager/client/cli/query_test.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/module/module.go
Labels: C:CLI, C:app-wiring, V:state/compatible/backport, C:x/poolmanager, A:backport/v15.x

#4201 [CL:Test] Add sqrtPrice check to swaps_test
  scripts/cl/one_for_zero.py
  scripts/cl/zero_for_one.py
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4408 backport genesis for RL
  app/keepers/modules.go
  proto/osmosis/ibc-rate-limit/v1beta1/genesis.proto
  proto/osmosis/ibc-rate-limit/v1beta1/query.proto
  proto/osmosis/ibc-rate-limit/v1beta1/query.yml
  x/ibc-rate-limit/client/cli/query.go
  x/ibc-rate-limit/client/grpc/grpc_query.go
  x/ibc-rate-limit/client/query_proto_wrap.go
  x/ibc-rate-limit/client/queryproto/query.pb.go
  x/ibc-rate-limit/client/queryproto/query.pb.gw.go
  x/ibc-rate-limit/genesis.go
  x/ibc-rate-limit/genesis_test.go
  x/ibc-rate-limit/ibc_module.go
  x/ibc-rate-limit/ibcratelimitmodule/module.go
  x/ibc-rate-limit/ics4_wrapper.go
  x/ibc-rate-limit/module.go
  x/ibc-rate-limit/types/genesis.go
  x/ibc-rate-limit/types/genesis.pb.go
  x/ibc-rate-limit/types/keys.go
  x/ibc-rate-limit/types/params.go
Labels: C:CLI, C:app-wiring

#4307 [CL Incentives]: Sync global uptime accumulators upon liquidity change
  go.work.sum
  proto/osmosis/concentrated-liquidity/incentive_record_body.proto
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/types/incentive_record.go
  x/concentrated-liquidity/types/incentive_record.pb.go
  x/concentrated-liquidity/types/incentive_record_body.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity

#4370 Re[CL:Incentives] Add further tests to uptime accumulator update logic
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity

#4384 migrate stXXX/XXX constant product pool -> stableswap pool
  CHANGELOG.md
  app/upgrades/v15/constants.go
  app/upgrades/v15/export_test.go
  app/upgrades/v15/upgrade_test.go
  app/upgrades/v15/upgrades.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/configurer/config/constants.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/e2e_test.go
  x/gamm/keeper/pool.go
Labels: C:x/gamm, C:app-wiring, V:state/breaking, A:backport/v15.x

#4354 ProtoRev: Documentation, stateless msg validation + binary search edge case
  proto/osmosis/protorev/v1beta1/protorev.proto
  x/README.md
  x/protorev/client/cli/query.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/msg_server_test.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/routes.go
  x/protorev/protorev.md
  x/protorev/types/msg.go
  x/protorev/types/msg_test.go
  x/protorev/types/protorev.pb.go
  x/protorev/types/token_pair_arb_routes.go
Labels: C:docs, C:CLI, V:state/breaking

#4411 fix(e2e): typo when skipping TestStridePoolMigration locally
  tests/e2e/e2e_test.go
Labels: A:automerge, V:state/compatible/backport, A:backport/v15.x

#4418 using GOWORK=off on go mod verify
  Makefile
Labels: T:build, V:state/compatible/backport, A:backport/v14.x, A:backport/v15.x

#4421 XCS: Adding packet to xcs response
  cosmwasm/contracts/crosschain-swaps/README.md
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/ibc_middleware_test.go
Labels: V:state/compatible/no_backport

#4436 Update IBC hooks and wasmd dependencies.
  go.mod
  go.sum
  go.work.sum
  x/ibc-hooks/go.mod
Labels: V:state/compatible/no_backport, A:backport/v15.x

#4417 [TokenFactory] Add `ForceTranfer`, `BurnFrom` and `MintTo`
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/bankactions.go
  x/tokenfactory/keeper/msg_server.go
  x/tokenfactory/types/codec.go
  x/tokenfactory/types/msgs.go
  x/tokenfactory/types/tx.pb.go
Labels: C:x/tokenfactory, V:state/breaking

#4449 feat[CL]: add swap fee whitelist
  proto/osmosis/concentrated-liquidity/params.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/types/params.go
  x/concentrated-liquidity/types/params.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4452 fix: init genesis rate-limited-params not running
  app/modules.go
Labels: C:app-wiring

#4462 chore: update sdk fork dependency
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: V:state/compatible/backport, A:backport/v15.x

#4465 fix small markdown mistake
  x/gamm/README.md
Labels: C:docs, C:x/gamm, V:state/compatible/backport, A:backport/v15.x
