Repository osmosis-labs/osmosis, pull requests merged in 2023-01, with the labels that each got.

#3737 Fix: Support HTTP requests for `FilteredPools`
  CHANGELOG.md
  proto/osmosis/gamm/v1beta1/query.proto
  x/gamm/client/cli/query.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/types/query.pb.go
Labels: C:CLI, C:x/gamm, V:state/compatible/backport, A:backport/v13.x

#3899 Making osmoutils compile on chains that don't use our SDK fork
  CHANGELOG.md
  app/app.go
  go.mod
  go.sum
  go.work.sum
  osmoutils/module_account.go
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:app-wiring, V:state/compatible/backport

#3839 Gamm stableswap improvements
  osmomath/binary_search.go
  osmomath/binary_search_test.go
  x/gamm/pool-models/stableswap/README.md
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
  x/gamm/pool-models/stableswap/util_test.go
  x/gamm/types/errors.go
Labels: C:docs, C:x/gamm, V:state/compatible/no_backport

#3909 Fix stableswap use of osmomath
  go.mod
  go.sum
  go.work.sum
  osmomath/binary_search.go
Labels: V:state/compatible/no_backport

#3913 chore(CL): re-enable CL module tests (finalize merge #2)
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/msgs.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#3912 chore(x/swaprouter): register amino and interfaces (finalizing merge to main #1)
  x/swaprouter/module/module.go
  x/swaprouter/types/codec.go
  x/swaprouter/types/msgs.go
  x/swaprouter/types/msgs_test.go
Labels: C:app-wiring, V:state/breaking, C:x/swaprouter

#3843 [ValSet-Pref] Cli support and tested SetValSet, DelValSet, UnDelValSet
  osmomath/sigfig_round_test.go
  osmoutils/cli_helpers.go
  x/valset-pref/client/cli/tx.go
  x/valset-pref/keeper_test.go
  x/valset-pref/msg_server.go
  x/valset-pref/msg_server_test.go
  x/valset-pref/types/keys.go
  x/valset-pref/types/msgs.go
  x/valset-pref/types/msgs_test.go
  x/valset-pref/validator_set.go
Labels: C:CLI, V:state/compatible/no_backport

#3892 [ValSet-Pref] Simulator wiring & sim_msgs for SetValSet, Delegate, UnDelegate
  simulation/simtypes/app.go
  simulation/simtypes/simctx.go
  x/valset-pref/simulation/sim_msgs.go
  x/valset-pref/types/codec.go
  x/valset-pref/types/expected_interfaces.go
  x/valset-pref/types/msgs.go
  x/valset-pref/valpref-module/module.go
Labels: C:app-wiring, C:simulator, V:state/breaking

#3917 Remove deprecation from arithmetic & geometric twap to now query
  proto/osmosis/twap/v1beta1/query.proto
  x/twap/client/queryproto/query.pb.go
Labels: C:CLI, C:x/twap, V:state/compatible/backport

#3863 Enforce SDK 45 in the dependencies
  go.mod
  go.sum
  go.work.sum
  osmomath/go.mod
  osmoutils/go.mod
  osmoutils/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: V:state/compatible/no_backport

#3903 feat(osmoutils): custom accumulator position updates
  osmoutils/accum/accum.go
  osmoutils/accum/accum_helpers.go
  osmoutils/accum/accum_helpers_test.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/errors.go
  osmoutils/accum/export_test.go
Labels: V:state/compatible/no_backport

#3927 Lifecycle completed without contracts
  go.mod
  go.sum
  go.work.sum
  tests/ibc-hooks/bytecode/counter.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/testutils/contracts/counter/src/contract.rs
  tests/ibc-hooks/testutils/contracts/counter/src/msg.rs
  x/ibc-hooks/bytecode/crosschain_swaps.wasm
  x/ibc-hooks/bytecode/swaprouter.wasm
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/ibc-hooks/wasm_hook.go
Labels: V:state/breaking

#3907 [CL]: Add swaprouter queries to stargate whitelist
  CHANGELOG.md
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking

#3922 test(x/twap): geometric twap edge case tests
  osmomath/binary_search.go
  x/gamm/types/constants.go
  x/twap/strategy.go
  x/twap/strategy_test.go
Labels: C:x/gamm, C:x/twap, V:state/compatible/no_backport

#3905 [CL]: Deprecate duplicated queries from gamm module
  CHANGELOG.md
  proto/osmosis/gamm/v1beta1/query.proto
  tests/e2e/configurer/chain/commands.go
  wasmbinding/stargate_whitelist.go
  x/concentrated-liquidity/model/pool.go
  x/gamm/client/cli/query.go
  x/gamm/keeper/grpc_query.go
  x/gamm/types/query.pb.go
Labels: C:CLI, C:x/gamm, V:state/compatible/no_backport, C:x/concentrated-liquidity

#3919 [CL] Create Fee Accumulator upon Pool Creation
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#3908 Use standard IBC errors
  go.mod
  go.sum
  go.work.sum
  osmoutils/ibc.go
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/ibc-hooks/types/errors.go
  x/ibc-hooks/wasm_hook.go
  x/ibc-rate-limit/ibc_middleware_test.go
  x/ibc-rate-limit/ibc_module.go
Labels: V:state/breaking

#3931 Update mergify
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:backport/v14.x

#3935 v14: First pass changelog update
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v14.x

#3937 Wasm hooks E2E test & change intermediary address prefix
  go.mod
  go.sum
  go.work.sum
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  tests/ibc-hooks/ibc_middleware_test.go
  tests/ibc-hooks/test_hooks.sh
  x/ibc-hooks/README.md
  x/ibc-hooks/bytecode/counter.wasm
  x/ibc-hooks/bytecode/crosschain_swaps.wasm
  x/ibc-hooks/bytecode/echo.wasm
  x/ibc-hooks/bytecode/swaprouter.wasm
  x/ibc-hooks/client/cli/query.go
  x/ibc-hooks/keeper/keeper.go
  x/ibc-hooks/sdkmodule.go
  x/ibc-hooks/types/keys.go
  x/ibc-hooks/wasm_hook.go
Labels: C:docs, C:CLI, V:state/breaking, A:backport/v14.x

#3945 Cherry pick sender and e2e for v14.x
  app/app.go
  app/keepers/keepers.go
  app/upgrades/v13/upgrade_test.go
  go.mod
  go.sum
  go.work.sum
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  tests/ibc-hooks/ibc_middleware_test.go
  tests/ibc-hooks/test_hooks.sh
  x/ibc-hooks/README.md
  x/ibc-hooks/bytecode/counter.wasm
  x/ibc-hooks/bytecode/crosschain_swaps.wasm
  x/ibc-hooks/bytecode/echo.wasm
  x/ibc-hooks/bytecode/swaprouter.wasm
  x/ibc-hooks/client/cli/query.go
  x/ibc-hooks/genesis.go
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/ibc-hooks/keeper/keeper.go
  x/ibc-hooks/sdkmodule.go
  x/ibc-hooks/types/keys.go
  x/ibc-hooks/wasm_hook.go
Labels: C:docs, C:CLI, C:app-wiring, V:state/breaking

#3947 Bump golang version to v1.19
  CHANGELOG.md
  Dockerfile
  Makefile
  go.mod
  go.sum
  go.work.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: T:build

#3875 refactor(x/swaprouter): update swaprouter CLI with osmocli; deprecate comparable gamm CLI
  go.work.sum
  x/swaprouter/client/cli/cli_test.go
  x/swaprouter/client/cli/common.go
  x/swaprouter/client/cli/flags.go
  x/swaprouter/client/cli/query.go
  x/swaprouter/client/cli/tx.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/swaprouter

#3920 [CL][SwapRouter]: Move Inactive pool check to Swaprouter module
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
  x/swaprouter/router.go
Labels: C:x/gamm, V:state/compatible/no_backport, C:x/swaprouter

#3942 Fix order for JoinSwapShareAmountOut CLI args
  CHANGELOG.md
  x/gamm/README.md
  x/gamm/client/cli/tx.go
Labels: C:docs, C:CLI, C:x/gamm, V:state/compatible/backport, A:backport/v13.x, A:backport/v14.x

#3929 concentrated-liquidity: add test to check (de)serialization of cl's messages
  app/apptesting/test_suite.go
  go.work.sum
  x/concentrated-liquidity/model/codec.go
  x/concentrated-liquidity/types/msgs_test.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity

#3946 Document manual test script
  tests/ibc-hooks/test_hooks.sh
Labels: A:automerge, V:state/compatible/backport, A:backport/v14.x

#3880 refactor(x/swaprouter, x/gamm): unify swap routes in swaprouter
  CHANGELOG.md
  app/apptesting/gamm.go
  go.mod
  proto/osmosis/gamm/v1beta1/query.proto
  proto/osmosis/gamm/v1beta1/tx.proto
  x/gamm/client/cli/cli_test.go
  x/gamm/client/cli/tx.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/msg_server_test.go
  x/gamm/simulation/sim_msgs.go
  x/gamm/types/msgs_test.go
  x/gamm/types/query.pb.go
  x/gamm/types/route.go
  x/gamm/types/route_test.go
  x/gamm/types/tx.pb.go
  x/protorev/keeper/routes.go
Labels: C:CLI, C:x/gamm, C:app-wiring, C:simulator, V:state/breaking

#3936 [CL Fees]: Add accumulator to lp positions
  proto/osmosis/concentrated-liquidity/tickInfo.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/tickInfo.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#3959 feat(CL Fees): initialize fee growth outside for ticks
  osmoutils/accum/accum.go
  osmoutils/accum/errors.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#3811 fix[CL]: codec changes
  x/concentrated-liquidity/model/codec.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#3964 fix: merge conflict on main
  x/concentrated-liquidity/model/codec.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#3971 Nicolas/remove osmocli dependency
  go.mod
  go.sum
  go.work.sum
  x/ibc-hooks/client/cli/query.go
  x/ibc-hooks/go.sum
Labels: C:CLI, V:state/compatible/backport, A:backport/v14.x

#3966 [ValSet-Pref] Add Redelegate, Withdraw cli commands and sim_msgs
  x/valset-pref/client/cli/tx.go
  x/valset-pref/simulation/sim_msgs.go
  x/valset-pref/valpref-module/module.go
Labels: C:CLI, C:app-wiring, C:simulator, V:state/compatible/no_backport

#3961 feat(osmoutil/accum): Remove position Accumulator from state
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
Labels: V:state/compatible/no_backport

#3969 (CL Fees): update tick `feeGrowthOutside` in `initOrUpdateTick`
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#3806 Protorev: Post Handler + Proposal Handlers + Profit Sharing
  app/app.go
  app/keepers/keepers.go
  app/posthandler.go
  app/tx_post_handler.go
  proto/osmosis/protorev/v1beta1/protorev.proto
  x/protorev/client/cli/tx.go
  x/protorev/genesis.go
  x/protorev/keeper/developer_fees.go
  x/protorev/keeper/developer_fees_test.go
  x/protorev/keeper/epoch_hook.go
  x/protorev/keeper/epoch_hook_test.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/posthandler.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/proposal_test.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/protorev_test.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/keeper/routes.go
  x/protorev/keeper/routes_test.go
  x/protorev/keeper/statistics.go
  x/protorev/keeper/statistics_test.go
  x/protorev/module.go
  x/protorev/proposal_handler.go
  x/protorev/types/constants.go
  x/protorev/types/expected_keepers.go
  x/protorev/types/genesis.go
  x/protorev/types/keys.go
  x/protorev/types/protorev.pb.go
Labels: C:CLI, C:app-wiring, V:state/breaking

#3975 Address unadressed review comments for wasmhooks
  tests/e2e/e2e_test.go
  x/ibc-hooks/README.md
Labels: C:docs, V:state/compatible/backport, A:backport/v14.x

#3938 Adjust MaxNumInboundPeers and MaxNumOutboundPeers
  cmd/osmosisd/cmd/init.go
Labels: V:state/compatible/backport, A:backport/v14.x

#3874 feat: geometric tick spacing with additive ranges
  app/apptesting/concentrated_liquidity.go
  proto/osmosis/concentrated-liquidity/pool-model/tx.proto
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/architecture.md
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/internal/math/math_test.go
  x/concentrated-liquidity/internal/math/tick.go
  x/concentrated-liquidity/internal/math/tick_test.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/msgs.go
  x/concentrated-liquidity/model/msgs_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/model/tx.pb.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/msgs_test.go
  x/concentrated-liquidity/types/pool.go
  x/poolmanager/create_pool_test.go
  x/poolmanager/router_test.go
Labels: C:docs, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, C:x/swaprouter, C:x/poolmanager

#3981 refactor(CL Fees): prefix positions by pool id, owner and ticks
  go.mod
  go.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#3885 intializePool test and spec updated
  x/gamm/keeper/pool_service_test.go
Labels: C:x/gamm, V:state/compatible/no_backport

#3962 fix(CL Swaps): incorrect rounding; redundant computations
  x/concentrated-liquidity/internal/math/math.go
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#3910 [CL] Change `calcOutAmtGivenIn` and `calcInAmtGivenOut` to be non-mutative
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/internal/math/tick.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#3999 chore: disable valset pref sim
  x/valset-pref/valpref-module/module.go
Labels: C:app-wiring, V:state/compatible/no_backport

#4003 chore: switch to sqrt price for tick functions
  x/concentrated-liquidity/internal/math/tick.go
  x/concentrated-liquidity/internal/math/tick_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#3990 feat(CL Fees): collect fees
  go.mod
  go.sum
  go.work.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#3918 [CL] Add Update Position test
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#3698 Crosschain Swaps contracts and tests
  .github/workflows/contracts.yml
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/swaprouter.wasm
  tests/ibc-hooks/ibc_middleware_test.go
  tests/ibc-hooks/test_crosschain_swaps.sh
  tests/localrelayer/config/hermes/config.toml
  x/ibc-hooks/.cargo/config
  x/ibc-hooks/Cargo.lock
  x/ibc-hooks/Cargo.toml
  x/ibc-hooks/README.md
  x/ibc-hooks/contracts/crosschain-swaps/.cargo/config
  x/ibc-hooks/contracts/crosschain-swaps/Cargo.lock
  x/ibc-hooks/contracts/crosschain-swaps/Cargo.toml
  x/ibc-hooks/contracts/crosschain-swaps/README.md
  x/ibc-hooks/contracts/crosschain-swaps/build-schema/schema.rs
  x/ibc-hooks/contracts/crosschain-swaps/schema/crosschain-swaps.json
  x/ibc-hooks/contracts/crosschain-swaps/src/checks.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/consts.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/contract.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/error.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/execute.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/ibc.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/ibc_lifecycle.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/lib.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/msg.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/state.rs
  x/ibc-hooks/contracts/crosschain-swaps/tests/crosschain_swap_test.rs
  x/ibc-hooks/contracts/crosschain-swaps/tests/test_env.rs
  x/ibc-hooks/contracts/swaprouter/.cargo/config
  x/ibc-hooks/contracts/swaprouter/Cargo.toml
  x/ibc-hooks/contracts/swaprouter/build-schema/schema.rs
  x/ibc-hooks/contracts/swaprouter/rustfmt.toml
  x/ibc-hooks/contracts/swaprouter/schema/execute_msg.json
  x/ibc-hooks/contracts/swaprouter/schema/get_owner_response.json
  x/ibc-hooks/contracts/swaprouter/schema/get_route_response.json
  x/ibc-hooks/contracts/swaprouter/schema/instantiate_msg.json
  x/ibc-hooks/contracts/swaprouter/schema/query_msg.json
  x/ibc-hooks/contracts/swaprouter/schema/state.json
  x/ibc-hooks/contracts/swaprouter/schema/swap_msg_reply_state.json
  x/ibc-hooks/contracts/swaprouter/src/contract.rs
  x/ibc-hooks/contracts/swaprouter/src/contract_tests.rs
  x/ibc-hooks/contracts/swaprouter/src/error.rs
  x/ibc-hooks/contracts/swaprouter/src/execute.rs
  x/ibc-hooks/contracts/swaprouter/src/helpers.rs
  x/ibc-hooks/contracts/swaprouter/src/lib.rs
  x/ibc-hooks/contracts/swaprouter/src/msg.rs
  x/ibc-hooks/contracts/swaprouter/src/query.rs
  x/ibc-hooks/contracts/swaprouter/src/state.rs
  x/ibc-hooks/contracts/swaprouter/tests/set_route_test.rs
  x/ibc-hooks/contracts/swaprouter/tests/swap_test.rs
  x/ibc-hooks/contracts/swaprouter/tests/test_env.rs
Labels: C:docs, T:CI, V:state/compatible/no_backport

#4008 Rename accum `createNewPosition` to `initOrUpdatePosition`
  osmoutils/accum/accum.go
  osmoutils/accum/accum_helpers.go
  osmoutils/accum/export_test.go
Labels: V:state/compatible/no_backport

#4011 Fix contract CI failing
  .github/workflows/contracts.yml
Labels: V:state/compatible/backport

#4012 Small crosschain swaps cleanup
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  x/ibc-hooks/contracts/crosschain-swaps/src/execute.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/lib.rs
  x/ibc-hooks/contracts/crosschain-swaps/src/utils.rs
Labels: V:state/compatible/backport

#4009 feat/test(CL Fees): integrate fees into createPosition
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4014 feat: implement MsgCollectFee
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4010 Improved docs for crosschain swaps
  tests/ibc-hooks/test_crosschain_swaps.sh
  x/ibc-hooks/contracts/crosschain-swaps/README.md
  x/ibc-hooks/contracts/crosschain-swaps/schema/crosschain-swaps.json
  x/ibc-hooks/contracts/swaprouter/schema/execute_msg.json
  x/ibc-hooks/contracts/swaprouter/schema/get_owner_response.json
  x/ibc-hooks/contracts/swaprouter/schema/get_route_response.json
  x/ibc-hooks/contracts/swaprouter/schema/instantiate_msg.json
  x/ibc-hooks/contracts/swaprouter/schema/query_msg.json
Labels: C:docs, V:state/compatible/backport, A:backport/v14.x

#3857 [ValSet-Pref] Change GetValidatorSetPreference to return your existing staking distribution if you haven't set valset
  x/valset-pref/keeper.go
  x/valset-pref/keeper_test.go
  x/valset-pref/msg_server.go
  x/valset-pref/msg_server_test.go
  x/valset-pref/validator_set.go
Labels: V:state/breaking

#4017 fix: use informal tendermint
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:backport/v13.x, A:backport/v14.x

#4007 docs(e2e): fix outdated info
  tests/e2e/README.md
  tests/e2e/initialization/README.md
Labels: C:docs, C:e2e, V:state/compatible/no_backport

#4020 Add import/export genesis logic for CL pools
  go.work.sum
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/pool.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4022 feat[CL]: delete position from state when completely removed
  x/concentrated-liquidity/architecture.md
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
Labels: C:docs, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4023 Creating a CLI Examples Section for Tokenfactory
  x/tokenfactory/README.md
Labels: C:docs, C:x/tokenfactory, V:state/compatible/backport, A:backport/v14.x

#4032 fix(ci/test): run tests for modules with custom go.mod; fix tests
  Makefile
  go.mod
  go.sum
  go.work
  go.work.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/accum/accum_test.go
  osmoutils/accum/prefix.go
  osmoutils/go.mod
  osmoutils/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: T:build, V:state/compatible/no_backport

#4035 Checks should run if the wasm changes
  .github/workflows/contracts.yml
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/swaprouter.wasm
Labels: T:CI, V:state/compatible/backport

#4046 (CL): Misc test fix for ticks error catching
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4042 fix(CL LP): withdraw position does not send negative tokens
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4048 chore: Bump golang version to v1.19 (#3947)
  Dockerfile
  Makefile
  go.mod
  go.work.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/ibc-hooks/go.mod
Labels: T:build, V:state/compatible/no_backport

#4049 chore: v14 binaries and guide
  networks/osmosis-1/upgrades/v14/mainnet/guide.md
  networks/osmosis-1/upgrades/v14/v14_binaries.json
Labels: V:state/compatible/backport, A:backport/v14.x

#4013 tests: updateFeeAccumulatorPosition
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/lp_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4036 `collectFees` cli
  x/concentrated-liquidity/client/cli/tx.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4039 Remove dupplication in SwapAmountInRoute
  go.work.sum
  proto/osmosis/gamm/v1beta1/tx.proto
  x/gamm/types/route_test.go
  x/gamm/types/tx.pb.go
Labels: C:x/gamm, V:state/compatible/no_backport

#4031 Upgrade handler code-gen
  .github/workflows/gen-upgrade-on-manual-input.yml
  scripts/empty_upgrade_handler_gen.sh
Labels: T:CI, T:build, V:state/compatible/no_backport

#4058 Move contracts to their own directory
  .github/workflows/contracts.yml
  cosmwasm/Cargo.lock
  cosmwasm/Cargo.toml
  cosmwasm/contracts/crosschain-swaps/.cargo/config
  cosmwasm/contracts/crosschain-swaps/Cargo.lock
  cosmwasm/contracts/crosschain-swaps/Cargo.toml
  cosmwasm/contracts/crosschain-swaps/README.md
  cosmwasm/contracts/crosschain-swaps/build-schema/schema.rs
  cosmwasm/contracts/crosschain-swaps/schema/crosschain-swaps.json
  cosmwasm/contracts/crosschain-swaps/src/checks.rs
  cosmwasm/contracts/crosschain-swaps/src/consts.rs
  cosmwasm/contracts/crosschain-swaps/src/contract.rs
  cosmwasm/contracts/crosschain-swaps/src/error.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/ibc.rs
  cosmwasm/contracts/crosschain-swaps/src/ibc_lifecycle.rs
  cosmwasm/contracts/crosschain-swaps/src/lib.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/src/state.rs
  cosmwasm/contracts/crosschain-swaps/src/utils.rs
  cosmwasm/contracts/crosschain-swaps/tests/crosschain_swap_test.rs
  cosmwasm/contracts/crosschain-swaps/tests/test_env.rs
  cosmwasm/contracts/swaprouter/.cargo/config
  cosmwasm/contracts/swaprouter/Cargo.toml
  cosmwasm/contracts/swaprouter/build-schema/schema.rs
  cosmwasm/contracts/swaprouter/rustfmt.toml
  cosmwasm/contracts/swaprouter/schema/execute_msg.json
  cosmwasm/contracts/swaprouter/schema/get_owner_response.json
  cosmwasm/contracts/swaprouter/schema/get_route_response.json
  cosmwasm/contracts/swaprouter/schema/instantiate_msg.json
  cosmwasm/contracts/swaprouter/schema/query_msg.json
  cosmwasm/contracts/swaprouter/schema/state.json
  cosmwasm/contracts/swaprouter/schema/swap_msg_reply_state.json
  cosmwasm/contracts/swaprouter/src/contract.rs
  cosmwasm/contracts/swaprouter/src/contract_tests.rs
  cosmwasm/contracts/swaprouter/src/error.rs
  cosmwasm/contracts/swaprouter/src/execute.rs
  cosmwasm/contracts/swaprouter/src/helpers.rs
  cosmwasm/contracts/swaprouter/src/lib.rs
  cosmwasm/contracts/swaprouter/src/msg.rs
  cosmwasm/contracts/swaprouter/src/query.rs
  cosmwasm/contracts/swaprouter/src/state.rs
  cosmwasm/contracts/swaprouter/tests/set_route_test.rs
  cosmwasm/contracts/swaprouter/tests/swap_test.rs
  cosmwasm/contracts/swaprouter/tests/test_env.rs
Labels: T:CI, V:state/compatible/backport

#4060 (CL test): Add tests for inverse relationship testing between TickToSqrtPrice and PriceToTick
  x/concentrated-liquidity/internal/math/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4062 Add LockedByID stargate whitelist
  wasmbinding/stargate_whitelist.go
Labels: V:state/breaking

#4068 e2e: setDenomMetadata
  tests/e2e/README.md
  tests/e2e/initialization/config.go
Labels: C:docs, C:e2e, V:state/compatible/backport, A:backport/v14.x

#3810 [ValSet-Pref] Allow migration of x/lockup uosmo to staking to a valset preference
  app/keepers/keepers.go
  proto/osmosis/valset-pref/v1beta1/tx.proto
  x/valset-pref/export_test.go
  x/valset-pref/keeper.go
  x/valset-pref/keeper_test.go
  x/valset-pref/msg_server.go
  x/valset-pref/msg_server_test.go
  x/valset-pref/types/expected_interfaces.go
  x/valset-pref/types/msgs.go
  x/valset-pref/types/tx.pb.go
  x/valset-pref/validator_set.go
  x/valset-pref/validator_set_test.go
Labels: C:app-wiring, V:state/breaking

#4057 (CL Test): Add inverse relationship testing between `CreatePosition` and `WithdrawPosition`
  x/concentrated-liquidity/lp_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, F: concentrated-liquidity

#4063 Simplified XC-swaps interface
  cosmwasm/Cargo.toml
  cosmwasm/contracts/crosschain-swaps/README.md
  cosmwasm/contracts/crosschain-swaps/src/contract.rs
  cosmwasm/contracts/crosschain-swaps/src/error.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/tests/crosschain_swap_test.rs
  cosmwasm/contracts/outpost/src/checks.rs
  cosmwasm/contracts/outpost/src/error.rs
  cosmwasm/contracts/outpost/src/execute.rs
  cosmwasm/contracts/outpost/src/lib.rs
  cosmwasm/contracts/outpost/src/msg.rs
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
  tests/ibc-hooks/bytecode/swaprouter.wasm
  tests/ibc-hooks/ibc_middleware_test.go
  tests/ibc-hooks/test_crosschain_swaps.sh
Labels: V:state/compatible/backport

#3833 [ValSet-Pref] Make Redelegate to valset read all your current stake positions
  x/valset-pref/README.md
  x/valset-pref/msg_server.go
  x/valset-pref/msg_server_test.go
  x/valset-pref/types/msgs.go
  x/valset-pref/validator_set.go
Labels: C:docs, V:state/breaking

#4073 [ValSet-Pref] Simulator Fix for RedelegateValSet & UndelegateFromValset
  x/valset-pref/keeper.go
  x/valset-pref/simulation/sim_msgs.go
  x/valset-pref/valpref-module/module.go
Labels: C:app-wiring, C:simulator, V:state/breaking

#4071 feat: add balancer to cl pool link parameter
  app/apptesting/concentrated_liquidity.go
  app/apptesting/gamm.go
  app/keepers/keepers.go
  proto/osmosis/gamm/v1beta1/genesis.proto
  proto/osmosis/gamm/v1beta1/gov.proto
  x/concentrated-liquidity/pool.go
  x/gamm/README.md
  x/gamm/handler.go
  x/gamm/keeper/genesis.go
  x/gamm/keeper/genesis_test.go
  x/gamm/keeper/gov.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/types/expected_keepers.go
  x/gamm/types/genesis.go
  x/gamm/types/genesis.pb.go
  x/gamm/types/gov.go
  x/gamm/types/gov.pb.go
  x/gamm/types/gov_test.go
  x/gamm/types/key.go
  x/gamm/types/key_test.go
Labels: C:docs, C:x/gamm, C:app-wiring, C:x/concentrated-liquidity

#4074 [ValSet-Pref] Add Changelog entry
  CHANGELOG.md
Labels: V:state/compatible/no_backport

#4059 Return lock id from BeginForceUnlock
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/unpool.go
  x/superfluid/types/expected_keepers.go
Labels: C:x/lockup, C:x/superfluid, V:state/compatible/backport, A:backport/v14.x

#4075 [CL] chore: abstract module package from keeper
  app/keepers/modules.go
  app/modules.go
  x/concentrated-liquidity/clmodule/module.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
Labels: C:app-wiring, C:simulator, V:state/compatible/no_backport, C:x/concentrated-liquidity

#3915 docs(x/poolmanager): module README
  x/concentrated-liquidity/architecture.md
  x/gamm/README.md
  x/poolmanager/README.md
Labels: C:docs, C:x/gamm, V:state/compatible/no_backport, C:x/concentrated-liquidity, C:x/swaprouter, C:x/poolmanager

#4080 upgrade-handler code gen: investigating why e2e does not pass
  app/upgrades/v14/constants.go
  app/upgrades/v14/upgrades.go
  app/upgrades/v15/constants.go
  app/upgrades/v15/export_test.go
  app/upgrades/v15/upgrade_test.go
  app/upgrades/v15/upgrades.go
  tests/e2e/containers/config.go
Labels: T:bug 🐛, C:app-wiring

#4081 feat(CL): define swap fee on cl pool and create msg
  app/apptesting/concentrated_liquidity.go
  go.work.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  proto/osmosis/concentrated-liquidity/pool-model/tx.proto
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/msgs.go
  x/concentrated-liquidity/model/msgs_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/model/tx.pb.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/types/errors.go
  x/gamm/keeper/pool_service_test.go
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/poolmanager/create_pool_test.go
  x/valset-pref/validator_set.go
Labels: C:x/gamm, C:app-wiring, V:state/compatible/no_backport, C:x/concentrated-liquidity, C:x/poolmanager

#4072 update chain.schema.json for v14
  chain.schema.json
Labels: V:state/compatible/backport, A:backport/v14.x

#4021 (CL) fix: update fee accumulator upon swaps
  go.mod
  go.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, F: concentrated-liquidity

#4076 (CL test): Add SwapOutGivenIn Inverse tests and tests refactoring
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4091 (CL Bug): Re-run swap test cases
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4051 feat[CL]: migrate GAMM shares to CL full range position
  app/apptesting/concentrated_liquidity.go
  app/apptesting/gamm.go
  app/keepers/keepers.go
  proto/osmosis/gamm/pool-models/balancer/tx/tx.proto
  proto/osmosis/gamm/v1beta1/genesis.proto
  proto/osmosis/gamm/v1beta1/gov.proto
  tests/mocks/cfmm_pool.go
  tests/mocks/cl_pool.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/internal/math/math_test.go
  x/concentrated-liquidity/internal/math/tick.go
  x/concentrated-liquidity/internal/math/tick_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/tick.go
  x/gamm/README.md
  x/gamm/handler.go
  x/gamm/keeper/genesis.go
  x/gamm/keeper/genesis_test.go
  x/gamm/keeper/gov.go
  x/gamm/keeper/keeper.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/msg_server_test.go
  x/gamm/keeper/pool.go
  x/gamm/pool-models/balancer/codec.go
  x/gamm/pool-models/balancer/msgs.go
  x/gamm/pool-models/balancer/msgs_test.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/tx.pb.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/types/errors.go
  x/gamm/types/events.go
  x/gamm/types/expected_keepers.go
  x/gamm/types/genesis.go
  x/gamm/types/genesis.pb.go
  x/gamm/types/gov.go
  x/gamm/types/gov.pb.go
  x/gamm/types/gov_test.go
  x/gamm/types/key.go
  x/gamm/types/key_test.go
  x/poolmanager/types/pool.go
Labels: C:docs, C:x/gamm, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#4102 e2e: clear Docker resources after make test-e2e
  Makefile
Labels: T:build, V:state/compatible/backport, A:backport/v14.x

#4093 osmocli: dec parser
  go.mod
  go.sum
  go.work.sum
  osmoutils/osmocli/parsers.go
  osmoutils/osmocli/parsers_test.go
Labels: V:state/compatible/backport, F: concentrated-liquidity, A:backport/v14.x, osmocli

#4105 [ValSet: Chore] Disable valset simulator
  x/valset-pref/valpref-module/module.go
Labels: C:app-wiring, V:state/compatible/no_backport

#4106 e2e: docs update
  tests/e2e/README.md
Labels: C:docs, C:e2e, V:state/compatible/no_backport

#4038 e2e, concentrated-liquidity: create concentrated pool
  go.mod
  go.sum
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/containers/config.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/model/msgs.go
  x/concentrated-liquidity/model/pool.go
Labels: C:CLI, C:e2e, V:state/compatible/no_backport, C:x/concentrated-liquidity, F: concentrated-liquidity

#4097 feat/test(CL Swaps): Swap fees for amount out given in
  scripts/cl/README.md
  scripts/cl/common.py
  scripts/cl/main.py
  scripts/cl/math.py
  scripts/cl/one_for_zero.py
  scripts/cl/zero_for_one.py
  x/concentrated-liquidity/architecture.md
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: C:docs, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4116 feat: single fee accum
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position.go
Labels: C:x/concentrated-liquidity

#4122 CL, docs: architecture walkthrough
  x/concentrated-liquidity/architecture.md
Labels: C:docs, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4109 feat[CL]: base freeze API
  go.mod
  go.work.sum
  proto/osmosis/concentrated-liquidity/position.proto
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/position.pb.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/tx.pb.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/types/expected_keepers.go
Labels: C:x/gamm, V:state/breaking, C:x/concentrated-liquidity

#4125 [CL: Positions] Add GetPositionsByUserAddress for CL user positions
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/keys.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity

#4127 fix/test(CL Fees): swap out given in fee growth tests; clean up swap tests
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4124 [CL Incentives] Uptime Accumulator Initialization
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/types/constants.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4128 Update init.go
  cmd/osmosisd/cmd/init.go
Labels: V:state/compatible/backport, A:backport/v14.x

#4146 Allow inline json for XCS callbacks.
  cosmwasm/Cargo.lock
  cosmwasm/Cargo.toml
  cosmwasm/contracts/crosschain-swaps/schema/crosschain-swaps.json
  cosmwasm/contracts/crosschain-swaps/src/checks.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/src/state.rs
  cosmwasm/contracts/crosschain-swaps/src/utils.rs
  cosmwasm/contracts/outpost/src/execute.rs
  cosmwasm/contracts/outpost/src/msg.rs
  go.work.sum
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
  tests/ibc-hooks/bytecode/swaprouter.wasm
  tests/ibc-hooks/ibc_middleware_test.go
Labels: V:state/compatible/backport, A:backport/v14.x

#4158 Update homepath local osmosis README
  tests/localosmosis/README.md
Labels: C:docs, V:state/compatible/backport, A:backport/v14.x

#4000 Protorev: Generalizable Route Building
  proto/osmosis/protorev/v1beta1/protorev.proto
  x/protorev/genesis.go
  x/protorev/keeper/developer_fees.go
  x/protorev/keeper/epoch_hook.go
  x/protorev/keeper/epoch_hook_test.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/posthandler.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/protorev_test.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/keeper/routes.go
  x/protorev/keeper/routes_test.go
  x/protorev/keeper/statistics.go
  x/protorev/keeper/statistics_test.go
  x/protorev/types/constants.go
  x/protorev/types/genesis_test.go
  x/protorev/types/keys.go
  x/protorev/types/msg_test.go
  x/protorev/types/protorev.pb.go
  x/protorev/types/token_pair_arb_routes.go
  x/protorev/types/utils.go
Labels: V:state/breaking

#4133 chore: abstract priceToTick loop to helper func
  x/concentrated-liquidity/internal/math/tick.go
  x/concentrated-liquidity/internal/math/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4148 Enable the twap pruning test post-upgrade.
  .vscode/launch.json
  tests/e2e/e2e_test.go
Labels: V:state/compatible/backport, A:backport/v14.x

#4132 override QueryFnName
  osmoutils/osmocli/query_cmd_wrap.go
  x/gamm/client/cli/query.go
  x/poolmanager/client/cli/query.go
Labels: C:CLI, C:x/gamm, V:state/compatible/backport, A:backport/v14.x, C:x/poolmanager

#4165 Link to stableswap docs in gamm readme
  x/gamm/README.md
Labels: C:docs, C:x/gamm, V:state/compatible/backport, A:backport/v14.x

#4145 refactor(CL): positions by user returns full position data
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/types/position.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4172 CLI: GetUserPositions
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/types/position.go
  x/concentrated-liquidity/types/query.pb.go
  x/concentrated-liquidity/types/query.pb.gw.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4173 update OSMOSIS_E2E_UPGRADE_VERSION on upgrade handler #4029
  .github/workflows/gen-upgrade-on-manual-input.yml
  scripts/empty_upgrade_handler_gen.sh
Labels: T:CI, T:build, V:state/compatible/backport, A:backport/v14.x

#4118 e2e: Write node Docker container logs to a file
  .github/workflows/test.yml
  tests/e2e/README.md
Labels: C:docs, T:CI, C:e2e, V:state/compatible/no_backport
