Repository osmosis-labs/osmosis, pull requests merged in 2023-03, with the labels that each got.

#4450 Protorev genesis update
  proto/osmosis/protorev/v1beta1/genesis.proto
  proto/osmosis/protorev/v1beta1/params.proto
  proto/osmosis/protorev/v1beta1/protorev.proto
  proto/osmosis/protorev/v1beta1/query.proto
  proto/osmosis/protorev/v1beta1/tx.proto
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  x/protorev/genesis.go
  x/protorev/keeper/epoch_hook.go
  x/protorev/keeper/epoch_hook_test.go
  x/protorev/keeper/genesis.go
  x/protorev/keeper/genesis_test.go
  x/protorev/keeper/grpc_query.go
  x/protorev/keeper/grpc_query_test.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/msg_server.go
  x/protorev/keeper/msg_server_test.go
  x/protorev/keeper/posthandler.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/proposal_test.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/protorev_test.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/keeper/routes.go
  x/protorev/keeper/routes_test.go
  x/protorev/keeper/statistics.go
  x/protorev/keeper/statistics_test.go
  x/protorev/module.go
  x/protorev/protorev.md
  x/protorev/types/genesis.go
  x/protorev/types/genesis.pb.go
  x/protorev/types/genesis_test.go
  x/protorev/types/keys.go
  x/protorev/types/msg.go
  x/protorev/types/msg_test.go
  x/protorev/types/params.go
  x/protorev/types/params.pb.go
  x/protorev/types/protorev.pb.go
  x/protorev/types/query.pb.go
  x/protorev/types/token_pair_arb_routes.go
  x/protorev/types/tx.pb.go
  x/protorev/types/validate.go
Labels: C:docs, C:app-wiring, V:state/breaking, A:backport/v15.x

#4463 chore: v15 changelog
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v15.x

#4461 added RL sliding windows and osmo RLs
  CHANGELOG.md
  app/upgrades/v15/upgrades.go
  tests/e2e/e2e_test.go
Labels: C:app-wiring, V:state/breaking, A:backport/v15.x

#4474 CL: make swapOutAmtGivenIn mutate user/pool balances
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity

#4355 [CL Incentives]: Sync global uptime accumulators upon tick initialization
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity

#4469 CL: swap walkthrough
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4478 Add gas meter limit to protorev
  x/protorev/keeper/posthandler.go
Labels: V:state/breaking, A:backport/v15.x

#4479 Add legacy amino codec for proto-rev module
  x/protorev/types/codec.go
Labels: V:state/compatible/backport, A:backport/v15.x

#4484 Catch panics in ProtoRevTrade
  x/protorev/keeper/posthandler.go
Labels: V:state/breaking, A:backport/v15.x

#4399 [CL Incentives]: Sync global uptime accumulators upon tick crossing
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity

#4488 XCS: manually checking regex
  cosmwasm/Cargo.lock
  cosmwasm/contracts/crosschain-swaps/Cargo.toml
  cosmwasm/contracts/crosschain-swaps/src/checks.rs
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
Labels: V:state/compatible/no_backport

#4486 fix(localosmosis): register denom metadata
  tests/localosmosis/scripts/setup.sh
Labels: V:state/compatible/backport, A:backport/v15.x

#4490 Add `NextLockId` Query for lockup module
  app/upgrades/v15/upgrade_test.go
  proto/osmosis/lockup/query.proto
  proto/osmosis/protorev/v1beta1/query.proto
  wasmbinding/stargate_whitelist.go
  x/lockup/client/cli/query.go
  x/lockup/keeper/grpc_query.go
  x/lockup/keeper/grpc_query_test.go
  x/lockup/types/query.pb.go
  x/lockup/types/query.pb.gw.go
Labels: C:x/lockup, C:CLI, C:app-wiring, V:state/breaking, A:backport/v15.x

#4487 CL: Add `CalculateSpotPrice` and `GetPoolDenoms` to CL Keeper
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4477 feat/refactor: implement and test get next sqrt price helpers for out given in and in given out
  x/concentrated-liquidity/internal/math/math.go
  x/concentrated-liquidity/internal/math/math_test.go
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one.go
Labels: V:state/compatible/no_backport, F: concentrated-liquidity

#4407 [CL Incentives] Implement `GetUptimeGrowthInsideRange` and `GetUptimeGrowthOutsideRange` for arbitrary tick ranges
  go.mod
  go.sum
  go.work.sum
  osmoutils/coin_helper.go
  osmoutils/coin_helper_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity

#4497 feat: add CL state to localosmosis
  tests/localosmosis/scripts/setup.sh
Labels: V:state/compatible/no_backport

#4455 [CL Incentives] Implement proper accumulator checkpointing for positions `initOrUpdatePositionUptime`
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity

#4468 [CL Incentives][bugfix]: Replace all uses of frozenUntil with joinTime and freezeDuration
  go.mod
  go.sum
  go.work.sum
  osmoutils/osmocli/parsers.go
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  proto/osmosis/concentrated-liquidity/position.proto
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/position.pb.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/query.pb.go
  x/concentrated-liquidity/types/tx.pb.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/types/expected_keepers.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/types/events.go
  x/superfluid/types/expected_keepers.go
Labels: C:CLI, C:x/gamm, C:x/superfluid, C:simulator, V:state/breaking, C:x/concentrated-liquidity

#4386 chore(cosmwasm): fix typo
  cosmwasm/contracts/crosschain-swaps/src/ibc_lifecycle.rs
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
Labels: V:state/compatible/backport, A:backport/v15.x

#4217 [tests/e2e]: simplify the logic for adding accounts to genesis sdk side and integrate into e2e#1628
  tests/e2e/initialization/config.go
Labels: C:e2e, V:state/compatible/backport, A:backport/v15.x

#4498 chore: stargate whitelist denom trace query
  app/upgrades/v15/upgrade_test.go
  wasmbinding/stargate_whitelist.go
Labels: C:app-wiring, V:state/breaking, A:backport/v15.x

#4510 Add upgrade proposal script to localOsmosis
  tests/localosmosis/README.md
  tests/localosmosis/scripts/submit_upgrade_proposal.sh
Labels: C:docs, V:state/compatible/backport, A:backport/v14.x, A:backport/v15.x

#4513 Revert "[tests/e2e]: simplify the logic for adding..." (#4217)
  tests/e2e/initialization/config.go
Labels: V:state/compatible/no_backport

#3787 Cli change environment
  Makefile
  cmd/osmosisd/cmd/change_environment.go
  cmd/osmosisd/cmd/init.go
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
Labels: T:build, V:state/compatible/backport, A:backport/v15.x

#4530 Skip consensus min fee checks during simulate
  tests/e2e/scripts/hermes_bootstrap.sh
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
Labels: C:x/txfees, V:state/compatible/backport, A:backport/v15.x

#4501 feat[CL]: add claimable fees query
  go.mod
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
  osmoutils/accum/export_test.go
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/types/query.pb.go
Labels: C:CLI, V:state/breaking, C:x/concentrated-liquidity

#4538 feat: filter CL positions by optional poolID flag
  go.sum
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/query.pb.go
  x/concentrated-liquidity/types/query.pb.gw.go
Labels: C:CLI, C:simulator, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4541 fix: add packet forward module wiring
  app/modules.go
Labels: V:state/breaking, A:backport/v15.x

#4551 chore: add go.work.sum to .gitignore
  .gitignore
Labels: V:state/compatible/no_backport

#4550 Remove go work sum from repo, add to gitignore
  .gitignore
  go.work.sum
Labels: A:automerge, V:state/compatible/backport, A:backport/v15.x

#4561 chore: v15 changelog update
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v15.x

#4557 XCS Registries. Better errors
  cosmwasm/contracts/crosschain-registry/src/error.rs
  cosmwasm/contracts/crosschain-registry/src/execute.rs
  cosmwasm/contracts/crosschain-registry/src/exports.rs
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
Labels: V:state/compatible/no_backport

#4519 [CL Incentives] Implement `CreateIncentive` logic and message
  go.work.sum
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: C:CLI, V:state/breaking, C:x/concentrated-liquidity

#4552 refactor(CL: Incentive): positions joint time and freeze duration from position value
  proto/osmosis/concentrated-liquidity/position.proto
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/model/position.pb.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/store_test.go
  x/gamm/keeper/migrate_test.go
Labels: C:x/gamm, V:state/breaking, C:x/concentrated-liquidity

#4568 Revert "[CL Incentives] Implement `CreateIncentive` logic and message"
  go.work.sum
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: C:CLI, C:x/concentrated-liquidity

#4566 chore: v15 upgrade guide
  networks/osmosis-1/upgrades/v15/mainnet/guide.md
Labels: V:state/compatible/backport, A:backport/v15.x

#4548 Add Concentrated Liquidity Module to Pool Manger Module
  app/apptesting/concentrated_liquidity.go
  x/poolmanager/keeper_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
  x/poolmanager/types/routes.go
Labels: C:app-wiring, V:state/breaking, F: concentrated-liquidity, C:x/poolmanager

#4588 Fix linting issues in auto upgrade handler generation
  .github/workflows/gen-upgrade-on-manual-input.yml
Labels: T:CI, V:state/compatible/no_backport

#4582 Consistently generate build tags metadata
  CHANGELOG.md
  Dockerfile
  Makefile
Labels: T:build, V:state/compatible/backport, A:backport/v15.x

#4602 refactor(CL): position state - only store sdk.Dec instead of position's struct
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  proto/osmosis/concentrated-liquidity/position.proto
  tests/cl-go-client/main.go
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/clmodule/module.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/position.pb.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/query/query.pb.go
  x/concentrated-liquidity/types/query/query.pb.gw.go
  x/gamm/keeper/migrate_test.go
  x/superfluid/keeper/migrate_test.go
Labels: C:CLI, C:x/gamm, C:x/superfluid, C:app-wiring, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4609 (CL Positions Client): Fix: Fix range for upper tick
  tests/cl-go-client/main.go
Labels: V:state/compatible/no_backport

#4610 (CL): Rename Pool state entry for liquidity to `current_tick_liquidity`
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/model/pool_test.go
Labels: V:state/breaking

#4601 Fix Level DB set up, use random directory
  app/test_helpers.go
Labels: C:app-wiring, V:state/compatible/backport, A:backport/v15.x

#4613 chore: delete add-pr-to-project.yml
  .github/workflows/add-pr-to-project.yml
Labels: T:CI, V:state/compatible/no_backport

#4614 fix(CL): address key format bug causing test flakiness
  app/params/config.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/types/keys.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity

#4560 Token unwrap improvements
  cosmwasm/contracts/crosschain-registry/src/contract.rs
  cosmwasm/contracts/crosschain-registry/src/error.rs
  cosmwasm/contracts/crosschain-registry/src/execute.rs
  cosmwasm/contracts/crosschain-registry/src/exports.rs
  cosmwasm/contracts/crosschain-registry/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/utils.rs
  cosmwasm/contracts/swaprouter/tests/set_route_test.rs
  cosmwasm/contracts/swaprouter/tests/swap_test.rs
  go.mod
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/ibc_middleware_test.go
Labels: V:state/compatible/backport

#4553 feat: add XCS registry permissioning and docs
  cosmwasm/contracts/crosschain-registry/README.md
  cosmwasm/contracts/crosschain-registry/src/contract.rs
  cosmwasm/contracts/crosschain-registry/src/error.rs
  cosmwasm/contracts/crosschain-registry/src/execute.rs
  cosmwasm/contracts/crosschain-registry/src/helpers.rs
  cosmwasm/contracts/crosschain-registry/src/lib.rs
  cosmwasm/contracts/crosschain-registry/src/msg.rs
  cosmwasm/contracts/crosschain-registry/src/query.rs
  cosmwasm/contracts/crosschain-registry/src/state.rs
  cosmwasm/contracts/crosschain-registry/xcs_regsitry_permission_chart.jpeg
  go.mod
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/ibc_middleware_test.go
  tests/osmosisibctesting/wasm.go
Labels: V:state/compatible/no_backport

#4499 [CL Incentives] Implement incentive claiming logic
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/clmodule/module.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: C:CLI, C:app-wiring, C:simulator, V:state/breaking, C:x/concentrated-liquidity

#4291 go.mod auto update
  .github/workflows/go-mod-auto-bump.yml
  go.sum
  scripts/update-go-mod.sh
Labels: T:CI, T:build, V:state/compatible/no_backport

#4569 [CL Incentives] Implement `CreateIncentive` logic and message
  go.work.sum
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: C:CLI, V:state/breaking, C:x/concentrated-liquidity

#4525 [CL Incentives] Allow early withdrawals for frozen positions
  go.work.sum
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4634 Delete go.work.sum
  go.work.sum
Labels: V:state/compatible/no_backport

#4581 [CL Incentives] Key incentive records by owner address to prevent DoS/trolling
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/incentive_record.go
  x/concentrated-liquidity/types/keys.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4633 feat: add join time to CL position creation response
  go.mod
  go.sum
  proto/osmosis/concentrated-liquidity/tx.proto
  proto/osmosis/gamm/pool-models/balancer/tx/tx.proto
  proto/osmosis/superfluid/tx.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/tx.pb.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/pool-models/balancer/tx.pb.go
  x/gamm/types/events.go
  x/gamm/types/expected_keepers.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/types/events.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/tx.pb.go
Labels: C:x/gamm, C:x/superfluid, V:state/breaking, C:x/concentrated-liquidity

#4590 [TokenFactory] Bank Hooks Integration
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  tests/cl-go-client/go.mod
  wasmbinding/message_plugin.go
  wasmbinding/test/messages_test.go
  x/gamm/keeper/gas_test.go
  x/ibc-hooks/go.mod
  x/tokenfactory/keeper/admins_test.go
  x/tokenfactory/keeper/before_send.go
  x/tokenfactory/keeper/before_send_test.go
  x/tokenfactory/keeper/msg_server.go
  x/tokenfactory/keeper/testdata/no100.wasm
  x/tokenfactory/types/beforeSend.go
  x/tokenfactory/types/before_send.go
  x/tokenfactory/types/errors.go
  x/tokenfactory/types/expected_keepers.go
Labels: C:x/gamm, C:x/tokenfactory, V:state/breaking

#4642 Add TWAP wiring to CL
  app/keepers/keepers.go
  x/gamm/keeper/pool_service_test.go
  x/twap/export_test.go
  x/twap/keeper.go
  x/twap/listeners_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/types/expected_interfaces.go
  x/twap/types/twapmock/amminterface.go
Labels: C:x/gamm, C:app-wiring, C:x/twap, V:state/breaking

#4637 feat[CL]: add asset breakdown to positions
  go.mod
  go.sum
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  proto/osmosis/concentrated-liquidity/position.proto
  tests/e2e/configurer/chain/queries.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/model/position.pb.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/query/query.pb.go
Labels: C:CLI, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4500 refactor/test(cl/swapstrategy): separate compute swap steps for out given in and in given out
  x/concentrated-liquidity/internal/math/math.go
  x/concentrated-liquidity/internal/swapstrategy/export_test.go
  x/concentrated-liquidity/internal/swapstrategy/fees.go
  x/concentrated-liquidity/internal/swapstrategy/fees_test.go
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/swaps.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4652 fix: localosmosis CL position creation Makefile step
  Makefile
Labels: T:build, V:state/compatible/no_backport, A:backport/v15.x

#4655 chore: add position id management
  proto/osmosis/concentrated-liquidity/genesis.proto
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/keeper.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/types/genesis/genesis.pb.go
  x/concentrated-liquidity/types/keys.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4658 refactor: unify pool query in pool manager, deprecate x/gamm, remove from CL module
  CHANGELOG.md
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  proto/osmosis/gamm/v1beta1/query.proto
  proto/osmosis/poolmanager/v1beta1/query.proto
  proto/osmosis/poolmanager/v1beta1/query.yml
  tests/cl-go-client/main.go
  tests/e2e/configurer/chain/queries.go
  x/concentrated-liquidity/client/cli/query.go
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/types/query/query.pb.go
  x/concentrated-liquidity/types/query/query.pb.gw.go
  x/gamm/client/cli/query.go
  x/gamm/keeper/grpc_query.go
  x/gamm/types/expected_keepers.go
  x/gamm/types/query.pb.go
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/grpc/grpc_query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
  x/poolmanager/router.go
Labels: C:CLI, C:x/gamm, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#4657 Update chain schema for v15
  chain.schema.json
Labels: V:state/compatible/backport, A:backport/v15.x

#4503 fix/test(CL Swaps): in given out
  go.mod
  go.sum
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4638 [CL Incentives]: Scale gas cost for new incentives by number of existing incentives
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/types/constants.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/keys.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4451 CL: Add Client support for migration proposals, wire it to gov module
  app/keepers/modules.go
  x/gamm/client/cli/flags.go
  x/gamm/client/cli/tx.go
  x/gamm/client/proposal_handler.go
  x/gamm/client/rest/tx.go
Labels: C:CLI, C:x/gamm, C:app-wiring, V:state/breaking

#4639 [CL Incentives] Clean up incentive records when they run out
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4681 Update Binaries version to v15 in chain.schema
  chain.schema.json
Labels: V:state/compatible/backport, A:backport/v15.x

#4659 feat: implement AllPools query in x/poolmanager
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/slice_helper.go
  osmoutils/slice_helper_test.go
  proto/osmosis/poolmanager/v1beta1/query.proto
  proto/osmosis/poolmanager/v1beta1/query.yml
  tests/mocks/pool_module.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/gamm/keeper/pool.go
  x/gamm/types/expected_keepers.go
  x/poolmanager/client/grpc/grpc_query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
  x/poolmanager/create_pool.go
  x/poolmanager/export_test.go
  x/poolmanager/keeper.go
  x/poolmanager/module/module.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
  x/poolmanager/types/routes.go
Labels: C:CLI, C:x/gamm, C:app-wiring, C:simulator, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#4670 Add `Common Security Considerations` section to `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: V:state/compatible/backport

#4661 feat[CL]: utilize position id in position key
  proto/osmosis/concentrated-liquidity/position.proto
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/position.pb.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/genesis/genesis.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/tx.pb.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/migrate_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/types/events.go
  x/gamm/types/expected_keepers.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/types/events.go
  x/superfluid/types/expected_keepers.go
Labels: C:CLI, C:x/gamm, C:x/superfluid, C:simulator, V:state/breaking, C:x/concentrated-liquidity

#4688 Add REST Support for claimable fees query
  go.sum
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  x/concentrated-liquidity/types/query/query.pb.go
  x/concentrated-liquidity/types/query/query.pb.gw.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4696 docs(CL): Swaps
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/swaps.go
Labels: C:docs, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4698 Remove auto go.mod workflow
  .github/workflows/go-mod-auto-bump.yml
  scripts/update-go-mod.sh
Labels: T:CI, T:build, V:state/compatible/no_backport

#4689 chore: Update description for UpdateMigrationRecords function
  x/gamm/keeper/migrate.go
Labels: C:x/gamm, V:state/compatible/no_backport

#4682 feat(CL): x/poolmanager spot price query for concentrated liquidity
  CHANGELOG.md
  go.mod
  go.sum
  proto/osmosis/gamm/v2/query.proto
  proto/osmosis/poolmanager/v1beta1/query.proto
  proto/osmosis/poolmanager/v1beta1/query.yml
  x/gamm/client/cli/query.go
  x/gamm/keeper/grpc_query.go
  x/gamm/v2types/query.pb.go
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/grpc/grpc_query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
Labels: C:CLI, C:x/gamm, V:state/breaking, C:x/poolmanager

#4680 refactor/test: LP events for data integration
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/types/events.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4702 chore: update go mod to fix ci on main
  go.mod
  go.sum
Labels: V:state/compatible/no_backport

#4691 (CL): Add query for Liquidity in Ranges
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/query/query.pb.go
  x/concentrated-liquidity/types/query/query.pb.gw.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4715 chore[CL]: add position ID to create position response
  proto/osmosis/concentrated-liquidity/tx.proto
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/types/tx.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4708 Link to `localosmosis` in readme
  README.md
Labels: C:docs, V:state/compatible/backport, A:backport/v15.x

#4712 daily check for broken links
  .github/workflows/check-broken-links.yml
Labels: T:CI, V:state/compatible/no_backport

#4718 feat: query position by id (added to stargate whitelist)
  app/upgrades/v15/upgrade_test.go
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  wasmbinding/stargate_whitelist.go
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/types/query/query.pb.go
  x/concentrated-liquidity/types/query/query.pb.gw.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity

#4711 Update AutoStake seed from .net to .com
  cmd/osmosisd/cmd/init.go
Labels: V:state/compatible/backport, A:backport/v15.x

#4706 [tests/e2e]: simplify the logic for adding accounts to genesis sdk side and integrate into e2e
  tests/e2e/initialization/config.go
Labels: C:e2e, V:state/compatible/backport, A:backport/v15.x

#4549 added single pool query
  CHANGELOG.md
  app/upgrades/v15/upgrade_test.go
  cmd/querygen/templates/grpcTemplate.go
  cmd/querygen/templates/grpc_template.tmpl
  cmd/querygen/templates/queryyml.go
  go.mod
  proto/osmosis/poolmanager/v1beta1/query.proto
  proto/osmosis/poolmanager/v1beta1/query.yml
  proto/osmosis/poolmanager/v1beta1/swap_route.proto
  wasmbinding/stargate_whitelist.go
  x/poolmanager/client/cli/cli_test.go
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/cli/query_test.go
  x/poolmanager/client/grpc/grpc_query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
  x/poolmanager/types/swap_route.pb.go
Labels: C:CLI, C:app-wiring, V:state/breaking, C:x/poolmanager

#4567 ProtoRev: Adding Txs to CLI
  x/protorev/client/cli/query.go
  x/protorev/client/cli/tx.go
  x/protorev/client/cli/utils.go
  x/protorev/keeper/msg_server.go
  x/protorev/keeper/msg_server_test.go
  x/protorev/protorev.md
Labels: C:docs, C:CLI, V:state/breaking

#4734 chore: re-comment out upgrade handler test
  app/upgrades/v15/upgrade_test.go
Labels: V:state/compatible/no_backport

#4737 fix: e2e response parsing
  tests/e2e/configurer/chain/commands.go
Labels: V:state/compatible/no_backport

#4695 feat[CL]: Refactor position keys to utilize IDs
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
  wasmbinding/stargate_whitelist.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/msgs_test.go
  x/concentrated-liquidity/types/query/query.pb.go
  x/concentrated-liquidity/types/query/query.pb.gw.go
  x/concentrated-liquidity/types/tx.pb.go
  x/gamm/keeper/migrate_test.go
  x/superfluid/keeper/migrate_test.go
Labels: C:docs, C:CLI, C:x/gamm, C:x/superfluid, C:simulator, V:state/breaking, C:x/concentrated-liquidity

#4741 Master pi 2124/check broken links
  .github/workflows/check-broken-links.yml
Labels: T:CI, V:state/compatible/no_backport

#4533 refactor/fix(CL Swaps): inverse tests; in given out API reduction
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/pool.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4746 GH Actions: link checker runs every two weeks
  .github/workflows/check-broken-links.yml
Labels: T:CI, V:state/compatible/no_backport

#4508 [CL Incentives] Remove ability to add to frozen positions
  osmoutils/accum/errors.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#4671 Use Go routines in CL go client
  tests/cl-go-client/main.go
Labels: V:state/compatible/no_backport

#4747 CL: `ApplySwap` inputs validation
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/pool.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4678 [CL] Serialize Incentive Record, Implement Fee Accum and Incentive Record to Genesis
  go.mod
  go.sum
  osmoutils/accum/accum.go
  osmoutils/accum/accum_test.go
  proto/osmosis/concentrated-liquidity/genesis.proto
  proto/osmosis/concentrated-liquidity/incentive_record.proto
  proto/osmosis/concentrated-liquidity/incentive_record_body.proto
  proto/osmosis/poolmanager/v1beta1/query.proto
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/types/genesis/genesis.go
  x/concentrated-liquidity/types/genesis/genesis.pb.go
  x/concentrated-liquidity/types/incentive_record.go
  x/concentrated-liquidity/types/incentive_record.pb.go
  x/concentrated-liquidity/types/incentive_record_body.pb.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity

#4771 Remove unnecessary test
  tests/e2e/e2e_test.go
Labels: V:state/compatible/no_backport

#4749 refactor[CL]: rename `PrecisionFactorAtPriceOne` to `ExponentAtPriceOne`
  proto/osmosis/concentrated-liquidity/pool-model/tx.proto
  proto/osmosis/concentrated-liquidity/pool.proto
  tests/cl-go-client/main.go
  tests/e2e/e2e_test.go
  tests/mocks/cl_pool.go
  x/concentrated-liquidity/README.md
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/msgs.go
  x/concentrated-liquidity/model/msgs_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/model/tx.pb.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/types/pool.go
Labels: C:docs, C:CLI, T:dev-UX, C:simulator, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4776 refactor(CL): round up swap fee in favor of the pool
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/concentrated-liquidity/internal/swapstrategy/export_test.go
  x/concentrated-liquidity/internal/swapstrategy/fees.go
  x/concentrated-liquidity/internal/swapstrategy/fees_test.go
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/no_backport, C:x/concentrated-liquidity

#4777 refactor: shorten fee and uptime accumulator prefixes; move to keys.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/types/keys.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4778 refactor(CL): remove MaxSqrtRatio and MinSqrtRatio
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one_test.go
  x/concentrated-liquidity/types/constants.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4781 fix: lint error
  x/concentrated-liquidity/fees.go
  x/concentrated-liquidity/incentives.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4789 fix: CL query conflict breaking main
  x/concentrated-liquidity/tick.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4793 fix: use AccAddress stringer interface instead of bytes->string conve…
  x/concentrated-liquidity/lp.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4724 refactor[CL]: remove freezeDuration as a parameter
  proto/osmosis/concentrated-liquidity/position.proto
  proto/osmosis/concentrated-liquidity/tx.proto
  tests/e2e/configurer/chain/commands.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/fees_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/position.pb.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/simulation/sim_msgs.go
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/msgs.go
  x/concentrated-liquidity/types/tx.pb.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/msg_server.go
  x/gamm/types/events.go
  x/gamm/types/expected_keepers.go
  x/poolmanager/router_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/types/events.go
  x/superfluid/types/expected_keepers.go
Labels: C:CLI, C:x/gamm, C:x/superfluid, C:simulator, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#4799 Replace Chain Schema Tendermint version with Consensus
  chain.schema.json
Labels: V:state/compatible/backport

#4791 feat(osmoutils): cosmwasm query and message wrappers
  osmoutils/cosmwasm/helpers.go
Labels: V:state/compatible/no_backport

#4803 fix(CL): incentives gov bug
  x/concentrated-liquidity/store.go
  x/concentrated-liquidity/store_test.go
  x/concentrated-liquidity/types/keys.go
Labels: C:x/concentrated-liquidity

#4782 Register Concentrated Pool Extension for Pool Proto struct
  x/concentrated-liquidity/model/codec.go
Labels: V:state/breaking, C:x/concentrated-liquidity, F: concentrated-liquidity

#4790 refactor: add start tick to liquidity net query; remove unused depths query
  proto/osmosis/concentrated-liquidity/pool-model/query.proto
  x/concentrated-liquidity/grpc_query.go
  x/concentrated-liquidity/internal/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/internal/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/internal/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/query/query.pb.go
  x/concentrated-liquidity/types/query/query.pb.gw.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#4796 refactor: separate incentives liquidity into a separate module address
  go.mod
  go.sum
  osmoutils/address.go
  proto/osmosis/concentrated-liquidity/pool.proto
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool.pb.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/types/pool.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/stableswap/pool.go
  x/gamm/pool-models/stableswap/pool_test.go
  x/gamm/types/pool.go
  x/poolmanager/create_pool.go
  x/poolmanager/types/pool.go
Labels: C:x/gamm, V:state/compatible/no_backport, C:x/concentrated-liquidity, C:x/poolmanager

#4767 Disable create pool with non exit fee
  CHANGELOG.md
  app/apptesting/test_suite.go
  app/upgrades/v15/upgrade_test.go
  proto/osmosis/gamm/pool-models/balancer/balancerPool.proto
  proto/osmosis/gamm/pool-models/stableswap/stableswap_pool.proto
  tests/e2e/scripts/ibcDenomPool.json
  tests/e2e/scripts/nativeDenomPool.json
  tests/e2e/scripts/nativeDenomThreeAssetPool.json
  tests/e2e/scripts/pool1A.json
  tests/e2e/scripts/pool1B.json
  tests/ibc-hooks/ibc_middleware_test.go
  x/gamm/keeper/genesis_test.go
  x/gamm/keeper/keeper_test.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/keeper/pool_test.go
  x/gamm/pool-models/balancer/amm_test.go
  x/gamm/pool-models/balancer/balancerPool.pb.go
  x/gamm/pool-models/balancer/marshal_test.go
  x/gamm/pool-models/balancer/msgs_test.go
  x/gamm/pool-models/balancer/pool_test.go
  x/gamm/pool-models/stableswap/msgs_test.go
  x/gamm/pool-models/stableswap/stableswap_pool.pb.go
  x/poolmanager/create_pool.go
  x/poolmanager/create_pool_test.go
  x/superfluid/keeper/unpool_test.go
Labels: C:x/gamm, C:x/superfluid, C:app-wiring, V:state/compatible/backport, C:x/poolmanager

#4783 Update wasmd to 0.31
  Makefile
  app/keepers/keepers.go
  cmd/osmosisd/cmd/genwasm.go
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  go.work
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  proto/Dockerfile
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, T:build, C:app-wiring, V:state/breaking

#4807 Add missing changelog
  CHANGELOG.md
Labels: V:state/compatible/no_backport

#4811 Update dockerfile to use new wasmvm for E2E tests
  tests/e2e/initialization/init.Dockerfile
Labels: V:state/compatible/no_backport

#4801 refactor: remove GetTotalShares, GetTotalLiquidity and GetExitFee from PoolI
  CHANGELOG.md
  Makefile
  app/upgrades/v15/upgrade_test.go
  app/upgrades/v15/upgrades.go
  tests/mocks/pool_module.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/types/expected_keepers.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/migrate.go
  x/gamm/keeper/pool.go
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/pool_service_test.go
  x/gamm/keeper/swap.go
  x/gamm/pool-models/balancer/msgs_test.go
  x/gamm/pool-models/stableswap/msgs_test.go
  x/gamm/types/pool.go
  x/poolmanager/create_pool.go
  x/poolmanager/types/pool.go
  x/poolmanager/types/routes.go
Labels: C:x/gamm, T:build, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager
