Repository osmosis-labs/osmosis, pull requests merged in 2024-01, with the labels that each got.

#7127 refactor: replace MinCoins with sdk coins.Min()
  osmoutils/coin_helper.go
  x/gamm/simulation/sim_msgs.go
Labels: C:x/gamm, C:simulator, V:state/compatible/no_backport, A:no-changelog

#7147 add poolID to CL incentives events
  CHANGELOG.md
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/spread_rewards.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity

#7198 fix coin parsing in sqs router query
  ingest/sqs/router/delivery/http/router_handler.go
Labels: V:state/compatible/no_backport, A:no-changelog

#7212 fix cli ledger signing
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7139 feat: add amino signing support to tokenfactory messages
  CHANGELOG.md
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  x/tokenfactory/module.go
  x/tokenfactory/types/codec.go
  x/tokenfactory/types/tx.pb.go
Labels: C:app-wiring, C:x/tokenfactory, V:state/breaking, A:no-changelog

#7230 Fix go mod update instruction CI
  .github/workflows/go-mod-auto-update-instructions.yaml
Labels: V:state/compatible/no_backport, A:no-changelog

#7214 Speedup more stable swap math operations
  go.mod
  go.sum
  osmomath/binary_search.go
  osmomath/decimal.go
  osmomath/decimal_test.go
  osmomath/sigfig_round.go
  x/gamm/pool-models/stableswap/amm.go
Labels: C:x/gamm, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7233 fix: config overwrite ignores app.toml values
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v21.x

#7237 chore: remove tx fee tracker
  CHANGELOG.md
  app/keepers/keepers.go
  app/upgrades/v21/upgrades.go
  app/upgrades/v21/upgrades_test.go
  go.sum
  proto/osmosis/protorev/v1beta1/protorev.proto
  proto/osmosis/txfees/v1beta1/genesis.proto
  x/protorev/keeper/grpc_query_test.go
  x/protorev/keeper/keeper.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/protorev_test.go
  x/protorev/types/expected_keepers.go
  x/protorev/types/protorev.pb.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/keeper/genesis.go
  x/txfees/keeper/genesis_test.go
  x/txfees/keeper/hooks_test.go
  x/txfees/keeper/protorev.go
  x/txfees/keeper/protorev_test.go
  x/txfees/types/expected_keepers.go
  x/txfees/types/genesis.go
  x/txfees/types/genesis.pb.go
Labels: C:x/txfees, C:app-wiring, V:state/breaking

#7234 fix(SQS): healthcheck false positive when node is stuck
  ingest/sqs/chain_info/repository/redis/redis_chain_info_repository.go
  ingest/sqs/chain_info/usecase/chain_info_usecase.go
  ingest/sqs/domain/mvc/chainInfo.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7238 Dev/re add clawback vesting command
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  tests/cl-genesis-positions/go.mod
  tests/cl-go-client/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7246 fix: config overwrite fails with exit code 1 if wrong permissions
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v21.x

#7243 chore: update gov metadata length from 256 to 10200
  CHANGELOG.md
  app/keepers/keepers.go
Labels: C:x/gov, A:automerge, C:app-wiring, V:state/breaking

#7245 fix: change in_denom to out_denom
  CHANGELOG.md
  x/poolmanager/types/msg_swap.go
Labels: V:state/breaking, C:x/poolmanager

#7257 fix: go mod update action targets branch it is called on
  .github/workflows/go-mod-auto-bump.yml
  scripts/update-go-mod.sh
Labels: T:CI, T:build, V:state/compatible/no_backport, A:no-changelog

#7248 Delete code that is queued for next release
  osmoutils/cache_ctx.go
  x/epochs/types/hooks.go
  x/superfluid/keeper/epoch.go
Labels: C:x/epochs, C:x/superfluid, V:state/breaking, A:no-changelog

#7258 Speedup CL spot price check and swap by removing an iterator
  CHANGELOG.md
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/swaps.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#7259 Reduce taker fee param loading
  CHANGELOG.md
  x/poolmanager/taker_fee.go
Labels: V:state/breaking, C:x/poolmanager

#7254 chore: remove cl test modules
  go.work
  tests/cl-genesis-positions/README.md
  tests/cl-genesis-positions/convert.go
  tests/cl-genesis-positions/edit_localosmosis_genesis.go
  tests/cl-genesis-positions/get_data.go
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
  tests/cl-genesis-positions/local_accounts.go
  tests/cl-genesis-positions/main.go
  tests/cl-genesis-positions/types.go
  tests/cl-go-client/README.md
  tests/cl-go-client/go.mod
  tests/cl-go-client/go.sum
  tests/cl-go-client/main.go
Labels: C:docs, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7249 feat: double auth tx size cost per byte from 10 to 20
  CHANGELOG.md
  app/upgrades/v22/upgrades.go
Labels: A:automerge, C:app-wiring, V:state/breaking

#7256 fix: go mod missing replaces on modules
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7268 fix: go mod updates
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  scripts/update-go-mod.sh
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, T:build, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7267 Support CL pools in TX Fee module
  CHANGELOG.md
  app/keepers/keepers.go
  x/txfees/keeper/feetokens.go
  x/txfees/keeper/feetokens_test.go
  x/txfees/keeper/keeper.go
  x/txfees/types/expected_keepers.go
Labels: C:x/txfees, C:app-wiring, V:state/breaking

#7031 docs(SQS): improve SQS and router documentation
  ingest/sqs/README.md
Labels: A:automerge, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7272 chore: go 1.20 -> 1.21
  CHANGELOG.md
  go.mod
  go.sum
  go.work
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/breaking

#7253 feat: extended app hash logs
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v21.x

#7220 fix: register consensus params
  CHANGELOG.md
  app/modules.go
  app/upgrades/v22/upgrades.go
Labels: C:app-wiring, V:state/breaking

#7270 feat: eip target gas from consensus params
  CHANGELOG.md
  app/keepers/keepers.go
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
  x/txfees/keeper/keeper.go
  x/txfees/keeper/mempool-1559/code.go
  x/txfees/module.go
  x/txfees/module_test.go
  x/txfees/types/expected_keepers.go
Labels: C:x/epochs, C:x/txfees, C:app-wiring, V:state/breaking

#7209 fix: charge gas when querying cw contracts
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/cosmwasm/helpers.go
  x/cosmwasmpool/model/pool_test.go
Labels: V:state/breaking

#7240 chore(perf): protorev tracker coin array
  CHANGELOG.md
  app/upgrades/v21/upgrades_test.go
  app/upgrades/v22/upgrades.go
  app/upgrades/v22/upgrades_test.go
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  osmoutils/store_helper.go
  proto/osmosis/poolmanager/v1beta1/genesis.proto
  proto/osmosis/protorev/v1beta1/protorev.proto
  scripts/makefiles/e2e.mk
  x/epochs/go.mod
  x/epochs/go.sum
  x/gamm/keeper/msg_server_test.go
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/poolmanager/keeper.go
  x/poolmanager/msg_server_test.go
  x/poolmanager/protorev.go
  x/poolmanager/protorev_test.go
  x/poolmanager/taker_fee.go
  x/poolmanager/taker_fee_test.go
  x/poolmanager/types/genesis.pb.go
  x/poolmanager/types/keys.go
  x/protorev/keeper/genesis.go
  x/protorev/keeper/genesis_test.go
  x/protorev/keeper/grpc_query_test.go
  x/protorev/keeper/protorev_test.go
  x/protorev/types/expected_keepers.go
  x/protorev/types/protorev.pb.go
Labels: C:x/gamm, C:x/epochs, C:x/txfees, C:app-wiring, V:state/breaking, C:x/poolmanager

#7282 perf: sdk fork update (remove reverse denom index)
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/breaking

#7284 chore(v22): tag deps
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/breaking, A:no-changelog

#7287 fix: removing the build-sqs pipeline its deprecated and no longer needed
  .github/workflows/build-push-sqs.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7290 chore: mergify v22.x backport label
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#7286 test: gas charge for the Query method
  x/cosmwasmpool/model/pool_test.go
Labels: V:state/compatible/no_backport, A:backport/v22.x

#7291 Raise mempool config gas per tx's defaults
  CHANGELOG.md
  x/txfees/types/options.go
Labels: C:x/txfees, V:state/compatible/backport, A:backport/v22.x

#7293 Update Changelog for v21.x
  CHANGELOG.md
Labels: V:state/compatible/no_backport

#7292 Update Changelog for v21 and v22
  CHANGELOG.md
Labels: V:state/compatible/no_backport, A:backport/v22.x

#7297 fix: total liquidity query
  x/concentrated-liquidity/total_liquidity.go
  x/cosmwasmpool/pool_module.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog, A:backport/v22.x

#7303 chore: e2e non parallel
  tests/e2e/e2e_test.go
Labels: A:backport/v22.x

#7301 chore: Variable is no longer used
  tests/e2e/e2e_setup_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v22.x

#7285 Proposal to update the mempool 1559 parameters for v22
  CHANGELOG.md
  x/txfees/keeper/mempool-1559/code.go
  x/txfees/module.go
Labels: C:x/txfees, A:automerge, C:app-wiring, V:state/compatible/no_backport

#7300 fix: update wasm vm as per CWA-2023-004
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v22.x

#7311 chore: update json library sdk
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/breaking, A:no-changelog, A:backport/v22.x

#7312 chore: v22 guide and cosmovisor
  networks/osmosis-1/upgrades/v22/mainnet/guide.md
  networks/osmosis-1/upgrades/v22/mainnet/v22_binaries.json
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v22.x

#7322 fix: update sqsdomain dep with taker fee key separator fix
  go.mod
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v21.x, A:backport/v22.x

#7326 chore: update sqs deps to point to `sqs/osmosis-main` branch
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v21.x

#7181 Better errors on out of gas
  CHANGELOG.md
  x/gamm/keeper/pool_service.go
  x/gamm/keeper/swap.go
  x/gamm/keeper/swap_test.go
  x/poolmanager/router.go
  x/protorev/keeper/posthandler.go
Labels: C:x/gamm, V:state/breaking, C:x/poolmanager

#7004 [Smart Accounts] Cosmwasm Authenticator
  app/ante.go
  app/keepers/keepers.go
  go.mod
  go.sum
  proto/osmosis/authenticator/params.proto
  x/authenticator/ante/ante.go
  x/authenticator/ante/ante_test.go
  x/authenticator/authenticator/cosmwasm.go
  x/authenticator/authenticator/cosmwasm_test.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/signature_authenticator_test.go
  x/authenticator/authenticator/util.go
  x/authenticator/testutils/contracts/cosigner-authenticator/.cargo/config
  x/authenticator/testutils/contracts/cosigner-authenticator/Cargo.lock
  x/authenticator/testutils/contracts/cosigner-authenticator/Cargo.toml
  x/authenticator/testutils/contracts/cosigner-authenticator/src/contract.rs
  x/authenticator/testutils/contracts/cosigner-authenticator/src/lib.rs
  x/authenticator/testutils/contracts/cosigner-authenticator/src/multitest.rs
  x/authenticator/testutils/contracts/cosigner-authenticator/src/test_utils.rs
  x/authenticator/testutils/contracts/cosigner-authenticator/src/tests.rs
  x/authenticator/testutils/contracts/cosigner-authenticator/src/types.rs
  x/authenticator/testutils/contracts/echo/Cargo.lock
  x/authenticator/testutils/contracts/echo/Cargo.toml
  x/authenticator/testutils/contracts/echo/src/lib.rs
  x/authenticator/types/errors.go
  x/authenticator/types/params.pb.go
Labels: C:app-wiring, Stale

#7335 chore: remove sqs dependency
  go.mod
  go.sum
  ingest/sqs/pools/ingester/pool_ingester.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v22.x

#7340 refactor(SQS): manual overwrite of routes for TVL pricing of SQS pools
  .vscode/launch.json
  go.mod
  go.sum
  ingest/sqs/domain/keepers.go
  ingest/sqs/pools/ingester/export_test.go
  ingest/sqs/pools/ingester/pool_ingester.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v22.x

#7321 Update Osmosis' Description in README.md
  README.md
Labels: C:docs

#7345 fix: remove tokens from balances that are not in the pool
  ingest/sqs/pools/ingester/pool_ingester.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v22.x

#7346 fix(StargateQueries): use a sync pool when unmarshalling responses of protobuf objects
  CHANGELOG.md
  cmd/osmosisd/cmd/stargate-query.go
  wasmbinding/export_test.go
  wasmbinding/query_plugin.go
  wasmbinding/stargate_whitelist.go
Labels: V:state/compatible/backport, A:backport/v21.x, A:backport/v22.x

#7350 chore: fix sqs ingest bug due to division by zero panic
  ingest/sqs/pools/ingester/pool_ingester.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v22.x

#7328 Update `cosmwasmpool` doc
  x/cosmwasmpool/README.md
Labels: C:docs

#7352 refactor(make): improve make help
  Makefile
  scripts/makefiles/build.mk
  scripts/makefiles/deps.mk
  scripts/makefiles/docker.mk
  scripts/makefiles/e2e.mk
  scripts/makefiles/lint.mk
  scripts/makefiles/localnet.mk
  scripts/makefiles/proto.mk
  scripts/makefiles/sqs.mk
  scripts/makefiles/tests.mk
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#7358 Update golang version in Dockerfile to 1.21
  Dockerfile
Labels: V:state/compatible/no_backport, A:no-changelog, A:backport/v22.x

#7364 add cosmwasm authenticator doc
  x/authenticator/README.md
Labels: C:docs

#7365 chore(Makefile): add `setup-pre-commit` target to init git hook
  scripts/hooks/pre-commit.sh
  scripts/makefiles/lint.mk
Labels: T:build, V:state/compatible/backport, A:no-changelog, A:backport/v22.x

#7360 fix: Update gov type for Set-Scaling-Factor
  CHANGELOG.md
  x/gamm/types/gov.go
Labels: C:x/gamm, V:state/breaking

#7368 refactor: overwrite ArbitrageMinGasPrice config from .005 to 0.1
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: A:automerge, V:state/compatible/backport, A:backport/v22.x

#7154 fix: remove duplicate event emission
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/gamm/keeper/msg_server.go
  x/gamm/keeper/msg_server_test.go
  x/poolmanager/create_pool.go
  x/poolmanager/msg_server.go
  x/poolmanager/msg_server_test.go
  x/superfluid/keeper/concentrated_liquidity.go
Labels: C:x/gamm, C:x/superfluid, V:state/compatible/backport, C:x/concentrated-liquidity, C:x/poolmanager, A:no-changelog

#7376 [Uptime Incentives]: Add authorized uptime validation for new NoLock gauges
  CHANGELOG.md
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/genesis_test.go
  x/incentives/types/expected_keepers.go
  x/pool-incentives/keeper/genesis.go
  x/pool-incentives/keeper/genesis_test.go
  x/pool-incentives/keeper/grpc_query_test.go
  x/pool-incentives/keeper/keeper.go
Labels: C:x/incentives, C:x/pool-incentives, V:state/breaking
