Repository osmosis-labs/osmosis, pull requests merged in 2024-03, with the labels that each got.

#7633 chore: remove as authenticator function and utils folder
  app/keepers/keepers.go
  x/authenticator/ante/ante.go
  x/authenticator/authenticator/all_of.go
  x/authenticator/authenticator/any_of.go
  x/authenticator/authenticator/authentication_data.go
  x/authenticator/authenticator/composite.go
  x/authenticator/authenticator/composition_test.go
  x/authenticator/authenticator/cosmwasm.go
  x/authenticator/authenticator/cosmwasm_test.go
  x/authenticator/authenticator/iface.go
  x/authenticator/authenticator/manager.go
  x/authenticator/authenticator/manager_test.go
  x/authenticator/authenticator/message_filter.go
  x/authenticator/authenticator/replay_protection.go
  x/authenticator/authenticator/requests.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/spend_limits.go
  x/authenticator/iface/iface.go
  x/authenticator/keeper/keeper.go
  x/authenticator/keeper/keeper_test.go
  x/authenticator/post/post.go
  x/authenticator/testutils/generic_authenticator.go
  x/authenticator/testutils/max_value_authenticator.go
  x/authenticator/testutils/stateful_authenticator.go
  x/authenticator/types/account_authenticators.go
  x/authenticator/types/authenticators.go
  x/authenticator/utils/keys.go
Labels: C:app-wiring

#7638 chore: reduce per block prune of TWAP from 1000 to 200
  x/twap/store.go
Labels: C:x/twap, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7652 chore: move EIP logs to debug
  x/txfees/keeper/mempool-1559/code.go
  x/txfees/keeper/mempool-1559/code_test.go
  x/txfees/keeper/mempool-1559/state_compatible_update_logic.go
Labels: C:x/txfees, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7649 chore: adding tests to the post handler function
  app/posthandler.go
  x/authenticator/ante/ante.go
  x/authenticator/ante/circuit_breaker.go
  x/authenticator/ante/circuit_breaker_test.go
  x/authenticator/post/post.go
  x/authenticator/post/post_test.go
Labels: C:app-wiring

#7648 feat: update selected authenticator tx extension to be a uint64
  app/posthandler.go
  proto/osmosis/authenticator/tx.proto
  tests/osmosisibctesting/chain.go
  x/authenticator/ante/ante.go
  x/authenticator/ante/ante_test.go
  x/authenticator/ante/circuit_breaker.go
  x/authenticator/ante/circuit_breaker_test.go
  x/authenticator/ante/pubkey.go
  x/authenticator/ante/pubkey_test.go
  x/authenticator/integration_test.go
  x/authenticator/post/post.go
  x/authenticator/post/post_test.go
  x/authenticator/types/codec.go
  x/authenticator/types/tx.pb.go
Labels: C:app-wiring

#7637 Wasm clients
  .github/workflows/gen-upgrade-on-manual-input.yml
  .github/workflows/go-mod-auto-bump.yml
  .github/workflows/lint.yml
  .github/workflows/mutest-issue-generate.yml
  .github/workflows/sim.yml
  .github/workflows/test.yml
  .github/workflows/update-go-import-paths.yml
  CHANGELOG.md
  app/app.go
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v24/constants.go
  go.mod
  go.sum
  proto/Dockerfile
  tests/localosmosis/README.md
  x/concentrated-liquidity/fuzz_test.go
Labels: C:docs, T:CI, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity

#7599 Reduce Sqrt calls in TickToSqrtPrice
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v22.x, A:backport/v23.x

#7672 Using alpine18 as there are issues with 19
  .github/workflows/test.yml
  tests/e2e/initialization/init.Dockerfile
Labels: T:CI

#7663 chore: bump sdk to current
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  tests/e2e/configurer/chain/commands.go
  x/epochs/go.mod
  x/ibc-hooks/go.mod
  x/superfluid/keeper/hooks_test.go
Labels: C:x/epochs, C:x/superfluid, V:state/breaking, A:no-changelog

#7674 fix: prevent rand coin value from locking zero coins
  x/lockup/keeper/migration_test.go
Labels: C:x/lockup, V:state/compatible/no_backport, A:no-changelog

#7687 Make a protorev error a constant
  x/protorev/keeper/routes.go
  x/protorev/types/errors.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7692 Make one more CL operation mutative
  x/concentrated-liquidity/swaps.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v23.x

#7688 added x/bridge module proto contracts
  proto/osmosis/bridge/v1beta1/bridge.proto
  proto/osmosis/bridge/v1beta1/events.proto
  proto/osmosis/bridge/v1beta1/genesis.proto
  proto/osmosis/bridge/v1beta1/query.proto
  proto/osmosis/bridge/v1beta1/tx.proto
  x/bridge/types/bridge.pb.go
  x/bridge/types/events.pb.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/query.pb.go
  x/bridge/types/query.pb.gw.go
  x/bridge/types/tx.pb.go
Labels: V:state/compatible/no_backport, A:no-changelog

#7657 Enforce that the fee payer is the first signer of the first message
  app/ante.go
  x/authenticator/ante/ante.go
  x/authenticator/ante/ante_test.go
  x/authenticator/ante/limit_fee_payer.go
  x/authenticator/ante/limit_fee_payer_test.go
Labels: C:app-wiring

#7697 chore: update cosmos sdk fork
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: A:no-changelog

#7698 chore: update cosmos sdk fork
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, A:no-changelog

#7686 Move some Balancer Dec operations to be mutative
  osmomath/math.go
  x/gamm/pool-models/balancer/amm.go
  x/gamm/pool-models/balancer/constants.go
  x/gamm/pool-models/balancer/pool.go
Labels: C:x/gamm, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7696 chore: updates to changelog
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v23.x

#7704 feat: implement whitelist fast node config osmosis side
  app/apptesting/test_suite.go
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7660 chore: reduce more epoch log noise
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/cache_ctx.go
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/txfees/keeper/hooks.go
Labels: C:x/epochs, C:x/txfees, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7716 feat: unblock ww pools
  ingest/sqs/pools/ingester/pool_ingester.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7723 Minor version upgrade
  go.mod
  go.sum
Labels: V:state/breaking, A:no-changelog

#7726 chore: bump comet
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  scripts/update-go-mod.sh
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, T:build, V:state/compatible/backport, A:backport/v23.x

#7703 [Smart Accounts] Spend Limit Tests
  x/authenticator/ante/ante.go
  x/authenticator/authenticator/base_test.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/signature_authenticator_test.go
  x/authenticator/authenticator/spend_limits_test.go
  x/authenticator/testutils/bytecode/spend_limit_v1.0.0-alpha.1.wasm
Labels: C:docs, C:CLI, C:app-wiring, C:simulator

#7721 Signature verification no longer defaults to the accounts pubkey
  app/keepers/keepers.go
  x/authenticator/ante/ante_test.go
  x/authenticator/ante/limit_fee_payer_test.go
  x/authenticator/authenticator/composition_test.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/signature_authenticator_test.go
Labels: C:app-wiring

#7689 Make CL calculations not update accumulators
  CHANGELOG.md
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#7731 Use a singleton for indicating unbounded price limit
  x/concentrated-liquidity/swaps.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v23.x

#7737 fix: fast nodes module whitelist config parse
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v23.x

#7684 added x/bridge module
  proto/osmosis/bridge/v1beta1/events.proto
  proto/osmosis/bridge/v1beta1/tx.proto
  x/bridge/README.md
  x/bridge/client/cli/query.go
  x/bridge/client/cli/tx.go
  x/bridge/images/MintBurn.png
  x/bridge/images/MintBurn.puml
  x/bridge/keeper/assets.go
  x/bridge/keeper/genesis.go
  x/bridge/keeper/helpers.go
  x/bridge/keeper/keeper.go
  x/bridge/keeper/msg_server.go
  x/bridge/keeper/params.go
  x/bridge/keeper/query_server.go
  x/bridge/keeper/transfers.go
  x/bridge/module.go
  x/bridge/types/assets.go
  x/bridge/types/codec.go
  x/bridge/types/constants.go
  x/bridge/types/errors.go
  x/bridge/types/events.pb.go
  x/bridge/types/expected_keepers.go
  x/bridge/types/genesis.go
  x/bridge/types/keys.go
  x/bridge/types/msgs.go
  x/bridge/types/params.go
  x/bridge/types/tx.pb.go
Labels: C:docs, C:CLI, C:x/gamm, C:x/epochs, C:x/txfees, C:app-wiring, C:x/tokenfactory, A:no-changelog

#7651 perf: reduce supported uptimes
  CHANGELOG.md
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/types/constants.go
  x/incentives/keeper/distribute_test.go
Labels: C:x/incentives, V:state/breaking, C:x/concentrated-liquidity

#7615 feat(x/incentives): min value param for epoch distribution
  CHANGELOG.md
  app/keepers/keepers.go
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
  proto/osmosis/incentives/params.proto
  x/cosmwasmpool/cosmwasm/msg/transmuter/transmuter_test.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/keeper.go
  x/incentives/keeper/keeper_test.go
  x/incentives/keeper/suite_test.go
  x/incentives/types/constants.go
  x/incentives/types/expected_keepers.go
  x/incentives/types/params.go
  x/incentives/types/params.pb.go
  x/superfluid/keeper/keeper_test.go
Labels: C:x/incentives, C:x/superfluid, C:app-wiring, V:state/breaking

#7743 [CosmWasm Pool] Fix misleading spot price spec
  x/cosmwasmpool/README.md
Labels: C:docs

#7719 fix: move log out of loop
  x/txfees/keeper/hooks.go
Labels: C:x/txfees, V:state/compatible/no_backport, A:no-changelog

#7749 [Smart Account] Improve errors and add telemetry
  x/authenticator/ante/ante.go
  x/authenticator/ante/ante_test.go
  x/authenticator/ante/pubkey.go
  x/authenticator/authenticator/all_of.go
  x/authenticator/authenticator/any_of.go
  x/authenticator/authenticator/composite.go
  x/authenticator/authenticator/cosmwasm.go
  x/authenticator/authenticator/spend_limits.go
  x/authenticator/authenticator/spend_limits_test.go
  x/authenticator/integration_test.go
  x/authenticator/keeper/keeper.go
  x/authenticator/keeper/keeper_test.go
  x/authenticator/keeper/msg_server.go
  x/authenticator/post/post.go
  x/authenticator/types/telemetry.go
Labels: C:docs, C:CLI, C:app-wiring, C:simulator

#7748 feat x/bridge: using MsgServer to access tokenfactory
  x/bridge/keeper/assets.go
  x/bridge/keeper/keeper.go
  x/bridge/keeper/params.go
  x/bridge/keeper/transfers.go
  x/bridge/types/errors.go
  x/bridge/types/expected_keepers.go
Labels: V:state/compatible/no_backport, A:no-changelog

#7747 perf(CL): Remove redundant collect incentives from withdraw logic
  CHANGELOG.md
  x/concentrated-liquidity/lp.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#7729 Remove an extra argument from crossTick
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#7750 chore: update iavl
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v23.x

#7759 chore: add nostrip compilr flag to attach debug symbols
  scripts/makefiles/build.mk
Labels: T:build, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7753 feat x/bridge: added `AssetInfo`
  proto/osmosis/bridge/v1beta1/bridge.proto
  proto/osmosis/bridge/v1beta1/events.proto
  proto/osmosis/bridge/v1beta1/tx.proto
  x/bridge/keeper/assets.go
  x/bridge/keeper/msg_server.go
  x/bridge/keeper/params.go
  x/bridge/keeper/transfers.go
  x/bridge/types/assets.go
  x/bridge/types/assets_test.go
  x/bridge/types/bridge.pb.go
  x/bridge/types/constants.go
  x/bridge/types/errors.go
  x/bridge/types/events.pb.go
  x/bridge/types/genesis_test.go
  x/bridge/types/helpers.go
  x/bridge/types/helpers_test.go
  x/bridge/types/msgs.go
  x/bridge/types/msgs_test.go
  x/bridge/types/params.go
  x/bridge/types/params_test.go
  x/bridge/types/tx.pb.go
Labels: V:state/compatible/no_backport, A:no-changelog

#7766 Revert "perf: reduce supported uptimes (#7651)"
  CHANGELOG.md
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/types/constants.go
  x/incentives/keeper/distribute_test.go
Labels: C:x/incentives, V:state/breaking, C:x/concentrated-liquidity, A:backport/v24.x

#7771 Revert "perf: reduce supported uptimes (#7651)" (backport #7766)
  CHANGELOG.md
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/types/constants.go
  x/incentives/keeper/distribute_test.go
Labels: C:x/incentives, C:x/concentrated-liquidity

#7773 [ci] Deprecate set-output from GitHub actions
  .github/workflows/e2e-full.yml
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#7772 [ci] Push iavl-v1 docker images on vX.Y.Z-iavl-v1 tags
  .github/workflows/push-docker-images.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#7774 [ci] Run e2e when PR opened by bots
  .github/workflows/test.yml
Labels: T:CI, A:no-changelog, A:backport/v24.x

#7769 chore: default TimeoutCommit to 3s (allow opt out of default overrides)
  CHANGELOG.md
  cmd/osmosisd/cmd/init.go
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v23.x, A:backport/v24.x

#7784 fix: e2e settings overrided
  tests/e2e/configurer/base.go
  tests/e2e/configurer/chain/node.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/containers/containers.go
  tests/e2e/sync_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#7775 feat x/bridge: added InboundTransfer storing
  go.mod
  proto/osmosis/bridge/v1beta1/bridge.proto
  proto/osmosis/bridge/v1beta1/tx.proto
  x/bridge/images/inbound_transfer.png
  x/bridge/images/inbound_transfer.puml
  x/bridge/keeper/keeper.go
  x/bridge/keeper/msg_server.go
  x/bridge/keeper/transfers.go
  x/bridge/types/bridge.pb.go
  x/bridge/types/errors.go
  x/bridge/types/helpers_test.go
  x/bridge/types/keys.go
  x/bridge/types/msgs.go
  x/bridge/types/msgs_test.go
  x/bridge/types/transfers.go
  x/bridge/types/tx.pb.go
Labels: V:state/compatible/no_backport, A:no-changelog

#7746 fix: Implement redepositing of forfeited incentives
  CHANGELOG.md
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/invariant_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/msg_server.go
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/errors.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:backport/v24.x

#7785 fix: Implement retaining rewards for transfers
  CHANGELOG.md
  x/concentrated-liquidity/msg_server_test.go
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#7796 fix: properly format info log
  x/txfees/keeper/hooks.go
Labels: C:x/txfees, V:state/compatible/backport, A:no-changelog, A:backport/v23.x, A:backport/v24.x

#7791 Update stalebot params
  .github/workflows/stalebot.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#7765 feat: BTC observer
  go.mod
  go.sum
  x/bridge/observer/bitcoin/errors.go
  x/bridge/observer/bitcoin/observer.go
  x/bridge/observer/bitcoin/observer_test.go
  x/bridge/observer/bitcoin/test_responses/block_hash.json
  x/bridge/observer/bitcoin/test_responses/block_verbose_tx.json
  x/bridge/observer/bitcoin/test_responses/vin_tx_verbose.json
Labels: V:state/compatible/no_backport, A:no-changelog

#7768 feat: allow gov module account to transfer any CL position
  CHANGELOG.md
  x/concentrated-liquidity/position.go
  x/concentrated-liquidity/position_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:backport/v24.x

#7779 perf: spread deprecated twap record pruning logic over multiple blocks
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
  x/twap/logic.go
  x/twap/store.go
  x/twap/types/keys.go
Labels: C:app-wiring, C:x/twap, V:state/breaking, A:no-changelog, A:backport/v24.x

#7789 feat x/bridge: added LastTransferHeight into the asset model
  go.mod
  go.sum
  proto/osmosis/bridge/v1beta1/bridge.proto
  proto/osmosis/bridge/v1beta1/query.proto
  proto/osmosis/bridge/v1beta1/tx.proto
  x/bridge/images/inbound_transfer_workflow.png
  x/bridge/images/inbound_transfer_workflow.puml
  x/bridge/keeper/assets.go
  x/bridge/keeper/genesis.go
  x/bridge/keeper/helpers.go
  x/bridge/keeper/msg_server.go
  x/bridge/keeper/params.go
  x/bridge/keeper/query_server.go
  x/bridge/keeper/transfers.go
  x/bridge/types/assets.go
  x/bridge/types/bridge.pb.go
  x/bridge/types/keys.go
  x/bridge/types/params.go
  x/bridge/types/query.pb.go
  x/bridge/types/query.pb.gw.go
  x/bridge/types/transfers.go
  x/bridge/types/tx.pb.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#7807 feat: Osmosis grpc client
  tests/mocks/mock_auth_query_server.go
  tests/mocks/mock_tx_service.go
  x/bridge/observer/osmosis/client.go
  x/bridge/observer/osmosis/client_test.go
  x/bridge/observer/osmosis/errors.go
Labels: V:state/compatible/no_backport, A:no-changelog

#7809 Revert "feat: Osmosis grpc client (#7807)"
  tests/mocks/mock_auth_query_server.go
  tests/mocks/mock_tx_service.go
  x/bridge/observer/osmosis/client.go
  x/bridge/observer/osmosis/client_test.go
  x/bridge/observer/osmosis/errors.go
Labels: V:state/compatible/no_backport, A:no-changelog

#7808 fix: start actually displaying errors for e2e
  tests/e2e/containers/containers.go
Labels: V:state/compatible/backport, A:backport/v23.x, A:backport/v24.x

#7814 fix(e2e): twap records
  tests/e2e/containers/config.go
  tests/e2e/initialization/config.go
Labels: V:state/compatible/backport, A:backport/v23.x, A:backport/v24.x

#7803 Delete chain.schema.json
  chain.schema.json
Labels: V:state/compatible/no_backport, A:no-changelog

#7820 chore: add usdc to accounts for in place testnet
  app/app.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v23.x, A:backport/v24.x

#7819 chore: in place testnet docs, remove old state export logic for localosmosis
  scripts/makefiles/localnet.mk
  tests/localosmosis/README.md
  tests/localosmosis/scripts/setup.sh
  tests/localosmosis/state_export/Dockerfile
  tests/localosmosis/state_export/config/app.toml
  tests/localosmosis/state_export/config/client.toml
  tests/localosmosis/state_export/config/config.toml
  tests/localosmosis/state_export/config/node_key.json
  tests/localosmosis/state_export/config/priv_validator_key.json
  tests/localosmosis/state_export/docker-compose.yml
  tests/localosmosis/state_export/start.sh
Labels: C:docs, V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#7821 chore: bump sdk fork
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v23.x, A:backport/v24.x

#7527 Add 30M gas limit to sudo helper
  CHANGELOG.md
  osmoutils/cosmwasm/helpers.go
  osmoutils/cosmwasm/helpers_test.go
Labels: V:state/breaking, A:backport/v24.x

#7841 feat: Osmosis grpc client
  tests/mocks/mock_auth_query_server.go
  tests/mocks/mock_tx_service.go
  x/bridge/observer/osmosis/client.go
  x/bridge/observer/osmosis/client_test.go
  x/bridge/observer/osmosis/errors.go
Labels: V:state/compatible/no_backport, A:no-changelog

#7847 chore: bump sdk to add regex denom perf
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#7730 Set migrated white whale pool ids in upgrade
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
Labels: C:app-wiring, V:state/breaking, A:no-changelog, A:backport/v24.x

#7851 Fix error on docker login secrets
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#7846 chore: bump sdk fork for IAVL v0 branch
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, A:no-changelog

#7848 fix(e2e): start nodes at same time, error if done condition not met
  tests/e2e/configurer/base.go
  tests/e2e/configurer/chain/node.go
  tests/e2e/configurer/upgrade.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#7854 feat x/bridge: added module docs
  x/bridge/README.md
  x/bridge/images/MintBurn.png
  x/bridge/images/MintBurn.puml
  x/bridge/images/inbound_tranfer_workflow.png
  x/bridge/images/inbound_tranfer_workflow.puml
  x/bridge/images/inbound_transfer.png
  x/bridge/images/inbound_transfer.puml
  x/bridge/images/mint_burn.png
  x/bridge/images/mint_burn.puml
  x/bridge/images/observer.png
  x/bridge/images/observer.puml
  x/bridge/images/outbound_transfer.png
  x/bridge/images/outbound_transfer.puml
Labels: C:docs, V:state/compatible/no_backport, A:no-changelog

#7833 Bump max gas wanted per tx to 60 mil
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/no_backport, A:backport/v24.x

#7856 fix(e2e): use osmolabs relayer image, remove unnecessary deposit calls
  tests/e2e/configurer/chain/chain.go
  tests/e2e/configurer/chain/commands.go
  tests/e2e/configurer/upgrade.go
  tests/e2e/containers/config.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#7857 fix: SuperfluidDelegationsByValidatorDenom does not return equivalent staked amount
  CHANGELOG.md
  x/superfluid/keeper/grpc_query.go
Labels: C:x/superfluid, V:state/compatible/backport, A:backport/v23.x, A:backport/v24.x

#7865 fix: update cometbft to latest version v37.4-v24-osmo-2
  go.mod
  go.sum
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/breaking, A:no-changelog, A:backport/v24.x

#7862 feat x/bridge: added external_confirmations to the asset model
  proto/osmosis/bridge/v1beta1/bridge.proto
  x/bridge/README.md
  x/bridge/types/assets.go
  x/bridge/types/assets_test.go
  x/bridge/types/bridge.pb.go
  x/bridge/types/constants.go
  x/bridge/types/helpers_test.go
  x/bridge/types/msgs_test.go
Labels: C:docs, V:state/compatible/no_backport, A:no-changelog

#7751 [Smart Accounts] Set authenticator active state
  app/upgrades/v24/upgrades.go
  proto/osmosis/authenticator/params.proto
  proto/osmosis/authenticator/tx.proto
  x/authenticator/README.md
  x/authenticator/ante/ante_test.go
  x/authenticator/ante/circuit_breaker.go
  x/authenticator/ante/circuit_breaker_test.go
  x/authenticator/integration_test.go
  x/authenticator/keeper/keeper.go
  x/authenticator/keeper/msg_server.go
  x/authenticator/keeper/msg_server_test.go
  x/authenticator/types/keys.go
  x/authenticator/types/msgs.go
  x/authenticator/types/params.go
  x/authenticator/types/params.pb.go
  x/authenticator/types/tx.pb.go
Labels: C:docs, C:app-wiring

#7881 feat x/bridge: tss library selection
  x/bridge/TSS.md
Labels: C:docs, V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#7880 feat: Use Chain interface for the BTC component
  x/bridge/observer/bitcoin/bitcoin.go
  x/bridge/observer/bitcoin/bitcoin_test.go
  x/bridge/observer/bitcoin/errors.go
  x/bridge/observer/chain.go
  x/bridge/observer/osmosis/client_test.go
  x/bridge/observer/osmosis/osmosis_test.go
Labels: V:state/compatible/no_backport, A:backport/v24.x

#7805 fix: migrate remaining cl incentives
  CHANGELOG.md
  app/upgrades/v23/constants.go
  app/upgrades/v23/upgrades.go
  app/upgrades/v23/upgrades_test.go
  app/upgrades/v24/constants.go
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/migration.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:backport/v24.x

#7878 feat x/bridge: added quarantine docs
  x/bridge/README.md
  x/bridge/images/quarantine.png
  x/bridge/images/quarantine.puml
Labels: C:docs, V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#7879 feat: SQS state streamer
  .vscode/launch.json
  app/app.go
  app/keepers/keepers.go
  ingest/ingest_manager.go
  ingest/sqs/chaininfo/ingester/chaininfo_ingester.go
  ingest/sqs/domain/errors.go
  ingest/sqs/domain/ingester.go
  ingest/sqs/domain/keepers.go
  ingest/sqs/domain/mocks/node_status_checker_mock.go
  ingest/sqs/domain/mocks/sqs_ingester_mock.go
  ingest/sqs/domain/service.go
  ingest/sqs/domain/telemetry.go
  ingest/sqs/ingester.go
  ingest/sqs/pools/ingester/pool_ingester.go
  ingest/sqs/pools/ingester/pool_ingester_test.go
  ingest/sqs/service/export_test.go
  ingest/sqs/service/node_status_checker.go
  ingest/sqs/service/sqs_pool_tracker.go
  ingest/sqs/service/sqs_pool_tracker_test.go
  ingest/sqs/service/sqs_streaming_service.go
  ingest/sqs/service/sqs_streaming_service_test.go
  ingest/sqs/service/writelistener/cfmm_write_listener.go
  ingest/sqs/service/writelistener/cfmm_write_listener_test.go
  ingest/sqs/service/writelistener/concentrated_write_listener.go
  ingest/sqs/service/writelistener/concentrated_write_listener_test.go
  ingest/sqs/service/writelistener/cosmwasmpool_write_listener.go
  ingest/sqs/service/writelistener/cosmwasmpool_write_listener_test.go
  ingest/sqs/sqs_config.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v23.x, A:backport/v24.x

#7892 chore: remove snapshot interval override
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v23.x, A:backport/v24.x
