Repository osmosis-labs/osmosis, pull requests merged in 2024-05, with the labels that each got.

#8179 chore: update cometbft and cosmos-sdk deps
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/compatible/no_backport, A:no-changelog, A:backport/v25.x

#8178 Properly create the module account for auction
  app/upgrades/v25/upgrades.go
  app/upgrades/v25/upgrades_test.go
  go.mod
  go.sum
  osmoutils/module_account.go
Labels: C:app-wiring, V:state/breaking, A:no-changelog, A:backport/v25.x

#8177 chore: consensus param change
  CHANGELOG.md
  app/upgrades/v25/constants.go
  app/upgrades/v25/upgrades.go
  app/upgrades/v25/upgrades_test.go
Labels: C:app-wiring, V:state/compatible/backport, A:backport/v25.x

#8189 perf: isSmartAccountActive param cache
  CHANGELOG.md
  x/smart-account/ante/circuit_breaker.go
  x/smart-account/keeper/keeper.go
  x/smart-account/keeper/params.go
Labels: V:state/compatible/backport, A:backport/v25.x

#8212 perf: state compatible comet perf improvements
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v24.x, A:backport/v25.x

#8216 fix: add circuit breaker controller to smartaccount module
  CHANGELOG.md
  app/upgrades/v25/constants.go
  app/upgrades/v25/upgrades.go
  app/upgrades/v25/upgrades_test.go
Labels: C:app-wiring, V:state/breaking, A:backport/v25.x

#8187 chore: release notes for v25
  networks/osmosis-1/upgrades/v25/mainnet/guide.md
  networks/osmosis-1/upgrades/v25/mainnet/v24_binaries.json
  scripts/release/create_binaries_json/create_all_binaries_json.sh
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8220 [SmartAccounts] Deactivate smart accounts messages when smartaccounts is inactive
  x/smart-account/keeper/msg_server.go
  x/smart-account/keeper/msg_server_test.go
Labels: V:state/breaking, A:no-changelog, A:backport/v25.x

#8210 fix: eip 1559 fix for block-sdk
  x/txfees/keeper/mempool-1559/code.go
  x/txfees/keeper/mempool-1559/code_test.go
Labels: C:x/txfees, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8218 chore: update to tagged submodules
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/breaking, A:no-changelog, A:backport/v25.x

#8226 chore: overwrite timeout propose from 3s to 2s
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v25.x

#8229 chore: comment is old
  scripts/multinode-local-testnet.sh
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#8234 fix: cli for set scaling factor
  x/gamm/client/cli/tx.go
Labels: C:CLI, C:x/gamm, V:state/compatible/backport, A:no-changelog, A:backport/v24.x, A:backport/v25.x

#8237 chore: update sqsdomain to latest tag
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8245 Updated cosmovisor json for v25.0.0
  networks/osmosis-1/upgrades/v25/mainnet/v24_binaries.json
  networks/osmosis-1/upgrades/v25/mainnet/v25_binaries.json
Labels: V:state/compatible/no_backport, A:no-changelog, A:backport/v25.x

#8168 chore: added the MsgsetDenomMetadata in cli
  x/tokenfactory/client/cli/tx.go
Labels: C:CLI, C:x/tokenfactory, V:state/compatible/backport, A:no-changelog

#8251 Fix bad text in log
  x/superfluid/keeper/stake.go
Labels: C:x/superfluid, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8248 Update docs for TokenFactory CLI --help
  x/tokenfactory/client/cli/tx.go
Labels: C:CLI, C:x/tokenfactory, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8148 Add local cache inside the takerfee
  CHANGELOG.md
  x/poolmanager/keeper.go
  x/poolmanager/taker_fee.go
Labels: V:state/compatible/backport, C:x/poolmanager, A:backport/v24.x, A:backport/v25.x

#8264 [fix]: Fix typo in cw pool CLI example
  x/cosmwasmpool/client/cli/tx.go
Labels: C:CLI, V:state/compatible/backport, A:no-changelog

#8253 chore: update gogoproto to v1.4.11 and golang.org/x/exp to latest, sdk bump
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v25.x

#8272 Fix: Slow down action run time by reducing concurrent operations
  .github/workflows/check-broken-links.yml
Labels: T:CI

#8282 chore: update go version to fix release pipeline
  go.mod
  go.work
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8285 chore: downgrade go version to tests on main
  go.mod
  go.work
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8169 Support non-pool assets in superfluid staking.
  CHANGELOG.md
  app/keepers/keepers.go
  proto/osmosis/superfluid/superfluid.proto
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/epoch_test.go
  x/superfluid/keeper/gov/gov.go
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/keeper/integration_test.go
  x/superfluid/keeper/keeper.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/keeper/twap_price.go
  x/superfluid/keeper/twap_price_test.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/superfluid.pb.go
Labels: C:CLI, C:x/incentives, C:x/superfluid, C:app-wiring, V:state/breaking

#8290 nits: typological errors
  x/smart-account/ante/ante.go
  x/smart-account/ante/circuit_breaker_test.go
  x/smart-account/authenticator/manager.go
  x/smart-account/authenticator/signature_authenticator.go
  x/smart-account/authenticator/signature_authenticator_test.go
  x/smart-account/authenticator/spend_limits_test.go
  x/smart-account/integration_test.go
  x/smart-account/keeper/keeper.go
  x/smart-account/post/post_test.go
  x/smart-account/simulation/helpers.go
Labels: C:simulator, V:state/compatible/no_backport, A:no-changelog

#8293 Upgrade v25.x to IBC v7.4.1
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs

#8294 Update SECURITY.md for conditions on collecting bug bounty
  SECURITY.md
Labels: security

#8250 [NonPoolSuperfluid] Add risk factors to individual denoms.
  proto/osmosis/superfluid/superfluid.proto
  proto/osmosis/superfluid/tx.proto
  x/superfluid/keeper/concentrated_liquidity_test.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/epoch_test.go
  x/superfluid/keeper/gov/gov_test.go
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/integration_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/keeper/superfluid_asset.go
  x/superfluid/keeper/superfluid_asset_store.go
  x/superfluid/keeper/superfluid_asset_test.go
  x/superfluid/keeper/twap_price.go
  x/superfluid/keeper/twap_price_test.go
  x/superfluid/types/errors.go
  x/superfluid/types/keys.go
  x/superfluid/types/msgs.go
  x/superfluid/types/superfluid.pb.go
  x/superfluid/types/tx.pb.go
Labels: C:CLI, C:x/incentives, C:x/superfluid, C:app-wiring, V:state/breaking, A:no-changelog

#8297 chore: update cometbft with latest changes
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs

#8298 chore: overwrite timeout commit from 1.5s to 1s
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v25.x

#8306 chore: update changelog for cometbft mempool fixes
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v25.x

#8305 chore: update cometbft with latest mempool fixes
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs

#8308 Remove wasm times from our antehandler checkTx + recheckTx stack
  CHANGELOG.md
  x/ibc-hooks/wasm_hook.go
  x/ibc-rate-limit/ibc_module.go
Labels: V:state/compatible/backport, A:backport/v25.x

#8312 chore: overwrite `flush_throttle_timeout` and `peer_gossip_sleep_duration` to 10ms and 50ms respectively
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v25.x

#8279 refactor/fix/test(sqs): pool liquidity pricing refactor & clean up
  .vscode/launch.json
  app/apptesting/concentrated_liquidity.go
  go.mod
  go.sum
  ingest/sqs/domain/asset_list.go
  ingest/sqs/domain/asset_list_test.go
  ingest/sqs/domain/export_test.go
  ingest/sqs/domain/mocks/asset_list_getter_mock.go
  ingest/sqs/pools/transformer/export_test.go
  ingest/sqs/pools/transformer/pool_transformer.go
  ingest/sqs/pools/transformer/pool_transformer_test.go
  ingest/sqs/sqs_config.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8324 chore: update changelog for v25.0.3
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v25.x

#8326 fix: pool liquidity cap rounding edge case
  ingest/sqs/pools/transformer/pool_transformer.go
  ingest/sqs/pools/transformer/pool_transformer_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8329 fix: inc flush-throttle-timeout overwrite to 80ms
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v25.x
