Repository osmosis-labs/osmosis, pull requests merged in 2024-10, with the labels that each got.

#8743 chore: bump sdk and cometbft
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v26.x

#8728 fix unsupported sign-mode issue
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v26.x

#8736 feat: [indexer] add test cases to full_indexer_block_process_strategy
  ingest/indexer/domain/mocks/publisher_mock.go
  ingest/indexer/service/blockprocessor/full_indexer_block_process_strategy_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8735 feat: [indexer] add test cases to block_update_indexer_block_process_strategy
  ingest/indexer/domain/mocks/pair_publisher_mock.go
  ingest/indexer/domain/mocks/publisher_mock.go
  ingest/indexer/service/blockprocessor/block_updates_indexer_block_process_strategy.go
  ingest/indexer/service/blockprocessor/block_updates_indexer_block_process_strategy_test.go
  ingest/indexer/service/blockprocessor/export_test.go
  ingest/indexer/service/blockprocessor/full_indexer_block_process_strategy_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8746 feat: [indexer] add test cases to pair_publisher::PublishPoolPairs
  ingest/indexer/domain/mocks/publisher_mock.go
  ingest/indexer/service/blockprocessor/block_updates_indexer_block_process_strategy_test.go
  ingest/indexer/service/blockprocessor/full_indexer_block_process_strategy_test.go
  ingest/indexer/service/blockprocessor/pair_publisher.go
  ingest/indexer/service/blockprocessor/pair_publisher_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8754 Add missing proto files for indexing
  CHANGELOG.md
  proto/osmosis/lockup/tx.proto
  proto/osmosis/protorev/v1beta1/tx.proto
  x/lockup/types/tx.pb.go
  x/protorev/types/tx.pb.go
Labels: C:x/lockup, V:state/compatible/no_backport

#8762 feat: [indexer] optimization - publish token supplies and pool pair data after synced
  app/app.go
  ingest/common/domain/block_pools.go
  ingest/common/domain/block_process_strategy_manager.go
  ingest/common/domain/block_process_strategy_manager_test.go
  ingest/common/domain/block_update_process_utils.go
  ingest/common/domain/errors.go
  ingest/common/domain/keepers.go
  ingest/common/domain/mocks/node_status_checker_mock.go
  ingest/common/domain/pools.go
  ingest/common/domain/process_strategy.go
  ingest/common/service/node_status_checker.go
  ingest/indexer/service/blockprocessor/block_process_indexer_factory.go
  ingest/indexer/service/blockprocessor/block_process_indexer_factory_test.go
  ingest/indexer/service/blockprocessor/export_test.go
  ingest/indexer/service/blockprocessor/full_indexer_block_process_strategy.go
  ingest/indexer/service/blockprocessor/full_indexer_block_process_strategy_test.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/indexer/service/indexer_streaming_service_test.go
  ingest/sqs/service/blockprocessor/block_process_sqs_factory_test.go
  ingest/sqs/service/blockprocessor/full_sqs_block_process_strategy.go
  ingest/sqs/service/blockprocessor/full_sqs_block_process_strategy_test.go
  ingest/sqs/service/sqs_streaming_service_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8765 fix concurrency issue in go test(x/lockup)
  CHANGELOG.md
  x/lockup/keeper/genesis_test.go
Labels: C:x/lockup, V:state/compatible/no_backport

#8759 test: ibc-rate-limit test updates
  tests/osmosisibctesting/wasm.go
  x/ibc-rate-limit/bytecode/rate_limiter_v1.wasm
  x/ibc-rate-limit/ibc_middleware_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#8755 [x/concentratedliquidity]: Fix Incorrect Event Emission
  CHANGELOG.md
  x/concentrated-liquidity/lp.go
Labels: Stale, V:state/compatible/no_backport, C:x/concentrated-liquidity

#8764 fix: add cosmwasm_1_3 feature, use capabilities from wasm keeper
  CHANGELOG.md
  app/keepers/keepers.go
Labels: C:app-wiring, V:state/breaking

#8768 fix concurrency issue in go test(x/lockup)
  CHANGELOG.md
  x/lockup/keeper/genesis_test.go
Labels: C:x/lockup, V:state/compatible/no_backport

#8780 feat: publish spot price for token swap event
  ingest/indexer/domain/keepers.go
  ingest/indexer/service/export_test.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/indexer/service/indexer_streaming_service_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8779 chore: bump cometbft/cosmos-sdk versions
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/breaking

#8751 fix: supply offsets for osmo token
  CHANGELOG.md
  app/upgrades/v27/constants.go
  app/upgrades/v27/upgrades.go
  app/upgrades/v27/upgrades_test.go
  go.work
Labels: C:app-wiring, V:state/breaking

#8785 feat & fix: fix data duplication issue, skip failed transaction
  ingest/indexer/service/indexer_streaming_service.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8791 fix: superfluid log for error that should be ignored
  CHANGELOG.md
  x/superfluid/keeper/epoch.go
Labels: C:x/superfluid, V:state/compatible/no_backport

#8793 feat: backport tag in mergify
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog
