Repository osmosis-labs/osmosis, pull requests merged in 2024-06, with the labels that each got.

#8276 [NonPoolSuperfluid] Use full routes instead of only one pool for pricing
  CHANGELOG.md
  proto/osmosis/superfluid/superfluid.proto
  x/poolmanager/types/routes.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/epoch_test.go
  x/superfluid/keeper/gov/gov.go
  x/superfluid/keeper/gov/gov_test.go
  x/superfluid/keeper/integration_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/superfluid.pb.go
  x/twap/api.go
  x/twap/api_test.go
  x/twap/types/errors.go
Labels: C:CLI, C:x/superfluid, C:app-wiring, C:x/twap, V:state/breaking, C:x/poolmanager

#8331 [NonPoolSuperfluid] docs
  x/superfluid/README.md
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/keeper/twap_price.go
  x/superfluid/keeper/twap_price_test.go
Labels: C:docs, C:x/superfluid

#8320 [NonPoolSuperfluid] Queries
  CHANGELOG.md
  proto/osmosis/superfluid/query.proto
  x/superfluid/README.md
  x/superfluid/keeper/epoch_test.go
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/keeper/integration_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/keeper/twap_price.go
  x/superfluid/keeper/twap_price_test.go
  x/superfluid/types/query.pb.go
Labels: C:docs, C:x/superfluid, C:x/twap, V:state/compatible/no_backport, C:x/poolmanager

#8344 feat: uni-directional trading pair taker fee overrides
  CHANGELOG.md
  app/upgrades/v26/upgrades.go
  app/upgrades/v26/upgrades_test.go
  ingest/sqs/pools/transformer/pool_transformer_test.go
  proto/osmosis/poolmanager/v1beta1/tx.proto
  x/poolmanager/README.md
  x/poolmanager/client/cli/tx.go
  x/poolmanager/gov.go
  x/poolmanager/keeper.go
  x/poolmanager/keeper_test.go
  x/poolmanager/msg_server.go
  x/poolmanager/msg_server_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
  x/poolmanager/taker_fee.go
  x/poolmanager/types/gov.go
  x/poolmanager/types/gov_test.go
  x/poolmanager/types/keys.go
  x/poolmanager/types/keys_test.go
  x/poolmanager/types/msgs_test.go
  x/poolmanager/types/params.go
  x/poolmanager/types/tx.pb.go
Labels: C:docs, C:CLI, C:app-wiring, V:state/breaking, C:x/poolmanager

#8351 fix: expose get authenticator to cli
  x/smart-account/client/cli/query.go
Labels: C:CLI, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8352 fix: error log in post and ante handler
  x/smart-account/ante/ante.go
  x/smart-account/post/post.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8291 SQS ingester for alloy transmuter
  app/app.go
  app/apptesting/cosmwasmpool.go
  go.mod
  go.sum
  ingest/sqs/CHANGELOG.md
  ingest/sqs/domain/keepers.go
  ingest/sqs/pools/transformer/alloy_transmuter.go
  ingest/sqs/pools/transformer/alloy_transmuter_test.go
  ingest/sqs/pools/transformer/export_test.go
  ingest/sqs/pools/transformer/pool_transformer.go
  ingest/sqs/pools/transformer/pool_transformer_test.go
  ingest/sqs/service/writelistener/cosmwasmpool_write_listener.go
  ingest/sqs/service/writelistener/cosmwasmpool_write_listener_test.go
  x/cosmwasmpool/bytecode/transmuter_v3.wasm
Labels: C:app-wiring, V:state/compatible/no_backport

#8369 Fix `init` command with correct Consensus Params
  cmd/osmosisd/cmd/init.go
Labels: V:state/compatible/no_backport, A:no-changelog

#8355 fix: fee payer charged on every message
  CHANGELOG.md
  x/smart-account/ante/ante.go
  x/smart-account/ante/ante_test.go
Labels: V:state/breaking, A:no-changelog

#8360 chore: address some unforking TODOs
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  app/upgrades/v3/forks.go
  app/upgrades/v9/upgrades.go
  tests/simulator/sim_test.go
  x/txfees/keeper/feedecorator.go
Labels: C:x/txfees, C:app-wiring, C:simulator, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8354 fix: remove some todos
  x/smart-account/ante/pubkey.go
  x/smart-account/post/post.go
  x/smart-account/types/keys.go
  x/smart-account/types/msgs.go
Labels: V:state/breaking, A:no-changelog

#8370 fix: transmuter balance ingest not sorted
  ingest/sqs/pools/transformer/pool_transformer.go
Labels: V:state/compatible/no_backport, A:no-changelog

#8353 chore: update documentation for functions
  x/smart-account/authenticator/signature_authenticator.go
  x/smart-account/keeper/keeper.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8374 [SA] Docs about api guarantees
  x/smart-account/README.md
Labels: C:docs

#8358 chore: set MinDepositRatio gov param to 1 percent for sdk v50 upgrade
  CHANGELOG.md
  app/upgrades/v26/upgrades.go
Labels: C:app-wiring, V:state/compatible/no_backport

#8387 chore: cleaning up some functions
  x/tokenfactory/keeper/bankactions.go
  x/tokenfactory/keeper/keeper.go
  x/tokenfactory/keeper/msg_server_test.go
Labels: C:x/tokenfactory, V:state/compatible/no_backport, A:no-changelog

#8398 perf: Speedup one JSON unmarshal
  CHANGELOG.md
  x/ibc-rate-limit/ibc_module.go
Labels: V:state/compatible/backport, A:backport/v25.x

#8385 feat: Indexer service wiring
  app/app.go
  ingest/indexer/domain/asset.go
  ingest/indexer/domain/cold_start_manager.go
  ingest/indexer/domain/ingester.go
  ingest/indexer/domain/keepers.go
  ingest/indexer/service/client/pubsub_client.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/indexer/service/writelistener/bank_write_listener.go
  ingest/indexer/service/writelistener/bank_write_listener_test.go
  ingest/sqs/ingester.go
  ingest/sqs/sqs_config.go
Labels: C:app-wiring

#8400 chore: bump comet branch w/ cons improvements
  go.mod
  go.sum
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs

#8394 perf: Lower timeout commit to 600ms
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8409 fix: mempool filter ibc spam
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
Labels: C:x/txfees

#8412 chore: changelog update
  CHANGELOG.md
Labels: A:backport/v25.x

#8414 Add missing docker build for cosmovisor-wrapped osmosis binary image
  .github/workflows/push-docker-images.yml
Labels: T:CI, A:backport/v25.x

#8417 fix: comet bump
  go.mod
  go.sum
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs

#8420 Remove IBC-rate limits descendant recheck calls
  CHANGELOG.md
  x/ibc-rate-limit/ibc_module.go
Labels: V:state/compatible/backport, A:backport/v25.x

#8421 perf: CheckTx with Caching Tx Decoder
  app/app.go
  go.mod
  go.sum
Labels: C:app-wiring

#8407 feat: rename ingester to publisher, added block publishing code
  app/app.go
  ingest/indexer/domain/publisher.go
  ingest/indexer/domain/token_supply.go
  ingest/indexer/indexer_config.go
  ingest/indexer/publisher.go
  ingest/indexer/service/indexer_streaming_service.go
Labels: C:app-wiring

#8386 DexScreener v25 backport
  app/app.go
  go.mod
  go.sum
  ingest/indexer/domain/block.go
  ingest/indexer/domain/cold_start_manager.go
  ingest/indexer/domain/errors.go
  ingest/indexer/domain/keepers.go
  ingest/indexer/domain/mocks/token_supply_publisher_mock.go
  ingest/indexer/domain/pool.go
  ingest/indexer/domain/publisher.go
  ingest/indexer/domain/token_supply.go
  ingest/indexer/domain/transaction.go
  ingest/indexer/indexer_config.go
  ingest/indexer/publisher.go
  ingest/indexer/service/client/pubsub_client.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/indexer/service/writelistener/bank_write_listener.go
  ingest/indexer/service/writelistener/bank_write_listener_test.go
Labels: C:app-wiring

#8411 feat: DexScreener (main)
  app/app.go
  go.mod
  go.sum
  ingest/indexer/domain/block.go
  ingest/indexer/domain/cold_start_manager.go
  ingest/indexer/domain/errors.go
  ingest/indexer/domain/keepers.go
  ingest/indexer/domain/mocks/token_supply_publisher_mock.go
  ingest/indexer/domain/pool.go
  ingest/indexer/domain/publisher.go
  ingest/indexer/domain/token_supply.go
  ingest/indexer/domain/transaction.go
  ingest/indexer/indexer_config.go
  ingest/indexer/publisher.go
  ingest/indexer/service/client/pubsub_client.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/indexer/service/writelistener/bank_write_listener.go
  ingest/indexer/service/writelistener/bank_write_listener_test.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8431 fix: indexer config reading sqs enabled value
  CHANGELOG.md
  osmoutils/config_parser.go
Labels: V:state/compatible/backport, A:backport/v25.x

#8436 feat: Generate default indexer configs on osmosisd init
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v25.x

#8428 chore: bump ibc-go from v8.2.1 to v8.3.1
  app/keepers/keepers.go
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#8423 chore: changelog fixes
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v25.x

#8429 feat: sdk comet build/install quick replace
  Makefile
Labels: T:build, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8427 feat: module hash by height query
  cmd/osmosisd/cmd/module_hash_by_height.go
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/no_backport, A:no-changelog

#8446 chore: update osmoutils to fix indexer config (main)
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8442 feat: added common filtering logic for token supply data publishing. Fixed a typo bug in topic id.
  ingest/indexer/domain/token_supply.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/indexer/service/writelistener/bank_write_listener.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8389 SQS support for Orderbook
  app/apptesting/cosmwasmpool.go
  go.mod
  go.sum
  ingest/sqs/CHANGELOG.md
  ingest/sqs/pools/transformer/alloy_transmuter.go
  ingest/sqs/pools/transformer/alloy_transmuter_test.go
  ingest/sqs/pools/transformer/export_test.go
  ingest/sqs/pools/transformer/orderbook.go
  ingest/sqs/pools/transformer/orderbook_test.go
  ingest/sqs/pools/transformer/pool_transformer.go
  ingest/sqs/pools/transformer/pool_transformer_test.go
  ingest/sqs/sqs_config.go
  x/cosmwasmpool/bytecode/sumtree_orderbook.wasm
Labels: C:app-wiring, V:state/compatible/backport, A:backport/v25.x

#8455 chore: comet bump
  go.mod
  go.sum
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs

#8456 chore: changelog update
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v25.x
