Repository osmosis-labs/osmosis, pull requests merged in 2024-11, with the labels that each got.

#8807 build: bump cometbft version
  CHANGELOG.md
  go.mod
  go.sum
  go.work
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/breaking, A:backport/v27.x

#8816 Chore/update error message
  x/concentrated-liquidity/swapstrategy/spread_rewards.go
  x/tokenfactory/keeper/bankactions.go
  x/tokenfactory/types/errors.go
Labels: C:x/tokenfactory, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v27.x

#8818 chore: bump sqsdomain to v0.27.0
  CHANGELOG.md
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:backport/v27.x

#8805 Improvise in-place-testnet docs
  tests/localosmosis/README.md
Labels: C:docs, V:state/compatible/no_backport, A:no-changelog

#8821 Fix lint, Add local osmosis readme markdownignore
  .markdownlintignore
Labels: V:state/compatible/no_backport, A:no-changelog

#8831 chore: bump cometbft
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v27.x

#8393 chore: set optimistic execution
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/no_backport, A:backport/v27.x

#8846 Add workflow dispatch condition to dev docker build
  .github/workflows/push-dev-docker-images.yml
Labels: T:CI

#8848 Remove slash from refs for docker
  .github/workflows/push-dev-docker-images.yml
Labels: T:CI

#8851 chore: revert optimistic exec
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v27.x

#8854 deprecate protocol docs CI
  .github/workflows/protocol-docs.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog
