Repository osmosis-labs/osmosis, pull requests merged in 2024-12, with the labels that each got.

#8857 chore: update math package
  osmomath/go.mod
  osmomath/go.sum
  wasmbinding/message_plugin.go
Labels: V:state/breaking, A:no-changelog

#8859 chore: add v28 backport to mergify
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#8863 chore: update to tagged sqsdomain
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v28.x

#8865 chore: update to tagged osmomath and osmoutils
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v28.x

#8867 chore: update to tagged ibc-hooks and epochs
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v28.x

#8869 Fix `.goreleaser.yaml and Makefile targets
  .goreleaser.yaml
  scripts/makefiles/release.mk
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v28.x

#8878 Fix upgrade guide script for releases
  scripts/release/create_upgrade_guide/create_upgrade_guide.py
Labels: V:state/compatible/no_backport, A:no-changelog

#8862 Calvin/sqs multi instances support 2
  app/app.go
  ingest/sqs/service/sqs_streaming_service_test.go
  ingest/sqs/sqs_config.go
Labels: C:app-wiring

#8876 fix: XCS incorrect channel
  .github/workflows/contracts.yml
  CHANGELOG.md
  cosmwasm/Cargo.lock
  cosmwasm/Cargo.toml
  cosmwasm/contracts/swaprouter/tests/swap_test.rs
  cosmwasm/packages/registry/src/registry.rs
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
  tests/ibc-hooks/bytecode/swaprouter.wasm
  tests/ibc-hooks/ibc_middleware_test.go
Labels: T:CI, V:state/compatible/no_backport

#8877 chore: added v28 guide
  networks/osmosis-1/upgrades/v28/mainnet/guide.md
  networks/osmosis-1/upgrades/v28/mainnet/v28_binaries.json
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v28.x

#8898 Calvin/sqs multi instances support 2 (#8862) ( backport )
  app/app.go
  ingest/sqs/service/sqs_streaming_service_test.go
  ingest/sqs/sqs_config.go
Labels: C:app-wiring

#8858 chore: fix event emission for smart account module
  CHANGELOG.md
  x/smart-account/ante/pubkey.go
Labels: V:state/compatible/backport, A:backport/v28.x

#8906 chore: bump cosmos-sdk v0.50.11
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v28.x
