Repository osmosis-labs/osmosis, pull requests merged in 2024-04, with the labels that each got.

#7849 deduct fees after auth
  app/ante.go
Labels: C:app-wiring

#7741 perf(osmomath): make Exp2 use cheaper comparisons firstly
  osmomath/exp2.go
  osmomath/exp2_test.go
Labels: A:no-changelog

#7866 fix: Remove Exit Fee from Create Pool cli
  x/gamm/README.md
  x/gamm/client/cli/tx.go
  x/gamm/client/docs/create-balancer-pool.md
  x/gamm/client/docs/create-lbp-pool.md
  x/gamm/client/docs/create-stableswap-pool.md
Labels: C:docs, C:CLI, C:x/gamm, V:state/compatible/backport, A:no-changelog, A:backport/v23.x, A:backport/v24.x

#7855 feat: whitelist addresses param for setting fee tokens
  CHANGELOG.md
  app/keepers/keepers.go
  app/upgrades/v24/constants.go
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
  proto/osmosis/txfees/v1beta1/genesis.proto
  proto/osmosis/txfees/v1beta1/params.proto
  proto/osmosis/txfees/v1beta1/tx.proto
  x/txfees/client/cli/query.go
  x/txfees/keeper/feetokens.go
  x/txfees/keeper/feetokens_test.go
  x/txfees/keeper/genesis.go
  x/txfees/keeper/genesis_test.go
  x/txfees/keeper/keeper.go
  x/txfees/keeper/msg_server.go
  x/txfees/module.go
  x/txfees/types/codec.go
  x/txfees/types/errors.go
  x/txfees/types/genesis.go
  x/txfees/types/genesis.pb.go
  x/txfees/types/msgs.go
  x/txfees/types/msgs_test.go
  x/txfees/types/params.go
  x/txfees/types/params.pb.go
  x/txfees/types/tx.pb.go
Labels: C:CLI, C:x/txfees, C:app-wiring, V:state/breaking, A:backport/v24.x

#7882 feat: Get and check confirmations required for transfers
  tests/mocks/bridge_query_service.go
  x/bridge/observer/bitcoin/bitcoin.go
  x/bridge/observer/bitcoin/bitcoin_test.go
  x/bridge/observer/chain.go
  x/bridge/observer/observer.go
  x/bridge/observer/observer_test.go
  x/bridge/observer/osmosis/client.go
  x/bridge/observer/osmosis/client_test.go
  x/bridge/observer/osmosis/osmosis.go
  x/bridge/observer/osmosis/osmosis_test.go
  x/bridge/types/constants.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#7677 feat(x/incentives): Remove 1day 7day Lock Duration
  CHANGELOG.md
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
Labels: C:x/pool-incentives, C:x/superfluid, C:app-wiring, V:state/breaking, A:backport/v24.x

#7898 feat x/bridge: updated TSS.md
  x/bridge/TSS.md
Labels: C:docs, V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#7902 Speedup go test Reset logic
  app/app.go
  app/apptesting/concentrated_liquidity.go
  app/apptesting/test_suite.go
  app/genesis.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#7912 chore: default TimeoutCommit to 2s
  CHANGELOG.md
  cmd/osmosisd/cmd/init.go
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v24.x

#7917 CI: Better cache testing genesis state
  app/test_helpers.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#7919 CI: shaves off .5s from ibc tests locally
  app/modules.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#7885 WIP: Better docs
  x/authenticator/README.md
  x/authenticator/images/authentication_flow.jpg
  x/authenticator/images/authenticator_manager.jpg
  x/authenticator/images/circuit_breaker.jpg
  x/authenticator/images/keeper.jpg
Labels: C:docs

#7922 Lower the number of random tries we do on the sumtree.
  osmoutils/sumtree/tree_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#7921 Remove SetupTest from the randomized TWAP hotloop
  x/twap/api_test.go
  x/twap/keeper_test.go
  x/twap/listeners_test.go
Labels: C:x/twap

#7928 Reduce the superfluid CI migration fuzz testing
  x/lockup/keeper/gas_test.go
  x/superfluid/keeper/migrate_test.go
Labels: C:x/lockup, C:x/superfluid

#7920 Speedup gamm balancer tests
  x/gamm/keeper/gas_test.go
Labels: C:x/gamm

#7931 Disable v16 and v17 upgrade tests
  app/upgrades/v16/upgrades_test.go
  app/upgrades/v17/upgrades_test.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#7930 Significantly speedup protorev tests.
  x/protorev/keeper/developer_fees_test.go
  x/protorev/keeper/epoch_hook_test.go
  x/protorev/keeper/grpc_query_test.go
  x/protorev/keeper/hooks_test.go
  x/protorev/keeper/keeper_test.go
  x/protorev/keeper/posthandler_test.go
  x/protorev/keeper/protorev_test.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/keeper/routes_test.go
Labels: A:automerge

#7938 fix: missing swap event for cw pool
  CHANGELOG.md
  x/concentrated-liquidity/swaps.go
  x/cosmwasmpool/pool_module.go
  x/gamm/keeper/swap.go
  x/poolmanager/events/emit.go
Labels: C:x/gamm, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager, A:backport/v24.x

#7929 feat: CI job to auto replace assetlists at some interval
  .github/workflows/update-asset-lists.yml
  scripts/update_asset_lists.sh
Labels: T:CI, T:build, V:state/compatible/no_backport, A:no-changelog

#7943 feat: Verify transfer addresses in Observer
  x/bridge/observer/bitcoin/bitcoin.go
  x/bridge/observer/bitcoin/bitcoin_test.go
  x/bridge/observer/bitcoin/test_responses/block_verbose_tx.json
  x/bridge/observer/osmosis/osmosis.go
  x/bridge/observer/osmosis/osmosis_test.go
  x/bridge/observer/osmosis/test_events/new_block.json
  x/bridge/observer/osmosis/test_events/tx_check_error.json
Labels: V:state/compatible/no_backport, A:no-changelog, A:backport/v24.x

#7951 chore: add back scaling factor choice
  CHANGELOG.md
  app/upgrades/v23/constants.go
  app/upgrades/v23/upgrades.go
  app/upgrades/v23/upgrades_test.go
  app/upgrades/v24/constants.go
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/types/migration.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:backport/v24.x

#7966 fix: update all migrated whitewhale contracts to code id 641
  CHANGELOG.md
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
Labels: C:app-wiring, V:state/breaking, A:backport/v24.x

#7970 chore: update go mods
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v23.x, A:backport/v24.x

#7972 chore: add v24 release notes
  networks/osmosis-1/upgrades/v24/mainnet/guide.md
  networks/osmosis-1/upgrades/v24/mainnet/v24_binaries.json
  scripts/release/create_binaries_json/create_all_binaries_json.sh
Labels: V:state/compatible/no_backport, A:no-changelog

#7955 feat: Observer min transfer amount
  x/bridge/observer/bitcoin/bitcoin.go
  x/bridge/observer/bitcoin/bitcoin_test.go
  x/bridge/observer/bitcoin/test_responses/block_verbose_tx.json
  x/bridge/observer/chain.go
  x/bridge/observer/osmosis/osmosis.go
  x/bridge/observer/osmosis/osmosis_test.go
  x/bridge/observer/osmosis/test_events/new_block.json
Labels: V:state/compatible/no_backport, A:no-changelog, A:backport/v24.x

#7987 added soft-forked-ibc for ASA-2024-007
  go.mod
  go.sum
Labels: V:state/compatible/backport

#7988 chore: adding v23.0.11 changelog
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v23.x

#7952 feat(SQS): ADR-006 stage 2 - GRPC ingest
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  ingest/sqs/domain/ingester.go
  ingest/sqs/domain/telemetry.go
  ingest/sqs/ingester.go
  ingest/sqs/pools/transformer/export_test.go
  ingest/sqs/pools/transformer/pool_transformer.go
  ingest/sqs/pools/transformer/pool_transformer_test.go
  ingest/sqs/pools/transformer/taker_fee.go
  ingest/sqs/pools/transformer/taker_fee_test.go
  ingest/sqs/service/grpc_client.go
  ingest/sqs/service/sqs_streaming_service.go
  ingest/sqs/sqs_config.go
  x/epochs/go.sum
Labels: C:x/epochs, A:automerge, V:state/compatible/backport, A:no-changelog, A:backport/v23.x, A:backport/v24.x

#7995 chore: push docker dev images on iavl-v1
  .github/workflows/push-dev-docker-images.yml
Labels: T:CI, V:state/compatible/backport, A:backport/v23.x

#7998 [Smart Account] Pass fee to authenticator
  x/authenticator/ante/ante.go
  x/authenticator/authenticator/all_of.go
  x/authenticator/authenticator/any_of.go
  x/authenticator/authenticator/authentication_data.go
  x/authenticator/authenticator/composite.go
  x/authenticator/authenticator/composition_test.go
  x/authenticator/authenticator/cosmwasm.go
  x/authenticator/authenticator/cosmwasm_test.go
  x/authenticator/authenticator/iface.go
  x/authenticator/authenticator/manager_test.go
  x/authenticator/authenticator/message_filter.go
  x/authenticator/authenticator/message_filter_test.go
  x/authenticator/authenticator/requests.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/signature_authenticator_test.go
  x/authenticator/post/post.go
  x/authenticator/testutils/bytecode/echo.wasm
  x/authenticator/testutils/contracts/echo/Cargo.lock
  x/authenticator/testutils/contracts/echo/Cargo.toml
  x/authenticator/testutils/generic_authenticator.go
  x/authenticator/testutils/max_value_authenticator.go
  x/authenticator/testutils/spy_authenticator.go
  x/authenticator/testutils/stateful_authenticator.go
Labels: C:docs, C:CLI, C:app-wiring, C:simulator

#7994 chore: bump sdk/iavl for async pruning
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v23.x, A:backport/v24.x

#8005 Address a taker fee todo
  x/poolmanager/taker_fee.go
Labels: V:state/breaking, C:x/poolmanager, A:no-changelog

#8006 BigDec operation speedups
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/decimal.go
  osmomath/decimal_bench_test.go
  osmomath/decimal_test.go
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/gamm/pool-models/stableswap/amm.go
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/gamm, C:x/epochs, V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v23.x, A:backport/v24.x

#8008 Delete BigDec.MaxSortableBytes
  osmomath/decimal.go
  osmomath/decimal_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#8009 additional context for fee on 'create-pool'
  x/gamm/README.md
Labels: C:docs, C:x/gamm

#8017 feat: push all CW pools into SQS each block
  ingest/sqs/ingester.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#8003 chore: remove dead code
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#7795 chore: node init auto fetches mainnet genesis, new config/app defaults
  cmd/osmosisd/cmd/init.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v23.x, A:backport/v24.x

#8014 Speedup quo round up, start CL speedup integration
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/decimal.go
  osmomath/decimal_test.go
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/spread_rewards.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v23.x, A:backport/v24.x

#8033 Delete TWAP deprecated pruning handler
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
  app/upgrades/v25/upgrades.go
  x/twap/logic.go
  x/twap/store.go
  x/twap/types/keys.go
Labels: C:app-wiring, C:x/twap, V:state/breaking, A:no-changelog

#8030 Delete some legacy code for delaying when lockup unbonds are possible
  CHANGELOG.md
  x/lockup/abci.go
Labels: C:x/lockup, V:state/compatible/backport, A:backport/v24.x

#8037 Roman/backport dev math speed up v24
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/decimal.go
  osmomath/decimal_bench_test.go
  osmomath/decimal_test.go
  osmomath/go.mod
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/math_test.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/swaps_tick_cross_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/spread_rewards.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/epochs/go.mod
  x/gamm/pool-models/stableswap/amm.go
  x/ibc-hooks/go.mod
Labels: C:x/gamm, C:x/epochs, C:x/concentrated-liquidity

#8049 More restrictive Circuit Breaker Auth
  app/ante.go
  app/app.go
  app/keepers/keepers.go
  app/keepers/modules.go
  app/modules.go
  app/posthandler.go
  app/upgrades/v25/constants.go
  app/upgrades/v25/upgrades.go
  tests/osmosisibctesting/chain.go
  x/smart-account/ante/ante.go
  x/smart-account/ante/ante_test.go
  x/smart-account/ante/circuit_breaker.go
  x/smart-account/ante/circuit_breaker_test.go
  x/smart-account/ante/limit_fee_payer_test.go
  x/smart-account/authenticator/base_test.go
  x/smart-account/authenticator/composition_test.go
  x/smart-account/authenticator/spend_limits_test.go
  x/smart-account/integration_test.go
  x/smart-account/keeper/genesis_test.go
  x/smart-account/keeper/keeper.go
  x/smart-account/keeper/keeper_test.go
  x/smart-account/keeper/msg_server.go
  x/smart-account/keeper/msg_server_test.go
  x/smart-account/post/post.go
  x/smart-account/post/post_test.go
Labels: C:docs, C:CLI, C:app-wiring, C:simulator, V:state/compatible/no_backport, A:no-changelog

#8051 fix: nil pointer issue on `osmosisd init` non mainnet chain id
  cmd/osmosisd/cmd/init.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#8039 Speedup DecRoundUp
  osmomath/decimal.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#8040 Remove duplicated one minus spread factor calculations
  x/concentrated-liquidity/swapstrategy/export_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/spread_rewards.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v24.x

#8069 Constant fold some tests
  x/concentrated-liquidity/swapstrategy/one_for_zero_test.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v24.x

#8048 chore: update protorev hook get module name fn to return proto rev
  x/protorev/keeper/hooks.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#8060 Remove one multiplication from sqrt
  osmomath/sqrt.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v24.x

#8078 chore: update osmomath dep
  go.mod
  go.sum
Labels: V:state/compatible/no_backport, A:no-changelog

#8075 Speedup CL pool key formatting
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/keys_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v24.x

#8029 remove logs
  go.mod
  go.sum
  osmoutils/ibc.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#8088 Replace static genesis json usage to ipfs usage
  scripts/statesync.bash
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#8082 feat(SQS): ingest cwPools only when modified rather than every block
  app/app.go
  ingest/sqs/domain/ingester.go
  ingest/sqs/domain/mocks/sqs_ingester_mock.go
  ingest/sqs/domain/service.go
  ingest/sqs/ingester.go
  ingest/sqs/service/sqs_pool_tracker.go
  ingest/sqs/service/sqs_streaming_service.go
  ingest/sqs/service/writelistener/cosmwasmpool_write_listener.go
  ingest/sqs/service/writelistener/cosmwasmpool_write_listener_test.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#8103 fix: regen go mods
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/breaking, A:no-changelog

#8053 fix: reset validator signing info missed blocks counter
  CHANGELOG.md
  app/upgrades/v25/upgrades.go
  app/upgrades/v25/upgrades_test.go
Labels: C:app-wiring, V:state/breaking

#8105 small readme improvements for smart accounts
  x/smart-account/README.md
Labels: C:docs

#8107 [SmartAccounts] fix: move fee payer validation into ante
  app/ante.go
  x/smart-account/ante/ante.go
  x/smart-account/ante/limit_fee_payer.go
  x/smart-account/ante/limit_fee_payer_test.go
Labels: C:app-wiring, V:state/breaking, A:no-changelog

#8111 chore: rename AuthenticatorStoreKey from smart-account module
  app/keepers/keepers.go
  app/upgrades/v25/constants.go
  x/smart-account/authenticator/composition_test.go
  x/smart-account/integration_test.go
  x/smart-account/keeper/keeper.go
  x/smart-account/types/keys.go
Labels: C:app-wiring, V:state/breaking, A:no-changelog

#8114 [SmartAccounts] fix: don't limit authenticators. There's no top level iteration anymore
  x/smart-account/keeper/msg_server.go
Labels: V:state/breaking, A:no-changelog

#8115 [SmartAccounts] chore: using interfaces
  app/keepers/keepers.go
  x/smart-account/ante/ante.go
  x/smart-account/authenticator/authentication_data.go
  x/smart-account/authenticator/cosmwasm.go
  x/smart-account/authenticator/cosmwasm_test.go
  x/smart-account/authenticator/signature_authenticator.go
  x/smart-account/authenticator/spend_limits_test.go
  x/smart-account/types/expected_keepers.go
Labels: C:app-wiring, V:state/breaking, A:no-changelog

#8061 CL: Speedup TickToPrice by only doing one bigint operation
  x/concentrated-liquidity/math/tick.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v24.x

#8106 fix: run proto disto on epoch
  CHANGELOG.md
  x/protorev/keeper/epoch_hook.go
  x/protorev/keeper/epoch_hook_test.go
  x/protorev/keeper/hooks.go
  x/protorev/keeper/hooks_test.go
  x/protorev/keeper/rebalance_test.go
Labels: V:state/breaking

#8127 fix: update the e2e ante handle
  app/ante_no_seq.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#8125 [SmartAccounts] Direct Fee Deduction
  CHANGELOG.md
  app/ante.go
  app/ante_no_seq.go
  x/smart-account/ante/ante.go
  x/smart-account/ante/ante_test.go
  x/smart-account/ante/pubkey.go
  x/smart-account/ante/pubkey_test.go
  x/smart-account/authenticator/authentication_data.go
  x/smart-account/authenticator/base_test.go
  x/smart-account/authenticator/spend_limits_test.go
  x/smart-account/integration_test.go
Labels: C:app-wiring, V:state/breaking

#8118 fix: config.toml and app.toml overwrites
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v24.x

#8131 feat: overwrite min-gas-prices to combat empty blocks
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v24.x

#8134 chore: bump comet fork
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v24.x

#8144 Add stargate and abort capabilities to ibc wasm client
  CHANGELOG.md
  app/app.go
Labels: C:app-wiring, V:state/breaking

#8073 perf!: Simplify the spread factor calculation
  CHANGELOG.md
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/swapstrategy/export_test.go
  x/concentrated-liquidity/swapstrategy/one_for_zero.go
  x/concentrated-liquidity/swapstrategy/spread_rewards.go
  x/concentrated-liquidity/swapstrategy/zero_for_one.go
  x/concentrated-liquidity/swapstrategy/zero_for_one_test.go
Labels: T:performance, V:state/breaking, C:x/concentrated-liquidity

#8142 [SmartAccount] Get authenticator query
  CHANGELOG.md
  proto/osmosis/smartaccount/v1beta1/query.proto
  wasmbinding/stargate_whitelist.go
  x/smart-account/keeper/query.go
  x/smart-account/types/query.pb.go
  x/smart-account/types/query.pb.gw.go
Labels: V:state/compatible/no_backport

#8143 [SmartAccounts] User better names
  app/ante.go
  app/keepers/keepers.go
  proto/osmosis/smartaccount/v1beta1/genesis.proto
  proto/osmosis/smartaccount/v1beta1/models.proto
  x/smart-account/README.md
  x/smart-account/ante/ante_test.go
  x/smart-account/authenticator/all_of.go
  x/smart-account/authenticator/any_of.go
  x/smart-account/authenticator/base_test.go
  x/smart-account/authenticator/composite.go
  x/smart-account/authenticator/composition_test.go
  x/smart-account/authenticator/cosmwasm.go
  x/smart-account/authenticator/iface.go
  x/smart-account/authenticator/manager_test.go
  x/smart-account/authenticator/message_filter.go
  x/smart-account/authenticator/message_filter_test.go
  x/smart-account/authenticator/signature_authenticator.go
  x/smart-account/authenticator/signature_authenticator_test.go
  x/smart-account/genesis.go
  x/smart-account/integration_test.go
  x/smart-account/keeper/genesis.go
  x/smart-account/keeper/genesis_test.go
  x/smart-account/keeper/keeper.go
  x/smart-account/keeper/keeper_test.go
  x/smart-account/keeper/msg_server_test.go
  x/smart-account/post/post_test.go
  x/smart-account/testutils/generic_authenticator.go
  x/smart-account/testutils/max_value_authenticator.go
  x/smart-account/testutils/spy_authenticator.go
  x/smart-account/testutils/stateful_authenticator.go
  x/smart-account/types/genesis.pb.go
  x/smart-account/types/models.pb.go
Labels: C:docs, C:app-wiring, V:state/breaking, A:no-changelog

#8136 fix: check denom routes at time of gauge creation
  CHANGELOG.md
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
  x/incentives/keeper/gauge.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/genesis_test.go
  x/incentives/keeper/msg_server_test.go
  x/incentives/keeper/suite_test.go
  x/incentives/types/errors.go
  x/pool-incentives/keeper/distr_test.go
  x/pool-incentives/keeper/genesis_test.go
  x/pool-incentives/keeper/grpc_query_test.go
  x/superfluid/keeper/epoch_test.go
  x/superfluid/keeper/hooks_test.go
Labels: C:x/lockup, C:CLI, C:x/gamm, C:x/mint, C:x/incentives, C:x/pool-incentives, C:x/superfluid, C:x/txfees, C:app-wiring, C:x/tokenfactory, C:simulator, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#8149 chore: default timeout commit to 1.5s
  CHANGELOG.md
  cmd/osmosisd/cmd/init.go
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v24.x

#7876 fix: migrate subset of spread reward accums
  CHANGELOG.md
  app/apptesting/concentrated_liquidity.go
  app/keepers/keepers.go
  app/upgrades/v23/upgrades.go
  app/upgrades/v24/upgrades.go
  app/upgrades/v25/upgrades.go
  app/upgrades/v25/upgrades_test.go
  proto/osmosis/concentratedliquidity/v1beta1/genesis.proto
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/spread_rewards.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/swaps_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/genesis/genesis.go
  x/concentrated-liquidity/types/genesis/genesis.pb.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/migration.go
  x/tokenfactory/keeper/bankactions.go
  x/tokenfactory/keeper/keeper.go
  x/tokenfactory/keeper/msg_server_test.go
Labels: T:build, C:app-wiring, C:x/tokenfactory, V:state/breaking, C:x/concentrated-liquidity

#8058 feat: top of block auction and block-sdk integration
  CHANGELOG.md
  app/ante.go
  app/ante_no_seq.go
  app/app.go
  app/keepers/keepers.go
  app/keepers/modules.go
  app/lanes.go
  app/modules.go
  app/upgrades/v25/constants.go
  app/upgrades/v25/upgrades.go
  app/upgrades/v25/upgrades_test.go
  go.mod
  go.sum
  go.work
  osmoutils/go.mod
Labels: C:app-wiring, V:state/breaking

#8147 Don't check for expired locks every single blcok
  CHANGELOG.md
  x/lockup/abci.go
Labels: C:x/lockup, V:state/breaking

#8151 chore: add v25.x backport tag to mergify github action
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#8128 Try out making a read cache for poolmanager pool modules
  CHANGELOG.md
  app/apptesting/test_suite.go
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  osmoutils/store_helper.go
  osmoutils/store_helper_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/poolmanager/create_pool.go
  x/poolmanager/export_test.go
  x/poolmanager/keeper.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
Labels: C:x/epochs, C:app-wiring, V:state/compatible/backport, C:x/poolmanager, A:backport/v24.x, A:backport/v25.x

#8159 perf: Don't keep refetching params in epoch
  x/incentives/keeper/distribute.go
Labels: C:x/incentives, V:state/compatible/backport, A:no-changelog, A:backport/v24.x, A:backport/v25.x

#8157 Speedup protorev by having route calculation phase not unmarshal pools
  CHANGELOG.md
  x/concentrated-liquidity/pool.go
  x/poolmanager/create_pool.go
  x/poolmanager/router_test.go
  x/protorev/keeper/routes.go
  x/protorev/keeper/statistics.go
  x/protorev/types/expected_keepers.go
Labels: V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager, A:backport/v25.x

#8162 chore: Create CI for bumping sdk version via GA
  .github/workflows/update-sdk-version.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#8170 fix: return err if type not in manager
  x/smart-account/authenticator/composite.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x
