Repository osmosis-labs/osmosis, pull requests merged in 2024-02, with the labels that each got.

#7395 test/feat: incentive accumulator truncation
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/types/events.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v22.x

#7385 Add missing interface to `osmosis.incentives.CreateGroupsProposal` protobuf
  CHANGELOG.md
  proto/osmosis/incentives/gov.proto
  x/incentives/types/gov.pb.go
Labels: C:x/incentives, V:state/breaking

#7357 Ensure rate limits are not applied to packets that aren't ics20s
  CHANGELOG.md
  x/ibc-rate-limit/ibc_middleware_test.go
  x/ibc-rate-limit/ics4_wrapper.go
Labels: V:state/breaking

#7401 chore: add changelog for v22.0.2
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v22.x

#7266 Remove using an iterator from updating TWAP records
  CHANGELOG.md
  x/twap/logic.go
  x/twap/store.go
  x/twap/store_test.go
  x/twap/types/keys.go
Labels: C:x/twap, V:state/compatible/backport, A:backport/v21.x, A:backport/v22.x

#7405 chore: remove event
  CHANGELOG.md
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v22.x

#7400 Update IBC to emit errors as events
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  tests/ibc-hooks/ibc_middleware_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/no_backport

#7408 feat: telemetry for spread factor truncation
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/types/events.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v22.x

#7398 chore(protorev): change error log to debug
  x/protorev/keeper/rebalance.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v22.x

#7411 De-duplicate fetching intermediate accounts
  x/incentives/keeper/distribute.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/epoch_test.go
  x/superfluid/keeper/hooks.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
Labels: C:x/incentives, C:x/superfluid, V:state/compatible/backport, A:no-changelog, A:backport/v22.x

#7418 [Uptime Incentives]: Create gov param for internal incentive & group gauge uptime
  app/upgrades/v23/upgrades.go
  proto/osmosis/incentives/params.proto
  x/incentives/keeper/genesis_test.go
  x/incentives/types/genesis.go
  x/incentives/types/params.go
  x/incentives/types/params.pb.go
Labels: C:x/incentives, C:app-wiring, V:state/breaking, A:no-changelog

#7414 perf: Remove unneeded balance fetch in superfluid distribution
  x/superfluid/keeper/epoch.go
Labels: C:x/superfluid, V:state/breaking, A:no-changelog

#7421 Fix nil contractKeeper for CosmWasm authenticator
  app/keepers/keepers.go
Labels: C:app-wiring

#7415 Speedup TWAP pruning logic
  x/twap/store.go
  x/twap/types/keys.go
Labels: C:x/twap, V:state/compatible/backport, A:no-changelog, A:backport/v22.x

#7374 feat: in-place testnet creator
  CHANGELOG.md
  app/app.go
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, C:app-wiring, V:state/compatible/backport, A:backport/v22.x

#7425 chore: v22.0.5 changelog
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v22.x

#7417 [Uptime Incentives]: Use gauge duration as uptime with appropriate validation and fallback
  CHANGELOG.md
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
Labels: C:x/incentives, V:state/breaking

#7419 [Uptime Incentives]: Incorporate gov param in distribution logic
  CHANGELOG.md
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
Labels: C:x/incentives, V:state/breaking

#7420 [Uptime Incentives]: Add test cases that demonstrate proper handling of existing inconsistent `NoLock` gauge state
  x/incentives/keeper/distribute_test.go
Labels: C:x/incentives, V:state/compatible/no_backport, A:no-changelog

#7409 feat: scaling factor for pool uptime accumulator to avoid truncation
  CHANGELOG.md
  app/apptesting/test_suite.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/tick_test.go
  x/concentrated-liquidity/types/errors.go
  x/concentrated-liquidity/types/events.go
Labels: C:app-wiring, V:state/breaking, C:x/concentrated-liquidity

#7436 perf: Move an overflow check out of hot loop
  x/incentives/keeper/distribute.go
  x/lockup/types/lock.go
Labels: C:x/lockup, C:x/incentives, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7427 feat(twap): prune records over multiple blocks
  CHANGELOG.md
  proto/osmosis/twap/v1beta1/twap_record.proto
  x/twap/export_test.go
  x/twap/keeper.go
  x/twap/listeners.go
  x/twap/listeners_test.go
  x/twap/logic.go
  x/twap/logic_test.go
  x/twap/store.go
  x/twap/store_test.go
  x/twap/types/keys.go
  x/twap/types/twap_record.pb.go
Labels: C:x/twap, V:state/breaking, A:backport/v23.x

#7439 chore: custom v23 upgrade logic for testnet, introduce edgenet
  app/upgrades/v23/upgrades.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7437 feat/fix: add more pools to migrate, fix key parsing bug, add more logs
  app/upgrades/v23/upgrades.go
  proto/osmosis/concentratedliquidity/v1beta1/query.proto
  proto/osmosis/concentratedliquidity/v1beta1/query.yml
  x/concentrated-liquidity/client/grpc/grpc_query.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/migration.go
Labels: C:CLI, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog, A:backport/v23.x

#7416 feat: incentive accumulator migration
  app/upgrades/v23/upgrades.go
  app/upgrades/v23/upgrades_test.go
  go.mod
  go.sum
  osmoutils/accum/accum.go
  proto/osmosis/concentratedliquidity/v1beta1/genesis.proto
  proto/osmosis/concentratedliquidity/v1beta1/query.proto
  proto/osmosis/concentratedliquidity/v1beta1/query.yml
  x/concentrated-liquidity/client/grpc/grpc_query.go
  x/concentrated-liquidity/client/query_proto_wrap.go
  x/concentrated-liquidity/client/queryproto/query.pb.go
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/genesis.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/pool_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/types/genesis/genesis.go
  x/concentrated-liquidity/types/genesis/genesis.pb.go
  x/concentrated-liquidity/types/keys.go
  x/concentrated-liquidity/types/migration.go
Labels: C:CLI, A:automerge, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog, A:backport/v23.x

#7363 Remove circular dependencies
  osmoutils/go.mod
  osmoutils/go.sum
  osmoutils/osmocli/dynamic_test.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/epochs/keeper/keeper_test.go
Labels: T:CI, C:x/epochs, V:state/compatible/no_backport

#7431 chore: fix import paths and deps
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/twap/store.go
Labels: C:x/epochs, C:x/twap, V:state/breaking, A:no-changelog

#7434 Add buildjet runners
  .github/workflows/check-state-compatibility.yml
  .github/workflows/e2e-full.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog, A:backport/v23.x

#7455 chore: update sdk fork
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/breaking, A:no-changelog, A:backport/v23.x

#7457 New wasm bytecode after minor version bumps on rust deps.
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
  tests/ibc-hooks/bytecode/swaprouter.wasm
Labels: A:backport/v23.x

#7250 Distribution, expand the ignored distributios set
  CHANGELOG.md
  x/incentives/keeper/distribute.go
  x/incentives/keeper/distribute_test.go
  x/incentives/keeper/export_test.go
Labels: C:x/incentives, V:state/breaking

#7464 feat(sqs): skip panics or errors in sqs pool ingest; skip whitewhate code id
  ingest/sqs/pools/ingester/pool_ingester.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7462 chore: v23 changelog
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v23.x

#7459 chore: add back parallel e2e
  tests/e2e/e2e_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7454 fix: remove all vals from testnet state
  app/app.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7473 fix: e2e init genesis default values for uptime incentives
  tests/e2e/initialization/config.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7476 chore: tag comet fork for v23
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/breaking, A:no-changelog, A:backport/v23.x

#7479 [fix]: Fix gauge CLI and `ValidateBasic` to work with uptimes
  x/incentives/client/cli/tx.go
  x/incentives/types/msgs.go
Labels: C:CLI, C:x/incentives, V:state/breaking, A:no-changelog, A:backport/v23.x

#7481 [fix]: Remove broken ValidateBasic test
  x/incentives/types/msgs_test.go
Labels: C:x/incentives, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7483 ci: add docker authentication
  .github/workflows/test.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7484 Feat/add more buildjet runners
  .github/workflows/check-state-compatibility.yml
  .github/workflows/push-dev-docker-images.yml
  .github/workflows/push-docker-images.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7487 fix: upgrades for in-place testnet
  app/app.go
Labels: V:state/compatible/no_backport, A:no-changelog, A:backport/v23.x

#7388 [Smart Accounts] Refactor
  app/ante.go
  app/app.go
  app/posthandler.go
  tests/osmosisibctesting/chain.go
  x/authenticator/README.md
  x/authenticator/ante/ante.go
  x/authenticator/ante/ante_test.go
  x/authenticator/authenticator/all_of.go
  x/authenticator/authenticator/any_of.go
  x/authenticator/authenticator/base_test.go
  x/authenticator/authenticator/composition_test.go
  x/authenticator/authenticator/cosmwasm.go
  x/authenticator/authenticator/cosmwasm_test.go
  x/authenticator/authenticator/message_filter.go
  x/authenticator/authenticator/message_filter_test.go
  x/authenticator/authenticator/passkey.go
  x/authenticator/authenticator/passkey_test.go
  x/authenticator/authenticator/requests.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/signature_authenticator_test.go
  x/authenticator/authenticator/spend_limits.go
  x/authenticator/authenticator/spend_limits_test.go
  x/authenticator/authenticator/util.go
  x/authenticator/iface/iface.go
  x/authenticator/integration_test.go
  x/authenticator/keeper/keeper.go
  x/authenticator/post/post.go
  x/authenticator/testutils/bytecode/cosigner_authenticator.wasm
  x/authenticator/testutils/bytecode/echo.wasm
  x/authenticator/testutils/contracts/echo/Cargo.lock
  x/authenticator/testutils/contracts/echo/Cargo.toml
  x/authenticator/testutils/contracts/echo/src/lib.rs
  x/authenticator/testutils/generic_authenticator.go
  x/authenticator/testutils/max_value_authenticator.go
  x/authenticator/testutils/stateful_authenticator.go
  x/authenticator/types/account_authenticators.go
  x/authenticator/types/account_authenticators_test.go
  x/authenticator/utils/track.go
Labels: C:docs, C:app-wiring

#7492 Add v23 release notes
  networks/osmosis-1/upgrades/v23/mainnet/guide.md
  networks/osmosis-1/upgrades/v23/mainnet/v23_binaries.json
  scripts/release/create_binaries_json/create_all_binaries_json.sh
Labels: V:state/compatible/no_backport, A:no-changelog

#7498 Minor protorev allocation speedup
  x/protorev/keeper/rebalance.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7502 Paddy/fix/remove authz
  app/app.go
  app/keepers/authz.go
  app/keepers/keepers.go
  app/modules.go
  x/authenticator/authenticator/cosmwasm.go
  x/authenticator/authenticator/cosmwasm_test.go
  x/authenticator/authenticator/message_filter_test.go
  x/authenticator/authenticator/util.go
  x/authenticator/iface/iface.go
  x/authenticator/integration_test.go
  x/authenticator/testutils/bytecode/echo.wasm
  x/authenticator/testutils/contracts/echo/Cargo.lock
  x/authenticator/testutils/contracts/echo/Cargo.toml
  x/authenticator/testutils/contracts/echo/src/lib.rs
  x/authenticator/testutils/max_value_authenticator.go
Labels: C:app-wiring

#7497 [performance]: Better key formatting in taker fee
  x/poolmanager/taker_fee.go
  x/poolmanager/types/keys.go
Labels: V:state/compatible/backport, C:x/poolmanager, A:no-changelog, A:backport/v22.x, A:backport/v23.x

#7496 [perf]: Stop double-unmarshalling pools in protorev route building
  x/protorev/keeper/routes.go
Labels: V:state/breaking, A:no-changelog

#7494 feat(observability): telemetry counters for incentives and sqs
  ingest/sqs/pools/ingester/pool_ingester.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/types/events.go
  x/concentrated-liquidity/types/telemetry.go
  x/incentives/keeper/distribute.go
  x/incentives/types/telemetry.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/types/telemetry.go
Labels: C:x/incentives, C:x/pool-incentives, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v23.x

#7499 Remove iterator calls in two CL operations
  CHANGELOG.md
  x/concentrated-liquidity/lp.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#7507 chore: add snapshot and pruning cli
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7472 feat: twap key refactor
  CHANGELOG.md
  Makefile
  app/upgrades/v17/upgrades_test.go
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
  proto/osmosis/twap/v1beta1/twap_record.proto
  x/twap/README.md
  x/twap/keeper.go
  x/twap/keeper_test.go
  x/twap/listeners.go
  x/twap/listeners_test.go
  x/twap/store.go
  x/twap/store_test.go
  x/twap/types/expected_interfaces.go
  x/twap/types/keys.go
  x/twap/types/keys_test.go
  x/twap/types/twap_record.pb.go
  x/twap/types/twapmock/amminterface.go
Labels: C:docs, T:build, C:app-wiring, C:x/twap, V:state/breaking

#7517 Delete code slated for removal
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
  x/protorev/keeper/developer_fees.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#7341 fix `ListPoolsByDenom` method
  CHANGELOG.md
  x/poolmanager/router.go
  x/poolmanager/router_test.go
Labels: V:state/breaking, C:x/poolmanager

#7475 [Fix] CosmWasm Authenticator missing state
  app/keepers/keepers.go
  x/authenticator/authenticator/cosmwasm.go
  x/authenticator/authenticator/cosmwasm_test.go
  x/authenticator/authenticator/manager.go
  x/authenticator/keeper/keeper.go
  x/authenticator/post/post.go
Labels: C:app-wiring

#7541 Use some more mutative operations in uptime accumulator operations
  x/concentrated-liquidity/incentives.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v23.x

#7539 Speedup CL: TickToPrice
  osmomath/decimal.go
  x/concentrated-liquidity/math/tick.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v22.x, A:backport/v23.x

#7535 Minor state compatible speedups to txfees
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feetokens.go
Labels: C:x/txfees, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7538 Minor bigdec speedups
  osmomath/decimal.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7554 Constant fold NewDec calls in CL query tests
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/position_test.go
  x/concentrated-liquidity/query_test.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v23.x

#7560 chore: update message filter to use latest auth data
  app/keepers/keepers.go
  x/authenticator/authenticator/message_filter.go
  x/authenticator/authenticator/message_filter_test.go
  x/authenticator/integration_test.go
Labels: C:app-wiring

#7563 fix: superfluid error log suppression
  x/superfluid/keeper/epoch.go
Labels: C:x/superfluid, V:state/compatible/backport, A:backport/v22.x

#7562 perf: Remove TakerFee from protorev estimation
  CHANGELOG.md
  x/poolmanager/router.go
  x/protorev/keeper/rebalance.go
  x/protorev/types/expected_keepers.go
Labels: V:state/breaking, C:x/poolmanager

#7508 perf(protorev): base denom as param
  CHANGELOG.md
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
  proto/osmosis/protorev/v1beta1/genesis.proto
  proto/osmosis/protorev/v1beta1/protorev.proto
  x/protorev/keeper/msg_server.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/protorev_test.go
  x/protorev/types/genesis.pb.go
  x/protorev/types/keys.go
  x/protorev/types/protorev.pb.go
Labels: C:x/txfees, C:app-wiring, V:state/breaking

#7515 feat/refactor/docs(observability): epoch hook, txfees epoch, existing metric clean up
  go.mod
  go.sum
  osmoutils/observability/helpers.go
  x/concentrated-liquidity/incentives.go
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/telemetry.go
  x/concentrated-liquidity/types/telemetry.go
  x/epochs/types/hooks.go
  x/epochs/types/hooks_test.go
  x/epochs/types/telemetry.go
  x/incentives/keeper/distribute.go
  x/incentives/keeper/hooks.go
  x/incentives/types/telemetry.go
  x/mint/keeper/hooks.go
  x/pool-incentives/keeper/keeper.go
  x/pool-incentives/types/telemetry.go
  x/protorev/keeper/epoch_hook.go
  x/superfluid/keeper/hooks.go
  x/twap/listeners.go
  x/txfees/keeper/hooks.go
  x/txfees/types/telemetry.go
Labels: C:x/mint, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/txfees, C:x/twap, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v23.x

#7565 chore: move JoinPoolNoSwap error log to debug
  x/gamm/keeper/pool_service.go
Labels: C:x/gamm, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7509 feat: Burning ProtoRev Profit
  CHANGELOG.md
  app/keepers/keepers.go
  x/protorev/keeper/developer_fees.go
  x/protorev/keeper/developer_fees_test.go
  x/protorev/keeper/keeper.go
  x/protorev/keeper/rebalance.go
  x/protorev/types/expected_keepers.go
  x/protorev/types/genesis_test.go
  x/protorev/types/params.go
Labels: C:app-wiring, V:state/breaking

#7569 feat: add upgrade handler for authenticator module
  app/upgrades/v21/upgrades.go
  app/upgrades/v24/constants.go
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
  x/authenticator/ante/pubkey.go
  x/authenticator/authenticator/authentication_data.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/post/post.go
Labels: C:app-wiring

#7550 Only fetch uptime accumulators on Tick Crossings
  CHANGELOG.md
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/swaps.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#7572 chore: bump comet fork
  go.mod
  go.sum
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7573 Update sdkmath to a commit to check state compat
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v22.x, A:backport/v23.x

#7578 chore: add mergify for iavl v1 branch of v23.x
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#7579 chore: iavl v1 branch mergify
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#7581 Pass authenticator id to on add and remove hooks
  x/authenticator/authenticator/all_of.go
  x/authenticator/authenticator/any_of.go
  x/authenticator/authenticator/cosmwasm.go
  x/authenticator/authenticator/cosmwasm_test.go
  x/authenticator/authenticator/message_filter.go
  x/authenticator/authenticator/message_filter_test.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/spend_limits.go
  x/authenticator/iface/iface.go
  x/authenticator/keeper/genesis.go
  x/authenticator/keeper/keeper.go
  x/authenticator/testutils/bytecode/echo.wasm
  x/authenticator/testutils/contracts/build.sh
  x/authenticator/testutils/contracts/cosigner-authenticator/Cargo.lock
  x/authenticator/testutils/contracts/cosigner-authenticator/Cargo.toml
  x/authenticator/testutils/contracts/echo/Cargo.lock
  x/authenticator/testutils/contracts/echo/Cargo.toml
  x/authenticator/testutils/contracts/echo/src/lib.rs
  x/authenticator/testutils/generic_authenticator.go
  x/authenticator/testutils/max_value_authenticator.go
  x/authenticator/testutils/stateful_authenticator.go
  x/authenticator/types/account_authenticators_test.go
  x/authenticator/types/codec.go
Labels: C:docs, C:CLI, C:app-wiring, C:simulator

#7571 feat: circuit breaker for smart accounts
  app/ante.go
  app/keepers/keepers.go
  app/posthandler.go
  app/upgrades/v24/upgrades.go
  proto/osmosis/authenticator/params.proto
  x/authenticator/ante/ante.go
  x/authenticator/ante/ante_test.go
  x/authenticator/integration_test.go
  x/authenticator/post/post.go
  x/authenticator/types/keys.go
  x/authenticator/types/params.go
  x/authenticator/types/params.pb.go
Labels: C:app-wiring

#7582 feat: iavl v1
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/accum/accum_test.go
  osmoutils/go.mod
  osmoutils/go.sum
  osmoutils/sumtree/legacy/v101/tree_test.go
  osmoutils/sumtree/tree_test.go
  osmoutils/wrapper/tmdb.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v23.x

#7587 fix: iavl grow
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/accum/accum_test.go
  osmoutils/go.mod
  osmoutils/go.sum
  osmoutils/sumtree/legacy/v101/tree_test.go
  osmoutils/sumtree/tree_test.go
  osmoutils/wrapper/tmdb.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v23.x

#7590 fix: cw pool migration prop
  CHANGELOG.md
  x/cosmwasmpool/client/cli/tx.go
Labels: C:CLI, V:state/compatible/backport, A:backport/v23.x

#7577 perf: Use SDK math v1.3.0 to speedup BigDec casts to/from Dec
  go.mod
  go.sum
  osmomath/decimal.go
  osmomath/decimal_test.go
  osmomath/rounding_direction.go
  osmomath/sqrt.go
  x/concentrated-liquidity/fuzz_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/lp_test.go
  x/concentrated-liquidity/math/math.go
  x/concentrated-liquidity/math/tick.go
  x/concentrated-liquidity/model/pool.go
  x/concentrated-liquidity/model/pool_test.go
  x/concentrated-liquidity/swapstrategy/swap_strategy.go
  x/gamm/pool-models/balancer/pool.go
  x/gamm/pool-models/stableswap/amm.go
  x/gamm/pool-models/stableswap/pool.go
Labels: C:x/gamm, V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v23.x

#7595 fix: cosmwasm pool model code ID migration
  CHANGELOG.md
  x/cosmwasmpool/gov.go
  x/cosmwasmpool/gov_test.go
  x/cosmwasmpool/model/store_model.go
  x/cosmwasmpool/types/pool.go
Labels: V:state/breaking

#7596 chore(deps): bump google.golang.org/grpc from 1.61.0 to 1.61.1 (#7531)
  go.mod
  go.sum
Labels: V:state/compatible/no_backport, A:no-changelog

#7555 feat: taker fee performance refactor
  CHANGELOG.md
  app/modules.go
  x/gamm/keeper/msg_server_test.go
  x/poolmanager/README.md
  x/poolmanager/msg_server_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
  x/poolmanager/taker_fee.go
  x/poolmanager/taker_fee_test.go
  x/protorev/keeper/grpc_query_test.go
  x/protorev/keeper/protorev_test.go
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
  x/txfees/keeper/hooks.go
  x/txfees/keeper/hooks_test.go
  x/txfees/types/expected_keepers.go
  x/txfees/types/keys.go
Labels: C:docs, C:x/gamm, C:x/txfees, C:app-wiring, V:state/breaking, C:x/poolmanager

#7598 Remove extra code path in TickToPrice
  x/concentrated-liquidity/math/tick.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v23.x

#7605 protorev: Remove unneeded AllBalances call
  x/concentrated-liquidity/swaps.go
  x/concentrated-liquidity/types/expected_keepers.go
Labels: V:state/breaking, C:x/concentrated-liquidity, A:no-changelog

#7604 DRY some telemetry logic in txfees
  x/txfees/keeper/hooks.go
Labels: V:state/compatible/no_backport, A:no-changelog

#7606 Minor swap speedup
  x/concentrated-liquidity/swaps.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:no-changelog, A:backport/v22.x, A:backport/v23.x

#7616 Remove requirement over first authenticator
  app/upgrades/v24/upgrades.go
  app/upgrades/v24/upgrades_test.go
  x/authenticator/keeper/msg_server.go
Labels: C:app-wiring

#7601 [Smart Accounts] Simplify Authenticator Results
  x/authenticator/ante/ante.go
  x/authenticator/authenticator/all_of.go
  x/authenticator/authenticator/any_of.go
  x/authenticator/authenticator/composition_test.go
  x/authenticator/authenticator/cosmwasm.go
  x/authenticator/authenticator/cosmwasm_test.go
  x/authenticator/authenticator/message_filter.go
  x/authenticator/authenticator/message_filter_test.go
  x/authenticator/authenticator/signature_authenticator.go
  x/authenticator/authenticator/signature_authenticator_test.go
  x/authenticator/authenticator/spend_limits.go
  x/authenticator/authenticator/spend_limits_test.go
  x/authenticator/iface/iface.go
  x/authenticator/iface/result.go
  x/authenticator/integration_test.go
  x/authenticator/post/post.go
  x/authenticator/testutils/contracts/echo/src/lib.rs
  x/authenticator/testutils/generic_authenticator.go
  x/authenticator/testutils/max_value_authenticator.go
  x/authenticator/testutils/stateful_authenticator.go
  x/authenticator/types/account_authenticators_test.go
Labels: C:docs, C:CLI, C:app-wiring, C:simulator

#7559 ListPoolsByDenom: If Get PoolDenoms fails, skip the pool
  CHANGELOG.md
  x/poolmanager/router.go
Labels: V:state/breaking, C:x/poolmanager

#7619 Remove CL all balances call
  CHANGELOG.md
  x/concentrated-liquidity/pool.go
  x/concentrated-liquidity/types/expected_keepers.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#7618 [Experiment] Remove transient store
  app/keepers/keepers.go
  proto/osmosis/authenticator/models.proto
  x/authenticator/ante/ante.go
  x/authenticator/authenticator/transient_store.go
  x/authenticator/authenticator/used_authenticators.go
  x/authenticator/integration_test.go
  x/authenticator/keeper/keeper.go
  x/authenticator/keeper/keeper_test.go
  x/authenticator/post/post.go
  x/authenticator/testutils/stateful_authenticator.go
  x/authenticator/types/models.pb.go
Labels: C:app-wiring

#7564 perf(protorev): send rewards to dev acc once per epoch
  CHANGELOG.md
  x/protorev/keeper/developer_fees.go
  x/protorev/keeper/developer_fees_test.go
  x/protorev/keeper/hooks.go
  x/protorev/keeper/hooks_test.go
  x/protorev/keeper/rebalance.go
  x/protorev/keeper/rebalance_test.go
  x/protorev/types/expected_keepers.go
Labels: V:state/breaking

#7622 feat: tick init/deinit for CL
  CHANGELOG.md
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/types/events.go
Labels: V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v23.x

#7625 refactor: remove duplicate spread factor accumulator update logic
  CHANGELOG.md
  x/concentrated-liquidity/export_test.go
  x/concentrated-liquidity/incentives_test.go
  x/concentrated-liquidity/keeper_test.go
  x/concentrated-liquidity/lp.go
  x/concentrated-liquidity/spread_rewards_test.go
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/tick_test.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#7623 feat(x/tokenfactory): Add query for querying all before send hooks
  CHANGELOG.md
  proto/osmosis/tokenfactory/v1beta1/query.proto
  x/tokenfactory/client/cli/query.go
  x/tokenfactory/keeper/before_send.go
  x/tokenfactory/keeper/before_send_test.go
  x/tokenfactory/keeper/grpc_query.go
  x/tokenfactory/types/query.pb.go
  x/tokenfactory/types/query.pb.gw.go
Labels: C:CLI, C:x/tokenfactory, V:state/breaking

#7634 remove wasm store key from cosmwasm authenticator
  app/keepers/keepers.go
  x/authenticator/authenticator/cosmwasm.go
  x/authenticator/authenticator/cosmwasm_test.go
Labels: C:app-wiring

#7635 Add support for compound signatures
  app/keepers/keepers.go
  tests/osmosisibctesting/chain.go
  x/authenticator/authenticator/all_of.go
  x/authenticator/authenticator/any_of.go
  x/authenticator/authenticator/composite.go
  x/authenticator/integration_test.go
Labels: C:app-wiring

#7639 Revert "feat: tick init/deinit for CL (#7627)"
  CHANGELOG.md
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/types/events.go
Labels: C:x/concentrated-liquidity

#7640 Revert "feat: tick init/deinit for CL (#7622) (#7628)"
  CHANGELOG.md
  x/concentrated-liquidity/tick.go
  x/concentrated-liquidity/types/events.go
Labels: C:x/concentrated-liquidity
