Repository osmosis-labs/osmosis, pull requests merged in 2024-08, with the labels that each got.

#8572 chore: remove UNFORKINGTODO from smart account module
  x/smart-account/authenticator/authentication_request.go
Labels: V:state/breaking, A:no-changelog

#8575 fix: v25 app hash when syncing
  x/txfees/keeper/feedecorator.go
Labels: C:x/txfees, A:no-changelog

#8564 chore/revert btc staking
  CHANGELOG.md
  app/keepers/keepers.go
  proto/osmosis/superfluid/query.proto
  proto/osmosis/superfluid/superfluid.proto
  proto/osmosis/superfluid/tx.proto
  x/poolmanager/types/routes.go
  x/superfluid/README.md
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/concentrated_liquidity_test.go
  x/superfluid/keeper/epoch.go
  x/superfluid/keeper/epoch_test.go
  x/superfluid/keeper/gov/gov.go
  x/superfluid/keeper/gov/gov_test.go
  x/superfluid/keeper/grpc_query.go
  x/superfluid/keeper/grpc_query_test.go
  x/superfluid/keeper/integration_test.go
  x/superfluid/keeper/keeper.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/keeper/superfluid_asset.go
  x/superfluid/keeper/superfluid_asset_store.go
  x/superfluid/keeper/superfluid_asset_test.go
  x/superfluid/keeper/twap_price.go
  x/superfluid/keeper/twap_price_test.go
  x/superfluid/types/errors.go
  x/superfluid/types/expected_keepers.go
  x/superfluid/types/keys.go
  x/superfluid/types/msgs.go
  x/superfluid/types/query.pb.go
  x/superfluid/types/superfluid.pb.go
  x/superfluid/types/tx.pb.go
  x/twap/api.go
  x/twap/api_test.go
  x/twap/types/errors.go
Labels: C:docs, C:CLI, C:x/superfluid, C:app-wiring, C:x/twap, V:state/breaking, C:x/poolmanager, A:no-changelog

#8580 fix: update == to .Equal
  x/superfluid/keeper/gov/gov.go
Labels: C:x/superfluid, V:state/compatible/no_backport, A:no-changelog

#8573 fix: increase unauthenticated gas to fix fee token issue
  CHANGELOG.md
  app/upgrades/v26/constants.go
  app/upgrades/v26/upgrades.go
  app/upgrades/v26/upgrades_test.go
Labels: C:app-wiring, V:state/breaking

#8581 feat: add ledger signing to smart account module
  CHANGELOG.md
  proto/osmosis/smartaccount/v1beta1/tx.proto
  x/smart-account/client/cli/tx.go
  x/smart-account/keeper/msg_server.go
  x/smart-account/keeper/msg_server_test.go
  x/smart-account/types/msgs.go
  x/smart-account/types/tx.pb.go
Labels: C:CLI, V:state/breaking

#8594 Remove ibc unforking todos
  app/keepers/keepers.go
  x/ibc-rate-limit/ics4_wrapper.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#8595 Remove unforking todos that are ok to remove
  app/keepers/modules.go
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#8579 chore: add ibc packet mempool filter to v26
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
Labels: C:x/txfees, V:state/breaking, A:no-changelog

#8597 chore: remove more UNFORKINGTODOs
  app/apptesting/test_suite.go
  cmd/osmosisd/cmd/testnet.go
  simulation/simtypes/action.go
  tests/e2e/initialization/node.go
  x/superfluid/keeper/hooks_test.go
  x/superfluid/keeper/intermediary_account.go
  x/superfluid/keeper/slash_test.go
  x/txfees/module.go
Labels: C:x/superfluid, C:x/txfees, C:app-wiring, C:simulator, V:state/compatible/no_backport, A:no-changelog

#8592 chore: remove UNFORKINGTODOs
  ante/sendblock.go
  app/app.go
  app/encoding.go
  app/modules.go
  cmd/osmosisd/cmd/root.go
  go.mod
Labels: C:app-wiring, V:state/compatible/no_backport, A:no-changelog

#8570 IBC Rate Limits: RBAC Permissions 2
  x/ibc-rate-limit/Cargo.lock
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
  x/ibc-rate-limit/contracts/rate-limiter/Cargo.toml
  x/ibc-rate-limit/contracts/rate-limiter/src/contract.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/contract_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/error.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/execute.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/helpers.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/integration_tests.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/lib.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/message_queue.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/msg.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/packet.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/query.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/rbac.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state/flow.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state/mod.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state/path.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state/quota.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state/rate_limit.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state/rbac.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state/storage.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
Labels: V:state/compatible/no_backport, A:no-changelog

#8609 feat: exempt `UnrestrictedPoolCreatorWhitelist` addresses from pool creation fee
  CHANGELOG.md
  x/concentrated-liquidity/keeper.go
  x/poolmanager/create_pool.go
  x/poolmanager/export_test.go
  x/poolmanager/keeper.go
  x/poolmanager/keeper_test.go
  x/poolmanager/types/expected_keepers.go
Labels: V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#8596 CHAIN-61. Custom denom ibc channel limits
  tests/osmosisibctesting/chain.go
  tests/osmosisibctesting/wasm.go
  x/ibc-rate-limit/bytecode/rate_limiter.wasm
  x/ibc-rate-limit/contracts/rate-limiter/src/blocking.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/contract.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/error.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/execute.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/lib.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/management.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/msg.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/packet.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/query.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/rbac.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state/flow.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state/rate_limit.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state/rbac.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/state/storage.rs
  x/ibc-rate-limit/contracts/rate-limiter/src/sudo.rs
  x/ibc-rate-limit/ibc_middleware_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#8598 feat: param changes for block and cost per byte
  CHANGELOG.md
  app/upgrades/v26/constants.go
  app/upgrades/v26/upgrades.go
  app/upgrades/v26/upgrades_test.go
Labels: C:app-wiring, V:state/breaking

#8629 fix: apphash during v25 sync. forward porting it to v26
  x/txfees/keeper/feedecorator.go
Labels: C:x/txfees, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8548 feat: [indexer][v25.x] added test cases, token liquidity to token_swapped event, clean-up and fly-by fixes
  ingest/indexer/domain/keepers.go
  ingest/indexer/domain/mocks/publisher_mock.go
  ingest/indexer/domain/mocks/token_supply_publisher_mock.go
  ingest/indexer/domain/pair.go
  ingest/indexer/domain/pair_test.go
  ingest/indexer/domain/pool.go
  ingest/indexer/domain/publisher.go
  ingest/indexer/domain/token_supply.go
  ingest/indexer/publisher.go
  ingest/indexer/service/client/pubsub_client.go
  ingest/indexer/service/export_test.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/indexer/service/indexer_streaming_service_test.go
  ingest/indexer/service/writelistener/bank_write_listener_test.go
Labels: C:x/txfees

#8542 feat: [indexer][main] added unit test cases, token liquidity attributes in case of token_swapped event, clean up & fly-by fixes
  ingest/indexer/domain/keepers.go
  ingest/indexer/domain/mocks/publisher_mock.go
  ingest/indexer/domain/mocks/token_supply_publisher_mock.go
  ingest/indexer/domain/pair.go
  ingest/indexer/domain/pair_test.go
  ingest/indexer/domain/pool.go
  ingest/indexer/domain/publisher.go
  ingest/indexer/domain/token_supply.go
  ingest/indexer/publisher.go
  ingest/indexer/service/client/pubsub_client.go
  ingest/indexer/service/export_test.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/indexer/service/indexer_streaming_service_test.go
  ingest/indexer/service/writelistener/bank_write_listener_test.go
Labels: V:state/compatible/backport, A:no-changelog

#8616 chore: upgrade wasmd to v0.53.0 and wasmvm to v2.1.2
  CHANGELOG.md
  Dockerfile
  Dockerfile.cosmovisor
  Makefile
  app/app.go
  app/keepers/keepers.go
  app/test_helpers.go
  app/upgrades/v4/upgrade_test.go
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  osmoutils/coin_helper.go
  osmoutils/go.mod
  osmoutils/go.sum
  scripts/makefiles/release.mk
  tests/e2e/initialization/init.Dockerfile
  tests/osmosisibctesting/chain.go
  wasmbinding/message_plugin.go
  wasmbinding/query_plugin.go
  wasmbinding/query_plugin_test.go
  wasmbinding/stargate_whitelist.go
  wasmbinding/test/custom_msg_test.go
  wasmbinding/test/custom_query_test.go
  wasmbinding/test/helpers_test.go
  wasmbinding/test/messages_test.go
  wasmbinding/test/queries_test.go
  wasmbinding/test/store_run_test.go
  x/concentrated-liquidity/genesis_test.go
  x/concentrated-liquidity/types/pool_hooks.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/ibc-rate-limit/ibc_middleware_test.go
  x/incentives/keeper/genesis_test.go
  x/lockup/keeper/genesis_test.go
  x/mint/keeper/hooks_test.go
  x/pool-incentives/keeper/genesis_test.go
  x/smart-account/ante/ante_test.go
  x/smart-account/ante/circuit_breaker_test.go
  x/smart-account/ante/pubkey_test.go
  x/smart-account/authenticator/base_test.go
  x/smart-account/authenticator/composition_test.go
  x/smart-account/authenticator/cosmwasm_test.go
  x/smart-account/authenticator/message_filter_test.go
  x/smart-account/authenticator/signature_authenticator_test.go
  x/smart-account/authenticator/spend_limits_test.go
  x/smart-account/integration_test.go
  x/smart-account/post/post_test.go
  x/superfluid/keeper/genesis_test.go
  x/tokenfactory/types/before_send.go
  x/txfees/keeper/hooks_test.go
  x/txfees/module_test.go
Labels: C:x/lockup, C:x/mint, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/txfees, T:build, C:app-wiring, C:x/tokenfactory, V:state/breaking, C:x/concentrated-liquidity

#8615 chore: add tagged cosmos-sdk version: v0.50.6-v26-osmo-1
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/no_backport

#8634 chore: remove iavl replace directive
  go.mod
  go.sum
Labels: V:state/compatible/no_backport, A:no-changelog

#8636 chore: add mergify backport on tag action
  .github/mergify.yml
Labels: V:state/compatible/no_backport, A:no-changelog

#8644 feat: fine-tune pubsub sdk to avoid idling message at the sdk level
  cmd/osmosisd/cmd/root.go
  ingest/indexer/indexer_config.go
  ingest/indexer/service/client/pubsub_client.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x, A:backport/v26.x

#8649 chore: update to tagged submodules
  CHANGELOG.md
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:backport/v26.x

#8654 chore: update cosmos-sdk to v0.50.6-v26-osmo-2
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: V:state/breaking, A:no-changelog, A:backport/v26.x

#8652 feat: [indexer][v25.x] publish created pools
  ingest/common/domain/block_pools.go
  ingest/common/domain/mocks/pools_extracter_mock.go
  ingest/common/domain/pools.go
  ingest/common/poolextractor/pool_exractor_test.go
  ingest/common/poolextractor/pool_extractor.go
  ingest/common/pooltracker/memory_pool_tracker.go
  ingest/indexer/domain/pair.go
  ingest/indexer/domain/publisher.go
  ingest/indexer/service/blockprocessor/block_updates_indexer_block_process_strategy.go
  ingest/indexer/service/blockprocessor/full_indexer_block_process_strategy.go
  ingest/indexer/service/blockprocessor/pair_publisher.go
  ingest/indexer/service/export_test.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/indexer/service/indexer_streaming_service_test.go
  ingest/sqs/domain/mocks/pools_extractor_mock.go
  ingest/sqs/domain/service.go
  ingest/sqs/service/blockprocessor/full_sqs_block_process_strategy.go
Labels: V:state/compatible/backport, A:no-changelog

#8653 feat: changes required to make ingesters working in v26.x
  ingest/indexer/service/indexer_streaming_service.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x
