Repository osmosis-labs/osmosis, pull requests merged in 2024-09, with the labels that each got.

#8661 chore: update sqsdomain to v0.19.0
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8663 fix: protorev throws a nil pointer
  CHANGELOG.md
  x/poolmanager/taker_fee.go
Labels: V:state/breaking, C:x/poolmanager, A:backport/v26.x

#8667 comments for cosmossdk.io/store
  go.mod
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8668 fix: ingester change set not propagated due to missing registration
  app/app.go
  ingest/indexer/service/blockprocessor/block_process_indexer_factory.go
  ingest/indexer/service/blockprocessor/block_process_indexer_factory_test.go
  ingest/indexer/service/blockprocessor/block_updates_indexer_block_process_strategy.go
  ingest/indexer/service/indexer_streaming_service.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8670 fix: create temp folder with looser perms
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8665 fix: smart account signing checktx error
  CHANGELOG.md
  x/smart-account/authenticator/authentication_request.go
Labels: V:state/compatible/backport, A:backport/v26.x

#8676 fix: update enforce sub-authenticator to be greater than 1 error message
  CHANGELOG.md
  x/smart-account/authenticator/composite.go
Labels: V:state/compatible/no_backport, A:backport/v26.x

#8680 feat: readme update in 'tests' about user key and pool creation
  tests/localosmosis/README.md
Labels: C:docs, V:state/compatible/backport, A:no-changelog

#8563 Gauges queries
  proto/osmosis/incentives/query.proto
  x/incentives/client/cli/cli_test.go
  x/incentives/client/cli/query.go
  x/incentives/keeper/gauge_test.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/types/gauge.go
  x/incentives/types/query.pb.go
  x/incentives/types/query.pb.gw.go
Labels: C:CLI, C:x/incentives

#8600 Add missing protobuf definitions
  CHANGELOG.md
  proto/osmosis/gamm/v1beta1/tx.proto
  proto/osmosis/lockup/tx.proto
  proto/osmosis/protorev/v1beta1/tx.proto
Labels: V:state/breaking

#8686 misc: Add missing CHANGELOG
  CHANGELOG.md
Labels: V:state/compatible/backport

#8682 chore: bump rust optimizer
  CHANGELOG.md
  cosmwasm/contracts/crosschain-registry/Cargo.toml
  cosmwasm/contracts/crosschain-swaps/Cargo.toml
  cosmwasm/contracts/outpost/Cargo.toml
  cosmwasm/contracts/swaprouter/Cargo.toml
  tests/ibc-hooks/testutils/contracts/counter/Cargo.toml
  tests/ibc-hooks/testutils/contracts/echo/Cargo.toml
  x/concentrated-liquidity/testcontracts/contract-sources/counter/Cargo.toml
  x/concentrated-liquidity/testcontracts/contract-sources/hooks/Cargo.toml
  x/ibc-rate-limit/contracts/rate-limiter/Cargo.toml
  x/smart-account/testutils/contracts/echo/Cargo.toml
  x/tokenfactory/keeper/testcontracts/contracts/infinite-track-beforesend/Cargo.toml
Labels: C:x/tokenfactory, V:state/breaking, C:x/concentrated-liquidity

#8690 feat: uni-directional trading pair taker fee support (sqs ingester)
  ingest/sqs/pools/transformer/taker_fee.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8657 feat: [indexer][v26.x] publish created pools
  ingest/common/domain/block_pools.go
  ingest/common/domain/mocks/pools_extracter_mock.go
  ingest/common/domain/pools.go
  ingest/common/poolextractor/pool_exractor_test.go
  ingest/common/poolextractor/pool_extractor.go
  ingest/common/pooltracker/memory_pool_tracker.go
  ingest/indexer/domain/pair.go
  ingest/indexer/domain/publisher.go
  ingest/indexer/service/blockprocessor/block_updates_indexer_block_process_strategy.go
  ingest/indexer/service/blockprocessor/full_indexer_block_process_strategy.go
  ingest/indexer/service/blockprocessor/pair_publisher.go
  ingest/indexer/service/export_test.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/indexer/service/indexer_streaming_service_test.go
  ingest/sqs/domain/mocks/pools_extractor_mock.go
  ingest/sqs/domain/service.go
  ingest/sqs/service/blockprocessor/full_sqs_block_process_strategy.go
Labels: T:CI, C:app-wiring, V:state/compatible/backport, C:x/poolmanager, A:no-changelog, A:backport/v26.x

#8693 chore: release notes for v26
  networks/osmosis-1/upgrades/v26/mainnet/guide.md
  networks/osmosis-1/upgrades/v26/mainnet/v26_binaries.json
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8696 Update .goreleaser
  .goreleaser.yaml
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v26.x

#8698 chore: updating binary json file
  CHANGELOG.md
  networks/osmosis-1/upgrades/v26/mainnet/v26_binaries.json
Labels: V:state/compatible/backport, A:no-changelog

#8710 Revert "Add missing protobuf definitions (#8600)"
  CHANGELOG.md
  proto/osmosis/gamm/v1beta1/tx.proto
  proto/osmosis/lockup/tx.proto
  proto/osmosis/protorev/v1beta1/tx.proto
Labels: V:state/compatible/no_backport

#8714 Bump sqsdomain on main
  go.mod
  go.sum
  ingest/sqs/pools/transformer/pool_transformer_test.go
  ingest/sqs/pools/transformer/taker_fee_test.go
Labels: V:state/compatible/no_backport, A:no-changelog

#8718 fix: tally grpc query
  x/superfluid/keeper/stake.go
Labels: C:x/superfluid

#8720 chore(deps): bump github.com/cometbft/cometbft from 0.38.8 to 0.38.11 in /osmomath
  osmomath/go.mod
  osmomath/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
Labels: C:x/epochs, V:state/compatible/no_backport, A:no-changelog

#8726 fix: multiple temp directories on command executions
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v26.x

#8732 fix: iterate delegations continue instead of erroring
  CHANGELOG.md
  x/superfluid/keeper/stake.go
Labels: C:x/superfluid, V:state/breaking

#8731 fix: in place testnet logs
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmoutils/go.mod
  x/epochs/go.mod
  x/ibc-hooks/go.mod
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v26.x

#8734 chore: update cosmwasm vm
  CHANGELOG.md
  go.mod
  go.sum
Labels: V:state/breaking
