Repository osmosis-labs/osmosis, pull requests merged in 2024-07, with the labels that each got.

#8449 fix: use AppGenesis instead of GenesisDoc after sdk 50
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/no_backport, A:no-changelog

#8471 refactor(indexer): create ingest/common package
  app/app.go
  ingest/common/domain/block_pools.go
  ingest/common/domain/keepers.go
  ingest/common/writelistener/cfmm_write_listener.go
  ingest/common/writelistener/cfmm_write_listener_test.go
  ingest/common/writelistener/concentrated_write_listener.go
  ingest/common/writelistener/concentrated_write_listener_test.go
  ingest/common/writelistener/cosmwasmpool_write_listener.go
  ingest/common/writelistener/cosmwasmpool_write_listener_test.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/indexer/service/writelistener/bank_write_listener.go
  ingest/sqs/domain/ingester.go
  ingest/sqs/domain/mocks/sqs_ingester_mock.go
  ingest/sqs/ingester.go
  ingest/sqs/pools/transformer/alloy_transmuter.go
  ingest/sqs/pools/transformer/export_test.go
  ingest/sqs/pools/transformer/orderbook.go
  ingest/sqs/pools/transformer/pool_transformer.go
  ingest/sqs/pools/transformer/pool_transformer_test.go
  ingest/sqs/pools/transformer/taker_fee.go
  ingest/sqs/service/sqs_streaming_service.go
  ingest/sqs/service/sqs_streaming_service_test.go
  ingest/sqs/sqs_config.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8473 feat: added txn ingester for indexer
  ingest/indexer/domain/transaction.go
  ingest/indexer/service/indexer_streaming_service.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8375 fix: enforce sub authenticators to be greater than 1
  CHANGELOG.md
  x/smart-account/authenticator/all_of.go
  x/smart-account/authenticator/any_of.go
  x/smart-account/authenticator/composite.go
  x/smart-account/authenticator/composition_test.go
Labels: V:state/breaking

#8475 refactor/test(ingest): more common ingester abstractions for pushing pool data
  app/app.go
  ingest/common/domain/block_process_strategy_manager.go
  ingest/common/domain/block_process_strategy_manager_test.go
  ingest/common/domain/keepers.go
  ingest/common/domain/mocks/pools_extracter_mock.go
  ingest/common/domain/pools.go
  ingest/common/domain/process_strategy.go
  ingest/common/poolextractor/pool_exractor_test.go
  ingest/common/poolextractor/pool_extractor.go
  ingest/common/pooltracker/memory_pool_tracker.go
  ingest/common/pooltracker/memory_pool_tracker_test.go
  ingest/common/writelistener/cfmm_write_listener_test.go
  ingest/common/writelistener/concentrated_write_listener_test.go
  ingest/common/writelistener/cosmwasmpool_write_listener_test.go
  ingest/sqs/ingester.go
  ingest/sqs/pools/transformer/pool_transformer.go
  ingest/sqs/pools/transformer/pool_transformer_test.go
  ingest/sqs/service/sqs_streaming_service_test.go
  ingest/sqs/sqs_config.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8477 feat: (indexer) added ingested_at field for every message published
  ingest/indexer/domain/block.go
  ingest/indexer/domain/pool.go
  ingest/indexer/domain/token_supply.go
  ingest/indexer/domain/transaction.go
  ingest/indexer/service/client/pubsub_client.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8478 refactor/test: switch SQS ingest to shared abstractions with the indexer
  app/app.go
  ingest/sqs/domain/errors.go
  ingest/sqs/domain/ingester.go
  ingest/sqs/domain/mocks/block_updates_process_utils_mock.go
  ingest/sqs/domain/mocks/grpc_client_mock.go
  ingest/sqs/domain/mocks/pool_transformer_mock.go
  ingest/sqs/domain/mocks/pools_extractor_mock.go
  ingest/sqs/domain/mocks/sqs_ingester_mock.go
  ingest/sqs/ingester.go
  ingest/sqs/service/blockprocessor/block_process_sqs_factory.go
  ingest/sqs/service/blockprocessor/block_process_sqs_factory_test.go
  ingest/sqs/service/blockprocessor/block_updates_sqs_block_process_strategy.go
  ingest/sqs/service/blockprocessor/block_updates_sqs_block_process_strategy_test.go
  ingest/sqs/service/blockprocessor/export_test.go
  ingest/sqs/service/blockprocessor/full_sqs_block_process_strategy.go
  ingest/sqs/service/blockprocessor/full_sqs_block_process_strategy_test.go
  ingest/sqs/service/blockprocessor/transform_and_load.go
  ingest/sqs/service/export_test.go
  ingest/sqs/service/sqs_streaming_service.go
  ingest/sqs/service/sqs_streaming_service_test.go
  ingest/sqs/sqs_config.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8479 refactor(indexer): switch to shared logic for processing change set with SQS
  app/app.go
  ingest/common/domain/block_update_process_utils.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/sqs/domain/ingester.go
  ingest/sqs/domain/mocks/block_updates_process_utils_mock.go
  ingest/sqs/service/blockprocessor/block_process_sqs_factory.go
  ingest/sqs/service/blockprocessor/block_updates_sqs_block_process_strategy.go
  ingest/sqs/service/blockprocessor/export_test.go
  ingest/sqs/service/sqs_streaming_service.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8458 SQS Ingester: Add Orderbook amount in to exhaust liquidity
  go.mod
  go.sum
  ingest/sqs/CHANGELOG.md
  ingest/sqs/pools/transformer/orderbook.go
  ingest/sqs/pools/transformer/orderbook_test.go
Labels: C:app-wiring, V:state/compatible/backport

#8483 Added GH action to trigger pprof automation
  .github/workflows/pprof-auto.yml
Labels: T:CI, devops, V:state/compatible/no_backport, A:no-changelog

#8487 feat/refactor(indexer): finalize indexer ingest refactor and publish pairs
  app/app.go
  cmd/osmosisd/cmd/root.go
  ingest/indexer/domain/cold_start_manager.go
  ingest/indexer/domain/errors.go
  ingest/indexer/domain/keepers.go
  ingest/indexer/domain/mocks/publisher_mock.go
  ingest/indexer/domain/pair.go
  ingest/indexer/domain/pool.go
  ingest/indexer/domain/publisher.go
  ingest/indexer/indexer_config.go
  ingest/indexer/publisher.go
  ingest/indexer/service/blockprocessor/block_process_indexer_factory.go
  ingest/indexer/service/blockprocessor/block_process_indexer_factory_test.go
  ingest/indexer/service/blockprocessor/block_updates_indexer_block_process_strategy.go
  ingest/indexer/service/blockprocessor/full_indexer_block_process_strategy.go
  ingest/indexer/service/blockprocessor/pair_publisher.go
  ingest/indexer/service/client/pubsub_client.go
  ingest/indexer/service/indexer_streaming_service.go
  ingest/indexer/service/writelistener/bank_write_listener.go
  ingest/indexer/service/writelistener/bank_write_listener_test.go
  ingest/sqs/service/blockprocessor/block_updates_sqs_block_process_strategy_test.go
  ingest/sqs/service/blockprocessor/full_sqs_block_process_strategy_test.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8492 fix: makes the template to use an existing config field
  cmd/osmosisd/cmd/root_test.go
  ingest/indexer/indexer_config.go
Labels: V:state/compatible/no_backport, A:no-changelog

#8495 Revised txn ingester for iterating txns in main branch
  app/app.go
  ingest/indexer/domain/transaction.go
  ingest/indexer/service/indexer_streaming_service.go
Labels: C:app-wiring, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8500 Remove program execution blocking by not waiting for pubsub message publishing
  ingest/indexer/service/client/pubsub_client.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8501 fix(indexer): concurrency bug in pair publish
  ingest/indexer/service/blockprocessor/pair_publisher.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8494 Add additional events in x/lockup, x/superfluid, x/concentratedliquidity
  CHANGELOG.md
  x/concentrated-liquidity/lp.go
  x/lockup/keeper/msg_server.go
  x/lockup/types/events.go
  x/superfluid/keeper/concentrated_liquidity.go
  x/superfluid/keeper/internal/events/emit.go
  x/superfluid/keeper/internal/events/emit_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/types/events.go
Labels: C:x/lockup, C:x/superfluid, V:state/compatible/no_backport, C:x/concentrated-liquidity

#8507 fix: [indexer] remove sorting in pair publisher and maintain the original denom order
  ingest/indexer/service/blockprocessor/pair_publisher.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8511 Fix race condition on osmosis dev images push
  .github/workflows/push-dev-docker-images.yml
Labels: T:CI, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8380 Remove some unforking TODOs
  x/gamm/keeper/gas_test.go
  x/ibc-hooks/sdkmodule.go
  x/lockup/keeper/gas_test.go
Labels: C:x/lockup, C:x/gamm, V:state/compatible/no_backport, A:no-changelog

#8509 Change `LiquidityNetInDirection` return type to sdk math
  CHANGELOG.md
  x/concentrated-liquidity/types/cl_pool_extensionI.go
Labels: V:state/breaking, C:x/concentrated-liquidity

#8378 chore: don't use reserve field incorrectly
  osmoutils/osmocli/parsers.go
  proto/osmosis/concentratedliquidity/params.proto
  proto/osmosis/concentratedliquidity/v1beta1/gov.proto
  proto/osmosis/gamm/v1beta1/query.proto
  proto/osmosis/gamm/v2/query.proto
  proto/osmosis/poolmanager/v1beta1/query.proto
  proto/osmosis/poolmanager/v1beta1/tx.proto
  proto/osmosis/protorev/v1beta1/genesis.proto
  proto/osmosis/protorev/v1beta1/protorev.proto
  proto/osmosis/twap/v1beta1/twap_record.proto
  proto/osmosis/txfees/v1beta1/genesis.proto
  x/concentrated-liquidity/types/gov.pb.go
  x/concentrated-liquidity/types/params.pb.go
  x/gamm/types/query.pb.go
  x/gamm/v2types/query.pb.go
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/types/tx.pb.go
  x/protorev/types/genesis.pb.go
  x/protorev/types/protorev.pb.go
  x/twap/types/twap_record.pb.go
  x/txfees/types/genesis.pb.go
Labels: C:CLI, C:x/gamm, C:x/epochs, C:x/txfees, C:x/twap, V:state/compatible/no_backport, C:x/concentrated-liquidity, C:x/poolmanager, A:no-changelog

#8513 feat: [indexer] added multi_asset field in the pubsub message for pair
  ingest/indexer/domain/pair.go
  ingest/indexer/domain/token_supply.go
  ingest/indexer/service/blockprocessor/pair_publisher.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8521 fix: indexer etl breakage pushing all pairs every block and overwhelming collections
  app/app.go
  ingest/indexer/service/indexer_streaming_service.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8524 chore(indexer): log start and end of first block ingest
  ingest/indexer/service/indexer_streaming_service.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8531 Fix cosmovisor docker build, fix docker warnings
  Dockerfile
  Dockerfile.cosmovisor
Labels: T:build, V:state/compatible/no_backport, A:no-changelog

#8532 Bump alpine versions to get golang 1.22.4 support
  .github/workflows/push-dev-docker-images.yml
  .github/workflows/push-docker-images.yml
  Dockerfile
  Dockerfile.cosmovisor
Labels: T:CI, T:build, A:no-changelog

#8534 feat: sdk dep bump with datadog gprc interceptor
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8538 e2e docker image: use alpine 1.20 and pick libwasmvm version from go.mod
  tests/e2e/initialization/init.Dockerfile
Labels: A:no-changelog

#8535 fix: prevent setting invalid before send hook
  CHANGELOG.md
  x/tokenfactory/keeper/before_send.go
  x/tokenfactory/keeper/before_send_test.go
Labels: C:x/tokenfactory, V:state/breaking

#8545 Height gate an accidental fork
  .golangci.yml
  x/txfees/keeper/feedecorator.go
  x/txfees/keeper/feedecorator_test.go
Labels: T:CI, C:x/txfees

#8541 fix: [indexer] adjust token in amount for spread factor for CL pools only
  ingest/indexer/domain/keepers.go
  ingest/indexer/service/indexer_streaming_service.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8546 feat: reduce commit timeout to 500ms to enable faster blocks
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/backport, A:backport/v25.x

#8551 chore: bump cometbft to v0.37.4-v25-osmo-12
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
  x/tokenfactory/keeper/before_send.go
  x/tokenfactory/keeper/before_send_test.go
Labels: C:x/epochs, C:x/tokenfactory

#8554 chore: disable sqs by default in app.toml
  CHANGELOG.md
  ingest/sqs/sqs_config.go
Labels: V:state/compatible/backport, A:backport/v25.x

#8504 Cli module query params
  CHANGELOG.md
  cmd/osmosisd/cmd/root.go
  proto/osmosis/gamm/v1beta1/genesis.proto
  proto/osmosis/gamm/v1beta1/params.proto
  proto/osmosis/gamm/v1beta1/query.proto
  proto/osmosis/incentives/query.proto
  x/gamm/client/cli/query.go
  x/gamm/keeper/grpc_query.go
  x/gamm/keeper/grpc_query_test.go
  x/gamm/types/genesis.pb.go
  x/gamm/types/params.pb.go
  x/gamm/types/query.pb.go
  x/gamm/types/query.pb.gw.go
  x/incentives/client/cli/query.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/types/query.pb.go
  x/incentives/types/query.pb.gw.go
  x/twap/client/cli/query.go
Labels: C:CLI, C:x/gamm, C:x/incentives, C:x/twap

#8517 chore(x/protorev): use `errors.New` to replace `fmt.Errorf` with no parameters
  x/protorev/client/cli/utils.go
  x/protorev/keeper/msg_server.go
  x/protorev/keeper/posthandler.go
  x/protorev/keeper/protorev.go
  x/protorev/keeper/routes.go
  x/protorev/keeper/statistics.go
  x/protorev/types/errors.go
  x/protorev/types/token_pair_arb_routes.go
  x/protorev/types/validate.go
  x/superfluid/client/cli/tx.go
  x/superfluid/keeper/concentrated_liquidity_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/types/gov.go
  x/superfluid/types/msgs.go
  x/valset-pref/client/cli/tx.go
  x/valset-pref/client/query_proto_wrap.go
  x/valset-pref/keeper.go
  x/valset-pref/keeper_test.go
  x/valset-pref/msg_server.go
  x/valset-pref/simulation/sim_msgs.go
  x/valset-pref/types/msgs.go
  x/valset-pref/validator_set.go
Labels: C:CLI, C:x/superfluid, C:simulator, V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8310 feat: taker fee share
  CHANGELOG.md
  app/apptesting/cosmwasmpool.go
  app/apptesting/test_suite.go
  app/keepers/keepers.go
  app/upgrades/v24/upgrades_test.go
  ingest/common/domain/keepers.go
  proto/osmosis/cosmwasmpool/v1beta1/model/v3/pool_query_msg.proto
  proto/osmosis/poolmanager/v1beta1/query.proto
  proto/osmosis/poolmanager/v1beta1/query.yml
  proto/osmosis/poolmanager/v1beta1/taker_fee_share.proto
  proto/osmosis/poolmanager/v1beta1/tx.proto
  x/cosmwasmpool/bytecode/transmuterv3.wasm
  x/cosmwasmpool/cosmwasm/msg/v3/pool_query_msg.pb.go
  x/cosmwasmpool/pool_module_test.go
  x/incentives/keeper/hooks_test.go
  x/pool-incentives/keeper/keeper_test.go
  x/poolmanager/README.md
  x/poolmanager/client/cli/query.go
  x/poolmanager/client/grpc/grpc_query.go
  x/poolmanager/client/query_proto_wrap.go
  x/poolmanager/client/queryproto/query.pb.go
  x/poolmanager/client/queryproto/query.pb.gw.go
  x/poolmanager/export_test.go
  x/poolmanager/keeper.go
  x/poolmanager/keeper_test.go
  x/poolmanager/module/module.go
  x/poolmanager/msg_server.go
  x/poolmanager/msg_server_test.go
  x/poolmanager/router.go
  x/poolmanager/router_test.go
  x/poolmanager/store.go
  x/poolmanager/store_test.go
  x/poolmanager/taker_fee.go
  x/poolmanager/taker_fee_test.go
  x/poolmanager/types/errors.go
  x/poolmanager/types/events.go
  x/poolmanager/types/expected_keepers.go
  x/poolmanager/types/keys.go
  x/poolmanager/types/msgs.go
  x/poolmanager/types/msgs_test.go
  x/poolmanager/types/params.go
  x/poolmanager/types/taker_fee_share.pb.go
  x/poolmanager/types/tx.pb.go
  x/protorev/keeper/grpc_query_test.go
  x/protorev/keeper/hooks_test.go
  x/protorev/keeper/protorev_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
  x/superfluid/types/expected_keepers.go
  x/txfees/keeper/export_test.go
  x/txfees/keeper/hooks.go
  x/txfees/keeper/hooks_test.go
  x/txfees/types/expected_keepers.go
Labels: C:docs, C:x/lockup, C:CLI, C:x/gamm, T:CI, C:x/mint, C:x/incentives, C:x/epochs, C:x/pool-incentives, C:x/superfluid, C:x/txfees, T:build, C:app-wiring, C:x/tokenfactory, C:simulator, C:x/twap, V:state/breaking, C:x/concentrated-liquidity, C:x/poolmanager

#8558 fix: update sqsdomain for orderbook
  go.mod
  go.sum
  ingest/sqs/pools/transformer/orderbook_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v25.x

#8543 feat: datadog wiring (main)
  CHANGELOG.md
  app/app.go
  app/config.go
  cmd/osmosisd/cmd/root.go
  go.mod
  go.sum
  ingest/sqs/service/grpc_client.go
Labels: A:automerge, C:app-wiring, V:state/compatible/backport, A:backport/v25.x

#8556 Fix CLI with duplicated query commands
  cmd/osmosisd/cmd/root.go
Labels: V:state/compatible/no_backport, A:no-changelog

#8566 perf: Speedup exit pool
  CHANGELOG.md
  x/gamm/pool-models/internal/cfmm_common/lp.go
Labels: C:x/gamm, V:state/compatible/backport, A:backport/v25.x
