Repository osmosis-labs/osmosis, pull requests merged in 2025-04, with the labels that each got.

#9353 chore: revert async pruning fixes
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
Labels: V:state/compatible/backport, A:backport/v29.x

#9361 V29 docs update
  networks/osmosis-1/upgrades/v29/mainnet/guide.md
  networks/osmosis-1/upgrades/v29/mainnet/v29_binaries.json
Labels: V:state/compatible/no_backport, A:no-changelog, A:backport/v29.x

#9372 fix: query all proposals codec issue
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v29.x

#9375 chore: add fix for pagination of proposals
  CHANGELOG.md
  go.mod
  go.sum
  osmomath/go.mod
  osmomath/go.sum
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v29.x

#9355 chore: bump go version
  .golangci.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.cosmovisor
  app/upgrades/v17/upgrades.go
  go.mod
  go.work
  proto/Dockerfile
  scripts/makefiles/lint.mk
  simulation/executor/legacyconfig.go
  tests/e2e/containers/containers.go
  tests/e2e/initialization/init.Dockerfile
  x/protorev/types/token_pair_arb_routes.go
  x/smart-account/authenticator/cosmwasm.go
Labels: T:CI, T:build, C:app-wiring, C:simulator, V:state/compatible/no_backport
