Repository osmosis-labs/osmosis, pull requests merged in 2025-01, with the labels that each got.

#8925 Update .goreleaser.yaml
  .goreleaser.yaml
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v28.x

#8886 BE-658 | Decouple Node releases from SQS
  CHANGELOG.md
  go.mod
  go.sum
  ingest/indexer/service/indexer_streaming_service_test.go
  ingest/sqs/domain/ingester.go
  ingest/sqs/domain/mocks/grpc_client_mock.go
  ingest/sqs/domain/mocks/pool_transformer_mock.go
  ingest/sqs/pools/transformer/alloy_transmuter.go
  ingest/sqs/pools/transformer/alloy_transmuter_test.go
  ingest/sqs/pools/transformer/export_test.go
  ingest/sqs/pools/transformer/orderbook.go
  ingest/sqs/pools/transformer/orderbook_test.go
  ingest/sqs/pools/transformer/pool_transformer.go
  ingest/sqs/pools/transformer/pool_transformer_test.go
  ingest/sqs/pools/transformer/taker_fee.go
  ingest/sqs/pools/transformer/taker_fee_test.go
  ingest/sqs/service/grpc_client.go
  ingest/sqs/service/sqs_streaming_service_test.go
  ingest/types/cosmwasmpool/alloy_transmuter.go
  ingest/types/cosmwasmpool/errors.go
  ingest/types/cosmwasmpool/model.go
  ingest/types/cosmwasmpool/orderbook.go
  ingest/types/errors.go
  ingest/types/json/sqs_json.go
  ingest/types/passthroughdomain/passthrough_pools_data.go
  ingest/types/passthroughdomain/pool_apr.go
  ingest/types/passthroughdomain/pool_fees.go
  ingest/types/pools.go
  ingest/types/proto/types/ingest.pb.go
  ingest/types/taker_fee.go
  proto/osmosis/ingest/v1beta1/ingest.proto
Labels: V:state/compatible/backport, A:backport/v28.x

#8940 chore: Bump store dependency version to v1.1.1-v0.50.11-v28-osmo-2
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
Labels: V:state/compatible/backport, A:backport/v28.x

#8895 Allow supplying final hop memos in XCS contracts
  CHANGELOG.md
  app/apptesting/test_suite.go
  app/test_helpers.go
  cosmwasm/contracts/crosschain-registry/src/contract.rs
  cosmwasm/contracts/crosschain-registry/src/execute.rs
  cosmwasm/contracts/crosschain-registry/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/src/checks.rs
  cosmwasm/contracts/crosschain-swaps/src/contract.rs
  cosmwasm/contracts/crosschain-swaps/src/execute.rs
  cosmwasm/contracts/crosschain-swaps/src/ibc_lifecycle.rs
  cosmwasm/contracts/crosschain-swaps/src/msg.rs
  cosmwasm/contracts/crosschain-swaps/src/state.rs
  cosmwasm/contracts/crosschain-swaps/src/utils.rs
  cosmwasm/contracts/crosschain-swaps/tests/crosschain_swap_test.rs
  cosmwasm/contracts/crosschain-swaps/tests/test_env.rs
  cosmwasm/contracts/outpost/src/contract.rs
  cosmwasm/contracts/outpost/src/execute.rs
  cosmwasm/contracts/swaprouter/tests/swap_test.rs
  cosmwasm/contracts/swaprouter/tests/test_env.rs
  cosmwasm/packages/registry/src/error.rs
  cosmwasm/packages/registry/src/msg.rs
  cosmwasm/packages/registry/src/registry.rs
  cosmwasm/packages/registry/src/utils.rs
  tests/ibc-hooks/bytecode/crosschain_registry.wasm
  tests/ibc-hooks/bytecode/crosschain_swaps.wasm
  tests/ibc-hooks/bytecode/outpost.wasm
  tests/ibc-hooks/ibc_middleware_test.go
Labels: C:app-wiring, Stale, V:state/compatible/no_backport

#8955 chore: spellchecking
  proto/osmosis/gamm/poolmodels/stableswap/v1beta1/stableswap_pool.proto
  proto/osmosis/tokenfactory/v1beta1/tx.proto
  x/concentrated-liquidity/incentives.go
  x/epochs/keeper/epoch.go
  x/gamm/pool-models/stableswap/stableswap_pool.pb.go
  x/incentives/keeper/hooks_test.go
  x/tokenfactory/types/tx.pb.go
Labels: C:x/gamm, C:x/incentives, C:x/epochs, C:x/tokenfactory, V:state/compatible/no_backport, C:x/concentrated-liquidity, A:no-changelog

#8954 BE-676 | Add SwapOutGivenInCases for CL pool
  .github/workflows/build.yml
  .github/workflows/contracts.yml
  app/apptesting/concentrated_liquidity.go
Labels: T:CI, C:app-wiring, V:state/compatible/no_backport, A:backport/v28.x

#8968 build: use forked block-sdk patch
  go.mod
  go.sum
Labels: A:no-changelog
