Repository osmosis-labs/osmosis, pull requests merged in 2025-08, with the labels that each got.

#9473 chore: bump go version
  CHANGELOG.md
  go.mod
  go.work
Labels: V:state/compatible/backport, A:backport/v30.x

#9467 fix: protorev returns incorrect values in posthandler
  CHANGELOG.md
  x/protorev/keeper/posthandler.go
Labels: V:state/breaking

#9476 fix: update DefaultBaseFee and cap CurBaseFee when loaded
  CHANGELOG.md
  x/txfees/keeper/mempool-1559/code.go
  x/txfees/keeper/mempool-1559/code_test.go
Labels: C:x/txfees, V:state/compatible/backport, A:backport/v30.x

#9465 Fix: Check gas remaining in the parent context's gas meter wasm call with gas limit
  CHANGELOG.md
  osmoutils/cosmwasm/helpers.go
  x/concentrated-liquidity/pool_hooks.go
  x/smart-account/ante/ante.go
  x/tokenfactory/keeper/before_send.go
Labels: C:x/tokenfactory, V:state/compatible/no_backport, C:x/concentrated-liquidity

#9488 Update block-sdk version with DefaultMempool that keep no duplicated tx
  CHANGELOG.md
  app/lanes.go
  go.mod
  go.sum
Labels: C:app-wiring, V:state/compatible/backport, A:backport/v30.x
