Repository osmosis-labs/osmosis, pull requests merged in 2025-03, with the labels that each got.

#9017 chore: update mergify for v29
  .github/mergify.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#9028 Improve stableswap constant declarations and add standalone ApproxRoot function
  osmomath/decimal.go
  osmomath/decimal_test.go
  x/gamm/pool-models/stableswap/amm_test.go
Labels: C:x/gamm, V:state/compatible/no_backport, A:no-changelog

#9040 refactor(protorev): optimize pool access in CalculateUpperBoundForSearch
  x/protorev/keeper/rebalance.go
Labels: V:state/breaking, A:no-changelog, A:backport/v29.x

#9026 Delete the governance proposal code for creating a CL pool
  app/app.go
  app/keepers/modules.go
  proto/osmosis/concentratedliquidity/v1beta1/gov.proto
  tests/e2e/configurer/chain/chain.go
  tests/e2e/e2e_cl_test.go
  tests/e2e/e2e_test.go
  x/concentrated-liquidity/client/cli/flags.go
  x/concentrated-liquidity/client/cli/tx.go
  x/concentrated-liquidity/client/proposal_handler.go
  x/concentrated-liquidity/gov.go
  x/concentrated-liquidity/types/codec.go
  x/concentrated-liquidity/types/gov.go
  x/concentrated-liquidity/types/gov.pb.go
  x/concentrated-liquidity/types/gov_test.go
Labels: C:CLI, C:app-wiring, V:state/breaking, C:x/concentrated-liquidity, A:no-changelog, A:backport/v29.x

#9045 refactor: delete unused Power function in osmomath
  osmomath/decimal.go
  osmomath/decimal_test.go
Labels: V:state/compatible/backport, A:no-changelog, A:backport/v28.x, A:backport/v29.x

#9049 fix dead link in README.md
  x/ibc-rate-limit/README.md
Labels: C:docs

#9050 chore: bump ibc-go to v8.7.0
  CHANGELOG.md
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:backport/v28.x, A:backport/v29.x

#9059 chore: bump submodules
  CHANGELOG.md
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:backport/v29.x

#8896 Binaries upload to internal s3 bucket
  .github/workflows/release.yml
  .goreleaser.yaml
  Makefile
Labels: T:CI, T:build, Stale, V:state/compatible/backport, A:no-changelog, A:backport/v28.x, A:backport/v29.x

#9218 Added public-read on uploaded binaries
  .goreleaser.yaml
Labels: T:CI, T:build, V:state/compatible/backport, A:no-changelog, A:backport/v28.x, A:backport/v29.x

#9217 Make dependabot weekly
  .github/dependabot.yml
Labels: T:CI, V:state/compatible/no_backport, A:no-changelog

#9334 fix: iavl pruning issue move onto next version if stuck
  CHANGELOG.md
  go.mod
  go.sum
  osmoutils/go.mod
  osmoutils/go.sum
Labels: V:state/compatible/backport, A:backport/v28.x, A:backport/v29.x

#9332 fix(poolmanager): only write to cache in finalize execution mode
  CHANGELOG.md
  x/poolmanager/create_pool.go
  x/poolmanager/create_pool_test.go
Labels: V:state/compatible/backport, C:x/poolmanager, A:backport/v28.x, A:backport/v29.x
