Repository osmosis-labs/osmosis, pull requests merged in 2025-02, with the labels that each got.

#8978 fix: forceprune logic
  CHANGELOG.md
  cmd/osmosisd/cmd/forceprune.go
Labels: V:state/compatible/backport, A:backport/v28.x

#8983 fix: bump comebft to v0.38.17
  CHANGELOG.md
  go.mod
  go.sum
  go.work
  osmoutils/go.mod
  osmoutils/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Labels: C:x/epochs, V:state/compatible/backport, A:backport/v28.x

#8990 Fix goreleaser cross missing image
  Makefile
Labels: T:build, V:state/compatible/backport, A:no-changelog, A:backport/v28.x

#8985 build: block-sdk import now uses forked version
  CHANGELOG.md
  go.mod
  go.sum
Labels: V:state/compatible/no_backport

#8996 chore: upgrade pfm to latest version
  CHANGELOG.md
  app/keepers/keepers.go
  app/upgrades/v15/upgrades.go
  go.mod
  go.sum
Labels: C:app-wiring, V:state/breaking

#9006 feat: CosmWasm Pool raw state query
  CHANGELOG.md
  ingest/sqs/pools/transformer/alloy_transmuter_test.go
  proto/osmosis/cosmwasmpool/v1beta1/query.proto
  proto/osmosis/cosmwasmpool/v1beta1/query.yml
  x/cosmwasmpool/client/grpc/grpc_query.go
  x/cosmwasmpool/client/query_proto_wrap.go
  x/cosmwasmpool/client/queryproto/query.pb.go
  x/cosmwasmpool/client/queryproto/query.pb.gw.go
  x/cosmwasmpool/store.go
  x/cosmwasmpool/types/expected_keepers.go
Labels: C:CLI, V:state/compatible/backport, A:backport/v28.x

#9011 Delete Superfluid CL migration code
  CHANGELOG.md
  x/superfluid/client/cli/cli_test.go
  x/superfluid/client/cli/tx.go
  x/superfluid/client/testutil/test_helpers.go
  x/superfluid/keeper/export_test.go
  x/superfluid/keeper/migrate.go
  x/superfluid/keeper/migrate_test.go
  x/superfluid/keeper/msg_server.go
  x/superfluid/keeper/msg_server_test.go
  x/superfluid/keeper/stake.go
  x/superfluid/keeper/stake_test.go
Labels: C:CLI, C:x/superfluid, V:state/breaking

#9007 Bound the number of lockups that can be opened / block
  x/lockup/abci.go
  x/lockup/keeper/grpc_query_test.go
  x/lockup/keeper/iterator.go
  x/lockup/keeper/lock.go
  x/lockup/keeper/lock_test.go
  x/superfluid/keeper/stake_test.go
Labels: C:x/lockup, C:x/superfluid, V:state/breaking
