Repository osmosis-labs/osmosis, pull requests merged in 2025-09, with the labels that each got.

#9527 unfork cometbft
  CHANGELOG.md
  go.mod
  go.sum
Labels: V:state/compatible/backport, A:backport/v30.x

#9530 feat: add taker fee burn mechanic for osmo collection
  CHANGELOG.md
  app/app.go
  app/upgrades/v31/constants.go
  app/upgrades/v31/upgrades.go
  app/upgrades/v31/upgrades_test.go
  proto/osmosis/poolmanager/v1beta1/genesis.proto
  x/poolmanager/keeper.go
  x/poolmanager/keeper_test.go
  x/poolmanager/protorev.go
  x/poolmanager/types/genesis.go
  x/poolmanager/types/genesis.pb.go
  x/poolmanager/types/keys.go
  x/poolmanager/types/params.go
  x/protorev/keeper/protorev.go
  x/protorev/types/expected_keepers.go
  x/txfees/keeper/hooks.go
  x/txfees/keeper/hooks_test.go
  x/txfees/types/constants.go
  x/txfees/types/expected_keepers.go
  x/txfees/types/telemetry.go
Labels: C:x/txfees, C:app-wiring, V:state/breaking, C:x/poolmanager

#9533 fix(ci): artifact conflicts
  .github/workflows/contracts.yml
Labels: T:CI

#9526 feat: inflation endpoint
  CHANGELOG.md
  proto/osmosis/mint/v1beta1/query.proto
  x/mint/README.md
  x/mint/client/cli/query.go
  x/mint/keeper/grpc_query.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/types/expected_keepers.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
Labels: C:docs, C:CLI, C:x/mint, V:state/breaking

#9511 fix: consume gas on contract out of gas error panic
  CHANGELOG.md
  osmoutils/cosmwasm/helpers.go
  x/concentrated-liquidity/pool_hooks.go
  x/tokenfactory/keeper/before_send.go
  x/tokenfactory/keeper/before_send_test.go
Labels: C:x/tokenfactory, V:state/compatible/backport, C:x/concentrated-liquidity, A:backport/v30.x

#9545 fix: revert consume gas
  CHANGELOG.md
  osmoutils/cosmwasm/helpers.go
  x/concentrated-liquidity/pool_hooks.go
  x/tokenfactory/keeper/before_send.go
  x/tokenfactory/keeper/before_send_test.go
Labels: C:x/tokenfactory, V:state/breaking, C:x/concentrated-liquidity

#9546 update changelog for v30.0.5
  CHANGELOG.md
Labels: V:state/compatible/backport, A:backport/v30.x
